{% extends "base.html" %}

{% block title %}Committee subscriptions | PMG{% endblock %}

{% block style %}
  {{ super() }}
  <style>
    #submit-btn{

    }
  </style>
{% endblock %}

{% block page %}

  <h1>Committee subscriptions</h1>
  <p class="lead">
    Access to the committee reports of the committees below is restricted. All other committees are freely accessible.
  </p>

  <p>The following users are exempt from a subscription fee. Please log in using an email address that identifies your affiliation to one of these:</p>

  <ul>
    <li>Non-government and community-based organisations (Umbrella industry associations and associations of commercial organisations are not included)</li>
    <li>Public education institutions</li>
  </ul>

  <p>Email <a href="mailto:info@pmg.org.za">info@pmg.org.za</a> if you cannot get in and you belong to one of the above.</p>

  <p>Business, government and other users need to subscribe to access meeting reports of these 13 National Assembly committees.</p>

  <div id="freepremium" class="alert alert-success" role="alert">Access to meeting reports for premium committees from before {{ free_before_date.year }} is freely accessible to everyone.</div>

  {% if current_user and current_user.organisation %}
    {% if current_user.organisation.has_expired() %}
      <div class="alert alert-danger" role="alert">
        <strong>Note:</strong> Your access has expired. Please see the <em>How To Subscribe</em> section for instructions on renewing your access.
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        <strong>Note:</strong> Your access is set to expire on {{ current_user.organisation.expiry | pretty_date(format_option="long") }}
      </div>
    {% endif %}
  {% endif %}

  <hr>
  
  {% include "_premium_committees.html" %}
  
  <hr>

  <h2>Subscription Options</h2>

  <p>
    <strong>Annual Subscription: R7 300 + R1095 (VAT) = R8 395</strong>
  Choose 4 of the above committees and receive comprehensive minutes and documents for 12 months. Should your organization require access to more than 4 of the above committees, this is possible according to the list below.
  </p>

  <p>
    <strong>Short access: R2 300 + R345 (VAT) = R2 645</strong>      
    Subscribe to one committee for 3 months.
  </p>

  <p>
    <strong>Single meeting report plus documents: R580 + R87 (VAT) = R667</strong>
    Send an email to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a> and receive the meeting report immediately upon proof of payment.
  </p>

  <p>
    <strong>2025 Price List</strong>
  </p>

  <ul>
    <li>Basic subscription (access to 4 committees) R7 300 + R1 095 (VAT) = R8 395</li>
    <li>Basic subscription plus 1 extra committee R7 900 + R1 185 (VAT) = R9 085</li>
    <li>Basic subscription plus 2 extra committees R8 500 + R1 275 (VAT) = R9 775</li>
    <li>Basic subscription plus 3 extra committees R9 100 + R1 365 (VAT) = R10 465</li>
    <li>Basic subscription plus 4 extra committees R9 700 + R1 455 (VAT) = R11 155</li>
    <li>Basic subscription plus 5 extra committees R10 300 + R1 545 (VAT) = R11 845</li>
    <li>Basic subscription plus 6 extra committees R10 900 + R1 635 (VAT) = R12 535</li>
    <li>Basic subscription plus 7 extra committees R11 500 + R1 725 (VAT) = R13 225</li>
    <li>Basic subscription plus 8 extra committees R12 100 + R1 815 (VAT) = R13 915</li>
    <li>Basic subscription plus 9 extra committees R13 200 + R1 980 (VAT) = R15 180</li>
  </ul>

    
 

  <h2>How To Subscribe</h2>
  <p>
    Send an email to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a> providing the
    following info:

  <ul>
    <li>Contact person</li>
    <li>Job Title</li>
    <li>Organization</li>
    <li>Organization's VAT number</li>
    <li>Work phone</li>
    <li>Postal Address</li>
    <li>Email Address</li>
    <li>Committees you wish to subscribe to</li>
  </ul>
  We will then email you a Statement / Tax invoice.
  </p>
  <h2>Payment details</h2>
  <p>
  <ul class="list-unstyled">
    <li>Payment via electronic transfer or direct deposit:</li>
    <li>
      <ul>
        <li>Bank account name: PARLIAMENTARY MONITORING</li>
        <li>First National Bank (Adderley Street)</li>
        <li>Cheque Account number: 62234188557</li>
        <li>Branch code: 201409</li>
        <li>Email EFT receipt to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a></li>
      </ul>
    </li>
  </ul>
  If you have any queries, please send an email to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a> or phone <a href="tel:0214658885">(021) 465 8885</a> and speak to Pumza Mokorotlo.
  </p>

{% endblock page %}
