{% extends "base.html" %}

{% block title %}Free email alerts | PMG{% endblock %}

{% block page %}
  <h1>Free Email Alerts</h1>

  <p class="lead">Free email alerts are available for any Parliamentary Committee that PMG monitors.</p>

  {% if not current_user.is_authenticated() %}
    <p>To receive free email alerts, <a href="{{ url_for('register') }}">sign up with PMG for free</a> or <a href="{{ url_for('login') }}">log in</a>.</p>
  {% else %}

    <p>Please choose which email alerts you wish to receive from us.</p>

    {% if after_signup %}
      <a href="{{ next_url }}" class="btn btn-default">I'll do this later</a>
    {% endif %}

    <form method="post" action="{{ url_for('email_alerts') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="next" value="{{ next_url }}">

      <h2>General updates</h2>
      <ul class="list-unstyled">
        <li class="checkbox">
          <label>
            <input type="checkbox" id="select-daily-schedule" name="subscribe_daily_schedule" {% if current_user.subscribe_daily_schedule %} checked{% endif %} value="1">
            Daily schedule of parliament
          </label>
        </li>
      </ul>
    </form>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#search-alerts" aria-controls="search-alerts" role="tab" data-toggle="tab">Search Alerts</a></li>
        <li role="presentation"><a href="#committee-alerts" aria-controls="commitee-alerts" role="tab" data-toggle="tab">Committee alerts</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="search-alerts"></div>
        <div role="tabpanel" class="tab-pane" id="committee-alerts">{% include 'user_management/committee_alerts.html' %}</div>
      </div>

    </div>

  {% endif %}
{% endblock page %}
