{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <style>
    #submit-btn{

    }
  </style>
{% endblock %}

{% set user = session.current_user %}

{% macro check_subscribed(committee_id) %}
  {% if user.subscriptions and user.subscriptions[committee_id|string] %}
    checked
  {% endif %}
{% endmacro %}

{% macro render_select_all() %}
  <li class="checkbox">
    <label>
      <input type="checkbox" class="select-all">
      <strong>Select all</strong>
    </label>
  </li>
{% endmacro %}

{% macro render_committee_checkbox(committee) %}
  <li class="checkbox">
    <label>
      <input type="checkbox" class="select-committee" id="committee-id-{{ committee.id }}" name="committee-id-{{ committee.id }}" {{ check_subscribed(committee.id) }}>
      {{- committee.name -}}
    </label>
  </li>
{% endmacro %}

{% block page %}
  <h1>Committee subscriptions</h1>
  <p class="lead">Access to certain meeting reports are restricted.</p>
  <hr>

  <form method="post" action="{{ url_for('committee_subscriptions') }}">
    <h2>Premium committees</h2>

    <ul class="list-unstyled">
      {% for committee in committees %}{{ render_committee_checkbox(committee) }}{% endfor %}
    </ul>

    <p>
      {{ user.organisation }}
    </p>

    <div class="row text-center submit-btn-container">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-lg">Save changes to your subscription settings</button>
        <hr>
      </div>
    </div>
  </form>

{% endblock page %}

{% block javascript %}
  {{ super() }}
  <script>
    $( document ).ready(function(){

      // set select-all value on page load
      $(".select-all").each(function(){
        var select_all = $(this);
        var all_checked = true;
        var parent_list = select_all.closest('ul');
        parent_list.find(':checkbox.select-committee').each(function(){
          var tmp_checkbox = $(this);
          if(!tmp_checkbox.is(':checked'))
          {
            all_checked = false;
            return false; // break out of 'each' loop
          }
        });
        if(all_checked)
          select_all.prop("checked", true);
      });

      // toggle list of checkboxes with select-all
      $(".select-all").each(function(){
        var select_all = $(this);
        select_all.on('change', function(){
          var parent_list = select_all.closest('ul');
          if (select_all.is(':checked'))
          {
            // check all other boxes in the list
            parent_list.find(':checkbox.select-committee').prop('checked', true);
          }
          else
          {
            // un-check all other boxes in the list
            parent_list.find(':checkbox.select-committee').prop('checked', false);
          }
        })
      });

      $("input").on('change', function(){
        $(".submit-btn-container").each(function(){$(this).show()});
      });

    });
  </script>
{% endblock javascript %}
