{% extends "base.html" %}

{% set user = session.current_user %}

{% macro check_subscribed(committee_id) %}
  {% if user.subscriptions and user.subscriptions[committee_id|string] %}
    checked
  {% endif %}
{% endmacro %}

{% macro render_select_all() %}
  <li class="checkbox">
    <label>
      <input type="checkbox" class="select-all">
      <strong>Select all</strong>
    </label>
  </li>
{% endmacro %}

{% macro render_committee_checkbox(committee) %}
  <li class="checkbox">
    <label>
      <input type="checkbox" class="select-committee" id="committee-id-{{ committee.id }}" name="committee-id-{{ committee.id }}" {{ check_subscribed(committee.id) }}>
      {{- committee.name -}}
    </label>
  </li>
{% endmacro %}

{% block page %}
  <h1>Email alerts</h1>
  <p class="lead">Here you can choose which email notifications you wish to receive from us.</p>
  <hr>

  <form method="post" action="{{ url_for('email_alerts') }}">
    <h2>General updates</h2>
    <ul class="list-unstyled">
      <li class="checkbox">
        <label>
          <input type="checkbox" id="select-bill" name="select-bill"{% if user.subscribe_bill %} checked{% endif %}>
          New bills introduced to parliament
        </label>
      </li>
      <li class="checkbox">
        <label>
          <input type="checkbox" id="select-call-for-comment" name="select-call-for-comment"{% if user.subscribe_call_for_comment %} checked{% endif %}>
          Calls for comment on bills that are under consideration
        </label>
      </li>
      <li class="checkbox">
        <label>
          <input type="checkbox" id="select-daily-schedule" name="select-daily-schedule"{% if user.subscribe_daily_schedule %} checked{% endif %}>
          Daily schedule of parliament
        </label>
      </li>
    </ul>

    <hr>

    <div class="row text-center submit-btn-container" style="display: none;">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-lg">Save changes to your notification settings</button>
        <hr>
      </div>
    </div>

    <h2>Standing Committees</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>National Assembly</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 3 and not committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>National Council of Provinces</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 2 and not committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Joint Committees</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 1 and not committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr>

    <div class="row text-center submit-btn-container" style="display: none;">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-lg">Save changes to your notification settings</button>
        <hr>
      </div>
    </div>

    <h2>Ad-Hoc committees</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>National Assembly</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 3 and committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>National Council of Provinces</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 2 and committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Joint Committees</h3>
        <ul class="list-unstyled">
          {{ render_select_all() }}
          {% for committee in committees %}
            {% if committee.house.id == 1 and committee.ad_hoc %}
              {{ render_committee_checkbox(committee) }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row text-center submit-btn-container" style="display: none;">
      <div class="col-md-12">
        <hr>
        <button type="submit" class="btn btn-primary btn-lg">Save changes to your notification settings</button>
        <hr>
      </div>
    </div>
  </form>

{% endblock page %}
