{% extends 'base.html' %}
{% from "_macros.html" import render_field %}

{%- block style %}
  {{ super() }}
  <style>
    .title-heading{
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .form-container{
      padding-top: 25px;
    }
  </style>
{%- endblock %}

{% block page %}
  <div class="text-center title-heading">
    <h1>Login now to view premium content</h1>
    <p class="lead">
      Most of our content is freely available.
      <br>
      Log in to get access to committee meeting reports from 
      <a href="{{ url_for('committee_subscriptions') }}">certain committees</a>.
    </p>
  </div>
  <div class="shaded form-container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <form class="form-horizontal" role="form" action="{{ url_for('login') }}" method="POST" name="login_user_form">
          {{ form.hidden_tag() }}
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_field(form.submit) }}
        </form>

        <br>

        <div class="row">
          <div class="col-sm-9 col-sm-offset-3">
            <p class="lead">
              <a href="{{ url_for('forgot_password') }}">I forgot my password</a>
              <br>
              <a href="{{ url_for('register') }}{% if form.next %}?next={{ form.next.data }}{% endif %}">Don't have an account? Sign up.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
