<div class="article-title">Attendance in the 6th Parliament</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">
</div>

<div class="article-content">
    <h3>Committee Attendance for the 6th Parliament
    </h3>

    <p class="first-par">Committees operate as the central cogs of the parliamentary machinery and are the site for
        where most of the legislature’s business is located. While it is often the main chambers that garner attention,
        they ratify work that has been processed, deliberated, negotiated and teased out for months, or sometimes even
        years, in committees. Therefore attendance of committee meetings is a critical component of an effective
        Parliament and for MP accountability.</p>
    <p>Since the beginning of the Sixth Parliament, PMG has recorded attendance (View Addendum) in Committee meetings.
        Our records show an overall attendance rate of 70% in the Sixth Parliament., which is less than the 74% achieved
        in the Fifth Parliament.
        The COVID lockdown and subsequent regulations limiting social interaction, combined with the fire, which limited
        meeting venues, forced Parliament to conduct meetings online via Zoom. Only in the past year have we seen a slow
        uptick in physical or hybrid meetings. We estimate that 90+ % of meetings were conducted online throughout the
        term.</p>
    <p>In light of this, the attendance result is somewhat surprising as we had expected an improvement.</p>
    <p>
        Attendance can be impacted by MP turnover (resignations, deaths etc), clashes in the parliamentary programme as
        MPs sit on multiple committees, political party assignments, parliamentary events (IPU and regional Parliament
        events etc), health issues and other priorities. In addition, smaller parties (8 out of the 14 political parties
        in Parliament have 1 or 2 members) often have to decide what portfolios to prioritise.</p>
    <p>Those Portfolio Committees that stand out for top attendance in the Sixth Parliament are:
    </p>

    <ul>
        <li>Home Affairs: 78%</li>
        <li>Public Workd and Infrastructure: 78%</li>
        <li>Social Development: 78%</li>
        <li>Sport, Arts and Culture: 79%</li>
        <li>Health: 78%</li>
        <li>Trade, Industry and Competition: 88%</li>
    </ul>

    <p>This list is quite unlike what was seen in our <a href="https://pmg.org.za/parliament-review/statistics/activity" target="_blank">Fifth Parliament review</a>. The only committee to remain a top
        performer in terms of attendance for both the Fifth and Sixth Parliaments is the Portfolio Committee on Sport.
        The Portfolio Committee on Trade and Industry had a significant increase while the Portfolio Committee on
        Transport had the opposite result. It could be inferred that the high attendance for the health committee is due
        to the committee considering important COVID updates and related matters over its tenure and that the committee
        considered important legislation for a large portion of its tenure – we refer here to the series of meetings
        processing the NHI Bill. Similarly, high attendance for the Home Affairs Committee could be attributed to the
        Committee’s work on various electoral legislation.</p>
    <p>Attendance at committee meetings is only a portion of the larger picture. Attendance does not always correlate
        with impact and effectiveness, so it is worthwhile remembering this and viewing this information in conjunction
        with our committee activity statistics.</p>
    <h3>Ministerial Attendance for the 6th Parliament</h3>
    <p>Typically, Ministers and their deputies attend committee meetings for crucial events such as the introduction of
        legislation and the tabling of annual performance plans and annual reports. Beyond this, they are requested to
        address major topical issues in the public domain. When viewing the below, it is important to remember that
        Ministers and their deputies are not members of the parliamentary committees and are invited to participate in
        select meetings. Many honour the invitations, but some dodge, delay and request repeated postponements (this
        usually involves a stern letter, a complaint to the LOGB or the threat of summons from the Committee). There are
        also occasions where some make appearances even without any invitation.</p>
    <p>In the Sixth Parliament, Ministers with the highest attendance include:</p>

    <table class="attendance-table">
        <tr>
          <th>Ministry</th>
          <th>Minister</th>
          <th>Number of meetings</th>
        </tr>
        <tr>
          <td>1. Home Affairs</td>
          <td>Min Aaron Motsoaledi</td>
          <td>80</td>
        </tr>
        <tr>
          <td>2. Social Development</td>
          <td>Min Lindiwe Zulu</td>
          <td>72</td>
        </tr>
        <tr>
          <td>3. Environment, Forestry and Fisheries</td>
          <td>Min Barbara Creecy</td>
          <td>71</td>
        </tr>
        <tr>
          <td>4. Employment and Labour</td>
          <td>Min Thulas Nxesi</td>
          <td>60</td>
        </tr>
        <tr>
          <td>5. Police</td>
          <td>Min Bheki Cele</td>
          <td>53</td>
        </tr>
       </table>

    <p>In the Sixth Parliament, Deputy Ministers with the highest attendance include:
    </p>

    <table class="attendance-table">
        <tr>
          <th>Ministry</th>
          <th>Minister</th>
          <th>Number of meetings</th>
        </tr>
        <tr>
          <td>1. Police</td>
          <td>DM Cassel Mathale</td>
          <td>105</td>
        </tr>
        <tr>
          <td>2. Justice and Constitutional Development</td>
          <td>DM John Jeffery</td>
          <td>100</td>
        </tr>
        <tr>
          <td>3. Defence and Military Veterans</td>
          <td>DM Thabang Makwetla</td>
          <td>80</td>
        </tr>
        <tr>
          <td>4. Home Affairs</td>
          <td>DM Njabulo Nzuza</td>
          <td>80</td>
        </tr>
        <tr>
          <td>5. Basic Education</td>
          <td>DM Reginah Mhaule</td>
          <td>72</td>
        </tr>
       </table>

    <p>From the above, we can observe a few interesting trends. One is that the highest-attending ministers and deputy
        ministers are from ministries where the minister or deputy minister has not changed.</p>
    <p>We have also observed that the highest-attending ministers and deputy ministers are those where the committee has
        developed a practice where attendance is expected. We made the point throughout <a href="https://static.pmg.org.za/PMG_Zondo_Report.pdf?_gl=1*16g41n5*_ga*MTA5ODI2MzA5My4xNjg2MDQ5MDcx*_ga_EBG7VD75NV*MTcxMjkwMTg1NC45NzcuMS4xNzEyOTA0MzI1LjAuMC4w" target="_blank">this research piece</a> that
        individual committees have the power and ability to set the tone for how proceedings of the committee will be
        run and what the committee will tolerate or not. So, if the Committee sets out early on that ministerial
        attendance is expected at most of its meetings, this is something that the committee will hold the minister
        accountable for.</p>
    <p>We have not disaggregated the attendance rate between NA Committees versus NCOP Committees, but typically, the
        lack of attendance by the executive is raised sharply by the latter.</p>
    <p>When looking at ministers that have served the same portfolio for the duration of the Sixth Parliament, the
        average attendance is 46 meetings. Minister of Justice and Correctional Services, Mr Ronald Lamola, at 19
        committee meetings and Minister of International Relations and Cooperation, Dr Naledi Pandor, at 18 committee
        meetings, are well below this average.</p>
    <p>We observed a noticeable increase in ministry attendance in committee meetings from 2020 to 2022. We would infer
        this is attributed to COVID and virtual meetings. Virtual meetings are greatly beneficial for encouraging
        ministerial attendance in committee meetings—ministers' diaries are naturally packed, so virtual meetings allow
        them to attend from anywhere and even attend engagements simultaneously. It is also easier for the ministries to
        address the committee at the beginning of the meeting and then easily leave the virtual meeting platform when
        this is done. </p>
    <p>Over the Sixth Parliament, PMG also captured the attendance of individual MPs and parties overall, except for the
        smaller parties. This information can be obtained <a href="https://pmg.org.za/attendance-overview" target="_blank">here</a> and the attendance
        of individual MPs can be explored <a href="https://www.pa.org.za/" target="_blank">here</a></p>



</div>

{% include 'pr6/_disclaimer.html' %}