<div class="article-title">Legislation</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">
</div>

<div class="article-content">
    <p class="first-par">The Sixth Parliament passed 124 Bills. This was better than the Fifth Parliament, where 112 bills were passed.
    </p>
    


    <div class="flourish-embed flourish-chart" data-src="visualisation/17876372">
        <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>

    <p>When the Fifth Parliament ended, there were 39 unfinished bills. According to National Assembly
        rule 333 (2), these Bills lapsed automatically when Parliament was dissolved on 7 May 2019. The Sixth Parliament
        revived 30 of these.</p>

    <p>The Sixth Parliament's Bill adoption or efficiency rate is 77%, an uptick from the Fifth Parliament’s 65%, but
        both fall short of the Fourth Parliament’s 87% rate. This refers to the percentage of introduced Bills that were
        successfully adopted by Parliament—to calculate this percentage, we divide the total number of Bills adopted in
        the Sixth Parliament by the total number of Bills introduced in the same period.</p>
    <p>The Sixth Parliament passed 124 Bills. This was better than the Fifth Parliament, where 112 bills were passed.
    </p>
    <p>It is interesting to observe that most Bills were introduced in 2023, the year before the national election. This
        underscores a point made by PMG in its legislative performance of Parliament <a
            href="https://pmg.org.za/page/BillsStudy" target="_blank">study</a> which observed that
        pre-election years are known to be busy for the introduction of legislation by government.</p>
    <p>Of the 162 Bills tabled in the Sixth Parliament, 86% were introduced by the Executive, and the remainder by
        individual Members of Parliament (13%) and Committees (1%). Notably, there has been a drop in the number of
        committee bills introduced in the Sixth Parliament compared to the 5% (of total bills introduced) in the Fifth
        Parliament.</p>
    <p>As of 29 April, 48 bills were still before Parliament. In terms of Parliament's Rules, business before the
        legislature lapses when the term of that Parliament ends or when Parliament is dissolved. When a bill or another
        matter lapses, the new Assembly can revive it by way of a motion in the House. Such motions sometimes state that
        the matter be revived <em>
            <a href="https://pmg.org.za/blog/LAPSEDBILLS" target="_blank">"from the stage it reached on the last sitting
                day of the House (of the previous
                House)...."</a>
        </em></p>
    <p>Currently, <a href="https://pmg.org.za/bills/current/" target="_blank">28 Bills</a> passed by the Sixth
        Parliament are <a href="https://pmg.org.za/blog/Delays%20in%20the%20Assenting%20of%20Bills"
            target="_blank">awaiting the President’s signature</a>.</p>
    <p>23 Private Member Bills were introduced in the Sixth Parliament, 70% of them by the DA. This is a noticeable
        increase from the 9 Private Members Bill in the Fifth Parliament.
    </p>
    <table class="bills-table">
        <tr><th>YEAR INTRODUCED</th><th>TITLE AND NUMBER</th><th>MEMBER</th><th>STATUS</th></tr>
        <tr><td>2024</td><td>Remote Gambling Bill (B11-2024)</td><td>Mr D Macpherson (DA)</td><td>Under consideration</td></tr>
        <tr><td>2024</td><td>Local Government: Municipal Structures Second Amendment Bill (B10-2024)</td><td>Ms S Gwarube (DA)</td><td>Under consideration</td></tr>
        <tr><td>2024</td><td>Local Government: Municipal Structures Amendment Bill (B9-2024)</td><td>Ms S Gwarube (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Constitution Twentieth Amendment Bill (B20-2023)</td><td>Adv G Breytenbach (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Children's Amendment Bill (B19-2023)</td><td>Ms B Masango (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Constitution Nineteenth Amendment Bill (B17-2023)</td><td>Ms S Gwarube (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Electoral Commission Amendment Bill (B15-2023)</td><td>Dr A Lotriet (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Responsible Spending Bill (B9-2023)</td><td>Dr D George (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Remuneration of Public Office Bearers Amendment Bill (B8-2023)</td><td>Dr L Schreiber (DA)</td><td>Under consideration</td></tr>
        <tr><td>2023</td><td>Prevention of Illegal Eviction from and Unlawful Occupation of Land Amendment Bill (B6-2023)</td><td>Ms E Powell (DA)</td><td>Under consideration</td></tr>
        <tr><td>2022</td><td>Divorce Amendment Bill (B32-2022)</td><td>Mr G Hendricks (Al- Jama-ah)</td><td>Lapsed</td></tr>
        <tr><td>2022</td><td>Registration of Muslim Marriages Bill (B30-2022)</td><td>Mr G Hendricks (Al- Jama-ah)</td><td>Withdrawn</td></tr>
        <tr><td>2022</td><td>Relocation of the Seat of Parliament Bill (B29-2022)</td><td>Mr J Malema (EFF)</td><td>Withdrawn</td></tr>
        <tr><td>2022</td><td>Maintenance Amendment Bill (B17-2022)</td><td>Mr G Hendricks (Al- Jama-ah)</td><td>Under consideration</td></tr>
        <tr><td>2021</td><td>Public Administration Laws General Amendment Bill (B16-2021)</td><td>Dr L Schreiber (DA)</td><td>Rejected</td></tr>
        <tr><td>2021</td><td>Ease of Doing Business Bill (B6-2021)</td><td>Mr H Kruger (DA)</td><td>Lapsed</td></tr>
        <tr><td>2021</td><td>Disaster Management Amendment Bill (B2-2021)</td><td>Dr P Groenewald (FF+)</td><td>Rejected</td></tr>
        <tr><td>2021</td><td>Animals Protection Amendment Bill (B1-2021)</td><td>Mr S Swarts (ACDP)</td><td>Rejected</td></tr>
        <tr><td>2020</td><td>Electoral Laws Second Amendment Bill (B34-2020)</td><td>Mr M Lekota (COPE)</td><td>Lapsed</td></tr>
        <tr><td>2020</td><td>Pension Funds Amendment Bill (B30-2020)</td><td>Dr D George (DA)</td><td>Lapsed</td></tr>
        <tr><td>2020</td><td>Public Finance Management Amendment Bill (B13-2020)</td><td>Mr G Cachalia (DA)</td><td>Rejected</td></tr>
        <tr><td>2020</td><td>Fiscal Responsibility Bill (B5-2020)</td><td>Mr G Hill-Lewis (DA)</td><td>Lapsed</td></tr>
        <tr><td>2019</td><td>Independent Electricity Management Operator Bill (B14-2019)</td><td>Ms N Mazzone (DA)</td><td>Rejected</td></tr>
        </table>
    <p>
        In the Sixth Parliament, the Minister of Finance introduced the most number of Bills: 60 from post-election 2019
        to date.
        This is followed by the Minister of Justice and Correctional Services who introduced 24 Bills in the Sixth
        Parliament.
        The pie chart below outlines the spread of Bill types introduced in the Sixth Parliament:
    </p>
    <div class="flourish-embed flourish-chart" data-src="visualisation/17876432">
        <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>

    <ul>
        <li><strong>Section 75</strong>: Bills not affecting provinces - 63</li>
        <li><strong>Section 76</strong>: Bills affecting provinces - 56</li>
        <li><strong>Section 77</strong>: Money Bills - 38</li>
        <li><strong>Section 74</strong>: constitutional amendments - 4</li>
    </ul>
    <p>Not all bills are created equal: some are only a few pages long, while others run to hundreds of pages with lots
        of clauses and technicalities (causing many hours of debate and deliberations). Some of the complex and
        technical legislation processed in the Sixth Parliament include:</p>

    <ul>
        <li><a href="https://pmg.org.za/bill/878/" target="_blank">National Minimum Wage</a></li>
        <li><a href="https://pmg.org.za/bill/886/" target="_blank">National Health Insurance</a></li>
        <li><a href="https://pmg.org.za/bill/965/" target="_blank">Cannabis for Private Purposes</a></li>
        <li><a href="https://pmg.org.za/bill/966/" target="_blank">Domestic Violence</a></li>
        <li><a href="https://pmg.org.za/bill/1054/" target="_blank">Electoral Reform</a></li>
        <li><a href="https://pmg.org.za/bill/973/" target="_blank">Expropriation</a></li>
        <li><a href="https://pmg.org.za/bill/1065/" target="_blank">Climate Change</a></li>
        <li><a href="https://pmg.org.za/bill/1156/" target="_blank">Public Procurement</a></li>
        <li><a href="https://pmg.org.za/bill/1055/" target="_blank">BELA</a></li>
        <li><a href="https://pmg.org.za/bill/705/" target="_blank">Copyright</a></li>
        <li><a href="https://pmg.org.za/bill/677/" target="_blank">Performers’ Protection</a></li>
    </ul>
    <p>As with other statistics pieces in this review, simply counting bills introduced and bills passed does not give a
        full picture of legislative performance. Emphasis is on the quality of legislation passed.</p>




</div>

{% include 'pr6/_disclaimer.html' %}