<div class="article-title">6th Parliament: Plenary Sessions</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">
</div>

<div class="article-content">
    <p class="first-par">Plenary sessions are the most visible aspect of Parliament's work and the centre for parliamentary debate, especially on matters of urgent public importance. When thinking of plenary, or House sittings, one almost immediately thinks of the National Assembly building. However, in the Sixth Parliament, plenary sessions looked very different. COVID-19 necessitated the need for online sessions where the rules around the seat of Parliament were amended to not strictly refer to the Cape Town precinct.</p>
    <p>After the devastating fire of January 2022, Parliament moved its business to the Good Hope Building and for the first time, big events like the State of the Nation Address and Budget took place in Cape Town’s City Hall. It also renewed the debate about the relocation of Parliament to Pretoria. A proposed bill was tabled by the EFF leader in this regard but it was later withdrawn.</p>
    <p>Throughout the Sixth Parliament, the two Houses held a total of <strong>325 debates in physical, hybrid or virtual full and mini-plenary sessions.</strong></p>

    

    <div class="flourish-embed flourish-chart" data-src="visualisation/17833301"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <p>In our analysis of legislative activity in the Sixth Parliament, we observed that pre-election years were the busiest for the introduction and passing of bills. It is interesting to see this observation mirrored in the above graphs with 2023 (pre-election year) being the busiest for plenary sittings in both Houses.</p>
    <p>It’s impossible to summarise all the matters considered but these are some of the main highlights:</p>
    <ul>
        <li><strong>Feb 2024:</strong> National Assembly resolves to impeach John Hlophe and Nkola Motata as Judges - this is the first time Parliament has resolved to remove Judges from Office </li>
        <li><strong>Nov 2023:</strong> Resolution for closure of the Israel Embassy in South Africa and suspension of all diplomatic relations with Israel.</li>
        <li><strong>September 2023:</strong> NA resolves to remove Adv Busisiwe Mkhwebane from the office of Public Protector in terms of section 194(1)(c) of the Constitution.</li>
        <li><strong>May 2023:</strong> Parliament passes the Constitution Eighteenth Amendment Bill (Sign Language Bill)</li>
        <li><strong>March 2023:</strong> Expropriation Bill passed by Parliament.</li>
        <li><strong>March 2023:</strong> DA motion on the establishment of an ad hoc committee to conduct an inquiry into matters surrounding the Phala Phala game farm theft with specific reference to the involvement and response of the various government departments and agencies in the alleged cover-up of the crime - motion rejected later that month</li>
        <li><strong>Feb 2023:</strong> Parliament passes Electoral Amendment Bill. This was a significant milestone in the evolution of South Africa’s democracy, which expanded electoral participation to independent candidates</li>
        <li><strong>Feb 2023:</strong> EFF Members attempted to storm the stage where President Cyril Ramaphosa was seated shortly after they were ordered to vacate the Cape Town City Hall for the SONA</li>
        <li><strong>Dec 2022:</strong> The majority of MPs voted against the adoption of the Phala Phala report - section 89 process did not proceed </li>
        <li><strong>26 April 2022:</strong> joint address by the President following the catastrophic flooding along parts of the eastern coast.</li>
        <li><strong>Feb 2022:</strong> first SONA held outside of Parliament (in Cape Town City Hall)</li>
        <li><strong>August 2021:</strong> Election of new NA Speaker Nosiviwe Mapisa-Nqakula</li>
        <li><strong>May 2021:</strong> Debate on the 25th anniversary of the Constitution</li>
        <li><strong>September 2020:</strong> Special Joint Sitting called by the President to discuss a new approach to combating violence against women.</li>
        <li><strong>March 2020:</strong> Debate on the Coronavirus and South Africa’s readiness to deal with the pandemic</li>
        <li><strong>July 2019:</strong> Members of EFF physically removed from a mini-plenary debate on Budget Vote 9: Public Enterprises following their disruption of Minister Pravin Gordhan’s budget speech when he was prevented from continuing
            with his speech while at the <a href="https://pmg.org.za/tabled-committee-report/4590/" target="_blank">podium</a></li>
    </ul>


    <p>To its credit, the Sixth Parliament scheduled debates on matters of urgent national importance – this is in keeping with one of Parliament’s important roles to act as a forum for national debate. MPs proposing debates certainly had their fingers on the pulse of the nation and the Speaker granted their requests. Such urgent debates included those on the crisis of unemployment; government’s deal to sell a stake in South African Airways; Black Lives Matter; the energy crisis; and the rollout of the COVID-19 vaccine.</p>

    <h3>The President and Deputy President’s appearances before Parliament</h3>
    <p>The President and the Deputy President routinely appeared before Parliament over the Sixth Term. Their appearances before MPs are significant and newsworthy events that underscore the principles of accountability and transparency. These appearances allowed MPs to pose questions directly to the President and his Deputy on a wide range of issues, including governance, policy decisions, and matters of national importance.</p>

    <div class="flourish-embed flourish-chart" data-src="visualisation/17833191"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <div class="info-block">
        <p>According to the Rules, the President and the Deputy President are required to appear at least once a quarter in the National Assembly respectively, to respond to oral questions.  In the NCOP, whereas the President is required to appear at least once every six months, the Deputy President is required to appear at least once every quarter. During these Question Time sessions, they are required to answer up to six questions of national or international importance. Four supplementary questions, arising from the reply to a question, are allowed during the three-hour slot.</p>
        <p>Former Deputy President David Mabuza resigned in February 2023 and current Deputy President Paul Mashatile took over in March 2023.</p>
        <p>In March 2021, NA Rule 139 on the frequency of oral questions to the Deputy President was amended. To ensure clarity and facilitate planning, a <a href="https://pmg.org.za/tabled-committee-report/4514/" target="_blank">proposal was accepted</a> that the Deputy President answer questions at least once per quarter instead of every month.</p>

    </div>
    
    <p>Beyond these appearances, the President and Deputy President also appeared during the State of the Nation Address, the subsequent debates, the Budget Speech Address, the debates on Budget Vote 1: Presidency and the NCOP’s Taking Parliament to the People event.</p>
    <p>Interestingly, in June 2020, for the first time, the <a href="https://www.youtube.com/watch?v=L3t2zyx_kfw" target="_blank">President appeared virtually</a> to answer oral questions.</p>
    <p>The President made two special addresses to both Houses. In October 2020, he briefed lawmakers on the government’s Economic Reconstruction and Recovery Plan following the devastating impact of the COVID-19 pandemic. In April 2022, the President delivered a joint address to the legislature following the catastrophic flooding along parts of the eastern coast.</p>
    <p>The President’s appearances are naturally high points on the parliamentary calendar and these occasions have often been marked by drama and disruptions. The Powers and Privileges <a href="https://pmg.org.za/committee/72/" target="_blank">Committee</a> was kept busy in the Sixth Parliament as it was tasked with investigating allegations of breach of conduct in the House. The Committee made findings and meted out sanctions against Members for contempt of Parliament during the debate on Budget Vote One in June 2022, oral questions to the President in August 2022, SONA 2023 and SONA 2020.</p>

    <h3>Ministerial Briefing sessions</h3>
    <p>Since the COVID-19 pandemic in 2020, Ministerial Briefings have been a feature in the NCOP. Ministers and MECs gave presentations on specific topics/themes and these were discussed by NCOP delegates 24 times throughout the Sixth Parliament.</p>

    <h3>Motions of no confidence</h3>
    <p>In March 2023, a motion of no confidence in former NA Speaker Nosiviwe Mapisa-Nqakula failed, with 234 members voting against the motion, 42 in favour and 73 abstaining. The EFF brought the motion after they were removed during SONA. The EFF accused the Speaker of acting irresponsibly and unconstitutionally when she ordered the removal of some EFF MPs from the House.</p>
    <p>The 2022 parliamentary year ended with two motions of no confidence: the first against the President (sponsored by the ATM and in terms of section 102 (2) of the Constitution) and the second against Cabinet (sponsored by the DA and in terms of section 102 (1) of the Constitution).</p>
    <p>However, on the day of the vote, the ATM decided not to move the motion after the Speaker refused to accede to the party’s request for a secret ballot. The DA motion of no confidence in Cabinet proceeded by open ballot: 231 MPs voted against it, 131 supported it and one MP abstained.</p>



</div>

{% include 'pr6/_disclaimer.html' %}