<div class="article-title">MP Turnover in 6th parliament: National Assembly</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">
</div>

<div class="article-content">
    <p class="first-par">Often, the turnover of MPs means the loss of expertise and experience. Too much turnover is undesirable and weakens the institution’s law-making and watchdog functions. The turnover rate was 33% during the Sixth Parliament and 26% during the Fifth Parliament.</p>

    <div class="flourish-embed flourish-chart" data-src="visualisation/17846094"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    
    <p>130 MPs had the opportunity to serve as MP but did not complete office as they were unavailable to take up their seat, resigned, retired, passed away or lost their seat due to constitutional restrictions:</p>

    <ul>
        <li>14 MPs were unavailable to take up their seats</li> 
        <li>75 MPs resigned</li> 
        <li>29 MPs passed away</li>
        <li>11 MPs ceased to be a Member due to loss of party membership</li>
        <li>1 MP ceased to be a Member and was elected as President</li>
    </ul>

<p>New MPs at the start of:</p>
<strong>6th Parliament</strong>: 64%<br/>
<strong>5th Parliament</strong>: 60%<br/>
<strong>4th Parliament</strong>: 68%<br/>

<h3>MP TURNOVER IN SIXTH PARLIAMENT: NCOP</h3>
<strong>ANC:</strong> 29 (53.7%)   [2 resigned and 1 passed away and both have since been replaced]<br/>
<strong>DA</strong>: 13 (24%)   [1 resigned and has since been replaced ]<br/>
<strong>EFF</strong>: 9 (16.6%)  [5 resigned and 1 passed away and all have since been replaced]<br/>
<strong>FF+</strong>: 2 (3.7%)  [1 resigned and has since been replaced]<br/>
<strong>IFP</strong>: 1 (1.8%)  [1 passed away and was replaced by another one who later resigned and has since been replaced]

<h3>Gender representation</h3>
<p>The Sixth Parliament began with 183 women MPs; this number remained largely unchanged, with 181 women MPs still in office by the end of the term. Of the current 394 MPs in the National Assembly, 218 (55%) are men and 181 (46%) are women. This marks an improvement from the Fifth Parliament, which only had 177 (42.7%) women MPs.</p> 

<div class="flourish-embed flourish-chart" data-src="visualisation/17845809"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<p>It is interesting to see how this compares to data captured when the Sixth Parliament <a href="https://static.pmg.org.za/6th-5c-20nation.png" target="_blank">began</a>.</p>
<p>When the Seventh Parliament is sworn in, the legislature can look very different from the current one: there could be more women, younger MPs, fewer and/or new parties, a few independents, and a change in the distribution of seats by the represented parties.</p>

          

</div>

{% include 'pr6/_disclaimer.html' %}