<div class="article-title">6th Parliament: Written Questions</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">
    A breakdown of questions and responses
</div>

<div class="article-content">
    <p class="first-par">Written Questions are an important tool MPs use to hold the Executive to account. Written questions vary in complexity and scope, ranging from simple requests for information to more detailed inquiries that may delve into policy justifications or specific instances of government action. They are an essential aspect of parliamentary oversight and democratic accountability.</p>
    <p>According to NA Rule 145 (5) (a): <em>“A question for written reply must be replied to within 10 working days, provided that the responsible Minister may in writing request the Speaker for an extension not exceeding a further 10 working days on good cause shown.”</em></p>
    <p>Ministers often provide several reasons for delayed replies, despite Rule 145. Amongst others, these include the technical nature of some questions, and challenges in gathering and verifying information or research; certain questions relating to provinces, local government, or entities over which Ministers had no, or limited, control; and challenges arising from changing departmental management.</p>
    <p>An overview of Written Questions sent by NA MPs and NCOP delegates over the Sixth Parliament:</p>

    <div class="flourish-embed flourish-chart" data-src="visualisation/17825823"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <p>19 282 written questions were posed to the Executive throughout the Sixth Parliament. This is an uptick from the Fifth Parliament’s 18 823. The majority of questions were posed in 2023.</p>
    <p>As we demonstrated in the <a href="https://pmg.org.za/parliament-review/statistics/questions " target="_blabk">Fifth Parliament Review</a>, the oversight and accountability mechanism of written questions is particularly a tool of the opposition. 60% of the questions were asked by the DA alone followed by the EFF at 21%. Only 2% of the questions were posed by the ANC. This is because opposition MPs typically have a vested interest in scrutinising the actions and decisions of the Executive.</p> 
    <p>The Ministry asked the most questions over the Sixth Parliament was Police – the Minister was asked 1229 questions. This was followed by Health (1181), Basic Education (808), Social Development (752) and Forestry, Fisheries and the Environment (722).</p>
    <p>We wrote more extensively on the oversight mechanism of written questions <a href="https://pmg.org.za/blog/Written%20Questions:%20A%20Critical%20Oversight%20Mechanism" target="_blank">here</a>.</p> 

    <div class="flourish-embed flourish-chart" data-src="visualisation/17828943"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <div class="flourish-embed flourish-chart" data-src="visualisation/17832942"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    
    <p>As with other statistics pieces in this review,  we merely highlight key numbers, statistics and percentages. There are other facets to consider when looking at written questions such as the response rate, consequences for non or late response and the quality of responses provided.</p>

    
</div>

{% include 'pr6/_disclaimer.html' %}

