{% extends "base.html" %}
{% block title %}Parliament Review  | Statistics | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
    

    <article class="page">
	
	


	

	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9">
		    <div class="single-post">
			<!-- START ARTICLE - Hannah -->
			<h2 class="title">Committee Agenda: Fifth Parliament</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
			    <hr>
			    <p align="justify">It is in Committees that most of the core functions of Parliament are demonstrated – we refer here to the critical functional areas of:</p><br>
			    
			    <div class="row">
          			<div class="col-sm-6 center review-MB20px">
          			    <span class="review-big review-green">OVERSIGHT </span>
          			</div>
				
          			<div class="col-sm-6 center review-MB20px">
          			    <span class="review-big review-light-green">LEGISLATION </span>
          			</div>
			    </div>
			    
			    <div class="row review-row ">
          			<div class="col-sm-6 center review-MB20px">
          			    <span class="review-big review-yellow">PUBLIC PARTICIPATION</span>
          			</div>
				
          			<div class="col-sm-6 center review-MB20px">
          			    <span class="review-big review-red">DEBATE</span>
          			</div>
			    </div>

			    <br><br><p align="justify">It is in Committees that  Departments, their entities, other public bodies and sometimes private bodies (as seen in the case of Steinhoff) are called to account. Public participation in law-making, oversight and other processes of Parliament is an important constitutional provision of our democracy. PMG finds that much of public participation carried out by Committees concerns legislation but also - increasingly - topical matters. What transpires in the Houses of the National Assembly and National Council of Provinces is often merely discussion and approval of the hard work by a Committee. </p>
			    
			    <p align="justify">Over the Fifth Parliament, <strong>6483 committee meetings</strong> were held – these include <strong>5293</strong> meetings of the Portfolio Committees, <strong>911</strong> meetings of the Select Committees, <strong>125</strong> meetings of the Joint Committees and <strong>154</strong> meetings of Ad Hoc Committees. </p>
			    
			    <p align="justify">PMG looked at these meetings of the Portfolio Committees over the Fifth Parliament in more detail to develop pointers on the divide amongst committee’s primary functional areas of oversight, public participation, and legislation. We also looked at the percentage of Committee meetings on topical matters (matters of national interest / importance), statutory appointments considered, public petitions considered, inquiries and meetings discussing specific government policy.</p>
			    
			    <p align="justify">Our findings show:</p>
			    
			    
			    <div class="review-chartborder">
				<div class="row review-MB20px">
          			    <div class="col-sm-3  review-bar-label">
          				OVERSIGHT
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #00b78e; width:58%;" class="center review-bar">58%</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				LEGISLATION
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #85b500; width:18%;" class="center review-bar">18%</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				HOUSEKEEPING
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #337ab7; width:13.7%;" class="center review-bar">13.7%</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				PUBLIC PARTICIPATION
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #dbbc07; width:6%;" class="center review-bar">6%</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				INQUIRIES
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #85b500; width:1px;" class="center review-bar">&nbsp;</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				APPOINTMENTS
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #dbbc07; width:1px;" class="center review-bar">&nbsp;</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				TOPICAL MATTERS
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #c47b65; width:1px;" class="center review-bar">&nbsp;</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				POLICY
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #7a6493; width:1px;" class="center review-bar">&nbsp;</div>
          			    </div>
				</div>
				
				<div class="row review-MB20px">
          			    <div class="col-sm-3 review-bar-label">
          				PETITIONS
          			    </div>
				    
          			    <div class="col-sm-9 center">
          				<div style="background-color: #47afea; width:1px;" class="center review-bar">&nbsp;</div>
          			    </div>
				</div>
			    </div>

			    <br><p align="justify"><strong>58%</strong> of Portfolio Committee meetings involve <strong>oversight</strong> – these meetings include the presence of a Department and its entities accountable to the Committees for presenting quarterly reports, budgets, annual reports, annual performance plans that brief the Committee on the work, activities and programmes their work and spending which is then discussed.</p>
			    
			    <p align="justify">Our calculations show <strong>only 6%</strong> of Portfolio Committee meetings involve <strong>public participation</strong> – there is a <strong>nearly 50/50 split</strong> between public participation on legislation and on other matters. Further findings show some Committees interact with the public more than others – the <strong>Standing Committee on Finance</strong> interacts significantly with the public although this is primarily in relation to legislation. Other Portfolio Committees which have high rates of public engagement, on matters other than legislation only, include the Portfolio Committees on <strong>Police, International Relations and Cooperation, Environmental Affairs, Small Business and Trade and Industry</strong>. </p>
			    
			    <p align="justify">There have been some interesting developments in the Fifth Parliament where some Portfolio Committees have worked into their programmes regular public engagements on topical matters within the ambit of the Committee – these often are called workshops, summits or colloquiums. Examples include:</p><br>
			    
			    <div class="row row-eq-height review-chartborder">
         			<div class="col-sm-4 review-big2">
            			    Local Procurement<br><br>
				    Trade and Investment<br><br>  
				    Beneficiation <br><br>
				    Cost to Communicate <br><br>
				    Small Business Development <br><br>
				</div>
				
				<div class="col-sm-4 review-big2">
            			    Religious regulation<br><br>
				    Firearms Control <br><br>
				    One Environmental System <br><br>
				    Air Quality<br><br>
				    Biodiversity <br><br>
				</div>
				
				<div class="col-sm-4 review-big2">
            			    Climate Change <br><br>
				    Oceans Economy <br><br>
				    Waste Management <br><br>
				    Environmental Programmes & Socio-Economic Benefits<br><br>
				    Nuclear Energy<br><br>
				</div>
			    </div>
			    
			    
			    
			    <br><br><p align="justify">While petitions are a key way in which the public can appeal to Parliament to intervene in matters, Portfolio Committees of the Fifth Parliament considered less than 20 petitions, according to our records. Of the 27 petitions to come before Portfolio Committees, 8 were finalized by the time the National Assembly rose for the term.  </p>
			    
			    <p align="justify">The <strong>initiation of inquiries</strong> by Portfolio Committees was a key feature of the Fifth Parliament. Inquiries initiated included:</p>
			    
			    <img src="/static/resources/images/review/inquiry.png" width="628" height="318"><br><br>
			    
			    <p align="justify">The rise in committees engaging on topical or controversial matters in the Fifth Parliament is to be welcomed. These included:</p>
			    
			    <div class="row row-eq-height review-chartborder">
         			<div class="col-sm-4 review-big2">
            			    Vuwani school destruction <br><br>
				    Seven Angel Ministries massacre <br><br>
				    VBS Bank Heist <br><br>
				    Moody’s Credit Rating<br><br>
				    Sale of strategic fuel <br><br>
				    Listeriosis outbreak <br><br>
				    SARS Rogue unit

				</div>
				
				<div class="col-sm-4 review-big2">
            			    Steinhoff <br><br>
				    Zika virus <br><br>
				    Al-Bashir <br><br>
				    Brexit impact <br><br>
				    Life Esidimeni <br><br>
				    State Capture allegations <br><br>
				    Student protest

				</div>
				
				<div class="col-sm-4 review-big2">
            			    SASSA payment of grants <br><br>
				    Ford Kuga recall <br><br>
				    Transformation in sports <br><br>
				    Burning of Metrorail trains <br><br>
				    Sanitary tax exemption <br><br>
				    Sex work decriminalization 
				    
				</div>
			    </div>
			    
			    
			    <br><br>
			    
			    
			    
			    
			    <p class="review-author-blurb">DISCLAIMER: This is not official data from Parliament. This information has been obtained via the Parliamentary Monitoring Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data is 100% accurate and complete.</p>
			    
			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
			    
			</div>
		    </div>
		</div>
		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
			{% include 'review/_articles.html' %}
        		
		    </div>
		    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html' %}
        		
		    </div>
		    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics<h2>{% include 'review/_stats.html' %}
        		    
		    </div>
     		    
		</div>
	    </div>
</div>
{% endblock %}
