{% extends "base.html" %}
{% block title %}Parliament Review  | Statistics | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">

    <article class="page">

	<section class="single-blog">
	    <div class="row">
				<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
				<div class="single-post">
					
					<!-- START CONTENT - Hannah -->
					<h2 class="title">Committee Activity: Fifth Parliament</h2>
					<div class="date"><i>&nbsp;</i></div>
					<div class="body">
					<hr>
					<p class="center">Over the duration of the Fifth Parliament there were <br><span class="review-big">6483</span><br> <a href="https://pmg.org.za/committees/" target="_blank">committee meetings</a>.</p>
					<hr>
					
					<p class="center">The Fifth Parliament committee system comprised of 67 committees:</p>
					
					<div class="row">
          					<div class="col-sm-6 center review-MB20px">
          					<span class="review-big">37</span><br>PORTFOLIO COMMITTEES
          			</div>
						
          					<div class="col-sm-6 center review-MB20px">
          					<span class="review-big">6</span><br>JOINT COMMITTEES 
          			</div>
			    </div>
					
					<div class="row review-row ">
          					<div class="col-sm-6 center review-MB20px">
          					<span class="review-big">12</span><br>SELECT COMMITTEES
          			</div>
						
          					<div class="col-sm-6 center review-MB20px">
          					<span class="review-big">12</span><br>AD HOC COMMITTEES  
          			</div>
			    </div>

					<br><br><p align="justify">Over the Fifth Parliament, <strong>Portfolio Committees held 5293 meetings</strong>. This is followed by the <strong>Select Committees which collectively held 911 meetings, 154 Ad Hoc Committee meetings and 125 meetings of the Joint Committees</strong> (<a href="docs/Committee_Activity_Addendum_2.pdf" target="_blank">View addendum</a>)</p>
					<hr>
					
					<p align="justify">Looking at these numbers in more detail, our statistics show some Portfolio Committees were extremely busy over the Fifth Parliament. These stand-out Committees include:</p><br>
					<div class="row row-eq-height">
         					<div class="col-sm-6 review-statbox">
          					FINANCE: <strong>309</strong> meetings<br><br>
						TRADE AND INDUSTRY: <strong>268</strong> meetings<br><br>
						POLICE: <strong>237</strong> meetings<br><br>	 
						APPROPRIATIONS: <strong>236</strong> meetings<br><br>	
						TRANSPORT: <strong>177</strong> meetings
          			</div>
						<div class="col-sm-2 vert-center-wrap"><img src="/static/resources/images/review/bracket.png" width="auto" height="100%" class="stats-bracket"></div>
						<div class="col-sm-4 vert-center-wrap">
						<div><span class="review-big">23%</span> of all Portfolio Committee meetings over the Fifth  Parliament </div>
				</div>
			    </div><br>
					
					<p align="justify">Calculations show that on <strong>average</strong>, the other Portfolio Committees held <strong>109 meetings</strong> over the Fifth Parliament  </p>
					<hr>
					<p align="justify">Calculations also show that <strong>2018 was the busiest year</strong> for all Committees – <strong>1474 Committee meetings were held in this year alone</strong>. This equates to 23% of all meetings over the Fifth Parliament. This also ties in with a finding PMG made, in its <a href="https://pmg.org.za/page/BillsStudy" target="_blank">study</a> of legislative performance, that Parliament’s work rate increases significantly in the year immediately preceding a national election </p>

					
					<br><h4><strong>NUMBER OF COMMITTEE MEETINGS: FIFTH PARLIAMENT</strong></h4>
					
					<div class="review-table">
         					<table>
            					<tr>
                					<th style="width: 50%;">YEAR</th>
							<th>NUMBER OF MEETINGS</th>
				    </tr>
						<tr>
                					<td>2014</td>
							<td>814</td>
				    </tr>
						<tr>
                					<td>2015</td>
							<td>1272</td>
				    </tr>
						<tr>
                					<td>2016</td>
							<td>1214</td>
				    </tr>
						<tr>
                					<td>2017</td>
							<td>1421</td>
				    </tr>
						<tr>
                					<td>2018</td>
							<td>1474</td>
				    </tr>
						<tr>
                					<td>2019</td>
							<td>288</td>
				    </tr>
						<tr class="review-total">
                					<td>TOTAL</td>
							<td>6483</td>
				    </tr>
				</table>
			    </div>
					<hr>
					<br>
					
					<p align="justify">We also took a look at the number of parliamentary work days during the Fifth Parliament – calculations show there were <strong>613 parliamentary work days</strong> between June 2014 and March 2019 – this number excludes weekends, public holidays, constituency days (Mondays) and recess breaks. </p>
					
					<br><h4><strong>NUMBER OF PARLIAMENTARY WORK DAYS</strong></h4>
					
					<div class="review-table">
         					<table>
            					<tr>
                					<th style="width: 50%;">YEAR</th>
							<th>NUMBER OF WORK DAYS</th>
				    </tr>
						<tr>
                					<td>2014</td>
							<td>79</td>
				    </tr>
						<tr>
                					<td>2015</td>
							<td>140</td>
				    </tr>
						<tr>
                					<td>2016</td>
							<td>115</td>
				    </tr>
						<tr>
                					<td>2017</td>
							<td>131</td>
				    </tr>
						<tr>
                					<td>2018</td>
							<td>120</td>
				    </tr>
						<tr>
                					<td>2019</td>
							<td>28</td>
				    </tr>
						<tr class="review-total">
                					<td>TOTAL</td>
							<td>613</td>
				    </tr>
				</table>
			    </div>
					<hr>
					
					<br><h4><strong>COMMITTEE ATTENDANCE</strong></h4>
					
					<p align="justify">Since the beginning of the Fifth Parliament, PMG has recorded the attendance (<a href="docs/Committee _Activity_Addendum_1.pdf" target="_blank">View Addendum</a>) of MPs in Committee meetings. Our records show that the attendance of Committee meetings in the Fifth Parliament has improved over the five years. Those Portfolio Committees that stand out for top attendance over the five years are:</p>
					
					<div class="row">
          					<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">89%</span><br>COOPERATIVE GOVERNANCE AND TRADITIONAL AFFAIRS
          			</div>
						
          					<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">82%</span><br>ARTS AND CULTURE
          			</div>
						<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">81%</span><br>SPORT AND RECREATION
          			</div>
			    </div>
					
					<div class="row">
          					<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">79%</span><br>RURAL DEVELOPMENT AND LAND REFORM
          			</div>
						
          					<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">79%</span><br>TRANSPORT  
          			</div>
						
						<div class="col-sm-4 center review-MB20px">
          					<span class="review-big">79%</span><br>POLICE  
          			</div>
			    </div>



					<p class="review-author-blurb">DISCLAIMER: This is not official data from Parliament. This information has been obtained via the Parliamentary Monitoring Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data is 100% accurate and complete.</p>
					
					
					<span class="page-sharing">
						Share this page:
						<span class="btn-group" role="group">
	 					<a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  					<a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  					<a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  					<a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
					
			</div>
		    </div>
		</div>
				
				<!-- SIDEBAR -->
				<div class="col-sm-3">
				<h1>&nbsp;</h1>
				<span class="page-sharing">
					Share this page:
					<span class="btn-group" role="group">
					<a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
					<a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
					<a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
					<a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
				
				<h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     				<div class="sb-articles">
				    <h2 class="sb-category-heading">Articles</h2>
				    {% include 'review/_articles.html' %}
        				
		    </div>
				%
				<div class="sb-interviews">
					<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html' %}
        				
		    </div>
				
				<div class="sb-stats">
					<h2 class="sb-category-heading">Statistics<h2>{% include 'review/_stats.html' %}
        				
		    </div>

		    
		    
		</div>
		    </div>
	</section>
</div>
{% endblock %}
