{% extends "base.html" %}
{% block title %}Parliament Review | Statistics  | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
    

    <article class="page">
	
	


	

	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9">
		    <div class="single-post">
			<!-- START ARTICLE - Hannah -->
			<h2 class="title">Written Questions for Minister's Reply: Fifth Parliament</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
			    <hr>
			    
			    <p>Written Questions is another tool through which the legislature conducts oversight over the executive – similar to the tools of plenary and committee oral questions.  Written Questions allow Members of Parliament to ask a Minister about the activities, spending, policy and legislation implementation of a government department to keep the executive arm of state accountable.   </p>
			    
			    <p>A report of the UNDP finds that written questions are one of the most widespread forms of parliamentary scrutiny – their dynamic is different in that they can provide more detail than oral questions and can be used to probe a specific matter by a Member of Parliament over a sustained period of time <sup>1</sup></p>
			    
			    <p>The number of written questions posed over the Fifth Parliament:</p>
			    
			    <br><h4><strong>WRITTEN QUESTIONS: FIFTH PARLIAMENT</strong></h4>
			    <img src="/static/resources/images/review/written_questions.png" width="850" height="348" alt="Written Questions"><br><br>
			    
			    <div class="review-table center">
				<table class="smaller">
            			    <tr class="review-colhead">
                			<td>&nbsp;</td>
					<td><strong>2014</strong></td>
					<td><strong>2015</strong></td>
					<td><strong>2016</strong></td>
					<td><strong>2017</strong></td>
					<td><strong>2018</strong></td>
					<td><strong>2019</strong></td>
				    </tr>
				    
				    <tr>
                			<td><strong>Written questions</strong></td>
					<td>3032</td>
					<td>4268</td>
					<td>2745</td>
					<td>4027</td>
					<td>3930</td>
					<td>821</td>
				    </tr>
				    
				    <tr>
                			<td><strong>Unanswered</strong></td>
					<td>54</td>
					<td>24</td>
					<td>129</td>
					<td>189</td>
					<td>207</td>
					<td>266</td>
				    </tr>
				    
				    <tr>
                			<td><strong>Removed/Withdrawn</strong></td>
					<td>9</td>
					<td>20</td>
					<td>4</td>
					<td>22</td>
					<td>9</td>
					<td>0</td>
				    </tr>
				</table>
			    </div>
			    
			    <p>Our statistics make it clear that the oversight and accountability mechanism of written questions is particularly a tool of the opposition </p>
			    
			    <p>Research shows that in all parliaments opposition parties are more active in asking questions than governing parties - even if government parties have genuine policy concerns they can use informal means to obtain information or bring government attention to issues due to their close relation to the government. Opposition parties, on the other hand, have an interest in exposing the policy failures of the government this draws negative attention to the government<sup>2</sup>.</p>
			    
			    <p class="review-box">A total of <strong>18 823</strong> written questions were posed to the Executive over the Fifth Parliament  - <strong>74.5%</strong> of these questions were asked by the DA alone followed by 14.6% by the EFF. Only <strong>0.73%</strong> of the questions were posed by the ANC</p>
			    
			    <p>The MP that asked the most questions over the Fifth Parliament was Mr <strong>Michael Waters (DA)</strong> – the Member asked <strong>250 questions</strong> on average per year.</p>
			    
			    <p>The Ministry asked the most questions over the Fifth Parliament was <strong>Police</strong> – the Minister was asked <strong>1151 questions</strong>. </p>
			    
			    <p>An analysis of the data indicates that the response rate is high. The quality of the Replies needs a survey of the MPs who asked the questions. This would make an interesting study as the quality of the Replies has sometimes been described as inadequate.</p>
			    
			    <p><strong>3.7%</strong> of questions asked in the Fifth Parliament were done so by <strong>COPE</strong> – this is remarkable for a minority party with only three seats – calculations below show that the <strong>three-seat party asked on average 236 questions per Member over the Fifth Parliament</strong> followed by the FF+ where each of its four Members asked 158 questions on average over the Fifth Parliament.</p>
			    
			    <br><h4><strong>% QUESTIONS ASKED PER PARTY</strong>*</h4>
			    <img src="/static/resources/images/review/written_questions02.png" width="850" height="348" alt="QUESTIONS ASKED PER PARTY">
			    <hr>
			    
			    <h4><strong>AVERAGE NUMBER OF QUESTIONS PER MEMBER</strong>*</h4>
			    <img src="/static/resources/images/review/written_questions03.png" width="850" height="348">
			    <p class="smaller"><em>* Both graphs exclude three parties that asked zero questions over the Fifth Parliament</em></p>
			    
			    <hr>
			    
			    <div class="review-table center">
				<table class="smaller">
            			    <tr class="review-colhead">
                			<td><strong>Party</strong></td>
					<td><strong>Seats</strong></td>
					<td><strong>2014</strong></td>
					<td><strong>2015</strong></td>
					<td><strong>2016</strong></td>
					<td><strong>2017</strong></td>
					<td><strong>2018</strong></td>
					<td><strong>2019</strong></td>
					<td><strong>Total Questions</strong></td>
					<td><strong>Average per Member</strong></td>
				    </tr>
				    
				    <tr>
                			<td>COPE</td>
					<td>3</td>
					<td>140</td>
					<td>227</td>
					<td>74</td>
					<td>106</td>
					<td>124</td>
					<td>37</td>
					<td><strong>708</strong></td>
					<td>236</td>
				    </tr>
				    
				    <tr>
                			<td>FF PLUS</td>
					<td>4</td>
					<td>86</td>
					<td>128</td>
					<td>99</td>
					<td>96</td>
					<td>184</td>
					<td>40</td>
					<td><strong>633</strong></td>
					<td>158</td>
				    </tr>
				    
				    <tr>
                			<td>DA</td>
					<td>89</td>
					<td>2573</td>
					<td>3526</td>
					<td>2238</td>
					<td>3118</td>
					<td>2182</td>
					<td>403</td>
					<td><strong>14040</strong></td>
					<td>157</td>
				    </tr>
				    
				    <tr>
                			<td>EFF</td>
					<td>25</td>
					<td>93</td>
					<td>158</td>
					<td>195</td>
					<td>659</td>
					<td>1340</td>
					<td>310</td>
					<td><strong>2755</strong></td>
					<td>110</td>
				    </tr>
				    
				    <tr>
                			<td>IFP</td>
					<td>10</td>
					<td>46</td>
					<td>133</td>
					<td>64</td>
					<td>24</td>
					<td>48</td>
					<td>16</td>
					<td><strong>331</strong></td>
					<td>33</td>
				    </tr>
				    
				    <tr>
                			<td>UDM</td>
					<td>4</td>
					<td>15</td>
					<td>22</td>
					<td>26</td>
					<td>10</td>
					<td>13</td>
					<td>10</td>
					<td><strong>96</strong></td>
					<td>24</td>
				    </tr>
				    
				    <tr>
                			<td>ACDP</td>
					<td>3</td>
					<td>17</td>
					<td>17</td>
					<td>16</td>
					<td>8</td>
					<td>9</td>
					<td>4</td>
					<td><strong>71</strong></td>
					<td>23</td>
				    </tr>
				    
				    <tr>
                			<td>NFP</td>
					<td>6</td>
					<td>18</td>
					<td>13</td>
					<td>15</td>
					<td>4</td>
					<td>0</td>
					<td>3</td>
					<td><strong>53</strong></td>
					<td>8</td>
				    </tr>
				    
				    <tr>
                			<td>AIC</td>
					<td>3</td>
					<td>2</td>
					<td>1</td>
					<td>0</td>
					<td>0</td>
					<td>3</td>
					<td>0</td>
					<td><strong>6</strong></td>
					<td>2</td>
				    </tr>
				    
				    <tr>
                			<td>ANC</td>
					<td>249</td>
					<td>42</td>
					<td>43</td>
					<td>18</td>
					<td>0</td>
					<td>27</td>
					<td>9</td>
					<td><strong>139</strong></td>
					<td>1</td>
				    </tr>
				    
				    <tr>
                			<td>AGANG</td>
					<td>2</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td><strong>0</strong></td>
					<td>0</td>
				    </tr>
				    
				    <tr>
                			<td>PAC</td>
					<td>1</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td><strong>0</strong></td>
					<td>0</td>
				    </tr>
				    
				    <tr>
                			<td>APC</td>
					<td>1</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td><strong>0</strong></td>
					<td>0</td>
				    </tr>
				    
				</table>
			    </div>
			    
			    
			    
			    <p class="review-footnotes"><sup>[1]</sup> <a href="https://www.undp.org/content/dam/undp/library/Democratic%20Governance/Parliamentary%20Development/global%20parliamentary%20report_EN.pdf" target="_blank">Global Parliamentary Report, 2017. Parliamentary Oversight: Parliament’s power to hold government to account.</a> <br>
				<sup>[2]</sup> <a href="https://www.tandfonline.com/doi/full/10.1080/01402382.2017.1358936" target="_blank">Simon Otjes & Tom Louwerse. 2017. Parliamentary questions as strategic party tools.</a></p>
			    
			    <p class="review-author-blurb">DISCLAIMER: This is not official data from Parliament. This information has been obtained via the Parliamentary Monitoring Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data is 100% accurate and complete.</p>
			    
			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
			    
			</div>
		    </div>
		</div>
		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
			{% include 'review/_articles.html' %}
        		
		    </div>
		    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html' %}
        		
		    </div>
		    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics<h2>{% include 'review/_stats.html' %}
        		    
		    </div>
		    
		    
		</div>
	    </div>
</div>

{% endblock %}
