{% extends "base.html" %}
{% block title %}Parliament Review | Statistics | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
    

    <article class="page">
	
	


	

	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9">
		    <div class="single-post">
			<!-- START ARTICLE - Hannah -->
			<h2 class="title">MP & Committee Turnover</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
			    <h3>MP TURNOVER IN FIFTH PARLIAMENT</h3>
			    <p align="justify">The resignation of experienced politicians is accompanied by the loss of expertise and experience. Too much turnover is undesirable and weakens the institution’s law-making and watchdog functions. One quarter of our elected representatives were replaced over this five year term which is excessive:</p>
			    
			    <br><h4><strong>MP TURNOVER PER PARTY IN NATIONAL ASSEMBLY</strong></h4>
			    <div class="review-table center">
				<table id="review-table">
				    <tr class="review-colhead">
            				<td>Fifth Parliament</td>
					<td>SEATS</td>
					<td>MPs replaced</td>
					<td>Party member turnover</td>
				    </tr>
				    <tr>
            				<td>ANC</td>
					<td>249</td>
					<td>60</td>
					<td>24%</td>
				    </tr>
				    <tr>
            				<td>DA</td>
					<td>89</td>
					<td>21</td>
					<td>24%</td>
				    </tr>
				    <tr>
            				<td>EFF</td>
					<td>25</td>
					<td>16</td>
					<td>64%</td>
				    </tr>
				    <tr>
            				<td>IFP</td>
					<td>10</td>
					<td>4</td>
					<td>40%</td>
				    </tr>
				    <tr>
            				<td>NPF</td>
					<td>6</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>UDM</td>
					<td>4</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>VF PLUS</td>
					<td>4</td>
					<td>1</td>
					<td>25%</td>
				    </tr>
				    <tr>
            				<td>COPE</td>
					<td>3</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>ACDP</td>
					<td>3</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>AIC</td>
					<td>3</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>AGANG SA</td>
					<td>2</td>
					<td>1</td>
					<td>50%</td>
				    </tr>
				    <tr>
            				<td>PAC</td>
					<td>1</td>
					<td>1</td>
					<td>100%</td>
				    </tr>
				    <tr>
            				<td>APC</td>
					<td>1</td>
					<td>0</td>
					<td>0%</td>
				    </tr>
				    <tr>
            				<td>&nbsp;</td>
					<td><strong>400</strong></td>
					<td><strong>104</strong></td>
					<td><strong>26%</strong></td>
				    </tr>
				</table>
			    </div>

			    <p align="justify">103 Members of Parliament<sup>1</sup> were replaced either because they resigned, retired, passed away or lost their seat due to constitutional restrictions:</p>
			    <ul>
    				<li>82 Members resigned but 10 were not replaced </li>
				<li>18 Members passed away (4 in car accidents)</li>
				<li>2 Members retired</li>
				<li>9 Members ceased to be an MP as they lost their party membership - section 47(3)(c) of Constitution</li>
				<li>2 Members ceased to be an MP as they were elected as President - section 87 of the Constitution.</li>
			    </ul>

			    <p align="justify">This consideration of loss of know-how applies also to the incoming MPs after the elections. In previous terms, Parliament has experienced a huge turnover and loss of trained, experienced MPs at the end of each five-year term. At the start of the Fourth Parliament, the National Assembly table staff reported 68% new MPs. The turnover for the start of the Fifth Parliament was better with around 60% new MPs. </p>

			    <p align="justify">Both newer democracies and proportional representation (PR) electoral systems have been shown to have higher turnover rates than older democracies and majoritarian electoral systems. PR electoral systems have greater internal party pressure to rotate positions. With little research available, the average for first world countries with a fair mix of either PR or majoritarian electoral systems is 32% for new MPs post elections for the lower House<sup>2</sup>.</p>

			    <p align="justify">Most new MPs will not know about the committee system, the budget cycle, or how to read an Amendment Bill. It is a steep learning curve and MPs need experience and their wits about them not to be taken in by the smooth public relations spin that departments and their entities can serve up to MPs.</p>
			    
			    <br><h3>COMMITTEE MEMBERSHIP TURNOVER</h3>
			    <p align="justify">From the Fifth Parliament, the size of Portfolio Committees was reduced to 11 members: </p>
			    <div class="review-box">
    				<p align="justify">5th Term Portfolio Committees = 11 members: 6 ANC (55%) 5 Opposition (45%)<br>
				    4th Term Portfolio Committees = 14 members: 8 ANC (57%) 6 Opposition (43%)
				</p>
			    </div>
			    
			    <p align="justify">Expertise is vital for committees so it is key to keep committee membership turnover as low as possible. Party caucuses use a variety of factors when they assign a member to a specific committee such as seniority or knowledge. Sometimes turnover can be a good thing: it can broaden an MP’s experience, bring fresh ideas or counter inertia.  However, this disruption should be kept to a minimum as committees are at their most effective when they are stable and members are able to build up institutional memory and expertise over their tenure. </p>
			    
			    <div class="review-table  smaller">
				<table>
				    <tr class="review-colhead">
            				<td>Committees: Fifth Parliament</td>
					<td>Confirmed Membership</td>
					<td>Required Number</td>
					<td>Replacements</td>
				    </tr>
				    <tr>
            				<td>Communications</td>
					<td>25</td>
					<td>11</td>
					<td>12</td>
				    </tr>
				    <tr>
            				<td>Health</td>
					<td>24</td>
					<td>11</td>
					<td>11</td>
				    </tr>
				    <tr>
            				<td>Trade & Industry</td>
					<td>24</td>
					<td>11</td>
					<td>11</td>
				    </tr>
				    <tr>
            				<td>Economic Development</td>
					<td>23</td>
					<td>11</td>
					<td>10</td>
				    </tr>
				    <tr>
            				<td>Environmental Affairs</td>
					<td>23</td>
					<td>11</td>
					<td>10</td>
				    </tr>
				    <tr>
            				<td>Labour</td>
					<td>23</td>
					<td>11</td>
					<td>10</td>
				    </tr>
				    <tr>
            				<td>Science & Technology</td>
					<td>23</td>
					<td>11</td>
					<td>10</td>
				    </tr>
				    <tr>
            				<td>Energy</td>
					<td>22</td>
					<td>11</td>
					<td>9</td>
				    </tr>
				    <tr>
            				<td>Finance</td>
					<td>22</td>
					<td>11</td>
					<td>9</td>
				    </tr>
				    <tr>
            				<td>Public Enterprises</td>
					<td>22</td>
					<td>11</td>
					<td>9</td>
				    </tr>
				    <tr>
            				<td>Agriculture, Forestry, Fisheries</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Basic Education</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Defence & Military Veterans</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Human Settlements</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Public Service & Admin</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Public Works</td>
					<td>21</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    <tr>
            				<td>Water & Sanitation</td>
					<td>20</td>
					<td>11</td>
					<td>7</td>
				    </tr>
				    <tr>
            				<td>Small Business Development</td>
					<td>19</td>
					<td>11</td>
					<td>6</td>
				    </tr>
				    <tr>
            				<td>Women in the Presidency</td>
					<td>19</td>
					<td>11</td>
					<td>6</td>
				    </tr>
				    <tr>
            				<td>Higher Education & Training</td>
					<td>18</td>
					<td>11</td>
					<td>5</td>
				    </tr>
				    <tr>
            				<td>Telecommunications</td>
					<td>18</td>
					<td>11</td>
					<td>5</td>
				    </tr>
				    <tr>
            				<td>COGTA</td>
					<td>17</td>
					<td>11</td>
					<td>4</td>
				    </tr>
				    <tr>
            				<td>International Relations</td>
					<td>17</td>
					<td>11</td>
					<td>4</td>
				    </tr>
				    <tr>
            				<td>Justice & Correctional Services</td>
					<td>17</td>
					<td>11</td>
					<td>4</td>
				    </tr>
				    <tr>
            				<td>Rural Development</td>
					<td>17</td>
					<td>11</td>
					<td>4</td>
				    </tr>
				    <tr>
            				<td>Tourism</td>
					<td>17</td>
					<td>11</td>
					<td>4</td>
				    </tr>
				    <tr>
            				<td>Police</td>
					<td>16</td>
					<td>11</td>
					<td>3</td>
				    </tr>
				    <tr>
            				<td>Transport</td>
					<td>16</td>
					<td>11</td>
					<td>3</td>
				    </tr>
				    <tr>
            				<td>Home Affairs</td>
					<td>15</td>
					<td>11</td>
					<td>2</td>
				    </tr>
				    <tr>
            				<td>Mineral Resources</td>
					<td>15</td>
					<td>11</td>
					<td>2</td>
				    </tr>
				    <tr>
            				<td>Social Development</td>
					<td>15</td>
					<td>11</td>
					<td>2</td>
				    </tr>
				    <tr>
            				<td>Arts and Culture</td>
					<td>13</td>
					<td>11</td>
					<td>2</td>
				    </tr>
				    <tr>
            				<td>Sport & Recreation</td>
					<td>13</td>
					<td>11</td>
					<td>2</td>
				    </tr>
				    <tr class="review-total">
            				<td>Average Turnover: 73%</td>
					<td>19</td>
					<td>11</td>
					<td>8</td>
				    </tr>
				    
				</table>
			    </div>


			    <p align="justify">‘Confirmed Membership’ in the above table refers to the total number of MPs that are confirmed to have served on a specific committee as a member during this five-year term. No ‘alternate’ members were included in this total. The average turnover was 73%. </p>

			    <p align="justify">The top five committees with the highest turnover averaged a 115% turnover. This table shows the changes made by each party in those committees:</p>
			    
			    <hr><h4><strong>TOP 5 COMMITTEES WITH THE HIGHEST TURNOVER</strong></h4>  
			    <img src="/static/resources/images/review/turnover.png" width="850" height="280"><BR>
			    
			    
			    <div class="review-table smaller">
				<table>
        			    <tr>
            				<td>Communications</td>
					<td>25</td>
					<td>ANC (18); DA (3); EFF (1); PAC (2); COPE (1)</td>
				    </tr>
				    <tr>
            				<td>Health</td>
					<td>24</td>
					<td>ANC  (8);  DA (5); EFF (4); IFP  (3); NFP  (1); APC (1); UDM (1); AIC (1)</td>
				    </tr>
				    <tr>
            				<td>Trade & Industry</td>
					<td>24</td>
					<td>ANC (15); DA (3); EFF (2); IFP  (3); FF+  (1)</td>
				    </tr>
				    <tr>
            				<td>Environmental Affairs</td>
					<td>23</td>
					<td>ANC (13); DA (4); EFF (3); NFP (1); UDM  (1)</td>
				    </tr>
				    <tr>
            				<td>Economic Development</td>
					<td>23</td>
					<td>ANC (16); DA (3); EFF (2); NFP (1); COPE (1)</td>
				    </tr>
				</table>
			    </div>

			    <p align="justify">Both MP Turnover (term-to-term and during-the-term) and Committee Membership Turnover are an important discussion for parties and Parliament to have if they both share the goal of strengthening lawmaking and oversight and the institution.</p>

			    <p class="review-footnotes"><sup>[1]</sup> The following changes were not included in the MP turnover statistics:<br>

				Mr L Mbinda (PAC) lost his membership in terms of section 47(3)(c) of the Constitution but was later reinstated with effect from the same date.<br>

				Mr T Rawula (EFF) & Mr Zolile Xalisa (EFF) lost their membership in terms of section 47(3)(c) of the Constitution in April 2019 after the National Assembly rose on 22 March 2019.<br>

				Five MPs resigned after the National Assembly rose on 22 March 2019.<br>

				14 party list candidates were not available to take up their seats at the start of the Fifth Parliament.<br><br>


				<sup>[2}</sup> Matland, R. and D. Studlar (2004). Determinants of Legislative Turnover: A Cross‐National Analysis. British Journal of Political Science 34(1): 87–108</p>


			    <p class="review-author-blurb">DISCLAIMER: This is not official data from Parliament. This information has been obtained via the Parliamentary Monitoring Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data is 100% accurate and complete.</p>
			    
			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
			    
			</div>
		    </div>
		</div>
		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
			{% include 'review/_articles.html' %}
        		
		    </div>
		    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html' %}
        		
		    </div>
		    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics<h2>{% include 'review/_stats.html' %}
        		    
		    </div>
		    
		    
		</div>
	    </div>
</div>

{% endblock %}
