<div class="article-title">The Sixth Parliament and the Budget Process: Lessons for the Seventh Parliament</div>

<div class="article-meta">By Ben Cronin</div>

<div class="article-intro">
    The budget process remains an area of vulnerability for Parliament. This is the case in large part because of the
    significant volume of fiscal statutes; truncated times lines for passage of money Bills; and the current limits
    placed on Parliament’s institutional capacity.
</div>



<div class="article-content">

    <div class="bio">
        <strong>Ben Cronin</strong><br />Lecturer in Commercial Law and Advocate of the High Court of South Africa, with
        experience as a State Law Advisor and in taxation law with Webber Wentzel.
    </div>

    <div class="article-image article-image-full">
        <img src="/static/resources/images/pr6/parliament-money-1.png" />
        <div class="caption">The budget process remains an area of vulnerability for Parliament.</div>
    </div>

    <p class="first-par">In the previous review, conducted in 2019, serious questions were raised about the
        institutional capacity of Parliament to fulfil its mandate and perform the basic function of amending
        appropriations.<sup data-fn="1">1</sup> This concern remains as does the possibility that Parliament will face
        legal challenges regarding the passing of fiscal statutes.</p>

    <p>To get a sense of the quantum of ‘fiscal statutes’, including both money Bills and bills relating to tax
        administration, relative to the total number of Acts passed by Parliament the following graph illustrates the
        proportion during the period 2019 to 2023:</p>

    <div class="flourish-embed flourish-chart" data-src="visualisation/17815219">
        <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>

    <p>This graph should be understood as merely an indicative assessment of the scale of ‘fiscal statutes’ relative to
        other Acts passed by Parliament. The period reflected marginally overlaps with the Fifth Parliament and the
        graph does not consider the total number of bills being considered (including their size and complexity). It
        does, however, show the remarkable consistency of fiscal legislation across the five years and its
        disproportionate representation in the total output of Parliament. ‘Fiscal statutes’ accounted for between 30%
        and 56% of the total number of statutes depending on the year in question.</p>

    <p>In reviewing the budget process of the Sixth Parliament this article highlights four specific areas of concern
        for Parliamentarians:
    <ul>
        <li>the need for meaningful public participation;</li>
        <li>the role of the ‘Fiscal Framework’ and Parliament’s discretion to amend money Bills;</li>
        <li>the capacity of the Parliamentary Budget Office (‘Budget Office’) and the review of tax legislation in
            Parliament; and</li>
        <li>the statewide obligations being given effect to by Parliament when enacting fiscal statutes.</li>
    </ul>
    Each of these topics is addressed in turn below in Parts I to IV.
    </p>

    <h3>I The need for meaningful public participation</h3>

    <p>As was indicated in the previous review<sup data-fn="2">2</sup>, the budget is at its centre lawmaking and like
        all legislative processes requires meaningful public participation.<sup data-fn="3">3</sup> The joint committees
        responsible should be commended for genuine attempts to facilitate public participation across the range of
        fiscal statutes, but it should be noted that these efforts were heavily circumscribed by the extremely short
        time periods made available (particularly for appropriations and division of revenue bills) and by the limited
        capacity available to parliamentarians (see Part III below).</p>

    <p>In addition to the persisting challenges, the Sixth Parliament also faced a number of unprecedented hurdles in
        performing its task of facilitating public participation. In this regard, the significant impacts of Covid-19
        shutdowns and the fire that burned down Parliament’s main building, should be noted. On a more positive note,
        there is an increased opportunity to make online submissions, which mitigates the potential of regional
        exclusion for in-person oral submissions.</p>

    <p>A key issue the Seventh Parliament should address is the period of time made available for public participation
        and to recognise that the current model exposes Parliament, particularly in relation to appropriations, to
        potentially successful challenges in court.</p>

    <h3>II The Role of the Fiscal Framework</h3>

    <p>The Money Bills Amendment Procedure and Related Matters Act<sup data-fn="4">4</sup> (‘Amendment Act’) requires
        that Parliament first ‘adopt’ the ‘Fiscal Framework’ presented by National Treasury before considering
        amendments to appropriations and division of revenue bills. The nature of this ‘instrument’ is ambiguous in the
        context of parliamentary process and potentially exposes Parliament to legal challenges. This is particularly
        the case if, as the Amendment Act ostensibly requires, amendments are only made in conformity with the terms of
        the ‘Fiscal Framework’.<sup data-fn="5">5</sup></p>

    <p>Given the most generous interpretation of the Amendment Act the ‘Fiscal Framework’ is a benign but superfluous
        instrument for purposes of lawmaking, but at its least generous it is a contravention of a basic constitutional
        norm that Parliament should have a free and unfettered hand to legislate.</p>

    <h3>III The capacity of the Budget Office and the review of Tax Legislation</h3>

    <p>The Budget Office was established in terms of the Amendment Act with the mandate ‘to provide independent,
        objective and professional advice and analysis to Parliament on matters related to the budget and other money
        Bills’.<sup data-fn="6">6</sup> The Sixth Parliament was the third to receive advice and support from the Budget
        Office.</p>

    <p>The Budget Office has, like National Treasury, displayed high levels of professionalism during this period, but
        unlike National Treasury, the Budget Office is severely under-resourced considering the scale of fiscal statutes
        passing through the Parliament. The Seventh Parliament must consider appropriating a budget suitable to the
        extent of assistance it will require from the Budget Office.</p>

    <p>A particular area that will require some thought is that of tax statutes. The evolution of a two-stage comment
        process for taxing statutes, with the first held by National Treasury and the South African Revenue Service, has
        masked the lack of technical input at Parliament. This is something that should be addressed by the new incoming
        Parliament.</p>

    <h3>IV Statewide obligations being given effect to by Parliament</h3>

    <p>The Sixth Parliament operated during a period of significant austerity in which National Treasury prepared draft
        budgets making deep cuts to public spending across the board. The continued inability, or reluctance, of
        Parliament to amend appropriations and division of revenue bills exposed the legislature to not only potential
        procedural challenges, but also substantive non-compliance with its own constitutional obligations.</p>

    <p>The Financial and Fiscal Commission raised this issue and drew specific attention to regressive cuts in health
        care, which were likely unconstitutional.<sup data-fn="7">7</sup> Professor Sandra Liebenberg in addressing the
        shortfall in meeting constitutional obligations in the wake of the consistent adoption of fiscal consolidation
        wrote:</p>

    <p class="quote">‘Developing a policy and legislative framework to guide and regulate human rights impact
        assessments and meaningful public participation in budgetary decision-making will open spaces for civil society
        organisations and social movements to engage with government on alternative policies that are aligned to
        constitutional rights and values’.<sup data-fn="8">8</sup></p>

    <p>It should also be noted that the Sixth Parliament narrowly escaped challenges to appropriations in matters such
        as the National Education Health and Allied Workers Union v Minister of Public Service and Administration and
        Others<sup data-fn="9">9</sup> where an ostensibly lawful future financial commitment was not budgeted for in
        the new financial year. It is unlikely that the Seventh Parliament would similarly escape such a challenge were
        it not to amend fiscal statutes in line with the obligations imposed on the state.</p>

</div>

<div class="article-footnotes">
    <h3>Footnotes</h3>
    <p class="footnote" data-fn="1">1. See Muller (2019) ‘Why has Parliament not yet made a substantive amendment to the
        national Budget?’.</p>
    <p class="footnote" data-fn="2">2. See Muller (2019) ‘Why has Parliament not yet made a substantive amendment to the
        national Budget?’.</p>
    <p class="footnote" data-fn="3">3. Doctors for Life International v Speaker of the National Assembly and Others 2006
        (6) SA 416 (CC) wherein Ncobo J articulates the obligation in paragraph 129 as being ‘there are at least two
        aspects of the duty to facilitate public involvement. The first is the duty to provide meaningful opportunities
        for public participation in the law-making process. The second is the duty to take measures to ensure that
        people have the ability to take advantage of the opportunities provided’.</p>
    <p class="footnote" data-fn="4">4. Act 9 of 2009. </p>
    <p class="footnote" data-fn="5">5. By way of example in terms of section 9(4) of the Amendment Act, ‘[a]ny amendment
        to the Division of Revenue Bill must be consistent with the adopted fiscal framework and section 214 of the
        Constitution’. </p>
    <p class="footnote" data-fn="6">6. See section 15(1) of the Amendment Act.</p>
    <p class="footnote" data-fn="7">7. Michael Sachs questions the budget’s constitutionality Business Day (2 March
        2021).</p>
    <p class="footnote" data-fn="8">8. Liebenberg, S. Austerity in the midst of a pandemic: Pursuing accountability
        through the socio-economic rights doctrine of non-retrogression. South African Journal on Human Rights 2021,
        VOL. 37, NO. 2, 181–204.</p>
    <p class="footnote" data-fn="9">9. [2022] ZACC 6.</p>

</div>