<div class="article-title">Parliamentary oversight: Reflections on the Sixth Parliament & Lessons for the Seventh
    Parliament</div>

<div class="article-meta">By Devi Pillay</div>

<div class="article-intro">
    In 2023, PARI conducted research into the nature of the oversight function in parliament in South Africa today:
    whether it is working, and how well, what shapes oversight in Parliament, and what can be done to enhance the role
    of Parliament in holding the government of the day to account.
</div>

<div class="article-content">



    <p class="first-par">We used a wide range of sources, including secondary literature and research, of which there is
        a wealth of in-depth and insightful research to draw upon, as well as Parliament’s own reports and statements,
        and South African jurisprudence on the topic. A particularly rich source of data was the statements by MPs and
        others on parliamentary oversight submitted to the Zondo Commission and the transcripts of their testimonies
        given at the hearings, as well as the Commission’s report. We conducted in-depth interviews with MPs from the
        governing and opposition parties (across different portfolio committees), parliamentary staff across different
        units and functions, PMG staff, a parliamentary reporter at a major publication, and a parliamentary liaison
        officer for an organisation that monitors legislation in parliament. We protected the anonymity of our
        interviewees to encourage honest reflection on potentially sensitive topics. The full report, which sets out our
        findings in detail, is <a
            href="https://pari.org.za/report-state-of-parliament-and-its-mps-identifying-challenges-to-oversight-and-proposing-solutions/"
            target="_blank">available on PARI’s website</a>.</p>

    <p>How can we begin to assess the effectiveness of parliamentary oversight? One helpful framework distinguishes
        between explanatory and amendatory accountability.<sup data-fn="1">1</sup> Explanatory accountability refers to
        the giving of reasons and explanation for action taken – as the Constitution, for example, requires the
        Executive to do. Amendatory accountability, on the other hand, is the “obligation to redress grievances by
        taking steps to remedy defects in policy or legislation. This requires members of the Executive to accept that
        something has gone wrong and to take positive actions to remedy it. This means that remedial action could be
        instructed for errors, defects of policy, or maladministration. Amendatory accountability is inherent and
        vitally important in the concept of accountability.</p>

    <p>For parliamentary oversight to be effective – that is, to fulfil its critical, constitutional function of holding
        the Executive accountable for its actions – it must be able to effectively ensure both explanatory and
        amendatory accountability. We found that Parliament is generally able to achieve a degree of explanatory
        accountability, although this is substantially uneven across the different portfolios. Amendatory
        accountability, however, is much more rarely realised.</p>

    <h3>Reflections on the Sixth Parliament</h3>

    <p>By far, most oversight work happens in committees, commonly known as the “engine rooms” of Parliament. PMG has
        explained the work of committees in-depth <a
            href="https://static.pmg.org.za/A_PMG_REVIEW_ON_THE_IMPLEMENTATION_OF_ZONDO_RECOMMENDATIONS.pdf?_gl=1*1fpawuu*_ga*MTk2MDE3NTQ5My4xNjk1ODg2MDg2*_ga_EBG7VD75NV*MTcxMjkxNTIxOS40ODcuMS4xNzEyOTE1MjUzLjAuMC4w"
            target="_blank">here</a> and <a
            href="https://static.pmg.org.za/PMG_Zondo_Report.pdf?_gl=1*q3nduz*_ga*MTk2MDE3NTQ5My4xNjk1ODg2MDg2*_ga_EBG7VD75NV*MTcxMjkxNTIxOS40ODcuMS4xNzEyOTE1MjcwLjAuMC4w"
            target="_blank">here</a>. We found, in line with the findings of the Zondo Commission and other research,
        that the oversight powers and mechanisms available to committees and MPs are generally sufficient for exercising
        their oversight duties. This means that they are not significantly constrained by the legislative and regulatory
        frameworks governing the work of Parliament. However, it is clear that Parliament’s ability to exercise these
        powers that are at its disposal and use the mechanisms available to hold the Executive accountable is weak.</p>

    

    <p>What do we mean by this? Parliament does perform the routines of oversight extremely well. In contrast to the
        popular perception – that MPs do very little if anything at all – committees are incredibly busy and spend a
        great deal of time and resources on oversight work. By and large, committees conduct all the oversight
        activities they are supposed to: they hold meetings, they receive and process reports from reporting
        institutions, they question ministers, they review budgets, and so on. Committees are constantly engaged as the
        oversight cycle rolls forward.</p>

    <p>However, these routines of oversight do not necessarily translate into effective accountability. We found that
        the performance of individual committees is starkly uneven. A few committees perform well, while most others
        appear to be very weak. Performance differs not only across portfolios but also over time. Some committees have
        improved over time, while others which may have been effective in the past have deteriorated.</p>

    <p>A few committees are able to effectively exercise accountability. By this, we mean that they are able to
        meaningfully scrutinise the work of the executive, surface important information about government activities,
        and hold the executive accountable for failing to fulfil its legal obligations and policy promises. Other
        committees, which are less effective, tend to be procedurally compliant – that is, they process all the same
        reports and undertake all the same activities, but conduct this work at a superficial level and do not attempt
        to hold the executive accountable. They rarely ask meaningful questions or scrutinise the performance of the
        Executive with any real depth – and the Executive frequently gets away with late, insufficient, and
        unsatisfactory reports and responses. Parliamentary oversight makes little to no impact on how the Executive
        proceeds with its work.</p>

    <p>We also studied oversight processes that take place outside committees, including questions to the Executive and
        plenary debates. We found that they can be used effectively, but are affected by many of the same weaknesses we
        identified in the committee system. The mechanism through which MPs ask questions of members of the Executive
        functions well, for example, and surfaces valuable information, but is largely used by opposition MPs and rarely
        results in meaningful accountability.</p>

    <p>What explains these weaknesses? We have found four main reasons for the ineffectiveness of committee oversight.
    </p>

    <p>Firstly, the political environment disincentivises close scrutiny of the Executive – even though they have strong
        oversight powers, MPs tend not to use them. MPs of the majority party must exercise oversight over senior
        members of their own party who occupy positions in the Executive – the same members who determine the
        composition of the electoral list during the following elections. There is an inherent incentive to protect
        senior members of the Executive and the image of the party. The governing party has frequently dissuaded its MPs
        from holding the executive accountable in any meaningful way. This environment can also incentivise opposition
        MPs to behave as antagonists, focusing on scoring political goals over making constructive, collaborative
        interventions. It was clear from all of our interviews – and all of the testimonies at the Zondo Commission –
        that this political environment is the main obstacle to effective oversight.</p>

    <p>Secondly, we found that most committees work in ways that are generally ineffective and even sometimes
        counter-productive. They allow the Executive to present lengthy reports, taking up most or all of the time
        allocated to oversight. When MPs are afforded the opportunity to ask questions, this is conducted in an
        unproductive format which elides effective interrogation and meaningful responses. There is a preoccupation with
        protocol and formality which often derails meetings on substantive matters. Committees also tend to focus on
        financial and operational matters, to the exclusion of addressing larger questions of executive performance,
        meaningful impact, and the overall accountability chain in government.</p>

    <p>Thirdly, oversight is under-resourced. This is true in terms of the money allocated to oversight functions, which
        is insufficient, and the way funds are allocated or prioritised is often problematic. Committees also do not
        have enough time for oversight activities over the wide range of institutions they oversee. Technical support is
        also an area where committees sorely need more resources. Content advisors, researchers, legal advisors, and
        financial experts are indispensable in supporting oversight activities, but the research units are
        under-capacitated and unable to meet the growing demand for their services due to lack of resources.</p>

    <p>Fourthly, many MPs do not have either the necessary capabilities or the commitment required to effectively fulfil
        their oversight duties. Parliament can only ever be as effective as its members. MPs need to be knowledgeable of
        the work of the departments they oversee, government processes, and the broader socio-economic context so that
        they are able to interrogate the implementation of government policy for the benefit of citizens. They also need
        to understand the rules and powers of Parliament itself; they have many oversight tools at their disposal and
        must be able to use them effectively.</p>

    <p>Our research has found that many MPs lack the requisite capabilities to effectively pursue oversight in three
        ways. Firstly, some MPs fail to adequately prepare themselves for oversight activities and make little to no
        effort to grapple with the issues at hand. These members view oversight as a ‘tick-box exercise.’ Secondly, many
        members lack the skills and experience to effectively conduct oversight, even if they are committed in
        principle. Thirdly, some MPs – both majority and opposition – are overly concerned with showmanship and
        politicking and fail to effectively fulfil their oversight duties due to this preoccupation.</p>

        <blockquote>
            Committees that do exercise oversight keep identifying the same problems and making the same recommendations, but there have been no consequences for the executive authorities and no observable impact on delivery
        </blockquote>

    <p>Overall, we have found that there is a strong commitment to the processes and routines of explanatory
        accountability. Committees meet, receive reports, question ministers, and generally comply with all that is
        required of them in terms of oversight. Unfortunately, much of this is driven by procedural compliance – while
        the executive may be held to account for failing to report, it is not rigorously scrutinised for what it
        reports. This is not always the case – there are pockets of effectiveness and certain portfolio committees are
        managing to conduct rigorous and in-depth oversight – but it is relatively common. Amendatory accountability is,
        unfortunately, barely realised. Committees that do exercise oversight keep identifying the same problems and
        making the same recommendations, but there have been no consequences for the executive authorities and no
        observable impact on delivery. Nevertheless, Parliament has powerful oversight tools that could be used very
        effectively by committees and MPs if they are committed to accountability.</p>

    <h3>Seven Lessons for the Seventh Parliament</h3>

    <p>What lessons can the Seventh Parliament take forward to enhance oversight and accountability? Here are seven
        things to consider for the incoming legislature.</p>

    <h3>1. Change the ways committees handle oversight meetings</h3>

    <p>The way in which a committee meeting is run can either hamstring accountability or
        empower it. Some committees have independently developed more effective ways of running meetings, handling
        reports, questioning the executive, and conducting oversight activities. This is laudable; other committees
        should take note of these innovations, not just in adopting some of these practices, but also in shedding the
        rigid adherence to old, institutionalised practices that have proven to be ineffective.
    </p>

    <p>An effective oversight meeting:</p>
    <ul>
        <li>is based on materials distributed sufficiently in advance;</li>
        <li>allocates minimal time to presentations from the Executive and as much time as possible for questioning;
        </li>
        <li>proceeds on the basis that all attendees are familiar with the materials to be discussed;</li>
        <li>provides for in-depth questioning by committee members, by allocating sufficient time per member and
            allowing direct follow-ups, rather than taking rounds of questions and allowing a presenting entity to
            respond all at once;</li>
        <li>takes into account the results of previous oversight activities, including following up on previous
            recommendations;</li>
        <li>results in a comprehensive report, including actionable recommendations with clear timeframes, which not
            only notes dissent from committee members on resolutions but records the reasons for the dissent.</li>
    </ul>

    <p>Committees should also meet more often and for longer periods. 3 to 4 hours per week is hardly enough time to
        fully probe a complex report from a large institution, let alone deal with all of the other issues within a
        portfolio. We also support PMG’s suggestion that more committees look into dedicated subcommittees, especially
        when the committee oversees a large number of entities or the department it oversees has two distinct mandates.
        This would ensure that key issues do not get lost in the generally overburdened programme of the committee.</p>

    <h3>2. Appoint effective chairs</h3>

    <p>Effective committees always have a stand-out chair. The chair sets the tone for the committee, how its meetings
        will be run, what will be tolerated and what will not, and how robust discussion can be. The effectiveness of a
        chair depends on their leadership skills and the level of trust, respect, and collaboration they are able to
        foster within the committee across partisan lines. We echo the recommendation for a system of proportional
        allocation of committee chairs according to party seats. In a system such as this, opposition chairs are not
        subject to political pressures from the executive and party leadership but majority parties still make up the
        majority of committee members, and are therefore still empowered to pass resolutions and direct committee
        activities. Opposition chairs have been among the more effective in our committees.</p>

    <h3>3. Sufficiently resource oversight activities</h3>

    <p>We support improving the resourcing of oversight, specifically, financial resources and the time allocated, and
        strengthening the research and support capacity available to committees. </p>

    <h3>4. Improve capabilities of MPs</h3>

    <p>A committee comprised of effective MPs can have substantial impacts on the outcomes of oversight. A team of
        effective MPs can navigate, or even overcome, many of the challenges described in our research. An effective MP,
        in terms of oversight:</p>
    <ul>
        <li>is well-versed in the area overseen by their portfolio committee;</li>
        <li>understands the mandates, functions and operations of overseen entities;</li>
        <li>reads widely and seeks additional information where relevant; </li>
        <li>is collegial and can work with members from other parties;</li>
        <li>maintains connections with stakeholders relevant to the overseen entities;</li>
        <li>is analytically-minded and can scrutinise complex issues;</li>
        <li>asks informed, direct, and meaningful questions;</li>
        <li>understands the rules and powers of Parliament, and particularly of portfolio committees;</li>
        <li>is dedicated to holding the executive accountable. </li>
    </ul>

    <p>Of course, this depends on political parties’ willingness and ability to select appropriate individuals for their
        party lists, and take action when their MPs are ineffective. MPs who are committed to oversight should take
        steps to improve their capabilities, and Parliament itself should enhance training and improve ways of retaining
        institutional memory. Committee chairs should encourage MPs to contribute effectively and meaningfully.</p>

    <h3>5. Insulate Parliament from partisan pressures</h3>

    <p>Much research has been done on the nature of the electoral system and how that affects the political environment
        in Parliament. The impact of recent changes to the system remains to be seen, and whether further changes will
        be made is uncertain. There are some things that can be done within the current system to protect Parliament
        from improper partisan interference, however. Presiding officers and House chairpersons should be required to
        resign from senior party-political posts for the duration of their appointment. Their duties – and the powers
        afforded to them for the fulfilment of those duties – require that they be impartial and independent, and they
        should not have competing obligations to their parties. A greater proportion of opposition party committee
        chairs could make a significant difference to the ways political conflicts play out within committees.</p>

    <h3>6. Improve amendatory accountability</h3>

    <p>Exactly how to achieve amendatory accountability is a thorny problem. Parliament cannot overstep the bounds of
        separation of powers and dictate the use of executive power but it can, and should, instruct the executive to
        take remedial action where they have failed to perform. We support the creation of a mechanism to track and
        follow-up on recommendations made to the Executive, and for meaningful and appropriate use of amendatory powers
        which Parliament already has but rarely uses.</p>

    <p>Parliament must be able to make meaningful and actionable recommendations. Committees already issue
        recommendations in their oversight reports to the House; when these are adopted, they are given the force of
        House resolutions. Our research shows that these recommendations need to be carefully developed to be effective.
        They must be clearly actionable – usually broken into different steps – and must include stipulated reasonable
        timeframes. The recommendations themselves must be within Parliament’s remit – instructions to provide
        information, for example, or to present a plan to address a failing.</p>

    <p>Ensuring true amendatory accountability takes place, and not simply procedural compliance with the rules, will
        ultimately require a productive political environment and culture of oversight within Parliament.</p>

    <h3>The role of civil society</h3>

    <p>There is much for Parliament to take into account in the seven lessons outlined above. But there is a role for
        civil society, too, in two key ways.</p>

    <p>The first is participation in the activities of oversight committees. Civil society organisations, unions,
        community groups, academic institutions and other stakeholders can provide important information and draw
        attention to critical issues. Committees should encourage and facilitate them to make inputs and submissions on
        oversight matters, and we in civil society should make an active effort to engage with and contribute to the
        work of committees.</p>

    <p>The second way is by actively overseeing the performance of Parliament itself. We should take an active interest
        in the business of Parliament, especially the work of portfolio committees. This means paying attention to
        committee meetings and reports, monitoring the performance of individual MPs (especially in prominent
        positions), undertaking research and investigations to assess the effectiveness of parliamentary oversight,
        noting issues that have fallen through the cracks, using parliamentary reports and resolutions to demand answers
        and accountability from the executive, and reporting on all the above in ways that are publicly available,
        accessible, and comprehensible.</p>

    <p>Consistent pressure from below can help ensure that our elected parliamentarians are working in our best
        interests and properly fulfilling their key role in holding the Executive accountable.</p>
</div>

<div class="bio">
    <strong>Devi Pillay</strong><br />Researcher and analyst focusing on corruption and state capture, with an MA in
    History and involvement in academic research at the Public Affairs Research Institute (PARI).
</div>

<div class="article-footnotes">
    <p class="footnote" data-fn="1">1. See Corder, H., Jagwanth, S., Soltau, F., 1999. Report on Parliamentary Oversight
        and Accountability. Faculty of Law, University of Cape Town.</p>

</div>