<div class="article-title">Legacy Report on the Code of Conduct for Members of Parliament</div>

<div class="article-meta">By Fazela Mohamed</div>

<div class="article-intro">

</div>



<div class="article-content">


    <div class="article-image article-image-full">
        <img src="/static/resources/images/pr6/article-images/code-of-conduct.jpg" />
    </div>




 <p class="first-par"></p>The Code of Conduct for elected representatives is based on constitutional values – it
 reinforces values for public life and has conflict of interest rules. The Code identifies prohibited conduct like
 lobbying for remuneration and prohibiting members from doing business with the state and well-established rules for
 disclosure of financial interests.</p>
 <p>The South African ethical framework for elected representatives includes the Executive Members Ethics Act of
 1998; the Code of Conduct for Members of Parliament, Codes of Conduct adopted by Provincial Legislatures and
 Codes of Conduct for Councillors.</p>
 <p>The first Code for Members of Parliament was adopted on 21 May 1996. The stated objectives of the Code at that
 time were to build a truly open, transparent and accountable state as intended in the Constitution. A priority
 was the transformation of the apartheid state that was a control-orientated system that isolated the government
 from the people. The development of an ethical framework was intended to give effect to the new ethos of
 accountability, transparency and openness.</p>
 <p>In 1998 the Municipal Structures Act was adopted and included a Code of Conduct for Councillors.</p>
 <p>The purpose of these Codes of Conduct for elected representatives was to set a framework for the agreed
 constitutional values for the society. In effect, it was meant to give an institutional expression of the social
 compact between elected representatives and the people of South Africa.</p>
 <p>The content of these Codes was premised on the avoidance of conflict of interest, as such there were requirements
 for the disclosure of financial interests which had the potential to create a conflict of interest between the
 responsibilities of a Member and his or her financial interest, and further to prevent undue benefit arising
 from his/her office as a Member of Parliament. Members were prohibited from lobbying for remuneration and
 required permission from their political parties to seek remunerated employment outside Parliament.</p>
<blockquote>
    “These Codes of Conduct sought to socialise ethical conduct and to build a corrupt free and ethical governance system. Unfortunately, as the events in the last few years have shown this outcome has not been achieved” 
</blockquote>

 <p>These Codes of Conduct sought to socialise ethical conduct and to build a corrupt free and ethical governance
 system. Unfortunately, as the events in the last few years have shown this outcome has not been achieved.</p>
 <p>This could be attributed to the following factors - poor compliance levels, the lack of political will to enforce
 ethical rules and poor sanctions. The focus in many instances was on compliance with the rules and regulations.
 There is no systematic building of an ethos of public service and working in the public interest. It was assumed
 that compliance with the Codes would entrench ethical behaviour.</p>
 <p>There is an important missing link. The purpose of these Codes for elected representatives is to engender public
 trust and confidence in government, however very little has been done to explain this important accountability
 mechanism for elected representatives. This can be shown by the very few public complaints made against Members
 – despite public discourse on the corrupt activities of individuals, very few make formal complaints.</p>
 <p>Since the inception of democracy in South Africa, there have been no awareness campaigns explaining the ethical
 codes to the majority of South Africans. The lack of awareness of the standards which the public has a right to
 expect has created an opportunity for disregarding ethics.</p>
 <p>Codes of conduct have limitations; they cannot be the only means to combat corruption effectively. Serious and
 wilful breaches must be left to anti-corruption agencies. The biggest issue is the lack of consequences for
 those implicated in serious scandals.</p>
 <h3>Evolution of the Code of Conduct for Members of Parliament.</h3>
 <p>The Code was based on the following premises:</p>
 <p>(i) The Code would not be a deterrent to those who intended corrupt behaviour, and that corrupt behaviour should
 be investigated by law enforcement. The Code sought to entrench openness and transparency which allowed for the
 detection of impropriety, </p>
 <p>(ii) The underlying assumption was that political parties would take action against those who breached ethical
 conduct in Parliament.</p>
 <p>(iii) The disclosure of financial interest was not a measure of a Member’s wealth but focussed on those interests
 and benefits which could create a conflict of interest, it was not an asset register. and</p>
 <p>(iv) The Code sought to create the norms for ethical conduct.</p>
 <p>(v) The Code provides guidelines for Members on the behaviours which are permitted, those behaviours which are
 prohibited and the rules for the resolution of conflicts of interest.</p>
 <p>The first major challenge faced by the Joint Committee on Member’s Interests was in 2001 related to allegations
 about the procurement of the Strategic Defence Package (Arms Deal). One such allegation was that a senior Member
 of Parliament had received a motor vehicle as a “gift” from one of the bidders in the Arms Deal.</p>
 <p>It became clear at the outset that the presumption that a Member would resign when implicated in improper conduct
 was incorrect. Political parties were reluctant to remove a Member based on “allegations” not proven in court.
 This set a precedent which allowed Members to continue as Members despite the seriousness of the allegations
 they faced. As a result, many Members were allowed to escape serious consequences because of the lack of
 internal governance processes within political parties to enhance organisational integrity.</p>
 <p>The resignation of the Speaker of the National Assembly in recent days after allegations of bribery suggests that
 this trend may change, as public demands for accountability increase.
 In the period 2004-2014, the Committee, after receiving a slew of serious complaints, recognised that the 1996
 Code of Conduct which focussed on the disclosure of financial interests and benefits received was not sufficient
 to prevent the improper use of influence and ensure that conflicts of interest would be resolved in the public
 interest. It noted that the sanctions prescribed were not sufficient to deter improper conduct.</p>
 <p>It is on this basis that the Code of Conduct was reviewed. On 13 March 2014, the Joint Committee on Ethics and
 Members Interests adopted the Code of Ethical Conduct and the Disclosure of Financial Interests for Assembly and
 Council Members.</p>
 <p>This Code set out the minimum standards of ethical conduct and outlined rules for resolving any conflict of
 interest in favour of the public interest. The Code set out provisions prohibiting a Member of Parliament from
 doing business with the state. It also prohibited the improper use of influence to benefit the Member, his or
 her family or business partner.</p>
 <p>The 2014 revised Code, set out the criteria for granting permission for outside employment. It required that
 Members comply with the administrative requirements on facilities and benefits which they received.</p>
 <p>The registrable interests now included the disclosure of trusts and encumbrances (liabilities). A comprehensive
 procedure for the investigation was also developed. The sanctions ranged from a reprimand to the reduction of
 salary or allowance not exceeding 30 days; in cases of a minor breach of the Code, the Member could be ordered
 to rectify the breach. The Committee could recommend a greater sanction it deems appropriate to the House.</p>
 <p>While there has been a call for more sanctions, it is my view that current sanctions are sufficient, and allow
 the Committee sufficient discretion to recommend heavier sanctions. It does not require additional measures. The
 lack of sanctions is a reflection of the political will to recommend appropriate sanctions for serious breaches.
 It must also be noted that illegal activity must be dealt with through the justice system.</p>
 <p>The system of disclosure is based on the good faith of Members. The Registrar of Members’ Interests previously
 had no authority to review disclosures submitted by Members unless there is a valid complaint against the Member
 concerned. Over the years a practice has emerged, where the Registrar compares the Member’s disclosure to the
 information at CIPC. If there are discrepancies the Member is asked to verify. No other forms of check have been
 instituted to verify the correctness or completeness of the disclosures by Members.</p>
 <p>Parliament passed a <a href="https://pmg.org.za/page/code-of-ethical-conduct" target="_blank">revised</a> code in May 2024, which made substantial changes: </p>
 <p>(i) The Code does not apply to former Members. The 2014 Code included a provision that former Members who abuse
 facilities that are given to former Members.</p>
 <p>(ii) The Code does not apply to Ministers and Deputy Ministers appointed by the President in terms of section
 91(c) of the Constitution.</p>
 <p>(iii) Additional disclosure requirements relating to rented property, and assets generating income.</p>
 <p>(iv) Provisions on the verification of disclosures and the conducting of lifestyle audits. It also identifies
 categories of Members who may be subject to verification and lifestyle audits. </p>
 <p>(v) Complaints must now be in the form of a sworn affidavit. </p>
 <h3>Assessment of the proposed draft Code of Conduct </h3>
 <p>To assess the latest review, there is a need to understand the rationale for including former Members. The
 inclusion of former Members in 2014 was in response to the controversy about the use of travel facilities by
 former members. The Committee felt that improper use of travel facilities should be subject to sanction. The
 decision to remove must be tested against the measures in the administrative system to control any misuse.</p>
 <p>Executive Members who were appointed by the President are not accountable. Previously these Members were always
 subject to accountability to the Legislature. They are still bound by the Executive Members Ethics Act. The
 non-applicability of the Code to those Members creates less access to the Member’s disclosure as the publication
 of the Executive record is not as easily accessible as Parliament.</p>
 <p>From the outset, the categories of disclosure of interests were based on those categories of interests that had
 the potential to create a conflict of interest. The addition of the disclosure of income-generating assets is
 not sufficient if the new disclosures intend to measure wealth or the acquisition of wealth during a Member's
 term in office. These need to be carefully considered. For example, consideration should be given to the
 acquisition of assets exceeding certain values during the tenure of a Member.</p>
 <p>The provisions for conducting lifestyle audits require further elaboration. The revised Code does not
 sufficiently explain the frequency of the lifestyle audit, nor does it explain what a red flag on the
 e-disclosure system means. The lifestyle audits take time and are costly; perhaps there needs to be an extension
 of the disclosure to include categories which measure a Member’s wealth at the beginning of a term and then
 Members could disclose the acquisition of assets during their tenure. In addition, the Committee must balance
 the Member’s right to privacy and the accountability requirements. Making the disclosure requirements very
 onerous, may impact the extent of compliance.</p>
 <p>The bar for submission of complaints has been raised with the requirement of an affidavit or sworn statement. In
 the previous Code, the Committee agreed that the initial investigation procedure would weed out frivolous and
 vexatious complaints.</p>
 <h3>Other applicable Codes</h3>
 <p>The requirements for Codes of Conduct for public representatives at executive, local, provincial and national
 differ substantially.</p>
 <p>The Executive Members Ethics Act applies to all Executive Members in the national and provincial spheres. The
 compliance levels on the provisions of the Executive Ethics Member Act vary between provinces. Despite the
 recommendations by the Public Protector, the Executive Members Ethics Act has not been amended.</p>
 <p>Each Provincial Legislature has a code of conduct and the content varies amongst provinces. The Western Cape
 Legislature has legislated its Code and has a Registrar who acts on the instruction of the Committee, whilst the
 Gauteng and North West Legislatures have appointed Integrity Commissioners. Other provincial legislatures have
 Registrars who often play multiple roles in the legislature. The compliance levels in the provinces are uneven.
 </p>
 <p>The implementation of the Code is done in one of two ways, namely, the Ethics Committee, supported by a
 Registrar, makes recommendations to the House. Therefore, the Registrar of Members’ Interests acts on the
 instruction of the Committee. This is a system where the Member’s peers decide on the complaint against a
 Member.</p>
 <p>The second system is based on the appointment of an independent Integrity Commissioner who operates independently
 and makes recommendations to the Speaker. In the event of a dispute on the findings of the Integrity
 Commissioner, the Speaker may convene a Committee to consider the matter.</p>
 <p>
 Both systems are ultimately dependent on the political will and the institutional culture to ensure that the
 recommendations of the Registrar or Integrity Commissioner are accepted.
 The workload of the Registrar increased due to the allegations revealed by the Commission on State Capture. The
 Office of the Registrar does not have the resources to conduct numerous investigations simultaneously. The
 Registrar is required to conduct all investigations, present the case to the Committee and oversee the
 disclosure of interests. The verifications and lifestyle audits will increase the workload of the Office of the
 Registrar.
 </p>
 <p>The investigative capacity in many legislatures is insufficient. The current addition of lifestyle audits at
 Parliament will be time-consuming and costly. The lifestyle audits should be conducted by forensic staff. At
 Parliament, the Committee is supported by the Registrar and a Legal Adviser and one administrator. Depending on
 the number of complaints the Registrar may need additional support for investigations, and finalisation of
 reports.</p>
 <p>The Code of Conduct for Councillors is part of the Municipal Structures Act. Whilst the Act provides a framework,
 the municipalities do not have the same standards, nor is the Code uniformly implemented. The Johannesburg City
 Council has appointed an Integrity Commissioner, whilst smaller municipal councils have insufficient capacity to
 enforce the Code.</p>
 <p>The access to the public disclosures varies. It ultimately depends on the interpretation of the official/s at
 that institution.</p>
 <p>The case against Dipuo Peters is interesting as relates to action by the Members of Parliament in her role as
 Minister. It focussed on the ethical values and less on the personal interest of the Member concerned. </p>
 <h3>Recommendations</h3>
 <p>The goal of the Code of Conduct is to foster the trust and confidence of citizens in elected representatives. Is
 it perhaps time to consider a values-based response to ethics? Compliance with rules is an important component
 of the ethics infrastructure. </p>
 <p>(i) I would recommend a single legislated Code of Conduct, for all elected representatives with shared values,
 uniform standards of ethical conduct and the same disclosure of financial interest rules which are underpinned
 by a values-based system with high levels of compliance.</p>
 <p>(ii) There should be an upper limit for the acceptance of gifts. Gifts exceeding a set value should be declined
 by the Member. Similarly, loans above a determined value from individuals or companies, which are not financial
 service providers should be disclosed publicly. Currently, loans are disclosed in the confidential section of
 the Register.</p>
 <p>(iii) Clarification on lifestyle audits, their frequency, and the extent of assessment. Whether the audit will
 only apply to the Member, its applicability to family members. What areas of the lifestyle will be measured? In
 the context of a poorly resourced office of the Registrar, effective implementation will be hampered, causing
 more distrust.</p>
 <p>(v) The creation of an office at Parliament to advise elected representatives, to give guidance to ethics
 officials on the investigation of complaints, particularly at the local government level who are often not well
 experienced in ethics.</p>
 <p>(vi) To develop extensive public participation which includes a campaign to promote ethical values and to clarify
 Members' roles and responsibilities. To build public awareness of the Codes, and the complaints mechanisms. To
 promote anti-bribery and whistle-blowing campaigns, particularly in respect of public procurement.</p>
 <p>(vii) Increase the number of ethics workshops for Members, with compulsory attendance of Ethics Committee
 members.</p>
 <p>(viii) The Ethics Committee consider a seminar on whether the Dipuo Peters case is a precedent on holding the
 executive to account.</p>




</div>
<div class="bio">
    <strong>Fazela Mohamed</strong><br />Ethics Consultant and former Registrar of Members' Interests in Parliament.
   
    </div>