<div class="article-title">Legacy Reports &amp; 7th Parliament</div>

<div class="article-meta">By PMG</div>

<div class="article-intro">

</div>



<div class="article-content">

    <p class="first-par">Each parliamentary committee publishes a legacy report at the end of the 5-year parliamentary term.  This report aims to provide an account of their work and activities during the term and highlight emerging trends. In addition, it summarises the key issues for follow-up and concludes with recommendations to strengthen operational and procedural processes to enhance the Committee’s oversight and legislative roles in future. The reports ought to serve as handover reports for the incoming committees.</p> 
    <p>We asked select organisations to give their reflections on the work of specific committees during the Sixth Parliament</p> 
        <a href="https://static.pmg.org.za/FINAL_CW_Input_on_Legacy_Reports_FINAL_16_4_24.pdf?_gl=1*8p7c7o*_ga*NjgxOTA2NTczLjE3MDIwMTk1Njc.*_ga_EBG7VD75NV*MTcxMzUxMTY4Mi4xNDIuMS4xNzEzNTEzNjQ3LjAuMC4w" target="_blank">Corruption Watch (CW)</a><br/>
        <a href="https://static.pmg.org.za/COSATU_Submission.pdf?_gl=1*1qnt9u4*_ga*NjgxOTA2NTczLjE3MDIwMTk1Njc.*_ga_EBG7VD75NV*MTcxMzUxMTY4Mi4xNDIuMC4xNzEzNTExNjgyLjAuMC4w" target="_blank">Congress of South African Trade Unions (COSATU)</a><br/>
        <a href="https://static.pmg.org.za/PMG_Interview_with_THE_LAND_AND_ACCOUNTABILITY_RESEARCH_CENTRE.pdf" target="_blank">Land and Accountability Research Centre (LARC)</a><br/>
        <a href="https://static.pmg.org.za/OUTA_contribution_to_PMG_6th_Parliament.pdf" target="_blank">Organisation Undoing Tax Abuse (OUTA)</a>
        </p>

<p>Review <a href="https://pmg.org.za/page/LegacyReports" target="_blank">Legacy Reports</a></p>
<p>The legacy reports are important instruments but do not give a complete assessment of the quality of parliamentary oversight in terms of mandate, performance and impact.</p> 
<p>The fact that committees hold more meetings, write more and longer reports, consider a larger number of bills, call more witnesses may suggest that committees do more work, but this does not provide any clue as to whether they work better. Since performance involves a qualitative dimension, assessing committee performance exclusively based on quantity could lead to misleading conclusions. A proper evaluation cannot be based on quantity alone but should also, and more importantly, be based on <a href="https://knowledgehub.transparency.org/assets/uploads/kproducts/Parliamentary-oversight-assessment-tool.pdf" target="_blank">quality</a>.</p>
<p>This includes a comparison and examination of legacy reports across Parliaments and stakeholder input.</p>  
<p>Notionally, all committees perform their representative, law-making, budgetary, and oversight functions. However, a deeper analysis will show gaps and weaknesses. These include a failure to amend the budget and to use all the available tools at their disposal.</p> 
<p>As part of its strategy for the 7th Parliament, the legislature will shift to an outcome and impact-driven focus. The revised framework places a strong emphasis on aligning parliamentary activities and performance with the overarching objectives of the National Development Plan (NDP). By incorporating NDP impact indicators related to poverty reduction, unemployment rates, and measures of inequality, Parliament can more effectively monitor its role in addressing socioeconomic disparities within the country.</p> 
<h3>7th Parliament</h3>
<p>As part of its strategy for the 7th Parliament, the legislature will shift to an outcome and impact-driven focus. The revised framework places a strong emphasis on aligning parliamentary activities and performance with the overarching objectives of the National Development Plan (NDP). By incorporating NDP impact indicators related to poverty reduction, unemployment rates, and measures of inequality, Parliament can more effectively monitor its role in addressing socioeconomic disparities within the country.</p>
<p>MPs spent the last 6 months tweaking and upgrading their rules and guides.</p>
<p>The scope of the reform was to address long-standing problems to strengthen the institution.  </p>
Here’s a sneak peek of how parliamentary business will change during the next mandate.

<p>-The <a href="https://pmg.org.za/tabled-committee-report/5742/" target="_blank">new Petitions framework</a> will herald a new era of direct public engagement in parliamentary processes. Parliament <a href="https://www.parliament.gov.za/press-releases/media-statement-members-public-can-now-directly-petition-national-assembly" target="_blank">states</a>: “Previously, public petitions required a Member of Parliament to act as an intermediary between the House and a member of the public. Also, before this amendment, the provision allowing members of the public to submit petitions directly, without Members of Parliament as intermediaries, was exclusive to the National Council of Provinces (NCOP). Now, this significant reform empowers members of the public to directly approach Parliament, fostering a more open, transparent, and responsive legislative body”.</p> 
<p>-The <a href="https://pmg.org.za/tabled-committee-report/5741/" target="_blank">revised Code of Ethical Conduct and Disclosure of Members' Interests for Assembly and Council Members</a> will see the introduction of lifestyle audits for all senior parliamentarians, fines of up to R45 000 for ethical breaches, and a clampdown on irresponsible social media usage.</p>

<p>-Another goal of the reform was to enhance the legislature’s scrutiny over the Executive. The NA <a href="https://pmg.org.za/tabled-committee-report/5743/" target="_blank">adopted a model</a> to follow up with government assurances made by Ministers from the floor of the House. A record will be maintained of these undertakings, and the Speaker will refer them to the relevant oversight committee. Further, the Rules Committee endorsed a system to monitor the implementation of House resolutions.</p> 
<p>-The <a href="https://pmg.org.za/committee-meeting/38556/" target="_blank">new rules</a> provide for greater clarity in the processing of bills through a joint committee process under certain conditions.</p>
<p>-The <a href="https://pmg.org.za/committee-meeting/38681/" target="_blank">new rules</a> improve the coordination, planning, communication and reporting between the Leader of Government Business (the Deputy President) and the Legislature to avoid delays in the introduction of bills.</p>
<p>-Once the political consultations are concluded, <a href="https://pmg.org.za/tabled-committee-report/5743/" target="_blank">new rules</a> will enable the Legislature to fully participate and potentially amend government budgets.</p> 
<p>
    -An appropriate committee will be assigned the task of scrutinising the budget of the Presidency.</p>
<p>Beyond this, the South African Legislative Sector (SALS) Oversight Summit <a href="https://www.parliament.gov.za/press-releases/2024-south-african-legislative-sector-oversight-summit-declaration" target="_blank">adopted resolutions</a> in January 2024 that has future implications for the sector:
</p>
<p><strong>1 On the effectiveness of Oversight in the legislature and opportunities for improvement – sharing national, continental, and international perspectives:</strong></p>

<p>We commit to:</p>
<ul>
<li>Incorporate performance monitoring and evaluation in all the oversight activities to conduct effective oversight and improve the lives of South Africans.</li>
<li>Engage in more collaborative oversight between the various spheres of government, Institutions Supporting Democracy, and Civil Society.</li>
<li>Reviewing the strategic vision, global practices, upholding core values as well as technological modernisation to enhance oversight, and</li>
<li>Implementation of legislation enabling the amendment of Money Bills across all the members of the Legislative Sector.</li>
<li>Conduct a review of Oversight tools such as the Sector Oversight Model (SOM) to measure its effectiveness in the Sector to be adapted to fit for purpose.</li>
<li>The capacitating of Members and staff (human resources) on the oversight strategies, tools, and Information and Communications Technology (ICT)</li>
</ul>

<p><strong>2. On the effectiveness of Parliamentary Oversight and its contribution to the realisation of relevant development strategies (NDP, SADC Master Plan, AU Agenda 2063 & SDGs)</strong></p>

<p>We commit to:</p>
<ul>
<li>The Sector to utilize empirical data to plan, implement and evaluate oversight activities to realize the relevant development strategies envisaged in the NDP, Master Plan, AU Agenda 2063, and SDGs</li>
<li>Improve the capacity of Legislatures by resourcing committees and appointment of suitably qualified professionals and managers in Legislatures.</li>
</ul>
<p><strong>3. On the Effectiveness of the South African Legislative Sector and approaches to public involvement in the oversight process</strong></p> 

<p>We commit to:</p>
<ul>
<li>Systematically evaluate and review the Public Participation Framework and public participation processes for effectiveness oversight in Legislatures.</li>
<li>Systematically evaluate the functioning and effectiveness of ad-hoc committees.</li>
<li>Utilising data produced by academia and Chapter 9 institutions more effectively. Data on performance, outcomes of government programmes, and citizens’ satisfaction necessary to perform oversight is available but is poorly utilised.</li>
<li>Utilising legislative processes, rules, and tools such as petitions and public hearings more effectively to exercise oversight in a timeous and effective manner. This will necessitate capacity building within the Legislative Sector.</li>
<li>Exercising law-making mandate by properly scrutinising legislation from the perspective of implementation timelines, budgetary implications, and executive capacity.</li>
<li>Consider whether the budgets for the Legislative Sector, the Judiciary, and Institutions Supporting Democracy should be allocated by the Executive or if a mechanism for financial independence for these spheres of government should be developed.</li>
<li>Systematically monitor the expenditure of constituency offices and evaluate their effectiveness and whether they are delivering value for money to the public.</li>
<li>Collaborate with strategic partners for the sharing of resources such as community radio stations and digital media to keep the public informed and not rely on legacy media which may have limited reach.</li>
</ul>

<p><strong>4. On the Importance of monitoring the Implementation and Impact of laws to Improve oversight - Post-Legislative Scrutiny</strong></p>

<p>We commit to:</p>
<ul>
<li>Institutionalise post-legislative scrutiny within the Legislative Sector of law making and evaluation for effective law making and oversight.</li>
</ul>

<p><strong>5. On the impact of electoral legislative framework on the effectiveness of the Legislative Sector, and a reflection on experiences, including coalition governments:</strong></p>

<p>We commit to:</p>
<ul>
<li>To consider promulgating legislation and regulations governing the formation and functioning of coalition governments to avoid dysfunction caused by hung legislatures and councils.</li>
</ul>
<p>Ultimately, the rules, guides and conventions are the pillars that enable Members to be effective and enable the legislature to perform its function. These proposals will assist in this regard.</p>






</div>
