<div class="article-title">The committee system and the need for reform</div>

<div class="article-meta">By Martin Nicol</div>

<div class="article-intro">
    Parliament is the central institution of a democracy. It has a unique mandate to represent the people, to pass laws
    and to hold the government to account.

</div>

<div class="article-content">

    <div class="article-image article-image-full">
        <img src="/static/resources/images/pr6/article-images/commitees.jpg" />
    </div>
   
    <p class="first-par">Parliaments and people’s assemblies the world over have deep problems. All democratic systems of governance
        experience times of crisis. South Africa is no special case. Look at the United States. There is no ideal
        solution that works for all time. Just imagining improvements can be useful.</p>

    <p>Here we look at one aspect of a democratic parliament – its committees.</p>

    <p>The article is written for new MPs, to suggest what they could consider to help our Parliament to improve its
        performance. For it is up to them and their veteran colleagues from the Sixth Parliament to step forward. Rules
        are made to be amended!</p>

    <p>The number and nature of committees is decided by Parliament itself. Only Members of Parliament may sit on
        committees and it is only MPs that can decide to reform how they work. But the work of committees is visible to
        all. Comments on the work of committees, both criticisms – and compliments – can strengthen public participation
        in Parliament.</p>

    <h3>Zondo – the strongest message the committee system ever got</h3>

    <p>“The most important work of Parliament takes place in its committees. There is a parliamentary committee
        responsible for overseeing each government department.”
        – <a href="https://www.pa.org.za/write-committees/recipients/" target="_blank">Peoples Assembly website</a>

        “The evidence before the Commission is overwhelmingly in support of the view that the institution that is key to
        the performance of parliamentary oversight over the executive in South Africa is the Portfolio Committee” (Zondo
        VI(II) para 755).</p>

    <p>The reports and hearings of the Zondo Commission demonstrated how our parliamentary representatives, subject to
        party pressures, again and again shielded their political leaders from accountability.</p>

    <p>The centrality of committees to the work of Parliament is written into the Rules (Parliament 2016). Zondo said it
        was the committee system that did not work (IFAA, 2022:4-6).</p>

    <p>The great bulk of evidence used by Zondo came from the time of the Fourth and Fifth Parliaments 2009 to 2019. But
        the findings and recommendations were published during the term of the Sixth Parliament.</p>

    <p>How did the committees of the Sixth Parliament fare?</p>

    <p>In responding to the challenges and revelations of Zondo – not well. PMG and HSRC published detailed commentary
        on what Parliament and its committees had done (and had delayed doing) in response to Zondo. (PMG, 2023; Pienaar
        & Bohler-Muller, 2023; HSRC, 2023). The Chief Justice himself spoke at an event in November 2023, where he said
        “I think that it's our duty to do what we can to help Parliament and work with it to try and see what solutions
        can be found.”<sup data-fn="1">1</sup></p>

    <p>Parliament needed help, which it did not manage to assemble during the time of the Sixth Parliament. In March
        2024, the Civil Society Working Group on State Capture (CSWG) issued an assessment of the national responses to
        state capture and called for: “Parliament to take urgent steps to reform its oversight systems" (Pongweni,
        2024).</p>

    <p>Deep flaws in the functioning of South Africa’s new democratic legislature were flagged during the First
        Parliament (1994 to 1999) (Corder et al 1999). The same issues have been noted in every Parliament since. Many
        of the suggested adjustments and reforms hone in on the practical operation of committees. Implementation never
        follows.</p>

    <p>The final instalment of the Zondo report, Part VI, Vol 2, Parliamentary Oversight, released in June 2022 – pages
        287 to 483 – includes the most recent analysis of committees, and how they work or fail.<sup data-fn="2">2</sup>
    </p>

    <p>In summary, Zondo found that “Parliament’s failure to fulfil its cardinal, and constitutional, duty of oversight
        over the executive allowed state capture to occur. The actual site of Parliament’s failure was the Portfolio
        Committee system.” (Levy 2023)</p>

    <p>In June 2019, a newly-revised 428 page “induction handbook” was issued to the Members of the Sixth Parliament
        when they came to take up their seats. (Legislative Sector South Africa, 2019). More than half of the content
        deals with committees, their procedures and duties. But there was no recounting of the critical Nkandla judgment
        where the National Assembly relied on the reports of parliamentary committees to exonerate the former President
        – actions that were condemned by the Public Protector and the courts.</p>

    <p>The induction handbook did not reflect in any measure on state capture – although several committees had been
        tasked to inquire about the issue during the Fifth Parliament. The focus was on rules and procedures and
        guidelines. The 2019 handbook did not present a framework in which the findings and recommendations of Justice
        Zondo on committee conduct would find much traction.</p>

    <h3>State capture was followed by Covid-19 and arson</h3>

    <p>Judging the performance of committees in the Sixth Parliament is complicated by two huge shocks that disrupted
        the work of Parliament. These were the lockdown measures associated with the Covid-19 pandemic from March 2021
        to April 2022, and then the disastrous fire in January 2022 which destroyed much of the National Assembly and
        its offices and meeting rooms.</p>

    <p>The physical brokenness of Parliament and the physical absence of MPs was dealt a further blow in mid-2022 with
        the release of the last volumes of the Zondo Commission report and its devastating chapters on the conduct of
        Parliament and its committees.</p>

    <p>Covid-19 and the fire, in a most ironic fashion, showed Parliament’s resilience in the face of adversity. For
        Parliament, with amazing rapidity, and with great technical competence, moved into modes of online meetings and
        remote work for both officials and Members. The Cape Town City Hall was re-purposed for plenaries and the State
        of the Nation Address. It was not ‘business as usual’ but it was business.</p>

    <p>Again, with some irony, the challenges of Covid upped the game of committees, which continued to meet and involve
        Executive members. “Connectivity issues” overtook “consequence management” as a characteristic phrase for
        Parliament. However, electronic meetings allowed busy ministers and senior officials to pop in and out of
        Committee meetings with ease and without expensive transport arrangements. Productivity may even have risen due
        to the flexibility of virtual meetings.</p>

    <h3>Evaluating the effectiveness of Sixth Parliament committees</h3>

    <p>The volume and scope of work done by committees over the five years 2019 to 2024 is enormous. PMG covers all the
        parliamentary meetings – which occupy time almost beyond measure of MPs, support staff, government officials,
        journalists and people and organisations which attend. In addition there is the preparation work for meetings
        and oversight work in committee oversight visits all around the country - which are undertaken largely out of
        sight. Committees generate reports that fuel the work of the National Assembly and the NCOP. Quality varies
        everywhere, but the effort should move mountains.</p>

    <p>To say that committees are “busy, but are not working” is harsh.</p>

    <p>But that is the truth.</p>

    <p>After 30 years of democracy, so much of our country is broken. Parliament has watched and monitored every aspect
        of government performance over this period – the PMG records of committee meetings are proof of this. Yet it has
        been totally unable to act as a check and balance on executive authority, as standards of public service have
        declined and state owned enterprises have been mismanaged and looted.</p>

    <p>This is not only about the failure to proceed with votes of no confidence in the president and long delays in
        processing important legislation (particularly those subject to time limits set by the judiciary). Consider how
        the executive has largely ignored constructive advice from MPs of all parties through committee reports – in
        particular the often meticulous comments for improvement provided in the annual Budgetary Review and
        Recommendations Reports.</p>

    <p>This signals the first recommendation for reform, set out below.</p>

    <h3>Down with the Money Bills Act, down!</h3>

    <p>Parliament must recognise that the Money Bills Act is a failure. It is this legislation that dictates much of the
        oversight programme of committees. It binds each portfolio committee into a rigid quarterly schedule to monitor
        expenditure and performance for each separate budget vote. This is extremely time and resource intensive. The
        narrow focus on single budget votes is a set of blinkers that hampers oversight of responsibilities that involve
        more than one department. When introduced, in the Third Parliament, the Act was intended to be the way for
        Parliament to influence the budgetary decisions of government (and the National Treasury).</p>

    <p>But this intense monitoring (and it is extremely intense) has not improved government performance one iota.
        Departments pay expensive deference to Parliament. The most senior officials take time off their proper work to
        attend meetings. They present long, long reports painstakingly assembled by armies of junior officials. They
        answer – or delay answering – complex parliamentary questions. And they take next to no account of what
        Committees or Parliament says.</p>

    <div class="info-block">

        <p>Committees should focus their activity on policy oversight (how laws are being implemented in practice) and
            in processing legislation.</p>

        <p>Committees should STOP their detailed and obsessive processing of the “Section 32 reports” from the Treasury,
            their BRRRs, and the intricate matrices of performance targets achieved, partially achieved or not achieved
            tediously listed by each department. This is the ultimate tick box approach.</p>

    </div>

    <p>Committees can add absolutely nothing to the financial and performance monitoring that is already done by the
        Auditor-General (AG) for government and all organs of state. The AG has teams of expert chartered accountants
        working with each government entity over months. Committees duplicate this oversight, much less effectively,
        repeating the findings of the AG in committee reports to the House. Parliament already has the benefit of its
        own Parliamentary Budget Office (PBO), staffed with financial experts, to analyse government budgets. This work
        is complemented (duplicated?) by that of the Financial and Fiscal Commission (FFC), which Parliament created in
        1997 to provide recommendations to Parliament on financial and fiscal matters.</p>

    <p>Committees may develop their own recommendations, or repeat those of the Auditor-General, the PBO and the FFC.
        The result is the same – the executive takes no notice and proceeds as normal!</p>

    <p>How would a shift to looking at the implementation of legislation (and the passing of new laws) be better? For
        one, it would encourage more public participation because committees would be looking in detail at the way laws
        were being administered by responsible departments. This could provide a solid basis for improvements.</p>

    <p><strong>Would Parliament have the resources and the capacity?</strong> Yes it would. Even the Zondo Report fell
        for the excuse from some chairpersons that Parliament lacks oversight capacity.<sup data-fn="3">3</sup> This need not be true.
        Information for policy oversight and for the content of new legislation is available easily, eagerly and without
        cost to Parliament from academics, NGOs, business organisations and policy think-tanks. These resources – from
        the public and civil society – can be drawn on to interrogate the content of white papers and strategic plans as
        well as provide evidence ‘from the ground’ on how laws are being interpreted and applied. This wide, expert
        guidance is there to help Parliament with its oversight functions and recommendations to the executive.</p>

    <p>Committees also have their own internal staff support provided by Parliament. Capacity here is strong, although
        it has suffered in recent times because of a recruitment freeze. The ranks of the parliamentary research unit
        and committee ‘content advisors’ have been seriously depleted since 2014. There is money and political will to
        double the pay of the Secretary to Parliament, but not to maintain hard fought-for committee support capacity.
        Every committee is supposed to have access to appropriate content advisors and research staff. These posts are
        extremely well-paid – at levels comparable to professors and senior lecturers at a university respectively.
        Parliament can recruit highly expert and competent support for committees. Parliament should allow more of the
        research produced by its support services to be published. There should be public scrutiny of the research
        opinions and evidence produced for committees by Parliament.</p>

    <p>This is the place to mention Chapter 9 institutions beyond the Auditor General. These institutions, created by
        the Constitution are independent of the Executive – they are accountable to the National Assembly. What is more,
        it was intended that “they also complement and are supportive of Parliament’s oversight function.”<sup data-fn="4">4</sup></p>

    <p>Unfortunately – as the Asmal Committee found in 2007 – “Parliament’s engagement with the institutions currently
        is wholly inadequate”. (Parliament, 2007:xii)</p>

    <p>A key recommendation was that “the capacity of portfolio committees to engage with substantive reports of these
        institutions should be significantly enhanced.” This was never done, despite the formation of a unit on
        constitutional institutions and other statutory bodies set up in the Office of the Speaker “to co-ordinate all
        interactions with these institutions”.</p>

    <p>The way in which committees do their oversight work would benefit from innovation <strong>– Four suggestions are
            put forward here, none of which requires changes to the Rules or legislation:</strong></p>

    <p>The first is to <strong>select committee chairs from all committee members</strong> – and not only those attached
        to the ruling party. The majority will still rule on decisions (when there is a vote), but committees will work
        better with the most capable possible chairs. The majority party pulls out all its own ‘best’ people to serve as
        ministers and deputy ministers. The ‘best’ of the minority parties can be voted in as chairs of committees.
        Committees already work, normally, in a much more collegial manner than the National Assembly. Oversight quality
        will improve. The ability of the Chairperson is the critical factor in committee effectiveness.</p>

    <p>The second is to <strong>experiment with ways of holding meetings</strong> – sometimes perhaps entering a more
        inquisitorial mode for questioning officials and ministers by allowing a dialogue to pursue and clear up issues.
        In most committees, questions are asked in rounds and then responded to together. Points can be avoided or
        poorly addressed.</p>

    <p>In this context, the Fifth Parliament, on many occasions, scheduled “colloquiums” on particular topics – policy
        on rhino poaching, policy on administered prices etc. While the format for these events varied: they all focused
        on a narrow policy topic, they invited participation from experts, they had general discussions on expert inputs
        (with all in the meeting allowed to participate) and the event resulted in a report with recommendations to the
        executive. In some cases, the chair allowed attending members of the public to make comments or ask questions. A
        huge advantage of colloquiums is their ability to address “cross-silo” issues in a less ‘threatening’ manner.
        For example, the sector education and training authorities (SETA) – with their billions of public money from the
        skills levy – would benefit from a colloquium on a particular SETA – even at five year intervals. This would
        widen and deepen parliamentary oversight.</p>

    <p>The third is for <strong>each committee to decide its oversight agenda</strong> for each term or year. This is to
        allow for follow-up and continuity in resolving particular issues of policy or service performance. At present,
        the agenda is dictated by the budget cycle and strictly limited to issues financed by Parliament in one of the
        separate annual “budget votes” for the particular portfolio of the committee. This is fine for the finance
        committees – but it utterly destroys the momentum for policy oversight in health, education and the real
        economy, which are about so much more than the funds voted in the budget.</p>

    <p>The fourth is to <strong>create more ad hoc committees on particular issues</strong> – particularly those that
        span ministerial portfolios. </p>

    <p>A committee’s role in considering new legislation obviously takes precedence over ‘normal oversight’. Parliament
        corrects and develops policy through legislation. Ideally this will include insights gained from oversight of
        previous government involvement in the area. There needs to be proper oversight of the legislative process
        itself, by calling for public participation and weighing the advice of experts and the views of interested
        parties.</p>

    <p>Our Parliament has been captured by party-whips and bureaucrats – Parliamentary staff who have their own agenda
        for what MPs should do. They will say Members already decided the Rules themselves – which is true, on the
        surface. Actual Members have to co-operate to take control of Parliament into their collective hands. Not an
        easy task – but it is their right under the Constitution.</p>

    <p>Point summary: committee system reforms to improve oversight potential</p>

    <p>Reform measures ‘easy’ to make, now:</p>
    <ul>
        <li>Committee chairs elected freely from all members</li>
        <li>Colloquiums to widen participation in oversight and deal with cross-silo issues</li>
        <li>Placing Vote 1 The Presidency under the oversight of a committee</li>
        <li>‘Work to rule’ on the Money Bills Act (until it can be amended) – ultra-short BRRRs, and cursory compliance
            with the need to review Section 32 reports.</li>
        <li>Publishing Research Unit and other internal reports prepared for Members and Committees by Parliament for
            public scrutiny.</li>
    </ul>
    <p>Strong political will is required even for the ‘easiest’ measures.</p>
    <p>All changes that involve scheduling parliamentary time – and involve expenses – have to be approved by the House
        Chair of Committees, appointed by the majority party.
    </p>

    <p>Reform measures that require a change in the NA Rules:
    <ul>
        <li>Rule on matters sub judice – this rule needs to be deleted. It is misinterpreted and abused to prevent
            scrutiny of many matters of concern to committees.</li>
    </ul>
    <p>Reform measures that involve amendment of laws

    <ul>
        <li>Amendment of the Money Bills Act [BRRR] – this would free up the skilled and expert researchers and legal
            advisors who presently waste months of time duplicating (for committee meetings) work already done (and done
            well) by the AG.
        </li>
    </ul>

    <p>Reform measures that require amending the Constitution</p>

    <ul>
        <li>ationalising the Chapter 9 institutions (which very usefully assist committees in Parliament with expert and
            representative comments on the work of government and SOEs) – the Asmal Ad Hoc Committee in 2007 made
            concrete proposals, all but one of which have been entirely set aside by Parliament. (Parliament 2007)
            /li>
    </ul>
</div>
<div class="article-extra">
    <h3>References</h3>

    <p>Civil Society Working Group on State Capture (CSWG) (2024) A Collective Civil Society Response to the Zondo
        Commission and the State Capture Report. March. Open Secrets Available <a
            href="https://www.opensecrets.org.za/a-collective-civil-society-response-to-the-zondo-commission-and-the-state-capture-report/"
            target="_blank">here</a>.</p>

    <p>HSRC (2023) Post Zondo – The Future of Democracy Colloquium - HSRC. Available <a
            href="https://hsrc.ac.za/post-zondo-the-future-of-democracy-colloquium/" target="_blank">here</a>.</p>
    <p>Institute for African Alternatives (IFAA) (2022) Zondo on Parliament: Dear Comrade President Ramaphosa. New
        Agenda 86. October. Pages 4-6</p>
    <p>IPU (2023) Indicators for Democratic Parliaments. October 2023 [a multi-partner initiative coordinated by the
        Inter-Parliamentary Union (IPU), in partnership with the Commonwealth Parliamentary Association (CPA),
        Directorio Legislativo Foundation, Inter Pares/International IDEA, the National Democratic Institute (NDI), the
        United Nations Development Programme (UNDP), UN Women and the Westminster Foundation for Democracy (WFD)
        www.parliamentaryindicators.org] Available <a
            href="https://www.ipu.org/resources/publications/toolkits/2023-11/indicators-democratic-parliaments"
            target="_blank">here</a>.</p>
    <p>Legislative Sector South Africa (2019) Induction Handbook for Members of Parliament and Provincial Legislatures
        (2nd Edition). 6 modules, 428 pages. June. Available <a
            href="https://sals.gov.za/wp-content/uploads/2023/03/Induction-Modules-for-Members-Compendium.pdf"
            target="_blank">here</a>./p>
    <p>Levy, M. (2022) How Parliament failed – and Zondo’s respectful advice to our legislators. New Agenda 86. October.
        Page 6</p>
    <p>Levy, M. and Nicol, M. (2023) Democracy only works if Parliament works - Parliament as the cornerstone of public
        participation. New Agenda 91. December. pages 81-86. Available <a
            href="https://ifaaza.org/new_agenda/new-agenda-issue-91/" target="_blank">here</a>.</p>
    <p>Parliament (2007) Report of the ad hoc Committee on the Review of Chapter 9 and Associated Institutions. A report
        to the National Assembly of Parliament of South Africa, Cape Town, South Africa. [known as the ‘Asmal Committee’
        after its chairperson, the late Prof AK Asmal]</p>
    <p>Parliament (2016) Rules of the National Assembly. Ninth edition Available <a
            href="https://pmg.org.za/page/rules-parliament-guide-procedure">here</a>.</p>
    <p>Pienaar, G. and Bohler-Muller, N. (2023) Implementation of the State Capture Commission Recommendations: An
        Institutional Perspective on ethics and accountability. New Agenda 90. September pages 11-20 [see the
        sub-section on Parliamentary oversight] Available <a href="https://ifaaza.org/new_agenda/new-agenda-issue-90/</p>
        <p>PMG (2019) Review of the 5th Parliament. https://pmg.org.za/parliament-reviews" target="_blank">here</a>.
    </p>
    <p>PMG (2023) A PMG Review of Parliament’s Processing of the State Capture Commission Report. 23 June. Available <a
            href="https://pmg.org.za/blog/A%20PMG%20Review%20of%20Parliament’s%20Processing%20of%20the%20State%20Capture%20Commission%20Report"
            target="_blank">here</a></p>
    <p>PMG (2024) Write to a Parliamentary Committee 2024. 30 January. Available <a
            href="https://pmg.org.za/blog/Write%20to%20a%20Parliamentary%20Committee%202024" target="_blank">here</a>
    </p>
    <p>Pongweni, T. (2024) Civil society on what Zondo Commission and State Capture report got right and wrong. Daily
        Maverick. 7 March. Available <a
            href="https://www.dailymaverick.co.za/article/2024-03-07-civil-society-on-what-zondo-commission-and-state-capture-report-got-right-and-wrong/"
            target="_blank">here</a>.
    </p>

    <h3>Useful sources consulted, but not referenced in the article</h3>

    <p>Legislative Sector South Africa (2019b) Practical Guide for Members of Parliament and Provincial Legislatures:
        Law-making | Oversight | Diplomacy and Protocol. Funded by the European Union. Available <a
            href="https://sals.gov.za/wp-content/uploads/2021/12/practical-guide-for-mps-and-mpls.pdf"
            target="_blank">here</a>.</p>
    </p>
    <p>Parliament (2022) Consideration of the Report of the Judicial Commission of Inquiry into allegations of state
        capture, corruption and fraud in the public sector including Organs of State and the President’s response to the
        Commission’s recommendations: Parliament’s Implementation Plan. 03 November. ATC 7-2023. Available <a href="https://pmg.org.za/committee-meeting/36109/" target="_blank">here</a>.</p>
    <p>Parliament, Research Unit (2023) Enhancing Parliamentary oversight and Executive accountability: A comparative
        overview. 23 February. Available <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">here</a>.</p>
</div>

<div class="bio">
    <strong>Dr Martin Nicol</strong><br />Editor at the Institute for African Alternatives, particularly
    contributing to New Agenda. He worked as a non-partisan parliamentary researcher for the Portfolio Committee on
    Mineral Resources during the Fifth Parliament.
</div>

<div class="article-footnotes">
    <h3>Footnotes</h3>
    <p class="footnote" data-fn="1">1.“‘How can we help and support MPs?’ – Chief Justice Zondo”. New Agenda 91. Page
        86. December 2023 – report on the DECODE colloquium held in Cape Town in November 2023, titled “Democracy can
        only work if Parliament works – South Africa after Zondo” Available <a href="https://ifaaza.org/parliament-has-a-very-important-role-to-play-in-bringing-down-levels-of-corruption-zondo/" target="_blank">here</a>.</p>
    <p class="footnote" data-fn="2">2.The full set of reports is <a href="https://www.statecapture.org.za/site/information/reports" target="_blank">here</a>
         along with transcripts of the public hearings, which began in 2018 during the Fifth Parliament.</p>
    <p class="footnote" data-fn="3">3. The Civil Society Working Group on State Capture has recently added its voice
        here in calling for “improving resourcing for oversight functions” (CSWG, 2024:18)</p>
    <p class="footnote" data-fn="4">4. Parliament (2007) – words from Asmal Committee. Parliament failed to implement
        all the Committee recommendations – bar one, the formation of an ‘office’ in Parliament to co-ordinate</p>

</div>