<div class="article-title">A Reflection on the Sixth Parliament</div>

<div class="article-meta">Monique Doyle (PMG Monitor and Project Manager) and Rashaad Alli (PMG Executive Director)</div>

<div class="article-intro">

</div>



<div class="article-content">

    <div class="article-image article-image-full">
        <img src="/static/resources/images/pr6/article-images/reflection1.jpg" />
    </div>

    <p class="first-par">It’s a point we made in other <a
            href="https://static.pmg.org.za/PMG_Zondo_Report.pdf?_gl=1*cck6uw*_ga*MTA5ODI2MzA5My4xNjg2MDQ5MDcx*_ga_EBG7VD75NV*MTcxNDcyNjcwOS4xMDMwLjEuMTcxNDcyNjcxNC4wLjAuMA"
            target="_blank">commentary</a>, but it is worth repeating that the national
        legislature is a busy place. It is functional for the most part and operates like a well-oiled machine. Bills
        are constantly being processed and passed, tabled committee reports are published daily, tens of thousands of
        written questions are posed to the Executive and answered, over a thousand committee meetings take place
        annually on a variety of issues, MPs criss-cross the length and breadth of the country holding hearings,
        visiting projects and undertaking oversight visits, and there are debates and activities galore. In addition,
        Parliament allocates billions annually to fund government programmes and monitors spending and government
        performance. Notwithstanding this reality, there is an established view that the legislature is weak and does
        not do much.</p>

    <p>This perception is not misplaced because there is more to the legislature than its daily activities. The
        legislature exists as our representative, advocate and watchdog. The marker for the effectiveness of Parliament
        lies beyond targets, but in intangible, unquantifiable impacts and demonstrable change.</p>
    <p>The Sixth Parliament has been unprecedented, historical, and foundational. It’s also been a mixed bag with
        moments of progress, turbulence, controversy, and setbacks.</p>
    <h3>Highlights and historical first steps </h3>
    <p>Early into the Sixth Parliament, the legislature found itself contending with COVID-19. At the time, the
        institution faced <a
            href="https://www.dailymaverick.co.za/article/2020-04-07-now-is-not-the-time-to-suspend-parliamentary-oversight/"
            target="_blank">criticism</a> for seemingly relinquishing its oversight duty of Executive actions. When
        Parliament
        resumed, it worked on how it would adjust its business online. Sure, there were hiccups (there still are), but
        the transition to virtual meetings was relatively smooth. Now, it’s difficult to imagine things would ever go
        back to how they were pre-COVID. Parliament should be commended for <a
            href="https://pmg.org.za/blog/IMPLICATIONS%20OF%20A%20VIRTUAL%20PARLIAMENT%20ON%20ITS%20CONSTITUTIONAL%20MANDATE"
            target="_blank">adapting</a> as it did, even amending rules to
        accommodate the “new reality”. Besides obvious drawbacks, virtual/hybrid sittings and meetings have many
        positive attributes – cost saving, greater participation, ease of organising meetings, ease of ministerial
        attendance and live streaming. Anecdotally, this has increased interest in committee meetings where, in the
        past, the public would only be interested in plenary sittings and big events. There are more nuanced dynamics to
        be teased out when discussing virtual/hybrid meetings, but the system has attracted wins that we hope will not
        be lost in the Seventh Parliament.</p>
    <p>The Constitution empowers Parliament to arrange its own processes and rules. The Sixth Parliament did well to
        develop and ensure the rules served the institution’s effective running. The following points stood out:</p>
    <ul>
        <li>In 2021, for the first time since 1994, Parliament reviewed its Rules on written questions to the Executive
            to strengthen mechanisms to hold the Executive accountable for unanswered questions from MPs. The NA Rules
            now allow for the Speaker of the NA to consider a reprimand in the sitting of the NA if there is
            non-compliance or lack of improvement by the Executive in answering questions. As a last resort, the Speaker
            can escalate the matter through a formal complaint directed to the Leader of Government Business. The new
            Rule was necessitated by frustrations from MPs that their questions to the Executive went unanswered or
            ministers did not comply with the set <a href="https://pmg.org.za/tabled-committee-report/4692/"
                target="_blank">response times</a>.</li>
        <li>In early March 2024, the National Assembly adopted a transformative amendment to the House's Rules and
            Guidelines for Petitions that effectively empowers the public to approach Parliament directly with
            petitions. Previously, petitions to the National Assembly required an MP to act as an intermediary between
            the House and a member of the public. Also, before this amendment, the provision allowing members of the
            public to submit petitions directly was exclusive to the NCOP. Parliament said these amendments to the Rules
            were effected to foster a more open, transparent and responsive <a
                href="https://www.parliament.gov.za/press-releases/media-statement-members-public-can-now-directly-petition-national-assembly"
                target="_blank">legislative body</a>.</li>
        <li>Other significant changes related to strengthening the Code of Conduct for Members of Parliament and
            empowering the legislature to amend the budget. [Insert footnote link to legacy report page of the review]
        </li>
    </ul>
    <p>In February 2024, Parliament marked a historical first as it impeached Judges John Hlophe and Nkola Motata. Both
        judges had been waging protracted battles with the Judicial Service Commission (JSC) over separate findings of
        gross misconduct for the past 15 years. Following the NA resolution, the President removed the two judges, as
        stipulated in section 177(1)(b) of the Constitution. The Sixth Parliament will be remembered for taking this
        historic step and enforcing accountability to act against gross misconduct of judges.</p>
    <p>Another first was removing a Chapter 9 institution head. In September 2023, the NA supported the Committee on
        Section 194 Enquiry’s recommendation that Adv Mkhwebane be removed from office. The matter was first raised in
        September 2019, and the National Assembly developed rules to allow for a Section 194 inquiry. Rightly so, the
        process was gruelling but ultimately proved legitimate and instructive for similar processes in the future.</p>
    <p>Another noteworthy milestone was the passing of the Constitution 18th Amendment Bill, which amended the
        Constitution to make South African sign language the 12th official language. In addition, it’s been a term where
        significant legislation was processed. Some, like the National Health Insurance (NHI) Bill, Climate Change Bill
        and Expropriation Bill, succeeded (it’s yet to be seen if these will be challenged); others, like the Basic
        Education Laws Amendment (BELA) and Public Procurement Bill, are near completion at the time of writing, and
        others, like the proposal to amend section 25 of the Constitution failed.</p>
    <p>
        The passing of the Electoral Amendment Bill was celebrated as it allows independent candidates to contest
        elections and hold parliamentary seats. While the delayed process had many faults after initially missing the
        Constitutional Court deadline, there was an eleventh-hour amendment for broader electoral reform post-2024
        elections by means of an Electoral Reform Consultation Panel.</p>
        <p>On a lighter note, our Sixth Parliament can be proud that they welcomed the back-to-back Rugby World Cup-winning
        Springboks, in November 2019 and October 2023.
    </p>
    <h3>Lowlights &amp; Controversy</h3>
    <p>2022 got off to an ominous start with a devastating fire that gutted large parts of the National Assembly. The
        symbolism was not lost. Many remarked that the fire symbolised the state of the national legislature. On the
        other hand, the former Speaker saw the legislature as the proverbial Phoenix rising from the ashes of the <a
            href="https://pmg.org.za/briefing/35157/" target="_blank">fire</a>.
    </p>
    <p>This had a ripple effect, stalling Parliament’s plan to return to in-person sittings and meetings post-COVID-19.
        It meant that going forward, big plenary events such as the State of the Nation Address and Budget Speech had to
        take place outside the parliamentary precinct—the Cape Town City Hall.</p>
    <p>See <a href="https://www.parliament.gov.za/press-releases/speaking-notes-secretary-parliament-rebuilding-parliament-media-briefing" target="_blank">here</a> for the latest update on the
        restoration</p>
    <p>The end of the Sixth Parliament saw another ominous conclusion with the resignation of the Speaker of the
        National Assembly due to bribery allegations. This development was shocking even in a country used to daily
        corruption allegations involving public officials.</p>
    <p>An independent panel established by Parliament found there was a prima facie case that President Cyril Ramaphosa
        may have violated his oath of office regarding the theft of foreign currency at his Phala Phala farm. The ANC
        majority voted against adopting the section 89 independent panel report and its referral to an impeachment
        committee. The merit of this decision has been debated at length, but it must still be ventilated in court.
        Earlier this year, the EFF <a href="https://www.politicsweb.co.za/politics/phala-phala-eff-heads-to-concourt"
            target="_blank">filed</a> papers at the Constitutional Court to declare the National Assembly decision as
        irrational and unlawful. It remains to be seen if this will result in another Nkandla-like judgment against the
        legislature.</p>
    <h3>Opportunities to do better</h3>
    <p>The Courts rebuked the Sixth Parliament in two notable court judgements concerning public participation. In the
        Mogale judgement, the Constitutional Court unanimously found Parliament “overwhelmingly failed in facilitating
        public participation”. In the South African Iron and Steel Institute and Others v Speaker of the National
        Assembly and Others, the court ruled that impracticalities or the cumbersome nature of the facilitation of
        public participation at numerous or late stages of the parliamentary legislative process were not a
        justification for Parliament not to meet its constitutional obligation. We must acknowledge that public
        participation is burdensome and the bar is set high to demonstrate meaningful participation. There are a variety
        of nuances to consider when discussing public participation, beyond the scope of this overview. Parliament
        acknowledges that reform is needed and has committed to <a href="https://pmg.org.za/committee-meeting/37072/"
            target="_blank">working on this</a>. Public participation is a process, not
        a single event. It consists of a series of activities and actions during different stages of the legislative
        process. To fully implement the Public Participation Model, Parliament must do better to enhance public
        participation in its oversight work as well. In mid-April 2022, Parliament embarked on a programme of
        remodelling and repurposing constituency offices as strategic points of the People-Parliament interface. This is
        an area where there is a need for improvement.</p>
    <p>Read the Committee Legacy Reports, and you will see a common refrain: Committees complain about the Executive's
        late introduction of bills and the impact this has on the legislative programme and the proper scrutiny of
        proposed law. Members lament the delays in bringing significant amendment legislation to Parliament to initiate
        reforms or comply with looming Constitutional Court deadlines. The Leader of Government Business plays a central
        role in coordinating and managing the relationship between the Executive and Legislature. Ongoing work is needed
        to strengthen this relationship to enhance Executive attendance, improve the quality and response rate of
        written questions, advance oversight generally and provide early warning for incoming legislation.</p>
    <p>Parliament’s reliance on the Executive to table legislation also consistently came up during discussions. The EFF
        expressed views that not enough Bills were being initiated/introduced by Parliament. They expressed concern that
        Parliament's legislative agenda is seemingly decided by the Executive and Parliament needs more capacity to
        allow Committees or Members to introduce their own Bills. This ties in with our findings on legislative activity
        in the Sixth Parliament vs the Fifth Parliament – significantly fewer Committee Bills were introduced in the
        Sixth Parliament compared to the Fifth Parliament. [Insert footnote link to legislation stats piece in the
        review]</p>
    <p>Post-legislative scrutiny (PLS) is largely absent. The Legislative Sector has committed to Institutionalise PLS
        scrutiny within law making and evaluation for effective law making and <a
            href="https://www.parliament.gov.za/press-releases/2024-south-african-legislative-sector-oversight-summit-declaration"
            target="_blank">oversight</a>. PLS is a systematic and
        structured process through which parliaments review the implementation and impact of legislation. It is a tool
        that allows parliaments to get a holistic view of the legislation's operation and impact, understand what worked
        well and what did not, and identify the best way forward in ensuring that legislation has the intended impact.
    </p>
    <p>A large part of the legacy of the Sixth Parliament will be how it dealt with the Zondo Commission’s
        recommendations. These recommendations were made with the intention of bringing about necessary institutional
        reform of Parliament so that, hopefully, the institution will not again be found wanting in the face of another
        state capture. These recommendations ought not to be viewed as a mere checklist but as an opportunity for
        systemic change. <a
            href="https://www.news24.com/citypress/news/two-years-after-close-of-zondo-inquiry-npa-still-awaits-complete-access-to-findings-20240429#:~:text=Two%20years%20after%20the%20Judicial,Deputy%20Chief%20Justice%20Raymond%20Zondo"
            target="_blank">Recent reports</a> that two years after the Zondo Commission concluded, the National
        Prosecuting
        Authority (NPA) still does not have unfettered, unrestricted access to the information gathered during the
        almost four-year-long session are a matter of concern and calls for Parliament to ensure the prosecuting body
        has the necessary resources and capacity to do its work.</p>
    <p>
        There were moments when Parliament asserted its powers and demanded answers. It summoned the Minister of
        Tourism; it forced the Minister of Higher Education to table a report; and pressured the Minister of Public
        Enterprises to reveal information on the sale of SAA. SCOPA enhanced its method of work by signing a memorandum
        of understanding with the <a href="https://pmg.org.za/committee-meeting/38528/" target="_blank">Special
            Investigating Unit</a>.
        At the same time, there are many examples where oversight was less vigorous or completely absent (visit
        ww.pmg.org.za to see committee meeting reports and House debates). Parliament often failed to utilise all the
        powers at its disposal, such as establishing inquiries, ensuring responses by the Executive are received within
        deadline and consistently following up on its own recommendations.
    </p>
    <p>Since the start of democracy, we have only experienced one type of Parliament: the ANC has always been in the
        majority. Parliament could look different after the elections, but we should hope for an institution that
        strives for multiparty collaboration and consensus building where possible. Parliament is the face of our
        multiparty democracy and we should hope to see this demonstrated in the work of the legislature. This could be
        manifested in small ways such as giving even more speaking time to smaller parties [in future, maybe
        independents], and more opportunities to submit oral questions to the President and Deputy President.</p>
    <h3>Internal Developments</h3>
    <p>Administratively, the Sixth Parliament underwent significant changes. At the end of 2019, the Secretary to
        Parliament was dismissed after being found guilty of serious misconduct. A new secretary was appointed in June
        2022. Towards the end of 2023, the former Speaker was accused of unilaterally increasing his salary by 70%
        following his appointment. The National Assembly Programme Committee agreed that the matter must be referred to
        the Joint Standing Committee on Financial Management of Parliament for investigation. It is unlikely to conclude
        its work before Parliament rises and this matter will have to be taken up by the Seventh Parliament to obtain
        clarity.</p>
    <p>Parliament has been poor at filling vacancies, especially in key posts. In 2023, a new CFO was appointed after
        five years without a permanent CFO. Parliament’s last permanent CFO left in 2018. A new Chief of Security was
        appointed after almost eight years. Just before this review was released, Parliament advertised for a new
        registrar of ethics and members' interests. The position has been vacant for five years. The legislature also
        plans to fill other critical posts: heads of committee section and public participation.</p>
    <p>The issue of Parliament’s budget came up often during the Sixth Parliament. While not a new challenge, it was
        raised by the Zondo Commission of Inquiry. For a long time, the institution has felt that it cannot be treated
        like any government department when it comes to budget allocation as Parliament is an independent arm of the
        state responsible for carrying the public interest and overseeing all of government. If Parliament has the power
        to amend the budget, why could it not make adjustments to its own institutional budget? The budget is critical
        for carrying out the legislature's constitutional mandate and has impacted its core operations. National
        Treasury 2023/24 Budget Reduction for Parliament amounted to R214 million, resulting in the removal of all the
        Retained Earnings Reserves accumulated by Parliament from prior years. From this <a
            href="https://pmg.org.za/committee-meeting/38657/" target="_blank">last briefing</a> on the matter, it
        looks like another issue for the Seventh Parliament to take forward.</p>
    <p>At the same time, it must be asked how Parliament can expect to be immune when budget cuts are affecting
        frontline service delivery departments. </p>
    <h3>Looking ahead: Seventh Parliament</h3>
    <p>The end of the Sixth Parliament coincides with the 30th anniversary of the democratic Parliament. The gains made
        are undeniable and considerable: Parliament played a crucial role in the transition from apartheid to democracy.
        The legislature has also passed landmark and progressive laws in numerous areas: increasing the social security
        net, equality legislation and many other areas.</p>
    <p>The upcoming elections are an opportunity to revitalise Parliament. Public trust in the legislature needs to be
        rebuilt. Parliament has an institutional culture developed by those who occupy the parliamentary seats. For
        public trust to be improved, we need an institutional culture change, we need to reject “business as usual”, and
        we need representatives who are responsive and accountable.</p>
    <p>Observing the work of Parliament and strengthening and protecting our legislative body, lies at the heart of PMG.
        We will continue this work in the Seventh Parliament.</p>




</div>
