<div class="article-title">Post-pandemic: live-streaming Committee meetings</div>

<div class="article-meta">By Pam Saxby</div>

<div class="article-intro">
    The Covid-19 pandemic with its work-from-home culture and virtual meeting platforms has made it easier for ordinary South Africans to access parliamentary committee proceedings.
</div>

<div class="article-content">

   
    <div class="article-image article-image-full">
        <img src="/static/resources/images/pr6/covid-1.png" />
        <div class="caption">A health-care worker sanitizes her hands before conducting COVID-19 tests at a Dis-Chem drive-through testing station at the V&A Waterfront in Cape Town, South Africa, Jan. 8, 2021. Nardus Engelbrecht/AP</div>
    </div>

    <p class="first-par">Parliament had a YouTube channel and the technology for livestreaming long before Covid-19. So, public links to Zoom meetings or YouTube live-streaming meetings or same-day upload should have been possible for all meetings held from 19 March 2020, when Parliament’s doors were closed to members of the public. </p>

    <p>At the time, I was a member of Parliament’s WhatsApp group for accredited journalists, where a list is circulated each day on which parliamentary committees are scheduled to convene – indicating meetings to be Zoomed and those to be live-streamed on YouTube. The same system is still in place, having been allowed to continue far beyond the end of the national State of Disaster. This is mainly because of the January 2022 parliamentary precinct fire when many committee meeting rooms were damaged.</p>

    <p>As anyone belonging to that WhatsApp group will confirm, livestreaming does not necessarily begin on time or end only when the meeting itself is formally adjourned. So, the service can be unpredictable.</p>

    <p>The point is this: committee meetings can be and often are live-streamed.</p>

    <blockquote>The point is this: committee meetings can be and often are live-streamed.</blockquote>

    <p>The daily list circulated via Parliament’s WhatsApp group for accredited journalists provides Zoom links to meetings that may also be live-streamed, facilitating media coverage of what would otherwise be closed proceedings. Documents presented at those meetings are usually circulated via the same WhatsApp group.</p>

    <p>However, if one is simply an ordinary South African who is not a member of that really rather exclusive WhatsApp group – but nevertheless has the right to access any information on documents circulated there (section 32 of the Constitution) – one faces an almost insurmountable challenge. Unless one knows about the Parliamentary Monitoring Group (PMG) website, of course.</p>

    <p>In February 2024 – nearly two years after the COVID-19 State of Disaster ended – Parliament made another attempt at holding committee meetings on the precinct. The first attempt occurred towards the end of 2023. However, because of the shortage of suitable venues, only a few committee meetings have taken place physically since the precinct fire. According to a <a target="_blank" href="https://pmg.org.za/daily-schedule/2851/">meetings list</a> circulated on Friday 16 February 2024, of the 15 committees scheduled to meet the following Tuesday 13 were expected to do so virtually. As a result, the documents presented and discussed at most committee meetings that day were unavailable to ordinary South Africans.</p>

    <p>Before the COVID-19 national State of Disaster was declared on Sunday 15 March 2020, members of the general public wishing to observe a scheduled parliamentary committee meeting could do so if they lived in Cape Town and had the means to find their way to the precinct. Non-Capetonians could do the same if they could afford the airfare or if their employer was willing to foot the bill. Whatever the case, having passed through security – and having been directed to the committee room concerned – one could usually find copies of the documents being discussed. In those days, each committee had an administrative assistant tasked with making sufficient copies to meet the needs of everyone present.</p>

    <p>Living in Cape Town within a stone’s throw of the parliamentary precinct, I took it for granted that – having attended committee meetings for many years to report on their proceedings for certain paying clients and collect the documents I needed – it was probably safe to assume I would have the privilege of doing so for as long as I chose to earn a living that way. I had never bothered myself with considering whether or not a meeting would be live-streamed.</p>

    <p>It was only in April 2023 (when, as a freelancer, I was expelled from Parliament’s WhatsApp group for accredited journalists) that it dawned on me how difficult accessing meetings and documents can be. Because to this day there are parliamentary committee meetings that are only Zoomed. Observing the proceedings of those virtual meetings is impossible unless one is a committee or staff member, a designated government official or a mainstream media journalist.</p>

    <p>By way of example, on Friday 16 February 2024 three committee meetings were held virtually. Two days later, according to the YouTube page of Parliament, only two had been live-streamed: a meeting of the Portfolio Committee on Planning, Monitoring and Evaluation, and a meeting of the Portfolio Committee on Sport, Arts and Culture. I have screenshots. The video recording of a meeting held that day by the Portfolio Committee on Higher Education, Science and Innovation was eventually uploaded only on 19 February 2024.</p>

    <p>These parliamentary committee meeting access challenges must surely fly in the face of sections 59 and 72 of the Constitution, which require Parliament to “conduct its business in an open manner, and hold its sittings, and those of its committees, in public”. If it is not possible to livestream meetings, at least they should be uploaded same day.  It does nevertheless demonstrate how haphazard parliamentary committee meeting livestreaming can be.</p>

    <p>One solution to the problem of accessing documents discussed at virtual committee meetings – live-streamed or not – could be for parliamentary support staff to upload them on Parliament’s website, making links available on a dedicated committee page. Our national government website has long used a similar system to facilitate public access to Government Gazette notices.</p>

    <p>The livestreaming glitches themselves require another type of intervention altogether. That said, it must be possible to place on Parliament’s website a list of committee meetings to be live-streamed and to re-think the policy on public access to Zoom meetings.</p>
</div>

<div class="bio">
    <strong>Pam Saxby</strong><br/>Creator of Juta Law Legalbrief's 'Policy Watch' column, providing insights into South Africa's public policy development and law-making processes. Before that, she spent two years covering key parliamentary committees for SabinetLaw. Her career in monitoring and reporting on public policy and legislation began with the Minerals Council SA.
</div>


