<div class="article-title">State Capture and Parliament</div>
<div class="article-meta">By PMG</div>
<div class="article-intro"> </div>
<div class="article-content">
	<p class="first-par">Before the Judicial Commission of Inquiry into State Capture, Corruption and Fraud in the
		Public Sector, Including Organs of State (Zondo Commission), was established, Parliament was tasked with
		investigating state capture. </p>
	<p>In 2017, the House Chairperson of Committees, Mr Cedric Frolick, <a
			href="https://www.parliament.gov.za/press-releases/parliamentary-investigation-alleged-state-capture-emails"
			target="_blank">directed</a> four committees—the Portfolio Committees on Home Affairs, Mineral Resources,
		Public Enterprises, and Transport—to probe allegations of state capture linked to alleged emails involving
		several Ministers and report back to the National Assembly.</p>
	<p>Two of the four committees made progress with their <a href="https://pmg.org.za/page/state%20capture"
			target="_blank">investigations</a> and published reports, while the other two did not get underway.</p>
	<ul>
		<li>Public Enterprises: <a href="https://pmg.org.za/tabled-committee-report/3905/" target="_blank">Report</a>
		</li>
		<li>Portfolio Committees on Home Affairs: <a href="https://pmg.org.za/tabled-committee-report/3712/"
				target="_blank">Report</a></li>
		<li>Mineral Resources: “The Committee focused on its oversight responsibilities regarding state capture and
			proposed a programme to deal with allegations of state capture in the Department of Mineral Resources, but
			no funding was provided by Parliament for the investigation, so it could not be pursued effectively” (Fifth
			Parliament Committee Legacy Report)</li>
		<li>Transport: “The allegations regarding state capture is being considered under the judicial commission of
			inquiry, as well as via investigations by the HAWKS - the Committee may want to take up this inquiry once
			those processes have been finalised” (Fifth Parliament Committee Legacy Report)</li>
	</ul>
	<p>In 2018, the Zondo Commission was established, and its terms of reference included the matters considered by
		those four committees. It was recommended that the work done by the committees could serve as a basis for
		further investigation by the Commission and that Parliament would hand over the Committee Reports together with
		the entire record of evidence collected during their inquiries.</p>
	<p>Parliament, represented by the National Assembly Speaker (Ms Thandi Modise) at the time, <a
			href="https://www.statecapture.org.za/site/files/transcript/392/Day_377_-_2021-04-19.pdf"
			target="_blank">appeared</a> before the Zondo Commission in April 2021. In her testimony, she said it was
		"regrettable" that Parliament only woke up when things got really bad and highlighted that the legislature would
		strengthen its performance and improve efficiency in law-making and oversight.</p>
	<p>The final tranche of the Commission’s Reports was released in June 2022. One of these volumes dealt with <a
			href="https://static.pmg.org.za/State_Capture_Commission_Report_Part_VI_Vol_II.pdf"
			target="_blank">Parliament</a>. Broadly, the Zondo Commission put forward that weaknesses in parliamentary
		oversight and Executive accountability had, over time, contributed to corruption and maladministration and
		recommended that Parliament consider reforms to improve its oversight and accountability function. </p>
	<p><a href="https://pmg.org.za/blog/state%20capture%20zondo%20reports" target="_blank">Access</a> all Zondo
		Commission Reports.</p>
	<p>In October 2022, the President submitted the Executive's Implementation Plan to Parliament. You can read it <a
			href="https://www.stateofthenation.gov.za/assets/downloads/State%20Capture%20Commission%20Response.pdf"
			target="_blank">here</a>. </p>
	<p>In November 2022, the National Assembly began formally processing the Zondo Report. Its Rules Committee convened
		and adopted a 31-page Implementation Plan to deal with the Commission’s recommendations. You can read it here.
	</p>
	<p>19 recommendations relate to Parliament’s processes (including the processing of legislation specific to
		Parliament). 27 recommendations relate to the Executive Implementation Plan, on which Committees exercise
		oversight and are required to submit quarterly reports.</p>
	<p>For a status update on the latter, view the work undertaken by the relevant parliamentary committees <a
			href="https://pmg.org.za/page/CommitteeDiscussionsontheZondoCommission" target="_blank">here</a>. The main
		matters here cover investigations, prosecutions, consequence management, asset recovery, and new legislation and
		policy development. These are medium to long-term items that the Seventh Parliament, civil society, and the
		broader public must follow up on.</p>
	<p>At a meeting in <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">April 2023</a>, Members
		expressed conflicting views on the Commission’s recommendations about the legislature. Some expressed concern
		that the recommendations amounted to overreach and did not respect the doctrine of separation of powers. Others
		felt that although the recommendations were not binding, it had to be acknowledged that something was wrong with
		oversight.</p>
	<p>Others pointed out that the institution already had mechanisms for conducting oversight and was in the process of
		strengthening them.</p>
	<p>At the end of June 2023, former Speaker Mapisa-Nqakula presented a progress report highlighting that 11 of the 19
		Parliament-related recommendations were addressed while the remaining 8 were ongoing. You can find the update <a
			href="https://www.parliament.gov.za/storage/app/media/Links/2023/6_june/30_June_2023/20230625_ACTION%20LIST_Final_pdf_230629_092834.pdf"
			target="_blank">here</a>. </p>
	<p>The table below builds on the above update. Parliament has addressed 13 out of the 19 recommendations by the end
		of March 2024. For some recommendations, we cannot find evidence of where, how and by whom the decisions were
		taken. Where we would find a record of discussion around a particular recommendation, we have added hyperlinks
		for further information. Some recommendations are partly addressed and have been categorised as ongoing.</p>
	<p>A large part of the Sixth Parliament's legacy will be how it dealt with the Zondo Commission’s recommendations.
		These recommendations were made with the intention of bringing about necessary institutional reform of
		Parliament so that, hopefully, it is not found wanting again in the face of another state capture.</p>
	<p>PMG’s view, articulated in the papers listed below, is that:</p>
	<p>While tinkering with the rules of Parliament and the system of accountability from a technical sense is necessary
		and important, there are bigger structural issues such as leadership, political climate, and the willingness of
		individual members of Parliament that need to be addressed in order to have any real impact. Political will is
		primary for effective oversight – this will allow for effective use of budgets, mechanisms, rules, resources and
		support. It simply cannot work the other way around. Too often there is a tick box, token or ritualistic
		oversight where as long as a meeting is held or a report written, this is sufficient but there is no real
		accountability in that nothing changes.</p>
	<p>Parliamentary committees, very broadly speaking, do good work producing detailed reports with considered
		recommendations based on engagements with the Executive such as meetings and oversight visits - this is in
		effect, oversight in action. This work is rendered useless if the recommendations are not followed up.
		Parliament and committees cannot depend on the goodwill of the Executive to respond - this simply must be
		enforced on the part of the institution. This ought to be a basic part of Parliament’s oversight architecture.
		As we pointed out in our 2022 report, oversight is a continuum, a cycle requiring constant follow-through, so
		oversight is ineffective without a clearly set out system for follow-through. While each committee would be
		responsible for tracking its own recommendations, the overarching standard system must be stipulated. It might
		prove prudent for committees to have quarterly meetings to review reports tabled during the quarter – while some
		do this, it is not a standardised process. Standardising these processes removes discretion and vagueness.</p>
	<p>2022: <a href="https://static.pmg.org.za/PMG_Zondo_Report.pdf" target="_blank">"WHERE WAS PARLIAMENT?" PMG review
			of parliamentary oversight in light of State Capture and Zondo Report</a> </p>
	<p>2023: <a href="https://static.pmg.org.za/A_PMG_REVIEW_ON_THE_IMPLEMENTATION_OF_ZONDO_RECOMMENDATIONS.pdf"
			target="_blank">A PMG Review of Parliament’s Processing of the State Capture Commission Report</a></p>
	<p>Considering all of this, it is necessary to reflect on former Chief Justice Mogoeng’s comments in the Nkandla
		judgement about Parliament and its role in our democracy. <em>“Similarly, the National Assembly, and by
			extension Parliament, is the embodiment of the centuries-old dreams and legitimate aspirations of all our
			people. It is the voice of all South Africans, especially the poor, the voiceless and the least˗remembered.
			It is the watchdog of state resources, the enforcer of fiscal discipline and cost-effectiveness for the
			common good of all our people. It also bears the responsibility to play an oversight role over the Executive
			and state organs and ensure that constitutional and statutory obligations are properly executed. For this
			reason, it fulfils a pre-eminently unique role of holding the Executive accountable for the fulfilment of
			the promises made to the populace through the State of the Nation Address, budget speeches, policies,
			legislation and the Constitution, duly undergirded by the affirmation or oath of office constitutionally
			administered to the Executive before assumption of office. Parliament also passes legislation with due
			regard to the needs and concerns of the broader South African public. The willingness and obligation to do
			so is reinforced by each member’s equally irreversible public declaration of allegiance to the Republic,
			obedience, respect and vindication of the Constitution and all law of the Republic, to the best of her
			abilities. In sum, Parliament is the mouthpiece, the eyes and the service-delivery-ensuring machinery of the
			people. No doubt, it is an irreplaceable feature of good governance in South Africa.”</em></p>
	<h3>Progress Report</h3>
	<p>SUMMARY OF TABLE: 19 recommendations relate to Parliament’s processes (including the processing of legislation
		specific to Parliament); several recommendations containing various elements, but grouped into 27, for referral
		purposes relate to other entities including government departments.</p>
	<p>Below is a table outlining Parliament's recommended processes for specific legislative matters that have been
		addressed by the relevant committees. The table categorises these matters into three statuses: green indicating
		those that have been addressed, yellow indicating ongoing matters and red indicating outstanding matters. This
		visual representation highlights the procedural recommendations and corresponding actions taken by the
		committees in response to legislative considerations.</p>
	<div class="recommendation-block">
		<div class="recommendation-number">1</div>
		<div class="recommendation">Parliament should consider amending section 6(1) of the Intelligence Services Oversight Act 40 of 1994, to
			ensure that, before an election, the outgoing Joint Standing Committee on Intelligence is required to report
			to Parliament on as much as possible of the period preceding the election.</div>
		<div>Joint rule 1(2)(l) read with joint rule 8(5) in Schedule B of the Rules of the JSCI provide for special
			reporting of the JSCI. It defines the “special report” as a report that is prepared by the Committee at the
			request of Parliament, the President or the Minister responsible for each Service, or when the Committee
			deems it necessary, and tabled or submitted as provided for in section 6(2) of the Act. In terms of this
			defined special report, the Committee may report to Parliament, through the special report mechanism, at any
			given time as and when the Committee deems it necessary.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">2</div>
		<div class="recommendation">Parliament should consider whether it would be desirable to enact legislation which protects Members of
			Parliament from losing their party membership (and therefore their seats in Parliament) merely for
			exercising their oversight duties reasonably and in good faith.</div>
		<div>The constitutional oath of office for all Members of Parliament should serve as a guideline for executing
			Members’ constitutionally mandated functions. Sections 58 and 71 of the Constitution, 1996 which deal with
			privilege. and which provide that Cabinet members, Deputy Ministers, Members of the National Assembly,
			delegates to the National Council of Provinces and local government representatives participating in the
			Council, have freedom of speech in the Assembly and the Council and in its committees, subject to its rules
			and orders and are not liable to civil or criminal proceedings, arrest, imprisonment or damages for anything
			that they have said in, produced before or submitted to the Assembly, the Council or any of its committees,
			or anything revealed as a result of anything that they have said in, produced before or submitted to the
			Assembly, the Council or any of its committees. Section 6 of the Powers, Privileges and Immunities of
			Parliament and Provincial Legislatures Act, 2004 already provides for the protection of members for the
			exercise of their constitutional responsibilities. The Section provides for the privileges, immunities,
			independence and protection of members and Parliament. </div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">3</div>
		<div class="recommendation">Subject to budgetary restraints, the scale and skills of the research and technical assistance made
			available to the portfolio committees be enhanced.</div>
		<div>In the last 12 months, additional content advisors, legal advisors and researchers have been appointed. All
			critical appointments aimed at addressing capacity constraints are being made.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">4</div>
		<div class="recommendation">Parliament needs to make it clear that the practice of late submissions to portfolio committees will not be
			tolerated.</div>
		<div>Committees already have powers in the Rules and legislation (Powers, Privileges and Immunities of
			Parliament and Provincial Legislatures Act) to obtain information they need.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">5</div>
		<div class="recommendation">Parliament should consider whether there is a need to legislate on the issue of reports by representatives
			of the Executive to Parliament.</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">determined</a>
			that there is no need for legislation in this regard. Instead, it agreed on parameters for guidelines on
			managing this exercise.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">6</div>
		<div class="recommendation">Parliament needs to make clear that non-attendance by ministers and others scheduled to attend portfolio
			committee meetings will not be tolerated and to ensure that consequences are visited on those who offend
			without adequate cause. (Parliament should consider whether there is a need to legislate on this issue.)
		</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">concluded</a>
			that there was no need for additional legislation or rules. The Committee also noted that the Powers,
			Privileges and Immunities of Parliament and Provincial Legislatures Act already made it an offence for
			persons to refuse to appear before Parliament. As an example, in the past 12 months a Minister was summoned
			for not appearing before the Committee on Tourism.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">7</div>
		<div class="recommendation">Parliament should consider whether it supports the principle of "amendatory accountability" and, if it
			does, whether it would be desirable to give detailed substance to this principle in an Act of Parliament,
			along the lines suggested in the Corder Report.</div>
		<div>Parliament should consider whether it supports the principle of "amendatory accountability" and, if it
			does, whether it would be desirable to give detailed substance to this principle in an Act of Parliament,
			along the lines suggested in the Corder Report.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">8</div>
		<div class="recommendation">Consideration should be given by Parliament to amendments to its own rules, with a view to addressing the
			problem of ministers who fail to report back to Parliament on what if anything has been done in respect of
			remedial measures proposed by Parliament or on alternative methods preferred by them to address defective
			performance highlighted by Parliament.</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">acknowledged</a>
			that the Sixth Parliament had taken steps to facilitate co-operation between Parliament and the Executive.
			The Committee concluded that there was no need for additional legislation or rules.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">9</div>
		<div class="recommendation">The Commission supports the recommendation that, with the support of a majority of members of a portfolio
			committee, a portfolio committee could put a minister to terms in respect of remedial action, and could
			thereafter, through the Speaker intercede with the President, as head of the national executive, in the
			event of non- compliance. The Leader of Government Business could also play a role in such a process.</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">acknowledged</a>
			that the Sixth Parliament had taken steps to facilitate co-operation between Parliament and the Executive.
			The Committee concluded that there was no need for additional legislation or rules.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">10</div>
		<div class="recommendation">Parliament should consider whether more representatives of opposition parties should be appointed as chairs
			of portfolio committees.</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">did not agree</a>
			with the view expressed by the State Capture Commission that parliamentary oversight may be better served if
			more chairpersons were elected from minority parties but reiterated that Section 57 of the Constitution
			(1996), empowered the Assembly to determine its internal arrangements, proceedings and procedures. </div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">11</div>
		<div class="recommendation">Parliament to consider whether it is desirable to amend its rules to give effect to the proposals by
			Corruption Watch on appointments by Parliament.</div>
		<div>The Rules Committee <a href="https://pmg.org.za/committee-meeting/36740/" target="_blank">noted</a> that
			the option of legislative review may not resolve the challenges alluded to by the State Capture Commission.
			Moreover, there were already laws and best practices concerning the selection of certain office-bearers and
			that all appointments must be based on merit. Best practices already developed by Parliament should be
			maintained.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">12</div>
		<div class="recommendation">Parliament should consider whether it would be desirable for it to establish a committee whose function is
			or includes oversight over acts or omissions by the President and Presidency, which are not overseen by
			existing portfolio committees.</div>
		<div>There was a study tour undertaken to explore international best practice. Based on the engagements, the
			Rules Committee <a href="https://pmg.org.za/committee-meeting/38666/" target="_blank">noted</a> that, while
			the Assembly already has comprehensive procedures to facilitate oversight, it must remain proactive and
			receptive to reform. The report also suggested that, in the case of the Presidency, the Seventh Parliament
			consider which committee would be best placed to scrutinise the budget of the Presidency.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">13</div>
		<div class="recommendation">Political Party Funding Act 6 of 2018 be amended to criminalise the making of donations to political
			parties in the expectation of or with a view to the granting of procurement tenders or contracts as a reward
			for or in recognition of such grants having been made.</div>
		<div>This matter was addressed by the Electoral Matters Amendment <a href="https://pmg.org.za/bill/1202/"
				target="_blank">Bill</a>, which Parliament passed in March 2024 and is awaiting the President’s
			signature.</div>
		<div class="addressed"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">14</div>
		<div class="recommendation">Parliament should consider whether introducing a constituency-based (but still proportionally
			representative) electoral system would enhance the capacity of Members of Parliament to hold the Executive
			accountable. If Parliament considers that introducing a constituency-based system has this advantage, it is
			recommended that it should consider whether, when weighed against any possible disadvantages, this advantage
			justifies amending the existing electoral system.</div>
		<div>The Electoral Amendment <a href="https://pmg.org.za/bill/1054/" target="_blank">Act</a>, 2023, passed by
			Parliament makes provision in section 23 for an Electoral Reform Consultation Panel, which the Minister must
			establish. The functions of the Panel inter alia are to independently investigate, consult on, report on and
			make recommendations in respect of potential reforms of the electoral system for the election of the
			National Assembly and Provincial Legislatures.</div>
		<div class="ongoing"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">15</div>
		<div class="recommendation">Parliament to ensure that adequate funds are allocated, particularly to portfolio committees, to enable
			effective parliamentary oversight.</div>
		<div>Parliament is in ongoing consultations with National Treasury for more resources in fulfilment of its
			constitutional mandate. The Joint Financial Management of Parliament Committee <a
				href="https://pmg.org.za/committee-meeting/38627/" target="_blank">advised</a> the Seventh that the next
			Parliament should take up a funding model to ensure a budget governance system, process and allocations
			commensurate with Parliament as an Arm of State.</div>
		<div class="ongoing"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">16</div>
		<div class="recommendation">Parliament to implement a system to "track and monitor" implementation (or non-implementation) by the
			Executive of corrective action proposed in reports adopted by Parliament.</div>
		<div>At present, most committees have a “recommendation tracking tool” in place to follow up on actions to be
			taken by the Executive. The Houses, too, have manual systems in place, and an e-system is being piloted.
			This matter is also part of the Annual Performance Plan of the institution. <p>The Rules Committee <a
					href="https://pmg.org.za/tabled-committee-report/5743/" target="_blank">recommends</a> a model for
				the Assembly to follow up with government assurances made by Ministers from the floor of the House.
				Members will be aware that Ministers do undertake to respond to issues raised by members during debates,
				in reply to statements and questions. In this regard, the Rules Committee has agreed that a record be
				maintained of these undertakings and that they be referred to the relevant oversight committee by the
				Speaker. This will therefore serve as another avenue for Parliament to hold the Executive to account. As
				another initiative, the Rules Committee endorsed a system to monitor the implementation of House
				resolutions. The Assembly can now expect regular reports on the status of compliance with these
				resolutions.</p>
		</div>
		<div class="ongoing"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">17</div>
		<div class="recommendation">Parliament to establish an Oversight and Advisory Section to provide advice, technical support, co-
			ordination, and tracking and monitoring mechanisms on issues arising from oversight and accountability
			activities of Members of Parliament and the committees to which they belong.</div>
		<div>The matter of oversight monitoring, tracking and advisory is currently receiving attention, with the focus
			being on capacity more than on establishing new structures.</div>
		<div class="ongoing"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">18</div>
		<div class="recommendation">Interactions between the National Executive and Parliament</div>
		<div>There are ongoing interactions between Parliament and the Leader of Government Business on parliamentary
			processes. Parliament and National Treasury are also engaging with a view to giving appropriate ways to give
			effect to the State Capture Commission’s recommendations on the resourcing of Parliament, specifically with
			respect to its capacity to hold the Executive to account.<p>Discussions are ongoing between Parliament and
				Treasury with a view to reinforcing Parliament’s financial resources. </p>
		</div>
		<div class="ongoing"></div>
	</div>
	<div class="recommendation-block">
		<div class="recommendation-number">19</div>
		<div class="recommendation">Matters concerning implicated members</div>
		<div>12 cases were referred to the Joint Committee on Ethics and Members Interests, and 8 have been concluded
			*The Ethics Committee did not respond to questions for an update</div>
		<div class="ongoing"></div>
	</div>
</div>
</div>