{% extends 'base.html' %}
{% from "_macros.html" import render_field %}

{% block title %}Change password | PMG{% endblock %}

{% block page %}
<h1>Change password</h1>
<hr>
<form class="form-horizontal" role="form" action="{{ url_for('security.change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field(change_password_form.password) }}
  {{ render_field(change_password_form.new_password) }}
  {{ render_field(change_password_form.new_password_confirm) }}
  {{ render_field(change_password_form.submit) }}
</form>
{% endblock %}

