{% extends 'base.html' %}
{% from "_macros.html" import render_field %}

{% block page %}
<div class="text-center title-heading">
  <h1>Forgot your password?</h1>
  <p class="lead">Enter your email below, and we will send you a link for resetting your password.</p>
</div>
<div class="shaded form-container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form class="form-horizontal" role="form" action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        {{ render_field(forgot_password_form.email) }}
        {{ render_field(forgot_password_form.submit) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
