{% extends 'base.html' %}
{% from "_macros.html" import render_field %}

{% block title %}Resend confirmation instructions | PMG{% endblock %}

{% block page %}
  <h1>Resend confirmation instructions</h1>
  <hr>
  <form class="form-horizontal" role="form" action="{{ url_for('security.send_confirmation') }}" method="POST" name="send_confirmation_form">
    {{ send_confirmation_form.hidden_tag() }}
    {{ render_field(send_confirmation_form.email) }}
    {{ render_field(send_confirmation_form.next) }}
    {{ render_field(send_confirmation_form.submit) }}
  </form>
{% endblock %}
