.preview-area .well {
  max-height: 300px;
  overflow-y: auto;
}

fieldset {
  margin-bottom: 20px;
}

#new_alert_form .template-tips {
  padding-top: 7px;
}

.form-group .form-inline .checkbox {
  display: block;
}
