.committee-nav {
  ul {
    li {
      &.active {
        font-weight:bold;
      }
    }
  }
}

.committees-list {
  margin-top:20px;

  ul {
    list-style:none;
    padding-left:15px;

    li {
      margin:3px 0;

      .premium {
        color:#F5A623;

        .text {
          text-decoration:underline;
          font-size:13px;
        }
      }
    }
  }

  .adhoc {
    h3 {
      margin-top:0;
      margin-left:15px;
    }
  }
}

.committee-header {
  h1 {
    margin: 0px 0px 10px;
  }

  h2 {
    margin: 0px 0px 5px;
    color: #777;
  }
}

.committee-search {
  margin-top:20px;
  margin-left:25px;

  .fa-search {
    position:absolute;
    right:25px;
    top:37px;
    font-size:18px;
  }
}

// committee detail page
.member-profile-pic{
  max-width: 50px;
  max-height: 75px;
}

.member-profile-pic.chairperson{
  max-width: 100px;
  max-height: 150px;
}

// committee questions
.committee-question-list {
  .committee-question-detail {
    padding-bottom: 50px;
  }
  .question-reply-detail {
    padding-bottom: 20px;
  }
}
.committee-question-detail {

  .media-object {
    width: 64px;

    img {
      max-width: 64px;
    }
  }
}

.committee-question-reply {
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 5px;
          vertical-align: top;
          border: 1px solid #ddd;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid #ddd;
    }
  }
}
