.committees {
  .tab-content {
    margin-top:20px;
  }

  h3 {
    margin-top:0;
  }
}

.committee-header {
  h1 {
    margin: 0px 0px 10px;
  }

  h2 {
    margin: 0px 0px 5px;
    color: #777;
  }
}

// committee detail page
.member-profile-pic{
  max-width: 50px;
  max-height: 75px;
}

.member-profile-pic.chairperson{
  max-width: 100px;
  max-height: 150px;
}

// committee questions
.committee-question-list {
  .committee-question-detail {
    padding-bottom: 50px;
  }
  .question-reply-detail {
    padding-bottom: 20px;
  }
}
.committee-question-detail {

  .media-object {
    width: 64px;

    img {
      max-width: 64px;
    }
  }
}

.committee-question-reply {
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 5px;
          vertical-align: top;
          border: 1px solid #ddd;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid #ddd;
    }
  }
}
