#wrapper > .container {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.page {
    margin-top: 0 !important;
}

.pr6-section .header {
    background-color: #f8f5ec;
    height: 350px;
}

.header-container {
    background: url('/static/resources/images/pr6/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.pr6-title {
    width: 350px;
    margin: 0 auto;
    display: block;
}

.pr6-page-container {
    background-color: #fff;
    border-radius: 42px 42px 0 0;
    padding: 2em 2em;
    position: relative;
    top: -100px;
}

.pr6-intro h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.pr6-intro p {
    font-size: 18px;
    margin: 2em 0 1.5em;
}

.pr6-intro p:first-child {
  margin-top: 0;
}

.pr6-intro p.smaller {
    font-size: 14px;
    margin: 1em 0 2em;
}

.pr6-intro img {
    width: 100%;
}

.pr6-section-title {
    margin: 2em 0;
}

.pr6-articles article, .pr6-interviews article, .pr6-statistics article {
    background-color: #fbfaf5;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 1em;
    height: 100%;
    margin-bottom: 1em;
    transition: all 0.5s;
}

.pr6-articles article a {
  display: block;
}

.pr6-interviews article {
    background-color: #f3f8f6;
}

.pr6-interviews article img {
  display: block;
  margin: 0 0 1.5em 0;
  filter: grayscale(100%);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.8;
  width: 100%;
}

.pr6-statistics article {
    background-color: #f8f3f3;
}

.pr6-articles article h3, .pr6-interviews article h3, .pr6-statistics article h3{ 
    font-size: 18px;
    margin: 0 0 1em;
    font-weight: bold;
}

.pr6-articles article .article-meta, .pr6-interviews article .article-meta, .pr6-statistics article .article-meta {
    font-size: 12px;
    color: #333;
    font-weight: bold
}

.pr6-articles article .article-intro, .pr6-interviews article .article-intro, .pr6-statistics article .article-intro {
    margin-top: 1em;
    font-size: 14px;
    color: #333;
}

.pr6-articles article:hover, .pr6-interviews article:hover, .pr6-statistics article:hover {
    background-color: #f8f5ec;
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.pr6-articles article a:hover, .pr6-interviews article a:hover, .pr6-statistics article a:hover {
    text-decoration: none;
}



.full-article .article-meta {
  font-size: 18px;
  color: #82BDA6;
  text-align: center;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.full-article .article-title {
  font-size: 40px;
  line-height: 1.3em;
  text-align: center;
  padding: 0 3em;
  margin: 0 0 0.8em 0;
}


.full-article .article-intro {
  font-size: 20px;
  padding: 0 2em;
  text-align: center;
  margin: 2em 0 3em;
  color: #333;
}

.full-article .bio {
  background-color: rgba(248, 245, 236,0.6);
  padding: 1.5em;
  border-radius: 5px;
  margin: 0 0 1em 0;
  color: #333;
  line-height: 1.5em;
}

.full-article .article-content {
  font-size: 16px;
  line-height: 1.4em;
  padding: 0 2em;
  
}

.full-article .article-content p {
  margin-bottom: 2em;
  text-align: justify;
  color: #666;
  line-height: 1.5em;
}

.full-article .article-content ul {
  margin-bottom: 2em;
}

.full-article .article-content li {
  color: #666;
  line-height: 1.5em;
}

.full-article .article-content p.quote {
  padding-left: 2em;

}

.full-article .article-content p.first-par::first-letter {
  float: left;
  line-height: 50px;
  font-size: 70px;
  font-family: Montserrat;
  color: #fff;
  background-color: rgb(130, 186, 165);
  padding: 5px;
  margin: 5px 10px 0 0;
}

.full-article .article-content blockquote {
  float: left;
  width: 300px;
  color: #f05532;
  position: relative;
  font-size: 1.4em;
  padding-left: 2em;
  margin: 1em;
  line-height: 1.3em;
}


.full-article .article-content blockquote.right {
  float: right;
  border-left: none;
  border-right: 5px solid #eee;
}

.full-article .article-content blockquote.full {
  float: none;
  width: 100%;
  margin: 2em 0;
}



.full-article .article-content h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.full-article .article-content h4 {
  font-size: 1.1em;
  font-weight: bold;
}



.full-article .article-extra, .full-article .article-footnotes, .full-article .disclaimer {
  font-size: 14px;
  margin: 2em 0;
  border-top: 1px solid #ccc;
  padding-top: 2em;
}

.full-article .article-extra, .full-article .article-footnotes p {
  color: #666;
}


.full-article .flourish-embed {
  margin: 2em 0 3em 0;
}


.full-article sup {
  font-weight: bold;
  color: #F05532;
  position: relative;
  cursor: pointer;
}

.full-article sup .fn {
  position: absolute;
  background: #f8f5ec;
  border-radius: 5px;
  padding: 1em;
  font-size: 11px;
  width: 200px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  top: 1em;
  left: 1em;
  color: #333;
  line-height: 1.2em;
  text-align: left;
  font-weight: normal;

}


.full-article .recommendation-block {
  background: #f8f5ec;
  padding: 2em;
  border-radius: 5px;
  margin: 2em 0;
  position: relative;

  text-align: justify;
  color: #666;
  line-height: 1.5em;
}

.full-article .recommendation-number {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  padding: 0.1em 0.2em 0.1em;
  border-radius: 50%;
  background: #666;
  color: #fff;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.full-article .recommendation {
  font-weight: bold;
  color: #333;
  margin: 0 0 1.5em 0;
}



.full-article .addressed, .full-article .ongoing {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  transform: rotate(10deg);
  font-size: 0.8em;

}

.full-article .addressed::after {
  content: "Addressed";
  text-transform: uppercase;
  background-color: #00b78e;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
}

.full-article .ongoing::after {
  content: "Ongoing";
  text-transform: uppercase;
  background-color: #f1a201;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5em;
}

.article-image {
  margin: 1em 0 2em;
}

.article-image.article-image-full {
  width: 100%;
}

.full-article .article-image img {
  display: block;
  width: 100%;
}

.article-image .caption {
  font-size: 0.8em;
  color: #333;
  margin: 1em 0;
}

.full-article .info-block {
  padding: 2em 2em 1em;
  text-align: center;
  margin: 2em 0 3em;
  color: #333;
  background: #f8f5ec;
}

.full-article .interview-party {
  text-align: center;
  margin: 2em 0 3em;
  font-weight: bold;
}

.full-article .interview-pa-link {
  text-align: center;
  margin: 2em 0 3em;
  font-weight: bold;
}

.full-article .profile-pic {
  width: 200px;
  border-radius: 5px;
  float: left;
  margin: 0 2em 1em 0;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.full-article .article-content .indent {
  padding-left: 3em;

}

/* Design Elements */

.pr6-design-element2 {
  width: 100px;
}

.pr6-design-element2 {
  margin: 2em auto;
}

.pr6-design-element img {
  width: 100%
}



/* Sidebar */

.sidebar {
  margin-top: 1em;
  background: rgba(123, 190, 160,0.05);
  border-radius: 5px;
  padding: 1em;
}

.sidebar h3 {
  background-image: url('/static/resources/images/pr6/dots1.png');
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 0 0 0 40px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 2em;
}

.sidebar ul li {
  margin-bottom: 1em;
}

.sidebar ul li a {
  display: block;
  transition: all 0.3s;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: none;
  padding-left: 0.4em;
}

.sidebar ul li a span {
  font-weight: bold;
  color: #F05532;
}


/* Grid Container */
.pr6-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  
  /* Grid Columns */
  .pr6-row [class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
  
  .pr6-row .col-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  
  .pr6-row .col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  
  .pr6-row .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 1.5em;
  }
  
  .pr6-row .col-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    margin-bottom: 1.5em;
  }
  
  .pr6-row .col-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  
  .pr6-row .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .pr6-row .col-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  
  .pr6-row .col-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  
  .pr6-row .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .pr6-row .col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  
  .pr6-row .col-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  
  .pr6-row .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  /* Clearfix for Rows */
  .pr6-row::after {
    content: "";
    display: table;
    clear: both;
  }

  /* on table: */

  @media screen and (max-width: 768px) {
    .pr6-row {
      display: block;
    }
  
    .pr6-row [class^="col-"] {
      margin-bottom: 1.5em;
      width: 100%;
      max-width: 100%;
    }

    .hide-sm {
      display: none;
    }
  }

  /* Typography & General */

  .text-right {
    text-align: right;
  }

  .hr {
    width: 100px;
    border-bottom: 2px solid #000;
  }

  .pr6-section a {
    color: #F05532;
  }
  
