$icon-font-path:    "../../bower_components/bootstrap-sass/assets/fonts/";

$black = #333;

//** Global textual link color.
$link-color:            #0178d8;

// scale down heading font sizes, h1 is like h2, h2 like h3, etc.
$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 2.15));
$font-size-h2:            floor(($font-size-base * 1.7));
$font-size-h3:            ceil(($font-size-base * 1.25));

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-light: #efefef;
$grey-medium: #dddddd;
$grey-dark: #777777;
$grey-darkest: #444444;

$blue-light: #83bcec;
$blue-medium: #338fdb;
$blue-dark: #0e79d2;
$blue-darkest: #075ba1;

$orange: #ff8856;
$green: #27df95;

@import "/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.top-links,
.breadcrumb {
  font-family: $headings-font-family;
}


// Navbar

.navbar-pmg {
  background-color: #DDD;
  border: none;
  border-radius: 0px;

  padding-top: 3px;
  margin-bottom: 0px;

  #logo {
    max-height: 30px;
  }

  .logo-container {
    min-width: 173px;
  }

  .container {
    .navbar-brand {
      padding: 7px 0;
      margin-left: 0px;
    }
  }

  .navbar-form {
    width: 100%;
    margin-bottom: 0px;
    border: none;

    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    .input-group {
      width: 100%;
    }
  }

  .navbar-right {
    .navbar-btn {
      margin-top: 6px;
      margin-right: 15px;
    }
  }

  .navbar-nav {
    margin: 0;

    .account {
      color: #777;
      padding-left: 15px;
    }
  }

  .navbar-toggle {
    margin: 0;
    padding-top: 15px;
  }
}

nav.top-links {
  background-color: #efefef;

  ul {
    padding: 10px 0px;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .btn {
    margin-top: 6px;
  }
}

.btn {
  .fa-twitter {
    color: #4099FF;
  }

  .fa-facebook {
    color: #3b5998;
  }
}

// main page content
article.page {
  margin-top: 10px;
}

.breadcrumb {
  background: none;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}


.block-xs {
  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.dateline {
  font-weight: bold;
  margin: 5px 0px;
}

.bottom {
  position: absolute;
  bottom: 0px;

  p {
    margin-bottom: 0px;
  }
}

.text-background {
  background-color: rgba(255,255,255,0.8);
  padding: 0 15px;
}

#reports {
  form {
    margin-top: 15px;
  }

  table {
    margin-top: 35px;
  }
}

.light-red {
  color: lighten($brand-danger, 10%);
}

.list-spaced {
  li {
    margin: 15px 0px;
    img {
      float: left;
      margin-right: 5px;
    }
  }
}

.space-bottom {
  margin-bottom: 40px;
}

.space-bottom-sm {
  margin-bottom: 10px;
}

.container-body {
  min-height: 60vh;
}

.nav-pills {
  margin-bottom: 10px;
}

.chosen-container {
  margin-bottom: 20px;
}

.collapse {
  display: none;
}

.collapse-link {
  cursor: pointer;
}

// sections on the home page
.index article section {
  padding: 40px 0px;

  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0px;
  }

  h3 {
    color: $orange;
  }
}

.home-banner {
  background: #444 url(../images/sa-parliament.jpg) 50% 50% no-repeat;
  width: 100%;
  height: 250px;
  background-size: cover;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .banner-content {
        height: 100%;
        position: relative;
      }

      .call-to-action {
        position: absolute;
        bottom: 10px;
        color: #fff;
        transition: 0.3s ease-out;
        background-color: $grey-dark;
        opacity: 0.7;
        width: 40%;
        padding: 15px;
        max-height: 100%;

        &:hover {
          opacity: 1;
        }

        a {
          background-color: $orange;
          color: #fff;
        }
      }

      .banner-blocks {
        padding-top: 10px;
        padding-bottom: 10px;

        .banner-block {
          height: 29%;
          background-color: #efefef;
          padding: 10px;
          margin: 15px 0;

          &:hover {
            background-color: #ddd;
          }

          a {
            color: $gray-dark;

            &:hover {
              text-decoration: none;
            }
          }

          h3 {
            margin: 0px;
            vertical-align: middle;
          }
        }

        .pa-link {
          .logo {
            height: 100%;

            img {
              max-width: 90px;
              max-height: 100%;
              vertical-align: middle;
            }
          }
          .text {
            font-size: 12px;
            padding-left: 10px;
            text-align: center;
          }
        }

        .banner-block.first {
          margin-top: 0;
        }
        .banner-block.last {
          margin-bottom: 0;
        }
      }
    }
  }
}

.index .home-search-banner {
  background-color: $grey-light;

  h2 {
    margin: 0px 0px 20px;
  }
}

.home-recent-items {
  .subsection {
    padding: 20px;
    background-color: $grey-light;
  }
}

.vertical-align-helper {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.search {
  background-color: #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature-set {
  margin-bottom: 30px;
}

.light-grey {
  background-color: #efefef;
}

.content-cards {
  transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -webkit-transition: max-height 0.2s ease;

  a, a:link, a:hover {
    text-decoration: none;
    color: $black;
  }

  .card {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    background-color: white;

    height: 140px;

    h4 {
      margin-top: 0px;
      font-size: 14px;
      font-weight: bold;
    }

    h5 {
      margin-top: 0px;
      font-size: 14px;
      color: #333;
    }

    h6 {
      position: absolute;
      bottom: 0px;
      color: #777;
    }
  }

  .feature-card {
    background-color: $grey-light;

    &:hover {
      background-color: $grey-medium;
    }
  }

  &.moreable {
    max-height: 320px;
    overflow-y: hidden;

    &.expanded {
      max-height: 900px;
      overflow-y: scroll;
    }
  }
}

.show-more {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: $grey-light;
  color: $blue-medium;
  border-radius: 5px;
}


.correct-this-page-footer {
  margin-top: 40px;
}

.correct-this-page-form .correct_website {
  display: none;
}

.footer {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #dedede;

  h5 {
    text-transform: uppercase;
  }

  form {
    margin-top: 20px;
  }

  a, a:hover {
    color: lighten($link-color, 40%);
  }

  a.btn, a.btn:hover {
    color: #333;
  }

  .pa-link {
    margin-top: 10px;
    img {
      background-color: #efefef;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.footer-1 {
  background-color: darken(#ddd, 40%);
    margin-top: 60px;
  @media (max-width:768px) {
    margin-top: 30px;
  }
}

.footer-2 {
  background-color: darken(#ddd, 60%);
}

.bill-tiles {
  .thumbnail,
  .thumbnail:hover {
    text-decoration: none;
  }

  h3 {
    margin-top: 0px;
  }
}

// member listing page
ul.member-list {
  > li {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 5px;

    .pic {
      float: left;
      width: 50px;
      height: 75px;
      margin-right: 5px;
      background-color: #ccc;
    }

    .name {
      margin-top: 0px;
    }

    .party,
    .province {
      display: block;
    }
  }
}

.bill-versions {
  .label {
    font-size: 100%;
  }
}

mark {
  padding: 0px;
  font-weight: bold;
  background-color: #ff0;
}

// listing pages
.content-list {
  .type {
    display: none;
  }
}

// search results
.item-list {
  .date {
    float: right;
    text-align: right;
    font-style: italic;
  }

  li {
    padding: 10px;
    border-top: 1px solid #ccc;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  h4, h5 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    color: #777;
  }
}


// bill history

.bill-events {
  .stage-icon {
    width: 64px;
    height: 64px;
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
  }

  .panel-title {
    text-transform: uppercase;
  }

  .bill-location.NA {
    border-color: cornflowerblue;

    .panel-heading {
      border-color: cornflowerblue;
      background-color: cornflowerblue;
      color: white;
    }
  }

  .bill-location.NCOP {
    border-color: lightgreen;

    .panel-heading {
      border-color: lightgreen;
      background-color: lightgreen;
    }
  }

  .bill-location.president {
    border-color: greenyellow;

    .panel-heading {
      border-color: greenyellow;
      background-color: greenyellow;
    }
  }

  .media-body {
    li {
      display: table;
      width: 100%;
    }
  }

  .public-participation {
    font-weight: bold;
  }
}

// email alert signup quick-box
.email-alert-box {
  margin: 10px 0px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #efefef;

  button {
    white-space: normal;
    height: auto;
  }
}

body.search {
  .navbar-form {
    display: none;
  }
}

.search-filter {
  width: 100%;
}

.search-box {
  padding: 0px 0px 15px;
}

.search-page-form {
  width: 100%;
  margin: 8px 0px;
  .input-group {
    width: 100%;
  }
}

.search-head {
  margin: 0 0 10px 0;
  background-color: #efefef;

  h2 {
    margin-top: 5px;
  }

  .search-summary {
    padding: 20px 0 0 30px;
  }

  .search-q {
    text-transform: uppercase;
  }
}

body.email_alerts {
  .tab-content {
    padding-top: 20px;
  }

  .daily-schedule {
    margin-bottom: 40px;
  }

  .search-alert {
    padding: 5px 0 5px 10px;
  }

  .search-phrase {
    text-transform: uppercase;
  }

  .status-indicator {
    margin-left: 5px;
    color: #6CC644;
  }
}
