$icon-font-path:    "../../bower_components/bootstrap-sass/assets/fonts/";

$black: #333;

// ** Global textual link color.
$link-color:            #0178d8;

// scale down heading font sizes
$font-size-base:          14px !default;
$font-size-h1:            26px;
$font-size-h2:            23px;
$font-size-h3:            18px;
$font-size-h4:            16px;
$font-size-h5:            14px;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-light: #efefef;
$grey-medium: #dddddd;
$grey-dark: #777777;
$grey-darkest: #444444;

$blue-light: #6998DD;
$blue-medium: #1f69cd;
$blue-dark: #0A54B9;
$blue-darkest: #083E89;

$orange: #ff8856;

$green-light: #33D2AE;
$green-medium: #0ECBA1;
$green-dark: #00B78E;
$green-darkest: #008668;

$yellow: #F5A623;

@import "/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.top-links,
.breadcrumb {
  font-family: $headings-font-family;
}

// Navbar

.navbar-pmg {
  background-color: #DDD;
  border: none;
  border-radius: 0px;

  padding-top: 3px;
  margin-bottom: 0px;

  #logo {
    max-height: 30px;
  }

  .logo-container {
    min-width: 173px;
  }

  .container {
    .navbar-brand {
      padding: 7px 0;
      margin-left: 0px;
    }
  }

  .navbar-form {
    width: 100%;
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    .input-group {
      width: 100%;
    }
  }

  .navbar-right {
    .navbar-btn {
      margin-top: 6px;
      margin-right: 15px;
    }
  }

  .navbar-nav {
    margin: 0;

    .account {
      color: #777;
      padding-left: 15px;
    }
  }

  .navbar-toggle {
    margin: 0;
    padding-top: 15px;
  }
}

nav.top-links {
  background-color: $grey-light;

  ul {
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .social-buttons {
    padding: 5px 0;
    color: $grey-darkest;
    line-height: 30px;
  }
}

.btn {
  .fa-twitter {
    color: #4099FF;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-linkedin {
    color: #0077b5;
  }
}

// main page content
article.page {
  margin-top: 10px;
}

.breadcrumb {
  background: none;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}


.block-xs {
  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.dateline {
  font-weight: bold;
  margin: 5px 0px;
}

.bottom {
  position: absolute;
  bottom: 0px;

  p {
    margin-bottom: 0px;
  }
}

.text-background {
  background-color: rgba(255,255,255,0.8);
  padding: 0 15px;
}

#reports {
  form {
    margin-top: 15px;
  }

  table {
    margin-top: 35px;
  }
}

.light-red {
  color: lighten($brand-danger, 10%);
}

.list-spaced {
  li {
    margin: 15px 0px;
    img {
      float: left;
      margin-right: 5px;
    }
  }
}

.space-bottom {
  margin-bottom: 40px;
}

.space-bottom-sm {
  margin-bottom: 10px;
}

.container-body {
  min-height: 60vh;
}

.nav-pills {
  margin-bottom: 10px;
}

.chosen-container {
  margin-bottom: 20px;
}

.collapse {
  display: none;
}

.collapse-link {
  cursor: pointer;
}

// sections on the home page
.index article section {
  padding: 30px 0px;

  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0px;
  }

  h3 {
    color: $orange;
  }
}


// Home page banner and elements

.home-banner {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: 0% 50%;
  border-top: 10px solid #fff;
  text-align: center;

  @media(max-width: $screen-sm-max) {
    border-bottom: 10px solid #fff;
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
      .banner-content {
        height: 100%;
        position: relative;
      }
      .single-feature {
        display: none;
        &:first-child {
          display: block;
        }
        .call-to-action {
          position: absolute;
          width: 50%;
          max-height: 100%;
          bottom: 10px;
          color: #fff;
          background-color: $grey-darkest;
          padding: 15px;
          opacity: 0.9;

          &:hover {
            opacity: 0.95;
          }

          a {
            color: #fff;
          }

          h2 {
            margin: 0;
          }
        }
      }
    }
  }
}

.banner-cards {
  background-color: #fff;

  a {
    color: $black;

    &:hover {
      text-decoration: none;
    }
  }

  .banner-card {
    height: 55px;
    line-height: 55px;
    margin: 10px 0;
    padding: 0 5px;
    text-align: center;
    background-color: $grey-light;

    &:hover {
      background-color: $grey-medium;
    }

    &.first {
      margin-top: 0;
    }

    &.last {
      margin-bottom: 0;
    }

    h4 {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .pa-link {
    display: table;
    width: 100%;

    img {
      max-width: 90px;
    }

    .text {
      display: table-cell;
      vertical-align: middle;
      font-size: 12px;
      padding-left: 5px;
      line-height: 1.1em;
    }
  }
}


.index .home-search-banner {
  background-color: $grey-light;

  h2 {
    margin: 0px 0px 20px;
  }
}

.home-recent-items {
  .subsection {
    padding: 20px;
    background-color: $grey-light;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;

    &:after {
      font-family: FontAwesome;
      right: 25px;
      position: absolute;
      top: 10px;
      font-size: 3em;
      line-height: 1;
      color: $grey-medium;
      z-index: -1;
    }

    &.committee-meetings {
      &:after {
        content: "\f0c0";
     }
    }
    &.bills {
      &:after {
        content: "\f0f6";
     }
    }
    &.questions {
      &:after {
        content: "\f128";
     }
    }
    &.blogs {
	&:after{
	    content: "\f044";
	}
    }
  }
}

.content-cards {
  transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -webkit-transition: max-height 0.2s ease;
  position: relative;
  z-index: 1;

  a, a:link, a:hover {
    text-decoration: none;
    color: $black;
  }

  .card {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    height: 160px;

    @media (max-width: $screen-xs-max) {
      height: 115px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      height: 130px;
    }

    h4 {
      margin-top: 0px;
      font-size: 14px;
      font-weight: bold;
    }

    h5 {
      margin-top: 0px;
      font-size: 14px;
      color: #333;
    }

    h6 {
      position: absolute;
      bottom: 0px;
      color: #777;
    }

    &:hover {
      background-color: $grey-medium;
    }

    &.more {
      background-color: #e1e1e1;
      text-align: right;
      z-index: 1;

      &:hover {
        background-color: $grey-medium;
      }

      &:before {
        content: "\f105";
        font-family: FontAwesome;
        left: 60%;
        position: absolute;
        top: -25%;
        font-size: 15em;
        line-height: 1;
        color: $grey-light;
        z-index: -1;
     }
    }
  }

  .feature-card {
    background-color: $grey-light;

    &:hover {
      background-color: $grey-medium;
    }

    &::after {
      font-family: FontAwesome;
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: $grey-medium;
      font-size: 2em;
    }

    &:hover::after {
      color: $grey-light;
    }

    &.committee-meeting::after {
      content: "\f0c0";
    }

    &.page::after {
      content: "\f15c";
    }
  }

  &.moreable {
    max-height: 180px;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
      max-height: 270px;
    }

    &.feature-cards {
      max-height: 370px;

      @media (max-width: $screen-xs-max) {
        max-height: 270px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        max-height: 310px;
      }

    }

    &.expanded {
      max-height: 910px;

      @media (max-width: $screen-xs-max) {
        max-height: 810px;
      }
    }
  }
}

.show-more {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #e1e1e1;
  color: $green-medium;
  border-radius: 5px;

  &.feature {
    background-color: $grey-light;
  }

  &.show-less {
    color: $orange;
  }

  &:hover {
    background-color: $grey-medium;
  }
}

.correct-this-page-footer {
  margin-top: 40px;
}

.correct-this-page-form .correct_website {
  display: none;
}

.footer {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #dedede;

  h5 {
    text-transform: uppercase;
  }

  form {
    margin-top: 20px;
  }

  a, a:hover {
    color: lighten($link-color, 40%);
  }

  a.btn, a.btn:hover {
    color: #333;
  }

  .pa-link {
    margin-top: 10px;
    img {
      background-color: $grey-light;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.footer-1 {
  background-color: darken(#ddd, 40%);
    margin-top: 60px;
  @media (max-width:768px) {
    margin-top: 30px;
  }
}

.footer-2 {
  background-color: darken(#ddd, 60%);
}

.bill-tiles {
  .thumbnail,
  .thumbnail:hover {
    text-decoration: none;
  }

  h3 {
    margin-top: 0px;
  }
}

.select-house, .select-year {
  margin-top: 20px;
  .col-label {
    padding-top: 5px;
  }
}
.select-year {
  input {
    display: none;
  }
  label {
    &.btn {
      margin-bottom: 5px;
    }
  }
}

// member listing page
.mp-list {
  &.collapsed {
    max-height: 249px;
    overflow: hidden;
  }
  &.searching {
    overflow: inherit !important;
  }
  @media (min-width: 1200px) {
    .col-house {
      &:nth-of-type(2) {
        margin-left: 8.33333%;
      }
    }
  }
  .col {
    min-height: 0;
  }
  .single-member {
    display: block;
    margin-bottom: 20px;
    border: 1px solid $grey-light;
    border-radius: 2px;
    color: $black;
    &:hover {
      border-color: $grey-medium;
    }
    .photo {
      height: 75px;
      width: 50px;
      border-radius: 2px 0 0 2px;
      img {
        width: 100%;
      }
    }
    .name {
      margin-top: 15px;
    }
    .party, .province {
      color: $grey-dark;
    }
  }
  // in flex cards
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    text-decoration: none;
  }
  .single-mp {
    img {
      margin-right: 10px;
    }
  }
}

.bill-versions {
  .label {
    font-size: 100%;
  }
}

mark {
  padding: 0px;
  font-weight: bold;
  background-color: #ff0;
}

// listing pages
.content-list {
  .type {
    display: none;
  }
}

// search results in a list
.item-list {
  .date {
    float: right;
    text-align: right;
    font-style: italic;
  }

  li {
    padding: 10px;
    border-top: 1px solid #ccc;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  h4, h5 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    color: #777;
  }
}

// search results in cards
.item-cards {
  display: flex;
  flex-wrap: wrap;
  .card-wrap {
    height: 100%;
    .card-link {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      .card {
        display: flex;
        position: relative;
        height: 90%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border-bottom: 1px solid $grey-medium;
        background-color: $grey-light;
        color: $grey-dark;
        &:hover {
          background-color: $grey-medium;
        }
        .card-content {
          width: 100%;
          position: relative;
          .card-title {
            margin-top: 5px;
            font-size: 18px;
            font-weight: bold;
            color: $grey-darkest;
          }
        }
      }
    }
  }
}

// calls for comments
.call-for-comment-stub {
  .card {
    width: 100%;
  }
  &.open {
    .card-content {
      position: relative;
      padding-bottom: 40px;
      height: 100%;
      width: 100%;
      .footer-open {
        width: 100%;
        background-color: $green-medium;
        color: #fff;
        padding: 3px 6px;
        border-radius: 2px;
        border-bottom: 1px solid $green-dark;
        position: absolute;
        bottom: 0;
        text-align: center;
      }
    }
  }
  .enddate {
    color: $grey-darkest;
  }
}

// bill history
.bill-events {
  .stage-icon {
    width: 64px;
    height: 64px;
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
  }

  .panel-title {
    text-transform: uppercase;
  }

  .bill-location.NA {
    border-color: cornflowerblue;

    .panel-heading {
      border-color: cornflowerblue;
      background-color: cornflowerblue;
      color: white;
    }
  }

  .bill-location.NCOP {
    border-color: lightgreen;

    .panel-heading {
      border-color: lightgreen;
      background-color: lightgreen;
    }
  }

  .bill-location.president {
    border-color: greenyellow;

    .panel-heading {
      border-color: greenyellow;
      background-color: greenyellow;
    }
  }

  .bill-location.concourt {
    border-color: #fcec56;

    .panel-heading {
      border-color: #fcec56;
      background-color: #fcec56;
    }
  }


  

  .media-body {
    li {
      display: table;
      width: 100%;
    }
  }

  .public-participation {
    font-weight: bold;
  }
}

// email alert signup quick-box
.email-alert-box {
  margin: 10px 0px;
  padding: 20px;
  border-radius: 5px;
  background-color: $grey-light;
  text-align: center;
  button {
    white-space: normal;
    height: auto;
  }
  &.cte-signup-box {
    label {
      line-height: 24px;
    }
  }
}

body.search {
  .navbar-form {
    display: none;
  }
}

.search-filter {
  width: 100%;
}

.search-box {
  padding: 0px 0px 15px;
}

.search-page-form {
  width: 100%;
  margin: 8px 0px;
  .input-group {
    width: 100%;
  }
}

.search-head {
  margin: 0 0 10px 0;
  background-color: $grey-light;

  h2 {
    margin-top: 5px;
  }

  .search-summary {
    padding: 20px 0 0 30px;
  }

  .search-q {
    text-transform: uppercase;
  }

  .tip {
    margin-top: 20px;
  }
}

body.email_alerts {
  .tab-content {
    padding-top: 20px;
  }

  .daily-schedule {
    margin-bottom: 40px;
  }

  .search-alert {
    padding: 5px 0 5px 10px;
  }

  .search-phrase {
    text-transform: uppercase;
  }

  .status-indicator {
    margin-left: 5px;
    color: #6CC644;
  }
}

#cte-nav {
  ul {
    li {
      &.following {
        float: right;
        a {
            color: $grey-dark;
        }
      }
    }
  }
}

.premium {
  color: $orange;

  a, a:hover {
    color: $orange;
  }
}

.cte-list, .cte-list-search-results {
  ul {
    list-style:none;

    li {
      margin:3px 0;
      line-height: 24px;

      .premium {
        font-size: 13px;
      }
    }
  }
}

.cte-list {
  margin-top:20px;

  .tab-pane {
    margin-left:0;
  }

  .adhoc, .prov {
    h3 {
      margin-top:0;
      margin-left:15px;
    }
    ul {
      padding-left:15px;
    }
    .active + .inactive {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      padding-top: 5px;
    }
    .prov-row {
      display: flex;
      flex-wrap: wrap;
      .single-prov {
        margin-bottom: 40px;
      }
    }
  }
  .not-monitored {
    color: $orange;
  }
}

.note {
  font-size: 0.9em;
  margin-top: 20px;
}

.committee-header {
  h1 {
    margin: 0;
  }

  h2 {
    margin: 0px 0px 5px;
    color: #777;
  }
  .no-about .page-sharing {
    margin-top: -33px;
  }
}

header.detail-page-header {
  h1 {
    margin: 0px;
  }
}

.cte-list-search {
  margin-top:20px;
  padding-left:15px;

  ul {
    padding-left:15px;
  }
  .form-group {
    margin-bottom:0;
    padding-bottom:0;
  }
  .fa-search {
    position:absolute;
    right:25px;
    top:8px;
    font-size:18px;
  }

  .legend {
    ul {
      @media screen and (min-width: 768px) {
        float: right;
      }
      @media screen and (max-width: 768px) {
        margin-top: 15px;
        padding-left: 0;
      }
      li {
        list-style: none;
      }
    }

    font-size: 12px;
    .premium {
      color: $orange;

      a, a:hover {
        color: $orange;
      }
    }

    .follow {
      color: $green-dark;
    }
  }
}

.no-results {
  display:none;
}

.cte-list-search-results {
  .no-results {
    margin-left:15px;
  }
  .results-list {
    display:none;
    margin-top:20px;
    padding-left:15px;

    h3 {
      margin-left:30px;
    }
  }
}

.committee_meeting {
  .committee-meeting-content {
    .meeting-summary {
      border-bottom:1px solid #000;
      margin-bottom:30px;
      padding-bottom:20px;
    }
    .full-minutes {
      h3 {
        margin-bottom:15px;
      }
    }
  }
  .cte-meeting-share {
    margin-top: 5px;
  }
}

// committee detail page
.cte-dtl-meetings {
  .tab-content {
    padding:15px 0;
  }
  .table {
    &.table-striped {
      td {
        border:none;
      }
    }
  }
  #bills {
    .table {
      .date {
        min-width: 130px;
      }
      .number {
        min-width: 90px;
      }
    }
  }
}
.member-profile-pic{
  max-width: 50px;
  height: 75px;
}

.member-profile-pic.chairperson{
  max-width: 100px;
  max-height: 150px;
}

.provincial-box {
  margin: 10px 0px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $green-light;
  text-align: center;
  img {
    width: 100%;
    padding: 5px 35% 20px 35%;
  }
  .btn {
    margin-top: 10px;
  }
}

.attendance-rate {
  .panel-heading {
    .panel-title {
      display: inline;
    }
    a {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .yearly-rate:first-child {
    .year, .rate {
      font-size: 18px;
    }
    .rate-text {
      padding-right: 8px;
    }
  }
    .progress {
      height: 8px;
      box-shadow: none;
      border-radius: 2px;
      margin: 5px 0 15px 0;
    }
  .yearly-rate:last-child {
    .progress {
      margin: 5px 0 0 0;
    }
  }
}

.members-of-parliament {
  margin-bottom: 20px;
  .pa-button {
    margin-top: 20px;
    border: 1px solid $grey-medium;
    background-color: #fbfbfb;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
  }
}

.attendance {
  li {
    margin: 0px;
    padding: 10px 15px;
    border-top: 1px solid #ddd;

    img {
      margin-right: 10px;
    }
  }
  .number-absent {
    margin: 10px;
  }
  .list-unstyled {
    margin-bottom: 0;
  }
  .panel-heading {
    border-bottom: none;
  }
}

.membership {
  border-left: 0px solid #ddd;

  li {
    margin: 0px;
    padding: 10px 5px 0 15px;

    img {
      margin-right: 10px;
    }
  }
  .number-absent {
    margin: 10px;
  }
  .list-unstyled {
    margin-bottom: 0;
  }

  .cte-member-box {
    width: 50%;
    float: left;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    min-height: 96px;
  }

  .cte-chairperson-box {
    width: 100%;
  }

  .panel-heading {
    border-left: 1px solid #ddd;
  }

  .panel-body {
    padding: 0;
  }

  .no-members {
    padding: 8px 15px;
    border-left: 1px solid #ddd;
  }
}

.cte-dtl-meetings-nav {
  .nav-tabs {
    li {
      a {
        cursor:pointer;
        padding: 10px 10px;
      }

      &.active {
        font-weight:bold;
      }
    }
  }
}

.cte-dtl-meetings-search {
  .form-group {
    .fa-search {
      position:absolute;
      right:24px;
      top:-15px;
      bottom:0;
      margin:auto 0;
      height:20px;
      font-size:20px;
    }
  }
}

.cte-dtl-meetings-search-results {
  .table {
    margin-bottom:0;
  }
}

.cte-dtl-meetings-filter {
  .form-group {
    width:75%;
    margin:0 auto 15px;
  }
}

// committee questions
.committee-question-list {
  .committee-question-detail {
    padding-bottom: 50px;
  }
  .question-reply-detail {
    padding-bottom: 20px;
  }
}
.committee-question-detail {

  .media-object {
    width: 64px;

    img {
      max-width: 64px;
    }
  }
}

.cte-meeting-summary {
  h3 {
    margin-top:0;
  }
  h5 {
    margin-bottom:0;
  }
  ul {
    margin-top:15px;
    margin-bottom:0;
  }
}

.cte-about-link {
  margin:20px 0;
}

.committee-question-reply {
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 5px;
          vertical-align: top;
          border: 1px solid #ddd;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid #ddd;
    }
  }
}

.content-card.flex {
  background-color: $grey-light;
  color: $grey-dark;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid $grey-medium;
  margin-bottom: 15px;
  display: flex;
  height: calc(100% - 15px);
  width: 100%;
  &:hover {
    background-color: $grey-medium;
    color: $grey-dark;
  }
  .card-title {
    font-weight: bold;
    margin-top: 0;
    color: $grey-darkest;
  }
  &.wc {
    h4 {
      color: $green-dark;
    }
    &:hover {
      color: $green-dark;
    }
  }
}

.provincial-detail-page {
  section {
    margin-bottom: 60px;
  }
  .committees, .calls-for-comment, .members, .schedules {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
    }
  }
  .members {
    img {
      margin-right: 10px;
    }
  }
  .provincial-box {
    margin-top: 20px;
  }
  .calls-for-comment {
    .card-content {
      padding-bottom: 60px;
      .date {
        position: absolute;
        bottom: 25px;
      }
    }
  }
  .schedules {
    a {
      color: $grey-darkest;
      &:hover {
        color: $grey-darkest;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cte-dtl-meetings-filter {
    .form-group {
      width:100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .cte-list, .cte-list-search-result {
    ul {
      padding-left:0;
      margin-bottom:0;
    }
  }

  .cte-list-search {
    padding-left:0;
  }

  .cte-list-search-results {
    .results-list {
      padding-left:0;

      ul {
        margin-bottom:0;
      }
    }
    .no-results {
      margin-left:0;
    }
  }

  .cte-list {
    .adhoc, .prov {
      h3 {
        margin-left:0;
      }
      ul {
        padding-left:0;
      }
    }
  }
}

@media screen and (min-width:545px) {
  .text-sm-right {
    text-align:right;
  }
}

@media screen and (max-width:544px) {
  .committee-header {
    h1.premium {
      margin-top:5px;
    }
  }
}

@media print {
  body {
    font-size: 11px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;

  }

  a[href]:after {
    content: none;
  }

  .email-alert-box,
  .correct-this-page-footer,
  .footer,
  .cte-list-search,
  nav,
  .nav,
  .breadcrumb,
  .cte-about-link,
  .cte-dtl-meetings-search,
  .cte-dtl-meetings-filter,
  .bill-status-container,
  .bill-versions, #wrapper > div > article > div.row > div.col-sm-4 > div,
  .form-group,
  .confirm-email,
  .free-banner,
  .cte-meeting-share,
  .page-sharing {
    display: none !important;
  }

  .list-spaced li {
    margin: -15px 0px;
  }

  .bill-events .bill-location.NA,
  .bill-events .bill-location.NA .panel-heading {
    border-color: black;
  }
  #nat > ul {
    margin-bottom: 0;
  }

  .table tbody tr th,
  .table tbody tr td {
    padding: 6px;
  }

  .committee_meeting .page > .row > .col-sm-8 {
    width: 100%;
  }

  .header-print {
    margin-left: 15px;
  }
}

.cte-follow-committee input[type=checkbox]:not(old) {
  width: 24px;
  height: 21px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.cte-follow-committee input[type=checkbox]:not(old) + label {
  padding-left: 28px;
  background: url('/static/resources/images/unchecked.svg') no-repeat 0 0;
  font-weight: normal;
}

.cte-follow-committee input[type=checkbox]:not(old):checked + label {
  background: url('/static/resources/images/checked.svg') no-repeat 0 0;
}

.cte-follow-committee form {
  margin-bottom: 0;
}

.cte-follow-committee label {
  margin-bottom: 0;
  margin-top: -20px;
  display: block;
}

li.committee.item.list-megamenu {
  padding-bottom: 0;
}

.cte-follow-committee input {
  position: relative;
  vertical-align: middle;
  bottom: -3px;
}

ul.menu {
  margin: 0 auto 0 -5px;
  width: 100%;
  padding: 0;
  position: relative;
  list-style: none;

  & > li {
    padding: 0;
    margin: 0;
    display: inline-block;

    & > a {
      padding: 10px;
      display: block;
    }
  }

  h3 {
    padding-left: 15px;
    margin-top: 10px;
  }

  .pa-favicon {
    margin-bottom: 3px;
    margin-left: 3px;
  }

  .megamenu {
    width: 90%;
    background: #fff;
    padding: 0;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    margin-top: -1px;
    margin-left: -5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

    .megamenu-cta {
      margin-left: 15px;
      margin-bottom: 15px;
    }

    .mm-committees-list, .mm-recent-meetings-list {
      list-style-type: square;
      padding-inline-start: 30px;
      margin-bottom: 15px !important;
    }

    .mm-recent-meetings-list {
      padding-right: 15px;
      line-height: 1.3;

      li {
        margin-bottom: 5px;
      }
    }

    .mm-committees-list {
      padding-right: 0;
    }

    .mm-committees {
      padding-right: 0;
    }

    .mm-recent-meetings {
      padding-left: 0;
      border-left: 1px solid #ccc;

      a {
        margin-right: 5px;
      }

      small {
        color: #777;
      }
    }
  }
}

.navbar-form .input-group .input-group-btn {
  width: 10%;
}

.cte-follow-committee {
  display:inline-block;
}

// .committees-menulink {
//   position: relative;
//   z-index: 105;
//   margin-left: -5px;
//   border: 1px solid transparent;
//   border-width: 0px 1px;

//   &:hover,
//   &.committees-menulink-hover {
//     background-color: #fff;
//     border: 1px solid #ccc;
//     border-width: 0px 1px;
//   }
// }

.mobile-menu-li {
  position: relative;
  display: block;
}

.email-box-checkbox {
  margin-top: 0 !important;
  vertical-align: middle;
}

.deadline {
  background-color: $grey-light;
  padding: 10px;
  border-radius: 5px;
}

.question-highlight {
  background-color: $grey-light;
  padding: 10px;
  border-radius: 5px;
  margin: -5px;
}

.call-open {
  background-color: $green-dark;
  color: #fff;
  padding: 3px;
}

.free-banner {
  background-color: $green-dark;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  a {
    color: #fff;
  }
}

.free-banner.archive {
  background-color: $orange;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  a {
    color: #fff;
  }
}

.premium-but-free {
  background-color: $green-dark;
  padding: 5px;
  color: #fff;
  margin: 5px 0;
}

.page-sharing {
  font-size: 14px;
  display: block;
  @media (min-width: $screen-md-min) {
    float: right;
    display: inline;
  }
}

.committee-attendance-overview {
  table {
    @media (max-width: 768px) {
    }
  }
  .rank {
    width: 20px;
  }
  .cte-name {
    max-width: 250px;
  }
  .th-number-meetings {
    max-width: 50px;
  }
  .progress {
    margin-bottom: 0;
  }
  .th-attendance-change {
    text-align: center;
  }
  .attendance-change {
    position: relative;
    .value {
      position: absolute;
      font-size: 10px;
      line-height: 20px;
    }
    .na {
      font-size: 10px;
      line-height: 20px;
      text-align: center;
    }
    .centre-line {
      width: 1px;
      background-color: #ddd;
      height: 37px;
      position: absolute;
      left: 50%;
      top: -2px;
      &:last-of-type {
        height: 20px;
      }
    }
    .bar {
      height: 20px;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      &.positive {
        background-color: #0ECBA1;
        margin-left: 50%;
        border-radius: 0 4px 4px 0;
      }
      &.negative {
        background-color: #d9534f;
        margin-right: 50%;
        border-radius: 4px 0 0 4px;
        float: right;
      }
    }
    .value-mobile {
      text-align: center;
    }
    .label {
      padding: 3px 7px;
      font-size: 10px;
      line-height: 20px;
      vertical-align: top;
    }
  }
}

.confirm-email {
  background-color: $brand-danger;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.blog-page, .single-blog {
  .single-post {
    margin-bottom: 25px;

    .title {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .preview {
      margin-bottom: 20px;
    }
    .date {
      color: $grey-darkest;
      background: $grey-medium;
      padding: 0.2em 0.4em;
      border-radius: 0.5em;
      font-weight: bold;
      margin-bottom: 10px;
      float: right;
    }
    .body {
      clear: both;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
  .infobox {
    width: 100%;
    padding: 15px;
    overflow: auto;
    margin-bottom: 20px;
    img {
      width: 140px;
      padding: 10px;
      float: right;
    }
  }
  .blog-info {
    border-left: 2px solid $grey-light;
  }
  h1 {
    font-weight: bold;
  }
  h1, h2, h3 {
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: bold;
  }
}
.single-blog {
  .single-post {
      padding: 10px;
      overflow: auto;
  }
  .infobox {
      background-color: $grey-light;
      border-radius: 0.5em;
  }
  .preview-image {
    img {
      margin: 10px 0;
      width: 300px;
      height: auto;
    }
  }
}
.blog-page {
    padding-top: 20px;
    .archive {
      clear: both;
      padding: 15px;
    }
    .infobox {
      border-bottom: 2px solid $grey-light;
      padding-top: 0;
    }
    h4 {
      margin-bottom: 20px;
    }
    .current-filter {
      padding: 0.2em 0.1em 0.2em 0.4em;
      color: $grey-darkest;
      background: $grey-medium;
      border-radius: 0.5em;
      font-weight: bold;
      a {
        color: $grey-darkest;
      }
    }
    .post-list {
      a {
        text-decoration: none;
      }
    }
    .single-post {
      border-radius: 5px;
      border-bottom: 1px solid $grey-medium;
      color: $black;
      background-color: $grey-light;
      overflow: hidden; 
      display: flex;
      &:hover {
        filter: brightness(90%);
      }
    }
    .page-sharing {
      margin-bottom: 10px;
    }
    .preview-image {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .single-post-text {
      flex-basis: 70%;
      padding: 20px;
    }
    .list-group {
      .list-group {
          margin-bottom: 0;
      }
      .list-group-item {
        display: flex;
        justify-content: space-between;
      }
      .list-group-item.year {
          background-color: #efefef;
      }
    }
}

.bill-version-content {
  margin-top: 40px;

  .tab-pane {
    padding-top: 10px;
  }
}

.bill-version-wrapper {
  max-height: 600px;
  overflow-y: auto;
  background-color: $grey-medium;
  box-shadow: inset 2px 2px 4px rgba(1, 1, 1, 0.25);
  padding: 20px;
  margin-top: 10px;

  canvas {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  .load-pdf {
    margin: auto;
  }

  &:empty::after {
    content: " ";
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid $grey-darkest;
    border-bottom-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    animation: fa-spin 1s infinite steps(16);
  }
}

.spinnerLoader {
    border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.renamed-committee-links {
  margin: 2em 0;
}


// Petitions Home

.petitions-tiles {
  margin-top: 2em;

  .thumbnail,
  .thumbnail:hover {
    text-decoration: none;
  }

  h3 {
    margin-top: 0px;
  }
}

// Petitions list page

.petitions-title {
  padding-left: 1em;
}

.petitions-list-page {

  table td {
    padding: 8px 5px !important; 
    vertical-align: middle !important;
  }
  

  .petition-badge {
    display: inline-block;
    padding: 5px;
    margin: 0 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    background-color: #6998DD;

  }
 
}


// Petition detail page
.petition-detail-page {

  .petition-document-content .tab-content {
    padding: 2em;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 600px;
    overflow-y: scroll
  }

  .petition-document-wrapper {
    margin-top: 1em;
  }

  .petition-header {
    margin-bottom:20px;
  }

  h1 {
   
    margin-bottom: 20px;
  }

  .petition-event h5 {
    margin-top: 0px;
  }
 

  .petition-badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    background-color: #5bc0de;
    font-weight: bold;

  }

  .petition-description-section {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #f8f8f8;
    border-radius: 5px;
  }

  .petition-info {
    background: $grey-light;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

    dt {
      font-weight: bold;
      margin-top: 10px;
    }

  }

  .petition-meetings-section {
    margin-top: 10px;
   
    h2 {
      background-color: #6495ed;
      padding: 10px 5px;
      font-size: 18px;
      color: #fff;
      margin-bottom: 0;
      border-radius: 5px 5px 0 0;
    }
    .meetings-list {
      border: 1px solid #6495ed;
      border-radius: 0 0 5px 5px;
    }
    
  }

  .petition-hansards-section {
    margin-top: 10px;
   
    h2 {
      background-color: #f7c923;
      padding: 10px 5px;
      font-size: 18px;
      color: #fff;
      margin-bottom: 0;
      border-radius: 5px 5px 0 0;
    }
    .hansards-list {
      border: 1px solid #f7c923;
      border-radius: 0 0 5px 5px;
    }
  }

  .meeting-item, .hansard-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    .meeting-details a.meeting-title, .hansard-details a {
      font-size: 18px;
      display: block;
      margin-bottom: 5px;
    }
  }

  .meeting-committee, .hansard-house {
    margin-top: 10px;
  }
}