*.py[cod]
.DS_Store

# C extensions
*.so

*.env

# Packages
*.egg
*.egg-info
#dist
build
eggs
parts
#var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

env/
old-data/
*.db
*.log
.boto
pmg.org.za.key
.webassets-cache
webassets-external
app.*.js
app.*.css

config/production/alembic.ini
pmg/static/stylesheets/

bin/*.csv
src/
.vscode

pmg/static/bill-tracker.json

*.sql

*.dump