[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
nose = "*"
flask-testing = "~=0.6.0"
coverage = "*"

[packages]
apscheduler = "~=3.0.0"
arrow = "*"
beautifulsoup4 = "*"
boto = "*"
fixture = "*"
flask = "~=0.12.0"
flask-admin = "~=1.4.0"
flask-assets = "~=0.10.0"
flask-caching = "~=1.4.0"
flask-login = "~=0.2.0"
flask-mail = "~=0.9.0"
flask-marshmallow = "~=0.7.0"
flask-migrate = "~=1.5.0"
flask-security = "<1.7.5"
flask-sqlalchemy = "~=2.1.0"
flask-wtf = "~=0.11.0"
humanize = "*"
inflection = "*"
iso8601 = "*"
marshmallow-polyfield = "~=3.1.0"
marshmallow-sqlalchemy = "~=0.10.0"
nltk = "~=3.0.0"
psycopg2 = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
sendgrid = "~=2.2.0"
soundcloud = "*"
unidecode = "*"
universal-analytics-python = {git = "https://github.com/softformance/universal-analytics-python.git",ref = "gryps-python3"}
urllib3 = "*"
xlrd = "*"
xlsxwriter = "==0.6.6"
za-parliament-scrapers = {editable = true,git = "https://github.com/Code4SA/za-parliament-scrapers.git",ref = "master"}

[requires]
python_version = "2.7"
