alembic==0.8.2
APScheduler==3.0.4
argh==0.26.1
arrow==0.4.4
beautifulsoup4==4.3.2
blinker==1.3
boto==2.34.0
cssselect==0.9.1
docopt==0.4.0
dodge==0.1.9
ecdsa==0.11
enum34==1.0.4
Fabric==1.10.0
fixture==1.5.9
Flask==0.12.4
Flask-Admin==1.4.2
Flask-Assets==0.10
Flask-Caching==1.4.0
Flask-Login==0.2.11
Flask-Mail==0.9.1
flask-marshmallow==0.7.0
Flask-Migrate==1.5.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
Flask-WTF==0.11
fudge==1.1.0
funcsigs==0.4
futures==3.0.3
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.9.0
humanize==0.5.1
inflection==0.2.1
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.1
Mako==1.0.2
mammoth==0.3.23
MarkupSafe==0.23
marshmallow==2.16.3
marshmallow-sqlalchemy==0.10.0
marshmallow-polyfield==3.1
mock==1.3.0
nltk==3.0.2
nose==1.3.7
paramiko==1.15.1
parsimonious==0.5
passlib==1.6.2
pathlib==1.0.1
pathtools==0.1.2
pbr==1.8.1
psycopg2==2.7.3.2
pycrypto==2.6.1
pyelasticsearch==0.7.1
pyScss==1.3.4
python-dateutil==2.3
python-editor==0.4
python-http-client==1.2.3
pytz==2015.6
PyYAML==3.11
requests==2.20.1
sendgrid==2.2.1
simplejson==3.6.5
six==1.10.0
smtpapi==0.3.1
soundcloud==0.5.0
SQLAlchemy==1.0.8
tablib==0.11.5
tzlocal==1.2
Unidecode==0.4.21
universal-analytics-python==0.2.4
urllib3==1.21.1
watchdog==0.8.3
webassets==0.10.1
Werkzeug==0.10.1
wsgiref==0.1.2
WTForms==2.0.2
XlsxWriter==0.6.6
xlrd==1.0.0
-e git+https://github.com/Code4SA/za-parliament-scrapers.git@master#egg=za_parliament_scrapers
