alembic==0.8.2
APScheduler==3.0.4
arrow==0.4.4
boto==2.34.0
certifi==2019.11.28
cffi==1.13.2
codecov==2.1.13
coverage==5.0.3
dodge==0.1.9
fixture==1.5.11
Flask==2.0.0
Flask-Admin==1.6.1
Flask-Assets==0.10
Flask-Caching==2.0.2
Flask-Mail==0.9.1
flask-marshmallow==0.7.0
Flask-Migrate==2.7.0
Flask-Script==2.0.5
Flask-Security==3.0.0
Flask-SQLAlchemy==2.1
Flask-Testing==0.8.1
Flask-WTF==1.0.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==19.9.0
humanize==0.5.1
idna==2.8
inflection==0.2.1
iso8601==0.1.12
Jinja2==3.0.0
python_magic==0.4.24
marshmallow==2.16.3
marshmallow-polyfield==3.1
marshmallow-sqlalchemy==0.10.0
mock==1.3.0
nltk==3.4.5
nose==1.3.7
passlib==1.7.0
psycopg2==2.7.3.2
pyelasticsearch==0.7.1
pyScss==1.3.6
python-dateutil==2.3
python-slugify==3.0.2
pytz==2015.6
requests==2.23.0
sendgrid==2.2.1
sentry-sdk==0.9.1
simplejson==3.6.5
six==1.10.0
smtpapi==0.3.1
soundcloud==0.5.0
SQLAlchemy==1.3.0
Unidecode==0.4.21
universal-analytics-python3==1.0.1
urllib3==1.25.7
webassets==2.0
Werkzeug==2.0.0
WTForms==2.0.2
xlrd==1.0.0
XlsxWriter==0.6.6
# Heroku (thus dokku) recomments editable if from git and relying on on upstream changes
# https://devcenter.heroku.com/articles/python-pip#git-backed-distributions
-e git+https://github.com/Code4SA/za-parliament-scrapers.git@ba77a50d4fc8e83a158328fdea581e143c7631ab#egg=za_parliament_scrapers
