{% macro attachments_panel(title, items, icon) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ title }}</h4>
    </div>
    <div class="panel-body">
      {% if items %}
        <ul class="fa-ul">
          {% for item in items %}
          <li>
            <i class="fa fa-li {{icon}}"></i>
            <a href="{{ item.url }}" target="_blank">{{ item.title or item.description or item.origname or item.file_path }}</a>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-muted">No related {{ title|lower }}</p>
      {% endif %}
    </div>
  </div>
{%- endmacro %}


{% macro audio_attachments(SOUNDCLOUD_APP_KEY_ID, items) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Audio</h4>
    </div>
    <div class="panel-body">
      {% if items %}
        <div id="soundcloud-container" data-soundcloud-id="{{ SOUNDCLOUD_APP_KEY_ID }}"></div>
        <ul class="audio-files">
          {% for item in items %}
          <li>
            {% if item.soundcloud_uri %}
            {# we drive the soundcloud player off traditional links because it makes a good fallback if things go wrong #}
            <a href="{{ item.url }}"
               target="_blank"
               data-soundcloud-uri="{{ item.soundcloud_uri }}"
               class="audio">
              {{ item.title or item.description or item.origname or item.file_path }}
            </a>
            {% else %}
            {# if the audio isn't available on soundcloud yet #}
            <a href="{{ item.url }}" target="_blank">
              {{ item.title or item.description or item.origname or item.file_path }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-muted">No related {{ title|lower }}</p>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro related_attachments(related_docs) -%}
  {{ attachments_panel("Documents", related_docs, "fa-file-o") }}
{%- endmacro %}

{% macro related_bills(bills) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Bills</h4>
    </div>
    <div class="panel-body">
      <ul class="fa-ul">
        {% for item in bills %}
        <li>
          <i class="fa fa-li fa-file-text-o"></i>
          <a href="{{ url_for('bill', bill_id=item.id) }}">{{ item.code }} - {{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{%- endmacro %}

{% macro related_petitions(petitions) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Petitions</h4>
    </div>
    <div class="panel-body">
      <ul class="fa-ul">
        {% for item in petitions %}
        <li>
          <i class="fa fa-li fa-file-text-o"></i>
          <a href="{{ url_for('petition_detail', petition_id=item.id) }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{%- endmacro %}
