{% extends "base.html" %}

{% block title %}{{ bill.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('bills_portal') }}">Bills</a></li>

</ol>
{% endblock %}

{% block page %}
<h1>
  <i class="fa fa-file-text-o"></i> {{ bill.title }}
  {% if bill.code %}
    <span class="text-muted">({{ bill.code }})</span>
  {% endif %}
</h1>

{% include '_social_sharing.html' %}

<p class="lead">{% if bill.type %}{{ bill.type.description }}{% endif %}</p>

{% if bill.versions %}
<ul class="list-inline bill-versions">
  <li><h3>Bill versions:</h3></li>
  {% for version in bill.versions %}
  <li>
    <a href="{{ version.file.url }}" target="_blank">
      <span class="label label-info" title="{{ version.date }}">
        <i class="fa fa-file-text"></i> {{ version.title }}
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}


{% if bill.status %}
  {% if bill.status.name in ["enacted", "president", "ncop", "na", "returned-to-na", "introduced"] -%}
    <div class="bill-status-container">
      <div class="c4sa-grey c4sa-progress"></div>

      <div class="c4sa-stage stage{{ stages[bill.status.name] }}">
        <div class="c4sa-green c4sa-progress stage"></div>
        <div class="c4sa-dot dot1"></div>
        <div class="c4sa-dot dot2"></div>
        <div class="c4sa-dot dot3"></div>
        <div class="c4sa-dot dot4"></div>
        <div class="process_dot"></div>
        <div class="c4sa-label label1"></div>
        <div class="c4sa-label label2"></div>
        <div class="c4sa-label label3"></div>
        <div class="c4sa-label label4"></div>
      </div>
    </div>
  {%- endif %}

  <p class="lead text-center">{{ bill.status.description }}</p>
{% endif %}

{% if bill.events %}
  <div class="bill-events">
    <h2>Bill history</h2>

    {% for location in history %}
    <div class="panel panel-default bill-location {{ location.class }}">
      <div class="panel-heading">
        <h4 class="panel-title">{{ location.name }}</h4>
      </div>

      <ul class="list-group">
      {% for agent in location.events %}
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <img class="media-object stage-icon" src="/static/resources/images/bills/{{ agent.icon }}">
            </div>

            <div class="media-body">
              <h5 class="media-heading">
                {% if agent.url %}
                <a href="{{ agent.url }}">{{ agent.name }}</a>
                {% else %}
                {{ agent.name }}
                {% endif %}
              </h5>

              <ul class="list-unstyled">
              {% for event in agent.events %}
                <li>
                    <div class="row {% if event.public_participation %}public-participation{% endif %}">
                        {% if event.type != 'plenary' %}
                        <div class="col-xs-4 col-md-2 text-muted">{{ event.date|pretty_date("long") }}</div>
                        <div class="col-xs-8 col-md-10">
                            {% if event.hansard %}
                            <a href="{{ url_for('hansard', event_id=event.hansard.id) }}">{{ event.title }}</a>
                            {% elif event.type == "committee-meeting"%}
                              <a href="{{ url_for('committee_meeting', event_id=event.id) }}">
                                      {{ event.title }}
                              </a>
                            {% else %}
                              {{event.title}}
                            {% endif %}

                            {% if event.public_participation %}
                              <span class="label label-success">public participation</span>
                            {% endif %}

                            {% if event.type == 'bill-signed' and bill.versions %}
                            {% for version in bill.versions %}
                            {% if version.enacted %}
                            — <a href="{{ version.file.url }}" target="_blank"><i class="fa fa-file-text"></i> {{ version.title }}</a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endif %}
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </div>

{% else %}
  <p class="lead">So far, no events have been associated with this bill.</p>
{% endif %}

{% if bill.versions %}
<div class="bill-version-content">
  <h2>Bill Text</h2>

  <ul class="nav nav-tabs">
    {% for version in bill.versions %}
    <li role="presentation" class="{% if loop.first %}active{% endif %}">
      <a href="#bill-version-{{ version.id }}" data-toggle="tab" role="tab">
        <strong>{{ version.title }}</strong> | {{ version.date | pretty_date }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for version in bill.versions %}
    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="bill-version-{{ version.id }}" data-url="{{ version.file.url }}">
      <div class="clearfix">
        <a href="{{ version.file.url }}" class="btn btn-default pull-right"><i class="fa fa-file-text"></i> Download{% if (version.file.file_bytes) %} ({{ (version.file.file_bytes | filesizeformat) }}) {% endif %}</a>
        <h4>{{ version.title }}</h4>
      </div>

      {% if version.file.file_mime == "application/pdf" %}
        <div class="bill-version-wrapper">
          <button class="btn btn-primary load-pdf">Show PDF{% if (version.file.file_bytes) %} ({{ (version.file.file_bytes | filesizeformat) }}){% endif %}</button>
        </div>
      {% else %}
        <p class="alert alert-info"><i>A preview of this file is not available. Please download it instead.</i></p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% print(bill) %}

{% if bill.bill_files %}
<ul class="list-inline bill-versions">
  <li><h3>Bill files:</h3></li>
  {% for file in bill.bill_files %}
  <li>
    <a href="{{ file.file.url }}" target="_blank">
      <span class="label label-info" title="{{ file.file.title }}">
        <i class="fa fa-file-text"></i> {{ file.file.title }}
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block javascript %}
  {{ super() }}
  <script type="text/javascript" src="/static/resources/javascript/vendor/pdfjs/pdf.js"></script>
  <script>PDFJS.workerSrc = '/static/resources/javascript/vendor/pdfjs/pdf.worker.js';</script>
{% endblock %}
