<div class="article-title">Tamarin Breedt</div>

<div class="interview-party">FF+</div>

<div class="interview-pa-link"><a target="_blank" href="https://pa.org.za/person/tamarin-breedt/">Profile on People's Assembly</a></div>



<div class="article-content">

    <div class="profile-pic">
        <img src="/static/resources/images/pr6/interviews/breedt.jpg" />
    </div>



    <p><strong>Can you share any memorable moments or experiences that stood out to you in the Sixth
            Parliament?</strong></p>
    <p>The camaraderie amongst MPs during extremely long sittings where everyone tries to record their vote in a
        language not their mother tongue made the hours bearable (and quite funny) and shows the true spirit of South
        Africans. The oversight visits to some of the most remote places in South Africa and the people of these places,
        will always stand out clearly in my mind. What an adventure!


    <p><strong>What are the greatest frustrations you have faced in the Sixth Parliament?</strong></p>
    <p>One of my greatest frustrations is having ministers not answer questions put to them or their blame shifting the
        problems to someone else.</p>


    <p><strong>How did you engage with your constituents during this term, and what efforts did you make to stay
            connected with their needs and opinions?</strong></p>
    <p>It is important to continually be present in your constituency... To regularly attend events/functions hosted by
        the community, to engage on a one-on-one basis with constituents, to be active on community forums and to always
        ask pertinent questions –
        these are just some mechanisms to stay abreast of what is happening in your constituency.</p>


    <p><strong>What advice would you give incoming MPs about effectively navigating the parliamentary environment and
            serving their constituents?</strong></p>
    <p>Never overpromise and underdeliver. Always speak truthfully.</p>


    <p><strong>In what ways did you collaborate with colleagues from different parties or political affiliations to
            achieve common goals</strong></p>
    <p>It is always good to continually discuss ideas and policy with colleagues. You gain an understanding of different
        communities, can find common issues and having a united front across party lines can address issues better.</p>


    <p><strong>How can Parliament build up public trust in the institution?</strong></p>
    <p>It starts with being an institution that sticks to rules, does not let bad behaviour slide, and ensures that the
        House is not degraded and turned into a circus of chaos. Also, decisions that are made should be followed
        through.</p>


    <p><strong>Areas of reform for the Seventh Parliament.</strong></p>
    <p>Better planning and thought needs to go into programmes, specifically taking oversight and study tours into
        account. It does not assist parliament or the people if thorough follow-up cannot be made.</p>


    <p><strong>How has your life changed since becoming a Member of Parliament?</strong></p>
    <p>Your life is not your own. You become the poster for your political party and need to act accordingly. A greater
        burden rests on your shoulders to truly represent your constituents and not let them down.</p>


    <p><strong>What does the future hold?</strong></p>
    <p>Hopefully, many more years of serving the people of South Africa.</p>

</div>