<div class="article-title">Written Responses from GOOD MP, Mr Brett Herron</div>

<div class="interview-subject">Brett Herron</div>

<div class="article-content">
    <p><strong>Q: What were your party's most significant achievements during the Sixth Parliament?</strong></p>

    <p>A: Relentlessly championing the implementation of a Basic Income Grant to the point where the Minister of Finance agreed it was no longer a question of whether we need one but how to implement it.</p>
    <p>A: Using parliamentary questions to uncover the failure of the state to prosecute apartheid-era crimes uncovered by the Truth and Reconciliation Commission (TRC) and maintaining the pressure on the State to do so.</p>
    <p>A: Sponsoring an urgent debate on the failure of the state to extradite the Gupta brothers from the United Arab Emirates and what this means for fighting corruption.</p>

    <p><strong>Q: What were the major challenges your party faced during the Sixth Parliament, and how did the Chief Whip's office navigate and address these challenges? (including navigating the impact of COVID-19?)</strong></p>

    <p>A: One major challenge and frustration was getting the Gupta Extradition debate onto the programme. Once the Speaker had accepted the matter qualified for an urgent debate, the programming Chairs had to be hounded to schedule the debate. The urgent debate eventually took place about a month after it was accepted as urgent. There was little help from the Chief Whip's Office. A failure, overall, to accept that urgency requires the programme to be rearranged.</p>

    <p><strong>Q: COVID-19 accelerated the introduction of technology and changed the way the legislature works. What aspects do you think the Seventh Parliament should retain? For example, would you recommend retaining virtual meetings for committees?</strong></p>

    <p>A: Our democracy is based on a foundational Constitution of transparency and participation, in general terms, and the use of virtual meetings is exclusionary. Not everyone has digital access. So, while it is efficient and convenient virtual meetings can result in the exclusion of the public. It is important that we prioritize the basic and foundational aspects of our constitutional democracy over our convenience.</p>

    <p><strong>Q: What does your party and MPs do well that others can learn from? Conversely, what can your party and MPs learn from other parties?</strong></p>

    <p>A: We use our limited time to participate in debates effectively by focusing on the issue being debated instead of veering off into political de-campaigning. We also use written and oral questions effectively to expose where the state is failing to perform.</p>
    <p>A: We could learn how to use Private Members Bills from other parties.</p>

    <p><strong>Q: Does your party have a guide detailing how your MPs should serve and be responsive to their constituents? If so, is this document publicly available and can you share it?</strong></p>

    <p>A: Our Constitution sets out our responsibilities to our voters and our party.</p>
    <p>A: Our constitution is available online.</p>
    <p>A: We have caucus rules that guide us too. These are not online.</p>

    <p><strong>Q: Can you provide a glimpse into the party's priorities and focus for the Seventh Parliament?</strong></p>

    <p>A: We will continue to fight for a basic income grant.</p>
    <p>A: We will increase our focus on spatial justice and the role of the state.</p>
    <p>A: We will increase our interrogation of the NPA's record on prosecution of State Capture & corruption crimes as well as failure to prosecute the TRC cases.</p>
</div>