<div class="article-title">Ms Marie Elizabeth Sukers</div>

<div class="interview-party">ACDP</div>

<div class="interview-pa-link">
    <a href="https://pa.org.za/person/marie-elizabeth-sukers/" target="_blank">Profile on People's Assembly</a>
</div>

<div class="article-content">

    <div class="profile-pic">
        <img src="/static/resources/images/pr6/interviews/sukers.jpg" />
    </div>

    <p class="interview-q"><strong>Can you share any memorable moments or experiences that stood out to you in the Sixth
            Parliament?</strong></p>

    <p>I think the coming into Parliament itself was very memorable to me. Everything that Parliament represents so, the
        first weeks of orientation, the whole term, of course, have been memorable because of what Parliament represents
        in our democracy and what it means for our country. If I should look at moments that stood out for me, I take it
        you mean just the high moments, there were certainly low moments as well. But I think the moment that I would
        remember would be the start of the Section 194 Committee. I was a part of that process which I felt restored the
        integrity of the institution and again, emphasised the mandate of Parliament as an oversight body over Chapter
        Nine Institutions, and the role of Parliament in the democratic dispensation of South Africa. So that for me was
        memorable.</p>

    <p class="interview-q"><strong>What are the greatest frustrations you have faced in the Sixth Parliament?</strong></p>
    <p>The dysfunctionality! The promise of democracy for us as South Africans is embodied in the realisation of a
        democratically elected Parliament. The high ideals of public service, what we are meant to be, and what we are
        meant to represent. That I think, I certainly hope I would never become as sceptical that I would lose that
        sense of the high principles of office, the high principles of our Constitution and democracy and what it means.
        So, my frustrations have been the low level of understanding by public representatives that I serve with and the
        lack of adherence to those principles that would make our democracy functional. The sense of dysfunctionality,
        the dysfunction of our political era is what frustrated me the most.</p>

    <p class="interview-q"><strong>How did you engage with your constituents during this term, and what efforts did you make to stay
            connected with their needs and opinions?</strong></p>
    <p>We made efforts to raise awareness for people to understand that public representatives are meant to serve and
        work for them. How we did that was to focus on the areas that needed the most intervention. I am from the
        Western Cape and my upbringing is one of poverty and disparity. It was very important for me that the most
        vulnerable of our people understand the benefits of democracy and in this way let them know what my being their
        public representative meant. As a result, our offices became very visible. I chose places that were in locations
        where people would see it. My office in Steenburg was called the Smurf building because we found a place that
        was neglected, but it was strategically placed in terms of location. You could not miss it as we painted it
        blue, the ACDP colours and that is why they called it the Smurf building. It was with the objective that it
        becomes a place where people can come to get information, support and assistance. The constituency office is an
        extension of Parliament.</p>
    <p>Through various engagements, we had projects around the needs of a specific constituency. For instance, in
        Steenberg, we had the Child Champion Week, with Robin from the Daily Maverick and that was specific because I
        followed articles that she wrote on the vulnerability of children. I wanted community NGOs, pastors and churches
        to understand what trauma does to children, violence and so on and how we raise strong structures in those
        communities. So those kinds of projects, have been how I stay connected and in touch with our constituents
        because it is not about being connected and in touch, it is part of just doing your job because my job is dual.
        It is to show up in Parliament, but at the same time, it is to be present and provide access to the people who
        have put me in Parliament.</p>
    <p>We still have projects in the Karoo rural area where we work to prevent a child and youth care centre from closing down.
        Again, it had to do with children. When I came in, the constituencies that I most felt drawn towards were women
        and children. A lot of the projects in my constituency office were aimed at that. Also, NGOs to get them to
        close the circle in terms of services. I do not know if you are familiar with the concept of closing a circle.
        It is a business term. It is when you start something and you need to end it, it's to do it full circle.</p>
    <p class="interview-q"><strong>What advice would you give incoming MPs about effectively navigating the parliamentary environment and
            serving their constituents?</strong></p>
    <p>I think they need to know that for the first two years, you are just learning. I come from a recruitment
        background, and we used to say it takes six months for anybody to settle into a work environment. Well, coming
        into public office, I would say it takes two years for somebody to really find their feet. So, I would say that
        they need to focus on as much learning as they can in terms of the portfolios that they serve on, that they need
        to look at officialism as one of the best educators in terms of the discipline that they are focusing on.
        Whether it be basic education, health or social development, whatever portfolio you are serving on, meet from
        the onset the people within that portfolio, and understand how those departments are put together. Who is
        sitting where, and how does the organogram look like, understand what reports have been written about it, read
        the legacy report and meet with every NGO, social advocacy groups, meet with them within your sector, for you to
        best understand the environment that you are operating in.</p>
    <p>For many public representatives, you come from a community-based experience in the political environment. You
        need to understand the language of policymaking and legislation, and the best people to assist you with
        understanding how to take legislation and lawmaking and understand it within the context of the reality that
        your constituents are living in would be your NGOs and advocacy groups, they become your best support to drive
        the needs of your constituents and to ensure that you service them. Officialdom is not a curse word. They are
        many times part of the big problem but there are good people in departments and if you can identify them, work
        with them to understand the environment that they work in and very quickly foster relationships within
        departments so that you understand the department and understand the functions because if you do, you are best
        able to help the right people accountable.</p>

    <p class="interview-q"><strong>In what ways did you collaborate with colleagues from different parties or political affiliations to
            achieve common goals?</strong></p>
    <p>Due to my background in recruitment, from the onset, I wanted to identify our aims and where we needed to go. For instance, during COVID, which was a huge crisis point, especially in health and social development, I very quickly wanted to establish common ground for us.
        One of the things that I did not want was to fail; it
        was very important for me that COVID does not become a long holiday where people are allowed to be on holiday.
        When it started, I immediately anticipated that the expectations are very low when it comes to politicians and departments. I did not want people not to get the help that they need.
        We established an opposition group right in the beginning within the first three weeks. I called every single
        one of the members of the opposition because I realized we will have to be united to put pressure on the ANC,
        and we got it right. We got the Portfolio Committee on Health to not take a break. So, the committee had meetings with the department during the recess periods.
    </p>
    <p>At that stage in the beginning, before the vaccination drives, we were calling the Minister of Health and the
        department into meetings bi-weekly. Also to bring in, to ensure that all provincial departments within that same
        period would give a breakdown to the committee. On legislation, we had to work with other parties to find common
        ground, and we got it right in Basic Education with the BELA Bill. We also got it right in the Children's
        Amendment Bill to bring all opposition together, and we did it in Health during the COVID-19 period.
        Unfortunately, for the latter part of the work of the Portfolio Committee on Health in dealing with COVID-19, I
        could not play any role as I did in the beginning and physically I could not keep up: we had too much
        legislation to cover at the time but yes that is the way that I worked with my colleagues.</p>

    <p class="interview-q"><strong>How can Parliament build up public trust in the institution?</strong></p>
    <p>The one thing that needs to change, and this has been one of the disappointing things, is that parliamentary
        staff become political, and they pull towards where the power lies within committees. This is a dynamic that
        needs to be addressed in that the governing party does not own the parliamentary portfolio staff. Parliament
        needs to improve the professionalism of support staff on committees for those committee staff to support members
        in their accountability functions. The governing party needs to understand that they become a custodian, and it
        cannot just be with their mouth. It is the President who during the SONA relayed his role in the drafting of our Constitution and emphasized the protection of the Constitution. 
        Well, I certainly believe that whoever
        governs becomes the custodian to ensure in their accountability functions institutions remain intact and not
        become an extension of the dysfunction that is within the organization of the political party that governs. I am
        afraid that to an extent that has happened in parliament.</p>
    <p>The way we operate as political leaders needs to change if our institutions are to be protected. If those people
        who take up office do not understand that their allegiance is to the people of South Africa, to the constitution
        of South Africa, and not to themselves and not to their parties, then institutions are going to suffer, because
        everything rises and falls on leadership. If your leadership wants everybody to respond to whatever moves them
        rather than what are the principles that govern, the principles of governance that need to be adhered to, then
        you are going to have problems. You are going to have problems of dysfunction and I must tell you; we have
        dysfunction at every level. To a certain extent, we have very professional people in parliament. I must add
        that. But the dysfunction has extended to parliament, there are things that if we want to do better, we need to
        start by understanding that parliament is an institution as a Constitutional mandate. What is the mandate of
        parliament? How is it supposed to function? I hope that answers your question.</p>
    <p class="interview-q"><strong>Areas of reform for the Seventh Parliament.</strong></p>
    <p>Areas of reform, I think in terms of the security of members as the protocols of health and safety, especially as
        members embark on oversight trips with their portfolios, there are no protocols in place. It becomes a
        free-for-all. Parliamentary staff not understanding the supporting role that they play within committees,
        especially on oversight. The blurring of lines between committee support staff and political principals. Those
        protocols need to be in place. I do not know if I can say trained or whether it needs to be set, but I would say
        it needs to be set. There needs to be a code of conduct, especially on oversight for support staff and for
        political principals also to understand what the role of support staff is. We had members being ill or severely
        ill on oversight trips and there are no plans in place as to what needs to happen when members fall ill. How are
        things supposed to be managed? Those things need to be improved.
    <p>The other reform I would say is for MPs to have more support, research support for their constituency offices and
        constituency allowances or constituency support because this is one of the reasons why there is such poor
        oversight. For instance, with myself, I serve on three committees and speak on five. I am proud of how the ACDP
        works because we have our values of hard work and the values that drive us are important in our caucus. I think
        to that extent, I would say a lot of what we have done despite all the limitations in terms of resources, all
        those things have been good. But if I look back, I think if we had much more support, constituency support, if
        we had more research support, especially as it comes to our portfolios, then we could have been much more
        effective.
    <p class="interview-q"><strong>How has your life changed since becoming a Member of Parliament?</strong></p>
    <p>I think one of the key things that you realize when you become a public representative is just that, you are a
        public representative. Your life is lived differently and there is a high demand on public representatives’
        time. Your time is managed much differently than if you were in a business environment. I come from a business
        environment so here the demand is 24/7. It never stops. Secondly, you are subjected to public scrutiny which is
        extended to every area of your life. People feel that they have a right to your life. I think that is much
        different. You live your life differently. But it is not new for me or our other ACDP members. Most of us serve
        in the ministry. For us, our life is like that. We lived within church life. You live like that.
    <p>If you hold any ministerial role, you are up for public scrutiny all the time. I think the difference is just the
        demand, the escalation of demand. Now instead of you having 200 or 120 people that you take care of, you
        suddenly are looking after regions and provinces. The demand is high, you are travelling more. The impact on
        your family in this role cannot be underestimated. I think families pay the highest price when you move into
        public office. It is really a high price because of the demand. My life has changed significantly but in a
        fulfilling way.</p>
    <p class="interview-q"><strong>What does the future hold?</strong></p>
    <p>For me, it is very easy. I will wake up on the 1st of June, sorry, I am giving two days for the results to truly
        be verified. It will most likely take more than a week, but I think I will wake up and have the weight of
        responsibility that I have had now for the last five years. Or I will wake up and I am not as responsible for
        what happens in South Africa. When you're in public office, every day that you wake up, you have that sense of
        responsibility. It is either I wake up with the same sense of responsibility to a country, to a people, or I
        wake up and it is no longer my responsibility.</p>



</div>