<div class="article-title">Interview with Al Jama-ah: Hon. Ganief Hendricks</div>

<div class="interview-subject">Ganief Hendricks</div>

<div class="article-content">
    <p><strong>Q: Can you share any memorable moments or experiences that stood out to you in  the Sixth Parliament?</strong></p>

    <p>A: Every Ramadan since 1994 when Presidents of South Africa enjoyed Iftar (breaking  of fast) with Muslim leaders, they promised to no vail that Muslim marriages will soon  be recognized.</p>

    <p>Al Jama-ah Party for achieving its first seat in Parliament - after 350 years of Islam in  South Africa -with votes from the Muslim constituents, was applauded by Parliament’s  Chairs of Chairs for working with the Portfolio Committee on Home Affairs, the Minister  of Home Affairs and the department’s legislative drafting team for its Bills on Muslim  Personal Law; this led to the issuing of a Circular which makes it possible for a Muslim  marriage to be registered on the National Population Register. After 350 years of  discrimination, Muslim wives and children now have the dignity they deserve.</p>

    <p>Our Deputy President, when he will have Iftar this week, will now be able to hold his  head up high as the dignity of Muslim women have been restored.</p>

    <p>Another memorable moment was to defend Islam in Parliament by rejecting some MPs  describing terrorists as ‘Islamists.’ I was accused of being threatening, but after  investigating the ‘uproar’ I caused in Parliament, the Speaker ruled that I was not  threatening and reminded MPs to refrain from using offensive language.</p>

    <p>On a lighter note, during Sittings I would watch the movements of Ministers and would  follow them into the Gents where I would discuss issues brought to the party’s  constituency offices; through this it was quicker to get a meeting with the Minister/s or  get them to expediate matters.</p>

    <p><strong>Q: What are the greatest frustrations you have faced in the Sixth Parliament?</strong></p>
    <p>A: Not having more time to speak; the 3 minutes allocated are not enough and  therefore does not do justice to my statements.</p>

    <p><strong>Q: What are the greatest frustrations you have faced in the Sixth Parliament?</strong></p>

    <p>A: Not having more time to speak; the 3 minutes allocated are not enough and  therefore does not do justice to my statements.</p>

    <p><strong>Q: How did you engage with your constituents during this term, and what efforts  did you make to stay connected with their needs and opinions?</strong></p>

    <p>A: My party put in place various mechanisms through which the constituents could  reach us: 
        a. Opening of Constituency offices in areas where the party is both prominent and not. 
        b. A party hotline has been advertised on all brochures and social media platforms to  take calls from constituents 24/7.
        c. Taking their enquiries serious through submitting questions or following-up with the  necessary departments.  
        d. Personal visits especially to remote rural areas. 
        e. Attend the party’s public meetings. 
        f. Every enquiry from constituents are dealt with and they receive feedback.
    </p>

    <p><strong>Q: What advice would you give incoming MPs about effectively navigating the  parliamentary environment and serving their constituents?</strong></p>

    <p>A: Personal contact and visits are important and always communicate with  constituents. They should make use of the legal assistance given by Parliament when  submitting Private Members Bills. It is through these bills that MPs can bring about the  positive changes constituents raise and want.</p>

    <p><strong>Q: In what ways did you collaborate with colleagues from different parties or  political affiliations to achieve common goals?</strong></p>

    <p>A: Engaged with Chief Whips of other parties on matters of common interests  concerning constituents eg. lobbying them to support my Private Members bills on the  registration of Nikah marriages (as some of these parties have Muslim and other  minority religious constituents who may benefit if bills are passed) and the  amendments to the Maintenance Act which will benefit all women. I would request that  their Member represented on the relevant Portfolio Committee motivate their support.  Of course there were also engagements on other matters of common interest.</p>

    <p><strong>Q: How can Parliament build up public trust in the institution?</strong></p>

    <p>A: Involve the public to play oversight roles on Portfolio Committees and hearings of  Members who have contravened the Code of Ethics. Parliament should encourage the  public more to attend Sittings and PC meetings as a method to show transparency and to  keep MPs accountable. The public wants to see that action was taken against the  wrongdoers; there should be more publicity showing that government has taken the  necessary action to deal with lawmakers who have been implicated or involved in any  corruption or any other criminal activities.</p>

    <p><strong>Q: Areas of reform for the Seventh Parliament?</strong></p>

    <p>A: That the undertaking made in the Sixth Parliament to implement its constitutional  role more effectively by being responsive to the many challenges faced by citizens, be  seen through. Parliament must pursue legislature which will lead to effective  transformation; transformation which will be responsive, inclusive by working with  organisations with similar goals and to increase and strengthen engagement with  relevant stakeholders.</p>
    <p>A: Bills submitted by MPs should be given enough time for deliberations to ensure that it  will bring about the positive changes in the lives of people.</p>
    <p>A: The current public participation processes are not doing justice to the views and  opinions of South Africans. The hearings are not fairly spread denying the vast majority  of South Africans from making relevant and crucial contributions to bills.</p>
    <p>A: Furthermore, the Seventh Parliament will have to look at different strategies on how to  win the trust of the public.</p>

    <p><strong>Q: How has your life changed since becoming a Member of Parliament?</strong></p>

    <p>A: Parliamentary work is indeed a thrill with much adrenaline! I can now run a political  institute for young leaders having done six bills on Muslim Personal Law that received  the Constitutional muster. This gave the party leverage with Ministers of Justice and  Home Affairs.</p>
    <p>A: I can do this as a wind down and hand over seamlessly. My life has changed drastically  as travelling became a challenge and family life came to a standstill.</p>

    <p><strong>Q: What does the future hold?</strong></p>

    <p>A: While Al Jama-ah started off as a Muslim party, it is now a national front – as  envisaged in the trenches by several liberation movements like the ANC, PAC and Azapo – whose super cadres are now on our Party lists. The Party lists includes candidates from at  least five struggle families like that from Chief Albert Luthuli and Imam Abdullah Haron families. Some of them will form part of the 7th Parliament and challenge anti-revolutionary  bills like the BELA and GILAB Bills during their campaigning./p>
    <p>A: I pledge that their campaigning and AL JAMA-AH’s overall will be in terms of the  revolutionary code of conduct of the IEC. I have just signed this pledge along with the most  respected leaders of political parties seen since 1994. AL JAMA-AH has given South Africa a  first-class Mayor for its most iconic Metro, City of Johannesburg who has after a year in  service, received a first-class clean audit. This Mayor is on his way to deliver a first class  Metro with a Smart City in the precinct.</p>
    <p>A: AL JAMA-AH now leads the national front – which has been out of our reach since Codesa – and this front has shared values amongst comrades whose visions are in line with Islamic  leaders such as martyr Imam Abdullah Haron and liberation leaders like Chief Luthuli,  Robert Sobukwe and Steve Biko. The son of Imam Haron and the daughter-in-law of Chief  Luthuli are on our party lists as well as Ramla Malgas from Gqeberha, an 23-year-old young  revolutionary student studying accounting at UWC.</p>
    <p>A: South Africa is now blessed with what the former Chief Justice and aspirant President calls  the ‘AL JAMA-AH Effect’, a party that is RE-IMAGINING politics in South Africa. AL JAMA-AH  with five advocates, five amazing women leaders, five Sheikhs and five stalwarts is ready to  govern the Western Cape Province and to have the balance of power in the national  parliament. The master of ceremonies at the next pledge may just introduce me as Hon  President.</p>
</div>