<div class="article-title">Ms Siviwe Gwarube</div>

<div class="interview-party">DA</div>

<div class="interview-pa-link">
    <a href="https://pa.org.za/person/siviwe-gwarube/" target="_blank">Profile on People's Assembly</a>
</div>


<div class="article-content">
    <div class="profile-pic">
        <img src="/static/resources/images/pr6/interviews/gwarube.jpg" />
    </div>
    <p class="interview-q"><strong>What were your party's most significant achievements during the Sixth Parliament?</strong></p>

    <p>COVID-19 pandemic – the DA held the Government accountable for its management of the COVID-19 pandemic; fought back against irrational legislative amendments, irrational regulations</p>


<p>The DA initiated the Section 194 process to remove an incompetent Public Protector from office – the first Public Protector to be removed from office; established precedents for future removals, which could also be applied to the removal of other public office bearers.</p>


<p>The DA initiated the S 89 independent panel process to investigate whether the President has a case to answer in relation to the Phala Phala scandal – the panel found that the President had a case to answer, but the ANC voted against the establishment of the S 89 inquiry.</p>


<p>Getting Parliament back to work / fully operational after devastating fires in January 2022 – the DA took measures to find bigger, more permanent temporary venues for the National Assembly to meet; took steps to get Committees to meet in person again instead of fully virtual meetings.</p>


<p>The DA ensured that the full Report of the State Capture Commission chaired by then Deputy Chief Justice Zondo gets tabled and monitored that the recommendations were implemented, especially those in relation to the Parliament (establishment of committee to oversee the President, chairing of committees by Members of the Opposition, enhancement of Parliament's oversight over Members of the Executive in terms of questions, attendance [driven through Rules Committee], ensuring that action against MPs found to be guilty is implemented).  The former Speaker and ANC colleagues were initially hesitant to take any action until the full Report was tabled, but the DA pushed that the NA started to process the relevant parts as they were tabled (Part 3, Part 4, for example).</p>


<p>The DA took steps to remove a tainted Speaker from office – we took various steps to ensure that the former Speaker of the National Assembly, Ms Nosiviwe Mapisa-Nqakula, is held accountable for the allegations of corruption and money laundering levelled against her, and to protect/restore the dignity and integrity of Parliament (including lodging complaints with the Joint Committee on Ethics and Members' Interests, Powers and Privileges Committee, and tabling of Motion of No Confidence in the Speaker).</p>
 
<p>In addition, the DA also relentlessly drove issues that were important to South Africans through the various Portfolio Committees and other mechanisms (such as motions, members' statements and questions) - load-shedding crippling the economy, cost of living crisis, increase in levels of crime, NSFAS corruption, corruption and mafias in construction and other infrastructure sectors.</p>


<p>The DA fought against regressive legislation – arbitrary land expropriation without compensation, amendments to Basic Education legislation which would sideline School Governing Bodies and give the Government unfettered powers to determine admissions and language policies, and the controversial National Health Insurance, which in its current form is unworkable and unfunded, and would not result in the establishment of universal healthcare services which the country desperately needs.</p>


<p>Members of the DA managed to table a number of Private Members' Bills focused on the needs of South Africans – repealing cadre deployment, cutting Cabinet perks, professionalising the Public Service, protecting the wellbeing of children in Early Childhood Development Centres, regulating coalition governments in all spheres of government.</p>

<p class="interview-q"><strong>What were the major challenges your party faced during the Sixth Parliament, and how did the Chief Whip's office navigate and address these challenges? (incl navigating the impact of COVID?)</strong></p>
 
<p>The COVID-19 pandemic drastically changed the way in which Parliament was functioning and required quick adaptations to amend established practices (like allowing for electronic submissions of questions, motions, and so on, which were primarily done through physical submissions before the pandemic), to navigate Parliament's support and administration services (most staff members worked and continue to work remotely), and to manage Caucus attendance of hybrid meetings.</p>


<p>In response, my Office adopted new standard operating procedures to ensure that electronic submissions of questions, motions and so on comply with the amended Rules, to ensure that working relationships with Parliament's support and administrative services were strengthened to allow for increased collaboration, and to ensure that those Members that needed to attend meetings in person were available when required.  For Plenaries (which would later be further affected by the 2022 fires), my Office designated Members to attend in person according to their assigned Whip Clusters to establish a system for fair rotation.</p>
 
<p>The fire that gutted the National Assembly Chamber and surrounding buildings in January 2022 posed significant problems to the physical attendance of Members in Plenaries and committee meetings, and to getting Parliament fully operational again after the COVID-19 pandemic.</p>


<p>Technology often created additional challenges to Members' full participation in virtual or hybrid meetings, and arguably resulted in the erosion of Parliament's oversight obligations in terms of fully holding Members of the Executive to account and conducting in-person oversights.  Members of the public are still not fully permitted to attend hybrid meetings, as space is often too limited.</p>


<p>In response, the Chief Whip drove the full reopening of Parliament through various forums, including writing to the Speaker, raising it at meetings of the National Assembly Programme Committee, Chief Whips' Forums, and writing to the Secretary to Parliament to find bigger, more permanent temporary venues for the NA to meet.</p>
 
<p>The DA also regularly faced opposition in committee and Plenary meetings from Committee Chairpersons and Presiding Officers who were appointed due to the ANC's majority in the NA – ANC MPs toeing the party line and protecting Members of the Executive from scrutiny and accountability.  Examples include during oral questions, committee meetings, the implementation of State Capture Commission Report, the lack of oversight over the Phala Phala scandal, and so on.</p>


<p>In response, my Office held a number of engagements with the House Chairperson for Committees, Mr Cedric Frolick MP, wrote to a number of Committee Chairpersons and requested the referral of rulings of Presiding Officers to the Rules Committee.  The DA also too steps to table the establishment of a committee to oversee the President, proposal for chairing of committees by Members of the Opposition, mechanisms to enhance Parliament's oversight over Members of the Executive in terms of questions and attendance in the Rules Committee, most of which unsurprisingly were voted against by the ANC colleagues.</p>
 
<p class="interview-q"><strong>COVID accelerated the introduction of technology and changed the way the legislature works. What aspects do you think the Seventh Parliament should retain? For example, would you recommend retaining virtual meetings for committees?</strong></p>
 
<p>The electronic submission and distribution of parliamentary papers and documents should be retained by the 7th Parliament – it saves a lot of costs in terms of printing and logistics, is better for the environment and allows Members to remain on top of developments wherever they may find themselves in the country.</p>
 
<p class="interview-q"><strong>What does your party and MPs do well that others can learn from? Conversely, what can your party and MPs learn from other parties?</strong></p>
 
<p>The DA's Members have become adept at driving issues effectively and consistently over multiple years through the optimal use of various parliamentary mechanisms – including submitting written and oral questions, tabling motions, members' statements and petitions, and building effective working relationships with other MPs, departmental staff (including the Ministry) and Parliament's staff – and other mechanisms – oversight visits, laying of criminal charges, lodging of complaints with Chapter 9 Bodies, media engagements, and so on.</p> 
 
<p>It is also our view that DA Members have become proficient at preparing supplementary oral questions on our own and other parties' questions, which not only seek to garner further information, but also endeavour to hold Members of the Executive accountable.</p>
 
<p>The DA is also good at drafting and tabling Private Members' Bills focused on the needs of South Africans and to fill the perceived gaps in the Executive's legislative agenda.</p>
 
<p>In the 7th Parliament, it will become more important than ever that colleagues learn to find ways to collaborate across party lines to address any urgent issues that face South Africa – examples here include crises like the unemployment crisis or the energy crisis.</p>
 
<p class="interview-q"><strong>Does your party have a guide detailing how your MPs should serve and be responsive to their constituents? If so, is this document publicly available and can you share it?</strong></p>
 
<p>In addition to initial training and development at the start of the legislature or councils' terms, Members of our various Caucuses across the Republic receive ongoing training and development throughout the respective terms on a variety of topics, including how to serve and be responsive to their respective constituents.  We also continuously use the experience gained from governing in the various spheres to improve our offer to constituents and to improve the lives of those residing within our respective areas of responsibility.  The internal documents are unfortunately not available for public publication.</p>
 
<p class="interview-q"><strong>Can you glimpse the party's priorities and focus for the Seventh Parliament?</strong></p>
 
<p>In the 7th Parliament, the DA will continue to bring forward legislation that brings Parliament closer to South Africans and delivers results.  The political composition of the 7th Parliament may look vastly different to its current composition, with the governing party or parties holding a smaller majority.  This presents the DA with new and exciting opportunities to possibly chair more committees and exercise more influence over the repairing of Parliament to fulfil its constitutional oversight responsibilities effectively and efficiently, fairly and without fear or favour.  In addition, the DA will continue to ensure that the management of Parliament is held accountable and that the refurbishment of the buildings lost to the devastating fires is completed by the deadlines and within the budgets.</p>  



    

</div>