<div class="article-title">Wynand Johannes Boshoff</div>

<div class="interview-party">FF+</div>

<div class="interview-pa-link"><a target="_blank" href="https://pa.org.za/person/wynand-johannes-boshoff/">Profile on
        People's Assembly</a></div>


<div class="article-content">
    <div class="profile-pic">
        <img src="/static/resources/images/pr6/interviews/boshoff.jpg" />
    </div>

    <p><strong>What challenges does your party face in terms of competing with larger, more established parties, and how
            do you overcome these challenges?</strong></p>
    <p>The Freedom Front Plus has a focused approach to the interests of minorities and the accommodation of cultural
        diversity in the current multinational state. That focus dictates to a certain measure the questions we attend
        to and sometimes there is very little competition in those areas.
        Our most important mechanism of competition is a highly developed work ethic. Each of our members covers several
        departments and puts in the extra effort to do so.</p>
    <p>In addition, we do not regard all other parties as competition. There are parties with a mandate from their
        voters which is different than ours, yet we share some values and interests. It is easy to co-operate with such
        parties and individual members. Even those parties with which we share very little, are approached with an
        attempt to understand, even when we oppose. </p>
    <p><strong>Can you share examples of successful collaborations or partnerships your party has formed with other
            parties to advance common goals or address shared concerns?</strong></p>
    <p>The FF Plus is not a member of the Portfolio Committee on Basic Education. However, we continuously liaised with
        the ACDP, which is. </p>
    <p>Regarding the Basic Education Laws Amendment Bill, we met with both the ACDP and DA, to align responses. </p>
    <p>In my own committee, the Portfolio Committee on Higher Education, Science and Innovation, I simply tried to
        create a good understanding with all Members. That led to some success in matters regarding NSFAS and around the
        Square Kilometre Array.</p>


    <p>This is a question in which our whips did most of the work and I just respond from my personal involvement. </p>
    <p><strong>There has been criticism that parliamentary administrations are becoming more partisan and losing the
            unique cooperation among party benches seen in the earlier parliaments - is this true?</strong></p>
    <p>As the Sixth Parliament is the first I am part of, and since I did not follow Parliament closely before becoming
        an MP, I am not equipped for a well-considered response.</p>
    <p><strong>Tell us more about how Parliament supports smaller parties - is this support adequate and if not, what
            more could be done? </strong></p>





    <p>The parliamentary staff are extremely helpful. Committee secretaries and researchers with whom I worked
        maintained a high level of non-partisan assistance. I was especially dependent on these staff members with the
        Portfolio Committees on Basic Education, and Mineral Resources and Energy, where I am not a member. For these
        staff members, I have only the highest regard, as they supported me in several ways, without really knowing me.
    </p>


    <p>I got to know the staff at the Portfolio Committee on Higher Education, Science and Innovation well enough to
        develop a very good acquaintance. These people are marvellous and create trust in the institution.</p>


    <p>Chamber staff members were always professional and helpful.</p>


    <p>My contact with management is limited and I cannot comment on them.</p>


    <p><strong>What advice would you give to other emerging small parties or independent candidates looking to impact
            parliamentary politics?</strong></p>
    <p>One should not overestimate the importance of an MP – although one should of course also not underestimate it.
        The
        important thing is that a blown-up perception of own importance may cause a demanding attitude towards staff –
        people on whom one largely depends.
        In addition, one should like reading, because Parliament is a printing factory.</p>
</div>