<div class="article-title">Mr Ahmed Munzoor Shaik Emam</div>

<div class="interview-party">NFP</div>


<div class="interview-pa-link">
    <a href="https://pa.org.za/person/ahmed-munzoor-shaik-emam/" target="_blank">Profile on People's Assembly</a>
</div>

<div class="article-content">

    <div class="profile-pic">
        <img src="/static/resources/images/pr6/interviews/emam.jpg" />
    </div>

    <p class="interview-q"><strong>What challenges does your party face in terms of competing with larger, more established parties, and how do you overcome these challenges?</strong></p>
    <p>One of the biggest challenges that our party faced was the limited speaking time given to smaller parties. We also had limited opportunities to ask questions to Ministers in various clusters, as well as to the President and Deputy President. Another difficulty was bringing substantive motions for debate in the National Assembly.</p>
    <p>As previously stated on various platforms, the NFP firmly believes that for Parliament to perform its oversight function effectively, smaller political parties must be given sufficient time and a voice to express and debate issues of national importance. Currently, the allotted three minutes is inadequate, and despite our advocacy for an increase, we have not been successful in our efforts.</p>
    <p class="interview-q"><strong>Can you share examples of successful collaborations or partnerships your party has formed with other parties to advance common goals or address shared concerns?</strong></p>
    <p>With the support of political parties such as the Economic Freedom Fighters and the African National Congress, among others, we successfully proposed a motion in the National Assembly to downgrade the South African embassy in Israel to a liaison office. Additionally, we succeeded in pressuring the South African government to allow Palestinians to enter South Africa without a visa since the conflict with Israel began. We also drew attention to the high levels of corruption in local government and provided effective solutions to some of the major challenges facing the country.
    </p>
    <p class="interview-q"><strong>There has been criticism that parliamentary administrations are becoming more partisan and losing the unique cooperation among party benches seen in the earlier parliaments - is this true?</strong></p>
    <p>Although the criticism may be valid, it is worth noting that the ANC has been largely partisan in Parliament over the years. There have been only a few instances (or none) where the ANC has collaborated with other political parties to pass laws or support private member bills from other parties. It is also worth considering the number of private member bills that opposition parties have proposed and successfully passed in the National Assembly.</p> 
    <p>We have welcomed the cooperation on issues such as the downgrading of the Israeli embassy to a liaison office, the decision to approach the International Court of Justice to get Israel to cease fire in Palestine. However, the legacy of cooperation has since been overshadowed by how the ANC bullies its way around holding its executive accountable like the Phala Phala, Nkandla and other matters were handled. The voices of smaller parties were completely ignored even though they were sound and sought to correct. </p>
    <p class="interview-q"><strong>Tell us more about how Parliament supports smaller parties. is this support adequate and if not, what more could be done?</strong></p>
    <p>As smaller parties, we welcome the support that Parliament gives us; however, there is room for improvement. Much of the appreciated support came from the Parliament officials and support staff.</p>
    <p class="interview-q"><strong>What advice would you give to other emerging small parties or independent candidates looking to impact parliamentary politics?</strong></p>
    <p>The way our electoral system is set up does not assist independent candidates or smaller parties to make much impact in the national legislature. Therefore, the best way is to focus on the ground through the constituency office by ensuring visibility, attending to issues of the community, getting communities and constituents more involved in the work you are doing in Parliament and soliciting a mandate from them because their support will come in handy when you raise pertinent issues in the National Assembly. </p>
    <p>**  Mr A M Shaik Emam (NFP) lost his membership in terms of section 47(3)(c) of the Constitution on 11 April 2024.</p>

</div>
