{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Interview: Social Justice Coalition</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
			    
			    <p align="justify"><strong>Q: <em>What is your evaluation of how the Fifth Parliament has reacted to your lobbying?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> The majority of our lobbying directed at the Fifth Parliament was on the allocation of the police’s human resources to the 1140 police precincts across the country. We lobbied Parliament, and in particular the Portfolio Committee on Police, to address the discrimination on the basis of race and poverty in the allocation of these resources.</p>
        		    
			    <p align="justify">Our initial engagement was on 25 August 2015 when we marched to Parliament, handed over a memorandum and then camped outside Parliament for 72 hours. We camped outside Parliament to avail ourselves to engagements with members of Parliament and to initiate a discussion with them on the allocation of police resources. Not a single MP took the opportunity to speak to us. </p><br>
        		    
			    <div class="inline-img" style="width:540px;"><img src="/static/resources/images/review/sjc_01.jpg" width="540" height="356" alt="" align="left">SJC and Cape Town residents’ march on Parliament - Photo: Ashraf Hendricks; GroundUp</div>
        		    
			    <p align="justify">Since then, and to their credit, the Portfolio Committee on Police, has afforded the SJC the opportunity to make presentations to the Committee on multiple occasions. The majority of these presentations were sought in response to either the proposed Police budget or in response to the Police annual reports. The SJC used these platforms to raise the matter of police resourcing. </p>
        		    
			    <p align="justify">Despite these engagements, there was no clear indication that the Committee was taking the South African Police Service to task over the inequitable allocation of resources. In this sense the Committee was not responsive to our lobbying or presentations because they were not holding the police service to account. </p>
        		    
			    <p align="justify">As a result, and as a last measure, the SJC took the Minister of Police and the SAPS to court. This bold step, in turn, made the Portfolio Committee look at the issue anew. As part of our lobbying we again marched to Parliament and handed the Committee all the court papers in hard copy format. This amounted to seven lever-arch files. </p>
        		    
			    <p align="justify">On the back of this step, the Committee then convened a meeting dedicated to unpacking the allocation of police resources. Again, although this was to be welcomed, the court processes had already surpassed the benefit of such a meeting. </p><br>
        		    
			    <p align="justify"><strong>Q: <em>What were your expectations prior to getting involved?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Our expectations were not necessarily that Parliament would be responsive or address the issues we were lobbying them on. This lack of expectation was informed not only by our experiences of the Fifth and preceding Parliament but also by the experiences of our partner organisations. Historically, nearly all of the major social justice victories secured by the SJC and others have not been through Parliament. Instead these victories were won in court, in spite of Parliament.</p>
        		    
			    <p align="justify">That said, Parliament remains a potent symbol of democratic power which makes it a powerful stage on which to alleviate issues of national import, regardless of Parliament’s responsiveness or lack thereof.</p><br>
        		    
        		    
			    <p align="justify"><strong>Q: <em>What could the Sixth Parliament do to improve?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> It could listen to people and to those raising issues with them and it could then show meaningful independence from the executive branch of government in order to ensure that this branch is truly held accountable to the people.</p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What are some key lessons/insights you have learnt?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Our lobbying is too often directed at the executive branch of government and the relevant government departments. Even when lobbying inside or outside Parliament we are still placing too much of an emphasis on those that Parliament should hold to account. Essentially, we too often let Parliament off the hook for not ensuring accountability. In the future we will work to highlight Parliament’s role in maintaining injustices whether that is through wilful ignorance or simply by not doing what is constitutionally required of it.</p><br>
        		    
			    <p align="justify"><strong>Q: <em>What advice/tips do you have for organisations seeking to lobby their cause in the parliamentary space?</em></strong></p>
        		    
			    <p align="justify">Persistence is key. Having direct engagements with support staff assigned to Portfolio Committees improves the likelihood of your issues being tabled and discussed in committee.</p>
			    
			    
			    <p class="review-author-blurb">Dalli Weyers, Head of Policy and Research at Social Justice Coalition, is the interviewee.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        	
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        	
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        	
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
