{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Interview: Dr Mbuyiseni Ndlozi</h2>
			<div class="date"><i>EFF MP</i></div>
			<div class="body">
        		    
			    <div class="inline-img" style="width:206px;"><img src="/static/resources/images/review/Mbuyiseni_01.jpg" width="206" height="308" alt="Photo: RSA Parliament - John Steenhuisen" align="left">Photo: RSA Parliament - Dr Mbuyiseni Ndlozi</div>
        		    
			    <p align="justify"><strong>Q: <em>Thinking back to your first few days on the job, can you give us a sense of what the parliamentary environment was like?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> I don’t remember; we are part of a collective. There is a very little space when you are in a collective to think about yourself. We are an agent tasked to build the back office of the first generation of EFF MPs and to the best of our ability we did that and we are still doing that. </p><br>
			    
			    <p align="justify"><strong>Q: <em>Looking back on your time in the Fifth Parliament, what have been your greatest or most memorable occasions and/or achievements? </em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> The most important one would be to put land expropriation without compensation at the core to ensure that there is total decolonisation in relation to black people. That was the greatest moment, when Parliament conceded to pursue land expropriation without compensation. </p><br>
			    
			    <p align="justify"><strong>Q: <em>Off the tangent – the resolution you tabled in National Assembly to rename the Cape Town International Airport after Winnie Mandela, would you consider that a memorable occasion? </em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Absolutely, but it has since been a sad and a low point for this Parliament to reject Mama Winnie like that by the ANC in collaboration with the DA. Mama Winnie has suffered an avalanche of rejections from the patriarchally dominated ANC but it is not a lost cause and we are working very hard to shift the power and arrogance of the ANC. </p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What have you enjoyed most about your time as a Member of Parliament? What facets of your parliamentary work did you find most challenging? </em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> It is very difficult to have worked in a generally incompetent cohort of ANC parliamentarians, half the time they do not pay attention to the detail of the work. It is difficult, you prepare and you get there and it is very painful. They reduce parliament’s work to merely the tyranny of the majority not a democracy; but it felt good to put them in a corner to remove Zuma. It felt like there is justice in the world. In that moment it was an important disruption of their arrogance, and from that day on no politician feels indispensable in this country and it was all because of the EFF. </p><br>
			    
			    <p align="justify"><strong>Q: <em>What were your expectations before arriving at Parliament? Were these expectations met?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> We wanted to restore teeth to this institution so that it bites and has the capacity to hold the Executive accountable and exercise oversight. We have achieved that with distinction. Before the arrival of the EFF, not only what was happening in Parliament was not popularly known but even kids today understand that there is Parliament and it holds the Executive accountable and fights corruption. Parliament is a legend today and it is now truly an institution of the people – everybody can relate to it now. That is really the credit due to the EFF. Parliament was a visitor in people’s lives or memories, but now when people discuss politics they model themselves according to the rigour of discussion that they see exemplified by the EFF caucus in Parliament. </p><br>
			    
			    <p align="justify"><strong>Q: <em>How has your life changed since becoming a Member of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Cape Town. Too much travel, it is not necessary. This up and down to Cape Town and of course activists we travel all over but Parliament needs to move to Pretoria. </p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What advice would you offer to incoming Members of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> I am one of them so I will wait for others to advise us. </p>
			    
			    
			    <p class="review-author-blurb">&nbsp;</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Steven_Friedman.html">How does the PR system affect the quality of input in Parliament?</a></li>
				<li><a href="2019Review_Andisiwe_Makinana.html">Observing Parliament: my reflections</a></li>
				<li><a href="2019Review_Law_Calland.html">A Constitutional Fiction: Parliamentary Oversight of the Executive</a></li>
				<li><a href="2019Review_Lawson_Naidoo.html">Some thoughts on the Fifth Parliament</a></li>
				<li><a href="2019Review_Narend_Singh.html">Do small parties work for Parliament?</a></li>
				<li><a href="2019Review_Deidre_Carter.html">View from the opposition benches</a></li>
				<li><a href="2019Review_Gary_Pienaar.html">Improving Parliament's ineffective oversight</a></li>
				<li><a href="2019Review_Mike_Pothier.html">Parliamentary Advocacy: How to have an influence?</a></li>
				<li><a href="2019Review_Duda_Motala_Louw.html">Public Engagement: A Case Study</a></li>
				<li><a href="2019Review_Moira_Levy.html">Notes from the House</a></li>
				<li><a href="2019Review_Martin_Nicol.html">Committee System: performance and areas of reform</a></li>
				<li><a href="2019Review_Judith_February.html">A step forward</a></li>
				<li><a href="2019Review_Sean_Muller.html">Why has Parliament not yet amended the Budget?</a></li>
				<li><a href="2019Review_Gaile_Fullard.html">Points of order (by an observer)</a></li>
				<li><a href="2019Review_Monique_Doyle.html">Diary of a Parliamentary Nerd</a></li>
			    </ul>
			</div>
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Lechesa_Tsenoli.html">Lechesa Tsenoli (Deputy Speaker)</a></li>
				<li><a href="2019Review_John_Steenhuisen.html">John Steenhuisen (Member of Parliament)</a></li>
				<li><a href="2019Review_Joanmariae_Fubbs.html">Joanmariae Fubbs (Member of Parliament)</a></li>
				<li><a href="2019Review_Mbuyiseni_Ndlozi.html">Mbuyiseni Ndlozi (Member of Parliament)</a></li>
				<li><a href="2019Review_MP_comments.html">MP Comments</a></li>
				<li><a href="2019Review_Black_Sash.html">Black Sash</a></li>
				<li><a href="2019Review_SJC.html">Social Justice Coalition</a></li>
				<li><a href="2019Review_Makhosi_Khoza.html">Makhosi Khoza (Former Member of Parliament)</a></li>
			    </ul>
			</div>
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Turnover.html">MP & Committee Turnover</a></li>
				<li><a href="2019Review_Agenda.html">Committee Agenda</a></li>
				<li><a href="2019Review_Activity.html">Committee Activity</a></li>
				<li><a href="2019Review_Performance.html">Legislative Performance</a></li>
				<li><a href="2019Review_Questions.html">Written Questions</a></li>
			    </ul>
			</div>
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
