{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Interview: Black Sash</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
			    
			    <p align="justify"><strong>Q: <em>Tell us about the Black Sash and its views about lobbying Parliament</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Black Sash is committed to the realisation of socio-economic rights with an emphasis on social security and social protection for the poor and most vulnerable, particularly women and children. We assess the implementation of rights and impact of government policy on the ground through our Community Based Monitoring (CBM) Programme and other research instruments. </p>
        		    
			    <p align="justify">Our advocacy in partnership programme includes advocating for systemic changes. As part of the Hands Off Our Grants campaign the Black Sash engaged the national and provincial legislatures by attending committee meetings, and making written and oral submissions to influence policy and legislation. We wanted to make parliament aware of the unlawful and fraudulent deductions that grant beneficiaries were experiencing, the abuse of grant beneficiaries’ confidential data by SASSA’s service providers Cash Paymaster Services (CPS) and the subsidiaries of Net1. Changes were made to the Regulations of the Social Assistance Act to stop deductions from the SASSA Grindrod Bank account into which social grants were paid.</p><br>
			    
			    <p align="justify"><strong>Q: <em>How do we benefit from attending committee meetings?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> The Black Sash and our civil society partners endeavour to attend most portfolio committee meetings as the government departments or agencies have to publically account for its strategic actions and budget. We shared the information and presentations with approximately 500 civil society organisations. At the end of the meetings the Black Sash representatives are able to ask both the government officials and the portfolio committee members questions or obtain additional information. </p><br>
        		    
			    <div class="inline-img" style="width:100%;"><img src="/static/resources/images/review/blacksash_01.jpg" width="850" height="284" alt="Photo: RSA Parliament - John Steenhuisen" align="left">Photo: Black Sash</div>
        		    
			    <p align="justify"><strong>Q: <em>What about the traditional approach of writing submissions?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> The Black Sash uses a multi-pronged approach to advocacy. The Black Sash made submissions to Parliament on particular pieces of legislation or to give specific input. We also made several presentations on the fraudulent and unlawful deductions from social grants as well as indebtedness. Presentations and submissions always contain the lived reality of grant beneficiaries. </p>
        		    
			    <p align="justify">To complement our oral and written submissions to portfolio committees, we do straightforward advocacy by attending meetings and brief committees by invitation from the Committees or at our behest. An example of this was creating awareness about our urgent application to the Constitutional Court in 2017 when social grant beneficiaries were at risk of not being paid their grant and the challenge of unlawful deductions from the grants of beneficiaries since 2013. The Portfolio Committee on Social Development thus became aware of the work of the Black Sash on this and flagged the challenges raised by us to hold the Department of Social Development and the South African Social Security Agency (SASSA) accountable.</p>
        		    
			    <p align="justify">Arising from these unlawful deductions, Black Sash seized the opportunity to make a submission on the National Credit Amendment Bill, pointing out the danger of placing beneficiaries in a vicious cycle of debt by promoting reckless credit without any protections. This resulted in the organisation being identified as a stakeholder to comment on proposed amendments as they arose and open debate in the political space about the possible social consequences, as well as on the effects and status quo of current legislation. As a result of this we were invited by the Western Cape Provincial Parliament to comment on this Bill as well.</p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What are the benefits of lobbying Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> An example is a Black Sash report was quoted during a Standing Committee on Public Accounts hearing on SASSA's implementation of alternative payment services, which not only offered access to specific information on the matter, but raised a broader platform for the ongoing discussion. </p>
        		    
			    <p align="justify">These direct interactions at Parliament create visibility for the issues our organisation and partners are championing and give an opportunity for civil society organisations to challenge the views and reports by government departments and provide different perspectives to parliamentary committees. </p>
			    
			    
			    <p class="review-author-blurb">Lynette Maart, National Director, and Hoodah Abrahams-Fayker, National Advocacy Coordinator at the Black Sash, are the interviewees</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
			{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
