{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">MPs comment on lessons for the Sixth Parliament</h2>
			<div class="date"><i>&nbsp;</i></div>
			<div class="body">
        		    
        		    
        		    
			    <div class="inline-img" style="width:250px;"><img src="/static/resources/images/review/Priscilla-Mantashe.jpg" width="250" height="333" alt="Photo: RSA Parliament" align="left"></div>
        		    
 			    <h3>Ms Priscilla Mantashe (ANC)</h3>
			    
			    <p align="justify">When I first came to Parliament, I was very naïve and I didn’t understand what was happening. I thought working in Parliament was only coming to the Chamber. Little did I know that most of the work is done in Committees. If the Sixth Parliament can concentrate on induction and clarify to new Members how important it is to be serious about the Committees and that you need dedication and commitment to the Committees.  It is about fulfilling the wishes of the communities that elected you.  Members must to go back to the communities and tell them how they can assist us in passing legislation that we work on in Parliament.</p>
			    
			    <p align="justify">Every piece of legislation passed in the Fifth Parliament, for me, it was worth it. When I look back, the Portfolio Committee on Trade and Industry passed four pieces of legislation, which all talk to the lives of poor people and protecting them from being victimised by big business. The Committee has returned dignity to the artists of South Africa, which has been a sore point for every South African.</p>
			    
			    <p align="justify">The Fifth Parliament has done a lot for South Africa, but, you know, the struggle continues. There are still a lot of things that have to be addressed because of the background from which we are coming. </p>
			    
			    <p align="justify">However, the induction of new Members must be a requisite so that they understand their role in Parliament – that they represent the masses out there. It’s not about us. It’s about them, and their future.</p>
			    
			    <br>
			    <div class="inline-img" style="width:250px;"><img src="/static/resources/images/review/Liezl_van_der-Merwe.jpg" width="250" height="333" alt="Photo: RSA Parliament" align="left">Photo: RSA Parliament)</div>	
        		    
			    <h3>Ms Liezl van der Merwe (IFP)</h3>	
			    <p align="justify">The fifth Parliament was indeed a younger, more robust Parliament. However, there were some notable failures. </p>
        		    
			    <p align="justify">Firstly, the erosion of respect for the institution and the violence that erupted at times did not bode well for the image of Parliament. South Africans already feel that they have lost hope in politicians. The institution of Parliament should provide South Africans with hope, and not be an example of ill-discipline, racism, violence or disrespect. This is an aspect that requires urgent attention in the sixth Parliament.  </p>
        		    
			    <p align="justify">Rules were also not applied consistently by President Officers during the fifth Parliament, while the scheduling of the National Assembly programme often left a lot to be desired. Some weeks there would be little on the programme, while towards the end of each term, members would be in the Chamber of the National Assembly until midnight, which meant that some issues didn't get the attention it deserved, because very few MPs would be left in the House at such a late hour.</p>
        		    
			    <p align="justify">That said, the attendance of some members and the Executive in particular was not up to scratch. Members of Parliament and those in the Executive who are consistently absent should face sanction in the sixth Parliament.</p>
        		    
			    <p align="justify">Hopefully, these are some of the lessons that have been learned and areas that will be focussed on to ensure that the sixth Parliament is a working Parliament that serves the interests of all South Africans to the best of our abilities.</p>
        		    
			    <p align="justify">Our country deserves politicians that will treat Parliament with respect, and MPs that will be bold and brave in the face of abuses by the Executive, while striving each day to be servant leaders. </p>
			    
			    
			    
			    
			    <br>
			    <div class="inline-img" style="width:250px;"><img src="/static/resources/images/review/Nazier_Paulsen.jpg" width="250" height="333" alt="Photo: RSA Parliament" align="left"></div>	
			    <h3>Mr Nazier Paulsen (EFF)</h3>	
			    <p align="justify"><strong>Lessons for Sixth Parliament and how can Parliament improve? </strong></p>
        		    
			    <p align="justify">The ANC are anti-African just like the DA, they do not believe in the abilities of black people. The ANC says just like the DA that the EFF’s manifesto is pie in the sky but nothing in our manifesto are things that have not been done on this planet before. They need to start believing in the abilities of African people. Imagine if Hamilton Naki did not do the first heart transplant in the laboratories of Groote Schuur, he would not have given Chris Barnard an opportunity to shine. We need to start believing in our abilities and black people. </p>
        		    
			    <p align="justify"><strong>For the upcoming Parliament, what would you say MPs need to focus on to ensure the Executive is held accountable? </strong></p>
        		    
			    <p align="justify">When I speak of the Executive, I speak of the EFF Executive because we will be the governing party. We are going to show the ANC how we are close to the people of this country, we are part of them, and we will listen to them and their needs. We have been doing that for five years and we are fully aware of what South Africans want from government and we are coming here to implement. We will hit the road running. I can promise you now, the CIC will ensure that if you are the Minister of Energy and there is load shedding, you are not coming to Parliament until the problem is resolved. If there are people who are homeless because of floods, you are not coming here until they have been taken care of. Parliament is not a place to sit and look pretty – this is where you report and find solutions to the problems in this country. It is going to be a very different government under the EFF. </p>
        		    
        		    
        		    
			    <br><h3><strong>National Council of Provinces</strong></h3>
        		    
        		    
			    <br><h3>Mr M Rayi (ANC; Eastern Cape) Chairperson: Select Committee on Economic and Business Development </h3>
			    
			    <p align="justify">Challenges that Members identified during Annual Performance Plans (APPs) presentations needed to be raised when Members visit places on oversight. In this way Members can check if the department is dealing with these challenges. It is important for there to be follow-up on issues. </p>
        		    
			    <p align="justify">It is extremely important for the sixth Parliament to provide induction for Members on rules, practices, the committee system and on the law making process. Members should understand procedures for section 74, 75, 76 and 77 bills.</p>
        		    
			    <p align="justify">Parliament needs to question whether committees are dealing with APPs and Annual Reports in the correct manner. I feel that there are far too many departments and entities that a Select Committee has to conduct oversight over. For my own committee, the Select Committee on Economic and Business Development, of which I am the Chairperson, there were six departments and 31 entities that the Committee did oversight over. Parliament should perhaps look at what could be done differently. </p>
        		    
			    <p align="justify">There were times when Committee Chairpersons, like myself, were invited to participate in MinMecs. This should be institutionalised. </p>
        		    
			    <p align="justify">Parliament should relook at how researchers are allocated to committees. Often researchers had to go beyond their areas of expertise when matters cropped up. Researchers are expected to advise the committee on far too many things. </p>
        		    
			    <div class="inline-img" style="width:560px;"><img src="/static/resources/images/review/MP_comments.jpg" width="560" height="382" alt="Photo: RSA Parliament" align="left"></div>	
        		    
			    <br><h3>Mr B Nthebe (ANC; North West)</h3>
        		    
			    <p align="justify">I feel there is a need for the NCOP to be overhauled. There is also a need for a total overhaul of the oversight model used by the NCOP. </p>
        		    
			    <p align="justify">Parliament’s Committee Section should look into the processing time of committee reports. Sometimes committee reports are only considered by the committee long after the fact. This was especially so for oversight reports on visits to provinces. At present there are no timelines in place and things were far too open ended. </p>
        		    
			    <p align="justify">I suggest that the training of Members should be taken up a notch.</p>
        		    
      		    
        		    
        		    
			    <br><h3>Mr E Makue (ANC; Gauteng) </h3>
			    
			    <p align="justify">Members of Select Committees should participate in study groups that Members of Portfolio Committees have with particular government departments. During the fifth Parliament, I sat in a Portfolio Committee on Trade and Industry study group with the Department of Trade and Industry. This could improve the functioning of Parliament. </p>
        		    
			    <p align="justify">To broaden the learning curve of Members, study tours needed to be encouraged during the sixth Parliament. My Committee constantly experienced obstacles when study tours were planned. In the Committee’s five-year term, only one study tour had been undertaken. </p>
        		    
        		    
        		    
			    <br><h3>Mr Charel de Beer (ANC; Northern Cape) Chairperson: Select Committee on Finance </h3>
			    
			    <p align="justify">The only challenge is the short space of time from when the new Members arrive here in May until December 2019, because the first week or two weeks is induction to get them organised and then they must immediately start with the Appropriation Bill. That’s an enormous task. It’s the budgets of 40 departments to process in the NA and NCOP. And after the Appropriation Bill, there are the Annual Reports what we call the BRRR (Budget Review and Recommendations Reports), running into the Medium Term Budget Policy Statement (MTBPS) in October.</p>
        		    
			    <p align="justify">So for Finance and Appropriations Committees in both Houses, there’s going to be a very hectic period up to December and I have sensitised the leadership of Parliament. The two Houses will have to work later in December. We've got no choice.</p>
        		    
        		    
			    <br><h3>Mr F Essack (DA; Mpumalanga) </h3>
			    
			    <p align="justify">The lessons we learnt from the fifth Parliament should strengthen and improve the sixth Parliament. The next Parliament should be looking at the quality of the decisions it takes on how it deals with government finances, taking into consideration the shortfall in revenue income, coupled with growing expenses. The sixth Parliament will have to strategically apply its mind and use best practice in getting maximum value from budget money so that it represents the citizens of this nation according to its mandate.</p>
        		    
			    <p align="justify">If you look at the Zondo Commission, Nugent Commission, and other commissions that are currently on the go and the information that’s been coming out of them, that has suddenly affected Parliament in terms of delivering on its promises, and quite frankly its mandate which to improve the quality of lives of South Africans across the board in creating jobs, addressing corruption, in leaving a legacy of creating investment and encouraging the international world to invest in South Africa as a global destination of note. Sadly, we’ve been struggling to achieve that as a result of the crime rate, joblessness, and poor healthcare which is affecting the society as a whole.</p>
        		    
			    <p align="justify">My advice to the sixth Parliament would be that we must apply our minds, be conscious as Members of Parliament of the people we’re mandated to serve, that we have to serve, not only conscientiously, but effectively in making the best quality decisions for South Africa.</p>
        		    
        		    
			    
			    <p class="review-author-blurb">Photos: RSA Parliament</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Steven_Friedman.html">How does the PR system affect the quality of input in Parliament?</a></li>
				<li><a href="2019Review_Andisiwe_Makinana.html">Observing Parliament: my reflections</a></li>
				<li><a href="2019Review_Law_Calland.html">A Constitutional Fiction: Parliamentary Oversight of the Executive</a></li>
				<li><a href="2019Review_Lawson_Naidoo.html">Some thoughts on the Fifth Parliament</a></li>
				<li><a href="2019Review_Narend_Singh.html">Do small parties work for Parliament?</a></li>
				<li><a href="2019Review_Deidre_Carter.html">View from the opposition benches</a></li>
				<li><a href="2019Review_Gary_Pienaar.html">Improving Parliament's ineffective oversight</a></li>
				<li><a href="2019Review_Mike_Pothier.html">Parliamentary Advocacy: How to have an influence?</a></li>
				<li><a href="2019Review_Duda_Motala_Louw.html">Public Engagement: A Case Study</a></li>
				<li><a href="2019Review_Moira_Levy.html">Notes from the House</a></li>
				<li><a href="2019Review_Martin_Nicol.html">Committee System: performance and areas of reform</a></li>
				<li><a href="2019Review_Judith_February.html">A step forward</a></li>
				<li><a href="2019Review_Sean_Muller.html">Why has Parliament not yet amended the Budget?</a></li>
				<li><a href="2019Review_Gaile_Fullard.html">Points of order (by an observer)</a></li>
				<li><a href="2019Review_Monique_Doyle.html">Diary of a Parliamentary Nerd</a></li>
			    </ul>
			</div>
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Lechesa_Tsenoli.html">Lechesa Tsenoli (Deputy Speaker)</a></li>
				<li><a href="2019Review_John_Steenhuisen.html">John Steenhuisen (Member of Parliament)</a></li>
				<li><a href="2019Review_Joanmariae_Fubbs.html">Joanmariae Fubbs (Member of Parliament)</a></li>
				<li><a href="2019Review_Mbuyiseni_Ndlozi.html">Mbuyiseni Ndlozi (Member of Parliament)</a></li>
				<li><a href="2019Review_MP_comments.html">MP Comments</a></li>
				<li><a href="2019Review_Black_Sash.html">Black Sash</a></li>
				<li><a href="2019Review_SJC.html">Social Justice Coalition</a></li>
				<li><a href="2019Review_Makhosi_Khoza.html">Makhosi Khoza (Former Member of Parliament)</a></li>
			    </ul>
			</div>
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Turnover.html">MP & Committee Turnover</a></li>
				<li><a href="2019Review_Agenda.html">Committee Agenda</a></li>
				<li><a href="2019Review_Activity.html">Committee Activity</a></li>
				<li><a href="2019Review_Performance.html">Legislative Performance</a></li>
				<li><a href="2019Review_Questions.html">Written Questions</a></li>
			    </ul>
			</div>
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
