{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Interview: Ms Joanmariae Fubbs</h2>
			<div class="date"><i>Chairperson of the Portfolio Committee on Trade and Industry</i></div>
			<div class="body">
        		    
			    <div class="inline-img" style="width:229px;"><img src="/static/resources/images/review/fubbs_01.jpg" width="229" height="365" alt="Photo: RSA Parliament - Deidre Carter" align="left">Photo: RSA Parliament - Ms Joanmariae Fubbs</div>
                	    
			    <p align="justify"><strong>Q: <em>Looking back on your time in the Fifth Parliament, what have been your most memorable achievements?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Given that I chair a Portfolio Committee and an Inter-Parliamentary Meeting (IPM) Committee, I have taken the decision to focus on the PC Trade and Industry which takes up the majority of my time.</p>
			    
			    <p align="justify">My highlights include:</p>
			    <p align="justify">
        			Developing and nurturing a non-parochial team to work together constructively for the most part as a Portfolio Committee of Trade and Industry.<br><br>
				Enabling members to learn the ropes of chairing and other forms of leadership, through chairing sub-committees, performing other tasks and occasionally chairing the Committee – as it did not have a whip for four years.<br><br>
				Developing a functional management committee of the Committee to deal with preparation, programming and ensure fair distribution of work among the staff.<br><br>
				Tabling and processing a “debt relief bill” after a greater appreciation of the impact and implications of debt especially among the workers including lower paid notch teachers, SAPS, nurses and care-givers etc. This Bill is the National Credit Amendment Bill 2018.
			    </p>
			    
			    <p align="justify">Given the cohesion and commitment of the Committee we managed to process many bills from the executive, even crafting the bills and having them adopted in the National Assembly before rising in December 2018. This was achieved while having to exercise effective oversight over many technical and regulatory entities. The bills are the National Gambling Amendment Bill, Copyright Amendment Bill and the Performers Protection Amendment Bill which directly addressed and benefitted schools, unpaid creative people in the performance industry and regulated the collecting agencies. We also learned about legislation that fell under Trade and Industry namely the Sugar industry that had apartheid legislation on the books and were able to address this with the Department of Trade and Industry through regulation and the department exercising its powers to ensure the equitable distribution of government funding to all sugar cane growers. </p><br>
			    
			    <p align="justify"><strong>Q: <em>What are the greatest frustrations you have faced in the Fifth Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Changes to the parliamentary programme at short notice which directly impacts on the Committee Programme often leading to all the preparation work being redone such as advising stakeholders including departments of the changes and re-organising the Agenda and re-inviting the necessary stakeholders and departments. When we are having joint or more than two committees working on cross-cutting issues this is even more challenging to set-up again.</p>
			    
			    <p align="justify">Another is Departments not having effective legal staff in their drafting units forcing the Committee to re-draft legislation almost completely. This places undue pressure on the financial resources of Parliament. Nevertheless the Committee has found the Parliamentary legal drafting division very efficient and effective in re-drafting legislation under the Committee’s direction. However, it is more apparent now that this unit will have to be expanded with specialist expertise where necessary.</p>
			    
			    <p align="justify">It is important for all staff to appreciate that minutes are a legal document therefore important to receive minutes timeously and regularly. Documentation should be distributed electronically in time at least three days in advance. Currently members including myself often receive documentation an hour before or during the meeting despite Agenda items being scheduled weeks or at least two weeks in advance. </p>
			    
			    <p align="justify">Staff who cannot operate a computer effectively, does not use spell check and is unable to follow a style or systems effectively like indentation and numbering. Yet all the programmes on the computers staff use had such built in applications. Having said this, it would be important to state that most of the staff can operate their computers effectively. One ineffective or untrained member of staff increases the workload of other members of staff.</p>
			    
			    <p align="justify">Members of smaller political parties often sit in three or more portfolio committees finding themselves torn between priorities. Often this means providing verbal summaries to bring such members up-to-date so that they can participate effectively. Given that we are constitutionally a multi-party parliament it is imperative that more than the ruling party and the largest opposition party are present, especially when processing bills. Often during political conferences, by-elections and electioneering in general the opposition uses Committee time to undertaken party business. Hence the establishment of alternates in Committees especially to be present during the legislative processing of bills. It would also be constructive if in a Portfolio Committee, members come from across the provinces and not more than two from a specific province.</p>
			    
			    <p align="justify">Often what takes place in Parliament is not understood by all journalists who do not appreciate the differences between positions, decisions, resolutions and the adoption of a report on a bill and the adoption of the bill in the House. Again many journalists do not bother to check on the veracity of their information which could be done by obtaining the comments and or views of other parties present and also the chairperson.</p><br>
			    
			    <p align="justify"><strong>Q: <em>What immediate changes, besides more budget, would result in the greatest improvements in the work of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Strengthening the underpinning of good governance under the co-operative governance requisite of the Constitution. This has begun but requires the wholehearted participation of all parties. Consequently, more co-ordinated and synchronised multiparty political consultation, management of especially human resources, programme planning; customised training of staff including soft-skills such as communication, time-management, respect for all people and inspiring and nurturing an ethos in the critical role support staff play in a democracy.</p>
			    
			    <p align="justify">Establishing and strengthening staff cohesion in the broader institution but also at unit and committee level. It is essential that Portfolio Committee staff work as a team, because only in that way can staff manage the pressure during processing of bills, robust oversight and when the equipment in Parliament breaks down. Institutional recognition of the work staff undertakes especially the Committee reports.  Perhaps staff could be encouraged to publish their work and secondly certificates recognising their work.</p>
			    
			    <p align="justify">Given that staff are inducted, this should include report writing and notation such as numbering is it the Harvard system or what? Secondly what dictionary is Parliament using, Oxford, Cambridge, Websters to mention a few, so please can Parliament draw up and print a simple style book for everyone to use and hand them out at induction.</p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>Areas of reform for the Sixth Parliament</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Strengthening Parliament as the “Voice of the People”, ensuring the development of an active citizenry that enjoys a greater influence in the developmental trajectory of the country. The transformation of Parliament is part of to ensure the articulation of the people’s power. Only in this way can parliament truly be a People’s, democratic and constitutional institution. In this way the representatives of the people can better serve the people.</p>
			    
			    <ul>
        			<li>Induction at the beginning of the term does take place but should continue.</li>
				<li>The establishment of ‘Taking Portfolio Committees to the People’ in the Fourth Term was a foundation for holding Committee meetings and hearings which are more accessible to the people.</li>
				<li>Strengthening the participatory processes in Parliament and the empowerment of ordinary people to actively participate through verbal and written submissions.</li>
				<li>When conducting oversight in the field ensuring effective communication reaches stakeholders in the identified areas so that people can participate in the process. Provide a set of guidelines for staff on what should be done prior, during and after the oversight visit. </li>
				<li>Empowering MPs and staff about rules and legislative procedures and processes ensures some continuity in committees — and not only one member having sat in the committee in a previous term.</li>
				<li>Strengthening the integrity and ethics committee and make lifestyle audits compulsory.</li>
				<li>Parliamentarians should be encouraged to capacitate themselves by registering for courses that would support them in their parliamentary mandate as MPs. Staff should also be professionalised in all areas and encouraged to register for courses to upgrade their technical, governance, and procedural skills.</li>
				<li>Among the challenges that can be overcome is the tracking of bills adopted by both Houses and signed into law by the President that they should become operational as soon as possible as they will continue to impact on other relevant legislation.</li>
				<li>Ensuring that no more apartheid legislation remains on the statute book because this is a violation of the Constitution. The legislation governing the sugar industry is a case in point.</li>
				<li>The alignment with International Treaties and the time it takes between their signing and submission for the process of ratification within Parliament is sometimes too long and may have negative impact on the stakeholders it should benefit.</li>
				<li>The Rules for Committee and Private Members Bills (PMB) should be revisited such as who should receive the first public comments on a PMB because ideally this should be received by the person introducing the Bill.</li>
				<li>Coordination among committees and departments remains a challenge however with fewer ministries and therefore fewer Portfolio Committees this may help to resolve this challenge.</li>
			    </ul><br>
			    
			    <p align="justify"><strong>Q: <em>How has your life changed since becoming a Member of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Challenges of operating and living in two houses in two different cities means ensuring quality time is carved out of my busy schedule for the people I love especially my husband, and grandchild who lives with us and our four children who have their own families. Second, balancing the time I spend in Parliament with the time I need to spend in my Parliamentary Constituency Office (PCO) to listen to the people who visit the PCO and try and help them directly or through referral to another agency of Government. Third, trying to respond constructively to frustrated callers who have been calling my cell, while I have been chairing. Fourth, finding time simply to relax with a book, writing poetry or working in my garden. Of course I am now far more conscious of time management than ever before.</p><br>
			    
			    <p align="justify"><strong>Q: <em>Given hindsight, would you have done anything differently?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> No. However, I would have tried to do them so much better I believe, because I have learned from the mistakes I have made, especially the importance of listening actively and not making promises but activating my commitments to serve the people. Also having learned there are experts who have studied the situation and can write extensive and often useful reports but then there are also “inperts”, who have actually lived or are living in the situation. “Inperts” may not be able to articulate their proposals as well as experts; however their proposals are the ones more likely to resolve the challenges they face.</p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What advice would you offer to incoming Members of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Take your mandate of serving the people seriously. It is a vocation rather than a career and calls for personal sacrifices. Fully appreciate that it is necessary to manage your time. Endeavour to improve and/or upgrade your knowledge and skills to better serve the people. Prepare for every meeting by not only reading the documents provided but also doing your own research. Know your party principles and have a clear appreciation that you are not elected in your own right but as a member of a particular political party, be disciplined and at all times remember you will always be seen as a member of a particular party and an MP and that even in your private time you need to appreciate this when relaxing in public. Learn an indigenous language if you cannot already speak and read one.</p><br>
			    
			    <p align="justify"><strong>Q: <em>What does the future hold?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> There is a political silver lining in that the current President is ensuring institutions are utilized to hold all public representatives and functionaries to account; in short, to do their mandated work.</p>
			    
			    <p align="justify">What many South Africans but also international leaders may not appreciate is that this is the first time a sitting government is undertaking this kind of robust oversight and furthermore doing so in an election period. This augurs well for the future as it puts good governance first — the kind of governance that ensures functionaries and public representatives serve the people as mandated.</p>
			    
			    <p align="justify">The future is what we all make it working together to grow a nation with the values inherent in the Freedom Charter, Through the Eye of the Needle and the Constitution. Cultivate and nurture respect for all people including all members of staff. One does not have to agree with someone else’s ideology but one can at least acknowledge that person as a member of humanity and be respectful. We need to transform our institutions but more importantly we need to transform the hearts of leaders of every level and in every sector.</p>
			    
			    <p align="justify">The Sixth Term in Parliament will enjoy a more empowered electorate and so most of all needs more empowered and professionalised public representatives who are committed to serve all the people and to bring about a developmental and capacitated state that is enabled to build and grow an inclusive economy in which all South Africans can benefit from the fruits of their labour while contributing to our economy. We are a peaceful nation and should be intent on sharing peace with our neighbours and our international colleagues and countries.</p>
			    
			    
			    <p class="review-author-blurb">&nbsp;</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
