{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Interview: John Steenhuisen</h2>
			<div class="date"><i>DA Chief Whip</i></div>
			<div class="body">
        		    
			    <div class="inline-img" style="width:182px;"><img src="/static/resources/images/review/John_01.jpg" width="182" height="271" alt="Photo: RSA Parliament - John Steenhuisen" align="left">Photo: RSA Parliament - John Steenhuisen</div>
        		    
			    <p align="justify"><strong>Q: <em>Looking back at your time in the Fifth Parliament, what have been your greatest or most memorable occasions and achievements?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Being able to block Cecil Burgess from being appointed as Inspector General of Intelligence. Being able to ensure that the Nkandla Ad Hoc Committee Report was revived and the Ad Hoc Committee commenced with its work. The innumerable court victories we’ve had against Parliament for violating rules and procedures, and being able to block some bad legislation, such as the Road Accident Benefit Scheme Bill. And then some of the great times were when Parliament came together and saw the end of an era with Mr Zuma’s departure and exit and the swearing in of the new President. It was a significant time for Parliament. </p><br>
			    
			    <p align="justify"><strong>Q: <em>What are the greatest frustrations you have faced in the Fifth Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> My greatest frustrations revolve mainly around Parliament’s inability and waste of potential where we could be a massive arena for accountability and executive oversight and ensuring that we are a responsive People’s Parliament. There are obstacles to that with Ministers being protected during oral questions sessions where Presiding Officers just simply allow them to get away without answering the questions. In other parliaments around the world, the presiding officers are on the side of the MPs, forcing the executive to answer the questions as put to them. </p>
			    
			    <p align="justify">Another frustration was the lack of progress at the Joint Ethics Committee in processing and dealing with innumerable complaints against Members of Parliament who had violated the Ethics Code and breached the Oath of Office. That Committee was very politicised from the beginning and it has become a complete waste of time. The Sixth Parliament will really have to grapple with how we have an Ethics Committee that is actually able to deal with those complaints. By far the majority of the massive volume of complaints laid, will not be dealt with in the Fifth Parliament because the Committee dragged its feet and refused to do its job, a very far cry from the way that the Committee operated in the Fourth Parliament under Prof Ben Turok.</p>
			    
			    <p align="justify">Also falling in this category is Parliament’s repeated failure to adhere to the Constitution and the rule of law which had led to the DA having to take Parliament to the courts on a number of issues, ranging from issues of freedom of speech in the House to the Public Protector’s Report and its enforceability, and the use and deployment of the military and South African Police Service in the parliamentary precinct. These are all basic separation of power issues and basic value judgments and Parliament has failed in so many of these, and in its basic ability to uphold the rule of law. </p><br>
			    
			    <p align="justify"><strong>Q: <em>What immediate changes would result in the greatest improvements in the work of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Presiding Officers who act honestly and openly without fear or favour; and who robustly protect Parliament’s ability to exercise its oversight function of the executive, insisting that Ministers are actually in the House and answering questions. Not allowing the Deputy President to miss three oral question sessions in a row, and some repeat offenders, such as the Minister of Basic Education who went for almost a year and half without appearing in the House to answer questions. </p>
			    
			    <p align="justify">MPs need to be more empowered to able to perform their oversight function, which requires research capability for individual MPs. Support should be one of the core business items on Parliament’s agenda but it is often one of the smallest and most under-utilised items of the budget. We should be able to assist more with empowering Members to perform their oversight functions. For example, in a Committee meeting, the Ministers would arrive with a battery of lawyers, consultants, research capability and the like and are then able to intimidate Members and run rings around Parliament when we should have that battery of lawyers, consultants, research capability to empower MPs so that Members can truly exercise oversight over the executive. That would really help Members improve the core function of oversight. </p>
        		    
			    <p align="justify">Relevant support would dramatically improve the quality of legislation. We’ve had a number of bills that have been struck down as unconstitutional and a number of bills were sent back to Parliament because they were poorly drafted and to pass them would not have been correct. I believe that a stronger and more empowered research capability and Member support would help improve the quality of legislation, like the Minimum Wage Bill that was sent back to Parliament because it was poorly drafted with many technical errors. It was very embarrassing for Parliament. Passing legislation is one of the four key constitutional imperatives that we are instructed to undertake, and if we can’t get something as basic as law-making right, that should be a warning signal that something was not right in Parliament. </p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>How has your life changed since becoming a Member of Parliament</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> My life has changed dramatically since becoming Chief Whip. I spend a lot of time on it. I manage a staff of 102 Members of Parliament and a big staff operation of researchers, media officers, secretariat assistants and legislative drafters. It is a big job – seven days a week. It is a lot of work and it comes with a lot of sacrifices. I very seldom leave here before 6 or 7 in the evening and often arrive at 7 am to start the day with meetings. Weekends are spent planning the House tactics for the following week but I enjoy it and I wouldn’t do anything else. I love doing the job and I love Parliament and what it represents and the potential it has to become a true arena of executive accountability and to advance the country. </p><br>
			    
			    <p align="justify"><strong>Q: <em>Given hindsight, would you have done anything differently?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> Yes, in hindsight I would probably have done some things differently. I have said some things in the House that I probably regret, but with the benefit of hindsight you can look back on things. There are decisions you make around strategy and tactics, some of them work and some of them don’t work, and others haven’t deployed well. By and large, the regrets are few and the lessons are many.</p><br>
			    
			    <p align="justify"><strong>Q: <em>What advice would you offer to incoming Members of Parliament?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> To get to grips with the rules of Parliament as quickly as possible, as once you know the rules, you are able to operate in the arena. The rules of Parliament and the Constitution provide the parameters as they are the rules of the game, and you can’t play the game unless you know the rules. Find a niche you are interested in and use that to drive issues. Some of the better MPs are able to drive issues. For instance, you do not see an article written about SAA without Alf Lees’ name because he knows how to drive an issue. You must find something you are passionate about because you can’t cover all the basics. Focus on an issue and you can make the biggest difference — focusing on that and using the tools that Parliament provides. </p><br>
			    
			    
			    <p align="justify"><strong>Q: <em>What does the future hold?</em></strong></p>
			    
			    <p align="justify"><strong>A:</strong> I am coming back to Parliament in the Sixth Parliament and I am looking forward to playing a role here, obviously it is up to the leader to determine who the Chief Whip of Parliament is. My term will be coming to an end at the end of the Fifth Parliament. Even if I don’t come back as Chief Whip, I have a role to play because I love Parliament whether in Committees or in the back bench, it doesn’t matter, as there is a great way to use this place for the benefit of the people of South Africa. One needs an activist people-centred Parliament that can be the crucible of national debate. I am looking forward to another five years. It’s great!</p>
			    
			    
			    <p class="review-author-blurb">&nbsp;</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
