<div class="sb-inner">
    <ul>
        <li><a href="{{ url_for('article_review',article='steven_friedman' ) }}">How does the PR system affect the quality of input in Parliament?</a></li>
	<li><a href="{{ url_for('article_review',article='andisiwe_makinana' ) }}">Observing Parliament: my reflections</a></li>
	<li><a href="{{ url_for('article_review',article='law_calland' ) }}">A Constitutional Fiction: Parliamentary Oversight of the Executive</a></li>
	<li><a href="{{ url_for('article_review',article='narend_singh' ) }}">Some thoughts on the Fifth Parliament</a></li>
	<li><a href="{{ url_for('article_review',article='narend_singh' ) }}">Do small parties work for Parliament?</a></li>
	<li><a href="{{ url_for('article_review',article='deidre_carter' ) }}">View from the opposition benches</a></li>
	<li><a href="{{ url_for('article_review',article='gary_pienaar' ) }}">Improving Parliament's ineffective oversight</a></li>
	<li><a href="{{ url_for('article_review',article='mike_pothier' ) }}">Parliamentary Advocacy: How to have an influence?</a></li>
	<li><a href="{{ url_for('article_review',article='duda_motala_louw' ) }}">Public Engagement: A Case Study</a></li>
	<li><a href="{{ url_for('article_review',article='moira_levy' ) }}">Notes from the House</a></li>
	<li><a href="{{ url_for('article_review',article='martin_nicol' ) }}">Committee System: performance and areas of reform</a></li>
	<li><a href="{{ url_for('article_review',article='judith_febuary' ) }}">A step forward</a></li>
	<li><a href="{{ url_for('article_review',article='sean_muller' ) }}">Why has Parliament not yet amended the Budget?</a></li>
	<li><a href="{{ url_for('article_review',article='gaile_fullard' ) }}">Points of order (by an observer)</a></li>
	<li><a href="{{ url_for('article_review',article='monique_doyle' ) }}">Diary of a Parliamentary Nerd</a></li>
    </ul>
</div>
