<div class="sb-inner">
    <ul>
        <li><a href="{{ url_for('interview_review',interview='lechesa_tsenoli' ) }}">Lechesa Tsenoli (Deputy Speaker)</a></li>
	<li><a href="{{ url_for('interview_review',interview='john_steenhuisen' ) }}">John Steenhuisen (Member of Parliament)</a></li>
	<li><a href="{{ url_for('interview_review',interview='joanmarie_fubbs' ) }}">Joanmariae Fubbs (Member of Parliament)</a></li>
	<li><a href="{{ url_for('interview_review',interview='mbuyiseni_ndlozi' ) }}">Mbuyiseni Ndlozi (Member of Parliament)</a></li>
	<li><a href="{{ url_for('interview_review',interview='mp_comments' ) }}">MP Comments</a></li>
	<li><a href="{{ url_for('interview_review',interview='black_sash' ) }}">Black Sash</a></li>
	<li><a href="{{ url_for('interview_review',interview='sjc' ) }}">Social Justice Coalition</a></li>
	<li><a href="{{ url_for('interview_review',interview='makhosi_khoza' ) }}">Makhosi Khoza (Former Member of Parliament)</a></li>
    </ul>
</div>
