<div class="sb-inner">
    <ul>
        <li><a href="{{ url_for('stats_review',stat='turnover' ) }}">MP & Committee Turnover</a></li>
	<li><a href="{{ url_for('stats_review',stat='agenda' ) }}">Committee Agenda</a></li>
	<li><a href="{{ url_for('stats_review',stat='activity' ) }}">Committee Activity</a></li>
	<li><a href="{{ url_for('stats_review',stat='performance' ) }}">Legislative Performance</a></li>
	<li><a href="{{ url_for('stats_review',stat='questions' ) }}">Written Questions</a></li>
    </ul>
</div>
