{% extends "base.html" %}

{% block title %}Observing Parliament: my reflections | PMG{% endblock %}

{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
    <article class="page">
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9">
		    <div class="single-post">
			<h2 class="title">Observing Parliament: my reflections</h2>
			<div class="date"><i>Andisiwe Makinana</i></div>
			<div class="body">
			    <p><strong>#paybackthemoney, red overalls and gumboots in parliament benches, the deployment of a signal jammer to block internet signal, securitization of institution and protesting varsity students breaking through the gates into the precinct — the fifth administration of Parliament had it all — drama, suspense, danger and outright undermining of the same laws the national legislature drafted including the country's constitution, ANDISIWE MAKINANA writes:</strong> </p>

			    <p>"Phakama Ramaphosa, ixesha lisondele" [Rise Ramaphosa, the time has come] sang ANC MPs in unison, while on their feet and raising their hands as if to push up the roof. "In a court of law, no singing is allowed..." joked Chief Justice Mogoeng Mogoeng who had just announced Cyril Ramaphosa as the duly elected president of the republic. This was on 15 February 2018 in the National Assembly chamber, Ramaphosa had just been elected the democratic South Africa's fifth president.</p>

			    <p>Just over two years earlier in October 2015, the same ANC MPs remained stone faced in their benches as #FeesMustFall students protested outside the gates of Parliament singing an adaptation of the same song with the words to the effect that "I'm weeping, my child, for the time has come". This was at the height of the #FeesMustFall campaign, which saw rolling protests by university students in campuses across the country and which at times became violent leading to arrests of a number of student leaders. Students were demanding "a free, quality and decolonized education". They would later that afternoon push through the gates of Parliament into the precinct demanding to be addressed by Cabinet ministers. Police responded by firing stun grenades and students' screams could be heard as the backdrop to Nhlanhla Nene's mid-term budget policy statement that year.</p>

			    <p>Just over two years earlier in October 2015, the same ANC MPs remained stone faced in their benches as #FeesMustFall students protested outside the gates of Parliament singing an adaptation of the same song with the words to the effect that "I'm weeping, my child, for the time has come". This was at the height of the #FeesMustFall campaign, which saw rolling protests by university students in campuses across the country and which at times became violent leading to arrests of a number of student leaders. Students were demanding "a free, quality and decolonized education". They would later that afternoon push through the gates of Parliament into the precinct demanding to be addressed by Cabinet ministers. Police responded by firing stun grenades and students' screams could be heard as the backdrop to Nhlanhla Nene's mid-term budget policy statement that year.</p>

			    <p>Violent eruptions were a common feature of the fifth Parliament, so much that the review of the parliamentary rulebook had to be fast-tracked to ensure rules provide for neutralizing disruptive MPs.</p>

			    <p>It's impossible to tell the story of the fifth Parliament without telling the story of the Economic Freedom Fighters, the 6% party that arrived in Parliament in May 2014 with 25 MPs in the National Assembly and six in the National Council of Provinces. The party shaped the character of this past term of parliament: combative, no-holds barred and at times crude. In the build-up to the May 2014 general elections, the EFF leaders promised to bring "a revolution" to Parliament even if it came at the expense of rules and conventions, and boy did they rock the place.</p>
			    
			    <p><img src="/static/resources/images/review/Andisiwe_01.jpg" width="450" height="284" align="left" class="inline-img"> 
				The EFF also arrived in Parliament with a clear target in Jacob Zuma, the controversial president with numerous clouds hanging over his head, but none as big as the public protector's Secure in Comfort report which found that he had unduly benefited from security upgrades at his private home in Nkandlaz. So when Zuma appeared before the National Assembly for his first quarterly question and answer session on 21 August 2014, the EFF did not only seek to embarrass him but also exposed the National Assembly's shoddiness as it had by all accounts sought to sweep the then five month-old report under the carpet. Despite Public Protector Thuli Madonsela's damning findings and recommendations, the National Assembly, to which Zuma constitutionally answered, absolved him from compliance with Madonsela's remedial action.</p>


			    <p>The Q&A session ended abruptly with chants of #paybackthemoney ringing across the chamber after Zuma sought to evade the question as to when he would pay back the money. Not even Speaker Baleka Mbete, then National Chairperson of the ANC and loyal Zuma supporter, could shield the president from the EFF onslaught and for the first time in the democratic era, a session of Parliament had to be suspended indefinitely. The events of that day were indeed a turning point on how Parliament operated and conducted its business. </p>

			    <p>The EFF's disruptive and defiant approach to Parliament was imitated on many other platforms inside and outside the national legislature including by Parliament's own striking employees who occupied the national assembly public gallery late 2016 forcing a cancellation of a plenary session.</p>

			    <p>It was not always turbulence.</p>

			    <p>The fifth Parliament initiated two groundbreaking inquiries, exercises for which the legislature received wide recognition and applause. The first inquiry – an in depth investigation into the affairs of the public broadcaster – was held in 2016, followed by a similar process looking into governance failures at Eskom a year later. An inquiry into the early naturalization of the Gupta family was unfortunately not concluded. </p>
			    
			    <p>The fifth Parliament initiated two groundbreaking inquiries, exercises for which the legislature received wide recognition and applause. The first inquiry – an in depth investigation into the affairs of the public broadcaster – was held in 2016, followed by a similar process looking into governance failures at Eskom a year later. An inquiry into the early naturalization of the Gupta family was unfortunately not concluded. </p>
			    
			    <p>The SABC inquiry was hard hitting. It came on the back of many years of governance failures which had an impact not only on the quality of the broadcaster's bottom line but compromised the quality of its core business – news. </p>
			    <img src="/static/resources/images/review/Andisiwe_02.jpg" width="694" height="187"><br><br>
			    <p>The parliamentary inquiry also presented the legislature — and to large extent politicians — with an opportunity to be seen to be self-correcting following years of looking the other way as senior officials and politicians destroyed the SABC. The inquiry was an eye-opener on what Parliament oversight could deliver when politicians put aside party and factional interests and focus on the constitutional obligation to hold the executive and state entities to account.</p>
			    
			    <p>In fact, it was earlier that year that the fifth Parliament encountered its lowest moments when on 31 March 2016, the constitutional court made damning findings against the National Assembly regarding the Nkandla matter.</p>
			    
			    <p>The court found that the National Assembly had failed to fulfill its constitutional obligations to hold Zuma accountable to ensure the effectiveness, rather than subversion, of the Public Protector's findings and remedial action. The Assembly had instead adopted then Police Minister Nathi Nhleko's report, which concluded among other things that a swimming pool is a security measure called a fire pool.</p>
			    
			    <p>On the administration side, a lot more questions were asked of this parliament term than any other.
				The institution appointed a new administrative boss in December 2014 and he had a knack for the finer things in life at a time when the legislature and the rest of the country were being told to be prudent. Parliament staff also went on an unprecedented five-week strike in 2016, which became violent at times with police clashing and releasing teargas against striking employees inside the precinct.</p>

			    <p>A senior official in the institution's international relations unit, Lennox Garane committed what he called "a protest suicide" in September 2018. This may have signalled the darkest day for Parliament. In his suicide note, Garane bemoaned workplace bullying, a topic which resonated with a few employees of the institution.</p>
			    
			    <p>Ramaphosa's election in February 2018 brought some calm to the national legislature. With the exception of one or two sessions where MPs literally exchanged blows, the plenary sessions have been uneventful. Even the EFF calmed down and surprised many when despite threats to disrupt the February 2019 State of the Nation Address, they didn't.</p>

			    <p>Whether the so-called new dawn will bring sense to Parliament still remains to be seen. It would be naive to attribute the few changes seen over the past 18 months to this phenomenon discounting the ANC's own factional score settling.</p>

			    <p>The one thing certain going to the sixth Parliament is the intervention yet again of Mogoeng. Parliament's unfinished amendment of the Bill of Rights to provide for expropriation of land without compensation will certainly end up in the constitutional court and it will be no laughing matter.</p>


			    <p class="review-author-blurb">Andisiwe Makinana is a long-serving journalist at Parliament and chairperson of the Parliamentary Press Gallery Association</p>
			    
			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
			    
			</div>
		    </div>
		</div>
		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
		    
		    <h1 class="review-sidebar-heading"><a href="review-parliament-2019.html">Review of the 5<sup class="lowercase">th</sup> Parliament</a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="#">This is some kind of long article title</a></li>
				<li><a href="#">This is some kind of long article title lorem ipsum</a></li>
				<li><a href="#">This is some kind of long article title</a></li>
			    </ul>
			</div>
		    </div>
		    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="#">This is some kind of long article title</a></li>
				<li><a href="#">This is some kind of long article title lorem ipsum</a></li>
				<li><a href="#">This is some kind of long article title</a></li>
			    </ul>
			</div>
		    </div>
		    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="#">This is some kind of long article title</a></li>
				<li><a href="#">This is some kind of long article title lorem ipsum</a></li>
				<li><a href="#">This is some kind of long article title</a></li>
			    </ul>
			</div>
		    </div>
		    
		    
		</div>
	    </div>
</div>
	</section>


    </article>
</div>
{% endblock %}




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="1555511177##7166a96c6eceac450e0013865549f3ddf320fd8a">
  <title>Observing Parliament: my reflections - Andisiwe Makinana</title>

  <!--

  DON'T SCRAPE, USE THE API! :)

  Looking for PMG's data? All the content on this site is available
  via an API at https://api.pmg.org.za/

  -->

  <link rel="icon" type="image/png" href="https://pmg.org.za/static/resources/images/favicon.png"https://pmg.org.za/>
  

  
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
  
    <link rel="stylesheet" href="https://pmg.org.za/static/stylesheets/app.e5e2c823.css">
    
    <!-- LINK TO ADDITIONAL STYLESHEET - Hannah -->
    <link rel="stylesheet" href="review.css">
  
  
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="After an election, the first sitting of the National Assembly must take place at a time and on a date determined by the Chief Justice, but not more than 14 days after the election result has been declared. At its first sitting after its election, the ...">
  <meta name="keywords" content="Parliament, South Africa, South African Parliament, Hansards, Committee, Politics, Government">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@PMG_SA">
  <meta name="twitter:title" content="Rules for first sitting of: NA, NCOP and Provincial Legislatures | PMG">
  <meta name="twitter:description" content="After an election, the first sitting of the National Assembly must take place at a time and on a date determined by the Chief Justice, but not more than 14 days after the election result has been declared. At its first sitting after its election, the ...">
  <meta name="twitter:creator" content="@PMG_SA">
  <meta name="twitter:image" content="https://pmg.org.za/static/resources/images/logo-artwork.png">

  <meta property="og:type" content="website"https://pmg.org.za/>
  <meta property="og:title" content="Rules for first sitting of: NA, NCOP and Provincial Legislatures | PMG"https://pmg.org.za/>
  <meta property="og:description" content="After an election, the first sitting of the National Assembly must take place at a time and on a date determined by the Chief Justice, but not more than 14 days after the election result has been declared. At its first sitting after its election, the ..."https://pmg.org.za/>
  <meta property="og:image" content="https://pmg.org.za/static/resources/images/logo-artwork.png"https://pmg.org.za/>

  
</head>

<body class="blog_post not-logged-in">
  <div id="wrapper">
    
<div class="header-print visible-print-block"><img src="https://pmg.org.za/static/resources/images/logo-small.png"></div>



<nav class="navbar navbar-default navbar-pmg" role="navigation">
  <div class="container">
    <div class="row">

      <div class="col-xs-9 col-sm-6 col-md-4 col-lg-3 clearfix">
        <a class="navbar-brand" href="https://pmg.org.za/">
          <img id="logo" src="https://pmg.org.za/static/resources/images/logo-small.png" alt="Parliamentary Monitoring Group" class="img-responsive">
          </a>
      </div>

      <div class="col-xs-3 visible-xs clearfix" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>

      <div class="col-xs-12 visible-xs">
        <div class="collapse navbar-collapse" id="mobile-navbar-collapse">
          <div class="nav navbar-nav">
            <div class="menu-container hidden-xs top-links-mobile">
              <ul class="menu">
  <li>
    <a class="committees-menulink menu-item" href="https://pmg.org.za/committees/">Committees and Meetings</a>
    <div class="megamenu" style="display: none">
      <div class="row">
  <div class="col-xs-5 mm-committees">
    
    <h3>Popular committees</h3>
    

    <ul class="mm-committees-list">
      
      <li data-id="63" data-follow-list="true">
        <a href="https://pmg.org.za/committee/63/?via=cte-menu">Health</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="62" data-follow-list="true">
        <a href="https://pmg.org.za/committee/62/?via=cte-menu">Labour</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="37" data-follow-list="true">
        <a href="https://pmg.org.za/committee/37/?via=cte-menu">Agriculture, Forestry and Fisheries</a>
      </li>
      
      <li data-id="111" data-follow-list="true">
        <a href="https://pmg.org.za/committee/111/?via=cte-menu">Water and Sanitation</a>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee/24/?via=cte-menu">Finance Standing Committee</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="28" data-follow-list="true">
        <a href="https://pmg.org.za/committee/28/?via=cte-menu">Basic Education</a>
      </li>
      
      <li data-id="19" data-follow-list="true">
        <a href="https://pmg.org.za/committee/19/?via=cte-menu">Social Development</a>
      </li>
      
      <li data-id="98" data-follow-list="true">
        <a href="https://pmg.org.za/committee/98/?via=cte-menu">Trade and Industry</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="38" data-follow-list="true">
        <a href="https://pmg.org.za/committee/38/?via=cte-menu">Justice and Correctional Services</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="65" data-follow-list="true">
        <a href="https://pmg.org.za/committee/65/?via=cte-menu">Cooperative Governance and Traditional Affairs</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
    </ul>

    
      
      <a class="btn btn-success megamenu-cta" href="https://pmg.org.za/user/login/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures&amp;via=cte-menu">Sign in to follow committees and customise this menu</a>
      
    
  </div>

  <div class="col-xs-7 mm-recent-meetings">
    
    <h3>Recent meetings of popular commitees</h3>
    

    <ul class="mm-recent-meetings-list">
      
      <li data-id="65" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28191/?via=cte-menu">Cooperative Governance and Traditional Affairs Portfolio Committee Legacy Report</a>
        <small>
          Cooperative Governance and Traditional Affairs
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="19" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28187/?via=cte-menu">Minutes and reports</a>
        <small>
          Social Development
          
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28186/?via=cte-menu">Illicit financial flows</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="38" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28178/?via=cte-menu">Justice and Correctional Services Portfolio Committee Legacy Report</a>
        <small>
          Justice and Correctional Services
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="111" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28170/?via=cte-menu">SANDF Deployment to Vaal River System: DWS &amp; SANDF briefing; Rand, Sedibeng, Bloem Water Boards 2017/18 Annual Report; Tembisa and Ekurhukeni petitions, with Minister and Deputy Minister</a>
        <small>
          Water and Sanitation
          
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28169/?via=cte-menu">Steinhoff follow-up, with DPSA Minister present</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="37" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28162/?via=cte-menu">Agriculture, Forestry and Fisheries Portfolio Committee Legacy Report</a>
        <small>
          Agriculture, Forestry and Fisheries
          
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="98" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28152/?via=cte-menu">Non-completion of trade agreement; farewell</a>
        <small>
          Trade and Industry
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="62" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28168/?via=cte-menu">National Minimum Wage Amendment Bill: finalisation</a>
        <small>
          Labour
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          18 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28127/?via=cte-menu">Finance Standing Committee Legacy report</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          13 Mar 2019
        </small>
      </li>
      
    </ul>
    <a class="btn btn-default megamenu-cta" href="https://pmg.org.za/committee-meetings?via=cte-menu">Meetings across parliament</a>
  </div>
</div>
    </div>
  </li>
  <li><a href="https://pmg.org.za/members">MPs</a></li>
  <li><a href="https://pmg.org.za/bills">Bills</a></li>
  <li><a href="https://pmg.org.za/question_replies">Questions and Replies</a></li>
  <li><a href="https://pmg.org.za/calls-for-comments">Calls for Comments</a></li>
  <li><a href="https://pmg.org.za/attendance-overview">Attendance</a></li>
  <li><a href="https://pmg.org.za/blog">Blog</a></li>
  <li><a href="https://pmg.org.za/provincial-legislatures/">Provincial Legislatures</a></li>
</ul>
            </div>
            <ul class="nav navbar-nav">
              <li class="visible-xs"><a href="https://pmg.org.za/committees/">Committees and Meetings</a></li>
              <li class="visible-xs"><a href="https://pmg.org.za/members">MPs</a></li>
              <li class="visible-xs"><a href="https://pmg.org.za/bills">Bills</a></li>
              <li class="visible-xs"><a href="https://pmg.org.za/question_replies">Questions and Replies</a></li>
              <li class="visible-xs"><a href="https://pmg.org.za/calls-for-comments">Calls for Comments</a></li>
              <li><a href="https://pmg.org.za/attendance-overview">Attendance</a></li>
              <li><a href="https://pmg.org.za/blog">Blog</a></li>
              <li><a href="https://pmg.org.za/provincial-legislatures/">Provincial Legislatures</a></li>
            </ul>
          </div>
          <hr>
          <ul class="nav navbar-nav">
            
              <li>
                <a href="https://pmg.org.za/user/register/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures">Create an account</a>
              </li>
              <li>
                <a href="https://pmg.org.za/user/login/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures">Log In</a>
              </li>
          
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 hidden-xs pull-right">
        <ul class="nav navbar-nav pull-right">
          
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-default" href="http://www.facebook.com/pmgsouthafrica"><i class="fa fa-fw fa-facebook"></i></a>
            <a class="btn btn-sm btn-default" href="https://twitter.com/PMG_SA"><i class="fa fa-fw fa-twitter"></i></a>
          </div>
          <a href="https://pmg.org.za/user/register/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures" class="btn btn-primary navbar-btn btn-sm">
            Create an account
          </a>
          <a href="https://pmg.org.za/user/login/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures" class="btn btn-primary navbar-btn btn-sm">
            Log In
          </a>
          
        </ul>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-5">
        <form class="navbar-form search-form" role="search" action="https://pmg.org.za/search">
          <div class="input-group">
            
            <input type="text" class="form-control" name="q" placeholder="What are you looking for?" value="">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
            </span>
          </div>
        </form>
      </div>


    </div>
  </div><!-- /.container -->
</nav>


<nav class="top-links hidden-xs">
  <div class="container">
    <ul class="menu">
  <li>
    <a class="committees-menulink menu-item" href="https://pmg.org.za/committees/">Committees and Meetings</a>
    <div class="megamenu" style="display: none">
      <div class="row">
  <div class="col-xs-5 mm-committees">
    
    <h3>Popular committees</h3>
    

    <ul class="mm-committees-list">
      
      <li data-id="63" data-follow-list="true">
        <a href="https://pmg.org.za/committee/63/?via=cte-menu">Health</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="62" data-follow-list="true">
        <a href="https://pmg.org.za/committee/62/?via=cte-menu">Labour</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="37" data-follow-list="true">
        <a href="https://pmg.org.za/committee/37/?via=cte-menu">Agriculture, Forestry and Fisheries</a>
      </li>
      
      <li data-id="111" data-follow-list="true">
        <a href="https://pmg.org.za/committee/111/?via=cte-menu">Water and Sanitation</a>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee/24/?via=cte-menu">Finance Standing Committee</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="28" data-follow-list="true">
        <a href="https://pmg.org.za/committee/28/?via=cte-menu">Basic Education</a>
      </li>
      
      <li data-id="19" data-follow-list="true">
        <a href="https://pmg.org.za/committee/19/?via=cte-menu">Social Development</a>
      </li>
      
      <li data-id="98" data-follow-list="true">
        <a href="https://pmg.org.za/committee/98/?via=cte-menu">Trade and Industry</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="38" data-follow-list="true">
        <a href="https://pmg.org.za/committee/38/?via=cte-menu">Justice and Correctional Services</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
      <li data-id="65" data-follow-list="true">
        <a href="https://pmg.org.za/committee/65/?via=cte-menu">Cooperative Governance and Traditional Affairs</a> <span class="premium"> <i class="fa fa-key"></i></span>
      </li>
      
    </ul>

    
      
      <a class="btn btn-success megamenu-cta" href="https://pmg.org.za/user/login/?next=%2Fblog%2FRules+for+first+sitting+of%3A+NA%2C+NCOP+and+Provincial+Legislatures&amp;via=cte-menu">Sign in to follow committees and customise this menu</a>
      
    
  </div>

  <div class="col-xs-7 mm-recent-meetings">
    
    <h3>Recent meetings of popular commitees</h3>
    

    <ul class="mm-recent-meetings-list">
      
      <li data-id="65" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28191/?via=cte-menu">Cooperative Governance and Traditional Affairs Portfolio Committee Legacy Report</a>
        <small>
          Cooperative Governance and Traditional Affairs
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="19" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28187/?via=cte-menu">Minutes and reports</a>
        <small>
          Social Development
          
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28186/?via=cte-menu">Illicit financial flows</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="38" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28178/?via=cte-menu">Justice and Correctional Services Portfolio Committee Legacy Report</a>
        <small>
          Justice and Correctional Services
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          20 Mar 2019
        </small>
      </li>
      
      <li data-id="111" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28170/?via=cte-menu">SANDF Deployment to Vaal River System: DWS &amp; SANDF briefing; Rand, Sedibeng, Bloem Water Boards 2017/18 Annual Report; Tembisa and Ekurhukeni petitions, with Minister and Deputy Minister</a>
        <small>
          Water and Sanitation
          
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28169/?via=cte-menu">Steinhoff follow-up, with DPSA Minister present</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="37" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28162/?via=cte-menu">Agriculture, Forestry and Fisheries Portfolio Committee Legacy Report</a>
        <small>
          Agriculture, Forestry and Fisheries
          
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="98" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28152/?via=cte-menu">Non-completion of trade agreement; farewell</a>
        <small>
          Trade and Industry
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          19 Mar 2019
        </small>
      </li>
      
      <li data-id="62" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28168/?via=cte-menu">National Minimum Wage Amendment Bill: finalisation</a>
        <small>
          Labour
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          18 Mar 2019
        </small>
      </li>
      
      <li data-id="24" data-follow-list="true">
        <a href="https://pmg.org.za/committee-meeting/28127/?via=cte-menu">Finance Standing Committee Legacy report</a>
        <small>
          Finance Standing Committee
          <span class="premium"> <i class="fa fa-key"></i></span>
          •
          13 Mar 2019
        </small>
      </li>
      
    </ul>
    <a class="btn btn-default megamenu-cta" href="https://pmg.org.za/committee-meetings?via=cte-menu">Meetings across parliament</a>
  </div>
</div>
    </div>
  </li>
  <li><a href="https://pmg.org.za/members">MPs</a></li>
  <li><a href="https://pmg.org.za/bills">Bills</a></li>
  <li><a href="https://pmg.org.za/question_replies">Questions and Replies</a></li>
  <li><a href="https://pmg.org.za/calls-for-comments">Calls for Comments</a></li>
  <li><a href="https://pmg.org.za/attendance-overview">Attendance</a></li>
  <li><a href="https://pmg.org.za/blog">Blog</a></li>
  <li><a href="https://pmg.org.za/provincial-legislatures/">Provincial Legislatures</a></li>
</ul>
  </div>
</nav>


<div class="free-banner">
  <div class="container">
    <i class="fa fa-fw fa-unlock-alt" aria-hidden="true"></i> <a href="https://pmg.org.za/committee-subscriptions#freepremium">Premium content from before 2018 is now available for everyone!</a>
  </div>
</div>

<div class="container container-body">
  

  <article class="page">
  
  


  

<section class="single-blog">
  <div class="row">
    <div class="col-sm-9">
      <div class="single-post">
        <h2 class="title">Observing Parliament: my reflections</h2>
        <div class="date"><i>Andisiwe Makinana</i></div>
        <div class="body">
          <p><strong>#paybackthemoney, red overalls and gumboots in parliament benches, the deployment of a signal jammer to block internet signal, securitization of institution and protesting varsity students breaking through the gates into the precinct — the fifth administration of Parliament had it all — drama, suspense, danger and outright undermining of the same laws the national legislature drafted including the country's constitution, ANDISIWE MAKINANA writes:</strong> </p>

	<p>"Phakama Ramaphosa, ixesha lisondele" [Rise Ramaphosa, the time has come] sang ANC MPs in unison, while on their feet and raising their hands as if to push up the roof. "In a court of law, no singing is allowed..." joked Chief Justice Mogoeng Mogoeng who had just announced Cyril Ramaphosa as the duly elected president of the republic. This was on 15 February 2018 in the National Assembly chamber, Ramaphosa had just been elected the democratic South Africa's fifth president.</p>

	<p>Just over two years earlier in October 2015, the same ANC MPs remained stone faced in their benches as #FeesMustFall students protested outside the gates of Parliament singing an adaptation of the same song with the words to the effect that "I'm weeping, my child, for the time has come". This was at the height of the #FeesMustFall campaign, which saw rolling protests by university students in campuses across the country and which at times became violent leading to arrests of a number of student leaders. Students were demanding "a free, quality and decolonized education". They would later that afternoon push through the gates of Parliament into the precinct demanding to be addressed by Cabinet ministers. Police responded by firing stun grenades and students' screams could be heard as the backdrop to Nhlanhla Nene's mid-term budget policy statement that year.</p>

	<p>Just over two years earlier in October 2015, the same ANC MPs remained stone faced in their benches as #FeesMustFall students protested outside the gates of Parliament singing an adaptation of the same song with the words to the effect that "I'm weeping, my child, for the time has come". This was at the height of the #FeesMustFall campaign, which saw rolling protests by university students in campuses across the country and which at times became violent leading to arrests of a number of student leaders. Students were demanding "a free, quality and decolonized education". They would later that afternoon push through the gates of Parliament into the precinct demanding to be addressed by Cabinet ministers. Police responded by firing stun grenades and students' screams could be heard as the backdrop to Nhlanhla Nene's mid-term budget policy statement that year.</p>

	<p>Violent eruptions were a common feature of the fifth Parliament, so much that the review of the parliamentary rulebook had to be fast-tracked to ensure rules provide for neutralizing disruptive MPs.</p>

	<p>It's impossible to tell the story of the fifth Parliament without telling the story of the Economic Freedom Fighters, the 6% party that arrived in Parliament in May 2014 with 25 MPs in the National Assembly and six in the National Council of Provinces. The party shaped the character of this past term of parliament: combative, no-holds barred and at times crude. In the build-up to the May 2014 general elections, the EFF leaders promised to bring "a revolution" to Parliament even if it came at the expense of rules and conventions, and boy did they rock the place.</p>
    
    <p><img src="images/Andisiwe_01.jpg" width="450" height="284" align="left" class="inline-img"> 
    The EFF also arrived in Parliament with a clear target in Jacob Zuma, the controversial president with numerous clouds hanging over his head, but none as big as the public protector's Secure in Comfort report which found that he had unduly benefited from security upgrades at his private home in Nkandlaz. So when Zuma appeared before the National Assembly for his first quarterly question and answer session on 21 August 2014, the EFF did not only seek to embarrass him but also exposed the National Assembly's shoddiness as it had by all accounts sought to sweep the then five month-old report under the carpet. Despite Public Protector Thuli Madonsela's damning findings and recommendations, the National Assembly, to which Zuma constitutionally answered, absolved him from compliance with Madonsela's remedial action.</p>


	<p>The Q&A session ended abruptly with chants of #paybackthemoney ringing across the chamber after Zuma sought to evade the question as to when he would pay back the money. Not even Speaker Baleka Mbete, then National Chairperson of the ANC and loyal Zuma supporter, could shield the president from the EFF onslaught and for the first time in the democratic era, a session of Parliament had to be suspended indefinitely. The events of that day were indeed a turning point on how Parliament operated and conducted its business. </p>

	<p>The EFF's disruptive and defiant approach to Parliament was imitated on many other platforms inside and outside the national legislature including by Parliament's own striking employees who occupied the national assembly public gallery late 2016 forcing a cancellation of a plenary session.</p>

	<p>It was not always turbulence.</p>

	<p>The fifth Parliament initiated two groundbreaking inquiries, exercises for which the legislature received wide recognition and applause. The first inquiry – an in depth investigation into the affairs of the public broadcaster – was held in 2016, followed by a similar process looking into governance failures at Eskom a year later. An inquiry into the early naturalization of the Gupta family was unfortunately not concluded. </p>
    
    <p>The fifth Parliament initiated two groundbreaking inquiries, exercises for which the legislature received wide recognition and applause. The first inquiry – an in depth investigation into the affairs of the public broadcaster – was held in 2016, followed by a similar process looking into governance failures at Eskom a year later. An inquiry into the early naturalization of the Gupta family was unfortunately not concluded. </p>
    
    <p>The SABC inquiry was hard hitting. It came on the back of many years of governance failures which had an impact not only on the quality of the broadcaster's bottom line but compromised the quality of its core business – news. </p>
    <img src="images/Andisiwe_02.jpg" width="694" height="187"><br><br>
    <p>The parliamentary inquiry also presented the legislature — and to large extent politicians — with an opportunity to be seen to be self-correcting following years of looking the other way as senior officials and politicians destroyed the SABC. The inquiry was an eye-opener on what Parliament oversight could deliver when politicians put aside party and factional interests and focus on the constitutional obligation to hold the executive and state entities to account.</p>
    
    <p>In fact, it was earlier that year that the fifth Parliament encountered its lowest moments when on 31 March 2016, the constitutional court made damning findings against the National Assembly regarding the Nkandla matter.</p>
    
    <p>The court found that the National Assembly had failed to fulfill its constitutional obligations to hold Zuma accountable to ensure the effectiveness, rather than subversion, of the Public Protector's findings and remedial action. The Assembly had instead adopted then Police Minister Nathi Nhleko's report, which concluded among other things that a swimming pool is a security measure called a fire pool.</p>
 
	<p>On the administration side, a lot more questions were asked of this parliament term than any other.
The institution appointed a new administrative boss in December 2014 and he had a knack for the finer things in life at a time when the legislature and the rest of the country were being told to be prudent. Parliament staff also went on an unprecedented five-week strike in 2016, which became violent at times with police clashing and releasing teargas against striking employees inside the precinct.</p>

	<p>A senior official in the institution's international relations unit, Lennox Garane committed what he called "a protest suicide" in September 2018. This may have signalled the darkest day for Parliament. In his suicide note, Garane bemoaned workplace bullying, a topic which resonated with a few employees of the institution.</p>
 
	<p>Ramaphosa's election in February 2018 brought some calm to the national legislature. With the exception of one or two sessions where MPs literally exchanged blows, the plenary sessions have been uneventful. Even the EFF calmed down and surprised many when despite threats to disrupt the February 2019 State of the Nation Address, they didn't.</p>

	<p>Whether the so-called new dawn will bring sense to Parliament still remains to be seen. It would be naive to attribute the few changes seen over the past 18 months to this phenomenon discounting the ANC's own factional score settling.</p>

	<p>The one thing certain going to the sixth Parliament is the intervention yet again of Mogoeng. Parliament's unfinished amendment of the Bill of Rights to provide for expropriation of land without compensation will certainly end up in the constitutional court and it will be no laughing matter.</p>


	<p class="review-author-blurb">Andisiwe Makinana is a long-serving journalist at Parliament and chairperson of the Parliamentary Press Gallery Association</p>
    
    
	<span class="page-sharing">
		Share this page:
		<span class="btn-group" role="group">
	 	 <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  	 <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  	 <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  	 <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
		</span>
    </span>
          
        </div>
      </div>
    </div>
    
 <!-- SIDEBAR -->
    <div class="col-sm-3">
	<h1>&nbsp;</h1>
    <span class="page-sharing">
	Share this page:
	<span class="btn-group" role="group">
	  <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
	</span>
    </span>
    
      <h1 class="review-sidebar-heading"><a href="review-parliament-2019.html">Review of the 5<sup class="lowercase">th</sup> Parliament</a></h1>
     	<div class="sb-articles">
        <h2 class="sb-category-heading">Articles</h2>
        	<div class="sb-inner">
            	<ul>
                	<li><a href="#">This is some kind of long article title</a></li>
                    <li><a href="#">This is some kind of long article title lorem ipsum</a></li>
                    <li><a href="#">This is some kind of long article title</a></li>
                </ul>
            </div>
         </div>
            
        <div class="sb-interviews">
        <h2 class="sb-category-heading">Interviews</h2>
        	<div class="sb-inner">
            	<ul>
                	<li><a href="#">This is some kind of long article title</a></li>
                    <li><a href="#">This is some kind of long article title lorem ipsum</a></li>
                    <li><a href="#">This is some kind of long article title</a></li>
                </ul>
            </div>
         </div>
            
            <div class="sb-stats">
        <h2 class="sb-category-heading">Statistics</h2>
        	<div class="sb-inner">
            	<ul>
                	<li><a href="#">This is some kind of long article title</a></li>
                    <li><a href="#">This is some kind of long article title lorem ipsum</a></li>
                    <li><a href="#">This is some kind of long article title</a></li>
                </ul>
            </div>
         </div>
         
  
		</div>
    </div>
  </div>
</section>


</article>
</div>

<footer class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><h5>PMG</h5></li>
          <li><a href="https://pmg.org.za/page/contact-us">Contact Us</a></li>
          <li><a href="https://pmg.org.za/page/what-is-pmg">About Us</a></li>
          <li><a href="https://pmg.org.za/committee-subscriptions/">Subscription &amp; Access Policy</a></li>
          <li><a href="https://pmg.org.za/email-alerts/">Free Email Alerts</a></li>
          <li><a href="https://pmg.org.za/page/newsletter">PMG MONITOR Newsletter</a></li>
        </ul>

        <form action="https://pmg.org.za/search" method="GET">
          <div class="input-group">
            <input class="form-control" type="text" name="q" placeholder="Search PMG">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Go</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <ul class="list-unstyled">
          <li><h5>Content</h5></li>
          <li><a href="https://pmg.org.za/page/AnnualReports">Annual Reports & Performance Plans</a></li>
          <li><a href="https://pmg.org.za/attendance-overview">Attendance Overview</a></li>
          <li><a href="https://pmg.org.za/bills">Bills and Bill Tracker</a></li>
          <li><a href="https://pmg.org.za/blog">Blog</a></li>
          <li><a href="https://pmg.org.za/page/BRRR">BRRR: Budget Review & Recommendations Reports</a></li>
          <li><a href="https://pmg.org.za/calls-for-comments">Calls for Comments</a></li>
          <li><a href="https://pmg.org.za/committees/">Committees</a></li>
          <li><a href="https://pmg.org.za/daily-schedules/">Daily Schedules</a></li>
          <li><a href="https://pmg.org.za/hansards">Hansards</a></li>
          <li><a href="https://pmg.org.za/page/litigation%20involving%20parliament">Litigation involving Parliament</a></li>
          <li><a href="https://pmg.org.za/members/">Members of Parliament</a></li>
          <li><a href="https://pmg.org.za/briefings">Media Briefings</a></li>
          <li><a href="https://pmg.org.za/policy-documents">Policy Documents</a></li>
          <li><a href="https://pmg.org.za/provincial-legislatures/">Provincial Legislatures</a></li>
          <li><a href="https://pmg.org.za/question_replies">Questions and Replies</a></li>
          <li><a href="https://pmg.org.za/committee-meetings">Recent Committee Meetings</a></li>
          <li><a href="https://pmg.org.za/page/research">Research</a></li>
          <li><a href="https://pmg.org.za/tabled-committee-reports">Tabled Committee Reports</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li><h5>Information</h5></li>
          <li><a href="https://pmg.org.za/page/rules-parliament-guide-procedure">Rules of Parliament</a></li>
          <li><a href="https://pmg.org.za/page/code-of-ethical-conduct">Code of Conduct / MP Disclosure of Interests</a></li>
          <li><a href="https://pmg.org.za/page/political-party-representation">Political Party Representation</a></li>
          <li><a href="https://pmg.org.za/page/legislative-process-government-links">Legislative Process &amp; Government</a></li>
          <li><a href="https://pmg.org.za/page/parliamentary-programme">Parliamentary Programme</a></li>
        </ul>

        <ul class="list-unstyled">
          <li><h5>Links</h5></li>
          <li><a href="https://pmg.org.za/page/links">Useful Links</a></li>
          <li><a href="http://www.pa.org.za">People's Assembly</a></li>
          <li class="pa-link"><a href="http://www.pa.org.za"><img src="https://pmg.org.za/static/resources/images/pa-logo.png" alt="People's Assembly"></a>
        </ul>
      </div>
    </div>
  </div>
</footer>

<footer class="footer footer-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="list-unstyled">
          <li><a href="https://pmg.org.za/page/disclaimer-copyright">Disclaimer & Copyright</a></li>
          <li>Content available under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/za/">Creative Commons Attribution 3.0 South Africa</a> license.</p>
        </ul>

        <ul class="list-unstyled">
          <li>This site is <i class="fa fa-github"></i> <a href="https://github.com/OpenUpSA/pmg-cms-2">open source code</a> built by <a href="https://openup.org.za">OpenUp</a>.</li>
          <li>PMG data is <a href="http://api.pmg.org.za">available through an API</a>.</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <p><a class="btn btn-sm btn-default" title="Follow @PMG_SA on Twitter" href="https://twitter.com/PMG_SA"><i class="fa fa-fw fa-twitter"></i> PMG on Twitter</a></p>

        <p><a class="btn btn-sm btn-default" title="Join PMG on Facebook" href="http://www.facebook.com/pmgsouthafrica"><i class="fa fa-fw fa-facebook"></i> PMG on Facebook</a></p>
        </ul>
      </div>
    </div>
  </div>
</footer>


  </div>

  
  
    <script type="text/javascript" src="https://pmg.org.za/static/javascript/app.e4d22629.js"></script>
  

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10305579-1', 'auto');

  
  

  
  

  
  

  
  


  ga('send', 'pageview');

  
  </script>

  
  </div>
</body>
</html>
