{% extends "base.html" %}

{% block title %}Review of 5th Parliament | PMG{% endblock %}

{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
    

    <article class="page">
	
	<h1 class="review-title">Review of the 5<sup>th</sup> Parliament</h1>

	<nav class="cte-list-nav hidden-xs hidden-sm" id="cte-nav">
	    <ul class="nav nav-tabs cte-tab-nav">
		<li class="active">
		    <a class="tab-switch-nat tab-switch-review" href="#articles" data-toggle="tab">Articles</a>
		</li>
		<li>
		    <a class="tab-switch-ncp tab-switch-review" href="#interviews" data-toggle="tab">Interviews</a>
		</li>
		<li>
		    <a class="tab-switch-jnt tab-switch-review" href="#stats" data-toggle="tab">Statistics</a>
		</li>    
	    </ul>
	</nav>

	<nav class="cte-list-nav-mobile form-group visible-xs visible-sm">
	    <select class="form-control cte-select-tab-nav">
		<option data-toggle="tab" data-target="#articles" value="#articles">Articles</option>
		<option data-toggle="tab" data-target="#interviews" value="#interviews">Interviews</option>
		<option data-toggle="tab" data-target="#stats" value="#stats">Statistics</option>         
	    </select>
	</nav>

	<div class="tab-content cte-list lunr-dict">
	    
	    <!-- Articles div - Hannah -->
	    <div class="active tab-pane row nat cte-items review-tabs" id="articles">
		
		<!-- 1st ROW -->
      		<div class="row">
        	    <a href="{{ url_for('article_review',article='andisiwe' ) }}">
        		<div class="col-md-5ths col-xs-6 col-review purple">
            		    <div class="thumb-title">
            			<p>Observing Parliament: my reflections<br>
                		    <span class="thumb-author">Andisiwe Makinana</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review blue">
           		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review dblue">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review dgreen">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review green">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <!-- </div>
			 
			 <!-- 2nd ROW 
       			 <div class="row"> -->
        	    <a href="#">
        		<div class="col-md-5ths col-xs-6 col-review yellow">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review red">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review purple">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review blue">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		    
		    <a href="#">
			<div class="col-md-5ths col-xs-6 col-review dblue">
            		    <div class="thumb-title">
            			<p>This is a Title<br>
                		    <span class="thumb-author">Author Name</span></p>
			    </div>
			</div>
		    </a>
		</div>
		
		<!-- 3rd ROW -->
		
		
	    </div>
	    
	    
	    <!-- MP Interviews div - Hannah -->
	    <div class="tab-pane row ncp cte-items" id="interviews">
		
     		
		
	    </div>
	    
	    <!-- Statistics div - Hannah -->
	    <div class="tab-pane row jnt cte-items" id="stats">
		
		STATISTICS GO HERE
		
	    </div>
	    
	</div>

    </article>
</div>
{% endblock %}
