{% extends 'admin/model/list.html' %}

{% macro render_title(model, column) %}
    <div style="min-width: 150px;"><strong>{{ model[column]}}</strong></div>
{% endmacro %}

{% macro render_json(model, column) %}
    <div style="max-width: 400px; word-wrap: break-word;">
        {{ model[column] | json | safe }}
    </div>
{% endmacro %}

{% macro render_html(model, column) %}
    <div style="min-width: 650px;">{{ model[column] | safe }}</div>
{% endmacro %}

{% macro render_date(model, column) %}
    {{ model[column] | convert_timestamp | safe }}
{% endmacro %}