{% extends 'admin/model/list.html' %}

{% macro render_html(model, column) %}
{{ model[column] }}
{% endmacro %}

{% macro render_raw_html(model, column) %}
{% if model[column] %}
{{ model[column] | truncate(400, True) }}
{% endif %}
{% endmacro %}

{% macro render_profile_pic(model, column) %}
<img style="max-width: 200px;" src="{{ model[column] }}" />
{% endmacro %}

{% macro render_membership_count(model, column) %}
<span class="badge{% if not model[column] | length %} alert-danger{% else %} alert-info{% endif %}">{{ model[column] | length }}</span>
{% endmacro %}