{% extends 'admin/model/list.html' %}
{% block head_css %}
{{ super() }}
<style>

</style>
{% endblock head_css%}


{% macro render_html(model, column) %}
{{ model[column] }}
{% endmacro %}

{% macro render_raw_html(model, column) %}
{% if model[column] %}
{{ model[column] | truncate(400, True) }}
{% endif %}
{% endmacro %}

{% macro render_profile_pic(model, column) %}
<img style="max-width: 100px;" src="{{ model[column] }}" />
{% endmacro %}

{% macro render_membership_count(model, column) %}
<span class="badge{% if not model[column] | length %} alert-danger{% else %} alert-info{% endif %}">{{ model[column] | length }}</span>
{% endmacro %}

{% macro render_committee_membership(model, column) %}
{% if model[column] %}
{% for membership in model[column] %}
<a href="{{ url_for('committee.edit_view', id=membership.organisation.id) }}">
<span class="label alert-info">
  {% if membership.organisation.name | length > 45 -%}
    {{ membership.organisation.name[0:45] }}...
  {% else -%}
    {{ membership.organisation.name }}
  {% endif %}
  </span>
</a>
{% if not loop.last %}<br>{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro file_type_icon(file_type) %}
{%- if file_type == "application/pdf" -%}
<i class="fa fa-file-pdf-o"></i>
{%- elif file_type == "application/msword" -%}
<i class="fa fa-file-word-o"></i>
{%- elif "audio" in file_type -%}
<i class="fa fa-file-audio-o"></i>
{%- elif "powerpoint" in file_type -%}
<i class="fa fa-file-powerpoint-o"></i>
{%- else -%}
<i class="fa fa-file-o"></i>
{%- endif -%}
{% endmacro %}

{% macro render_event_content(model, column) %}
{% for item in model[column] %}
{% if item.type == "committee-meeting-report" %}
<span class="label alert-success"><i class="fa fa-file-text-o"></i> Meeting Report</span>
{% else %}
{% if item.file_path %}<a href="{{ STATIC_HOST }}{{ item.file_path }}">{% endif %}
<span class="label alert-info">
  {{ file_type_icon(item.type) }} {% if item.title | length > 55 %}{{ item.title[0:55] }}...{% else %}{{ item.title }}{% endif %}
  </span>
{% if item.file_path %}</a>{% endif %}
{% endif %}
{% if not loop.last %}<br>{% endif %}
{% endfor %}
{% endmacro %}