{% extends 'admin/model/list.html' %}

{% macro render_html(model, column) %}
{{ model[column] }}
{% endmacro %}

{% macro render_raw_html(model, column) %}
{% if model[column] %}
{{ model[column] | truncate(400, True) }}
{% endif %}
{% endmacro %}

{% macro render_profile_pic(model, column) %}
<img style="max-width: 100px;" src="{{ model[column] }}" />
{% endmacro %}

{% macro render_membership_count(model, column) %}
<span class="badge{% if not model[column] | length %} alert-danger{% else %} alert-info{% endif %}">{{ model[column] | length }}</span>
{% endmacro %}

{% macro render_committee_membership(model, column) %}
{% if model[column] %}
{% for membership in model[column] %}
<a href="{{ url_for('committee.edit_view', id=membership.organisation.id) }}">
<span class="label alert-info">
  {% if membership.organisation.name | length > 45 -%}
    {{ membership.organisation.name[0:45] }}...
  {% else -%}
    {{ membership.organisation.name }}
  {% endif %}
  </span>
</a>
{% if not loop.last %}<br>{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}