{% extends "base.html" %}

{% block title %}Petitions | PMG{% endblock %}

{% block page %}

<div class="row">
<div class="col petitions-title">
  <h1>
  <i class="fa fa-file-text-o"></i> Petitions
</h1>
</div>
</div>

<div class="petitions-tiles">
    <div class="row">
        
        <div class="col-sm-6">
            <a class="thumbnail" href="/petitions/current/">
                <div class="caption">
                    <h3>Current Petitions</h3>
                    <p>A complete list of all current petitions</p>
                    <div class="text-right">
                        <div class="btn btn-primary btn-sm"><i class="fa fa-chevron-right"></i> View current petitions</div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6">
            <a class="thumbnail" href="/petitions/all/">
                <div class="caption">
                    <h3>All Petitions</h3>
                    <p>A complete list of all tabled petitions</p>
                    <div class="text-right">
                        <div class="btn btn-primary btn-sm"><i class="fa fa-chevron-right"></i> View all petitions</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a class="thumbnail" href="/page/petitions-explained">
                <div class="caption">
                    <h3>Petitions Explained</h3>
                    <p>Learn more about the petitions process in Parliament</p>
                    <div class="text-right">
                        <div class="btn btn-primary btn-sm"><i class="fa fa-chevron-right"></i> Read more</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    

   
</div>

{% endblock page %}
