{% extends "base.html" %}

{% block title %}
  Petitions | PMG
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('petitions') }}">Petitions</a></li>
</ol>
{% endblock %}

{% block page %}
<div class="row">
<div class="col petitions-title">
  <h1>
  <i class="fa fa-file-text-o"></i> Petitions
</h1>
</div>
</div>



{% if not results %}
<p><i>There are no petitions to show.</i></p>
{% endif %}


<div class="petitions-list-page">

  {% if not results %}
  <p><i>There are no petitions to show.</i></p>
  {% endif %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 40%">Title</th>
        <th>Issue</th>
        <th style="width: 15%">Date</th>
        <th style="width: 10%">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for petition in results %}
      <tr>
        <td>
          <strong><a href="{{ url_for('petition_detail', petition_id=petition.id) }}">{{ petition.title }}</a></strong>
        </td>
        <td>{{ petition.issue }}</td>
        <td>{{ petition.date.strftime("%d %B %Y") if petition.date else '' }}</td>
        <td><div class="petition-badge">{{petition.status.name|capitalize}}</div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  
  {% if num_pages > 1 %}
  <nav>
    <ul class="pagination">
      {% for n in range(num_pages) %}
        <li class="{% if page == n %}active{% endif %}">
          <a href="{{ url }}{% if n %}/{{ n }}{% endif %}">{{ n+1 }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

</div>



{% endblock page %}
