{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="/petitions">Petitions</a></li>
</ol>
{% endblock %}

{% block page %}
<h1>
  <i class="fa fa-icon fa-file-text-o"></i>
  Petitions
  {% if year %}
  from {{ year }}
  {% endif %}
</h1>

<div class="space-bottom">
  <div class="row">
    {% if year_list %}
      <div class="col-sm-8">
        <div class="btn-group">
          {% for i in year_list %}
          <a href="/petitions/all/?year={{ i }}{% if selected_house and selected_house != 'all' %}&house={{ selected_house }}{% endif %}" role="button" class="btn btn-default{% if year == i|string %} active{% endif %}">{{ i }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    
    <div class="col-sm-4">
      <form id="house-filter-form" method="get">
        {% if year %}
        <input type="hidden" name="year" value="{{ year }}">
        {% endif %}
        <div class="form-group">
          <label for="house-filter" class="sr-only">House</label>
          <select id="house-filter" name="house" class="form-control">
            <option value="all" {% if not selected_house or selected_house == 'all' %}selected{% endif %}>All Houses</option>
            {% for house in houses %}
            <option value="{{ house.name }}" {% if selected_house == house.name %}selected{% endif %}>{{ house.name }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Auto-submit form when house filter changes
  document.getElementById('house-filter').addEventListener('change', function() {
    document.getElementById('house-filter-form').submit();
  });
</script>

{% if not results %}
<p><i>
  {% if year %}
  There are no petitions to show for the year {{ year }}.
  {% else %}
  There are no petitions to show.
  {% endif %}
</i></p>
{% endif %}

<table class="table table-condensed table-hover table-striped content-list">
  {% for result in results %}
    <tr>
      <td>{% include 'petitions/petition_stub.html' %}</td>
    </tr>
  {% endfor %}
</table>

{% endblock page %}

