{% set filtered_committee = [] %}
{% set filtered_data_type = [] %}

{% for committee in committees %}
  {% if filters.committee|int == committee.id|int %}
    {% if filtered_committee.append(committee) %}{% endif %}
  {% endif %}
{% endfor %}

{% for data_type, name in search_types %}
  {% if filters.type == data_type %}
    {% if filtered_data_type.append(name) %}{% endif %}
  {% endif %}
{% endfor %}

<div class="row search-summary">
  <div class="col-sm-8">
    <h2 class="search-q">"{{ q }}"</h2>
    {% if filtered_data_type %}
      <p>in <b>{{ filtered_data_type[0] }}</b></p>
    {% endif %}

    {% if filtered_committee %}
      <p>for <b>{{ filtered_committee[0].name }}</b></p>
    {% endif %}

    <h5>{{ search.hits }} matches</h5>

  </div>
  {% if current_user.is_authenticated() %}
    <div class="col-sm-4">
      <div class="email-alert-box create-alert {% if saved_search %} hidden {% endif %}">
        <p>
          <a class="btn btn-info" type="button" data-q="{{ q }}" data-type="{{ filters.type }}" data-committee="{{ filters.committee }}">Create alert</a>
        </p>
          Get free email alerts when we add new information that match these search terms.
      </div>

      <div class="email-alert-box remove-alert {% if not saved_search %} hidden {% endif %}">
        <p>
          <a class="btn btn-warning" type="button" data-id="{{ saved_search.id }}">Remove alert</a>
        </p>
          You are subscribed to <b>"{{ q }}"</b>
          {% if filtered_data_type %}
          <br>
          in <b>{{ filtered_data_type[0] }}</b>
          {% endif %}
          {% if filtered_committee %}
          <br>
          for <b>{{ filtered_committee[0].name }}</b>
          {% endif %}

      </div>
    </div>
  {% else %}
    <div class="col-sm-4">
      <div class="email-alert-box create-alert-anon">
        <p>
          <a class="btn btn-default disabled" type="button" data-q="{{ q }}" data-type="{{ filters.type }}" data-committee="{{ filters.committee }}">Create alert</a>
        </p>
          <a href="{{ url_for('security.login', next=request.full_path) }}">Log in</a> or <a href="{{ url_for('security.register', next=request.full_path) }}"> create an account </a> to get free email alerts when we add new information that match these search terms.
      </div>
    </div>
  {% endif %}
</div>
