<div class="col-xs-6">
  {% if user_follows_committees %}
  <h3>Committees you follow</h3>
  {% else %}
  <h3>Popular committees</h3>
  {% endif %}
  <ul class="followed-committees">
  {% for committee in user_following %}
    {% if user_follows_committees %}
    <li class="committee item" data-id="{{ committee.id }}" data-following="true" data-follow-list="true">
      <form class="cte-follow-committee" action="{{ url_for('user_unfollow_committee', committee_id=committee.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="next" value="{{ request.url }}">
        <input type="checkbox" checked />
        <label>
          <a href="{{ url_for('committee_detail', committee_id=committee.id) }}" class="name">{{ committee.name }}</a>
          {% if committee.premium %}
          <span class="premium exclude"><i class="fa fa-key"></i> <a href="{{ url_for('committee_subscriptions') }}">Premium</a></span>
          {% endif %}
        </label>
      </form>
    </li>
    {% else %}
    <li class="committee item">
      <a href="{{ url_for('committee_detail', committee_id=committee.id) }}" class="name">{{ committee.name }}</a>
      {% if committee.premium %}
      <span class="premium exclude"><i class="fa fa-key"></i> <a href="{{ url_for('committee_subscriptions') }}">Premium</a></span>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="col-xs-6">
  {% if user_follows_committees %}
  <h3>Latest meetings of your committees</h3>
  {% else %}
  <h3>Recent meetings of popular committees</h3>
  {% endif %}
  <ul class="recent-meetings">
    {% for meeting in recent_meetings %}
    <li data-id="{{ meeting.committee_id }}" data-follow-list="true">
      <a href="{{ url_for('committee_meeting', event_id=meeting.id, via='cte-menu') }}">{{ meeting.title }}</a><small> | <a href="{{ url_for('committee_detail', committee_id=meeting.committee.id, via='cte-menu') }}">{{ meeting.committee.name }}</a> | {{ meeting.date | pretty_date }}</small>
    </li>
    {% endfor %}
  </ul>
</div>
