<footer class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><h5>PMG</h5></li>
          <li><a href="/page/contact-us">Contact Us</a></li>
          <li><a href="/page/what-is-pmg">About Us</a></li>
          <li><a href="{{ url_for('committee_subscriptions') }}">Subscription &amp; Access Policy</a></li>
          <li><a href="{{ url_for('email_alerts') }}">Free Email Alerts</a></li>
        </ul>

        <form action="/search" method="GET">
          <div class="input-group">
            <input class="form-control" type="text" name="q" placeholder="Search PMG">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Go</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <ul class="list-unstyled">
          <li><h5>Content</h5></li>
          <li><a href="/page/AnnualReports">Annual Reports & Performance Plans</a></li>
          <li><a href="/attendance-overview">Attendance Overview</a></li>
          <li><a href="/bills">Bills and Bill Tracker</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/page/BRRR">BRRR: Budget Review & Recommendations Reports</a></li>
          <li><a href="/calls-for-comments">Calls for Comments</a></li>
          <li><a href="/committees/">Committees</a></li>
          <li><a href="/page/National%20Assembly%20Programming%20Committee">NAPC Minutes</a></li>
          <li><a href="{{ url_for('daily_schedules') }}">Daily Schedules</a></li>
          <li><a href="/hansards">Hansards</a></li>
	  <li><a href="{{url_for('page', pagename='LegacyReports')}}">Legacy Reports</a></li>
          <li><a href="/page/litigation%20involving%20parliament">Litigation involving Parliament</a></li>
          <li><a href="/members/">Members of Parliament</a></li>
          <li><a href="/page/Register%20of%20Members">Register of Members' Interests</a></li>
          <li><a href="/briefings">Media Briefings</a></li>
          <li><a href="/policy-documents">Policy Documents</a></li>
          <li><a href="{{ url_for('provincial_legislatures_list') }}">Provincial Legislatures</a></li>
          <li><a href="/question_replies">Questions and Replies</a></li>
          <li><a href="/committee-meetings">Recent Committee Meetings</a></li>
          <li><a href="/page/research">Research</a></li>
          <li><a href="/tabled-committee-reports">Tabled Committee Reports</a></li>
          <li><a href="https://pmg25.pmg.org.za">25 Years of PMG</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li><h5>Information</h5></li>
          <li><a href="/page/rules-parliament-guide-procedure">Rules of Parliament</a></li>
          <li><a href="/page/code-of-ethical-conduct">Code of Conduct / MP Disclosure of Interests</a></li>
          <li><a href="/page/political-party-representation">Political Party Representation</a></li>
          <li><a href="/page/legislative-process-government-links">Legislative Process &amp; Government</a></li>
          <li><a href="/page/parliamentary-programme">Parliamentary Programme</a></li>
        </ul>

        <ul class="list-unstyled">
          <li><h5>Links</h5></li>
          <li><a href="/page/links">Useful Links</a></li>
          <li><a href="http://www.pa.org.za">People's Assembly</a></li>
          <li class="pa-link"><a href="http://www.pa.org.za"><img src="/static/resources/images/pa-logo.png" alt="People's Assembly"></a>
        </ul>
      </div>
    </div>
  </div>
</footer>

<footer class="footer footer-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="list-unstyled">
          <li><a href="/page/disclaimer-copyright">Disclaimer & Copyright</a></li>
          <li>Content available under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/za/">Creative Commons Attribution 3.0 South Africa</a> license.</p>
        </ul>

        <ul class="list-unstyled">
          <li>This site is <i class="fa fa-github"></i> <a href="https://github.com/OpenUpSA/pmg-cms-2">open source code</a> built by <a href="https://openup.org.za">OpenUp</a>.</li>
          <li>PMG data is <a href="http://api.pmg.org.za">available through an API</a>.</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <p><a class="btn btn-sm btn-default" title="Follow @PMG_SA on Twitter" href="https://twitter.com/PMG_SA"><i class="fa fa-fw fa-twitter"></i> PMG on Twitter</a></p>

        <p><a class="btn btn-sm btn-default" title="Join PMG on Facebook" href="http://www.facebook.com/pmgsouthafrica"><i class="fa fa-fw fa-facebook"></i> PMG on Facebook</a></p>
        </ul>
      </div>
    </div>
  </div>
</footer>
