<nav class="navbar navbar-default navbar-pmg" role="navigation">
  <div class="container">
    <div class="row">

      <div class="col-xs-9 col-sm-6 col-md-4 clearfix">
        <a class="navbar-brand" href="/">
          <img id="logo" src="/static/resources/images/logo-small.png" alt="Parliamentary Monitoring Group" class="img-responsive">
          </a>
      </div>

      <div class="col-xs-3 visible-xs clearfix" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>

      <div class="col-xs-12 visible-xs">
        <div class="collapse navbar-collapse" id="mobile-navbar-collapse">
          <div class="nav navbar-nav">
            <div class="menu-container hidden-xs top-links-mobile">
              {% include "_top_links.html" %}
            </div>
            <ul class="nav navbar-nav">
              <li class="visible-xs"><a href="/committees/">Committees and Meetings</a></li>
              <li class="visible-xs"><a href="/members">MPs</a></li>
              <li class="visible-xs"><a href="/bills">Bills</a></li>
              <li class="visible-xs"><a href="/question_replies">Questions and Replies</a></li>
              <li class="visible-xs"><a href="/calls-for-comments">Calls for Comments</a></li>
              <li><a href="/attendance-overview">Attendance</a></li>
              <li><a href="https://www.pa.org.za/blog/category/week-parliament">Blog <img class="pa-favicon" src="/static/resources/images/pa-favicon.png"></a></li>
            </ul>
          </div>
          <hr>
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated() %}
              <li class="account">
                <i class="fa fa-user"></i><b> {{ current_user.email }} </b>
              </li>
              <hr>
              {% if admin_edit_url %}
                {% for role in current_user.roles %}
                  {% if role.name == 'editor' %}
                  <li>
                    <a href="{{ admin_edit_url }}">
                      <i class="fa fa-pencil"></i> Edit Page
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% include "_user_links.html" %}
            {% else %}
              <li>
                <a href="{{ url_for('security.register', next=request.path) }}">Create an account</a>
              </li>
              <li>
                <a href="{{ url_for('security.login', next=request.path) }}">Log In</a>
              </li>
          {% endif %}
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs pull-right">
        <ul class="nav navbar-nav pull-right">
          {% if current_user.is_authenticated() %}
            {% if admin_edit_url %}
              {% for role in current_user.roles %}
                {% if role.name == 'editor' %}
                <a class="btn navbar-btn btn-primary btn-sm" href="{{ admin_edit_url }}">
                  <i class="fa fa-pencil"></i> Edit Page
                </a>
                {% endif %}
              {% endfor %}
            {% endif %}
            <button type="button" class="btn navbar-btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i> {{ current_user.email }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              {% include "_user_links.html" %}
            </ul>
          {% else %}
            <a href="{{ url_for('security.register', next=request.path) }}" class="btn btn-primary navbar-btn btn-sm">
              Create an account
            </a>
            <a href="{{ url_for('security.login', next=request.path) }}" class="btn btn-primary navbar-btn btn-sm">
              Log In
            </a>
          {% endif %}
        </ul>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-5">
        <form class="navbar-form search-form" role="search" action="/search">
          <div class="input-group">
            {% if request.endpoint == 'index' %}
            <input name="via" type="hidden" value="homepage-s-top">
            {% endif %}
            <input type="text" class="form-control" name="q" placeholder="What are you looking for?" value="{{q}}">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
            </span>
          </div>
        </form>
      </div>


    </div>
  </div><!-- /.container -->
</nav>

{% block top_links %}
<nav class="top-links hidden-xs">
  <div class="container">
    {% include "_top_links.html" %}
  </div>
</nav>
{% endblock %}

<div class="free-pre-2016">
  <div class="container">
    <i class="fa fa-fw fa-unlock-alt" aria-hidden="true"></i> <a href="/committee-subscriptions#freepremium">Premium content from before 2016 is now available for everyone!</a>
  </div>
</div>
