{% from 'macros/attachments.html' import related_attachments %}

<div class="committee-question-detail">
  <h4>
    {{ question.start_date | pretty_date("long") }} -
    <a href="/question_reply/{{ question.id }}">Questions asked to Minister of {{ question.title }}</a>
  </h4>

  <div class="media">
    <div class="media-left">
        <div class="media-object"></div>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
      </h4>

      <div class="row">
        <div class="col-xs-5">
          {% if question.answer and hide_replies %}
          <button class="btn btn-default" data-toggle="collapse" data-target="#commitee-question-reply-{{ question.id}}">Show reply</button>
          {% endif %}
        </div>

        <div class="col-xs-7 text-right">
          <ul class="list-inline">
            {% if question.source_file %}
            <li><i class="fa fa-fw fa-file-text-o"></i> <a href="{{ question.source_file.url }}" target="_blank">Source</a></li>
            {% endif %}

            <li><i class="fa fa-fw fa-link"></i> <a href="{{ url_for('committee_question', question_id=question.id) }}">Link</a></li>
          </ul>
        </div>
      </div>

      {% if question.answer %}
        <div class="committee-question-reply {% if hide_replies %}collapse{% endif %}" id="commitee-question-reply-{{ question.id}}">
          <h4>Reply:</h4>

          {% if question.files %}
          <div class="col-sm-4 col-xs-12 pull-right">
            {{ related_attachments(question.files) }}
          </div>
          {% endif %}

          {{ question.answer|safe }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
