<div class="btn-group" role="group">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://pmg.org.za{{ request.path }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-fw fa-facebook"></i></a>
  <a href="https://twitter.com/home?status=https://pmg.org.za{{ request.path }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-fw fa-twitter"></i></button>
  <a href="https://plus.google.com/share?url=https://pmg.org.za{{ request.path }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://pmg.org.za{{ request.path }}&title={{ request.path }}&summary={{ request.path }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a>
</div>