<div class="menu-container hidden-xs top-links">
  {% include "_top_links.html" %}
</div>

<ul>
  <li class="hidden-sm hidden-md hidden-lg"><a href="/committees/">Committees</a></li>
  <li class="hidden-sm hidden-md hidden-lg"><a href="/members">MPs</a></li>
  <li class="hidden-sm hidden-md hidden-lg"><a href="/bills">Bills</a></li>
  <li class="hidden-sm hidden-md hidden-lg"><a href="/question_replies">Questions and Replies</a></li>
  <li class="hidden-sm hidden-md hidden-lg"><a href="/calls-for-comments">Calls for Comments</a></li>
</ul>
