<div class="menu">
  <ul class="list-inline">
    <li>
      <a class="committees-menulink menu-item" href="/committees/">Committees and Meetings</a>
      <ul class="hidden-xs megamenu" style="display: none">
	{% include '_megamenu.html' %}
      </ul>
    </li>
    <li><a class="menu-item" href="/members">MPs</a></li>
    <li><a class="menu-item" href="/bills">Bills</a></li>
    <li><a class="menu-item" href="/question_replies">Questions and Replies</a></li>
    <li><a class="menu-item" href="/calls-for-comments">Calls for Comments</a></li>
  </ul>
</div>
