<div class="menu">
  <ul>
		<li>
      <a class="committees-menulink" href="/committees/">Committees</a>
			  <ul class="hidden-xs megamenu">
          <div class="row">
            {% if not current_user.is_authenticated() or (current_user.is_authenticated() and user_following | length == 0) %}
            <div class="col-xs-6 mm-committees hidden">
            {% else %}
            <div class="col-xs-6 mm-committees">
            {% endif %}
              <h3 class="megamenu-h3">Committees you follow</h3>
              <ul class="mm-committees-list">
  			    		{% for committee in user_following %}
  			    		<li data-id="{{ committee.id }}" data-follow-list="true">
                  <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>{% if committee.premium %} <span class="premium"><i class="fa fa-key"></i> Premium</span>{% endif %}
  				    	</li>
              {% endfor %}
  				    </ul>
            </div>
            {% if not current_user.is_authenticated() or (current_user.is_authenticated() and user_following | length == 0) %}
            <div class="col-xs-6 mm-recent-meetings hidden">
            {% else %}
            <div class="col-xs-6 mm-recent-meetings">
            {% endif %}
              <h3 class="megamenu-h3">Latest meetings</h3>
              <ul class="mm-recent-meetings-list">
                {% for meeting in recent_meetings %}
                <li data-id="{{ meeting.committee_id }}" data-follow-list="true">
                  <p>
                    <a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">{{ meeting.title }}</a><small>{{ meeting.date | pretty_date }}</small>
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% if not current_user.is_authenticated() or (current_user.is_authenticated() and user_following | length == 0) %}
            <div class="col-xs-6 mm-default-committees">
            {% else %}
            <div class="col-xs-6 mm-default-committees hidden">
            {% endif %}
              <h3 class="megamenu-h3">Committees to follow</h3>
              <ul class="mm-default-committees-list">
              {% for committee in default_committees %}
              <li>
                <p>
                  <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                </p>
                <p>
                  <small>{{ committee.date | pretty_date }}</small>
                </p>
              </li>
              {% endfor %}
              </ul>
            </div>
            {% if not current_user.is_authenticated() or (current_user.is_authenticated() and recent_meetings | length == 0) %}
            <div class="col-xs-6 mm-default-meetings">
            {% else %}
            <div class="col-xs-6 mm-default-meetings hidden">
            {% endif %}
              <h3 class="megamenu-h3">Recent meetings</h3>
              <ul class="mm-default-meetings-list">
              {% for meeting in default_meetings %}
                <li>
                  <p>
                    <a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">{{ meeting.title }}</a>
                  </p>
                  <p>
                    <small>{{ meeting.date | pretty_date }}</small>
                  </p>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <h4>
            <a class="btn btn-primary" href="/committees"><i class="fa fa-fw fa-list" aria-hidden="true"></i> Manage the committees you follow</a>
          </h4>
			  </ul>
		</li>
		<li><a href="/members">MPs</a></li>
		<li><a href="/bills">Bills</a></li>
		<li><a href="/question_replies">Questions and Replies</a></li>
		<li><a href="/calls-for-comments">Calls for Comments</a></li>
	</ul>
</div>
