<li><a href="{{ url_for('security.change_password') }}">Change password</a></li>
<li><a href="{{ url_for('committee_subscriptions') }}">Committee subscriptions</a></li>
<li><a href="{{ url_for('email_alerts') }}">Email alerts</a></li>
{% for role in current_user.roles %}
  {% if role.name == 'editor' %}
    <li class="divider"></li>
    <li><a href="{{ url_for('admin.index') }}">Admin interface</a></li>
  {% endif %}
{% endfor %}
<li class="divider"></li>
<li><a href="{{ url_for('security.logout') }}">Log Out</a>
