{% extends "base.html" %}

{% block title %}Committee Meeting Attendance Overview | PMG{% endblock %}

{% block page %}
<section class="committee-attendance-overview">
    <h1><i class="fa fa-fw fa-table" aria-hidden="true"></i> Committee meeting attendance trends for {{ year }}</h1>
    
  <p>This page shows the attendance rates of the committees in the <a href="#national-assembly">National Assembly</a> and the <a href="#ncop">National Council of Provinces</a> in {{year}}. The attendance rate is automatically updated as committees meet and attendance is recorded.</p>
  <p>You can click on a committee name to get more information; historical attendance rates as well as membership details can be found in the right sidebar of every committee page. It's also possible to download the raw data to do your own calculations and analysis.</p>
  <p>For MP and Minister attendance rates we'd like to refer you to <a href="https://www.pa.org.za/mp-attendance/">People's Assembly</a>.</p>
  <a class="btn btn-sm btn-success" href="https://api.pmg.org.za/committee-meeting-attendance/data.xlsx">Download data</a>
  <a class="btn btn-sm btn-info" href="{{ url_for('archived_attendance_overview')}}">Historical Attendance</a>

  <h2 id="national-assembly">National Assembly</h2>
  {% if not attendance_na %}
  <h4>Data for current parliament is not avaliable yet.</h4>
  {% else %}
  <table class="table table-hover sortable">
                              <thead>
                                  <th class="th-rank"></th>
                                  <th class="th-cte-name">Committee</th>
                                  <th class="th-number-meetings hidden-xs" data-firstsort="desc">Meetings</th>
                                  <th class="th-attendance" data-defaultsort="desc">Attendance</th>
      </thead>
                              {% for item in attendance_na %}
                              <tr id="{{ item.committee_id }}">
                                  <td class="rank">#{{ loop.index }}</td>
                                  <td class="cte-name"><a href="{{ url_for('committee_detail', committee_id=item.committee_id) }}">{{ item.committee }}</a></td>
                                  <td class="number-meetings hidden-xs">{{ item.n_meetings }}</td>
                                  <td class="attendance" data-value="{{ item.avg_attendance }}">
                                      <div class="progress">
                                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ item.avg_attendance }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.avg_attendance }}%;">
                                              {{ item.avg_attendance|round|int }}%
                  </div>
              </div>
          </td>
      </tr>
                              {% endfor %}
      </table>
  {% endif %}

  <h2 id="ncop">National Council of Provinces</h2>
  {% if not attendance_ncop %}
  <h4>Data for current parliament is not avaliable yet.</h4>
  {% else %}
  <table class="table table-hover sortable">
      <thead>
          <th class="th-rank"></th>
          <th class="th-cte-name">Committee</th>
          <th class="th-number-meetings hidden-xs">Meetings</th>
          <th class="th-attendance" data-defaultsort="desc">Attendance</th>
      </thead>
      {% for item in attendance_ncop %}
      <tr id="{{ item.committee_id }}">
          <td class="rank">#{{ loop.index }}</td>
          <td class="cte-name"><a href="{{ url_for('committee_detail', committee_id=item.committee_id) }}">{{ item.committee }}</a></td>
          <td class="number-meetings hidden-xs">{{ item.n_meetings }}</td>
          <td class="attendance" data-value="{{ item.avg_attendance }}">
              <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ item.avg_attendance }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.avg_attendance }}%;">
      {{ item.avg_attendance|round|int }}%
  </div>
              </div>
  </td>
      </tr>
      {% endfor %}
  </table>
  {% endif %}
</section>

{% endblock %}
