{% extends "base.html" %}

{% block title %}Committee Meeting Attendance Overview | PMG{% endblock %}

{% block page %}
<section class="committee-attendance-overview">
  <div class="container">
    <h1>2017 attendance stats</h1>
    <table class="table table-hover sortable">
      <thead>
        <th>Rank</th>
        <th>Committee</th>
        <th>Number of meetings</th>
        <th data-defaultsort="desc">Attendance</th>
        <th>Since 2016</th>
      </thead>
      {% for item in attendance %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.committee }}</td>
        <td>{{ item.n_meetings }}</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ item.avg_attendance|int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.avg_attendance }}%;">
              {{ item.avg_attendance|int }}%
            </div>
          </div>
        </td>
        <td class="attendance-change" data-value="{{ item.change|int }}">
          <div class="value" style="
            {% if item.change < 0 %}right: calc(50% + {{ item.change|abs }}% + 3px){% endif %}
            {% if item.change >= 0 %}left: calc(50% + {{ item.change|abs }}% + 3px){% endif %}
          ">
            {% if item.change > 0 %}+{% endif %}{{ item.change|int }}%
          </div>
          <div class="centre-line"></div>
          <div class="bar" style="
            background-color: {% if item.change < 0 %}#d9534f{% endif %};
            float:{% if item.change < 0 %}right{% endif %};
            width: {% if item.change > 0 %}calc(1px + {{ item.change|abs }}%){% else %}{{ item.change|abs }}%{% endif %};
            margin-{% if item.change < 0 %}right{% else %}left{% endif %}: 50%;
            border-radius: {% if item.change < 0 %}4px 0 0 4px{% else %}0 4px 4px 0{% endif %}
            ">
          </div>
        </td>
      </tr>
      {% endfor %}
    </table> 
    
  </div>

</section>


{% endblock %}
