{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}
    {% set title = result._source.title %}
  {% endif %}
  {% set code = result._source.code %}
  {% set id = result._id %}
  {% else %}
  {% set title = result.title|escape %}
  {% set code = result.code %}
  {% set id = result.id %}
  {% set date = result.date_of_introduction | pretty_date %}
{% endif %}

<div class="bill-stub">
  <div class="row">
    <div class="col-xs-6 col-md-8">
      <h4><a href="{{ url_for('bill', bill_id=id) }}">{{ title|safe }}</a></h4>
      <h5>
        <span class="type">Bill |</span>
        {% if code %}
        <span class="code">{{ code }}</span>
        {% endif %}
        {% if date %}
        <span class="date">| {{ date }}</span>
        {% endif %}
      </h5>
    </div>
    {% if ('pmb' in request.path) or ('current' in request.path) or ('tabled' in request.path) %}
    <div class="col-xs-3 col-md-2">
	{% if 'Private Member Bill' in result.type.name %}
	<span class="label label-info">{{result.type.name}}</span>
	{% elif result.introduced_by %}
	{% if 'Committee' in result.introduced_by %}
	<span class="label label-default">Committee Bill</span>
	{% endif %}
	{% else %}
	{% endif %}
    </div>
    {% endif %}
    <div class="col-xs-3 col-md-2">
      {% if result.status %}
        {% if status_dict[result.status.name] %}
        <span class="label {{ status_dict[result.status.name][1] }}">{{ status_dict[result.status.name][0] }}</span>
        {% else %}
        <span class="label label-default">{{ result.status.name }}</span>
        {% endif %}
      {% elif result.type and result.type.name == 'Draft' %}
        <span class="label label-default">draft</span>
      {% endif %}
    </div>
  </div>

  {% if result.highlight %}
  <p>
  {% if result.highlight.attachments_exact %}
    {{ result.highlight.attachments_exact|search_snippet|ellipse|safe }}
  {% elif result.highlight.attachments %}
    {{ result.highlight.attachments|search_snippet|ellipse|safe }}
  {% endif %}
  </p>
  {% endif %}
</div>
