{% extends "base.html" %}

{% block title %}Blog | PMG{% endblock %}

{% block page %}

<section class="blog-page">
  <div class="row">
    <div class="col-sm-8 post-list">
      {% include '_social_sharing.html' %}
      <h1>Blog</h1>
      {% if 'year' in filters or 'month' in filters %}
      <h4>Showing posts from: 
        <span class="current-filter">{{filters['month']}} {{filters['year']}}
          <a href="/blog"><i class="fa fa-fw fa-times" aria-hidden="true"></i></a>
        </span>
      </h4>
      {% endif %}
      {% for post in posts %}
      <a href="/blog/{{ post.slug }}">
        <div class="single-post">
          <div class="preview-image">
		  	  {% set preview_image = post.get_preview_image() %}
              {% if preview_image %}
                <img src="{{ preview_image.url }}" alt="{{ preview_image.title }}" />
              {% else %}
                <img src="/static/resources/images/pmg-placeholder.png" />
              {% endif %}
          </div>
          <div class="single-post-text">
            <div class="date">{{ post.date.strftime('%d %B %Y') }}</div>
            <h3 class="title">{{ post.title }}</h3>
            <div class="preview">
              {{ post.body | striptags | truncate }}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="col-sm-4 blog-info">
      {% include '_blog_archive.html' %}
    </div>
  </div>
</section>

{% include 'pagination.html' %}

{% endblock %}
