{% extends "base.html" %}

{% block title %}Blog | PMG{% endblock %}

{% block page %}

<section class="">
  <div class="row">
    <div class="col-sm-8">
      <div class="">
        <h3 class="title">{{ post.title }}</h3>
        <div class="date">{{ post.date.strftime('%d-%m-%Y') }}</div>
        <div class="">
          {{ post.body | safe }}
        </div>
      </div>
    </div>
    {% for image in attachments %}
    <div>
      <a href="{{ image.url }}" target="_blank"><img src="{{ image.url }}" alt="{{ image.title }}" /></a>
    </div>
    {% endfor %}
    <div class="col-sm-4">
      <h1>&nbsp;</h1>
      <div class="sidebar">
        <a href="https://pa.org.za"><img src="/static/resources/images/pa-logo.png" alt="People's Assembly"></a></a>
        <p>"This week in Parliament" is a series of blog posts in which the important Parliamentary events of the week are discussed.</p>
        <p>This page contains the 10 latest posts of this blog, written by <a href="https://pa.org.za">People's Assembly</a>. You can read older articles <a href="#">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
