{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments %}

{% block title %}Media Briefings | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('briefings') }}">Media Briefings</a></li>
</ol>
{% endblock %}

{% block page %}
  <h1>{{ event.title }}</h1>
  <h4 class="light-red">Briefing</h4>

  <h5>{{ event.date|pretty_date }}</h5>

  <div class="row">
    <div class="col-sm-8">
      {% if (event.summary) %}
        <div class="summary">{{ event.summary|safe }}</div>
      {% endif %}

      {% if (event.body) %}
        <h3>Minutes</h3>
        <div>{{ event.body|safe }}</div>
      {% endif %}

    </div>

    <div class="col-sm-4">
      {{ audio_attachments(SOUNDCLOUD_APP_KEY_ID, audio) }}
      {{ related_attachments(related_docs) }}
    </div>

  </div>

{% include "_correct_this_page.html" %}

{% endblock %}
