{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}  
    {% set title = result._source.title %}
  {% endif %}
  {% set date = result._source.date %}
  {% set id = result._id %}
{% else %}
  {% set title = result.title %}
  {% set date = result.date %}
  {% set id = result.id %}
{% endif %}
<div class="briefing-stub">
  <div class="row">
    <div class="col-sm-10 col-xs-8">
      <span class="label label-primary">Media Briefing</span>
      <a href="/briefing/{{ id }}">{{ title|safe }}</a>
    </div>
    <div class="col-sm-2 col-xs-4">{{ date|pretty_date }}</div>
  </div>

  {% if result.highlight %}
  {% if result.highlight.description %}
  <div>
    {{ result.highlight.description|search_snippet|ellipse|safe }}
  </div>
  {% elif result.highlight.fulltext %}
  <div>
    {{ result.highlight.fulltext|search_snippet|ellipse|safe }}
  </div>
  {% endif %}
  {% endif %}
</div>
