{% extends "base.html" %}

{% block title %}{{ call_for_comment.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if call_for_comment.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=call_for_comment.committee.id) }}">{{ call_for_comment.committee.name }}</a></li>
  <li>Calls for Comments</li>
  {% else %}
  <li><a href="{{ url_for('calls_for_comments') }}">Calls for Comments</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-md-9">
      <h1><i class="fa fa-comments"></i> {{ call_for_comment.title }}</h1>
      {% if call_for_comment.start_date %}
        Call for comments opened {{ call_for_comment.start_date|pretty_date("long") }}
      {% endif %}
      
      {% if call_for_comment.end_date %}
        <h3 class="deadline">Submissions must be received by no later than {{ call_for_comment.closed }} <strong>{{ call_for_comment.end_date|pretty_date("long") }}</strong></h3>
        {% if closed %}
          <h3 class="deadline">Submissions are now closed <small>(since {{ closed }})</small></h3>
        {% endif %}
      {% endif %}
      {% if call_for_comment.committee %}
        <h2><a href="/committee/{{call_for_comment.committee.id}}">{{ call_for_comment.committee.name }}</a></h2>
      {% endif %}
    </div>

    <div class="col-md-3">
      {% if call_for_comment.committee %}
      {% set committee = call_for_comment.committee %}
      {% include 'user_management/_committee_alerts_signup.html' %}
      {% endif %}
    </div>
  </div>

  {{ call_for_comment.body|safe }}

{% include "_correct_this_page.html" %}
{% endblock %}
