{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}
    {% set title = result._source.title %}
  {% endif %}
  {% set date = result._source.date %}
  {% set id = result._id %}
  {% if  result._source.committee_id %}
    {% set committee_id = result._source.committee_id %}
  {% endif %}
  {% if  result._source.committee_name %}
    {% set committee_name = result._source.committee_name %}
  {% endif %}
  {% set house = result._source.house_name %}
{% else %}
  {% set title = result.title %}
  {% set date = result.start_date %}
  {% set enddate = result.end_date %}
  {% set closed = result.closed %}
  {% set id = result.id %}
  {% if result.committee %}
    {% set committee_name = result.committee.name %}
    {% set committee_id = result.committee.id %}
    {% set house = result.committee.house.name %}
  {% endif %}
{% endif %}
<div class="call-for-comment-stub {% if enddate %}{% if closed %}closed{% else %}open{% endif %}{% endif %}">
  <div class="card-content">
    <h3 class="card-title">{{ title|safe }}</h3>
    <div class="date">{{ date|pretty_date }} - {% if enddate %}<strong>{{ enddate|pretty_date }}</strong>{% else %}Closing date unknown{% endif %}</div>
    {% if committee_name %}
    <div class="committee-name">{{ committee_name }}</div>
    <div class="house">{{ house }}</div>
    {% endif %}
  </div>
  <div class="card-footer">
    {% if enddate %}
      <a class="card-footer-item {% if closed %}closed{% else %}open{% endif %}" href="/call-for-comment/{{ id }}">
        {% if closed %}
        Closed
        {% else %}
        Open
        {% endif %}
      </a>
    {% endif %}
    <a class="card-footer-item" href="/call-for-comment/{{ id }}">More</a>
  </div>
  {% if result.highlight %}
  <p>
  {% if result.highlight.description %}
    {{ result.highlight.description|search_snippet|ellipse|safe }}
  {% elif result.highlight.fulltext %}
    {{ result.highlight.fulltext|search_snippet|ellipse|safe }}
  {% endif %}
  </p>
  {% endif %}
</div>