{% extends "committee_layout.html" %}
{% from 'macros/attachments.html' import attachments_panel %}

{% block title %}Questions to {{ committee.name }} | PMG{% endblock %}


{% block committee_breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('question_replies', **{'filter[committee]': committee.id}) }}">Committee Questions</a></li>
{% endblock %}


{% block committee_title %}
  {{ super() }}
  <h1>Questions to the Minister</h1>
  <p>
    <a href="{{ url_for('question_replies', **{'filter[committee]': committee.id}) }}">← More questions to the Minister</a>
  </p>
{% endblock %}


{% block committee_page %}

  <div class="row">
    <div class="col-sm-9">
      <h5>{{ question_reply.start_date }}</h5>

      {{ question_reply.body|safe }}
    </div>

    <div class="col-sm-3">
      {% if question_reply.files %}
        {{ attachments_panel("Documents", question_reply.files, 'fa-file-pdf-o') }}
      {% endif %}
    </div>
  </div>

{% endblock %}
