{% extends "base.html" %}

{% block title %}Parliamentary Committees | PMG{% endblock %}

{% block page %}
  <h1><i class="fa fa-icon fa-group"></i> Parliamentary Committees</h1>

  <nav class="committee-nav" id="committee-nav">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active" data-toggle="tab">
          <a href="#na">National Assembly committees</a>
      </li>
      <li role="presentation" data-toggle="tab">
        <a href="#ncp">National Council of Provinces committees</a>
      </li>
      <li role="presentation" data-toggle="tab">
        <a href="#joint">Joint committees</a>
      </li>
      <li role="presentation" data-toggle="tab">
        <a href="#adhoc">Ad-hoc committees</a>
      </li>
    </ul>
  </nav>

  <div class="committee-search row">
    <div class="col-md-4 col-xs-12">
      <p>
        <strong>Committee name</strong>
      </p>
      <div class="search-box form-group" id="committee-search">
        <i class="fa fa-search"></i>
        <input class="form-control" placeholder="Find a committee" name="cmt-search" />
      </div>
    </div>
  </div>

  <div class="row tab-content committees-list">
    <div class="col-xs-12 tab-pane active row" id="na">
        {% for column in reg_committees.nat|slice(2) %}
        <div class="col-xs-6">
          <ul>
            {% for committee in column %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-12 tab-pane row" id="ncp">
        {% for column in reg_committees.ncp|slice(2) %}
        <div class="col-xs-6">
          <ul>
            {% for committee in column %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-12 tab-pane row" id="joint">
        {% for column in reg_committees.nat|slice(2) %}
        <div class="col-xs-6">
          <ul>
            {% for committee in column %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-12 tab-pane adhoc" id="adhoc">
      <div class="row">
        <div class="col-md-4">
          <h3>National Assembly</h3>
          <ul>
            {% for committee in adhoc_committees.nat %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3>National Council of Provinces</h3>
          <ul>
            {% for committee in adhoc_committees.ncp %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Joint Committees</h3>
          <ul>
            {% for committee in adhoc_committees.jnt %}
              <li>
                <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
                {% if committee.premium %}
                  <span class="premium"><i class="fa fa-star"></i> <span class="text">Premium</span></span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock page %}
