{% extends "base.html" %}
{% from 'macros/members.html' import member_badge %}

{% block title %}Question to the {{ minister.name }} - {{ question.code }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('question_replies') }}">Questions and Replies</a></li>
  {% if committee.id != 0 %}
  <li><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></li>
  {% endif %}
  <li><a href="{{ url_for('question_replies', **{'filter[minister]': minister.id}) }}">{{ minister.name }}</a></li>
</ol>
{% endblock %}

{% block page %}
<div class="row">
  <div class="col-md-10">
    <h1>Question {{ question.code }} to the {{ minister.name }}</h1>
    <div class="clearfix">
      {% include "_social_sharing.html" %}
    </div>

    {% include '_committee_question_detail.html' with context %}

    {% include "_correct_this_page.html" %}
  </div>
</div>
{% endblock %}
