{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}  
    {% set title = result._source.title %}
  {% endif %}
  {% if  result._source.committee_id %}
    {% set committee_id = result._source.committee_id %}
  {% endif %}
  {% if  result._source.committee_name %}
    {% set committee_name = result._source.committee_name %}
  {% endif %}
  {% set date = result._source.date %}
  {% set id = result._id %}
  {% set house = result._source.house %}
{% else %}
  {% set title = result.title %}
  {% set date = result.date %}
  {% set id = result.id %}
  {% if result.committee %}
    {% set committee_name = result.committee.name %}
    {% set committee_id = result.committee.id %}
  {% endif %}
{% endif %}
<div class="committee-stub space-bottom-sm">
  <div>
    <span class="label label-primary">Committee Meeting</span>
    {% if committee_name %}
    <span class="label label-info"><a href="/committee/{{committee_id}}">{{ committee_name }}</a></span>
    {% endif %} 
    {% if result.committee %}
      <span class="label label-warning">{{ result.committee.house.name }}</span>
    {% endif %}
    {{ date|pretty_date }} ({{ date|human_date }})
  </div>
  <div>
    <a href="/committee-meeting/{{ id }}">{{ title|safe }}</a>
  </div>
  {% if result.highlight %}
  {% if result.highlight.description %}
  <div>
    {{ result.highlight.description|search_snippet|ellipse|safe }}
  </div>
  {% elif result.highlight.fulltext %}
  <div>
    {{ result.highlight.fulltext|search_snippet|ellipse|safe }}
  </div>
  {% endif %}
  {% endif %}
</div>
