{% extends "committee_layout.html" %}
{% from 'macros/members.html' import member_badge %}

{% block committee_title %}
  <div class="row">
      {% if not committee.premium %}
      <h1 class="col-xs-12">{{ committee.name }}</h1>
      {% else %}
      <h1 class="col-xs-8">{{ committee.name }}</h1>
      <h1 class="premium col-xs-4 text-right">Premium <i class="fa fa-star"></i></h1>
      {% endif %}
  </div>
  <h4 class="light-red">{{ committee.house.name }} Committee</h4>
{% endblock %}

{% block committee_page %}
  {% include '_committee_meeting_summary.html' with context %}
  {% if committee.about %}
    <h3 class="collapse-link"><span class="fa fa-caret-right"></span> <a href="#">About this committee</a></h3>
    <div class="collapse">
      {{ committee.about|safe }}
    </div>
  {% endif %}

  {% if not no_meetings %}
  <div class="cte-detail-lower">
    <nav class="cte-meetings-nav hidden-xs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-target="#cm" data-toggle="tab">Committee meetings</a></li>
        {% if committee.calls_for_comments %}
        <li><a data-target="#cc" data-toggle="tab">Calls for comment</a></li>
        {% endif %}
        {% if committee.tabled_committee_reports %}
        <li><a data-target="#tr" data-toggle="tab">Tabled reports</a></li>
        {% endif %}
        {% if recent_questions %}
        <li><a data-target="#qr" data-toggle="tab">Questions/replies</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="tab-content">
      <nav class="cte-meetings-nav-mobile visible-xs hidden-sm">
        <div class="form-group">
          <select class="form-control">
            <option data-target="#cm" data-toggle="tab" value="#cm">Committee meetings</option>
            {% if committee.calls_for_comments %}
            <option data-target="#cc" data-toggle="tab" value="#cc">Calls for comment</option>
            {% endif %}
            {% if committee.tabled_committee_reports %}
            <option data-target="#tr" data-toggle="tab" value="#tr">Tabled reports</option>
            {% endif %}
            {% if recent_questions %}
            <option data-target="#qr" data-toggle="tab" value="#qr">Questions/replies</option>
            {% endif %}
          </select>
        </div>
      </nav>
      <div class="tab-pane fade in active" id="cm">
        <div class="cte-meetings-filter-outer hidden-xs">
          <div class="btn-group cte-meetings-filter-inner">
            <button type="button" class="btn btn-default active" data-filter="six-months">Last 6 months</button>
            <button type="button" class="btn btn-default" data-filter="{{ current_year }}">This year</button>
            {% for year in range(2012,current_year) | reverse %}
              <button type="button" class="btn btn-default" data-filter="{{ year }}">{{ year }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="cte-meetings-filter-mobile visible-xs hidden-sm">
          <div class="form-group btn-block">
            <select class="form-control">
              <option data-filter="six-months" value="six-months">Last 6 months</option>
              <option data-filter="{{ current_year }}" value="{{ current_year }}">This year</option>
              {% for year in range(2012,current_year) | reverse %}
                <option data-filter="{{ year }}" value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="cte-meetings-list">
          {% for filter, meetings in filtered_meetings.iteritems() %}
            {% if filter == "six-months" %}
            <table class="table table-striped" id="m-{{ filter }}">
            {% else %}
            <table class="table table-striped" style="display:none;" id="m-{{ filter }}">
            {% endif %}
              {% for meeting in meetings %}
                <tr data-date="{{ meeting.date | pretty_date }}">
                  <td><nobr>{{ meeting.date | pretty_date }}</nobr></td>
                  {% if meeting.id %}
                    <td><a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">{{ meeting.title }}</a></td>
                  {% else %}
                    <td>{{ meeting.title }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      </div>
      {% if committee.tabled_committee_reports %}
      <div class="tab-pane fade in cte-meetings-tab-rep" id="tr">
          <table class="table table-striped">
            {% for item in committee.tabled_committee_reports[0:5] %}
            <tr>
              <td><a href="{{ url_for('tabled_committee_report', tabled_committee_report_id=item.id) }}">{{ item.title }}</a></td>
            </tr>
            {% endfor %}
          </table>

          {% if committee.tabled_committee_reports|length > 5 %}
            <a href="{{ url_for('tabled_committee_reports', **{'filter[committee]': committee.id}) }}" class="btn btn-primary">More</a>
          {% endif %}
      </div>
      {% endif %}
      {% if committee.calls_for_comments %}
      <div class="tab-pane fade in cte-meetings-call-com" id="cc">
        <table class="table table-striped">
          {% for item in committee.calls_for_comments[0:5] %}
            <tr><td>
              <div class="row">
                <div class="col-xs-4">{{ item.start_date|pretty_date }}</div>
                <div class="col-xs-8"><a href="{{ url_for('call_for_comment', call_for_comment_id=item.id) }}">{{ item.title }}</a></div>
              </div>
            </td></tr>
          {% endfor %}
        </table>

        {% if committee.calls_for_comments|length > 5 %}
          <a href="/calls-for-comments/?filter[committee]={{ committee.id }}" class="btn btn-primary">More</a>
        {% endif %}
      </div>
      {% endif %}
      {% if recent_questions %}
      <div class="tab-pane fade in cte-meetings-qst-rep" id="qr">
        <table class="table table-striped">
          {% for item in recent_questions %}
            <tr><td>
              <div class="row">
                <div class="col-xs-4">{{ (item.start_date or item.date)|pretty_date }}</div>
                <div class="col-xs-8">
                  {# handle QuestionReply and CommitteeQuestion objects differently #}
                  {% if item.date %}
                  <a href="{{ url_for('committee_question', question_id=item.id) }}">{{ item.asked_by_name }}</a>
                  {% else %}
                  <a href="{{ url_for('question_reply', question_reply_id=item.id) }}">{{ item.title }}</a>
                  {% endif %}
                </div>
              </div>
            </td></tr>
          {% endfor %}
        </table>
        <a href="{{ url_for('question_replies', **{'filter[committee]': committee.id}) }}" class="btn btn-primary">More</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %} <!-- /Reports -->
{% endblock %}

{% block committee_page_sidebar %}
  <h3><span class="fa fa-group"></span> Members</h3>
  {% if committee.memberships %}
    {% set break = 0.5 * committee.memberships | length %}
    {% set break = break | int %}
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-unstyled list-spaced">

          {% for membership in committee.memberships %}
            {% set member = membership.member %}
            {% if membership.type == 'chairperson'%}
              <li class="clearfix">{{ member_badge(member, chairperson=True) }}</li>
              <hr>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled list-spaced">
          {% for membership in committee.memberships[0:break] %}
            {% set member = membership.member %}
            {% if not membership.type or membership.type != 'chairperson'%}
              <li class="clearfix">{{ member_badge(member) }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled list-spaced">
          {% for membership in committee.memberships[break::] %}
            {% set member = membership.member %}
            {% if not membership.type or membership.type != 'chairperson'%}
              <li class="clearfix">{{ member_badge(member) }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <p class="lead">We don't have membership info for this committee.</p>
  {% endif %}

  {% if committee.contact_details %}
    <h3><span class="fa fa-envelope"></span> Contact</h3>
    {{ committee.contact_details|safe }}
  {% endif %}
  <!-- /Members -->
{% endblock %}
