{% extends "committee_layout.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments, related_bills %}

{% block title %}{{ event.title }} | PMG{% endblock %}

{% block committee_breadcrumb %}
  {{ super() }}
  <li><a href="{{ url_for('committee_meetings') }}">Committee Meetings</a></li>
{% endblock %}


{% block committee_title %}
  <h1>{{ event.title }}</h1>
  <h4><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></h4>

  {% if event.date %}
    <h5 class="date">{{ event.date | pretty_date("long") }}</h5>
  {% endif %}

  {% if event.chairperson %}
    <h5>Chairperson: {{ event.chairperson }}</h5>
  {% endif %}
{% endblock %}


{% block committee_page %}
  {% if event.premium_content_excluded %}
    <p class="lead">
    Access to this committee meeting report and those for the committees below is restricted. All other committees are freely accessible.
    </p>

    <p>The following users are exempt from a subscription fee. Please log in using an email address that identifies your affiliation to one of these:</p>

    <ul>
      <li>Non-government and community-based organisations</li>
      <li>Public education institutions</li>
    </ul>

    <p>Email <a href="mailto:info@pmg.org.za">info@pmg.org.za</a> if you cannot get in and you belong to one of the above.</p>

    <p>Business, government and other users need to subscribe to access meeting reports of these 15 National Assembly committees. <a href="{{ url_for('committee_subscriptions')}} ">Find out more about subscribing</a>.</p>

    {% include '_premium_committees.html' %}

  {% else %}

    <div class="row committee-meeting-content">
      <div class="col-sm-8">

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#summary" data-toggle="tab">Meeting summary</a></li>
          <li role="presentation"><a href="#minutes" data-toggle="tab">Full minutes</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="summary">
            {% if event.summary %}
              {{ event.summary | safe }}
            {% else %}
              <p><em>A summary of this committee meeting is not yet available.</em></p>
            {% endif %}
          </div>

          <div role="tabpanel" class="tab-pane" id="minutes">
            {% if event.body %}
              {{ event.body | safe }}
            {% else %}
              <p><em>Minutes for this committee meeting are not yet available.</em></p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        {# temporary hacks to embed soundcloud links #}
        {% if event.id == 10724 %}
        <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216939294&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=true&amp;show_playcount=true"></iframe>

        {% elif event.id == 13370 %}
        <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/217590058&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=true&amp;show_playcount=true"></iframe>

        {% else %}
        {{ audio_attachments(audio) }}
        {% endif %}

        {{ related_attachments(related_docs) }}

        {% if event.bills %}
          {{ related_bills(event.bills) }}
        {% endif %}

        {% if event.body %}
        {# show this only if there is an event body, otherwise it looks like it shows up twice. #}
        <div class="text-right hidden-xs">
          <button class="btn btn-default block-xs" data-toggle="modal" data-target="#correct-this-page-modal">Correct this page</button>
        </div>
        {% endif %}
      </div>

    </div>

  {% endif %}

{% endblock %}

