{% extends "committee_layout.html" %}
{% from 'macros/members.html' import member_badge %}

{% block committee_title %}
  <div class="row">
      {% if not committee.premium %}
      <h1 class="col-xs-12 committee-name">{{ committee.name }}</h1>
      {% else %}
      <h1 class="col-xs-12 col-sm-8 committee-name">{{ committee.name }}</h1>
      <div class="premium col-xs-12 col-sm-4 text-sm-right"><i class="fa fa-key"></i> <a href="{{ url_for('committee_subscriptions') }}">Premium</a></div>
      {% endif %}
  </div>
  <h4 class="light-red">{{ committee.house.name }} Committee</h4>
{% endblock %}

{% block committee_page %}
  {% if committee.about %}
    <h3 class="collapse-link cte-about-link"><span class="fa fa-caret-right"></span> <a href="#">About this committee</a></h3>
    <div class="collapse">
      {{ committee.about|safe }}
    </div>
  {% endif %}

  <div class="cte-dtl-meetings">
    <nav class="cte-dtl-meetings-nav visible-md-block visible-lg-block">
      <ul class="nav nav-tabs cte-tab-nav">
        <li class="active"><a href="#cm" data-toggle="tab">Committee meetings</a></li>
        <li><a href="#cc" data-toggle="tab">Calls for comment</a></li>
        <li><a href="#tr" data-toggle="tab">Tabled reports</a></li>
        <li><a href="#qr" data-toggle="tab">Questions and replies</a></li>
      </ul>
    </nav>
    <div class="tab-content">
      <nav class="cte-dtl-meetings-nav-mobile visible-xs-block visible-sm-block">
        <div class="form-group">
          <select class="form-control cte-select-tab-nav">
            <option data-target="#cm" data-toggle="tab" value="#cm">Committee meetings</option>
            <option data-target="#cc" data-toggle="tab" value="#cc">Calls for comment</option>
            <option data-target="#tr" data-toggle="tab" value="#tr">Tabled reports</option>
            <option data-target="#qr" data-toggle="tab" value="#qr">Questions and replies</option>
          </select>
        </div>
      </nav>
      <div class="tab-pane fade in active" id="cm">
        {% if has_meetings %}
        <div class="row">
          <div class="cte-dtl-meetings-search col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <div class="form-group btn-block">
              <input class="form-control" placeholder="Search for a meeting" />
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="cte-dtl-meetings-filter col-xs-12 col-sm-6">
            <div class="form-group btn-block">
              <select class="form-control">
                {% if filtered_meetings['six-months'] | length > 0 %}
                <option data-filter="six-months" value="six-months">Last 6 months</option>
                {% endif %}
                {% if filtered_meetings[current_year] | length > 0 %}
                <option data-filter="{{ current_year }}" value="{{ current_year }}">This year</option>
                {% endif %}
                {% for year in range(earliest_year,current_year) | reverse %}
                  {% if filtered_meetings[year] | length > 0 %}
                  <option data-filter="{{ year }}" value="{{ year }}">{{ year }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="cte-dtl-meetings-search-results">
          <h3 class="no-results">No results.</h3>
          <table class="table table-striped results-list">
          </table>
        </div>
      <div class="cte-dtl-meetings-list lunr-dict">
        {% for filter, meetings in filtered_meetings.iteritems() %}
          {% if filter == starting_filter %}
          <table class="table table-striped" id="m-{{ filter }}">
          {% else %}
          <table class="table table-striped" style="display:none;" id="m-{{ filter }}">
          {% endif %}
            {% for meeting in meetings %}
              {% if filter == 'six-months' %}
              <tr class="item exclude" data-id="{{ filter }}-{{ loop.index }}">
              {% else %}
              <tr class="item" data-id="{{ filter }}-{{ loop.index }}">
              {% endif %}
                <td class="date"><nobr>{{ meeting.date | pretty_date }}</nobr></td>
                {% if meeting.id %}
                  <td class="name"><a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">{{ meeting.title }}</a></td>
                {% else %}
                  <td>{{ meeting.title }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      </div>
      {% else %}
      <p>
        There are no meetings for this committee.
      </p>
      {% endif %}
    </div>
    <div class="tab-pane fade in cte-dtl-meetings-tab-rep" id="tr">
      {% if committee.tabled_committee_reports %}
        <table class="table table-striped">
          {% for item in committee.tabled_committee_reports %}
          <tr class="item">
            <td class="date"><nobr>{{ item.start_date|pretty_date }}</nobr></td>
            <td class="name"><a href="{{ url_for('tabled_committee_report', tabled_committee_report_id=item.id) }}">{{ item.title }}</a></td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
      <p>
        There are no committee reports at this time.
      </p>
      {% endif %}
    </div>
    <div class="tab-pane fade in cte-dtl-meetings-call-com" id="cc">
      {% if committee.calls_for_comments %}
        <table class="table table-striped">
          {% for item in committee.calls_for_comments %}
            <tr class="item">
              <td class="date"><nobr>{{ item.start_date|pretty_date }}</nobr></td>
              <td class="name"><a href="{{ url_for('call_for_comment', call_for_comment_id=item.id) }}">{{ item.title }}</a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      <p>
        There are no calls for comments at this time.
      </p>
      {% endif %}
    </div>
    <div class="tab-pane fade in cte-dtl-meetings-qst-rep" id="qr">
    {% if recent_questions %}
      <table class="table table-striped">
        {% for item in recent_questions %}
          <tr class="item">
            <td class="date"><nobr>{{ (item.start_date or item.date)|pretty_date }}</nobr></div>
            <td class="name">
              {# handle QuestionReply and CommitteeQuestion objects differently #}
              {% if item.date %}
              <a href="{{ url_for('committee_question', question_id=item.id) }}">{{ item.code }} by {{ item.asked_by_name }}</a>
              {% else %}
              <a href="{{ url_for('question_reply', question_reply_id=item.id) }}">{{ item.title }}</a>
              {% endif %}
          </td></tr>
        {% endfor %}
      </table>
      <p>
        <a href="{{ url_for('question_replies') }}?filter%5Bcommittee%5D={{ committee.id }}" class="btn btn-default">All questions to the Minister</a>
      </p>
      {% else %}
      <p>
        There are no questions at this time.
      </p>
      {% endif %}
      </div>
    </div>
  </div> <!-- /Reports -->
{% endblock %}

{% block committee_page_sidebar %}
  <h3><span class="fa fa-group"></span> Members</h3>
  {% if committee.memberships %}
    {% set break = 0.5 * committee.memberships | length %}
    {% set break = break | int %}
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-unstyled list-spaced">

          {% for membership in committee.memberships %}
            {% set member = membership.member %}
            {% if membership.chairperson %}
              <li class="clearfix">{{ member_badge(member, chairperson=True) }}</li>
              <hr>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled list-spaced">
          {% for membership in committee.memberships[0:break] %}
            {% set member = membership.member %}
            {% if not membership.chairperson %}
              <li class="clearfix">{{ member_badge(member) }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled list-spaced">
          {% for membership in committee.memberships[break::] %}
            {% set member = membership.member %}
            {% if not membership.chairperson %}
              <li class="clearfix">{{ member_badge(member) }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <p class="lead">We don't have membership info for this committee.</p>
  {% endif %}

  {% if committee.contact_details %}
    <h3><span class="fa fa-envelope"></span> Contact</h3>
    {{ committee.contact_details|safe }}
  {% endif %}
  <!-- /Members -->
{% endblock %}
