{% extends "committee_layout.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments, related_bills, related_petitions as petitions_macro %}

{% block title %}{{ event.title }} | PMG{% endblock %}

{% block committee_breadcrumb %}
  {{ super() }}
  {% if committee %}
    <li><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></li>
    {% endif %}
{% endblock %}

{% block javascript %}
  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
  {{ super() }}
{% endblock %}

{% block committee_title %}
  <h1>{{ event.title }}</h1>
  <div class="row">
    <div class="col-sm-7">
      {% if event.premium_but_free %}
        <div class="premium-but-free"><i class="fa fa-fw fa-unlock-alt" aria-hidden="true"></i> This premium content has been made freely available</div>
      {% endif %}
      {% if committee %}
      <h4><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></h4>
      {% endif %}
      {% if event.date %}
        <h5 class="date">{{ event.date | pretty_date("long") }}</h5>
      {% endif %}

      {% if event.chairperson %}
        <h5>Chairperson: {{ event.chairperson }}</h5>
      {% endif %}
    </div>
    <div class="col-sm-5">
      <div class="cte-meeting-share">
        {% include '_social_sharing.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block committee_page %}
  {% if event.premium_content_excluded %}
    <p class="lead">
    Access to this committee meeting report and those for the committees below is restricted. All other committees are freely accessible.
    </p>

    <p>The following users are exempt from a subscription fee. Please log in using an email address that identifies your affiliation to one of these:</p>

    <ul>
      <li>Non-government and community-based organisations</li>
      <li>Public education institutions</li>
    </ul>

    {% if current_user.is_authenticated and not current_user.is_confirmed() %}
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info">
            <h4>Confirm your email address</h4>
            <p>Your subscription will only be active once you confirm your email address.</p>
            <br>
            <p>We sent you an email with a confirmation link when you signed up. If you have not received it, you can <a href="{{ url_for('security.send_confirmation', next=request.full_path) }}">request another confirmation email</a>.</p>
            <br>

            <div class="row">
              <div class="btn">
                <a class="form-control btn btn-primary" href="{{ url_for('security.send_confirmation', next=request.full_path) }}">Resend confirmation email</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    <p>Email <a href="mailto:info@pmg.org.za">info@pmg.org.za</a> if you cannot get in and you belong to one of the above.</p>

    <p>Business, government and other users need to subscribe to access meeting reports of these 13 National Assembly committees. <a href="{{ url_for('committee_subscriptions')}} ">Find out more about subscribing</a>.</p>

    {% include '_premium_committees.html' %}

  {% else %}

    <div class="committee-meeting-content">
      <div class="meeting-summary">
        <h3>Meeting Summary</h3>

        {% if event.summary %}
          {{ event.summary | safe }}
        {% else %}
          <p><em>A summary of this committee meeting is not yet available.</em></p>
        {% endif %}
      </div>
      <div class="full-minutes">
        <h3>Meeting report</h3>

        {% if event.body %}
          {{ event.body | safe }}
        {% else %}
          <p><em>Minutes for this committee meeting are not yet available.</em></p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% if not event.premium_content_excluded %}
  {% block committee_page_sidebar %}
    {{ audio_attachments(SOUNDCLOUD_APP_KEY_ID, audio) }}

    {{ related_attachments(related_docs) }}

    {% if event.bills %}
      {{ related_bills(event.bills) }}
    {% endif %}

    {% if related_petitions %}
      {{ petitions_macro(related_petitions) }}
    {% endif %}

    <div class="panel panel-default attendance">
      <div class="panel-heading">
        <h4 class="panel-title">Present</h4>
      </div>
      <div>
        <ul class="list-unstyled list-spaced mp-list">
          {% if attendance %}
            {% for item in attendance %}
              <li class="clearfix">
                <a href="{{ item.member.pa_url }}"><img class="member-profile-pic" src="{{ item.member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="Profile picture: {{ item.member.name }}"></a>
                <a href="{{ item.member.pa_url }}">{{ item.member.name }}</a>
                {% if item.chairperson == true %}
                  <span class="label label-success">Chairperson</span>
                {% endif %}
                <div class="text-muted">{{ item.member.party.name }}</div>
              </li>
            {% endfor %}
          {% else %}
            <li class="clearfix">
              <span>We don't have attendance info for this committee meeting</span>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="panel panel-default print">
      <div class="panel-heading">
        <h4 class="panel-title">Download as PDF</h4>
      </div>
      <div class="panel-body">
        <p>
          You can download this page as a PDF using your browser's print functionality.
          Click on the "Print" button below and select the "PDF" option under destinations/printers.
        </p>
        <p>
          See detailed instructions for your browser
          <a href="https://www.digitaltrends.com/computing/how-to-save-a-webpage-as-a-pdf/">here</a>.
        </p>
      </div>
    </div>

    {% if event.body %}
    {# show this only if there is an event body, otherwise it looks like it shows up twice. #}
    <div class="text-right hidden-xs">
      <a class="btn btn-default" href="javascript:window.print()"><i class="fa fa-print"></i> Print</a>
      <button class="btn btn-default block-xs" data-toggle="modal" data-target="#correct-this-page-modal">Correct this page</button>
      <br>
      <br>
      <div class="disclaimer-copyright">
        <a href="/page/disclaimer-copyright">Disclaimer & Copyright</a>
      </div>
    </div>
    {% endif %}
  {% endblock %}
{% endif %}
