{% extends "base.html" %}

{% block title %}{{ committee.name }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% block committee_breadcrumb %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></li>
  {% endblock %}
</ol>
{% endblock %}


{% block page %}
  <div class="row">
    <div class="col-sm-8">
      <header class="committee-header">
        {% block committee_title %}
        <h3 class="pull-left">{{ committee.name }}</h3>
        {% if committee.premium %}
        <h3 class="premium pull-right"><i class="fa fa-star"></i> Premium</h3>
        {% endif %}
        {% endblock %}
      </header>
      <div class="committee-page">
        {% block committee_page %}
        {% endblock %}
      </div>
    </div>
    <div class="col-sm-4">
      {% include 'user_management/_committee_alerts_signup.html' %}
      {% block committee_page_sidebar %}
      {% endblock %}
    </div>
  </div>

  {% include "_correct_this_page.html" %}

{% endblock %}
