{% extends "base.html" %}

{% block title %}{{ gazette.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('gazettes') }}">Gazettes</a></li>
</ol>
{% endblock %}

{% block page %}
<h1><i class="fa fa-file-text-o"></i> {{ gazette.title }}</h1>

{% if gazette.end_date %}
<h4>Comment expires on {{ gazette.end_date }}</h4>
{% endif %}

{% if gazette.start_date %}
<h4>{{ gazette.start_date }}</h4>
{% endif %}

{% if gazette.effective_date %}
<h4>Effective Date: {{ gazette.effective_date }}</h4>
{% endif %}

{% if gazette.files %}
<ul class="fa-ul">
  {% for file in gazette.files %}
  <li>
    <a href="{{file.url}}"><i class="fa-li fa fa-file"></i> {{ file.description if file.description else file.origname }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% include "_correct_this_page.html" %}
{% endblock %}
