{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments, related_bills, related_petitions %}

{% block title %}Hansard | {{ event.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('hansards') }}">Hansards</a></li>
</ol>
{% endblock %}

{% block page %}
  <h1><i class="fa fa-archive"></i> Hansard: {{ event.title }}</h1>

  <div class="row">
    <div class="col-sm-8 justify-p">

      <h3>House:
        {% if event.house %}{{ event.house.name }}
        {% else %}
          (unknown)
        {% endif %}
      </h3>

      {% if event.chairperson %}
        <h3>Chairperson: {{ event.chairperson }}</h3>
      {% endif %}

      <h3>
        Date of Meeting:
        {% if event.date %}
          {{ event.date | pretty_date }}
        {% else %}
          (unknown)
        {% endif %}
      </h3>

      <h2>Summary</h2>
      {% if event.summary %}
        {{ event.summary | safe }}
      {% else %}
        <p><em>No summary available.</em></p>
      {% endif %}
      <hr>

      <h2>Minutes</h2>
      {% if event.body %}
        {{ event.body | safe }}
      {% else %}
        <p><em>No minutes available.</em></p>
      {% endif %}
      <hr>
    </div>

    <div class="col-sm-4">
      {{ audio_attachments(SOUNDCLOUD_APP_KEY_ID, audio) }}
      {{ related_attachments(related_docs) }}

      {% if event.bills %}
        {{ related_bills(event.bills) }}
      {% endif %}

      {% if linked_petitions %}
        {{ related_petitions(linked_petitions) }}
      {% endif %}
    </div>

  </div>

{% include "_correct_this_page.html" %}
{% endblock %}
