{% extends "base.html" %}

{% block page %}
  <div class="row">
    <div class="col-md-9"> <!-- Main section -->
      <div class="row">
        {% if featured_content.feature %}
          <div id="news" class="col-md-12">

            <div class="news-pic" style="background-image: url(/static/resources/images/stock/{{stock_pic}})">
              <div class="text-background bottom">
                <h2 class=""><a href="{{ featured_content.feature.link }}">{{ featured_content.feature.title }}</a></h2>

              </div>
              <div class="blurb">
                {{ featured_content.feature.blurb }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3><i class="fa fa-calendar"></i> Parliamentary Schedules</h3>

          <ul class="list-unstyled">
            <li><a href="{{ url_for('daily_schedules') }}">Daily Schedules</a></li>
            <li><a href="/page/parliamentary-programme-2015">2015 Parliamentary Programme</a></li>
          </ul>
        </div>

        <div class="col-md-8" id="committee-meetings"> <!-- Committee meetings -->
          <h3><span class="fa fa-comment"></span> Recent Committee meetings</h3>
          <div class="table-responsive">
          <table class="table table-striped table-bordered">
            {% for committee_meeting in committee_meetings %}
              <tr>
                <td>{{ committee_meeting.date|pretty_date|nbsp|safe }}</td>
                <td><a href="/committee/{{ committee_meeting.committee.id }}">{{ committee_meeting.committee.name }}</a></td>
                <td>
                  <span class="fa fa-headphones"></span> <a href="/committee-meeting/{{ committee_meeting.id }}">{{ committee_meeting.title }}</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          </div>
          <a href="/committee-meetings/" class="btn btn-primary">More Committee Meetings</a>
        </div> <!-- Committee meetings -->
      </div>
    </div> <!-- /Main Section -->

    <div id="sidebar" class="col-md-3">  <!-- Sidebar -->
      <div class="space-bottom">
        <div class="pa-button">
          <a href="http://www.pa.org.za/">
            <img src="/static/resources/images/pa-logo.png">
            <div>Connect with your representatives and find out more about them.</div>
          </a>
        </div>
      </div>

      {% if featured_content.committee_meetings %}
      <div class="space-bottom">
        <h4><span class="fa fa-comment"></span> Featured Content</h4>
        <ul class="list-unstyled list">
          {% for meeting in featured_content.committee_meetings %}
            <li>
              <h5><a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">{{ meeting.date|pretty_date }} - {{ meeting.title }}</a></h5>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <a class="twitter-timeline" href="https://twitter.com/PMG_SA/mps" data-widget-id="298744494742966272">Tweets from @PMG_SA/mps</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div> <!-- /Sidebar -->

  </div>

{% endblock page %}
