{% extends 'layout.html' %}

{% block style %}
{% endblock %}

{% block content %}
{% include "_header.html" %}

<article>

  <header class="home-banner" style="background-image: url(/static/resources/images/stock/{{stock_pic}})">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 banner-content">
          {% if featured_content.features %}
            {% for feature in featured_content.features %}
              <div class="single-feature">
                <a href="{{ feature.link }}">
                  <div class="call-to-action">
                    <h2>{{ feature.title }}</h2>
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="col-lg-3 col-md-4 hidden-xs hidden-sm banner-content banner-cards">
          {% include "_banner_cards.html" %}
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row hidden-md hidden-lg banner-cards">
      <div class="col-xs-12">
        {% include "_banner_cards.html" %}
      </div>
    </div>
  </div>

  <section class="featured-content">
    <div class="container">
      {% include "_messages.html" %}

      {% if featured_content.content %}
        <h3>Featured Content</h3>

        <div class="content-cards feature-cards moreable">
          <div class="row">
            {% for item in featured_content.content %}
            <div class="col-xs-12 col-sm-6 col-md-3">
              {% if item.type == 'committee-meeting' %}
              <a href="{{ url_for('committee_meeting', event_id=item.id, via='homepage-feature-card') }}">
                <div class="card feature-card committee-meeting">
                  <h4>{{ item.committee.name }}</h4>
                  <h4 class="text-muted">{{ item.committee.house }}</h4>
                  <h5>{{ item.title|truncate(100) }}</h5>
                  <h6 class="date">{{ item.date|pretty_date|nbsp|safe }}</h6>
                </div>
              </a>
              {% elif item.type == 'page' %}
              <a href="{{ url_for('page', pagename=item.slug, via='homepage-feature-card') }}">
                <div class="card feature-card page">
                  <h4>{{ item.title|truncate(100) }}</h4>
                  <h5>{{ item.first_para|truncate(100) }}</h5>
                  <h6 class="date">{{ item.date|pretty_date|nbsp|safe }}</h6>
                </div>
              </a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="show-more feature">Show more</div>
      {% endif %}
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://pmg25.pmg.org.za"><img src="/static/resources/images/25-years-banner.jpg"/></a>
        </div>
      </div>
    </div>  
  </section>

  <section class="home-search-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h2>Search the PMG website</h2>

          <form class="search-form" role="search" action="/search" name="middle">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search the PMG website">
              <input name="via" type="hidden" value="homepage-s-middle">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success"> Search PMG</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="home-recent-items">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="subsection committee-meetings">
            <h3>Recent Committee meetings</h3>
            <div class="content-cards moreable">
              <div class="row">
                {% for committee_meeting in committee_meetings %}
                  <div class="col-xs-12 col-sm-6 col-md-4">

                    <a href="{{ url_for('committee_meeting', event_id=committee_meeting.id, via='homepage-card') }}">
                      <div class="card">
                        <h4>{{ committee_meeting.committee.name }}</h4>
                        <h4 class="text-muted">{{ committee_meeting.committee.house.name }}</h4>
                        <h5>{{ committee_meeting.title|truncate(100) }}</h5>
                        <h6>{{ committee_meeting.date|pretty_date|nbsp|safe }}</h6>
                      </div>
                    </a>

                  </div>
                {% endfor %}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ url_for('committee_meetings') }}">
                      <div class="card more">
                        <h2>More committee meetings</h2>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
            <div class="show-more">Show more</div>
          </div>

          <div class="subsection bills">
            <h3>Current Bills</h3>
            <div class="content-cards moreable">
              <div class="row">
                {% for bill in bills %}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ url_for('bill', bill_id=bill.id, via='homepage-card') }}">
                      <div class="card">
                        <h4>{{ bill.title }}</h4>
                        <h5>{{ bill.introduced_by }}</h5>
                        <h6>{{ bill.updated_at|pretty_date|nbsp|safe }}</h6>
                      </div>
                    </a>
                  </div>
                {% endfor %}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ url_for('bills_portal') }}">
                      <div class="card more">
                        <h2>More bills</h2>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
            <div class="show-more">Show more</div>
          </div>


          <div class="subsection questions">
            <h3>Recent Questions and Replies</h3>
            <div class="content-cards moreable">
              <div class="row">
                {% for question in questions %}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ url_for('committee_question', question_id=question.id, via='homepage-card') }}">
                      <div class="card">
                        <h4>Asked to {{ question.question_to_name }}</h4>
                        <h5>{{ question.question|truncate(100) }}</h5>
                        <h6>{{ question.date|pretty_date|nbsp|safe }}</h6>
                      </div>
                    </a>
                  </div>
                {% endfor %}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ url_for('question_replies') }}">
                      <div class="card more">
                        <h2>More questions and replies</h2>
                      </div>
                    </a>
                  </div>

              </div>
            </div>
            <div class="show-more">Show more</div>
          </div>
          <div class="subsection blogs">
            <h3>Recent Blogs</h3>
            <div class="content-cards moreable">
              <div class="row">
                {% for blog in blogs %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="/blog/{{ blog.slug }}">
                    <div class="card">
                      <h4>{{blog.title}}</h4>
                      <h5>{{blog.body|truncate(100)|striptags}}</h5>
                      <h6>{{blog.date|pretty_date|nbsp|safe}}</h6>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="show-more">Show More</div>
          </div>

        </div>
        <div class="col-md-3">
            <div class="hidden-xs">
		<a class="twitter-timeline" data-height="800" href="https://twitter.com/PMG_SA/lists/members-of-parliament?ref_src=twsrc%5Etfw">A Twitter List by PMG_SA</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>


{% include "_footer.html" %}

{% endblock %}
