{% extends 'layout.html' %}

{% block style %}
{% endblock %}

{% block content %}
{% include "_header.html" %}

<article>
  <header class="home-banner" style="background-image: url(/static/resources/images/stock/{{stock_pic}})">
    <div class="container">
      <div class="row">
        <div class="col-md-9 banner-content">
         {% if featured_content.feature %}
          <div class="call-to-action">
            <p>{{ featured_content.feature.title }}</p>
            <a class="btn pull-right" href="{{ featured_content.feature.link }}">View</a>
          </div>
         {% endif %}
        </div>


        <div class="col-md-3 hidden-xs hidden-sm banner-content banner-blocks">
          <div class="banner-block first">
            <ul class="list-unstyled">
              <li><a href="{{ url_for('daily_schedules') }}">Committee Meeting Schedule</a></li>
              <li><a href="/page/parliamentary-programme">Plenary Schedule</a></li>
            </ul>
          </div>
          <div class="banner-block">
            <h3><i class="fa fa-mail"></i> Subscribe to our newsletter</h3>
          </div>
          <div class="banner-block last pa-link">
            <a href="http://www.pa.org.za/">
              <div class="logo pull-left">
                <span class="vertical-align-helper"></span><img class="" src="/static/resources/images/pa-logo.png">
              </div>
              <div class="text">Connect with your representatives and find out more about them.</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="featured-content">
    <div class="container">
      {% include "_messages.html" %}

      {% if featured_content.committee_meetings %}
        <h3>Featured Content</h3>

        <div class="content-cards moreable">
          <div class="row">
            {% for meeting in featured_content.committee_meetings %}
              <div class="col-xs-6 col-md-3">
                <a href="{{ url_for('committee_meeting', event_id=meeting.id) }}">

                  <div class="card feature-card">
                    <h4>{{ meeting.committee.name }}</h4>
                    <h5>{{ meeting.title|truncate(100) }}</h5>
                    <h6 class="date">{{ meeting.date|pretty_date|nbsp|safe }}</h6>
                  </div>

                </a>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="show-more">Show more</div>
      {% endif %}
    </div>
  </section>

  <section class="home-search-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h2>Search the PMG website</h2>

          <form role="search" action="/search">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search the PMG website">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success"> Search PMG</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="home-recent-items">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="subsection">
            <h3><i class="fa fa-institution"></i> Recent Committee meetings</h3>

            <div class="content-cards">
              <div class="row">
                {% for committee_meeting in committee_meetings %}
                  <div class="col-xs-6 col-sm-4">
                    <a href="{{ url_for('committee_meeting', event_id=committee_meeting.id) }}">
                      <div class="card">
                        <h5>{{ committee_meeting.date|pretty_date|nbsp|safe }}</h5>
                        <div class="title">{{ committee_meeting.title|truncate(100) }}</div>
                        <h4>{{ committee_meeting.committee.name }}</h4>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="latest-set">
            <h4><span class="fa fa-file-text-o"></span> Latest Bills</h4>
            <div class="row row-horizon">
             {% for bill in bills %}
              <div class="latest-item col-xs-6 col-sm-4">
                <div class="date">{{ bill.updated_at|pretty_date|nbsp|safe }}</div>
                <h4 class="name">
                  <a href="{{ url_for('bill', bill_id=bill.id) }}">
                    {{ bill.title }}
                  </a>
                </h4>
              </div>
             {% endfor %}
            </div>
          </div>

          <div class="latest-set">
            <h4><span class="fa fa-file-text-o"></span> Questions and Replies</h4>
            <div class="row row-horizon">
             {% for bill in bills %}
              <div class="latest-item col-xs-6 col-sm-4">
                <div class="date">{{ bill.updated_at|pretty_date|nbsp|safe }}</div>
                <h4 class="name">
                  <a href="{{ url_for('bill', bill_id=bill.id) }}">
                    {{ bill.title }}
                  </a>
                </h4>
              </div>
             {% endfor %}
            </div>
          </div>

        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="hidden-xs">
            <a class="twitter-timeline" href="https://twitter.com/PMG_SA/mps" data-widget-id="298744494742966272" data-chrome="noheader">Tweets from @PMG_SA/mps</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>


{% include "_footer.html" %}

{% endblock %}
