<!DOCTYPE html>
<html lang="en">
<head>


  <script>

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    {# write the user's org domain as a GA dimension, see https://support.google.com/analytics/answer/2709828?hl=en #}
    {% if current_user.is_authenticated %}
      {% if current_user.organisation %}
      gtag('set', {'dimension1': '{{ current_user.organisation.domain }}'});
      {% else %}
      gtag('set', {'dimension1': '(none)'});
      {% endif %}
    {% endif %}
  
    {# record content date? #}
    {% if content_date is defined and content_date %}
    gtag('set', {'dimension2': '{{ content_date|pretty_date("ga") }}'});
    {% endif %}
  
    {# link this hit to a committee? #}
    {% if committee is defined and committee.id and committee.name %}
    gtag('set', {'dimension3': '{{ committee.id }} - {{ committee.name }}'});
    {% endif %}
  
    {# track the 'via' parameter? #}
    {% if via_tag %}
    gtag('set', {'dimension4': '{{ via_tag }}'});
    {% endif %}
  
  
    {% for cat, action, label, value in get_ga_events() %}
    gtag('event', '{{ action }}', { 'event_category': '{{ cat }}'
        {%if label -%}
          , '{{ label }}'
          {% if value -%}
            , {{ value }}
          {%endif%}{%endif%} });
    {% endfor %}
    </script>


  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W7T6ZWH7');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>{% block title %}Parliamentary Monitoring Group | South Africa{% endblock %}</title>



  <!--

  DON'T SCRAPE, USE THE API! :)

  Looking for PMG's data? All the content on this site is available
  via an API at https://api.pmg.org.za/

  -->

  <link rel="icon" type="image/png" href="/static/resources/images/favicon.png" />
  {% block head %}{% endblock %}

  {% block stylesheets %}
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% endblock %}
  {% block style %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if social_summary %}{{ social_summary | striptags | truncate }}{% else %}PMG provides information on all South African parliamentary committee proceedings{% endif %}">
  <meta name="keywords" content="Parliament, South Africa, South African Parliament, Hansards, Committee, Politics, Government">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@PMG_SA">
  <meta name="twitter:title" content="{{ self.title() }}">
  <meta name="twitter:description" content="{% if social_summary %}{{ social_summary | striptags | truncate }}{% else %}PMG provides information on all South African parliamentary committee proceedings{% endif %}">
  <meta name="twitter:creator" content="@PMG_SA">
  <meta name="twitter:image" content="{% if social_image %}{{ social_image }}{% else %}https://pmg.org.za/static/resources/images/logo-artwork.png{% endif %}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ self.title() }}" />
  <meta property="og:description" content="{% if social_summary %}{{ social_summary | striptags | truncate }}{% else %}PMG provides information on all South African parliamentary committee proceedings{% endif %}" />
  <meta property="og:image" content="{% if social_image %}{{ social_image }}{% else %}https://pmg.org.za/static/resources/images/logo-artwork.png{% endif %}" />

  {% block head_meta %}{% endblock %}
</head>

<body class="{{ request.endpoint }} {% if current_user.is_authenticated %}logged-in{% else %}not-logged-in{% endif %}">
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7T6ZWH7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  
  <div id="wrapper">
    {% block content %}
    {% endblock content %}
  </div>

  {% block javascript %}
  {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% endblock %}
  </div>
</body>
</html>
