{% extends "base.html" %}

{% block title %}{{ title }} | PMG{% endblock %}

{% block page %}
<h1><i class="fa fa-icon fa-{{ icon }}"></i> {{ title }}</h1>

<div class="space-bottom">
  <div class="row">
    <div class="col-md-6">
      <form action="/search">
        <input type="hidden" name="filter[type]" value="{{content_type}}">
        <div class="input-group">
          <input type="text" name="q" placeholder="Search in {{title}}" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success">Search</button>
          </span>
        </div>
      </form>
    </div>
    {% if committees %}
    <div class="col-md-6">
      <form>
        {% include 'committee_select.html' %}
      </form>
    </div>
    {% endif %}

    {% if content_type == 'hansard' %}
    <div class="col-md-6">
      <a href="{{ url_for('page', pagename='previous-years-programmes') }}">Previous years' parliamentary programmes</a>
    </div>
    {% endif %}
  </div>
</div>

{% if content_type != 'call_for_comment' %}
<ul class="list-unstyled item-list content-list {{content_type}}-list">
  {% for result in results %}
    <li>{% include content_type | replace("-", "_") + '_stub.html' %}</li>
  {% endfor %}
</ul>
{% endif %}

{% if content_type == 'call_for_comment' %}
<div class="open-calls-count hidden">
  <h2>Open calls for comments <small class="open-calls-count">Currently open: <span id="count"></span></small></h2>
</div>
<div class="row item-cards {{content_type}}-row">
  {% for result in results %}
    <div class="col-xs-12 col-sm-6 col-lg-4 col-card">
      <div class="card-wrap">
        {% include content_type | replace("-", "_") + '_stub.html' %}
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% include 'pagination.html' %}

{% endblock page %}
