{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}  
    {% set title = result._source.title %}
  {% endif %}
  {% set link = result._source.url %}
  {% set id = result._id %}
{% else %}
  {% set title = result.name %}
  {% set id = result.id %}
  {% set party = result.party %}
  {% set pic = result.profile_pic_url %}
  {% set link = result.url %}
{% endif %}
<div class="member-stub">
  <h4><a href="{{ link }}">{{ title|safe }}</a></h4>
  <h5>
    <span class="type">Member of Parliament</span>
    {% if party %}
      - {{ party.name }}
    {% endif %}  
  </h5>
</div>
