{% extends "base.html" %}

{% block title %}{{ member.name }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('members') }}">Parliamentary Members</a></li>
</ol>
{% endblock %}

{% block page %}
<h1><i class="fa fa-user"></i> {{ member.name }}</h1>

<div class="row">
  <div class="col-md-1">
    <img src="{{ member.profile_pic_url }}" alt="{{ member.name }}">
  </div>
  <div class="col-md-4">
    {{ member.bio|safe }}
  </div>
</div>

{% include "_correct_this_page.html" %}
{% endblock %}

