{% extends "base.html" %}

{% block title %}Members of Parliament | PMG{% endblock %}

{% block page %}
<div class="row members-of-parliament">
  <div class="col-sm-6">
    <h1><i class="fa fa-icon fa-user"></i> Members of Parliament</h1>

    <form id="member-search-form" action="/search" method="GET">
      <input type="hidden" name="filter[type]" value="member">

      <div class="input-group">
        <input type="text" name="q" placeholder="Search for members" class="form-control" autocomplete="off">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success">Search</button>
        </span>
      </div>
    </form>
  </div>

  <div class="col-sm-6 col-md-4 col-md-offset-2">
    <div class="pa-button">
      <a href="https://www.pa.org.za">
        <img class="center-block" src="/static/resources/images/pa-logo.png" alt="People's Assembly">
      </a>
      <p>Explore parliamentary members, their declared interests and more at <a href="https://www.pa.org.za">PA.org.za</a></p>
    </div>
  </div>
</div>

{% for house, members in members_by_house|dictsort %}
<div class="row mp-list collapsed ">
  <div class="col-xs-12">
    <h2>{{ house }}</h2>
  </div>
  {% for member in members %}
  <div class="col col-sm-6 col-md-4">
    <a class="single-member" href="{{ member|member_url }}">
      <div class="row">
        <div class="col-xs-2">
          <div class="photo">
            <img class="member-profile-pic" src="{{ member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ member.name }}">
          </div>
        </div>
        <div class="col-xs-10">
          <h3 class="name">{{ member.name }}</h3>

          {% if member.party %}
          <span class="party">{{ member.party.name }}</span>
          {% endif %}

          {% if member.province %}
          <span class="province">{{ member.province.name }}</span>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<a class="btn btn-sm btn-success show-all" href="#"><i class="fa fa-fw fa-caret-down" aria-hidden="true"></i> Show all</a>
{% endfor %}

{% endblock page %}
