{% extends "base.html" %}

{% block title %}Members of Parliament | PMG{% endblock %}

{% block breadcrumb %}
{% if province %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('provincial_legislatures_list') }}">Provincial Legislatures</a></li>
    <li><a href="{{ url_for('provincial_legislatures_detail', slug=slug) }}">{{ province.name }}</a></li>
</ol>
{% endif %}
{% endblock %}

{% block page %}
<div class="row members-of-parliament">
  <div class="col-sm-6 col-lg-4">
    {% if not province %}
    <h1><i class="fa fa-icon fa-user"></i> Members of Parliament</h1>
    {% else %}
    <h1><i class="fa fa-icon fa-user"></i> {{ province.name }} Members</h1>
    {% endif %}
    <form id="member-search-form" action="/search" method="GET">
      <input type="hidden" name="filter[type]" value="member">

      <div class="input-group">
        <input type="text" name="q" placeholder="Search for members" class="form-control" autocomplete="off">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success">Search</button>
        </span>
      </div>
    </form>
  </div>

  <div class="col-sm-6 col-lg-4 col-lg-offset-1">
    <div class="pa-button">
      <a href="https://www.pa.org.za">
        <img class="center-block" src="/static/resources/images/pa-logo.png" alt="People's Assembly">
      </a>
      <p>Connect with your representatives and find out more about them at <a href="https://www.pa.org.za">PA.org.za</a></p>
    </div>
  </div>
</div>

{% if province %}
  <div class="row mp-list">
    {% for member in provincial_members %}
      <div class="single-mp col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a class="content-card flex" href="{{ member | member_url }}">
          <img class="member-profile-pic" src="{{ member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ member.name }}">
          <div>
            <h4 class="card-title name">{{ member.name }}</h4>
            {% if member.party %}
            <h5>{{ member.party.name }}</h5>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <div class="row">
      <nav class="cte-dtl-meetings-nav">
          <ul class="nav nav-tabs cte-tab-nav">
              {% for house,id_name in id_mapping|dictsort %}
              <li class="{% if loop.index == 1 %}active{% endif %}">
                  <a data-toggle="tab" href="#{{id_name}}">{{house}}</a>
              </li>
              {% endfor %}
          </ul>
      </nav>

      <div class="tab-content" style="padding:15px">
          {% for house, members in members_by_house| dictsort %}
          <div id="{{id_mapping[house]}}" class="tab-pane fade in {% if loop.index == 1 %}active{% endif %} mp-list">
              {% for member in members %}
              <div class="single-mp col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <a class="content-card flex" href="{{ member | member_url }}">
                      <img class="member-profile-pic" src="{{ member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ member.name }}">
                      <div>
                          <h4 class="card-title name">{{ member.name }}</h3>
                              {% if member.party %}
                              <span class="party">{{ member.party.name }}</span>
                              {% endif %}

                              {% if member.province %}
                              <span class="province">{{ member.province.name }}</span>
                              {% endif %}
                      </div>
                  </a>
              </div>
              {% endfor %}
          </div>
          {% endfor %}
      </div>
  </div>
{% endif %}

{% endblock page %}
