{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments %}

{% block title %}{{ page.title|replace("-", " ")|title }} | PMG{% endblock %}

{% block page %}

{% if attachments %}
<div class="row">
    <div class="col-sm-8">
        {{ page.body | safe }}
    </div>
    <div class="col-sm-4">
        {% if page.show_files %}
        {{ related_attachments(attachments) }}
        {% endif %}
    </div>
</div>
{% else %}
{{ page.body | safe }}
{% endif %}

{% endblock %}
