{% extends "base.html" %}

{% block title %}{{ province }} Parliament | PMG{% endblock %}

{% block page %}
<div class="provincial-overview-page">

  <div class="row">
    <div class="col-lg-9">
      <h1 class="province-title"><i class="fa fa-fw fa-icon fa-university"></i> {{ province }} Parliament</h1>

      <section class="committees">
        <h2><i class="fa fa-icon fa-fw fa-group"></i> Committees</h2>
        <div class="row">
          {% for committee in provincial_committees %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a class="card" href="{{ url_for('committee_detail', committee_id=committee.id) }}">
                <div >
                  <h4 class="card-title">{{ committee.name }}</h4>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="btn btn-success" href="/committees#prov">All {{ province }} committees</a>
      </section>

      <section class="calls-for-comment">
        <h2><i class="fa fa-icon fa-fw fa-comments"></i> Calls for comment</h2>
        <div class="row">
          {% for call_for_comment in provincial_calls_for_comment %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a class="card" href="{{ url_for('call_for_comment', call_for_comment_id=call_for_comment.id) }}">
                <h4 class="card-title">{{ call_for_comment.title }}</h4>
              </a>
              </div>
          {% endfor %}
        </div>
        <a class="btn btn-success" href="">All {{ province }} calls for comment</a>
      </section>

      <section class="members">
        <h2><i class="fa fa-icon fa-fw fa-user"></i> Members of Parliament</h2>
        <div class="row">
          {% for member in mpls %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a class="card" href="{{ member | member_url }}">
                <img class="member-profile-pic" src="{{ member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ member.name }}">
                <div>
                  <h4 class="card-title">{{ member.name }}</h4>
                  <h5>{{ member.party.name }}</h5>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="btn btn-success" href="/members/{{ province_slug }}/">All members of {{ province }} parliament</a>
      </section>

      <section class="schedules">

      </section>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="provincial-box">
        <img src="/static/resources/images/provinces/{{ province_code }}.svg">
        <p>This is one of the <b>provincial legislatures</b> we've recently added.</p>
        <p>Does this content interest you?<br>Please let us know!</p>
        <a class="btn btn-success" href="mailto:info@pmg.org.za">Tell us what you think</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
