{% extends "base.html" %}

{% block title %}{{ question_reply.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if question_reply.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=question_reply.committee.id) }}">{{ question_reply.committee.name }}</a></li>
  <li>Questions and Replies</li>
  {% else %}
  <li><a href="{{ url_for('question_replies') }}">Questions and Replies</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}

  <div class="row">
    <div class="col-sm-9">
			<h1><i class="fa fa-question-circle"></i> Question &amp; Reply: {{ question_reply.title }}</h1>

			{% if question_reply.committee %}
			<h4><a href="/committee/{{question_reply.committee.id}}">{{ question_reply.committee.name }}</a></h4>
			{% endif %}

			<h5>{{ question_reply.start_date }}</h5>
    </div>

    <div class="col-sm-3">
			{% if question_reply.committee %}
			  {% set committee = question_reply.committee %}
				{% include 'user_management/_committee_alerts_signup.html' %}
			{% endif %}
    </div>
  </div>

	{{ question_reply.body|safe }}

{% include "_correct_this_page.html" %}
{% endblock %}
