{% extends "base.html" %}
{% from 'macros/attachments.html' import attachments_panel %}

{% block title %}{{ question_reply.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('question_replies') }}">Questions and Replies</a></li>
  {% if committee %}
    <li><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></li>
  {% endif %}
  {% if minister %}
    <li><a href="{{ url_for('question_replies', **{'filter[minister]': minister.id}) }}">{{ minister.name }}</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-sm-9">
      <header class="detail-page-header">
        <h1><i class="fa fa-question-circle"></i> Questions &amp; Replies: {{ question_reply.title }}</h1>
      </header>
      <div class="clearfix">
        {% include "_social_sharing.html" %}
      </div>

      <h5>{{ question_reply.start_date }}</h5>

      {{ question_reply.body|safe }}
    </div>

    <div class="col-sm-3">
      {% if question_reply.files %}
        {{ attachments_panel("Documents", question_reply.files, 'fa-file-pdf-o') }}
      {% endif %}
    </div>
  </div>

  {% include "_correct_this_page.html" %}
{% endblock %}
