{% extends "base.html" %}

{% block title %}Questions to Ministers | PMG{% endblock %}

{% block page %}
  <h1><i class="fa fa-icon fa-{{ icon }}"></i> Questions and Replies</h1>

  <div class="space-bottom">
    <div class="row">
      <div class="col-md-6">
        <form action="/search">
          <input type="hidden" name="filter[type]" value="{{content_type}}">
          <input type="hidden" name="filter[minister]" value="{{filters.minister}}">
          {% if selected_year is not none %}
          <input type="hidden" name="filter[start_date]" value="{{selected_year}}-01-01">
          <input type="hidden" name="filter[end_date]" value="{{selected_year}}-12-31">
          {% endif %}
          <div class="input-group">
            <input type="text" name="q" placeholder="Search Questions and Replies" class="form-control">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">Search</button>
            </span>
          </div>
        </form>
      </div>

      <div class="col-md-6 select-minister">
        <form>
          <select name="filter[minister]" class="chosen space-bottom-sm search-filter">
            <option value="" {% if not filters.minister %} selected="selected" {% endif %}>All Ministries</option>

            {% for minister in ministers %}
              <option value="{{ minister.id }}" {% if filters.minister|int == minister.id|int %} selected="selected" {% endif %}>{{ minister.name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="filter">
          <div class="row select-year" selected-year="{{ selected_year }}">
            <div class="col-md-3 col-lg-2 col-label">
              Filter by year
            </div>
            <div class="col-md-9 col-lg-10">
              <form>
                <input year="all" {% if not selected_year %}checked='true'{% endif %}" name="year" type="radio" id="select-all">
                <label class="btn btn-default {% if not selected_year %}active{% endif %}" value="all" for="select-all">All</label>
              {% for i in year_list %}
                <input year="{{ i }}" {% if i == selected_year %}checked='true'{% endif %}" name="year" type="radio" id="select-{{ i }}">
                <label class="btn btn-default {% if i == selected_year %}active{% endif %}" value="{{ i }}" for="select-{{ i }}">{{ i }}</label>
              {% endfor %}
              </form>
            </div> <!-- column -->
          </div> <!-- row select-year -->
        </div> <!-- filter -->
      </div> <!-- column -->
    </div> <!-- row -->
  </div>

  <section class="committee-question-list">
  {% for question in questions.results %}
    {% if question.code %}
      {% include '_committee_question_detail.html' with context %}
    {% else %}
      {% include '_question_reply_detail.html' with context %}
    {% endif %}
  {% endfor %}
  </section>

  {% include 'pagination.html' %}

  {% include "_correct_this_page.html" %}

{% endblock %}
