{% extends "base.html" %}

{% block title %}Search results | PMG{% endblock %}

{% block page %}

<div class="row">
  <div class="col-xs-12 col-sm-3">
    {% block top_links %}
      <div class="hidden-xs">
        <h4>Refine Search Results</h4>
      </div>
      <form>
        <input type="hidden" name="q" value="{{ q }}">
        <input type="hidden" name="filter[start_date]" value="{{ filters.start_date }}">
        <input type="hidden" name="filter[end_date]" value="{{ filters.end_date }}">
        <input type="hidden" name="filter[type]" value="{{ filters.type }}">
        {% include 'committee_select.html' %}
      </form>

      <div class="panel visible-xs visible-sm">
        <a class="btn btn-primary" type="button" data-toggle="collapse" href="#filter">Refine Search Results&nbsp;<span class="caret"></span></a>
        <div id="filter" class="panel-collapse collapse">
          <div class="panel-body">
            {% include "_filter_type_options.html" %}
            {% include "_filter_year_options.html" %}
          </div>
        </div>
      </div>

      <div class="list-group hidden-xs hidden-sm">
        {% include "_filter_type_options.html" %}
      </div>

      <div class="list-group hidden-xs hidden-sm">
        {% include "_filter_year_options.html" %}
      </div>
    {% endblock %}
  </div>

  <div class="col-xs-12 col-md-9 justify-p">
    <div class="row search-box">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <form class="search-page-form pull-right" role="search" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search for committee meetings, bills, ministers, schedules and documents" value="{{q}}">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-success" onclick="form.submit()" value="Search" />
            </span>
          </div>
        </form>
      </div>
    </div>

    <hr>

    <div class="row search-summary">
      <div class="col-xs-8">
        <h2>"{{ q }}"</h2>
        {% for committee in committees %}
          {% if filters.committee|int == committee.id|int %}
            <p>for <b>{{ committee.name }}</b></p>
          {% endif %}
        {% endfor %}
        {% for data_type, name in search_types %}
          {% if filters.type == data_type %}
            <p>in <b>{{ name }}</b></p>
          {% endif %}
        {% endfor %}
        <p></p>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-info pull-right" type="button">Create alert</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h5>Total Results: {{ search.hits }}</h5>
      </div>
      <div class="col-xs-6 col-sm-6">
        <h5 class="pull-right">Create an alert to receive notifications of more results like these.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped table-bordered">
          {% for result in search.results %}
          <tr>
            <td>
              {% include result._type + '_stub.html' %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    {% include 'pagination.html' %}
  </div>
</div>


{% endblock %}

