{% extends "base.html" %}
{% from 'macros/attachments.html' import attachments_panel %}

{% block title %}{{ tabled_committee_report.title }} | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if tabled_committee_report.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=tabled_committee_report.committee.id) }}">{{ tabled_committee_report.committee.name }}</a></li>
  <li>Tabled Reports</li>
  {% else %}
  <li><a href="{{ url_for('tabled_committee_reports') }}">Tabled Reports</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
<div class="row">
  <div class="col-sm-8">
    <h1><i class="fa fa-briefcase"></i> {{ tabled_committee_report.title }}</h1>

    {% if tabled_committee_report.committee %}
    <h4><a href="/committee/{{tabled_committee_report.committee.id}}">{{ tabled_committee_report.committee.name }}</a></h4>
    {% endif %}

    {{ tabled_committee_report.body|safe }}
  </div>

  <div class="col-sm-4">
    {{ attachments_panel("Documents", tabled_committee_report.files, 'fa-file-pdf-o') }}
  </div>
</div>

{% include "_correct_this_page.html" %}
{% endblock %}
