{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}
    {% set title = result._source.title %}
  {% endif %}
  {% set date = result._source.date %}
  {% set id = result._id %}
  {% if result._source.committee_id %}
    {% set committee_id = result._source.committee_id %}
  {% endif %}
  {% if result._source.committee_name %}
    {% set committee_name = result._source.committee_name %}
  {% endif %}
  {% set house = result._source.house_name %}
{% else %}
  {% set title = result.title %}
  {% set date = result.start_date %}
  {% set id = result.id %}
  {% if result.committee %}
    {% set committee_name = result.committee.name %}
    {% set committee_id = result.committee.id %}
    {% set house = result.committee.house.name %}
  {% endif %}
{% endif %}
<div class="tabled-committee-report-stub">
  <div class="date">{{ date|pretty_date }}</div>
  <h4><a href="{{ url_for('tabled_committee_report', tabled_committee_report_id=id) }}">{{ title|safe }}</a></h4>
  <h5>
    <span class="type">Tabled Committee Report {% if committee_name %}|{% endif %}</span>
    {{ committee_name }} | {{ house }}
  </h5>

  {% if result.highlight %}
    <p>
    {% if result.highlight.description %}
      {{ result.highlight.description|search_snippet|ellipse|safe }}
    {% elif result.highlight.fulltext %}
      {{ result.highlight.fulltext|search_snippet|ellipse|safe }}
    {% endif %}
    </p>
  {% endif %}
</div>
