{% if result._source %}
  {% if result.highlight.title %}
    {% set title = result.highlight.title|search_snippet %}
  {% else %}  
    {% set title = result._source.title %}
  {% endif %}
  {% set date = result._source.date %}
  {% set id = result._id %}
  {% if  result._source.committee_id %}
    {% set committee_id = result._source.committee_id %}
  {% endif %}
  {% if  result._source.committee_name %}
    {% set committee_name = result._source.committee_name %}
  {% endif %}
{% else %}
  {% set title = result.title %}
  {% set date = result.start_date %}
  {% set id = result.id %}
  {% if result.committee %}
    {% set committee_name = result.committee[0].name %}
    {% set committee_id = result.committee[0].id %}
  {% endif %}
{% endif %}
<div class="tabled-committee-report-stub">
  <div class="row">
    <div class="col-sm-10 col-xs-8">
			<span class="label label-primary">Tabled Committee Report</span>
      <a href="{{ url_for('tabled_committee_report', tabled_committee_report_id=id) }}">{{ title|safe }}</a>
			{% if committee_name %}
      <div class="hidden-xs text-muted">{{ committee_name }}</div>
			{% endif %} 
		</div>
  </div>
  {% if result.highlight %}
  {% if result.highlight.description %}
  <div>
    {{ result.highlight.description|search_snippet|ellipse|safe }}
  </div>
  {% elif result.highlight.fulltext %}
  <div>
    {{ result.highlight.fulltext|search_snippet|ellipse|safe }}
  </div>
  {% endif %}
  {% endif %}
</div>
