{% macro render_field(field) %}
  {% if field.type == 'HiddenField' %}
    {{ field(**kwargs)|safe }}

  {% elif field.type == 'SubmitField' %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">{{ field(class_='btn btn-primary', **kwargs)|safe }}</div>
    </div>

  {% else %}
    <div class="form-group">
      {{ field.label(class_='control-label col-sm-2') }}
      <div class="col-sm-10">
        {{ field(class_='form-control', required=field.flags.required, **kwargs)|safe }}

        {% if field.errors %}
          <ul class="list-unstyled text-warning">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endmacro %}
