{% extends 'admin/my_edit.html' %}
{% from '_macros.html' import render_member %}

{% block body %}
{% set member = model %}
<div class="row">
  <div class="col-md-8 col-lg-offset-2">
    <img style="max-width: 125px;" class="pull-right" src="{{ member.profile_pic_url }}" />
    <h1>{{ member.name }}</h1>
    <p class="lead">{{ member.house.name }}</p>
    <p class="lead">{{ member.party.name }}</p>
  </div>
</div>
{{ super() }}
{% endblock %}

{% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li>
        <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li class="active">
        <a href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li>
        <a href="{{ get_url('.attendance', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Attendance') }}</a>
    </li>
  </ul>
{% endblock %}
