{% import 'admin/model/inline_list_base.html' as base with context %}

{% macro render_field(field) %}
{% set model = field.object_data %}
<div class="row">
  <div class="col-md-8">
    {{ field }}
  </div>
  <div class="col-md-2 text-center">
    {% if model and model.member.profile_pic_url %}
    <img src="{{ STATIC_HOST }}{{ member.profile_pic_url }}" style="max-width: 75px;"></img>
    {% endif %}
  </div>
</div>
{% endmacro %}

{{ base.render_inline_fields(field, template, render_field) }}
