{% extends 'admin/base.html' %}
{% import 'admin/rules.html' as rules %}
{% block head_css %}
 {{ super() }}
 {% assets "admin-css" %}
 <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock head_css%}

{% block brand %}
  <a class="navbar-brand" href="/">{{ admin_view.admin.name }}</a>
{% endblock %}

{% block access_control %}
  {% if not current_user.is_anonymous %}
  <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="{{ url_for_security('logout') }}">Logout</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block tail_js -%}
  {{ super() }}
  <script src="//cdn.ckeditor.com/4.22.1/standard-all/ckeditor.js"></script>
  {% assets "admin-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{%- endblock %}
