{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">A Constitutional Fiction: Parliamentary Oversight of the Executive in the Fifth Parliament</h2>
			<div class="date"><i>Mike Law and Richard Calland</i></div>
			<div class="body">
			    <p align="justify">When the African National Congress (ANC) published its national and provincial candidate lists ahead of the 2019 general elections, it became clear that the balance of power within the party is still delicate and the Zuma faction has not yet been vanquished. The list is as striking for those who did make it as those who did not. Whilst some of the most implicated state capture antagonists and underperforming ministers are set for a return to Parliament in 2019, the likes of Zukiswa Rantho will be forced to watch from afar. </p>
          		    
			    <p align="justify">In 2017 and 2018, Rantho fearlessly led the Parliamentary Inquiry into corruption and maladministration at Eskom which resulted in a report that was adopted in a rare show of unanimity across party lines and hailed as “brilliant” by Public Enterprises Minister, Pravin Gordhan.</p>
            		    
			    <p align="justify">It recommended criminal investigations in certain cases and damningly labelled the actions of ministers and high ranking ANC members Lynne Brown and Malusi Gigaba as “grossly negligent”. Rantho’s reward: booted off the ANC national list and placed into political obscurity.</p>
          		    
			    <div class="inline-img" style="width:374px;"><img src="/static/resources/images/review/L_C_01.jpg" width="374" height="405" alt="" align="left">Photo: Photo by Gallo Images / Alet Pretorius</div>
          		    
			    <p align="justify">Cases such as Rantho’s makes one seriously doubt the practical plausibility of the constitutional mechanism that requires the legislature to hold the executive to account. The theoretical beauty of the construct is enticing: that no branch of government (only the Constitution itself) will be supreme; no one branch will dominate the other and each will be separate but equal, with concurrent powers of holding each other to account. </p>
			    
			    <p align="justify">Given South Africa’s electoral system and prevailing political culture, especially with regards to internal party democracy, there are serious doubts about whether this elegant constitutional design can deliver what it promises.</p>
     			    
			    <p align="justify">The mechanism contained in Section 55(2) of the Constitution which requires Parliament to hold the national executive to account is fundamentally constrained by the electoral system in which it operates. In South Africa’s closed-list system of proportional representation it is not the individual Member of Parliament (MP) who “owns” the parliamentary seat, but rather the political party that that MP represents. </p>
        		    
			    <p align="justify">Unlike in other jurisdictions where MPs are directly elected by and are accountable to a particular constituency, in South Africa, if an MP does not act in the political interests of the party that put them there, they can be removed by that party and replaced with someone who will toe the line. </p>
        		    
			    <p align="justify">The Constitution itself provides for this: if an MP ceases to be a member of the party on whose ticket he or she stood at election time, then he or she will lose their seat in parliament. </p>
        		    
			    <p align="justify">It is a powerful deterrent to those backbench MPs who might otherwise contemplate challenging the front benches of their own party. It gives enormous power to the chief whips and other senior party ‘managers’. 
				In this context, it may be simply implausible to expect, for example, junior members or backbenchers of the ruling party to make adverse findings against senior ministers when such an action could spell the end of their political career.</p>
 			    
			    <p align="justify">In addition, forming out of the Westminster model, members of the executive are appointed almost exclusively from the ranks of MPs and, other than the President, continue to be MPs upon taking up positions in Cabinet. Hence, when it comes to accountability, this model essentially asks these members to hold themselves to account. </p>
        		    
			    <p align="justify">Accordingly, the real political epicentre of public accountability is neither Parliament nor the executive, but rather Luthuli House - which invariably exercises final control over the MPs seeking to perform their constitutional oversight roles.</p>
         		    
			    <p align="justify">This is what we saw for the most part of the Zuma administration: an ANC parliamentary caucus powerless to act against their rogue leader without the consent of his allies in the ANC leadership. When it came to other forms of accountability, such as questions to the President and senior members of Cabinet, the ANC seemed to accept any answer and it was clear that senior members of the executive did not take their constitutional duty to account to Parliament with any firm degree of seriousness. </p>
        		    
			    <p align="justify">Parliament was largely powerless to force the executive’s hand.</p>
        		    
			    <p align="justify">Yet it would be inaccurate to suggest that the fifth Parliament did nothing in exercising its oversight function. Especially towards the end of its term, perhaps buoyed by the inevitability of Zuma’s demise, fear of electoral reprisal and in light of court judgments against the incumbent administration, Parliament finally began to do its job. </p>
        		    
			    <p align="justify">The inquiry into state capture at Eskom referred to above was conducted admirably and served as a credible precursor to the broader Zondo Commission. And Parliament even went as far as taking the time to look into the legal process for removing a sitting President through the impeachment procedure. </p>
        		    
			    <p align="justify">But when it came to tackling the corrupt Zuma administration, perhaps the real heroes of the Fifth Parliament were the opposition parties. The ideologically diverse opposition parties united under a common banner of toppling Zuma’s corrupt regime – yes, for their own electoral benefit but equally so for the greater good of the country. </p>
        		    
			    <p align="justify">Who can forget the day in 2016 when the whole of the opposition walked out in unison from the shameless ANC attempt to belittle the Public Protector’s Nkandla report in the ad hoc committee established for the purpose? Finding common cause against what the Constitutional Court later held to be a constitutional transgression by the National Assembly in failing to respect and protect the Public Protector, Julius Malema, Corne Mulder, Mmusi Maimane and Bantu Holomisa, along with representatives of all the other opposition parties, stood together outside parliament. </p>
        		    
			    <div class="inline-img" style="width:100%;"><img src="/static/resources/images/review/L_C_02.jpg" width="850" height="318" alt="" align="left">Photo: @EFFSouthAfrica</div>
        		    
			    <p align="justify">Without a majority in the House, accountability exercised by opposition parties takes the longest time to have effect. Yet the Fifth Parliament showed that a combination of sound and rational arguments and a great deal of patience can overcome the constraints of a legislative minority. </p>
        		    
			    <p align="justify">For all the drawbacks of closed-list proportional representation, the benefits of at least the latter half of that description showed its force, as the diversity and credibility of the opposition forces ultimately broke down the ANC’s resistance. </p>
        		    
			    <p align="justify">Where the ANC failed, the opposition succeeded, ironically to the latter’s own electoral detriment - no doubt the DA would rather be going into this election on the back of a few more years of the Zuma presidency, rather than the popular Ramaphosa.</p>
        		    
			    <p align="justify">The simple fact is that ANC MPs in general failed miserably in what is arguably their primary duty – to hold the executive to account. But let’s be realistic here. Political will on behalf of MPs from the ruling party to hold their seniors to account is an issue faced in every country. </p>
        		    
			    <p align="justify">What matters is political and organisational culture, and that must come from the leadership of the party. So, to add yet another item to President Ramaphosa’s lengthy to-do list: at the first meeting of the ANC parliamentary caucus after the election tell them straight: don’t be afraid to hold me and my cabinet to account; ask us difficult questions; call us and our public servants to committees to explain and justify our choices; make more visits to hospitals, schools and infrastructure project; out-do the opposition in showing that you care and that you want government to deliver. </p>
        		    
			    <p align="justify">Towards the end of the Fifth Parliament’s term, it passed key accountability legislation in the form of the Political Party Funding Act and the Public Audit Amendment Act. Perhaps the time is now for the Sixth Parliament to pick up this mantle, and relook at the legislative framework governing accountability of the executive in order to create some form of security of tenure to erstwhile and independent-minded MPs who seek to put country above the party. </p>
        		    
			    <p class="review-author-blurb">Mike Law is a research associate at political risk consultancy, The Paternoster Group. Richard Calland is an Associate Professor in Public Law at UCT and a founding partner of The Paternoster Group.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
