{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Points of order (by an observer)</h2>
			<div class="date"><i>Gaile Fullard</i></div>
			<div class="body">
        		    
			    <br><h3>Transparency</h3>
          		    
			    <p align="justify">I have been a fly on the wall of thousands of parliamentary committee meetings as an editor of PMG reports for 20 years. There may have been a din or pandemonium in the National Assembly in the Fifth Parliament but those 50 to 60 committees kept on meeting and they were extremely civil for the most part – and transparent. The difference in courtesy is an irony that always amuses parliamentary observers.</p>
			    
			    <p align="justify">When committee meetings were closed to the public slightly too often in the past two years, there were objections from civil society groupings such as Parliwatch and the media. Presiding officers had to remind committee chairpersons of the procedure to follow if they wanted a meeting in camera that met the transparency provisions of the Constitution.</p>
			    
			    <p align="justify">Positives of the Fifth Parliament include the strengthening of the media and communications unit to ensure regular and proactive distribution of parliamentary information, the establishment of the Joint Standing Committee on the Financial Management of Parliament (which provides sunlight on the administration of Parliament), the timely publication of Hansard and the move to YouTube video-stream not only plenary debates but also committee meetings – these transparency projects are commendable.</p>
    			    
			    <br><h3>Accountability of the executive to Parliament</h3>
			    
			    <p align="justify">Oversight is a key role of committees but these meetings are too often overwhelmed by the “overseen” – the departments and their entities – which verbally present over-long reports. The overseen often delayed the submission of their documents prior to the meeting so those MPs that do prepare, and their researchers, did not have enough time to do so. </p>
    			    
    			    
			    <p align="justify">The format of committee meetings needs to be looked at. Chairpersons should insist that only the achievements and especially the challenges are orally presented in depth at meetings. This means that the committee is able to ask as many questions as it wants to and receive detailed responses. Further, it allows MPs to question the overseen entity about more than what is presented in the documents – such as specific complaints that citizens have raised with individual MPs or have written to the committee about.</p>
    			    
			    <p align="justify">Currently the discussions are held back by the technocratic presentation documents that speak of 85% (or 55%) of “targets achieved” and there is little time to speak about the challenges communities are experiencing on the ground. </p>
			    
			    
			    <p align="justify">What too often happened in the Fifth Parliament was that departments were requested to respond in writing to probing oversight questions – due to meetings running out of time. Essentially what this means, is that those responses are never seen or heard of again by the public. It is the equivalent of an ‘in camera’ meeting. </p>
    			    
			    <p align="justify">PMG has been <a href="docs/tracking.pdf" target="_blank">tracking</a> what happens to these written responses requested by committees in an open meeting. In most cases, the committee secretary has to remind the department to provide a written response. Thereafter, 35% failed to provide the response document. PMG eventually managed to get and publish only 27%. A fail. More rigorous follow up is needed as it seems the departments are thumbing their nose at the constitutional check and balance of legislative oversight of the executive.</p>
    			    
			    <br><h3>Responsiveness</h3>
			    
			    <p align="justify">MPs are allotted Mondays for constituency work. Each MP is assigned a constituency to achieve some level of proximity with the people. R330 million is assigned for constituency allowances to establish an office where citizens can engage with MPs. However, it is an artificial assignment and MPs remain distant. This constituency office information is hard to extract from parties. This concept needs to be re-jigged.
			    </p>
			    
			    <p align="justify">When citizens have a major problem, many do not think to engage with an MP and they mostly do not know about parliamentary committees. Citizens invariably send their email or letter to the minister. Parliament needs to be seen as an approachable public forum, where people can address their concerns and expect a response. Petitions are one mechanism that citizens use to formally request Parliament to intervene in a matter. A look at the numbers suggests this tool is under-utilised and when it is taken up, Parliament’s response is too slow.</p>
			    
			    <p align="justify">It is impossible to monitor and give a definitive view on how responsive individual MPs are to public and constituent queries. However, based on anecdotal evidence and the response to <a href="https://www.pa.org.za/write/recipients/" target="_blank">Write To an MP</a> and <a href="https://www.pa.org.za/write-committees/recipients/" target="_blank">Write to a Parliamentary Committee</a>, it would be fair to say this is an area where legislators would get a poor score. The reality is that lawmakers are constrained by resources and time. Notwithstanding this, political parties and parliament should establish minimum standards and encourage MPs to use technology that will facilitate communication.</p>
    			    
			    <br><h3>Appointment recommendations</h3>
    			    
			    <p align="justify">Another best practice that emerged in the Fifth Parliament was publishing the CVs of nominated candidates for statutory appointments by the President, where Parliament first makes recommendations. The public can now comment on the appropriateness of a nominated candidate. The institution of this practice was a magic amalgam of the committee chairperson, Makhosi Khosa – who was open to the suggestion by civil society organisation, Corruption Watch – and which was roundly endorsed by Julius Malema, who likened the proposal to the procedure followed for the appointment of judges.</p>
    			    
			    
			    <p align="justify">This best practice still does not take away from the fact that consensus often falls by the wayside in these deliberations if a majority party ignores competence as the key determinant and is hell bent on appointing party-sympathetic candidates.</p>
        		    
			    <br><h3>Attendance</h3>
			    
			    <p align="justify">The committee meeting attendance of MPs improved dramatically over the Fifth Parliament – PMG does take some recognition for this with our easy-to-check overall attendance record which parties use. An MP is only fined if absent without apology from three or more consecutive meetings. As an observer one cannot emphasize enough the importance of regular attendance especially by opposition parties. The ‘White Shirt’ incidents in the House did have a negative impact on the committee attendance of the EFF in 2015 who then appeared to boycott committee meetings. Their absence was felt. In a constitutional democracy, such absence should not be taken lightly – committees are too important.</p>
    			    
			    <p align="justify">Plenary attendance in the National Assembly and the National Council of Provinces is non transparent despite a biometric attendance register. In 2014, the Joint Rules introduced a new rule that plenary attendance should be published annually but it has not been implemented. There must be a lack of political will. This is strange given the repeated embarrassing media reports about bills not being adopted in the House as not enough MPs are present. A second reason to make plenary attendance public is to ensure our ministers are held accountable. Making committee attendance of individual MPs public had a very salutary effect. No one likes being publicly shamed. If specific absentee ministers can be tracked, all the better. Transparency breeds accountability.</p>
    			    
			    <br><h3>Legislation</h3>
    			    
			    <p align="justify">Parliament had 39 bills unfinished at the end of the fifth term. Its performance was not great. The two-fold appeal here is to departments: bring draft legislation to Parliament in a timely manner and ensure it has been thoroughly commented on by civil society experts and those required by legislation. This would save much drawn-out drama and pressure that unfolds in Parliament. The interesting rise in committee bills was partly due to these lacunae. Kudos to Cope MP Deidre Carter for having her private member’s bill passed by Parliament.</p>
    			    
			    <br><h3>Public participation</h3>
 			    
			    <p align="justify">An interesting trend was the acceptance of public comment after the submission deadline or putting out more calls for public comment. How enlightened! This should be institutionalised. When bills are introduced, only sector experts understand the nuances. Ordinary citizens might like to comment on the Hate Speech Bill but have no idea of its implications. That’s why <a href="https://pmg.org.za/page/Public%20Participation" target="_blank">8% of comments</a> are made by individual citizens rather than civil society organizations, academics and business. Once the public hearings have been ventilated in the media and the controversies highlighted, it might be good for citizens to have a say via a cell phone poll on the controversial clauses of the bill – where the results are aggregated and easy to assess. PMG has used this approach with varying levels of acceptance by some committees.</p>
			    
			    <p align="justify">Although public participation on legislation was always open to public hearings, our research found not enough public engagement is held on current matters of interest. This did open up towards the end of the five-year term with the taking of public hearings to the people on matters meaningful to them – which was empowering. </p>
    			    
			    <br><h3>Conclusion</h3>
 			    
			    <p align="justify">The Sixth Parliament is just around the corner. Parliament’s confidence has been strengthened. It knows it can do inquiries and the public expects these. The supporting role played by others can also immeasurably strengthen it.</p>
			    
			    <p align="justify">Civil society expertise based on evidence on the ground needs to be tapped more often by committees. </p>
			    
			    <p align="justify">The Public Service Commission is tracking that the performance agreements of all public service managers are in place and that the new ban on tenders for public servants and their relatives is implemented</p>
    			    
			    <p align="justify">Each year, the Auditor General prudently chooses a specific accountability detonator that scuppers service delivery and focuses on it in Parliament so MPs and the public are sensitized to it and never forget it – these include the overuse of expensive consultants, irregular and wasteful expenditure, contract expansions, and no consequences for public servants who break public finance laws. The AG has new strengthened powers to deal with recalcitrants in the public service to refer them to the law enforcement agencies – which are back in action. This will help break the feeling of powerlessness that so often confronted MPs when faced by abysmal mismanagement of a government entity and the escape of those responsible.</p>
    			    
			    <p align="justify">Parliament can only get stronger.</p>                                          </p>
			    
			    
			    <p class="review-author-blurb">Gaile Fullard is the executive director of the Parliamentary Monitoring Group.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
