{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">View from the opposition benches</h2>
			<div class="date"><i>Deidre Carter, COPE MP</i></div>
			<div class="body">
        		    
			    <div class="inline-img" style="width:186px;"><img src="/static/resources/images/review/Dierdre_01.jpg" width="166" height="248" alt="Photo: RSA Parliament - Deidre Carter" align="left">Photo: RSA Parliament - Deidre Carter</div>
        		    
        		    
			    <p align="justify">I would like to think that 'Parliament’ – the National Assembly in particular – sits at the apex of our constitutional democracy.</p>
			    
			    <p align="justify">It is, after all, ‘elected to represent the people’ and to ‘ensure government by the people under the Constitution’.</p>
         		    
			    <p align="justify">It is the National Assembly that is empowered and entrusted with choosing the President; providing a national forum for the public consideration of issues; passing legislation; and scrutinizing and overseeing executive action.<p align="justify">
        			
				<p align="justify">Had the National Assembly (the collective of 400 elected men and women) – faithfully and diligently carried out its functions, I doubt very much that our nation would face the morass and national calamity that it does today.</p>
				<p align="justify">Parliament’s own High Level Panel report says as much.</p>
          			
				<p align="justify">The plethora of Commissions that fill our daily headlines with ever growing admissions of betrayal and the abuse of power (of treasonous proportions), have in essence supplanted what should have been the responsibility and moral authority of the National Assembly.</p>
        			
				<p align="justify">And as much as most South Africans rejoiced at the eventual ‘removal from office’ of Jacob Zuma, and at initial signs of a new-found moral zeal within the corridors of Parliament, the recent inexplicable protection of the Public Protector and the manner in which the majority party processed the Robert McBride matter ‘at any cost’, point to the adage that ‘the more things change, the more they stay the same’. </p>
				
				<p align="justify">Likewise, the assertion by former Minister Trevor Manuel at the Zondo Commission that ‘MPs need more training’ is a copout. It evades the truth.</p>
				
				<p align="justify">Yes, additional training would be beneficial.</p>
				
				<p align="justify">But the truth is that the fifth Parliament failed in its duties. It violated and breached its duty to hold then President Zuma and his executive to account. Various courts and our apex court have said as much. And more recently it seems intent on perpetuating this evil.</p>
				
				<p align="justify">The fourth and fifth Parliaments of our constitutional democracy have unfortunately been subjected to the tyranny of the majority party. That’s the ugly truth.
				    No amount of training will bring an end to this.</p>
				
				It is clear that we need electoral reform if we are to hope that those elected to the National Assembly will represent the will and aspirations of the people, and will ensure government by the people under the Constitution.</p>
        			
				<p align="justify">Nonetheless, it would be remiss of me not to advocate for a better resourced and capacitated and activist Parliament.</p>
        			
				<p align="justify">A better resourced Parliament, primarily in the form of researchers, sector experts and legal advisors, would provide greater means to Parliament and its members to carry out their functions.</p>
				
				<p align="justify">A more activist Parliament would initiate and drive (collectively and through its members) legislation and policy, rather than being the processor of executive-inspired legislation.</p>
        			
				<p align="justify">Having served as an MP of a small (but not insignificant) party, I question whether the resources ‘proportionally’ placed at our disposal by Parliament allow us to meaningfully and effectively participate in the affairs of Parliament.</p>
        			
				<p align="justify">Regardless of our size, we have as COPE, generally tried to consider and participate in the deliberations of most matters that have come before the National Assembly.</p>
        			
				<p align="justify">With three MPs and one researcher this has been ‘no mean feat’ and stretched us to the ‘ninth degree’.</p>
        			
				<p align="justify">A more equitable distribution of resources (and time allocation to present our view in the house) would have made things more meaningful and tenable.</p>
        			
				In conclusion, I believe that as the Congress of the People, we have ‘boxed above our weight division’ in the National Assembly and unswervingly ‘spoken truth to power’, consistent with the values and principles and imperatives that informed our establishment.</p>
        			
				<p align="justify">Finally, I take some pride in protecting and advancing the rights of the LGTIQ community with the National Assembly’s adoption of Civil Union Amendment Bill in December 2018.</p>
        			
				<p align="justify">I dedicate the adoption of this Bill to the memory of the late Mario Ambrosini, MP, who fought a long battle to ensure the right of Members of Parliament to initiate and introduce legislation. </p>
				
				
				<p class="review-author-blurb"> Deidre Carter MP was the COPE Chief Whip in the Fifth Parliament.</p>
    				
    				
				<span class="page-sharing">
				    Share this page:
				    <span class="btn-group" role="group">
	 				<a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  				<a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  				<a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  				<a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				    </span>
				</span>
          			
			</div>
		    </div>
		</div>
		<!-- END ARTICLE - Hannah -->
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Steven_Friedman.html">How does the PR system affect the quality of input in Parliament?</a></li>
				<li><a href="2019Review_Andisiwe_Makinana.html">Observing Parliament: my reflections</a></li>
				<li><a href="2019Review_Law_Calland.html">A Constitutional Fiction: Parliamentary Oversight of the Executive</a></li>
				<li><a href="2019Review_Lawson_Naidoo.html">Some thoughts on the Fifth Parliament</a></li>
				<li><a href="2019Review_Narend_Singh.html">Do small parties work for Parliament?</a></li>
				<li><a href="2019Review_Deidre_Carter.html">View from the opposition benches</a></li>
				<li><a href="2019Review_Gary_Pienaar.html">Improving Parliament's ineffective oversight</a></li>
				<li><a href="2019Review_Mike_Pothier.html">Parliamentary Advocacy: How to have an influence?</a></li>
				<li><a href="2019Review_Duda_Motala_Louw.html">Public Engagement: A Case Study</a></li>
				<li><a href="2019Review_Moira_Levy.html">Notes from the House</a></li>
				<li><a href="2019Review_Martin_Nicol.html">Committee System: performance and areas of reform</a></li>
				<li><a href="2019Review_Judith_February.html">A step forward</a></li>
				<li><a href="2019Review_Sean_Muller.html">Why has Parliament not yet amended the Budget?</a></li>
				<li><a href="2019Review_Gaile_Fullard.html">Points of order (by an observer)</a></li>
				<li><a href="2019Review_Monique_Doyle.html">Diary of a Parliamentary Nerd</a></li>
			    </ul>
			</div>
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Lechesa_Tsenoli.html">Lechesa Tsenoli (Deputy Speaker)</a></li>
				<li><a href="2019Review_John_Steenhuisen.html">John Steenhuisen (Member of Parliament)</a></li>
				<li><a href="2019Review_Joanmariae_Fubbs.html">Joanmariae Fubbs (Member of Parliament)</a></li>
				<li><a href="2019Review_Mbuyiseni_Ndlozi.html">Mbuyiseni Ndlozi (Member of Parliament)</a></li>
				<li><a href="2019Review_MP_comments.html">MP Comments</a></li>
				<li><a href="2019Review_Black_Sash.html">Black Sash</a></li>
				<li><a href="2019Review_SJC.html">Social Justice Coalition</a></li>
				<li><a href="2019Review_Makhosi_Khoza.html">Makhosi Khoza (Former Member of Parliament)</a></li>
			    </ul>
			</div>
		    </div><div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>
        		<div class="sb-inner">
            		    <ul>
                		<li><a href="2019Review_Turnover.html">MP & Committee Turnover</a></li>
				<li><a href="2019Review_Agenda.html">Committee Agenda</a></li>
				<li><a href="2019Review_Activity.html">Committee Activity</a></li>
				<li><a href="2019Review_Performance.html">Legislative Performance</a></li>
				<li><a href="2019Review_Questions.html">Written Questions</a></li>
			    </ul>
			</div>
		    </div>
         	    
  		    
		  
		</div>
	    </div>
	</section>
    </article>
</div>
{% endblock %}
