{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Parliamentary Advocacy: How to have an influence?</h2>
			<div class="date"><i>Mike Pothier</i></div>
			<div class="body">
			    <p align="justify">A good starting point for a discussion about how to influence Parliament is section 59 of the Constitution, which reads as follows:</p>
          		    
			    <h3>Public access to and involvement in National Assembly</h3>
          		    
			    <div class="inline-img" style="width:100%;"><img src="/static/resources/images/review/Mike_01.jpg" width="850" height="254" alt="" align="left">Photo: Groundup - Nathan Geffen</div>
          		    
			    <em><ol>
          			<li>The National Assembly must -
            			    <ol type="a">
                			<li>facilitate public involvement in the legislative and other processes of the Assembly and its committees; and</li>
					<li>conduct its business in an open manner, and hold its sittings, and those of its committees, in public, but reasonable measures may be taken -
                   			    <ol type="i">
                        			<li>to regulate public access, including access of the media, to the Assembly and its committees; and</li>
						<li>to provide for the searching of any person and,where appropriate, the refusal of entry to, or the removal of, any person.</li>
					    </ol>
					</li>
				    </ol>
				</li> 
				<li>The National Assembly may not exclude the public, including the media, from a sitting of a committee unless it is reasonable and justifiable to do so in an open and democratic society.</li>         
			    </ol></em>
			    <hr>
			    
			    <p align="justify">This clause may not be entirely unique among national constitutions, but it is unusual and, from the point of view of civil society, of crucial importance. It’s worth unpacking it a bit. Firstly, it places a positive duty on the NA to <strong>facilitate public involvement</strong>, not just to allow or permit it, however grudgingly. Secondly, it refers to the <strong>legislative and other processes</strong> of the NA, thus including Parliament’s oversight work, any enquiries it may hold, and interviews it conducts for important public posts. Thirdly, it specifies that the NA’s sittings, <strong>and those of its committees</strong>, must be held in public, subject to a couple of reasonable provisos. Lastly, any decision to bar the public from a committee meeting must pass the test of being <strong>reasonable and justifiable</strong> in an <strong>open and democratic society</strong>. </p>
			    
			    <p align="justify">Section 59 (and section 72, which says the same about the National Council of Provinces), has helped immensely in creating the ethos of an open, consultative, participatory Parliament that we enjoy today. Every time Parliament places an advertisement in the newspapers, on its website or on radio calling for comment on a Bill or for submissions on a policy question, it is putting sections 59 and 72 into practice. And every time that we as civil society, whether we are a big national organisation or a small community group, respond to these invitations, we are helping to make these sections work.</p>
     			    
			    <p align="justify">With that as the constitutional background, how do we carry out parliamentary advocacy practically? There are probably dozens of hints and tips that one could give, but I would like to offer just a few key ideas, based on my organisation’s 22 years of making submissions and interacting with the committees of the NA and the NCOP. But first, a word about lobbying and advocacy:</p>
			    
			    <p align="justify">In some contexts, the word ‘lobbying’ has overtones of an interest group trying to persuade legislators to do its bidding, regardless of the consequences. We can think of lobbyists acting on behalf of certain industries – oil, tobacco, pharmaceuticals, for example – in a way that promotes their narrow advantage at the cost of the common good. Often, such lobbying is accompanied by bribery or other more subtle forms of corruption, like all expenses paid ‘fact-finding’ trips, wining and dining, and so on.</p>
			    
			    <p align="justify">Advocacy, on the other hand, takes the common good as its starting point. It does not seek a sectoral or individual advantage, and it is not competitive. With lobbying, at least in the sense described above, there is usually a winner and a set of losers – those whose lobbying was not successful, or whose interests were ignored in the process. With advocacy, ideally there should be no losers, just improved legislation and policy that serve everyone’s genuine interests more effectively.</p>
    			    
			    <p align="justify">So, how can we best ensure that we have influence? These six ‘do’s’ and ‘don’ts’ are among the most important principles of effective parliamentary advocacy.</p>
    			    
			    <p align="justify"><strong>Don’t see Parliament as the enemy:</strong> When government introduces a Bill that clearly violates the Constitution as, for example, the Protection of State Information Bill (aka the ‘Secrecy Bill’) did, it is easy for civil society groups to become frustrated and angry. But taking that attitude into a portfolio committee meeting is not going to help your advocacy. Public hearings conducted by portfolio committees are not campaigning moments, and MPs from all sides are very wary about hearings being used in this way.</p>
			    
			    <p align="justify">Bear in mind also that even governing party MPs may well hold views that differ from those of the Minister who has introduced the Bill. They are often open to persuasion by reasoned argument, but will generally react badly to being harangued. </p>
			    
			    <p align="justify"><strong>Do respect the institution and its members:</strong> Yes, it is a people’s Parliament, and we should all feel at home there. And yes, MPs are ultimately servants of the people. But at the same time they occupy an important and exalted position in our constitutional system. They are elected to ‘represent the people and to ensure government by the people’ (section 42 of the Constitution) and there are few more sacred duties in politics than those that come with being a public representative. Without descending into obsequiousness, our interactions with them should reflect the gravitas of their office. </p>
			    
			    <p align="justify">It must also be remembered that Parliament has its own procedures and conventions, most of which have developed over a long period in order to make the institution work as effectively as possible. These must be respected. Civil society representatives should not try to engage in one-on-one arguments with MPs; or challenge the rulings of a Committee Chairperson; or interrupt an MP. Doing any of these things will only undermine your advocacy.</p>
    			    
			    <p align="justify"><strong>Don’t only complain:</strong> Nobody likes a perpetual moaner. Some organisations only ever come to Parliament with a submission when they want to complain about or oppose something in a Bill or a policy document. In 2002, when government proposed a constitutional amendment to allow MPs to cross the floor and join a political party other than the one on whose list they had been elected, well over 20 CSOs made submissions opposing the move. Seven years later, when this amendment was reversed, only two of the 20-odd came back to make submissions welcoming the reversal. </p>
    			    
			    <p align="justify">It’s important to acknowledge the good aspects of a Bill, even when you are generally opposed to it. It’s also only right to acknowledge the good intentions behind a Bill (unless there really are none) even if you feel that its provisions are all wrong. The point here is about even-handedness and fairness. Being seen as a persistent critic, who never has a good word to say, is unlikely to ensure you an attentive hearing. On the other hand, someone who gives praise where it is due and offers constructive support will likely be listened to.</p>
			    
			    <p align="justify"><strong>Do be brief and to the point:</strong> Portfolio committees seldom if ever have time to listen to long, rambling submissions. The best, most energetic MPs, especially those from the smaller parties, are likely to sit on a number of committees, and to have all sorts of other duties and tasks. You need to engage their attention quickly and make it easy for them to grasp your main arguments. There is no point in arriving in the committee room with a 40 page submission and proceeding to read it aloud; after page six the Chair will tell you that your time is up.</p>
    			    
			    <p align="justify">A much better approach is to work out what you can cover in the time allotted (usually a 15 or 20 minute slot for presentation, followed by the same for questions from MPs) and just focus on that. The rest you can leave in your written submission. It is also a good idea to try to anticipate what questions your submission might prompt from the different parties, and make sure that you can answer them. And if you can spare the time, try to be present for as much of the hearings as possible before your scheduled presentation time. That way you can avoid repeating points made by earlier submitters and instead focus on fresh angles and issues.</p>
    			    
			    <p align="justify"><strong>Don’t be partisan:</strong> No one expects CSOs to be politically neutral, or to have no ideological position. But most MPs do expect CSOs to avoid taking overtly partisan or ‘party-political’ stands. If you are an environmental organisation perhaps, or an association dealing with the needs of the elderly, it is fair to assume that among your members are people who support different parties. Should you come to Parliament and take a clearly partisan line you can only undermine your credibility and invite questions about your motives. And you will also, of course, alienate MPs from all the parties other than the one you appear to be supporting.   </p>
    			    
			    <p align="justify"><strong>Do your research:</strong> Make sure that you know what you’re talking about. Understand the issues in the legislation or policy that you are commenting on. Follow the debates, read up on the views of the different parties and be familiar with academic opinion where appropriate. Network with other CSOs which may be more informed than you are. </p>
    			    
			    <p align="justify">Legal language and the way statutes are laid out can sometimes present a problem. If you don’t have a lawyer in your organisation, or someone who is used to ‘legalese’, you will almost certainly find one in another CSO working in your field. </p>
        		    
			    <p align="justify">Applying these few principles ought to ensure that your advocacy is reasonably effective. You may even find that your specific suggestions about including or excluding certain clauses are accepted. Hundreds of Acts since 1994 have benefited from the analysis and inputs of CSOs. But it is also true that much of what is suggested in submissions is not taken up in the final legislative product. What your organisation thinks is important may simply not coincide with what the MPs think.</p>
        		    
			    <p align="justify">That does not mean you have wasted your time, or that you have not made an impact. Parliament is a space, just one of the spaces where democracy happens. Like any space it has to be kept open and fit for purpose. If we all gave up making submissions, interacting with MPs, attending portfolio committee meetings, just because our suggestions did not find their way into law, that space would soon close down. The ethos of openness and public participation would weaken, and that would be the beginning of the end of our participatory democracy.</p>
        		    
			    <p align="justify">There are two levels of influence where Parliament is concerned. This article has been concerned mostly with direct influence, in which we attempt to impact actual laws and policies. But there is also indirect influence, where our presence in Parliament helps to preserve the democratic space and the ethos of openness. The one is as important as the other.</p>
			    
			    <p class="review-author-blurb">Mike Pothier is the Programme Manager of the Catholic Parliamentary Liaison Office (CPLO). He has been involved in parliamentary advocacy since 1997, and has helped to train public policy activists from 30 African countries. Apart from his CPLO work, Mike is also a practising advocate of the High Court.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
