{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Does Parliament work for small parties and do small parties work for Parliament?</h2>
			<div class="date"><i>Narend Singh, IFP MP</i></div>
			<div class="body">
        		    
        		    <div class="inline-img" style="width:178px;"><img src="/static/resources/images/review/Narend_01.jpg" width="178" height="266" alt="" align="left">Photo: RSA Parliament - Narend Singh</div>
            		    
			    <p align="justify">Undoubtedly the smaller parties represented in the fifth Parliament have played a pivotal role in the governance of our country at both National and Provincial levels.</p>
          		    
			    <p align="justify"> “Small Parties” with diverse and often differing views bring not only a wealth of perspective through debate in the Houses, portfolio and select committees, but very importantly also bring the views of their respective constituents before the national legislative discourse. It has occurred on more than one occasion that the smaller parties have been the voices of reason and restored calm to an ‘inflamed’ National Assembly in this fifth Parliament.</p>
            		    
			    <p align="justify">Parliament, in turn does work for small parties as our current electoral model of proportional representation (PR) is designed specifically to create space for a constitutional multi-party democracy However, more can be done. We must continually nurture and strengthen this system of multi-party democracy in order to maintain unity in our rich cultural and ethnic diversity.</p>
          		    
			    <p align="justify">With our country being seized by over a decade of endemic grand corruption, networks of patronage, lack of transparency and accountability to the electorate, and all round failure by the State to respect, protect, promote and fulfil the rights as enshrined in the Bill of Rights, history will be in general and broad agreement that the fifth Parliament was to a large extent, a failure to the people of South Africa.</p>
			    
			    <p align="justify">Party loyalty, especially within the ranks of the ruling party often trumped logical decision making particularly in the upholding of the oversight role of Parliament. Here I quote the parliamentary oversight failures by the ANC as regards the Ad Hoc Committees on Nkandla, the South African Broadcasting Commission (SABC) whereby a “stonewall” defence by the ANC was adopted despite all logical conclusions pointing to the fact that massive maladministration and corruption was taking place. We are only now seeing the various commissions of enquiry that have been instituted exposing all such activity..</p>
     			    
			    <p align="justify">What is required in the sixth Parliament is a parliament that is accountable to the people and to the people alone! Electoral reform along the lines of the former Minister of Home Affairs, Prince Mangosuthu Buthelezi’s commissioned Van Zyl Slabbert report would ensure that the next parliament would be more accountable to the people, many of whose socio-economic hardships have not yet changed since 1994.</p>
        		    
			    <p align="justify">During the fifth Parliament the smaller parties have time and again ‘punched’ far above their weight when measuring same against their national percentage of representation in the National Assembly and National Council of Provinces. Through Private Members Bills (PMBs) such as the Inkatha Freedom Party’s (IFP) Medical Innovation Bill or the African Christian Democratic Party’s (ACDP) Labour Amendment Bill, we have seen timeous interventions by smaller parties that have had a net-positive effect and taken our country forward. </p>
        		    
			    <p align="justify">Strong and influential positions have also been taken by smaller parties and influenced national debate  on issues such as the rising fuel prices, social welfare grants, foreign qualified medical students, the establishment of innovative centres for medical research and the decriminalisation of hemp for commercial purposes, to name but a few. </p>
        		    
			    <p align="justify">Additionally, smaller parties continue to make meaningful contributions in the portfolio and select committees which are the veritable engine rooms of Parliament in respect of legislative drafting and oversight.</p>
 			    
			    <p align="justify">The ‘cut and thrust’ of the next government must be directed at reducing inequality and breaking the shackles of poverty through quality education, and job creation through inspiring confidence in our economy which will be led  principally by a government and a Parliament that holds sacrosanct, the rule of law and the Constitution. </p>
        		    
			    <p align="justify">To assist smaller parties in more effectively carrying out their mandates to their constituents, the sixth Parliament must ensure that these parties receive a greater allocation of speaking time in both houses as well as greater capacitation in the form of access to dedicated research and administrative staff, increased logistical capacity and funding. </p>
         		    
			    <p align="justify">The citizenry must be participative in this process. Freedom, after all, is as much a right as it is a responsibility. It is not as many erroneously believe, - an entitlement.</p>
        		    
			    <p align="justify">Self-help and self-reliance of an active citizenry working in partnership with an honest government and elected Members of Parliament, whose principal aim is the service of the nation and not personal enrichment is paramount if we are to collectively uplift this nation now and into the future. Peace and prosperity is the responsibility of all South Africans.</p>
        		    
			    <p align="justify">The establishment of a ‘Chapter 9’ Integrity Commission should be one of the first orders of business of the sixth Parliament. The establishment of such an independent Chapter 9 institution which deals specifically with the grand corruption that occurred under the fourth and fifth Parliaments must be confronted head-on! A specialised corruption court must also be established to prosecute those found guilty of graft, as failure to do so at this critical juncture will only lead to failure as a state.</p>
        		    
			    <p align="justify">Thus far nothing has been done to recover misappropriated funds and this has been one of the biggest failures of the fifth Parliament as it has not properly executed its mandate of oversight of the executive and justice administration.</p>
        		    
			    <p align="justify">A proverbial line must be drawn in the sand come May 8, 2019 succinctly emphasising, “This far and no further”, as regards cadre deployment, patronage networks and grand corruption. If we fail in this task, the sixth Parliament and the nation will be doomed.</p>
        		    
			    <p align="justify">In respect of parliamentary representation in the sixth Parliament, we expect a shifting of the political playing fields with more votes going towards the smaller parties. The era of coalition politics is upon us and we look forward to this as it will provide a more balanced democracy.</p>
        		    
			    <p align="justify">The fifth Parliament will be consigned to the history books undeniably as a Parliament which either heralded our doom as a nation, or as a watershed moment in democratic South Africa in which we ushered in the changes required for a sustainable and successful country, beginning with the sixth Parliament and moving forwards.</p>
        		    
			    <p class="review-author-blurb">Narend Singh MP was the IFP Chief Whip in the National Assembly during the Fifth Parliament and is Treasurer-General of the IFP.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
