{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">The Committee System of Parliament: Are the “engine rooms of Parliament” exercising their powers fully and possible areas of reform</h2>
			<div class="date"><i>Martin Nicol</i></div>
			<div class="body">
			    <p align="justify"><strong><a href="/static/resources/docs/Martin_Nicol-Engine_Rooms_of_Parliament.pdf" target="_blank">Read the full article.</a></strong> </p>
          		    
			    <h3>Executive Summary</h3>
			    
			    <p align="justify">During the term of South Africa’s Fifth Parliament, from 2014 to 2019, more than 60 committees were constituted. Every government department/minister has their work “shadowed” by a committee in the National Assembly – these are called Portfolio Committees. There are also Select Committees in the National Council of Provinces (NCOP), which focus on provincial issues and can encompass several departments. There are Standing Committees on financial matters and ad hoc committees set up to deal with specific issues (such as the Public Protector’s report on Nkandla in 2015). Committees meet, generally, at least once a week during the four Parliamentary terms, which take up about 28 weeks of the year.</p>
			    
			    <p align="justify">Committees spend a lot of time, effort and resources on their activities and their output is prodigious in the form of committee reports is prodigious.  These formal committee reports are published, on a daily basis, in a document called the “ATC” – “Announcements, Tablings and Committee Reports”. </p>
			    
			    <p align="justify">The number of pages of the ATC is one measure of the work done by Committees – and of how they are exercising their powers.</p>
			    
			    <p align="justify">In the dying years of the Apartheid parliament, the ATC was comparatively short – about 550 pages a year, easily fitting into two slim volumes.</p>
			    
			    <p align="justify">The number of pages in the ATC rose to an average of 1 000 pages a year in the first democratic Parliament and continued rising to average 2 682 pages a year by the end of the third Parliament in 2008. Then came the fourth Parliament, and the number of pages in the ATC leapt to record levels, averaging 5 263 pages a year — a direct effect of the Money Bills Act, as explained below. The fifth Parliament followed the rising trend, with 9 160 ATC pages in 2017 alone, and 9 017 in 2018. The ATC now is only published in an electronic format. </p>
    			    
			    <p align="justify">Much of the actual work of Parliament is done by committees – considering legislation, hearing presentations on the work and performance of departments, deliberating on evidence given in public hearings. This is why committees are correctly described metaphorically as “the engine rooms of Parliament”.</p>
			    
			    
			    <p align="justify">Oversight of the executive arms of government by committees is a relatively new feature of parliamentary government worldwide. All governments are uneasy about scrutiny - particularly when this scrutiny leads to questions about delivery on promises made by politicians and in election manifestos.</p>
			    
			    <p align="justify">There are always difficulties with parliamentary scrutiny because members protect their parties when they are in government – in South Africa this is a very strong feature, because of the party list system. Voters vote for parties, not individual constituency candidates. Parties expel members when they are not loyal, and they lose their jobs in Parliament.</p>
			    
			    <p align="justify">That is why scrutiny by parliament is never enough in a democracy – the press, academic researchers, think tanks, NGOs and groups like PMG are all vital components contributing to democratic governance.</p>
			    
			    <p align="justify">But Parliamentary Committees have considerable powers and can be effective in calling the executive to account.</p>
    			    
			    <br><h4><strong>The powers of committees</strong></h4>
    			    
			    <p align="justify">In the South African Parliament, committees get their powers from the Constitution and from the Rules of Parliament. Section 42(3) of the Constitution reads: “The National Assembly is elected to represent the people and to ensure government by the people under the Constitution. It does this by choosing the President, by providing a national forum for public consideration of issues, by passing legislation and by scrutinizing and overseeing executive action.”</p>
    			    
			    <p align="justify">Section 92 of the Constitution adds that “Members of the Cabinet are accountable collectively and individually to Parliament for the exercise of their powers and the performance of their functions”, and they “must provide Parliament with full and regular reports concerning matters under their control”. These reports are reviewed in the committees which are an extension of the House. Decisions are made by the National Assembly when a committee reports its recommendations to it. </p>
    			    
			    <p align="justify">In 2016, the credibility of Parliament (on a declining trend for a decade according to an HSRC survey) suffered its hardest blow, due to the inaction of one of its committees.  The Constitutional Court found that the National Assembly had not acted in accordance with “its obligations to scrutinise and oversee executive action and to maintain oversight of the exercise of executive powers by the President.”  </p>
    			    
			    <p align="justify">This was because of the decision of the majority of members of the National Assembly to endorse the report of the “Ad Hoc Committee on Police Minister's Report on Nkandla” that was appointed by the National Assembly in 2015. </p>
    			    
			    <p align="justify">The Constitutional Court decision in the Nkandla matter was particularly telling, because it held up a mirror to Parliament and said it was not doing its job properly. </p>
 			    
			    <p align="justify">The Court made it clear that if the rules and traditions of Parliament – and by extension, its committees – are in the mode of simply listening to reports and rubber-stamping their acceptability, this will not satisfy constitutional obligations. The word “‘scrutinise’ (wrote the Chief Justice) means subject to scrutiny. And ‘scrutiny’ implies a careful and thorough examination or a penetrating or searching reflection.”</p>
			    
			    <p align="justify">The Court found that in considering the Public Protector report on the abuse of state resources in the case of Nkandla, Parliament had neglected to subject executive action to real scrutiny.</p>
 			    
			    <p align="justify">The Court reflected that, as with ‘scrutiny’, ‘oversight’ is not a passive activity of merely looking things over and the National Assembly “bears the responsibility to play an oversight role over the Executive and State organs and ensure that constitutional and statutory obligations are properly executed”. </p>
			    
			    <p align="justify">It is not clear that Parliament reacted specifically to the Nkandla reprimand in its committee work after 2016. It was a change in the political climate that led to committees mounting several probing enquiries – into state capture in Eskom, into corruption in Prasa and into maladministration in the SABC. This was not done evenly. The efforts to question the Minister of Mineral Resources on his dealings with the Guptas were a farce – with Parliament itself (in the person of the House Chair of Committees) denying the Portfolio Committee any resources to pursue this enquiry.</p>
    			    
			    <br><h4><strong>How committees used their powers in the 5<sup>th</sup> Parliament</strong></h4>
			    
			    <p align="justify">The Money Bills Act of 2009 allows committees of the National Assembly to give explicit advice to the National Treasury each year in October on what should be in the next year’s budget – which is released in February. The instrument used to give this advice is a document called the Budgetary Review and Recommendation Report (BRRR). </p>
    			    
			    <p align="justify">What could have been a good idea was attached to “the Parliamentary Budget Cycle”. This meant that every committee has to spend a good part of its precious meeting time verifying and questioning whether each department and state entity had followed the prescriptions of the PFMA – the tortuous Public Finance Management Act and associated laws on government procurement.  It may give structure to the oversight process but the disadvantage is that it exhausts committee members before they are able to make substantive contributions.</p>
    			    
			    <p align="justify">Parliament has to duplicate functions already performed by the Auditor General, while lacking the competence and the time of the AG. The meetings are not completely wasted – as departments can be quizzed on their programmes and plans and called to account on delays and poor audit results.</p>
    			    
			    <p align="justify">It is a tradition – or a habit – that the department and its entities are simply given the floor in budget cycle meetings. They produce pretty much the same presentation over and over again – looking at mandates, mission statements, organograms and projects which do not change much across a five-year parliamentary term. All that changes are specific figures. The PowerPoint presentation material duplicates the information already formally tabled. It is an ordeal for members to sit though these illustrated lectures, which pass as oversight. Long departmental presentations seem designed to limit engagement time on the content. Members are expected to master both the tabled reports and the PowerPoint slides in a very short space of time. </p>
    			    
			    <p align="justify">There is a “tick-box” quality to many Committee meetings, as agendas are packed to comply with the requirements for documents tabled in Parliament to be presented at a Committee meeting. The committee reports, duly published in the ATC, often simply repeat the same information. “Oversight” over executive action is based on information provided by the executive itself!</p>
    			    
			    <p align="justify">The effort spent on “budget cycle” activities prevents committees from spending time were they should – on interrogating if each department is implementing its service delivery legislation. The BRRR is completed in October, but budget cycle events take place throughout the year:</p>
    			    
			    <p align="justify">The effect in practice is to crowd out oversight on non-financial issues, for example, monitoring the implementation effects of legislation and on cross-cutting issues that affect several departments. When Parliament decided to frame its oversight role within the railway track of the budget cycle, the (perhaps) unintended consequence was to reinforce a silo mentality for all oversight activities. Budgets are necessarily divided strictly by department.</p>
    			    
			    <br><h4><strong>Possible areas of reform</strong></h4>
    			    
			    <p align="justify">Parliament is supposed to hold the executive to account. It is difficult to do this in practice. I have sat in many committee meetings as members – from all parties – expressed their frustration when their questions are not answered, when promises to provide information were not honoured and when their carefully considered recommendations in the BRRR were simply ignored by Treasury. </p>
    			    
			    <p align="justify">What tools does a Committee have for holding a Department/Minister to account when resolutions and requests in committee meetings and even written reports to the National Assembly are ignored by the executive? One such tool is to invoke Rule 253 which provides for the establishment of an ad hoc committee to consider a particular issue. The second is tantamount to nuclear war: proposing a vote of no confidence in the Cabinet.</p>
    			    
			    <p align="justify">The Constitutional Court judgement in Mazibuko v Sisulu and Another in 2013 said that the right to initiate and move a motion of no confidence in terms of section 102(2) of the Constitution “is perhaps the most important mechanism that may be employed by Parliament to hold the executive to account, and to interrogate executive performance.”</p>
    			    
			    <br><h4><strong>Reform in practice</strong></h4>
    			    
			    <p align="justify">There is a need to identify more accessible reforms to improve the effectiveness of Parliament’s committees. Reforms that are within the power of each committee may involve deciding to modify directives from officials in Parliament or party whips.</p>
    			    
			    <p class="review-indent"><strong>Allow Committees to take charge of meeting agendas, public hearings, oversight visits</strong><br>
				Committees led by weak or inexperienced chairs fall by default into a pattern where as much as half of all meeting agendas are automatically dictated by the budget cycle. This diverts attention to the money spent by the department and takes it away from oversight over the implementation of laws managed by the department. An initial reform would be for committees to be permitted (by the House Chair of Committees) to place less emphasis on budget issues if they have a planned alternative agenda programme to adopt. Each committee should plan its oversight on items and themes it believes to be of greatest importance to service delivery. 
			    </p>
    			    
			    <p class="review-indent"><strong>Assist Committees to follow up on past resolutions, recommendations and requests</strong>
				<ul>
    				    <li>Post adopted minutes for committee meetings online – and distil from them the follow-up issues.</li>
    				    <li>Ensure the Parliamentary Liaison Officers for the department/minister have copies of the minutes and are aware of outstanding questions and information requests.</li>
    				    <li>Each quarterly term, the committee should review the resolutions, recommendations and requests that have emerged and which need to be prioritised for meetings in the next term.</li>
				</ul>
			    </p>
    			    
			    <p class="review-indent"><strong>Open more of the work of Committees to public scrutiny</strong><br>
				Other Parliaments – such as those in Canada, Australia and India – have far more Committee information publicly available online than does “the People’s Parliament”. This would include adopted minutes, responses by the executive to Committee queries and briefs prepared by the Research Unit. 
			    </p>
    			    
			    <p class="review-indent">Get input beyond the Executive in Committee Meetings
				The views of independent experts and stakeholders should be available so committees can get real impressions on how legislation is implemented in practice. The innovative use of colloquiums was pioneered during the Fifth Parliament, particularly by the chairs of Trade & Industry and Environmental Affairs. Parliament should make it easier to convene them.
			    </p>
			    
			    <br><h4><strong>Blue sky reforms</strong></h4>
        		    
			    <p align="justify">Parliament has commissioned many reports on how to improve the effectiveness of its oversight. Independent reports since 1999 have mentioned the following possibilities – all of which are beyond the powers of committees, however. </p>
        		    
			    <p class="review-indent"><strong>Constitutional change: Committees would have the freedom to work better if members were directly elected to Parliament from constituencies</strong><br>
				Committees have more freedom in a constituency-based system – this is a long shot as the proposals for this radical reform such as the Van Zyl Slabbert report have been set aside. (Proportionality between parties could be maintained by mixing constituency elected individuals with additional “proportional representatives” as in SA’s local government system). 
			    </p>
        		    
			    <p class="review-indent"><strong>Rules Change: Committee chairpersons should come from all parties</strong><br>
				Chairpersons of committees should not come all from the ruling party. Chairpersonships should be allocated between parties, according to a proportional formula. This happens in other legislatures. In SA, only SCOPA traditionally has a chair not from the ruling party. A wider pool from which Parliament can elect chairs of committees could improve the ‘quality’ of chairs.
			    </p>
        		    
			    <p class="review-indent"><strong>Rules Change: delete the rule on “matters sub judice”</strong><br>
				The sub judice rule is no longer part of South African law. But it remains on the rule book of Parliament as a hangover from the colonial and Apartheid eras. The rule – even as it is written now – need not divert committees from fully probing the actions of the executive. But it does in practice. Committees are easily fooled by smooth-talking lawyers and Directors General into thinking that when a matter is before the courts it is “sub judice” and they can ask no probing questions. 
			    </p>
			    
			    <br><h4><strong>The intractable silo problem</strong></h4>
        		    
			    <p align="justify">I mention just one problem that completely foxes Parliament and its portfolio committees. It is well known to all as the problem of silos. As effective as some committees might be in surveying their portfolios, Parliament’s biggest challenge is dealing with accountability for programmes that cut across departmental mandates. </p>
        		    
			    <p align="justify">The fact is that departments are competitors, not co-operators. And the system of portfolio committees – where each committee is tied in to a separate budget vote and has to shadow just one department – exacerbates the structural difficulties of getting departments to work together.</p>
        		    
			    <br><h4><strong>Conclusion</strong></h4>
        		    
			    <p align="justify">During the Fifth Parliament, the institution provided a framework of administration and support that allowed its committees to function well – and, if they chose, to act in ways that tried to hold the executive to account. The effectiveness of committees depends on the Members, who are elected for political reasons, not because they are ‘committee people’. The capability and experience of the chairperson is critical to committee effectiveness. Reform proposals need to take account of the fact that each Parliament will have its share of less committed members and less capable chairpersons. It is Members who must both lead and direct oversight processes. Committees have the power and authority to help Parliament improve as a vehicle for democracy – it is up to them to use it.</p>
			    
			    
			    <p class="review-author-blurb">Martin Nicol worked as a non-partisan Parliamentary researcher for the Portfolio Committee on Mineral Resources during the Fifth Parliament. These are his personal views.  </p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        		
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
