{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">How does the PR system affect the quality of input in Parliament? </h2>
			<div class="date"><i>Steven Friedman</i></div>
			<div class="body">
          		    
			    <p align="justify">OUR electoral system does not make vigorous and open debate on the floor of Parliament easy. But it does not make it impossible. And there is no guarantee that another system would improve parliamentary debate.</p>
			    
			    <p align="justify">It has been fashionable for some time to complain that the closed proportional list system, in which voters select parties, not candidates, prevents vigorous democracy and robust parliamentary debate. The by now familiar argument is that the system places all power in the hands of party leaders who can punish independent thinkers by depriving them of places on party lists. This is said to ensure that elected representatives are more interested in sticking to the party line than saying what they really think – or than standing up for voters in a way which may anger the leadership. The result, we are told, is that parliamentary debates are sterile and predictable expressions of what party leaders think, not what they are meant to be – a serious but lively exchange of opinions based partly on expressing the varied interests of voters.</p>
			    
			    <p align="justify">Like many fashionable theories, this one is partly true – but it also ignores some important realities which mean that it is not entirely true.</p>
    			    
			    <div class="inline-img" style="width:604px;"><img src="/static/resources/images/review/Steven_01.jpg" width="604" height="326" alt="" align="left">Photo: Parliament of RSA</div>
    			    
			    <p align="justify">It is certainly true that debate on the floor of the Parliament is an entirely predictable statement of party positions. In more than a few parliaments, there is much speculation before an important vote about which MPs will support or oppose a measure. Here, we know before the debate starts what MPs will say and how they will vote – unless the Speaker agrees to allow a secret ballot on a motion which has happened only once, when members voted in secret on a motion of no confidence in the President.</p>
    			    
    			    
    			    
			    <p align="justify">This measure had no impact on the quality of debate, since governing party members who planned to express no confidence in their president were not willing to reveal this by criticising him on the floor of the House. It also sacrificed a core democratic principle – that voters should know how their representatives vote so that they can hold them to account. It also did not change the outcome – the motion was defeated. So, while it generated some excitement, it did not change the functioning of Parliament in any real way and severely damaged democracy by allowing members to hide from the people who voted for them.</p>
    			    
    			    
			    <p align="justify">It is worth mentioning that, on a couple of occasions, MPs have broken with the party line not by voting against it but by failing to vote at all. When the first parliament passed a law permitting abortion, a significant number of governing party members stayed away – later, when the Protection of State Information Bill was passed, two ANC members avoided voting. In the first case, the dissenters were not punished by their party, presumably because it was not a core policy issue. In the second, they were disciplined although they remained members, presumably because the measure passed comfortably.</p>
    			    
			    <p align="justify">These exceptions do not disprove the broader point that parliamentary debates are more about expressing loyalty to the party than debating the people’s business. The exceptions are very rare, one created a precedent which threatens democracy, and they had no effect on either the debate or the outcome. So far, the fashionable thinking seems entirely correct. But there is more to the question than this.</p>
    			    
    			    
			    <br><h3>The Different World of Committees</h3>
			    
			    <p align="justify">Parliament’s debates, of course, do not occur only on the floor of the house. They also happen in committees, which are meant to monitor specific ministries, but also at times special committees are appointed by the house. And in the committees, debate is far less predictable and more interesting.
				A special committee which attracted public attention – because its proceedings were televised – was the ad hoc inquiry into the SA Broadcasting Corporation. While opposition MPs’ contributions were predictable, several governing party members showed considerable independence, taking positions of which the then president of the party and the country could not possibly have approved.
				This may seem an isolated exception but, as a general rule, portfolio committees are far more likely to show independence from the governing executive despite the fact that the majority party obviously occupies most of the seats. They might well be more inclined to hold departments to account than to challenge bills introduced by the majority party, but committees do not simply rubber stamp bills. The Protection of State Information Bill is again an example – it was altered significantly by the committee which examined it. The committee became the site of much debate and compromise between parties and citizens’ organisations campaigning to soften the bill.
			    </p>
			    
			    <p align="justify">If we go back more than a decade, to 2007 and 2008, portfolio committees vigorously held the executive to account – members did co-operate across party lines to challenge the government and force it onto the back foot. This ‘golden age’ of committee independence ended in 2009 when several portfolio committee chairs were replaced because they were too independent but the genie was not entirely returned to the bottle: committees continued to debate government actions rather than to simply approve them, although certainly not as vigorously as in the cases discussed here. </p>
			    
			    <p align="justify">There is an important reason for the rebellion of 2007/8 and cases such as the SABC committee in 2017 – factional differences in the governing party. In the earlier period, the portfolio committee rebels were critics of then president Thabo Mbeki who lost the ANC presidency at the end of 2007 and the state presidency late the following year. In the SABC committee, they were opponents of the faction headed by then president Jacob Zuma. Some of the committee chairs and ANC members took the positions they did to express loyalty to a particular faction. Others saw the factional battle as an opportunity to act as the system meant them to because the factional battles weakened and divided the leadership, making it unlikely that they would be punished or silenced. And it is no coincidence that the crackdown which sidelined key committee chairs happened when Zuma had consolidated his hold on the ANC. </p>
    			    
			    <p align="justify">So committee chairs and members do not have total freedom – a party leadership firmly in control is likely to curb them. But they have more than the fashionable theory suggests because, since 2007, there have always been committees in which there is real deliberation.</p>
    			    
			    <div class="inline-img" style="width:606px;"><img src="/static/resources/images/review/Steven_02.jpg" width="606" height="316" alt="" align="left">Photo: Parliament of RSA</div>
    			    
			    
			    <p align="justify">Why is it possible for MPs to buck the leadership’s line in a list system without losing their seats? A key reason is that party lists are not drawn up, as the theory implies, by small groups of leaders in secret session. At least in the largest parties, lists are meant to be drawn up by party branches. And this, of course, means that the leadership does not enjoy the total control which the theory claims. </p>
			    
			    <p align="justify">The parliamentary inquiry also presented the legislature — and to large extent politicians — with an opportunity to be seen to be self-correcting following years of looking the other way as senior officials and politicians destroyed the SABC. The inquiry was an eye-opener on what Parliament oversight could deliver when politicians put aside party and factional interests and focus on the constitutional obligation to hold the executive and state entities to account.</p>
    			    
			    <p align="justify">In fact, it was earlier that year that the fifth Parliament encountered its lowest moments when on 31 March 2016, the constitutional court made damning findings against the National Assembly regarding the Nkandla matter.</p>
    			    
			    <p align="justify">It is best not to make too much of this. In both the governing party and official opposition, party leaderships do wield influence over the list process and they can ensure that at least some of their favourite politicians get onto the list in high positions (the third largest party does not seem to give members any real say over the lists). But, in parties which do allow branches to elect list members, the parliamentary dissidents can remain members as long as they have enough support among the membership to make it very difficult for the leadership to bump them off the list. The governing party members who took more independent positions enjoyed the support of a faction whose members were willing to vote for them, and this enabled them to remain in parliament despite the leadership’s unhappiness.</p>
 			    
			    <p align="justify">So, while the electoral system does constrain debate in Parliament, and does mean that the debates on the floor are usually sterile rituals, it does not cut off all opportunities for members to exchange views and compromises which can lead to decisions which leaderships would prefer to avoid. There is always some leeway for members to act independently in committees – these openings grow when factional disputes divide or distract party leaders.</p>
    			    
			    <br><br><h3>The More Things Change?</h3>
			    
			    <p align="justify">Nor is the fashion right to insist that a different electoral system would necessarily usher in an era of independent MPs, beholden to voters rather than party leaders, and therefore willing to say in Parliament what they think rather than what the leadership expects them to think.</p>
 			    
			    <p align="justify">The most obvious evidence is local government, where half the councillors are elected in wards, creating the mixed system of proportional and constituency election which many supporters of the fashion prefer. There is no evidence that municipal councils are the site of vigorous debate and a serious desire by councillors to debate the people’s concerns rather than those of party leaders.</p>
			    
			    <p align="justify">The chief reason for this is also, ironically, one of South African democracy’s strengths: party identities are strong and so politicians as well as voters are likely to identify strongly with a party. This gives its leadership considerable power, even in a constituency system: if leaders can exert pressure on branch members or use their power in other ways to ensure that only their candidates are nominated, the ward councillor may be as beholden to the leadership as they are meant to be in the system used in national and provincial elections. In theory, they could rely on the support of their constituents to buck the party leadership but, since they are likely to have been nominated precisely because they are loyal, they are unlikely to try this.</p>
			    
			    <p align="justify">This reality is reinforced by the tendency of all the parties to give grassroots members far less power than they should enjoy. The fact that members tolerate this could be a product of the fact that party loyalties are strong but, whatever the cause, it usually means that leaders’ control is strong whatever the electoral system in use.</p>
    			    
			    <p align="justify">This may change as party loyalties loosen – this is happening, but much more slowly than we are told. But, until it does, changing the electoral system might have little or no influence on the quality of deliberation in Parliament.</p>
    			    
			    <p align="justify">A more fruitful route to change may be to concentrate on decision-making within parties. This analysis has argued that independence in Parliament is made more possible when MPs know that they can rely on party members to continue to support them even if they disagree with the leadership. It follows logically that, the more control party members have over the selection of candidates, the more likely is it that Parliament will become a site of deliberation.</p>
    			    
			    <p align="justify">One way of achieving this would be to introduce a primary system in which party members directly choose candidates. This need not necessarily be a full primary system in which voters who register as supporters of a party are entitled to vote when it chooses candidates – although this could be introduced without interfering in the routine internal business of parties. But, at the very least, candidates could be elected by all members of the party, not just the branch activists, and the elections could be supervised by the Independent Electoral Commission to ensure that the outcome really did reflect the choice of members.</p>
    			    
			    <p align="justify">There are other options. But, whatever method is used, a more vigorous Parliament is likely under current political conditions if reformers concentrate more on ensuring that candidates are chosen by party members rather than leaders than on an electoral system change which would probably offer few of the benefits which its supporters claim for it.                                                </p>
			    
			    
			    <p class="review-author-blurb">Steven Friedman is Research Professor in the Humanities Faculty of the University of Johannesburg.  He is a political scientist who has specialised in the study of democracy.</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="/parliament-reviews">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
        		
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}
        	
		    </div>
            	    
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}
        		
		    </div>
         	    
  		    
		</div>
	    </div>
</div>
{% endblock %}
