{% extends "base.html" %}
{% block title %}Parliament Review | PMG{% endblock %}
{% block page %}
<link rel="stylesheet" href="/static/resources/css/review.css">
<div class="container container-body">
  
    <article class="page">
	
	<section class="single-blog">
	    <div class="row">
		<div class="col-sm-9"> <!-- CHANGED COLUMN WIDTH - Hannah -->
		    <div class="single-post">
      		
			<!-- START CONTENT - Hannah -->
			<h2 class="title">Observing Parliament: my reflections</h2>
			<div class="date"><i>Andisiwe Makinana</i></div>
			<div class="body">
			    <p align="justify"><strong>#paybackthemoney, red overalls and gumboots in parliament benches, the deployment of a signal jammer to block internet signal, securitization of institution and protesting varsity students breaking through the gates into the precinct — the fifth administration of Parliament had it all — drama, suspense, danger and outright undermining of the same laws the national legislature drafted including the country's constitution, ANDISIWE MAKINANA writes:</strong> </p>
			    
			    <p align="justify">"Phakama Ramaphosa, ixesha lisondele" [Rise Ramaphosa, the time has come] sang ANC MPs in unison, while on their feet and raising their hands as if to push up the roof. "In a court of law, no singing is allowed..." joked Chief Justice Mogoeng Mogoeng who had just announced Cyril Ramaphosa as the duly elected president of the republic. This was on 15 February 2018 in the National Assembly chamber, Ramaphosa had just been elected the democratic South Africa's fifth president.</p>
			    
			    <p align="justify">Just over two years earlier in October 2015, the same ANC MPs remained stone faced in their benches as #FeesMustFall students protested outside the gates of Parliament singing an adaptation of the same song with the words to the effect that "I'm weeping, my child, for the time has come". This was at the height of the #FeesMustFall campaign, which saw rolling protests by university students in campuses across the country and which at times became violent leading to arrests of a number of student leaders. Students were demanding "a free, quality and decolonized education". They would later that afternoon push through the gates of Parliament into the precinct demanding to be addressed by Cabinet ministers. Police responded by firing stun grenades and students' screams could be heard as the backdrop to Nhlanhla Nene's mid-term budget policy statement that year.</p>
			    
			    <p align="justify">Violent eruptions were a common feature of the fifth Parliament, so much that the review of the parliamentary rulebook had to be fast-tracked to ensure rules provide for neutralizing disruptive MPs.</p>
			    
			    <p align="justify">It's impossible to tell the story of the fifth Parliament without telling the story of the Economic Freedom Fighters, the 6% party that arrived in Parliament in May 2014 with 25 MPs in the National Assembly and six in the National Council of Provinces. The party shaped the character of this past term of parliament: combative, no-holds barred and at times crude. In the build-up to the May 2014 general elections, the EFF leaders promised to bring "a revolution" to Parliament even if it came at the expense of rules and conventions, and boy did they rock the place.</p>
    			    
			    <div class="inline-img" style="width:450px;"><img src="/static/resources/images/review/Andisiwe_01.jpg" width="450" height="284" alt="" align="left"></div>
    			    
			    <p align="justify">
				The EFF also arrived in Parliament with a clear target in Jacob Zuma, the controversial president with numerous clouds hanging over his head, but none as big as the public protector's Secure in Comfort report which found that he had unduly benefited from security upgrades at his private home in Nkandlaz. So when Zuma appeared before the National Assembly for his first quarterly question and answer session on 21 August 2014, the EFF did not only seek to embarrass him but also exposed the National Assembly's shoddiness as it had by all accounts sought to sweep the then five month-old report under the carpet. Despite Public Protector Thuli Madonsela's damning findings and recommendations, the National Assembly, to which Zuma constitutionally answered, absolved him from compliance with Madonsela's remedial action.</p>
			    
			    
			    <p align="justify">The Q&A session ended abruptly with chants of #paybackthemoney ringing across the chamber after Zuma sought to evade the question as to when he would pay back the money. Not even Speaker Baleka Mbete, then National Chairperson of the ANC and loyal Zuma supporter, could shield the president from the EFF onslaught and for the first time in the democratic era, a session of Parliament had to be suspended indefinitely. The events of that day were indeed a turning point on how Parliament operated and conducted its business. </p>
			    
			    <p align="justify">The EFF's disruptive and defiant approach to Parliament was imitated on many other platforms inside and outside the national legislature including by Parliament's own striking employees who occupied the national assembly public gallery late 2016 forcing a cancellation of a plenary session.</p>
			    
			    <p align="justify">It was not always turbulence.</p>
			    
			    <p align="justify">The fifth Parliament initiated two groundbreaking inquiries, exercises for which the legislature received wide recognition and applause. The first inquiry – an in depth investigation into the affairs of the public broadcaster – was held in 2016, followed by a similar process looking into governance failures at Eskom a year later. An inquiry into the early naturalization of the Gupta family was unfortunately not concluded. </p>
    			    
			    <p align="justify">The SABC inquiry was hard hitting. It came on the back of many years of governance failures which had an impact not only on the quality of the broadcaster's bottom line but compromised the quality of its core business – news. </p>
			    <img src="/static/resources/images/review/Andisiwe_02.jpg" width="694" height="187"><br><br>
			    <p align="justify">The parliamentary inquiry also presented the legislature — and to large extent politicians — with an opportunity to be seen to be self-correcting following years of looking the other way as senior officials and politicians destroyed the SABC. The inquiry was an eye-opener on what Parliament oversight could deliver when politicians put aside party and factional interests and focus on the constitutional obligation to hold the executive and state entities to account.</p>
    			    
			    <p align="justify">In fact, it was earlier that year that the fifth Parliament encountered its lowest moments when on 31 March 2016, the constitutional court made damning findings against the National Assembly regarding the Nkandla matter.</p>
    			    
			    <p align="justify">The court found that the National Assembly had failed to fulfill its constitutional obligations to hold Zuma accountable to ensure the effectiveness, rather than subversion, of the Public Protector's findings and remedial action. The Assembly had instead adopted then Police Minister Nathi Nhleko's report, which concluded among other things that a swimming pool is a security measure called a fire pool.</p>
 			    
			    <p align="justify">On the administration side, a lot more questions were asked of this parliament term than any other.
				The institution appointed a new administrative boss in December 2014 and he had a knack for the finer things in life at a time when the legislature and the rest of the country were being told to be prudent. Parliament staff also went on an unprecedented five-week strike in 2016, which became violent at times with police clashing and releasing teargas against striking employees inside the precinct.</p>
			    
			    <p align="justify">A senior official in the institution's international relations unit, Lennox Garane committed what he called "a protest suicide" in September 2018. This may have signalled the darkest day for Parliament. In his suicide note, Garane bemoaned workplace bullying, a topic which resonated with a few employees of the institution.</p>
 			    
			    <p align="justify">Ramaphosa's election in February 2018 brought some calm to the national legislature. With the exception of one or two sessions where MPs literally exchanged blows, the plenary sessions have been uneventful. Even the EFF calmed down and surprised many when despite threats to disrupt the February 2019 State of the Nation Address, they didn't.</p>
			    
			    <p align="justify">Whether the so-called new dawn will bring sense to Parliament still remains to be seen. It would be naive to attribute the few changes seen over the past 18 months to this phenomenon discounting the ANC's own factional score settling.</p>
			    
			    <p align="justify">The one thing certain going to the sixth Parliament is the intervention yet again of Mogoeng. Parliament's unfinished amendment of the Bill of Rights to provide for expropriation of land without compensation will certainly end up in the constitutional court and it will be no laughing matter.</p>
			    
			    
			    <p class="review-author-blurb">Andisiwe Makinana is a long-serving journalist at Parliament and chairperson of the Parliamentary Press Gallery Association</p>
    			    
    			    
			    <span class="page-sharing">
				Share this page:
				<span class="btn-group" role="group">
	 			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
	  			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
				</span>
			    </span>
          		    
			</div>
		    </div>
		</div>
    		
		<!-- SIDEBAR -->
		<div class="col-sm-3">
		    <h1>&nbsp;</h1>
		    <span class="page-sharing">
			Share this page:
			<span class="btn-group" role="group">
			    <a type="button" class="btn btn-sm btn-default page-share facebook"><i class="fa fa-fw fa-facebook"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share twitter"><i class="fa fa-fw fa-twitter"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
			    <a type="button" class="btn btn-sm btn-default page-share email"><i class="fa fa-fw fa-envelope-o"></i></a>
			</span>
		    </span>
    		    
		    <h1 class="review-sidebar-heading"><a href="2019Review_Landing.html">Review of the <b>5<sup class="lowercase">th</sup> Parliament</b></a></h1>
     		    <div class="sb-articles">
			<h2 class="sb-category-heading">Articles</h2>{% include 'review/_articles.html' %}
			
			
		    </div>
            	    
		    <div class="sb-interviews">
			<h2 class="sb-category-heading">Interviews</h2>{% include 'review/_interview.html'%}{% include 'review/_interview.html'%}
        		
		    </div>
		    <div class="sb-stats">
			<h2 class="sb-category-heading">Statistics</h2>{% include 'review/_stats.html'%}{% include 'review/_stats.html'%}
		    </div>
  		    
		</div>
	    </div>
</div>
{% endblock %}
