{% extends "base.html" %}

{% block page %}
<h1>Access to the PMG Website</h1>

<p>PMG has a subscription fee for users for access to the minutes of the following committees. Click here to establish if you are exempt from paying a subscription.</p>

<p>All other committee minutes are freely accessible. </p>

<h3>Subscription Options</h3>
<p><ul>
	<li>Annual Subscription: <strong>R4 900</strong><br>
	Choose 4 of the above committees and receive comprehensive minutes and documents for 12 months. Should your organization require access to more than 4 of the above committees, this is possible according to the list below.</li>

	<li>Short access (subscribe to one committee for 3 months): <strong>R1 500</strong></li>

	<li>Single meeting report plus documents: <strong>R375</strong> (email <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a> &amp; receive report immediately on proof of payment).</li>
</ul></p>

<p>
	<h3>2015 Price List (PMG does not charge VAT)</h3>
	<ul>
		<li>Basic subscription (access to 4 committees): <strong>R4 900</strong></li>
		<li>Basic subscription plus 1 extra committee: <strong>R5 500</strong></li>
		<li>Basic subscription plus 2 extra committees: <strong>R6 100</strong></li>
		<li>Basic subscription plus 3 extra committees: <strong>R6 700</strong></li>
		<li>Basic subscription plus 4 extra committees: <strong>R7 200</strong></li>
		<li>Basic subscription plus 5 extra committees: <strong>R7 700</strong></li>
		<li>Basic subscription plus 6 extra committees: <strong>R8 100</strong></li>
		<li>Basic subscription plus 7 extra committees: <strong>R8 500</strong></li>
		<li>Basic subscription plus 8 extra committees: <strong>R8 800</strong></li>
		<li>Basic subscription plus 9 extra committees: <strong>R9 100</strong></li>
		<li>Basic subscription plus 10 extra committees: <strong>R9 300</strong></li>
		<li>Basic subscription plus 11 extra committees: <strong>R9 500</strong></li>
	</ul>
</p>

<h3>How To Subscribe</h3>
<p>Send an email to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a> providing the following info:</p>

<p>
<ul><li>Contact person</li>
<li>Job Title</li>
<li>Organization</li>
<li>Organization's VAT number</li>
<li>Work phone</li>
<li>Postal Address</li>
<li>Email Address</li>
<li>Committees you wish to subscribe to</li>
<li>We will then email you a Statement / Tax invoice.</li></ul>
</p>

<h3>Payment details:</h3>
<p>
<ul><li>Payment via electronic transfer or direct deposit:</li>
<li>Bank account name: PARLIAMENTARY MONITORING</li>
<li>First National Bank (Adderley Street)</li>
<li>Cheque Account number: 62234188557</li>
<li>Branch code: 201409</li>
<li>Universal code for EFT: 250655</li>
<li>Email EFT receipt to subscribe@pmg.org.za</li></ul>
</p>

<p>If you have any queries, phone (021)-465-8885 and speak to Pumza Mokorotlo <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a>.</p>
{% endblock %}