{% extends "base.html" %}

{% block page %}

<h1>Central Tenets of Government</h1>

<div class="row">
	<div class="col-md-5">

<p><a href="#The Constitution and the Bill of Rights"><b>The Constitution and the Bill of Rights </b></a><b><br>
</b><a href="#The Three Branches of Government"><b>The Three Branches of Government</b></a><b><br>
</b><a href="#The Three Spheres of Government"><strong>The Three Spheres of Government</strong></a><strong><br>
</strong><a href="#Democracy and Public Participation"><strong>Democracy and Public Participation</strong></a><strong><br>
</strong><b><br>
</b><a name="The Constitution and the Bill of Rights"><b>The Constitution and the
Bill of Rights </b></a></p>

<p>In 1993 South Africa adopted an interim
Constitution which outlined the framework upon which a final
constitution would be based. In 1996, after two years of public
consultation and debate, South Africa adopted its new
Constitution, which came then into effect on 4 February 1997. </p>

<p>The Constitution is the supreme or highest
law of the land. It states that South Africa is a constitutional
democracy - that is, the rules in the Constitution protect
democratic principles. Everyone must act according to the
Constitution, and all other laws must follow it (that is, no law
may be made that disagrees with it). Not even the President can
act against the Constitution. Everything that happens in South
Africa may be tested against the Constitution to see whether it
is constitutional or unconstitutional. </p>

<p>Before the Constitution was adopted,
Parliament was supreme and could make any law it wanted to, even
if the law took away people's basic human rights, such as the
right to a fair trial. The Constitution now includes a Bill of
Rights which upholds people's basic human rights. This
Constitution can only be changed if a large majority of Members
in Parliament agree. </p>

<p>Constitutions contain the rules setting out
how countries must be managed or governed. The South African
Constitution has three main functions: <br>
it sets out the system of government; protects democratic
principles and it protects the rights of people in South Africa.</p>

<p><b><i>Setting out the system of government </i></b></p>

<p>The Constitution outlines the powers,
functions and responsibilities of the three branches of
government: the legislature, the executive and the judiciary.<i> </i></p>

<p><b><i>Protecting democratic principles</i></b><b>
</b></p>

<p>The Constitution identifies and protects
the democratic principles on which our system of government is
based: </p>

<ul>
    <li><b>South Africa is a democracy <br>
        </b>The first rule of democracy is that elections must be
        held regularly. The Constitution stipulates that an
        election must be held at least every five years, in which
        everybody over 18 years of age may vote for the political
        party they support. The party that wins the most votes is
        known as the &quot;ruling party&quot; and is responsible
        for setting up the government.</li>
    <li><b>The Constitution itself is
        protected </b></li>
</ul>

<dir>
    <li><dir>
            <li>As the Constitution itself is
                protected, it is much more difficult to change it
                than it is to change an ordinary law. Parliament
                can usually change laws if more than 50% of the
                Members of Parliament (MPs) who are present
                support the change - as long as there is a quorum
                (i.e. the minimum number of people required to
                make a decision are present).<b> </b><p>To change the Constitution, however,
                at least 66<sup>2</sup>/<sub>3</sub>% (and in
                some sections, even 75%) of the total number of
                MPs must agree. </p>
                <p>Independent courts,
                particularly the Constitutional Court, protect
                and enforce the Constitution. The courts have the
                power to force even the President or Parliament
                to abide by the Constitution. </p>
            </li>
        </dir>
    </li>
</dir>

<ul>
    <li><b>Our Constitution recognises the
        doctrine of the separation of powers</b> </li>
</ul>

<dir>
    <li><dir>
            <li>There are three separate
                branches of government, each with their own
                functions: <p>- the
                Executive (the Cabinet, the nine provincial
                Executive Councils; and the public service); </p>
                <p>- the Legislature
                (Parliament and the provincial legislatures); and
                </p>
                <p>- the Judiciary (the
                courts). </p>
                <p>By ensuring that power is
                divided among these separate branches of
                government, the Constitution avoids concentration
                of too much power in one place. This separation
                is called the principle of &quot;separation of
                powers&quot;. </p>
                <p>Section 3 of the
                Constitution on Co-operative Government obliges
                these different branches of the government to
                co-operate in mutual trust and good faith. </p>
            </li>
        </dir>
    </li>
</dir>

<p><b><i>Protecting the rights of people</i></b></p>

<p>Chapter Two of the Constitution contains
the <b><i>Bill of Rights</i></b> which lists rights and
responsibilities which apply to everybody in South Africa. The
Bill of Rights protects people against the abuse of human rights
by government and/or by other people/bodies. </p>

<p>Among the rights contained in the Bill of
Rights are the rights to freedom, equality and human dignity, the
right to free speech, the right to fair labour practices, the
right to vote in elections and so on. These are the <b><i>natural
rights</i></b> that occur in most democratic constitutions all
over the world and are intended to ensure democracy and freedom. </p>

<p>The inclusion of <b><i>socio-economic
rights</i></b> is an important aspect of the South African
Constitution, and in including them, this country is taking a
lead in the world. These rights are called socio-economic rights
because they place an economic responsibility on the government
to work towards meeting the basic needs in society and improving
the quality of ordinary people's lives. They include the right to
education, the right to access to health care services, housing,
water and social security and the right to an environment that is
not harmful to people's health. </p>

<p>Other rights included in the Bill of Rights
are the right to information and the right to fair administrative
action. Vulnerable groups such as children are also specifically
protected under this Bill.</p>

<p>The Constitution establishes several
independent bodies to help citizens enforce their rights - for
example the Human Rights Commission, the Public Protector and the
Commission on Gender Equality. </p>

<p><b><br>
</b><a name="The Three Branches of Government"><b>The Three Branches of
Government</b></a></p>

<p><b><i>The Executive</i></b></p>

<p>The Executive consists of </p>

<ul>
    <li>the Cabinet (i.e. the national
        executive); </li>
    <li>national government departments; </li>
    <li>the provincial executives; and </li>
    <li>provincial departments. </li>
</ul>

<p>The Cabinet is headed by the President and
includes a Deputy President and Ministers.</p>

<p>In the provinces, the provincial executive
is usually known as the Executive Council. It is headed by the
Premier and includes the provincial ministers known as the
Members of the Executive Councils (MECs). </p>

<p>The members of the National Assembly elect
the President from among themselves after they have been sworn in
as members. The Members of the Provincial Legislatures (MPLs)
follow a similar process to elect their Premiers. </p>

<p>The responsibility of the Executive is to
run the country and to make policy in the best interests of its
citizens and in terms of the Constitution. They are empowered to
implement legislation, develop and implement policy, direct and
co-ordinate the work of the government departments, prepare and
initiate legislation and perform other functions as called for by
the Constitution or legislation. </p>

<p>The Executives cannot pass laws, however.
They may propose new laws as well as changes to existing laws to
the Legislature. If these laws are passed by the Legislature, the
Executive's responsibility is to ensure that they are implemented
to their full effect. </p>

<p>Both the national and provincial Executives
and the departments for which they are responsible are answerable
[accountable] to their legislatures because the legislature
appoints the executive. It is the responsibility of the
legislatures to oversee the work of the executive and to ensure
that it implements the laws and policies that parliament has
chosen. Legislatures must approve their annual budgets; and can
call the Executive to account for the performance of their duties
and their implementation of policy and laws. In holding the
Executive to account, Legislatures are performing their
&quot;watchdog&quot; or oversight function<i>. <br>
<br>
</i><b><i>The Legislature</i></b></p>

<p>A legislature is composed of political
representatives who are elected to represent the people. It
provides a forum for the public debate of issues; it passes or
amends laws and it oversees the executive arm of government. </p>

<p>At the national level, the legislature is
Parliament which is composed of the National Assembly and the
National Council of Provinces (NCOP). In each province there is a
Provincial Legislature. </p>

<p>In both national and provincial
legislatures, all Members of Parliament (MPs) and Members of
Provincial Legislatures (MPLs) are required to ensure that the
Executives act within the confines of the laws they adopt. This
&quot;oversight function&quot; is undertaken in several ways. The
following are some of the oversight mechanisms the legislature
uses:</p>

<ul>
    <li>passing the annual budget, which
        allocates funds to government departments. (This is the
        most direct way of holding an Executive to account.) </li>
    <li>asking questions of Ministers or
        Members of the Executive Council (MECs) which have to be
        replied to in public at a formal sitting of the
        legislature; and </li>
    <li>having committees investigate any
        aspect of how government departments function and, where
        necessary, having them call any departmental official,
        Minister or MEC to appear before the Committee to supply
        information. </li>
</ul>

<p><b><i><br>
The Judiciary</i></b></p>

<p>The third branch of government is the
Judiciary, which is responsible for checking whether or not the
laws comply with the Constitution. They must also decide whether
a law has been broken, and if so, what must be done. </p>

<p>The Judiciary is composed of various
courts, judges and magistrates. A new and significant aspect to
the Judiciary that was created after the 1994 elections is the
Constitutional Court. It deals specifically with ensuring that
the laws comply with the Constitution.</p>

<p><b><br>
</b><a name="The Three Spheres of Government"><b>The Three Spheres of
Government</b></a></p>

<p>The Constitution divides government into
three tiers or levels in order to develop a closer relationship
between the government and the people that it serves. These are </p>

<ul>
    <li>local government;</li>
</ul>

<ul>
    <li>provincial government; and </li>
</ul>

<ul>
    <li>national government.</li>
</ul>

<p>Ultimately the purpose of these three tiers
is to make government more effective by taking it closer and
making it more accessible to the people.</p>

<p><b><i>Powers and functions</i></b></p>

<p>The powers and functions of each sphere are
defined by the Constitution. National government deals with
matters which affect the whole country, while provincial
government deals with issues that affect the provinces. Each
province is divided into a number of municipalities run by local
authorities who are responsible for the management of their local
area. </p>

<p>Citizens vote for representatives at each
level of government and are thus able to have a say in how each
of these three spheres of government should be run. Moreover, the
Constitution states that once elected the national parliament and
provincial legislatures must facillitate public participation so
that citizens can continue to have their voices heard between
elections. Often this is arranged by having public hearings in
parliament. It the responsibility of the members of parliament to
listen to what citizens have to say about the various laws or
policies that are being considered. </p>

<p>Chapter 3 of the Constitution indicates
that all three spheres are obliged to work together in mutual
trust and good faith. This is called Co-operative Government, and
states that intergovernmental relations should be friendly,
supportive and consultative and the three spheres should avoid
legal proceedings against one another.</p>

<p>1. National government takes exclusive
responsibility for matters relating to foreign affairs, defence,
intelligence, tertiary education, national transport and national
taxation.</p>

<p>2. A province can either be solely
responsible for an issue, or can share responsibility with the
national government. In these instances the province is said to
have either &quot;exclusive areas of competence&quot; or
&quot;shared areas of competence&quot;. The Constitution
stipulates which matters are to be dealt with exclusively and
which are to be shared.</p>

<ul>
    <li>Exclusive areas of competence include
        ambulances, libraries, liquor licences, provincial roads,
        recreational amenities and provincial sport (listed in
        Schedule 5 of the Constitution). </li>
    <li>Shared areas of competence (also
        referred to as &quot;concurrent areas of
        competence&quot;) include agriculture, schools, police,
        public transport and health and welfare services (listed
        in Schedule 4 of the Constitution). </li>
</ul>

<p>3. Local government is responsible for
issues such as cleansing, sewerage and traffic as well as the
development of their communities.</p>

<p><b><i>Elections and representation</i></b></p>

<p>Elected representatives in the national and
provincial spheres are elected for a term that lasts a maximum of
five years. In these spheres, an election must be held within
ninety days of a legislature ending its term or of it being
dissolved. </p>

<p>Whether a legislature runs its full term or
it is dissolved, the President must call and set dates for
national elections and the Premier of each province must call and
set dates for a provincial election. National and provincial
elections have thus far taken place at the same time, though this
is by co-operative agreement and is not specifically required by
the Constitution. </p>

<p>1. At the<b> </b><b><i>national level</i></b><b>
</b>political parties appoint representatives from party lists as
Members of Parliament (MPs) in the National Assembly, according
to the proportion of votes the party received nationally. Half of
the seats (200) are chosen from a single national list, while the
other half are filled from regional lists. The regional lists
ensures that there is regional or provincial representation in
the National Assembly.</p>

<p>2. At the<b> </b><b><i>provincial level,</i></b>
the voters in each of the nine provinces vote for political
parties which then appoint people from party lists to represent
them in that provincial legislature. </p>

<p>Some Members of Provincial Legislatures
(MPLs) go to Cape Town to represent provincial matters at
national level. They do this in the National Council of Provinces
(NCOP) based at Parliament. Ten members (six permanent delegates
and four special delegates including the Premier) form each
provincial legislature's NCOP delegation. They are chosen in
proportion to the representation of political parties in each
provincial legislature. </p>

<p>Permanent delegates to the NCOP are chosen
either from the Members of the Provincial Legislature (MPLs) or
from provincial party lists. If MPLs are chosen they cease to be
Members of the Provincial Legislature and have to be replaced
from party provincial lists.</p>

<p>3. At the <b><i>local level</i></b>, voters
in rural areas, towns and cities vote for political parties and
individual candidates in local government elections. Currently
60% are elected as individual candidates and 40% by proportional
representation but the Municipal Structures Act changes this to
50% for both in the next election (due between 1 November 2000
and 31 January 2001) in order to promote the representation of
women in local government. </p>

<p>Those who are elected form local councils
known as Municipal Councils that govern that local area. Laws
written by a Municipal Council are called by-laws. Municipal
councils are elected every five years. </p>

<p><b><br>
</b><a name="Democracy and Public Participation"><b>Democracy and Public
Participation</b></a></p>

<p>The Constitution makes it clear in a number
of sections (sections 59 and 72 in Chapter 4 and section 118 in
Chapter 6) that all citizens must have a chance to say what
should be included in laws and how government should work in all
three spheres. It states that all legislatures - the National
Assembly, the National Council of Provinces (NCOP) and all the
provincial legislatures - &quot;must facilitate public
involvement in the legislative and other processes&#133;..&quot;.</p>

<p>While elections are an important way of
participating in government, they only take place every five
years (nationally and provincially). Between elections, citizens
need to ensure that the party they elected continues to govern as
they promised and continue to listen to them. They do this
through &quot;public participation&quot; and &quot;public
involvement&quot; initiatives and processes. </p>

<p>Parliament and most provincial legislatures
have public participation officers or departments. Their role is
to promote public participation and assist people, especially
under-resourced communities, with the information and skills they
need in order to participate.</p>

<p>To facilitate this participation and
involvement, all legislatures are required to conduct their
business in an open and transparent manner. Citizens have a right
to attend all the meetings of the Parliamentary Committees and
all the sittings of the National Assembly and NCOP and of the
provincial legislatures. Access can only be denied when there are
reasonable and justifiable reasons for doing so.</p>

<p>Ways of participating in law-making include
making submissions and petitions. </p>

<ul>
    <li>A submission is a verbal or written
        report by a person or organisation on a proposed new law
        or policy. Public hearings are often set up to hear these
        submissions. </li>
    <li>Petitions are written requests or
        complaints made by one or more members of the public.
    </li>
</ul>

<p>__________________________________________________________________________________</p>

<p>This information compiled with the support of
the <em>European Union Parliamentary Support Programme (EUPSP)</em></p>

{% endblock %}