{% extends "base.html" %}

{% block page %}

<p align="center"><strong>CODE OF ETHICAL CONDUCT AND DISCLOSURE OF MEMBERS&rsquo; INTERESTS FOR ASSEMBLY AND PERMANENT COUNCIL MEMBERS</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center"><strong>TABLE OF CONTENTS</strong></p>
<p>&nbsp;</p>
<p><strong>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>DEFINITIONS&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;............3</strong></p>
<p>&nbsp;</p>
<p><strong>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>PURPOSE AND SCOPE OF THE CODE&hellip;&hellip;&hellip;..........&nbsp; 5</strong></p>
<p>&nbsp;</p>
<p><strong>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>SCOPE AND REQUIRED COMMITMENTS&hellip;&hellip;..........&nbsp; 7</strong></p>
<p>&nbsp;</p>
<p><strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>STANDARDS OF ETHICAL CONDUCT&hellip;&hellip;&hellip;&hellip;........ 7</strong></p>
<p>&nbsp;</p>
<p><strong>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>CONFLICT OF FINANCIAL OR BUSINESS INTERESTS&hellip;&hellip;&hellip;&hellip;&hellip;..................................................8</strong></p>
<p>&nbsp;</p>
<p><strong>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>PROHIBITED BUSINESS ACTIVITY&hellip;&hellip;&hellip;&hellip;&hellip;.........10</strong></p>
<p>&nbsp;</p>
<p><strong>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>REMUNERATED EMPLOYMENT OUTSIDE PARLIAMENT&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;........11</strong></p>
<p>&nbsp;</p>
<p><strong>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>PROPER USE OF MEMBERS&rsquo; FACILITIES&hellip;...........12</strong></p>
<p>&nbsp;</p>
<p><strong>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>DISCLOSURE OF REGISTRABLE INTERESTS&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;........13</strong></p>
<p>&nbsp;</p>
<p><strong>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>BREACHES AND PROCEDURE FOR INVESTIGATION&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...................23</strong></p>
<p>&nbsp;</p>
<p><strong>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ROLES AND FUNCTIONS&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...35</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>DEFINITIONS</u></h1>
<p>&nbsp;</p>
<p>&ldquo;<strong>Business Partner&rdquo;</strong> means a person who shares a financial interest with a Member or that Member&rsquo;s immediate family;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Code&rdquo; </strong>means the Code of Ethical Conduct and Disclosure of Members&rsquo; Interests for Assembly and Permanent Council Members;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Committee&rdquo; </strong>means the Joint Committee on Ethics and Members&rsquo; Interests as established by the Joint Rules of Parliament;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Conflict of Interest&rdquo;</strong> except for the purpose of clause 5, means a situation in which a Member contrary to the obligation and duty to act for the benefit of the public exploits the relationship for personal or pecuniary benefit;</p>
<p>&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0" width="97%">
	<tbody>
		<tr>
			<td>
				<p><strong>&ldquo;Constitution&rdquo;</strong> means the Constitution of the Republic of South Africa of 1996;</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<p><strong>&ldquo;Immediate Family&rdquo; </strong>means a Member&rsquo;s spouse, permanent companion or dependents;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Member&rdquo; </strong>means a Member of the Assembly or Permanent Council Member;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Organ of State&rdquo; </strong>has the same meaning as defined in section 239 of the Constitution;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Parliament&rdquo; </strong>means the Parliament of the Republic of South Africa;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Permanent Companion&rdquo; </strong>means a person who is publicly acknowledged by a Member as that Member&rsquo;s permanent companion;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Public Interest</strong>&rdquo; means an outcome which affects any right of the public, public finances or the public good;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Register&rdquo;</strong> means the Register of Members&rsquo; Interests;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Registrable interest&rdquo; </strong>means interests required to be disclosed in terms of the Code;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Registrar&rdquo;</strong> means the Registrar of Members&rsquo; Interests;</p>
<p>&nbsp;</p>
<p><strong>&ldquo;Spouse&rdquo; </strong>means a partner in any marriage.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>PURPOSE AND SCOPE OF THE CODE</u></h1>
<p>&nbsp;</p>
<p>2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Code of Ethical Conduct and Disclosure of Members&rsquo; Interest for Assembly and Permanent Council Members hereinafter referred to as the Code is intended to provide a framework of reference for Members of Parliament when discharging their duties and responsibilities. The Code outlines the minimum ethical standards of behaviour that South Africans expect of public representatives, including upholding propriety, integrity and ethical values in their conduct.</p>
<p>&nbsp;</p>
<p>2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Code cannot anticipate or prescribe behaviour in hypothetical cases.&nbsp; While public interest and just cause cannot be defined in the abstract, the Committee must, over time, develop a body of interpretation and clarification in respect of individual cases and contemporary values.</p>
<p>&nbsp;</p>
<p>2.3&nbsp;&nbsp; The purpose of the code is to create public trust and confidence in public representatives and to protect the integrity of Parliament.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Principles</strong></p>
<p>2.4<strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Member must adhere to the following:</em></strong></p>
<p>&nbsp;</p>
<p><strong>2.4.1&nbsp;&nbsp; Selflessness</strong><strong>:</strong> take decisions solely in terms of public interest and without regard to personal financial or other material benefits for themselves, their immediate family, their business partners, or their friends;</p>
<p>&nbsp;</p>
<p><strong>2.4.2&nbsp;&nbsp; Integrity:</strong> steadfastly avoid placing themselves under any financial or other obligation to any outside individual or organization where this creates a conflict or potential conflict of interest with his or her role as a Member;</p>
<p>&nbsp;</p>
<p><strong>2.4.3&nbsp;&nbsp; Objectivity</strong>: in carrying out public business, including making public appointments, do so only on the basis of merit and in accordance with Constitutional imperatives;</p>
<p>&nbsp;</p>
<p><strong>2.4.4&nbsp;&nbsp; Openness:</strong> Members should be as open as possible about all decisions and actions, bearing in mind the constitutional obligation for openness and transparency;</p>
<p>&nbsp;</p>
<p><strong>2.4.5&nbsp;&nbsp; Honesty:</strong> Members must declare private interests relating to public duties and resolve any conflict arising in a way that protects public interest; and</p>
<p>&nbsp;</p>
<p><strong>2.4.6&nbsp;&nbsp; Leadership</strong>: promote and support ethical conduct by leadership and example.</p>
<h1>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>SCOPE AND REQUIRED COMMITMENTS</u></h1>
<p>&nbsp;</p>
<p>3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Code applies to all Members of Parliament including those Members who are Members of the Executive, however Members of the Executive are also subject to the &ldquo;Handbook for Members of the Executive and Presiding Officers&rdquo;.</p>
<p>&nbsp;</p>
<p>3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Code must be read with the Powers, Privileges and Immunities of Parliaments and Provincial Legislatures Act, Act 4 of 2004;&nbsp; Prevention, Combating of Corrupt Activities Act, Act 12 of 2004; and the Financial Management of Parliament Act 10 2009; amongst others.</p>
<h1>&nbsp;</h1>
<p><strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><u>STANDARDS OF ETHICAL CONDUCT</u></strong></p>
<p>&nbsp;</p>
<p>4.1 &nbsp;&nbsp; Members must:</p>
<p>&nbsp;</p>
<p>4.1.1&nbsp;&nbsp; abide by the principles, rules and obligations of this Code;</p>
<p>4.1.2&nbsp;&nbsp; by virtue of the oath or affirmation of allegiance taken by all elected Members, uphold the law;</p>
<p>4.1.3&nbsp;&nbsp; act on all occasions in accordance with the public trust placed in them;</p>
<p>4.1.4&nbsp;&nbsp; discharge their obligations, in terms of the Constitution, to Parliament and the public at large, by placing the public interest above their own interests;</p>
<p>4.1.5 &nbsp;&nbsp;&nbsp; maintain public confidence and trust in the integrity of Parliament and thereby engender the respect and confidence that society needs to have in Parliament as a representative institution; and</p>
<p>4.1.6&nbsp;&nbsp;&nbsp;&nbsp; in the performance of their duties and responsibilities, be committed to the eradication of all forms of discrimination.</p>
<p>&nbsp;</p>
<h1>5. CONFLICT OF FINANCIAL OR BUSINESS INTERESTS</h1>
<p>&nbsp;</p>
<p><strong><em>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong><strong><em>A Member must: </em></strong></p>
<p>&nbsp;</p>
<p>5.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; resolve any financial or business conflict of interest in which he or she is involved in his or her capacity as a public representative, in favour of the public interest; and</p>
<p>5.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; always declare such interest, and where appropriate, the Member should recuse himself or herself from any forum considering or &nbsp;deciding on the matter.</p>
<p>&nbsp;</p>
<p><strong><em>5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong><strong><em>A Member must &ndash;</em></strong></p>
<p>5.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; not accept any reward, benefit or gift from any person or body:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (i) that creates a direct conflict of financial or business interest for such Member or any immediate family of that Member or any business partner of that Member; or the immediate family of that Member;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (ii) that is intended or is an attempt to corruptly influence that Member in the exercise of his or her duties or responsibilities as a public representative;</p>
<p>&nbsp;</p>
<p>5.2.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; not use his or her influence as a public representative in his or her dealings with an organ of State in such a manner as to improperly advantage the direct personal or private financial or business interests of such Member or any immediate family of that Member or any business partner of that Member or the immediate family of that Member;</p>
<p>&nbsp;</p>
<p>5.2.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; not engage in any personal or private financial or business activity, which leads to his or her using&nbsp; information or knowledge acquired in his or her dealings with an organ of State as a public representative which is not available in the public domain, in such a manner as to improperly advantage the direct personal or private financial or business interests of such Member or any immediate family of that Member or any business partner of that Member or the immediate family of that Member;</p>
<p>&nbsp;</p>
<p>5.2.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; declare any direct personal or private financial or business interest that that Member or any immediate family of that Member or any business partner of that Member or the immediate family of that Member may have in a matter to be considered or decided on before any parliamentary committee or other parliamentary forum of which that Member is a Member or in which that Member is participating; or</p>
<p>5.2.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; withdraw from the proceedings of that committee or forum when that matter is considered or decided on, unless that committee or forum decides that the Member&rsquo;s interest is trivial or not relevant; and</p>
<p>&nbsp;</p>
<p>5.2.6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if he or she makes representations as a Member to a Cabinet Member or any other organ of State with regard to a matter in which that Member or the immediate family of that Member or any business partner of that Member or the immediate family of that Member has a direct personal or private financial or business interest, that Member must declare that interest to that Cabinet Member or organ of State; or</p>
<p>5.2.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; not lobby for any remuneration or receive any reward, benefit or gift for that Member or for the immediate family of that Member or the business partner of that Member or immediate family of that Member, for making such representation as a Member on behalf of any person or body;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PROHIBITED BUSINESS ACTIVITY</h1>
<h1>&nbsp;</h1>
<p>6.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a Member may not receive any benefit including but not limited to a tender, or a contract with an organ of state;</p>
<p>&nbsp;</p>
<p>6.2&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a Member&rsquo;s immediate family may not receive&nbsp; any benefit including but not limited to a tender, or&nbsp; a contract with an organ of state arising out of the relationship with the member or any influence arising out of that relationship;</p>
<p>&nbsp;</p>
<p>6.3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a Member&rsquo;s business partner may not receive any benefit including but not limited to a tender or any contract with an organ of state arising out of the association with the member or any influence arising from that relationship.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; REMUNERATED EMPLOYMENT OUTSIDE OF PARLIAMENT</h1>
<p>&nbsp;</p>
<p>7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No Member shall perform or undertake remunerated employment or work outside of Parliament, which does not strictly fall within the employment or work sanctioned in terms of clause 7.2 and which has been recorded in the ATC in terms of clause 7.3;</p>
<p>&nbsp;</p>
<p>7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Member may only perform or undertake remunerated employment or work outside of Parliament when such employment or work is sanctioned by the political party to which the Member belongs and is compatible with that Member&rsquo;s function as a public representative; and</p>
<p>&nbsp;</p>
<p>7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the event of a party agreeing to such employment of a Member outside of Parliament in terms of clause 7.2, the party must within 30 days provide the Registrar, in writing, with all the relevant details in this regard.&nbsp; If the Registrar is not satisfied that all the relevant information has been provided he or she must indicate to what extent the information must be supplemented and the party must within 30 days.&nbsp; When the Registrar is satisfied that all relevant information has been adequately provided by the relevant party, the Registrar must within 7 days cause such decision to be recorded in the ATC.</p>
<p>&nbsp;</p>
<h1>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MEMBERS&rsquo; FACILITIES</h1>
<p>&nbsp;</p>
<p>8.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Member must avoid any abuse or improper use of Members&rsquo; facilities or any benefit provided to Members by Parliament, and strictly observe and adhere to the administrative rules that apply to such facilities or benefits.</p>
<p>8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A former Member must avoid any abuse or improper use of Members&rsquo; facilities or any benefit provided to the former Member by Parliament and strictly observe and adhere to the administrative rules that apply to such facilities or benefits.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DISCLOSURE OF REGISTRABLE INTERESTS</h1>
<p>&nbsp;</p>
<p>9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar must maintain a Register of Members Interests, which consists of public and confidential sections; and</p>
<p>&nbsp;</p>
<p><strong>The register must:</strong></p>
<p>&nbsp;</p>
<p>9.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; contain the information regarding the Members&rsquo; registrable interests as the Committee may determine;&nbsp; and</p>
<p>9.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; be in a format approved by the Committee.</p>
<p>&nbsp;</p>
<p><strong>9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Disclosure of registrable interests</strong></p>
<p>&nbsp;</p>
<p>9.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Members must disclose to the Registrar, on the form prescribed for this purpose by the Committee, particulars of all their registrable interests;</p>
<p>9.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The first disclosure must be within 60 days of the opening of Parliament or 60 days of the appointment as a Member who was not a Member at the opening of Parliament.&nbsp; If a Member has no registrable interests, a &ldquo;nil&rdquo; return must be submitted;</p>
<p>9.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; After the first disclosure Members must disclose annually at a time determined by the Committee; and</p>
<p>9.2.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where there is a substantial change in the financial interest of the Member the Member must notify the Registrar of the change within 30 days of the change in interests.</p>
<p>&nbsp;</p>
<p><strong>INTERESTS TO BE DISCLOSED</strong></p>
<p>&nbsp;</p>
<p><strong>9.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The following kinds of financial interests are registrable interests and must be disclosed:</strong></p>
<p>&nbsp;</p>
<p>9.3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; shares and other financial interests in companies and other corporate entities;</p>
<p>&nbsp;</p>
<p>9.3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; remunerated employment outside Parliament;</p>
<p>&nbsp;</p>
<p>9.3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; directorships and partnerships;</p>
<p>&nbsp;</p>
<p>9.3.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; consultancies;</p>
<p>&nbsp;</p>
<p>9.3.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sponsorships;</p>
<p>&nbsp;</p>
<p>9.3.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gifts and hospitality in excess of R1500, from a source other than a family Member or permanent companion or gifts of a traditional nature provided that this does not create a conflict of interest for the Member;</p>
<p>&nbsp;</p>
<p>9.3.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any other benefit of a material nature;</p>
<p>&nbsp;</p>
<p>9.3.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; foreign travel (other than personal visits paid by the Member, business visits unrelated to the Member&rsquo;s role as a public representative, and official and formal visits paid for by an organ of State or the Member&rsquo;s party);</p>
<p>&nbsp;</p>
<p>9.3.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ownership in land and property including land and property outside the Republic;</p>
<p>&nbsp;</p>
<p>9.3.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; pensions;</p>
<p>&nbsp;</p>
<p>9.3.11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; public contracts awarded;</p>
<p>&nbsp;</p>
<p>9.3.12&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; trusts;</p>
<p>&nbsp;</p>
<p>9.3.13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; encumbrances.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>DETAILS OF REGISTRABLE INTERESTS TO BE DISCLOSED</strong></p>
<p>&nbsp;</p>
<p>9.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Shares and other financial interests in companies and other corporate entities:</strong></p>
<p>9.4.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the number, nature and nominal value of shares of any type in any public or private company;</p>
<p>9.4. 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the name of that company; and</p>
<p>9.4. 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the nature and value of any other financial&nbsp; interests held in a private or public company or any other corporate entity.</p>
<p>&nbsp;</p>
<p><strong>9.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remunerated employment outside Parliament</strong></p>
<p>&nbsp;</p>
<p>9.5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the type of employment;</p>
<p>9.5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the name, and type of business activity, of the employer;&nbsp; and</p>
<p>9.5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the amount of the remuneration received for such employment</p>
<p>9.5.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; copy of written permission obtained from the Chief Whip of the Member&rsquo;s political party.</p>
<p>9.5.5&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; details of publication in the ATC</p>
<p>&nbsp;</p>
<p><strong>9.6 Directorships and partnerships</strong></p>
<p>&nbsp;</p>
<p>9.6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the name, and type of business activity;</p>
<p>9.6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the corporate entity or partnership;&nbsp; and</p>
<p>9.6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the amount of any remuneration received for such directorship or partnership</p>
<p>&nbsp;</p>
<p><strong>9.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consultancies and retainerships</strong></p>
<p>&nbsp;</p>
<p>9.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the nature of the consultancy or any retainership of any kind;</p>
<p>9.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the name, and type of business activity, of the client concerned;&nbsp; and</p>
<p>9.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the amount of any remuneration or other benefits received for such consultancy or retainership</p>
<p>&nbsp;</p>
<p><strong>9.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sponsorships</strong></p>
<p>&nbsp;</p>
<p>9.8.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the source and description of direct financial sponsorship or assistance from non-party sources;&nbsp; and</p>
<p>9.8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the value of the sponsorship or assistance.</p>
<p>&nbsp;</p>
<p><strong>9.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gifts</strong><strong> and hospitality</strong></p>
<p>&nbsp;</p>
<p>9.9.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a description, the value and source of a gift with a value in excess of R1500;</p>
<p>9.9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a description and the value of gifts from a single source which cumulatively exceed the value of R1500 in any calendar year; and</p>
<p>9.9.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; hospitality intended as a gift in kind.</p>
<p>&nbsp;</p>
<p><strong>9.10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benefits</strong></p>
<p>&nbsp;</p>
<p>9.10.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the nature and source of any other benefit of a material nature; and</p>
<p>9.10.2&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the value of that benefit.</p>
<p>&nbsp;</p>
<p><strong>9.11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Travel</strong></p>
<p>&nbsp;</p>
<p>9.11.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a brief description of the journey;</p>
<p>9.11.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; particulars of the sponsor; and</p>
<p>9.11.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the estimated value of travel, accommodation and subsistence and travel allowances.</p>
<p>&nbsp;</p>
<p><strong>9.12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Land and property</strong></p>
<p>&nbsp;</p>
<p>9.12.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a description and extent of the land or property;</p>
<p>9.12.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; area in which it is situated;</p>
<p>9.12.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; nature of interest; and</p>
<p>9.12.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; properties outside the state.</p>
<p>&nbsp;</p>
<p><strong>9.13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pensions</strong></p>
<p>&nbsp;</p>
<p>9.13.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the source of the pension;&nbsp; and</p>
<p>9.13.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the value of the pension.</p>
<p>&nbsp;</p>
<p><strong>9.14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Public contract</strong></p>
<p>&nbsp;</p>
<p>9.14.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the organ of state from which the contract was obtained;</p>
<p>9.14.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the value and period of the contract;</p>
<p>9.14.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the nature of the contract; and</p>
<p>9.14.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; where a pre-existing contract prevails, disclose the terms and details of the contract.&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>9.15&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trusts</strong></p>
<p>&nbsp;</p>
<p>9.15.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; details of the trust;</p>
<p>9.15.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; details all benefits accruing from the trust; and</p>
<p>9.15.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; all other direct and indirect benefits received from a trust.</p>
<p>&nbsp;</p>
<p><strong>9.16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Encumbrances</strong></p>
<p>&nbsp;</p>
<p>9.16.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; details of long term loans; and</p>
<p>9.16.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; registered mortgage bonds against any property of any Member.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>9.17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Entries in Register</strong></p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar may record the following in the confidential part; all other information must be contained in the public section of the Register:</p>
<p>&nbsp;</p>
<p>9.17.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The value of financial interests in a corporate entity other than a private or public company;</p>
<p>&nbsp;</p>
<p>9.17.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The amount of any remuneration for any employment outside Parliament;</p>
<p>&nbsp;</p>
<p>9.17.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The amount of any remuneration for any directorship or partnership;</p>
<p>&nbsp;</p>
<p>9.17.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Details of foreign travel when the nature of the visit requires those details to be confidential;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p>9.17.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Details of private residence;</p>
<p>&nbsp;</p>
<p>9.17.7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The value of any pensions;</p>
<p>&nbsp;</p>
<p>9.17.8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Details of all financial interests of a Member&rsquo;s spouse, dependent child or permanent companion to the extent that a Member is reasonably aware of;</p>
<p>&nbsp;</p>
<p>9.17.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Details of any encumbrance, including registered mortgage bonds and long term loans, existing against any asset or property of the Member; and</p>
<p>&nbsp;</p>
<p><strong>9.18&nbsp; Interpretation of the Code</strong></p>
<p>&nbsp;</p>
<p>Where any doubt exists as to whether any financial interests must be disclosed, the Member concerned must act in good faith.</p>
<p>&nbsp;</p>
<p><strong>9.19&nbsp; Confidentiality</strong></p>
<p>&nbsp;</p>
<p>9.19.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Only a Committee Member, the Registrar and staff assigned to the Committee, have access to the confidential part of the Register, and only when performing their duties or responsibilities in terms of this Code.</p>
<p>&nbsp;</p>
<p>9.19.2&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; A Member who requests a copy of his or her confidential record, must do so in writing and be signed by the Member concerned.</p>
<p>&nbsp;</p>
<p>9.19.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar must keep a strict record of every person who is given access to the confidential part of the Register.</p>
<p>&nbsp;</p>
<p>9.19.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No person who has access to the confidential part of the Register may, except when a court so orders, disclose particulars of any entry in the confidential part to anyone other than the Member concerned or another person who has such access.</p>
<p>&nbsp;</p>
<p>9.19.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar, parliamentary staff in the Registrar&rsquo;s office and Committee Members must not provide any confidential information to any person who is not authorised to receive it.</p>
<p>&nbsp;</p>
<p>9.19.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Committee Member who contravenes clauses 9.19.4 and 9.19.5 is liable to a reduction of up to 90 days&rsquo; salary and becomes ineligible to continue as a Committee Member and must be immediately removed as a Committee Member, and is subject to further disciplinary action.</p>
<p>&nbsp;</p>
<p>9.19.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar or a staff member who contravenes clauses 9.19.3 and 9.19.4, is subject to disciplinary action applicable to parliamentary staff, including dismissal.</p>
<p>9.19.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Despite 9.17 the Committee may on good cause instruct the Registrar to record any details of any of a Member&rsquo;s registrable interests in the confidential part of the register.</p>
<p>9.19.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Member may waive the right to confidential disclosure.</p>
<p>&nbsp;</p>
<p><strong>9.20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Public part of Register</strong></p>
<p>&nbsp;</p>
<p>9.20.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any person has access to the public part of the Register on any working day during office hours.</p>
<p>&nbsp;</p>
<p>9.20.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar must publish the public part of the Register after adoption by the Committee in a manner determined by the Committee.</p>
<p>&nbsp;</p>
<h1>10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>BREACHES OF THE CODE OF CONDUCT AND THE INVESTIGATION PROCEDURES</u></h1>
<h1>&nbsp;</h1>
<p>The Code is meant to encourage ethical conduct and the registration of Members&rsquo; Interest, and the Committee must champion and enforce compliance with the Code. The Code sets out what constitutes a breach, how it is dealt with, what powers are available, and where ultimate responsibility for action lies.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>10.1</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What Constitutes a Breach</strong></p>
<p>&nbsp;</p>
<p><strong><em>10.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong><strong><em>A Member breaches the Code if the Member &ndash; </em></strong></p>
<p>&nbsp;</p>
<p>10.1.1.1&nbsp;&nbsp;&nbsp;&nbsp; contravenes or fails to comply with the requirements of the provisions for disclosing interests;</p>
<p>10.1.1.2&nbsp;&nbsp;&nbsp;&nbsp; when disclosing registrable interests, wilfully or &nbsp;is grossly negligently, provides the Registrar with incorrect or misleading details; or</p>
<p>10.1.1.3&nbsp;&nbsp;&nbsp;&nbsp; contravenes clauses 4.1, 5.1, 5.2. 6.1, 6.2, 6.3, 7.1, 8.1, and 9.19.4 and 9.19.5 of this Code; and</p>
<p>10.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A former Member breaches this Code if the former Member contravenes clause 8.2 of the Code.</p>
<p>&nbsp;</p>
<p><strong>10.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;Procedure for the investigation of complaints</strong></p>
<p><strong>10.2.1</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; General:</strong></p>
<p>This procedure is based on and intended to be guided by the principle of promptness, fairness and consistency.</p>
<p>&nbsp;</p>
<p><strong>10.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Processing Complaints</strong></p>
<p>10.2.2.1&nbsp;&nbsp;&nbsp;&nbsp; The Committee may only consider complaints based on an alleged breach of the Code, as contemplated in clause 10.1 of the Code.</p>
<p>10.2.2.2&nbsp;&nbsp;&nbsp;&nbsp; Any person or body may submit a complaint to the Office of the Registrar concerning a breach of the Code, as contemplated in clause 10.1 of the Code by a Member. The Complaint may be in the form of a sworn affidavit or an affirmation stating the facts upon which the complaint is based.</p>
<p>10.2.2.3&nbsp;&nbsp;&nbsp;&nbsp; The Committee acting on its own may consider any breach or alleged breach of the Code.</p>
<p>10.2.2.4&nbsp;&nbsp;&nbsp;&nbsp; The Registrar must within seven days of receiving a complaint inform the Member concerned of the complaint, including all the relevant information relating to the alleged breach available to the Registrar or Committee, and inform Members of the consequences of the failure to respond. The Members must be informed personally of the complaint and should sign for the receipt of the complaint.</p>
<p>10.2.2.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where a Member refuses to receive or accept service of a complaint such a service will then be effected on the Chief Whip of the Members&rsquo; party.</p>
<p>10.2.2.6 The Member must respond within seven days of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; being informed of the complaint.</p>
<p>10.2.2.7&nbsp;&nbsp;&nbsp;&nbsp; Should the Member fail without good reason to respond within seven days the Committee may proceed with the investigation.</p>
<p>&nbsp;</p>
<p><strong>10.3<em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upon receipt of a response from a Member or where the Member has not responded the Registrar must: </em></strong></p>
<p>&nbsp;</p>
<p>10.3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; assess the authenticity or validity of the complaint based on the information at his or her disposal;</p>
<p>10.3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; collate such further information as may be necessary to enable him/her to make an informed recommendation to the Committee Members;</p>
<p>10.3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; consult the Chairperson, and conduct a preliminary investigation as may be necessary to enable him or her to make a recommendation to the Committee. In this instance, the Member must be immediately informed that a preliminary investigation is underway, upon completion of the collation of further evidence and the preliminary investigation referred to above; and</p>
<p>10.3.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; all documents, evidence and information in the possession of the Registrar must, up to this stage, remain confidential.</p>
<p>&nbsp;</p>
<p><strong>10.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Registrar must make a recommendation to the Committee -</strong></p>
<p>10.4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that the complaint is frivolous, vexatious or unfounded; or</p>
<p>10.4.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that a specific finding be made on the available evidence together with a recommended sanction to be imposed; or</p>
<p>10.4.3 &nbsp;&nbsp;&nbsp;&nbsp; that a further investigation be instituted with a suggested procedure to be followed with an elaboration of issues and facts to be investigated; and</p>
<p>10.4.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; indicate who will conduct the investigation and the duration of such a proposed investigation; or</p>
<p>10.4.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that a hearing should be held without any further investigation; or</p>
<p>10.4.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any other recommendation as may be supported by available facts and circumstances of each case which may not be provided for above; or</p>
<p>10.4.7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that he or she is unable to make a recommendation on the available evidence.</p>
<p>&nbsp;</p>
<p><strong>10. 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consideration of the report of the Registrar by the Committee-</strong></p>
<p>&nbsp;</p>
<p>10.5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The meeting to consider the report of the Registrar will be closed to the public and non-Committee Members; and</p>
<p>&nbsp;</p>
<p>10.5.2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Registrar will formally table his or her report.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>10.6<em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Committee will then consider the Registrar&rsquo;s report and&ndash;</em></strong></p>
<p>&nbsp;</p>
<p>10. 6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; may accept the report with or without amendments; or</p>
<p>10. 6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; may reject the report or sections of the report and return the same with specified instructions to the Registrar; or</p>
<p>10. 6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; may finalise the matter as proposed by the Registrar; or</p>
<p>10. 6.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; may determine whether any issues requires further investigation and instruct the Registrar to conduct further investigation on such specific issues; and</p>
<p>10. 6.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if a further investigation is required, the Registrar must proceed on the basis of the instruction of the Committee; and</p>
<p>10. 6.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; must determine the terms and parameters of such an investigation and the duration of the investigation must be determined to avoid long drawn investigations; and</p>
<p>10. 6.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if such further investigation required is such that it requires specific expertise the Committee will make a determination and, when appropriate, instruct the Registrar to implement; or</p>
<p>10. 6.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that a hearing be conducted without any further investigation; or</p>
<p>10. 6.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; take or adopt any course of action as may be deemed necessary in the prevailing circumstances; and</p>
<p>10.6.10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Registrar must table his or her final report to the Committee in the prescribed manner;</p>
<p>10.6.11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Committee must consider the report and must proceed as in clause 10.6 above; and</p>
<p>10.6.12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the proceedings remain confidential until this stage.</p>
<p>&nbsp;</p>
<p><strong>10.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hearings</strong></p>
<p>&nbsp;</p>
<p>10.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hearings must be held when the facts are in dispute. The &nbsp;&nbsp;&nbsp;&nbsp; Committee may decide to call a hearing if the investigation of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Registrar is inconclusive or if the Registrar is unable to make a finding or the Committee decides that a hearing must be held.</p>
<p>10.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A ten day notice of a hearing must be issued to the Member by the Registrar, signed by the Chairperson of the Committee; and</p>
<p>&nbsp;</p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The notice must contain the following:</strong></p>
<p>&nbsp;</p>
<p>10.7.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a short description of the complaint against the Member;</p>
<p>10.7.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; date, time and venue of the hearing;</p>
<p>10.7.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; estimated duration of the hearing;</p>
<p>10.7.2.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; an indication that he or she should not bring a legal representative but that he or she may be assisted by another Member;</p>
<p>10.7.2.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a list of the names of all witnesses to be called by the Committee and an offer to the Member to obtain a copy of each witnesses&rsquo; statement;</p>
<p>10.7.2.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that he or she may bring witnesses and in that event the affected Member will be liable for all expenses incurred by such a witness;</p>
<p>10.7.2.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; that an interpreter will be availed on request provided that such request is made at least three days before the hearing; and</p>
<p>10.7.2.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a summary of the consequences of failing to attend such a hearing, which may include a fine and the continuation of the hearing in the absence of the Member; and</p>
<p>10.7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the Committee calls witnesses in terms of the general powers conferred on Committees, summon any person to appear before it to give evidence on oath or affirmation, or to produce any document;</p>
<p>&nbsp;</p>
<p><strong>10.7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A maximum notice period of 30 days may be given to witnesses and such notice must contain the following</strong> -</p>
<p>&nbsp;</p>
<p>10.7.4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the name against whom the hearing will be conducted;</p>
<p>10.7.4.2&nbsp;&nbsp;&nbsp;&nbsp; a summary of the complaint against the affected Member;</p>
<p>10.7.4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; attach a copy of the statement of that witness;</p>
<p>10.7.4.4&nbsp;&nbsp;&nbsp;&nbsp; any other documents or objects that are required from that witness must be specified;</p>
<p>10.7.4.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; date time and venue of the hearing;</p>
<p>10.7.4.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; estimated duration of the hearing;</p>
<p>10.7.4.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; an indication of any indemnity that may be granted or claimed; and</p>
<p>10.7.4.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; an indication of how attendant expenses will be defrayed.</p>
<p>&nbsp;</p>
<p><strong>10.7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sub-committee</strong></p>
<p>&nbsp;</p>
<p>10.7.5.1&nbsp;&nbsp;&nbsp;&nbsp; the Committee will form a Sub-committee for each hearing.</p>
<p>&nbsp;</p>
<p><strong>10.7.5.2&nbsp;&nbsp;&nbsp;&nbsp; The Sub-committee shall be </strong>:</p>
<p>&nbsp;</p>
<p>10.7.5.2.1&nbsp;&nbsp;&nbsp; constituted in terms of the proportional representation formula applied by&nbsp; Committees;&nbsp;&nbsp;&nbsp;</p>
<p>10.3.5.2.2&nbsp;&nbsp;&nbsp;&nbsp; the Committee will elect one of the Chairpersons to chair the Subcommittee during the hearing;</p>
<p>10.7.5.2.3&nbsp;&nbsp;&nbsp;&nbsp; all the meetings of the Sub-committee will be closed;</p>
<p>10.7.5.2.4&nbsp;&nbsp;&nbsp;&nbsp; while the Sub-committee has the discretion regarding weight to be attached to different forms of evidence and the extent of cross-examination of witnesses the minimum standards of justice and fairness must be maintained;</p>
<p>10.7.5.2.5&nbsp;&nbsp;&nbsp;&nbsp; the hearing will be on an inquisitorial basis;</p>
<p>10.7.5.2.6&nbsp;&nbsp;&nbsp;&nbsp; the Registrar presents evidence on behalf of the Committee and may call witnesses;</p>
<p>10.7.5.2.7&nbsp;&nbsp;&nbsp;&nbsp; In conducting proceedings the Sub- committee may adopt any procedures it deems necessary, reasonable, just and fair;</p>
<p>10.7.5.2.8&nbsp;&nbsp;&nbsp;&nbsp; the affected Member must always be apprised of the procedure the Subcommittee intends to follow and&nbsp; his or her rights;</p>
<p>10.7.5.2.9&nbsp;&nbsp;&nbsp;&nbsp; the affected Member may at an appropriate stage call his/her witnesses to give evidence;</p>
<p>10.7.5.2.10&nbsp;&nbsp; all proceedings before the Sub-committee must be recorded in full;</p>
<p>10.7.5.2.11&nbsp;&nbsp; at the conclusion of the hearing the Sub- committee must make recommendations to the Committee, all differing views and recommendations must be recorded and presented to the Committee;</p>
<p>10.7.5.2.12&nbsp;&nbsp; the Committee must consider the recommendations of the Sub-committee and make a finding;</p>
<p>10.7.5.2.13&nbsp;&nbsp; a copy of the recommendations of the Sub- committee must be given to the Member concerned and the Member concerned should be informed of the date that the Committee will consider the recommendations of the Sub-committee;</p>
<p>10.7.5.2.14&nbsp;&nbsp; the affected Member may if he or she wishes address the full committee on the recommendations of the Sub-committee and may advance reasons why he or she has not breached the Code as alleged, provided notice to address the meeting of the Committee is given five days before the meeting; and</p>
<p>10.7.5.2.15&nbsp;&nbsp; the Member may not attend the meeting of the Committee when it considers the recommendation of the Sub-committee.</p>
<div>
	<p>&nbsp;</p>
</div>
<p><strong>10.7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Findings</strong></p>
<p>&nbsp;</p>
<p>10.7.6.1&nbsp;&nbsp;&nbsp;&nbsp; At the conclusion of its investigation on the alleged breach of the Code, the Committee must make a finding supported by reasons; a Member must only be found to have breached a provision of the Code, whether a hearing was held or not, if the Committee is satisfied that the Member contravened such provision on the balance of probabilities.</p>
<p>10.7.6.2&nbsp;&nbsp;&nbsp;&nbsp; The finding and the reasons for the finding must be made public;</p>
<p>10.7.6.3&nbsp;&nbsp;&nbsp;&nbsp; In the event of a hearing, a summary of the facts must be disclosed; and</p>
<p>10.7.6.4&nbsp;&nbsp;&nbsp;&nbsp; The findings of the Committee on any matter may only be communicated to the public by the Chairpersons.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><strong>10.7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Penalties</strong></p>
<p><strong><em>10.7.7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong>The Committee must recommend the imposition of one or more of the following penalties where a Member has breached clauses 10.1.1.1 and 10.1.1.2 of this Code</p>
<p>(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a reprimand in the House;</p>
<p>(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a fine not exceeding the value of 30 days&rsquo; salary;</p>
<p>(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a reduction of salary or allowances for a period not exceeding 30 days<strong>; </strong>or</p>
<p>(iv) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the suspension of certain privileges or a Member&rsquo;s right to a seat in Parliamentary debates or committees for a period not exceeding&nbsp; 30 days;</p>
<p>(v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in event of a breach considered minor by the committee the Member may be ordered to rectify the breach and be counselled on the requirements of the Code.</p>
<p>10.7.7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in the event of the Committee finding that a Member is guilty of contravening clauses 10.1.1.3 or 10.1.2 of this Code, the Committee shall not impose any of the above sanction, but shall recommend any greater sanction it deems appropriate to the House, and the House shall decide on the appropriate sanction to be imposed after consideration of the recommendation of the Committee.</p>
<p>&nbsp;</p>
<p><strong>10.7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Committee to report to appropriate House</strong></p>
<p>10.7.8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Committee must report its finding and its recommendations as to penalties, if any, to the appropriate House.</p>
<p>10.7.8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If the Committee recommends a penalty, the House must either-</p>
<p>(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; accept or reject the recommendations; or</p>
<p>(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; refer the matter back to the Committee for further consideration.</p>
<p>&nbsp;</p>
<p>10.7.8.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if the House has accepted the Committee&rsquo;s recommendation, the findings become final and the Speaker or the Chairperson of the Council must act on such decision promptly.</p>
<p>&nbsp;</p>
<p><strong>10.7.9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Referral of misconduct not covered by Code to &nbsp;Presiding Officer of the appropriate House </strong></p>
<p>&nbsp;</p>
<p>If the Committee, during the course of an investigation, is placed in possession of information or becomes aware of a Member who may be guilty of conduct that falls outside of this Code, but which could amount to misconduct by a Member or conduct unbecoming of a Member of Parliament, then the Committee must refer such matter, including all information available on the matter, to the Speaker in respect of a Member of the National Assembly or the Chairperson of the Council in respect of a Permanent Member of the Council, to take the necessary action.</p>
<h1>10.7.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If a Member resigns at any stage of the investigation, the investigation process will continue in order for the Committee to make a finding.</h1>
<p>&nbsp;</p>
<p><strong>11. ROLES AND FUNCTIONS</strong></p>
<p>&nbsp;</p>
<p><strong>11.1 &nbsp;Role of Committee</strong></p>
<p align="right">&nbsp;</p>
<p>The Committee is established in terms of Joint Rule 121 and performs the functions mentioned in Joint Rule 124 in accordance with this Code.</p>
<p>&nbsp;</p>
<p><strong>11. 2. Registrar of Members&rsquo; Interests</strong></p>
<p>&nbsp;</p>
<p>The Committee must be served by a senior official, on the staff of Parliament, appointed by the Speaker and the Chairperson of the Council, acting jointly, after consulting the leaders of parties represented in the Assembly and the Council. The Registrar must be assisted by staff assigned by the Secretary for the work of the Committee.</p>
<p>&nbsp;</p>
<p><strong>11.3&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;Registrar&rsquo;s functions </strong></p>
<p>&nbsp;</p>
<p>The Registrar performs the functions of office in accordance with the directions of the Committee.</p>
<p>&nbsp;</p>
<p>The Registrar must:</p>
<p>&nbsp;</p>
<p>11.3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; open and keep a register for the purposes of this Code, called the Register of Members&rsquo; Interests;&nbsp; and</p>
<p>11.3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; record in the Register particulars of members&rsquo; registrable interests;</p>
<p>11.3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; amend any entries in the Register when necessary;&nbsp;</p>
<p>11.3.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; perform the duties in respect of investigations of breaches of the Code as prescribed in this Code; and</p>
<p>11.3.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; perform the other duties of this Code as required by the Committee.&nbsp;</p>
<p>&nbsp;</p>
<p>Tabled for consideration.</p>
<p>&nbsp;</p>
<p>Approved</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Co chairperson Mr BL Mashile</p>
{% endblock %}