{% extends "base.html" %}

{% block page %}

<h1>Contact Us</h1>

<div class="row">
	<div class="col-md-5">
		<h2>By Email</h2>
		<dl>
			<dd>Premium Access Information: <a href="mailto:password@pmg.org.za">password@pmg.org.za</a></dd>
			<dd>Monitors Information: <a href="mailto:monitors@pmg.org.za">monitors@pmg.org.za</a></dd>
			<dd>Electronic Documents Information: <a href="mailto:docs@pmg.org.za">docs@pmg.org.za</a></dd>
			<dd>Email Alerts: <a href="mailto:access@pmg.org.za">access@pmg.org.za</a></dd>
			<dd>General Information: <a href="mailto:info@pmg.org.za">info@pmg.org.za</a></dd>
		</dl>
		<h2>By Telephone</h2>
		<dl>
			<dd>Tel: (021) 465 8885</dd>
			<dd>Fax: (021) 465 8887</dd>
		</dl>
		<h2>By Mail or In Person</h2>
		<dl>
			<dd>2nd floor, Associated Media</dd>
			<dd>21 St Johns Street</dd>
			<dd>Cape Town 8001</dd>
		</dl>
	</div>
	<div class="col-md-7">
		<iframe frameborder="0" height="550" marginheight="0" marginwidth="0" scrolling="no" src="//maps.google.co.za/maps?q=21+St+John's+Street,+Cape+Town+8000,+South+Africa&amp;hl=en&amp;sll=-33.928758,18.418644&amp;sspn=0.00738,0.009999&amp;vpsrc=0&amp;hnear=21+St+Johns+Street,+Cape+Town+City+Centre,+Cape+Town,+Western+Cape+8000&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=-33.928758,18.418644&amp;output=embed" width="625"></iframe>

		<p>
			<a href="//maps.google.co.za/maps?q=21+St+John's+Street,+Cape+Town+8000,+South+Africa&amp;hl=en&amp;sll=-33.928758,18.418644&amp;sspn=0.00738,0.009999&amp;vpsrc=0&amp;hnear=21+St+Johns+Street,+Cape+Town+City+Centre,+Cape+Town,+Western+Cape+8000&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=-33.928758,18.418644&amp;source=embed">View larger map</a>
		</p>
	</div>
</div>


{% endblock %}
