{% extends "base.html" %}

{% block page %}

<h1>Disclaimer &amp; Copyright</h1>

<h2>Disclaimer</h2>

<p>
Whilst every attempt is made to ensure that the information is accurate, these minutes do not profess to be a complete and correct record of the proceedings in the committees. The Parliamentary Monitoring Group disclaims all liability for the accuracy or comprehensiveness of the information provided by this site. It accepts no responsibility for any loss occasioned as a direct or indirect result of the use of or reliance on the information obtained from this site.
</p>

<h2>Copyright note</h2>

<p>Anyone using the information provided in the PMG infobase for commercial purposes must indicate the source.</p>

{% endblock %}
