{% extends "base.html" %}

{% block page %}
<h1>The Legislative Process</h1>

<p><font face="Arial,Helvetica" size="4"><b>THE LEGISLATIVE PROCESS</b></font></p>
<p><a href="#Green_and_White_Papers"><font face="Arial,Helvetica" size="2"><b>Green and White Papers</b></font></a></p>
<p><a href="#Bills"><font face="Arial,Helvetica" size="2"><b>Bills</b></font></a><br />
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Bills_before_Parliament"><font face="Arial,Helvetica" size="2">Bills before Parliament</font></a><br />
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Bills_before_the_Provincial_Legislature"><font face="Arial,Helvetica" size="2">Bills before the Provincial Legislature</font></a><br />
	<br />
	<a href="#How_a_Bill_becomes_a_Law"><font face="Arial,Helvetica" size="2"><b>How a Bill becomes a Law</b></font></a><br />
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Bills_tabled_in_Parliament"><font face="Arial,Helvetica" size="2">Bills tabled in Parliament</font></a><br />
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Bills_tabled_in_the_Provincial_Legislature"><font face="Arial,Helvetica" size="2">Bills tabled in the Provincial Legislature </font></a></p>
<p><br />
	<font face="Arial,Helvetica" size="4"><b>THE LEGISLATIVE PROCESS</b></font></p>
<p><font face="Arial,Helvetica" size="2">This section provides an overview of the stages and processes involved in making or changing a law.</font></p>
<p><a name="Green_and_White_Papers"><font face="Arial,Helvetica" size="2"><b>Green and White Papers</b></font></a></p>
<p><font face="Arial,Helvetica" size="2">The process of making a law sometimes begins with a discussion document, called a Green Paper. This is drafted in the Ministry or department dealing with the particular issue in order to show the way that it is thinking on a particular policy. It is then published so that anyone who is interested can give comments, suggestions and ideas. </font></p>
<p><font face="Arial,Helvetica" size="2">The Green Paper is sometimes followed by a more refined discussion document, called a White Paper, which is a broad statement of government policy. This is drafted by the relevant department or a task team designated by the Minister of that department. Comment may again be invited from interested parties. The relevant parliamentary Committees may propose<b> </b>amendments or other proposals and then send the policy paper back to the Ministry for further discussion and final decisions. </font></p>
<p><a name="Bills"><font face="Arial,Helvetica" size="2"><b>Bills</b></font></a></p>
<p><font face="Arial,Helvetica" size="2">A Bill is the draft version of a law or Act. It may be proposing either an entirely new Act, or an amendment to an existing Act, or it can simply repeal an existing Act. </font></p>
<p><font face="Arial,Helvetica" size="2">This section outlines some of the processes and requirements that can take place before a Bill becomes a law. It deals with the various types of Bills and who may initiate a Bill. The following section tracks how a Bill becomes a law. The Constitution provides the full details which are not included here.</font></p>
<p><a name="Bills_before_Parliament"><font face="Arial,Helvetica" size="2"><b><i>Bills before Parliament</i></b></font></a></p>
<p><font face="Arial,Helvetica" size="2">There are four main types of Bills that come before Parliament:</font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">ordinary Bills that do not affect the provinces (section 75 of the Constitution);</font></li>
	<li><font face="Arial,Helvetica" size="2">ordinary Bills that affect the provinces (section 76 of the Constitution);</font></li>
	<li><font face="Arial,Helvetica" size="2">Money Bills (section 77 of the Constitution); and</font></li>
	<li><font face="Arial,Helvetica" size="2">Bills amending the Constitution (section 74 of the Constitution); and</font></li>
</ol>
<p><font face="Arial,Helvetica" size="2">(Bills are often loosely referred to by the section of the Constitution which describes their procedure. For example &quot;Section 75 Bills&quot; refers to the ordinary Bills that do not affect the provinces etc..)</font></p>
<p><font face="Arial,Helvetica" size="2">The process of classifying a Bill into one of the four categories above is called &quot;tagging&quot; and will determine the procedures the Bill must follow to become law. Bills are tagged by the Joint Tagging Mechanism (JTM), a Committee consisting of the Speaker and the Deputy Speaker of the National Assembly and the Chairperson and Permanent Deputy Chairperson of the National Council of Provinces. They are advised by the Parliamentary Law Adviser. The JTM decides on the classification of the Bill by consensus. </font></p>
<p><font face="Arial,Helvetica" size="2"><i>(For more detail on the functions and procedure of the JTM, please refer to the Joint Rules of Parliament, as amended on 24 March 1999.)</i></font></p>
<p><font face="Arial,Helvetica" size="2"><b>1. Ordinary Bills that do not affect the provinces (Section 75 Bills)</b></font></p>
<p><font face="Arial,Helvetica" size="2">An ordinary Bill that does not affect the provinces can only be introduced in the National Assembly (NA). Once it has been passed by the NA, it must be sent to the National Council of Provinces (NCOP). </font></p>
<p><font face="Arial,Helvetica" size="2">In this case, delegates in the NCOP vote individually and the Bill must be passed by a majority of delegates present. If the NCOP rejects a Bill or proposes its own amendments, the Bill is returned to the NA which will pass the Bill with or without taking into account the NCOP amendments or it may decide not to proceed with the Bill. The NCOP&#39;s role in Bills that do not affect the provinces is therefore a limited one. It can delay a Section 75 Bill, but it cannot prevent it from being passed. </font></p>
<p><font face="Arial,Helvetica" size="2"><b>2. Ordinary Bills that affect the provinces (Section 76 Bills)</b></font></p>
<p><font face="Arial,Helvetica" size="2">A Bill that affects the provinces may be introduced in either the NA or the NCOP, but must be considered in both Houses. </font></p>
<p><font face="Arial,Helvetica" size="2">Members of the NCOP do not vote as individuals on Section 76 Bills but rather as provincial delegations. Each provincial delegation has one vote so there are nine possible votes regarding Bills that affect the provinces. </font></p>
<p><font face="Arial,Helvetica" size="2">These Bills must also be discussed by each provincial legislature so that each legislature can give its NCOP delegation a voting mandate. This makes it necessary to have six-week legislative cycles so that a number of Bills can go to each province at one time. </font></p>
<p><font face="Arial,Helvetica" size="2">Bills are usually considered by a provincial Committee, which may hold public hearings on the Bill to receive comments and suggestions. These Committees make recommendations to their legislatures, which then decide on their position on each Bill and mandate their NCOP delegation accordingly. </font></p>
<p><font face="Arial,Helvetica" size="2">The four special delegates to the NCOP (who are supposed to be chosen according to their expertise and knowledge of the Bills being debated) go to Cape Town to join the six permanent delegates. The full delegation of ten people participate in the national debate on the Bills, thus enabling the provinces to contribute to national legislation that affects them. The delegation then casts its one vote on behalf of its province and in accordance with the provincial legislature&#39;s mandate. </font></p>
<p><font face="Arial,Helvetica" size="2">The NCOP must pass, amend or reject a section 76 Bill. If the Bill was introduced in the NA, however, the NA can override the NCOP decision with a two thirds majority of its Members.</font></p>
<p><font face="Arial,Helvetica" size="2"><b>3. Money Bills (Section 77 Bills)</b></font></p>
<p><font face="Arial,Helvetica" size="2">Money Bills allocate public money for a particular purpose or impose taxes, levies or duties. They can only be introduced by the Minister of Finance and they must be introduced in the National Assembly. They follow the same procedure as that for Bills that do not affect the provinces (Section 75 Bills). </font></p>
<p><font face="Arial,Helvetica" size="2">At present Money Bills may only be debated and not amended as, according to the Constitution, Parliament must still devise legislation for a procedure to amend Money Bills. </font></p>
<p><font face="Arial,Helvetica" size="2"><b>4. Constitutional Amendments (Section 74 Bills)</b></font></p>
<p><font face="Arial,Helvetica" size="2">As the highest law in the land, the Constitution is the foundation for a democratic society and protects the rights of all people. There are special requirements and procedures, therefore, in order to amend the Constitution. All of them require special majorities so that changes cannot be made by a minority. For example, amending the Bill of Rights requires a vote of two-thirds of the membership of the National Assembly and the support of six provinces in the NCOP. </font></p>
<p><font face="Arial,Helvetica" size="2">All constitutional amendments that affect the provinces must be passed by both Houses. Amendments which affect only certain provinces, must be passed by those provinces.<b> </b>Other amendments do not need to be passed by the NCOP but all amendments, whether or not they must be passed by the NCOP, must be submitted to the NCOP for public debate. </font></p>
<p><font face="Arial,Helvetica" size="2">In addition, minimum times are laid down for different stages of the legislative process. All constitutional amendments must be published in the Government Gazette with a call for public comment at least 30 days before being introduced in Parliament. After the Bill which proposes amendments to the Constitution is tabled, 30 days must pass before it can be put to a vote in the National Assembly.</font></p>
<p><a name="Bills_before_the_Provincial_Legislature"><font face="Arial,Helvetica" size="2"><b><i>Bills before the Provincial Legislature</i></b></font></a></p>
<p><font face="Arial,Helvetica" size="2">There are two different types of Bills that come before provincial legislatures:</font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">Bills other than Money Bills;</font></li>
	<li><font face="Arial,Helvetica" size="2">Money Bills;</font></li>
</ol>
<p><font face="Arial,Helvetica" size="2">The procedure for processing these three types of Bills differs slightly.</font></p>
<p><font face="Arial,Helvetica" size="2"><b>1. Bills other than Money Bills</b></font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">An ordinary Bill is introduced in the provincial legislature and is referred to the relevant Standing Committee. </font></li>
	<li><font face="Arial,Helvetica" size="2">Either public hearings may be held to hear the public&#39;s views regarding the Bill or a Standing Committee may invite interested parties to make written submissions to the Committee. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Committee then considers the Bill and may propose amendments to it. </font></li>
	<li><font face="Arial,Helvetica" size="2">After consideration by the Committee, a report with recommendations on the Bill is submitted to the House. </font></li>
	<li><font face="Arial,Helvetica" size="2">A debate takes place on the objectives and principles of the Bill in the House and the MPLs vote.</font></li>
	<li><font face="Arial,Helvetica" size="2">If there is a majority of votes in favour of the Bill, the Bill is passed. If there is no majority, the Bill is rejected. </font></li>
</ol>
<p><font face="Arial,Helvetica" size="2"><b>2. Money Bills</b></font></p>
<p><font face="Arial,Helvetica" size="2">A Bill that appropriates money or imposes taxes, levies or duties is called a Money Bill. Only the MEC responsible for Finance is able to introduce a Money Bill in the House. </font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">Money Bills are referred to the Committee of Finance for discussion for a maximum of seven working days. </font></li>
	<li><font face="Arial,Helvetica" size="2">After discussion, the Committee submits a report to the House. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Committee is not allowed to propose any amendments to the Bill, as there is not yet legislation that allows this.</font></li>
</ol>
<p><a name="How_a_Bill_becomes_a_Law"><font face="Arial,Helvetica" size="2"><b>How a Bill becomes a Law</b></font></a></p>
<p><font face="Arial,Helvetica" size="2"><b><i>The initiation of Bills</i></b></font></p>
<p><font face="Arial,Helvetica" size="2">A Bill can be initiated and written by a number of bodies.</font></p>
<ul>
	<li><font face="Arial,Helvetica" size="2"><b>By a Minister or an MEC</b> </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">Most national and provincial Bills are drawn up by a Minister at national level or an MEC at provincial level. </font></p>
<ul>
	<li><font face="Arial,Helvetica" size="2"><b>By an MP or an MPL</b> </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">Bills drawn up by individual Members are called Private Members Bills. A Committee concerned with Members&#39; legislature proposals in each House decides whether the Bill meets certain criteria (which could include financial implications) and can be introduced into the House. </font></p>
<ul>
	<li><font face="Arial,Helvetica" size="2"><b>By a Committee</b> </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">Parliament has recently drafted rules and procedures enabling a Committee to initiate a Bill.</font></p>
<p><a name="BM3_3_How_a_Bill_becomes_a_Law"></a><br />
	<a name="Bills_tabled_in_Parliament"></a><font face="Arial,Helvetica" size="2"><b><i>Bills tabled in Parliament</i></b></font></p>
<p><font face="Arial,Helvetica" size="2">Most Bills tabled in Parliament are introduced by the Executive and are<b> </b>either </font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">ordinary Bills that do not affect the provinces (Section 75 Bills); or</font></li>
	<li><font face="Arial,Helvetica" size="2">ordinary Bills that affect the provinces (Section 76 Bills).</font></li>
</ol>
<p><font face="Arial,Helvetica" size="2"><b>1. Bills that do not affect the provinces (section 75 Bills)</b></font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">A draft Bill, which has been drafted by a government department, is submitted by the relevant Minister to the Cabinet for approval. </font></li>
	<li><font face="Arial,Helvetica" size="2">The state law advisers must refine and approve the draft Bill. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Bill is then introduced and tabled in the National Assembly for what is known as the First Reading. The Bill is also published in the Government Gazette.</font></li>
	<li><font face="Arial,Helvetica" size="2">The Bill is then referred to the relevant Committee in the National Assembly which considers the Bill and may agree to it, propose amendments or reject the Bill, generally after a process of public consultation. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Second Reading then takes place where the Bill is debated and voted on at a sitting of the National Assembly. </font></li>
	<li><font face="Arial,Helvetica" size="2">If there is a majority of votes in favour, the Bill is passed and the Bill is then referred to the NCOP for consideration. </font></li>
	<li><font face="Arial,Helvetica" size="2">The NCOP can accept or reject the Bill or propose amendments to it:</font></li>
</ol>
<ul>
	<li><font face="Arial,Helvetica" size="2">If the NCOP passes the Bill without amendments, it goes to the President for his assent and signature and the Bill then becomes law. The Act appears in the Government Gazette and comes into effect on a date determined by the President. </font></li>
	<li><font face="Arial,Helvetica" size="2">If the NCOP proposes amendments to or<b> </b>rejects the Bill, it must go back to the National Assembly for reconsideration. The National Assembly can pass the Bill with or without the NCOP amendments, or it can reject the Bill. </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">Note: While both Houses must consider Bills that do not affect the provinces, the NA may actually override the NCOP and pass the Bill despite opposition by the NCOP. It then submits the Bill, either in its original form or with amendments, to the National Assembly with a report.</font></p>
<p><font face="Arial,Helvetica" size="2"><b>2. Bills that affect the provinces (Section 76 Bills)</b></font></p>
<p><font face="Arial,Helvetica" size="2">Schedule 4 of the Constitution lists the matters that affect the provinces and which therefore have to be dealt with in Section 76 Bills. </font></p>
<p><font face="Arial,Helvetica" size="2">These include casinos; racing; gambling; cultural matters; disaster management; education excluding tertiary education; environment; health services; housing; population development; public transport; tourism; trade; traditional leadership; welfare services; and child care facilities.</font></p>
<p><font face="Arial,Helvetica" size="2">Bills that affect the provinces may be introduced in either the National Assembly or the NCOP. Once introduced in Parliament, Bills are also sent to the provincial legislatures so that they can begin considering them. </font></p>
<p><font face="Arial,Helvetica" size="2"><u>If the Bill is tabled in the National Assembly:</u></font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">The Bill is introduced by a Cabinet Member or a Deputy Minister, or a Member or Committee of the National Assembly. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Bill will be referred to a National Assembly Committee for consideration. Sometimes public hearings will be held. </font></li>
	<li><font face="Arial,Helvetica" size="2">The National Assembly would then either pass, amend or reject the Bill. If it passes the Bill or amends it, the Bill (with any amendments) is referred to the NCOP. </font></li>
</ol>
<p><font face="Arial,Helvetica" size="2"><u>If the Bill is tabled in the National Council of Provinces:</u></font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">The Bill can only be introduced by a Member or Committee of the NCOP. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Bill will be sent to an NCOP Committee, which will receive a briefing on the Bill so that the NCOP Members can tell their respective provincial legislatures about the Bill. </font></li>
	<li><font face="Arial,Helvetica" size="2">It is then considered by each of the nine provincial legislatures. The NCOP Members will go back to their provinces so that they can participate in the debate in their own provincial legislatures. </font></li>
	<li><font face="Arial,Helvetica" size="2">Each provincial legislature will refer the Bill to a Committee, which will consider the Bill and may hold provincial public hearings on the Bill. The NCOP Members get a voting mandate from their provincial legislatures. Each provincial delegation has one vote on each Bill. </font></li>
	<li><font face="Arial,Helvetica" size="2">The NCOP delegates then return to Cape Town with a negotiating mandate. The NCOP Committee considers the Bill and negotiation takes place among the nine provincial delegations. </font></li>
</ol>
<ul>
	<li><font face="Arial,Helvetica" size="2">If the NCOP passes the Bill, it goes to the President for his assent and signature. </font></li>
	<li><font face="Arial,Helvetica" size="2">If the NCOP rejects or amends the Bill it goes back to the National Assembly for reconsideration. </font></li>
	<li><font face="Arial,Helvetica" size="2">If the National Assembly accepts the amended Bill, it goes to the President for his assent. </font></li>
	<li><font face="Arial,Helvetica" size="2">If the National Assembly rejects the NCOP amendments, the Bill goes to a Mediation Committee comprising of Members from the National Assembly and Members of the NCOP. </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">6. If the Mediation Committee is unable to agree within 30 days of the Bill&#39;s referral to it, the Bill lapses. </font></p>
<p><font face="Arial,Helvetica" size="2">(A Mediation Committee may agree on</font></p>
<ul>
	<li><font face="Arial,Helvetica" size="2">the Bill as passed by the National Assembly; </font></li>
	<li><font face="Arial,Helvetica" size="2">the amended Bill as passed by the NCOP; </font></li>
	<li><font face="Arial,Helvetica" size="2">another version of the Bill </font></li>
</ul>
<p><font face="Arial,Helvetica" size="2">for details concerning the outcome of these three options, refer to Section 76 of the Constitution.)</font></p>
<p><font face="Arial,Helvetica" size="2">Note: While the NCOP has more power to change section 76 Bills than section 75 Bills, if a Bill has been introduced in the NA<b>, </b>the NA is once again able to disregard the NCOP and pass Section 76 legislation with a two thirds majority vote. If a section 76 Bill is introduced in the NCOP, the Bill lapses if agreement cannot be reached between the two Houses</font></p>
<p><font face="Arial,Helvetica" size="2">Before a new Act comes into force, it has to be &quot;enacted&quot;. This involves the President declaring the Act&#39;s commencement date in the Government Gazette. Acts are only enacted once the responsible department has indicated that it is ready and has the capacity to implement the new law.</font></p>
<p><a name="Bills_tabled_in_the_Provincial_Legislature"><font face="Arial,Helvetica" size="2"><b><i>Bills tabled in the Provincial Legislature</i></b><b> </b></font></a></p>
<p><font face="Arial,Helvetica" size="2">Schedule 5 of the Constitution of South Africa lists the areas over which the provinces have exclusive legislative control. These areas include ambulance services; libraries other than national libraries; provincial cultural matters; provincial sport; beaches and recreation facilities; cemeteries; funeral parlours and crematoria, cleansing, markets; municipal parks and recreation.</font></p>
<ol>
	<li><font face="Arial,Helvetica" size="2">A Bill may be drawn up by a Member of Executive Council (MEC), a Member of Provincial Legislature (MPL) or a Committee. </font></li>
	<li><font face="Arial,Helvetica" size="2">The draft Bill is presented to and approved by the Executive Council. </font></li>
	<li><font face="Arial,Helvetica" size="2">The Bill is published in the Provincial Gazette, and notices are placed in various newspapers which bring the Bill to the attention of the public. After this, the public has at least 14 days to comment on the Bill.</font></li>
	<li><font face="Arial,Helvetica" size="2">The Speaker introduces the Bill to the House and decides which is the best Committee to deal with the Bill. </font></li>
	<li><font face="Arial,Helvetica" size="2">The MPLs in the Committee debate the Bill and propose amendments, generally after a process of public consultation. </font></li>
	<li><font face="Arial,Helvetica" size="2">The House votes and, if there is a majority of votes, the Bill is passed.</font></li>
	<li><font face="Arial,Helvetica" size="2">It then goes to the Premier of the province for signature and becomes a provincial Act. The provincial Act must be published promptly and takes effect when published or on a date determined in terms of the Act. </font></li>
	<li><font face="Arial,Helvetica" size="2">If there is no majority, the Bill is rejected.<br />
		<br />
		<br />
		<br />
		<b>Sources:</b></font></li>
</ol>
<ul>
	<li><font face="Arial,Helvetica" size="2">IDASA&#39;s Political Information &amp; Monitoring Service (1998), <i>Down Government Avenue </i></font></li>
	<li><font face="Arial,Helvetica" size="2">Gauteng Legislature (1996)<i> A People&#39;s Guide to the Gauteng Legislature </i></font></li>
	<li><font face="Arial,Helvetica" size="2">Constitution of South Africa, Annotated Version </font></li>
	<li><font face="Arial,Helvetica" size="2">Taylor, Mandy (1998) <i>How a Bill becomes Law</i> (paper presented at a Parliamantary Monitoring Group training workshop, 1998) </font></li>
	<li><font face="Arial,Helvetica" size="2">Public Education Department, Parliament of RSA, <i>Parliament, Making Democracy Work </i></font></li>
	<li><font face="Arial,Helvetica" size="2">Legislative Training Programme, School of Government, University of the Western Cape <i>Draft Information Handbook for Members of Legislatures </i></font></li>
	<li><font face="Arial,Helvetica" size="2">Northern Cape Legislature <i>Northern Cape Legislature Manual</i> </font></li>
	<li><font face="Arial,Helvetica" size="2">Section 76 Diagram compiled by Alison Tilley, Black Sash Trust - National Advocacy Monitor </font></li>
</ul>
<hr>
<p><font size="2">This information compiled with the support of the <em>European Union Parliamentary Support Programme (EUPSP)</em></font></p>

{% endblock %}