{% extends "base.html" %}

{% block page %}
<h1>Legislative Process &amp; Government | Links</h1>

<p><a href="http://www.pmg.org.za/node/17034">The Legislative Process</a></p>
<p><a href="http://www.pmg.org.za/files/sectionA1.htm">Central Tenets of Government</a></p>
<p><a href="http://www.pmg.org.za/files/docs/govt-structure.htm">Structure of Government</a></p>
<p><a href="http://www.pmg.org.za/files/sectionA3.htm">State Institutions Supporting Democracy</a></p>
<p><a href="http://www.pmg.org.za/links">Links to relevant websites</a></p>
{% endblock %}