{% extends "base.html" %}

{% block page %}
<h1>Links</h1>
<ul>
	<li><a href="http://www.parliament.gov.za/">South African Parliament</a></li>
</ul>
<h3>Legislatures</h3>
<ul>
	<li><a href="http://www.eclegislature.gov.za/">Eastern Cape</a></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.fsl.gov.za/">Free State</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.gpl.gov.za/">Gauteng</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.kznlegislature.gov.za/">KwaZulu-Natal</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.limpopoleg.gov.za">Limpopo</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.mpuleg.gov.za/">Mpumalanga</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.ncpleg.gov.za/">Northern Cape</a></font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="http://www.nwpl.gov.za/public/index.php">North West</a></font></li>
	<li><a href="http://www.wcpp.gov.za"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Western Cape</font></a></li>
</ul>
<h3>Political Parties Online</h3>
<ul>
	<li><a href="http://www.acdp.org.za/">African Christian Democratic Party</a></li>
	<li><a href="http://www.anc.org.za/">African National Congress</a></li>
	<li><a href="http://www.theapc.org.za/">African People&#39;s Convention</a></li>
	<li><a href="http://www.agangsa.org.za/">Agang SA</a></li>
	<li><a href="http://www.azapo.org.za/">Azanian People&#39;s Organisation</a></li>
	<li><font size="-0"><font size="-0"><a href="http://www.congressofthepeople.org.za/"><font face="Arial"><font size="2">Congress of the People</font></font></a></font></font></li>
	<li><span lang="EN-ZA"><a href="http://www.da.org.za/"><span><u>Democratic Alliance</u></span></a></span></li>
	<li><a href="http://www.vryheidsfront.co.za/">Freedom Front</a></li>
	<li><a href="http://www.id.org.za/">Independent Democrats</a></li>
	<li><a href="http://www.ifp.org.za/">Inkatha Freedom Party</a></li>
	<li><span lang="EN-ZA"><a href="http://www.pac.org.za/"><span><u>Pan Africanist Congress of Azania</u></span></a></span></li>
	<li><a href="http://www.mf.org.za/">Minority Front</a></li>
	<li><a href="http://www.ucdp.org.za/">United Christian Democratic Party</a></li>
</ul>
<h3><span>Provincial Government</span></h3>
<ul>
	<li><a href="http://www.ecpg.gov.za/" target="_blank" title="Outside link - opens in new window">Eastern Cape Provincial Government</a></li>
	<li><span><a href="http://www.fs.gov.za/" target="_blank" title="Outside link - opens in new window">Free State Provincial Government </a></span></li>
	<li><span><a href="http://www.gautengonline.gov.za" target="_blank" title="Outside link - opens in new window">Gauteng Provincial Government </a></span></li>
	<li><span><a href="http://www.kwazulunatal.gov.za/" target="_blank" title="Outside link - opens in new window">KwaZulu-Natal Provincial Government </a></span></li>
	<li><span><a href="http://www.limpopo.gov.za/" target="_blank" title="Outside link - opens in new window">Limpopo Provincial Government </a></span></li>
	<li><span><a href="http://www.mpumalanga.gov.za/" target="_blank" title="Outside link - opens in new window">Mpumalanga Provincial Government </a></span></li>
	<li><span><a href="http://www.northern-cape.gov.za/" target="_blank" title="Outside link - opens in new window">Northern Cape Provincial Government </a></span></li>
	<li><span><a href="http://www.nwpg.gov.za/" target="_blank">North West Provincial Government </a></span></li>
	<li><span><a href="http://www.capegateway.gov.za" target="_blank" title="Outside link - opens in new window">Western Cape Provincial Government</a></span></li>
</ul>
<h3>NGOs and Other links</h3>
<ul>
	<li><a href="http://www.cpp.org.za/">Centre for Public Participation</a></li>
	<li><a href="http://www.opendemocracy.org.za/">Open Democracy Advice Centre</a></li>
	<li><a href="http://www.psam.org.za/">Public Service Accountability Monitor (PSAM)</a></li>
	<li><a href="http://www.sangonet.org.za/portal/">Sangonet</a></li>
	<li><a href="http://www.uiowa.edu/%7Eelectdis/">Electoral Systems For Emerging Democracies</a></li>
	<li><a href="http://www.saflii.org/"><span>Southern African Legal Information Institute</span></a></li>
	<li><a href="http://www.lawsofsouthafrica.up.ac.za/">Laws of South Africa Consolidated Legislation</a></li>
</ul>
<p>&nbsp;</p>
{% endblock %}