{% extends "base.html" %}

{% block page %}

<div class="row">
	<div class="col-md-6">
		<h1>Welcome to the new PMG website which launched on 1 February 2015</h1>

		<p>The website has improved functionality and better synergy with our Peoples Assembly website. This launch is part of an initial phase as new features will be added in the coming months.</p>
		 
		<p>The old website will continue to exist at <a href="http://www.legacy.pmg.org.za/">www.legacy.pmg.org.za</a> for a month as users get accustomed to the new website and as we sort out expected bugs.</p>
		 
		<p>All subscribers will be sent an email requesting them to change their password or you can go directly <a href="{{ url_for('forgot_password') }}">here to create a new password</a>.
		 
		<p>All queries concerning registration should be sent to <a href="mailto:subscribe@pmg.org.za">subscribe@pmg.org.za</a>.

		<p>Any feedback or suggestions about the re-design can be directed to <a href="mailto:feedback@pmg.org.za">feedback@pmg.org.za</a>.</p>

		<p>This is a special year for everyone associated with PMG as we celebrate a significant milestone - our 20th anniversary.</p>

		<p>We thank our users and funders for their ongoing support, commitment and encouragement,</p>

		<p>The PMG Team</p>
	</div>
</div>
{% endblock %}
