{% extends "base.html" %}

{% block page %}
<h1>Political Party Representation in National Assembly</h1>

<p>&nbsp;</p>
<p align="center"><strong>STATE OF PARTIES AS AT 13 MAY 2014 (DATE OF DESIGNATION)</strong></p>
<p align="center">&nbsp;</p>
<table align="center" border="1" cellpadding="0" cellspacing="0" width="1019">
	<tbody>
		<tr>
			<td>
				<p align="center">&nbsp;</p>
			</td>
			<td>
				<p align="center"><strong>PARTY</strong></p>
			</td>
			<td>
				<p align="center"><strong>ABBREVIATION</strong></p>
			</td>
			<td>
				<p align="center"><strong>VOTES RECEIVED</strong></p>
			</td>
			<td>
				<p align="center"><strong>% OF TOTAL VALID VOTES</strong></p>
			</td>
			<td>
				<p align="center"><strong>% OF NA SEATS</strong></p>
			</td>
			<td>
				<p align="center"><strong>SEATS FROM NATIONAL LIST</strong></p>
			</td>
			<td>
				<p align="center"><strong>SEATS FROM REGIONAL LISTS</strong></p>
			</td>
			<td>
				<p align="center"><strong>TOTAL NO OF SEATS</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">1</p>
			</td>
			<td>
				<p>African National Congress</p>
			</td>
			<td>
				<p align="center">ANC</p>
			</td>
			<td>
				<p align="center">11&nbsp;436&nbsp;921</p>
			</td>
			<td>
				<p align="center">62.15%</p>
			</td>
			<td>
				<p align="center">62.25%</p>
			</td>
			<td>
				<p align="center">118</p>
			</td>
			<td>
				<p align="center">131</p>
			</td>
			<td>
				<p align="center">249</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">2</p>
			</td>
			<td>
				<p>Democratic Alliance</p>
			</td>
			<td>
				<p align="center">DA</p>
			</td>
			<td>
				<p align="center">4&nbsp;091&nbsp;584</p>
			</td>
			<td>
				<p align="center">22.23%</p>
			</td>
			<td>
				<p align="center">22.25%</p>
			</td>
			<td>
				<p align="center">45</p>
			</td>
			<td>
				<p align="center">44</p>
			</td>
			<td>
				<p align="center">89</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p>Economic Freedom Fighters</p>
			</td>
			<td>
				<p align="center">EFF</p>
			</td>
			<td>
				<p align="center">1&nbsp;169&nbsp;259</p>
			</td>
			<td>
				<p align="center">6.35%</p>
			</td>
			<td>
				<p align="center">6.25%</p>
			</td>
			<td>
				<p align="center">11</p>
			</td>
			<td>
				<p align="center">14</p>
			</td>
			<td>
				<p align="center">25</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">4</p>
			</td>
			<td>
				<p>Inkatha Freedom Party</p>
			</td>
			<td>
				<p align="center">IFP</p>
			</td>
			<td>
				<p align="center">441&nbsp;854</p>
			</td>
			<td>
				<p align="center">2.40%</p>
			</td>
			<td>
				<p align="center">2.50%</p>
			</td>
			<td>
				<p align="center">5</p>
			</td>
			<td>
				<p align="center">5</p>
			</td>
			<td>
				<p align="center">10</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">5</p>
			</td>
			<td>
				<p>National Freedom Party</p>
			</td>
			<td>
				<p align="center">NFP</p>
			</td>
			<td>
				<p align="center">288&nbsp;742</p>
			</td>
			<td>
				<p align="center">1.57%</p>
			</td>
			<td>
				<p align="center">1.50%</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">6</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">6</p>
			</td>
			<td>
				<p>United Democratic Movement</p>
			</td>
			<td>
				<p align="center">UDM</p>
			</td>
			<td>
				<p align="center">184&nbsp;636</p>
			</td>
			<td>
				<p align="center">1.00%</p>
			</td>
			<td>
				<p align="center">1.00%</p>
			</td>
			<td>
				<p align="center">2</p>
			</td>
			<td>
				<p align="center">2</p>
			</td>
			<td>
				<p align="center">4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">7</p>
			</td>
			<td>
				<p>Freedom Front Plus</p>
			</td>
			<td>
				<p align="center">FF Plus</p>
			</td>
			<td>
				<p align="center">165&nbsp;715</p>
			</td>
			<td>
				<p align="center">0.90%</p>
			</td>
			<td>
				<p align="center">1.00%</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">1</p>
			</td>
			<td>
				<p align="center">4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">8</p>
			</td>
			<td>
				<p>Congress of the People</p>
			</td>
			<td>
				<p align="center">Cope</p>
			</td>
			<td>
				<p align="center">123&nbsp;235</p>
			</td>
			<td>
				<p align="center">0.67%</p>
			</td>
			<td>
				<p align="center">0.75%</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">9</p>
			</td>
			<td>
				<p>African Christian Democratic Party</p>
			</td>
			<td>
				<p align="center">ACDP</p>
			</td>
			<td>
				<p align="center">104&nbsp;039</p>
			</td>
			<td>
				<p align="center">0.57%</p>
			</td>
			<td>
				<p align="center">0.75%</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">10</p>
			</td>
			<td>
				<p>African Independent Congress</p>
			</td>
			<td>
				<p align="center">AIC</p>
			</td>
			<td>
				<p align="center">97&nbsp;642</p>
			</td>
			<td>
				<p align="center">0.53%</p>
			</td>
			<td>
				<p align="center">0.75%</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">11</p>
			</td>
			<td>
				<p>Agang SA</p>
			</td>
			<td>
				<p align="center">Agang SA</p>
			</td>
			<td>
				<p align="center">52&nbsp;350</p>
			</td>
			<td>
				<p align="center">0.28%</p>
			</td>
			<td>
				<p align="center">0.50%</p>
			</td>
			<td>
				<p align="center">2</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">12</p>
			</td>
			<td>
				<p>Pan Africanist Congress of Azania</p>
			</td>
			<td>
				<p align="center">PAC</p>
			</td>
			<td>
				<p align="center">37&nbsp;784</p>
			</td>
			<td>
				<p align="center">0.21%</p>
			</td>
			<td>
				<p align="center">0.25%</p>
			</td>
			<td>
				<p align="center">1</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">13</p>
			</td>
			<td>
				<p>African People&rsquo;s Convention</p>
			</td>
			<td>
				<p align="center">APC</p>
			</td>
			<td>
				<p align="center">30&nbsp;676</p>
			</td>
			<td>
				<p align="center">0.17%</p>
			</td>
			<td>
				<p align="center">0.25%</p>
			</td>
			<td>
				<p align="center">1</p>
			</td>
			<td>
				<p align="center">-</p>
			</td>
			<td>
				<p align="center">1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center">&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p align="center">&nbsp;</p>
			</td>
			<td>
				<p align="center"><strong>18&nbsp;224&nbsp;437</strong></p>
			</td>
			<td>
				<p align="center">&nbsp;</p>
			</td>
			<td>
				<p align="center">&nbsp;</p>
			</td>
			<td>
				<p align="center">200</p>
			</td>
			<td>
				<p align="center">200</p>
			</td>
			<td>
				<p align="center">400</p>
			</td>
		</tr>
	</tbody>
</table>
<div>&nbsp;</div>
<p>Each seat in the NA represents 45891 votes<br />
	Valid votes cast: 18&nbsp;402&nbsp;497<br />
	Votes for parties that gained seats: 18&nbsp;224&nbsp;437<br />
	Votes for parties that did not gain seats: 178&nbsp;060</p>
<p>&nbsp;</p>
<p><br />
	&nbsp;&nbsp;<strong>STATE OF PARTIES AS AT 28 APRIL 2009 (DATE OF DESIGNATION)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<table border="1" cellpadding="0" cellspacing="0" width="711">
	<tbody>
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>PARTY</strong></p>
			</td>
			<td>
				<p><strong>ABBREVIATION</strong></p>
			</td>
			<td>
				<p><strong>VOTES RECEIVED</strong></p>
			</td>
			<td>
				<p><strong>% OF TOTAL VOTES CAST (% OF 100%)</strong></p>
			</td>
			<td>
				<p><strong>% OF TOTAL VOTES ONLY FOR PARTIES IN NA</strong></p>
			</td>
			<td>
				<p><strong>SEATS FROM NATIONAL LIST</strong></p>
			</td>
			<td>
				<p><strong>SEATS FROM REGIONAL LISTS</strong></p>
			</td>
			<td>
				<p><strong>TOTAL NO OF SEATS*</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>African National Congress</p>
			</td>
			<td>
				<p>ANC</p>
			</td>
			<td>
				<p>11 650 748</p>
			</td>
			<td>
				<p>65,90%</p>
			</td>
			<td>
				<p>66,39%</p>
			</td>
			<td>
				<p>126</p>
			</td>
			<td>
				<p>138</p>
			</td>
			<td>
				<p>264</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>Democratic Alliance</p>
			</td>
			<td>
				<p>DA</p>
			</td>
			<td>
				<p>2 945 829</p>
			</td>
			<td>
				<p>16,66%</p>
			</td>
			<td>
				<p>16,79%</p>
			</td>
			<td>
				<p>32**</p>
			</td>
			<td>
				<p>35</p>
			</td>
			<td>
				<p>67</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>Congress of the People</p>
			</td>
			<td>
				<p>Cope</p>
			</td>
			<td>
				<p>1 311 027</p>
			</td>
			<td>
				<p>7,42%,</p>
			</td>
			<td>
				<p>7,47%</p>
			</td>
			<td>
				<p>16</p>
			</td>
			<td>
				<p>14</p>
			</td>
			<td>
				<p>30</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>Inkatha Freedom Party</p>
			</td>
			<td>
				<p>IFP</p>
			</td>
			<td>
				<p>804 260</p>
			</td>
			<td>
				<p>4,55%</p>
			</td>
			<td>
				<p>4,58%</p>
			</td>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>18</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>Independent Democrats</p>
			</td>
			<td>
				<p>ID</p>
			</td>
			<td>
				<p>162 915</p>
			</td>
			<td>
				<p>0,92%</p>
			</td>
			<td>
				<p>0,93%</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>United Democratic Movement</p>
			</td>
			<td>
				<p>UDM</p>
			</td>
			<td>
				<p>149 680</p>
			</td>
			<td>
				<p>0,85%</p>
			</td>
			<td>
				<p>0,85%</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>Freedom Front Plus</p>
			</td>
			<td>
				<p>FF Plus</p>
			</td>
			<td>
				<p>146 796</p>
			</td>
			<td>
				<p>0,83%</p>
			</td>
			<td>
				<p>0,84%</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>8</p>
			</td>
			<td>
				<p>African Christian Democratic Party</p>
			</td>
			<td>
				<p>ACDP</p>
			</td>
			<td>
				<p>142 658</p>
			</td>
			<td>
				<p>0,81%</p>
			</td>
			<td>
				<p>0,81%</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>United Christian Democratic Party</p>
			</td>
			<td>
				<p>UCDP</p>
			</td>
			<td>
				<p>66 086</p>
			</td>
			<td>
				<p>0,37%</p>
			</td>
			<td>
				<p>0,38%</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>10</p>
			</td>
			<td>
				<p>Pan Africanist Congress of Azania</p>
			</td>
			<td>
				<p>PAC</p>
			</td>
			<td>
				<p>48 530</p>
			</td>
			<td>
				<p>0,27%</p>
			</td>
			<td>
				<p>0,28%</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>11</p>
			</td>
			<td>
				<p>Minority Front</p>
			</td>
			<td>
				<p>MF</p>
			</td>
			<td>
				<p>43 474</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>12</p>
			</td>
			<td>
				<p>Azanian People&rsquo;s Organisation</p>
			</td>
			<td>
				<p>Azapo</p>
			</td>
			<td>
				<p>38 245</p>
			</td>
			<td>
				<p>0,22%</p>
			</td>
			<td>
				<p>0,22%</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>13</p>
			</td>
			<td>
				<p>African People&rsquo;s Convention</p>
			</td>
			<td>
				<p>APC</p>
			</td>
			<td>
				<p>35 867</p>
			</td>
			<td>
				<p>0,20%</p>
			</td>
			<td>
				<p>0,20%</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>17 549 115</strong></p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>200</p>
			</td>
			<td>
				<p>200</p>
			</td>
			<td>
				<p>400</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp; *Each seat in the NA represents 44 201 votes **The DA has no national list, so all its members are designated from its regional lists in accordance with item 9 of Schedule 1A to the Electoral Act &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>POLITICAL PARTY REPRESENTATIONS AFTER FLOOR CROSSINGS AD ELECTIONS (2007-1994)</strong>&nbsp;<strong>STATE OF PARTIES AFTER FLOOR‑CROSSING AS AT 16 SEPTEMBER 2007</strong>&nbsp;&nbsp;</p>
<table border="1" cellpadding="0" cellspacing="0" width="711">
	<tbody>
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>PARTY</strong></p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>SEATS BEFORE FLOOR-CROSSING</strong></p>
			</td>
			<td>
				<p><strong>SEATS GAINED</strong></p>
			</td>
			<td>
				<p><strong>SEATS LOST</strong></p>
			</td>
			<td>
				<p><strong>SEATS AFTER FLOOR-CROSSING</strong></p>
			</td>
			<td>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>% OF TOTAL</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>African National Congress</p>
			</td>
			<td>
				<p>ANC</p>
			</td>
			<td>
				<p>293</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>297</p>
			</td>
			<td>
				<p>74,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>Democratic Alliance</p>
			</td>
			<td>
				<p>DA</p>
			</td>
			<td>
				<p>47</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>47</p>
			</td>
			<td>
				<p>11,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>Inkatha Freedom Party</p>
			</td>
			<td>
				<p>IFP</p>
			</td>
			<td>
				<p>23</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>23</p>
			</td>
			<td>
				<p>5,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>United Democratic Movement</p>
			</td>
			<td>
				<p>UDM</p>
			</td>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>1,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>Independent Democrats</p>
			</td>
			<td>
				<p>ID</p>
			</td>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>African Christian Democratic Party</p>
			</td>
			<td>
				<p>ACDP</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>Freedom Front Plus</p>
			</td>
			<td>
				<p>FF Plus</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>8</p>
			</td>
			<td>
				<p>National Democratic Convention</p>
			</td>
			<td>
				<p>Nadeco</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>United Christian Democratic Party</p>
			</td>
			<td>
				<p>UCDP</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>0,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>10</p>
			</td>
			<td>
				<p>Minority Front</p>
			</td>
			<td>
				<p>MF</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>0,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>11</p>
			</td>
			<td>
				<p>African People&rsquo;s Convention</p>
			</td>
			<td>
				<p>APC</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>0,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>12</p>
			</td>
			<td>
				<p>Pan Africanist Congress of Azania</p>
			</td>
			<td>
				<p>PAC</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>13</p>
			</td>
			<td>
				<p>Azanian People&rsquo;s Organisation</p>
			</td>
			<td>
				<p>Azapo</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>14</p>
			</td>
			<td>
				<p>Federation of Democrats</p>
			</td>
			<td>
				<p>FD</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>15</p>
			</td>
			<td>
				<p>National Alliance</p>
			</td>
			<td>
				<p>NA</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>16</p>
			</td>
			<td>
				<p>United Independent Front</p>
			</td>
			<td>
				<p>UIF</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>17</p>
			</td>
			<td>
				<p>United Party of South Africa</p>
			</td>
			<td>
				<p>UPSA</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>18</p>
			</td>
			<td>
				<p>Progressive Independent Movement</p>
			</td>
			<td>
				<p>PIM</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
		</tr>
	</tbody>
</table>
<p>1.&nbsp;&nbsp;&nbsp; Mr N T Godi left the PAC on 3 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the African People&rsquo;s Convention.</p>
<p>2.&nbsp;&nbsp;&nbsp; Mr M T Likotsi left the PAC on 6 September 2007 in terms of item 4(3)(a) of Schedule 6A&nbsp;&nbsp; to the Constitution and joined the African People&rsquo;s Convention.</p>
<p>3.&nbsp;&nbsp;&nbsp; Ms N M Mdaka left the UIF on 12 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the African National Congress.</p>
<p>4.&nbsp;&nbsp;&nbsp; Ms Z A Ndlazi left the UIF on 12 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the African National Congress.</p>
<p>5.&nbsp;&nbsp;&nbsp; Mr C M Morkel left the PIM on 12 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the African National Congress.</p>
<p>6.&nbsp;&nbsp;&nbsp; Mr V C Gore left the ID on 12 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the African National Congress.</p>
<p>7.&nbsp;&nbsp;&nbsp; 7.&nbsp;Mr S Simmons left the UPSA on 14 September 2007 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the National Alliance. &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>STATE OF PARTIES AFTER FLOOR-CROSSING (15 SEPTEMBER 2005)</strong></p>
<table border="1" cellpadding="0" cellspacing="0" width="711">
	<tbody>
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>PARTY</strong></p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p><strong>SEATS BEFORE FLOOR-CROSSING</strong></p>
			</td>
			<td>
				<p><strong>SEATS GAINED</strong></p>
			</td>
			<td>
				<p><strong>SEATS LOST</strong></p>
			</td>
			<td>
				<p><strong>SEATS AFTER FLOOR-CROSSING</strong></p>
			</td>
			<td>
				<p><strong>% OF TOTAL</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>African National Congress</p>
			</td>
			<td>
				<p>ANC</p>
			</td>
			<td>
				<p>279</p>
			</td>
			<td>
				<p>14</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>293</p>
			</td>
			<td>
				<p>73,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>Democratic Alliance</p>
			</td>
			<td>
				<p>DA</p>
			</td>
			<td>
				<p>50</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>47</p>
			</td>
			<td>
				<p>11,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>Inkatha Freedom Party</p>
			</td>
			<td>
				<p>IFP</p>
			</td>
			<td>
				<p>28</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>23</p>
			</td>
			<td>
				<p>5,75</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>United Democratic Movement</p>
			</td>
			<td>
				<p>UDM</p>
			</td>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>1,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>Independent Democrats</p>
			</td>
			<td>
				<p>ID</p>
			</td>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>5</p>
			</td>
			<td>
				<p>1,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>African Christian Democratic Party</p>
			</td>
			<td>
				<p>ACDP</p>
			</td>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>Freedom Front Plus</p>
			</td>
			<td>
				<p>FF Plus</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>8</p>
			</td>
			<td>
				<p>National Democratic Convention</p>
			</td>
			<td>
				<p>Nadeco</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>4</p>
			</td>
			<td>
				<p>1%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>9</p>
			</td>
			<td>
				<p>United Christian Democratic Party</p>
			</td>
			<td>
				<p>UCDP</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>0,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>10</p>
			</td>
			<td>
				<p>Pan Africanist Congress of Azania</p>
			</td>
			<td>
				<p>PAC</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>0,75%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>11</p>
			</td>
			<td>
				<p>Minority Front</p>
			</td>
			<td>
				<p>MF</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>0,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>12</p>
			</td>
			<td>
				<p>United Independent Front</p>
			</td>
			<td>
				<p>UIF</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>0,5%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>13</p>
			</td>
			<td>
				<p>Azanian People&rsquo;s Organisation</p>
			</td>
			<td>
				<p>Azapo</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>14</p>
			</td>
			<td>
				<p>United Party of South Africa</p>
			</td>
			<td>
				<p>UPSA</p>
			</td>
			<td>
				<p><strong>-</strong></p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>15</p>
			</td>
			<td>
				<p>Federation of Democrats</p>
			</td>
			<td>
				<p>FD</p>
			</td>
			<td>
				<p><strong>-</strong></p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>16</p>
			</td>
			<td>
				<p>Progressive Independent Movement</p>
			</td>
			<td>
				<p>PIM</p>
			</td>
			<td>
				<p><strong>-</strong></p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>0,25%</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>New National Party</p>
			</td>
			<td>
				<p>NNP</p>
			</td>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>7</p>
			</td>
			<td>
				<p>-</p>
			</td>
			<td>
				<p>-</p>
			</td>
		</tr>
	</tbody>
</table>
<p>1.&nbsp;&nbsp;&nbsp; Mr L M Green left ACDP on 1 September 2005 in terms of item 4(3)(a) of Schedule&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6A to Constitution and joined Federation of Democrats (FD).</p>
<p>2.&nbsp;&nbsp;&nbsp; Mr S Simmons left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the United Party of South Africa (UPSA).</p>
<p>3.&nbsp;&nbsp;&nbsp; Mr M C J van Schalkwyk left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>4.&nbsp;&nbsp;&nbsp; Mr C H F Greyling left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>5.&nbsp;&nbsp;&nbsp; Mr F Beukman left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>6.&nbsp;&nbsp;&nbsp; Mr J Schippers left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>7.&nbsp;&nbsp;&nbsp; Ms C B Johnson left the NNP on 1 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>8.&nbsp;&nbsp;&nbsp; Mr J J M Stephens left the UDM on 6 September 2005 in terms of iterm 4(3) of Schedule 6A to the Constitution and joined the DA.</p>
<p>1.&nbsp;&nbsp;&nbsp; Dr G G Woods left the IFP on 6 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the National Democratic Convention (Nadeco).</p>
<p>2.&nbsp;&nbsp;&nbsp; Mr M V Ngema left the IFP on 6 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the National Democratic Convention (Nadeco).</p>
<p>3.&nbsp;&nbsp;&nbsp; Mr B C Ngiba left the IFP on 6 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the National Democratic Convention (Nadeco).</p>
<p>4.&nbsp;&nbsp;&nbsp; Ms M M Mdladlose left the IFP on 6 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the National Democratic Convention (Nadeco).</p>
<p>5.&nbsp;&nbsp;&nbsp; Mr L K Joubert left the IFP on 6 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the DA.</p>
<p>6.&nbsp;&nbsp;&nbsp; Rev M S Khumalo left the ACDP on 8 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>7.&nbsp;&nbsp;&nbsp; Adv Z L Madasa left the ACDP on 8 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>8.&nbsp;&nbsp;&nbsp; Adv A H Gaum left the NNP on 13 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>9.&nbsp;&nbsp;&nbsp; Mr Y Wang left the ID on 14 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>10.&nbsp; Mr C V Burgess left the ID on 14 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>11.&nbsp; Ms N M Mdaka left the UDM on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the United Independent Front (UIF).</p>
<p>12.&nbsp; Mr M Diko left the UDM on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the United Independent Front (UIF).</p>
<p>13.&nbsp; Mr B J Mnyandu left the DA on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>14.&nbsp; Dr E Nkem-Abonta left the DA on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>15.&nbsp; Mr R S Ntuli left the DA on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>16.&nbsp; Mr D K Maluleke left the DA on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the ANC.</p>
<p>17.&nbsp; Mr C M Morkel left the DA on 15 September 2005 in terms of item 4(3)(a) of Schedule 6A to the Constitution and joined the Progressive Independent Movement (PIM).</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>STATE OF PARTIES REPRESENTED IN NATIONAL ASSEMBLY &ndash; 3RD TERM (2004-2009)</strong></p>
<table border="1" cellpadding="0" cellspacing="0" width="711">
	<tbody>
		<tr>
			<td>
				<p><strong>PARTY</strong></p>
			</td>
			<td>
				<p><strong>NUMBER OF SEATS AFTER 2004 ELECTIONS</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>African National Congress (ANC)</p>
			</td>
			<td>
				<p>279</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Democratic Alliance (DA)</p>
			</td>
			<td>
				<p>50</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Inkatha Freedom Party (IFP)</p>
			</td>
			<td>
				<p>28</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>United Democratic Movement (UDM)</p>
			</td>
			<td>
				<p>9</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Independent Democrats (ID)</p>
			</td>
			<td>
				<p>7</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>New National Party (New NP)</p>
			</td>
			<td>
				<p>7</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>African Christian Democratic Party (ACDP)</p>
			</td>
			<td>
				<p>6</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Freedom Front Plus (VF +)</p>
			</td>
			<td>
				<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>United Christian Democratic Party (UCDP)</p>
			</td>
			<td>
				<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Pan Africanist Congress of Azania (PAC)</p>
			</td>
			<td>
				<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Azanian People&rsquo;s Organisation (Azapo)</p>
			</td>
			<td>
				<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Minority Front (MF)</p>
			</td>
			<td>
				<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><strong>TOTAL</strong></p>
			</td>
			<td>
				<p><strong>400</strong></p>
			</td>
		</tr>
	</tbody>
</table>
<p><br />
	<a href="http://www.pmg.org.za/parlinfo/provseats04.htm"><strong>2004 Elections: Provincial results</strong></a>&nbsp;<br />
	<br />
	<br />
	<strong>STATE OF PARTIES REPRESENTED IN NATIONAL ASSEMBLY - 2nd TERM (1999-2004)<br />
	(As at 5 April 2003 after floor crossing)</strong></p>
<table border="1" cellpadding="0" cellspacing="0" width="711">
	<tbody>
		<tr>
			<td>
				<p><strong>PARTY</strong></p>
			</td>
			<td>
				<p><strong>NUMBER OF SEATS AFTER 1999 ELECTIONS</strong></p>
			</td>
			<td>
				<p><strong>NUMBER OF SEATS AFTER 5 APRIL 2003 FLOOR CROSSING</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>1. African National Congress (ANC)</p>
			</td>
			<td>
				<p>266</p>
			</td>
			<td>
				<p>275*</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>2.Democratic Party(DP)</p>
			</td>
			<td>
				<p>38</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>3. Democratic Alliance (DA)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>46</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>4. Inkatha Freedom Party (IFP)</p>
			</td>
			<td>
				<p>34</p>
			</td>
			<td>
				<p>31</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>5. New National Party (New NP)</p>
			</td>
			<td>
				<p>28</p>
			</td>
			<td>
				<p>20*</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>6. African Christian Democratic Party (ACDP)</p>
			</td>
			<td>
				<p>6</p>
			</td>
			<td>
				<p>7</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>7. United Democratic Movement (UDM)</p>
			</td>
			<td>
				<p>14</p>
			</td>
			<td>
				<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>8. Freedom Front (FF)</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>9. United Christian Democratic Party (UCDP)</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>10. Federal Alliance (FA)</p>
			</td>
			<td>
				<p>2</p>
			</td>
			<td>
				<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>11. Pan Africanist Congress of Azania (PAC)</p>
			</td>
			<td>
				<p>3</p>
			</td>
			<td>
				<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>12. African Independent Movement (AIM)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>13. Alliance for Democracy and Prosperity (ADP)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>14. Azanian People&rsquo;s Organisation (Azapo)</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>15. Independent Democrat s (ID)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>16. Minority Front (MF)</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>17. National Action (NA)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>18Afrikaner Eenheid Beweging</p>
			</td>
			<td>
				<p>1</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>19. Peace and Justice Congress (PJC)</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
			<td>
				<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><strong>TOTAL</strong></p>
			</td>
			<td>
				<p><strong>400</strong></p>
			</td>
			<td>
				<p><strong>400</strong></p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>

{% endblock %}