{% extends "base.html" %}

{% block page %}
<p><b><span lang="EN-US">Profiles: New Cabinet Ministers</span></b></p>
<p><span lang="EN-US"><o p=""></o></span><b><span lang="EN-US">&gt;&gt;&gt;Minister of Agriculture, Forestry and Fisheries &ndash; Tina Joemat-Petersson</span></b></p>
<p><b><span lang="EN-US">Previous Positions</span></b></p>
<ul>
	<li>Member Executive Council for Education<span>&nbsp;&nbsp; </span>2003<span>&nbsp;&nbsp; </span></li>
	<li>Treasurer ANC Provincial Executive Committee<span>&nbsp;&nbsp; </span>2003<span>&nbsp;&nbsp; </span></li>
	<li>Member Northern Cape Provincial HIV and AIDS Council<span>&nbsp;&nbsp; </span>2000<span>&nbsp;&nbsp; </span></li>
	<li>Member Central Comm SACP<span>&nbsp;&nbsp; </span>1998<span>&nbsp;&nbsp; </span></li>
	<li>Member of Executive Council Education, Northern Cape Provincial Government<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span></li>
	<li>Member Northern Cape provincial Legislature<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span></li>
	<li>Member SA Democratic Teacher&#39;s Union<span>&nbsp;&nbsp; </span>1992<span>&nbsp;&nbsp; </span></li>
	<li>Member National Peoples Education Panelist<span>&nbsp;&nbsp; </span>1992<span>&nbsp;&nbsp; </span></li>
	<li>Research Assistant to Head of English Department, UWC<span>&nbsp;&nbsp; </span>1990<span>&nbsp;&nbsp; </span></li>
	<li>Member ANC<span>&nbsp;&nbsp; </span>1989<span>&nbsp;&nbsp; </span></li>
	<li>Member ANC Provincial Executive Committee Northern Cape<span>&nbsp;&nbsp; </span>1988<span>&nbsp;&nbsp; </span></li>
	<li>Teacher Pescodia Secondary School Kimberley<span>&nbsp; </span>1987<span>&nbsp;&nbsp; </span></li>
	<li>Member ANC Deployment Committee, Elections Committee and gender Committee<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Member Economic and Social clusters Provincial Cabinet Committees</li>
</ul>
<p class="MsoNormal"><o p=""></o><br />
	<b><span lang="EN-US">Education</span></b><span lang="EN-US"> </span></p>
<ul>
	<li>Higher Diploma in Education University of Western Cape<span>&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Executive Management Programme Graduate School of Business, University of Cape Town Executive Management Education 2002</li>
	<li>Bachelor of Arts University of Western Cape English &amp; History<span>&nbsp;<br />
		&nbsp; </span></li>
</ul>
<p class="MsoNormal"><o p=""></o><b><span lang="EN-US">&gt;&gt;&gt;Minister of Basic Education - Angie Motshekga</span></b></p>
<p><b><span lang="EN-US">Previous Positions:</span></b><i><span lang="EN-US"><o p=""></o></span></i></p>
<ul>
	<li>Member of Executive Council Education Department Gauteng Provincial Government 2004<span>&nbsp;&nbsp; </span></li>
	<li>Member Provincial Legislature ANC: Gauteng<span>&nbsp;&nbsp; </span>1999<span>&nbsp;&nbsp; </span></li>
	<li>Deputy Secretary ANC Women&#39;s League<span>&nbsp;&nbsp; </span>1997</li>
</ul>
<p class="MsoNormal"><o p=""></o><br />
	<b>Education:</b><i><o p=""></o></i></p>
<p class="MsoNormal"><b>Diplomas</b></p>
<ul>
	<li>Higher Diploma in Education<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Bachelor of Arts University of the North Education<span>&nbsp;&nbsp; </span></li>
	<li>Bachelor of Educational Science University of the Witwatersrand<span>&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Masters Degree in Education University of the Witwatersrand</li>
</ul>
<p class="MsoNormal"><o p="">&nbsp;</o></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Communications - Siphiwe Nyanda</span></b></p>
<p><b>Previous Positions:</b></p>
<ul>
	<li>Chief SA National Defence Force<span>&nbsp;&nbsp; </span>1998-2005</li>
	<li>Academic Registrar SA National Defence Force Pretoria 1998-1998</li>
	<li>General Officer Commanding Gauteng Command, SANDF<span>&nbsp;&nbsp; </span>1997-1998</li>
	<li>Chief of Defence Force Staff<span>&nbsp;&nbsp; </span>1994-1997</li>
	<li>Chief of Staff, Umkhonto we Sizwe (MK), the Liberation Army of ANC<span>&nbsp;&nbsp; </span>1992-1994</li>
</ul>
<p class="MsoNormal"><o p=""></o><br />
	<b>Education:</b><i><o p=""></o></i></p>
<ul>
	<li>Attended military courses in German Democratic Republic 1976 and 1986, Moscow 1985 and South Africa 1996 and 1997.</li>
	<li>Bachelor of Arts (Econ): University of South Africa</li>
</ul>
<p>&nbsp;</p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Economic Development - Ebrahim Patel</span></b></p>
<ul>
	<li>Former General Secretary of the Southern African Clothing and Textile Workers Union (SACTWU).</li>
</ul>
<p class="MsoNormal"><o p=""></o><br />
	<b>Previous Positions:</b><i><o p=""></o></i></p>
<ul>
	<li>World Trade Organisation&#39;s Ministerial Conferences Singapore &amp; Seattle<span>&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>National Labour Convenor National Economics Development &amp; Labour Council (Nedlac)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Commissioner Fin &amp; Fiscal Comm, Council for Higher Education<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
	<li>Delegate Bi-lateral Trade negotiations with Zimbabwe</li>
</ul>
<p>&nbsp;</p>
<p><span lang="EN-US"><b>&gt;&gt;&gt;Minister of Energy &ndash; (Elizabeth) Dipuo Peters</b><i><o p=""></o></i></span></p>
<p class="MsoNormal"><b>Previous Positions:</b><i><o p=""></o></i></p>
<ul>
	<li>Premier N Cape Prov Government<span>&nbsp;&nbsp; </span>2004<span>&nbsp;&nbsp; </span></li>
	<li>Member Provincial Legislature N Cape Prov Legislature<span>&nbsp;&nbsp; </span>1997<span>&nbsp;&nbsp; </span></li>
	<li>Secretary Women&#39;s Affairs ANC Youth League<span>&nbsp;&nbsp; </span>1990<span>&nbsp;&nbsp; </span></li>
	<li>Member National Executive Committee and Provincial Treasurer ANC Northern Cape<span>&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
</ul>
<p class="MsoNormal"><o p=""></o><br type="_moz" />
	<b>Education:</b><i><o p=""></o></i></p>
<ul>
	<li>Bachelor of Arts (Social Work) University of the North 1987</li>
</ul>
<p>&nbsp;</p>
<p><span lang="EN-US"><b>&gt;&gt;&gt;Minister of Health - Dr Aaron Motsoaledi</b></span></p>
<p class="MsoNormal"><b>Previous Positions:</b><i> <o p=""></o></i></p>
<ul>
	<li>Member of Executive Council Agriculture, Land &amp; Environment<span>&nbsp; </span>Limpopo Province Government 1999<span>&nbsp;&nbsp; </span></li>
	<li>Head ANC Election&#39;s Commission for Limpopo Prov<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span></li>
	<li>Member Provincial Legislature Limpopo Prov Legislature<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span></li>
	<li>Head ANC Econ &amp; Infrastructure Desk <span>&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
</ul>
<p class="MsoNormal"><o p=""></o><br type="_moz" />
	<b>Education:</b><i> <o p=""></o></i></p>
<ul>
	<li>Bachelor of Medicine &amp; Bachelor of Surgery University of Natal<span>&nbsp;&nbsp; </span></li>
</ul>
<p class="MsoNormal"><o p=""></o><o p=""></o><o p=""></o><br />
	<b><span lang="EN-US">&gt;&gt;&gt;Minister of International Relations and Co-operation - Maite Nkoana-Mashabane<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions <o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Activist in the United Democratic Front (Apartheid Era)<o p=""></o></span></li>
	<li><span lang="EN-US">South African High Commissioner to <st1 country-region="" st="on">India</st1> and <st1 country-region="" st="on"><st1 place="" st="on">Malaysia</st1></st1>. <o p=""></o></span></li>
	<li><span lang="EN-US">Local Government and Housing MEC &ndash; Limpopo 2004<o p=""></o></span></li>
	<li><span lang="EN-US">Member - ANC national working committee&rsquo;s sub-committee on international affairs. <o p=""></o></span></li>
	<li><span lang="EN-US">She is actively involved in the ANC Women&rsquo;s League and also worked as an MP.<o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister in The Presidency (2) Performance Monitoring and Evaluation as well as Administration in the Presidency - Collins Chabane<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Member of Parliament- National Assembly<span>&nbsp;&nbsp; </span>2009<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member of Executive Council Public Works -<st1 place="" st="on"><st1 placename="" st="on">Limpopo</st1> <st1 placetype="" st="on">Province</st1></st1> Government 1998<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member Provincial Legislature <st1 place="" st="on">Limpopo</st1> Provincial Legislature<span>&nbsp;&nbsp; </span>1997<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member of Executive Council Economic Development, Environment and Tourism <st1 place="" st="on">Limpopo</st1><b><span>&nbsp;&nbsp; </span><o p=""></o></b></span></li>
</ul>
<p><b><span lang="EN-US"><o p="">&nbsp;</o></span></b></p>
<p><b><span lang="EN-US">Education: <o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Higher National Diploma in Electrical Engineering (Heavy and Light Current), Technikon South <st1 place="" st="on">Africa</st1> <o p=""></o></span></li>
	<li><span lang="EN-US">Diploma in Management - Eastern &amp; Southern African Management Institute (ESAMI), <st1 place="" st="on"><st1 city="" st="on">Arusha</st1>, <st1 country-region="" st="on">Tanzania</st1></st1><span>&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Diploma in Aircraft Maintenance<span>&nbsp;&nbsp;&nbsp;&nbsp; </span><o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Rural Development and Land Reform - Gugile Nkwinti<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Member of Executive Council Local Government &amp; Housing &ndash; Eastern Cape 2004<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member of Provincial Legislature Eastern <st1 place="" st="on"><st1 placetype="" st="on">Cape</st1> <st1 placename="" st="on">Provincial</st1></st1> Legislature<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Founder Member Eastern Education Crisis Commission<span> </span>1984<o p=""></o></span></li>
</ul>
<p><i><span lang="EN-US"><o p="">&nbsp;</o></span></i></p>
<p><b><span lang="EN-US">Education: <o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Diploma in Nursing (Psychiatry) - <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">South Africa</st1></st1> <o p=""></o></span></li>
	<li><span lang="EN-US">Bachelor of Administration (Political Science, Public Admin &amp; Applied Econ) - <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">South Africa</st1></st1> <o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Social Development - Edna Molewa<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Chairperson of the African National Congress (ANC) in the <st1 place="" st="on"><st1 placename="" st="on">North West</st1> <st1 placetype="" st="on">Province</st1></st1> (May 2005- May 2008).<o p=""></o></span></li>
	<li><span lang="EN-US">Member of the African National Congress Women&#39;s League National Executive Council since 2003. <o p=""></o></span></li>
	<li><span lang="EN-US">Chairperson of the African National Congress Women&#39;s League (ANCWL) in the <st1 place="" st="on"><st1 placename="" st="on">North West</st1> <st1 placetype="" st="on">Province</st1></st1>. <o p=""></o></span></li>
	<li><span lang="EN-US">Member of the Provincial Executive Committee (PEC) since 1996. <o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">Education</span></b><i><span lang="EN-US">:<o p=""></o></span></i></p>
<ul>
	<li><span lang="EN-US">Course in Economic Leadership for the New Millennium and Administration Management from <st1 placename="" st="on">Wharton</st1> <st1 placetype="" st="on">School</st1> of Business in <st1 country-region="" st="on">United States of America</st1> (<st1 country-region="" st="on"><st1 place="" st="on">USA</st1></st1>). <o p=""></o></span></li>
	<li><span lang="EN-US">Course in Leadership at <st1 place="" st="on"><st1 placename="" st="on">Kennedy</st1> <st1 placetype="" st="on">School</st1></st1> of Governance. <o p=""></o></span></li>
	<li><span lang="EN-US">Currently studying towards B.Com degree with University of South Africa (UNISA). <o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Transport - Sibusiso Joel Ndebele<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Premier KwaZulu-Natal Provincial Government<span>&nbsp;&nbsp; </span>2004<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member National Executive Committee of ANC<span>&nbsp;&nbsp; </span>1997<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member Provincial Executive Committee &amp; Provincial Working Committee<span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member Provincial Legislature <st1 st="on" state=""><st1 place="" st="on">KwaZulu-Natal</st1></st1><span>&nbsp;&nbsp; </span>1994<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">Member of Executive Council Transport, KZN Provincial Government<span>&nbsp;&nbsp; </span>1994 - 2004 <o p=""></o></span></li>
	<li><span lang="EN-US">Regional Secretary ANC southern <st1 city="" st="on"><st1 place="" st="on">Natal</st1></st1><span>&nbsp;&nbsp; </span>1990 - 1998 <o p=""></o></span></li>
	<li><span lang="EN-US">Research Fellow Department of Town &amp; Regional Planning <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">KwaZulu-Natal</st1></st1> 1987 <o p=""></o></span></li>
</ul>
<p><i><span lang="EN-US"><o p="">&nbsp;</o></span></i></p>
<p><b><span lang="EN-US">Education:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Diploma in Library Science, <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">Zululand</st1></st1><span>&nbsp;&nbsp; </span>1972 <o p=""></o></span></li>
	<li><span lang="EN-US">Bachelor of Arts (Development Admin &amp; Polit), <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">South Africa</st1></st1> 1985 <o p=""></o></span></li>
	<li><span lang="EN-US">Bachelor of Arts (International Politics &amp; African Politics), <st1 place="" st="on"><st1 placetype="" st="on">University</st1> of <st1 placename="" st="on">South Africa</st1></st1> 1983<o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><b><span lang="EN-US">&gt;&gt;&gt;Minister of Women, Youth, Children and People with Disabilities - Noluthando Mayende-Sibiya<o p=""></o></span></b></p>
<p><b><span lang="EN-US">Previous Positions:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Member ANC National Executive Committee ANC Polokwane 2007<span>&nbsp;&nbsp; </span><o p=""></o></span></li>
	<li><span lang="EN-US">President of NEHAWU National Education, Health and Allied Workers&rsquo; <st1 place="" st="on">Union</st1> (NEHAWU)<o p=""></o></span></li>
</ul>
<p><i><span lang="EN-US"><o p="">&nbsp;</o></span></i></p>
<p><b><span lang="EN-US">Education:<o p=""></o></span></b></p>
<ul>
	<li><span lang="EN-US">Midwifery Graduate, <st1 place="" st="on"><st1 placename="" st="on">King</st1> <st1 placename="" st="on">Edward</st1> <st1 placename="" st="on">Memorial</st1> <st1 placetype="" st="on">Hospital</st1></st1> 1985 <o p=""></o></span></li>
	<li><span lang="EN-US">Enrolled Nurse (E/N) programme, McCord School of Nursing 1983 <o p=""></o></span></li>
</ul>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><span lang="EN-US"><o p="">&nbsp;</o></span></p>
<p><span lang="EN-US">Sources: <i>24.com (Who&rsquo;s Who in <st1 place="" st="on">Southern Africa</st1>); South African Government Information (<a href="http://www.info.gov.za/"><span>www.info.gov.za</span></a>); Wikipedia<o p=""></o></i></span></p>
<p><i><span lang="EN-US"><o p="">&nbsp;</o></span></i></p>
<p><span lang="EN-US"><span>&nbsp;&nbsp; </span><o p=""></o></span></p>
<p class="MsoNormal"><o p="">&nbsp;</o></p>
{% endblock %}