{% extends "base.html" %}

{% block page %}
<h1>Rules of Parliament / Guide to Procedure</h1>

<p class="leaf first"><a href="http://www.pmg.org.za/files/doc/2012/NA Rules 7th edition-1.pdf">National Assembly</a>&nbsp; 7th Edition : June 2011
</p>
<p><a href="http://www.pmg.org.za/node/17031">National Council of Provinces</a>&nbsp; 9th Edition: March 2008</p>
<p class="leaf first"><a href="http://www.pmg.org.za/node/17030">Joint Rules</a>&nbsp;6th Edition : June 2011</p>
<p><a href="/files/doc/2012/GUIDE.pdf">National Assembly Guide to Procedure</a> : 2004</p>
{% endblock %}