{% extends "base.html" %}

{% block page %}

<h1>State Institutions which support Constitutional Democracy</h1>

<div class="row">
	<div class="col-md-5">

<p><a href="#Introduction"><font size="2" face="Arial"><strong>Introduction</strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a href="#3.1 The Public Protector"><font
size="2" face="Arial"><strong>The Public Protector </strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a
href="#3.2 South African Human Rights Commission (SAHRC)"><font
size="2" face="Arial"><strong>South African Human Rights
Commission (SAHRC) </strong></font></a><font size="2"
face="Arial"><strong><br>
</strong></font><a
href="#3.3 Commission for the Promotion and Protection of the Rights of Cultural, Religious and Linguistic Communities"><font
size="2" face="Arial"><strong>Commission for Promotion &amp;
Protection of Rights of Cultural, Religious &amp; Linguistic
Communities</strong></font></a><font size="2" face="Arial"><strong><br>
</strong></font><a
href="#3.4 Commission for Gender Equality (CGE)"><font size="2"
face="Arial"><strong>Commission for Gender Equality (CGE) </strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a href="#3.5 Auditor-General"><font size="2"
face="Arial"><strong>Auditor-General</strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a href="#3.6 Electoral Commission"><font
size="2" face="Arial"><strong>Electoral Commission</strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a
href="#3.7 The Independent Authority to regulate Broadcasting"><font
size="2" face="Arial"><strong>The Independent Authority to
regulate Broadcasting</strong></font></a><font size="2"
face="Arial"><strong><br>
</strong></font><a href="#3.8 Temporary commissions"><font
size="2" face="Arial"><strong>Truth and Reconciliation Commission</strong></font></a><font
size="2" face="Arial"><strong><br>
</strong></font><a href="#3.8 Temporary commissions"><font
size="2" face="Arial"><strong>Commission on the Restitution of
Land Rights</strong></font></a><font size="2" face="Arial"><strong><br>
</strong></font><a href="#3.9 Other structures"><font size="2"
face="Arial"><strong>Other structures</strong></font></a><font
size="2" face="Arial"><strong>:<br>
</strong></font><strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;<a
href="#3.9.1 The Constitutional Court"><font size="2"
face="Arial">The Constitutional Court </font></a><font size="2"
face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.2 Independent Complaints Directorate (ICD)"><font
size="2" face="Arial">Independent Complaints Directorate (ICD)</font></a><font
size="2" face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.3 Commission for Conciliation, Mediation and Arbitration (CCMA)"><font
size="2" face="Arial">Commission for Conciliation, Mediation and
Arbitration (CCMA)</font></a><font size="2" face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.4 National Prosecuting Authority (NPA)"><font size="2"
face="Arial">National Prosecuting Authority (NPA)</font></a><font
size="2" face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.5 Judicial Service Commission"><font size="2"
face="Arial">Judicial Service Commission</font></a><font size="2"
face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.6 Financial and Fiscal Commission"><font size="2"
face="Arial">Financial and Fiscal Commission</font></a><font
size="2" face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.7 Public Service Commission"><font size="2"
face="Arial">Public Service Commission</font></a><font size="2"
face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.8 Pan South African Language Board (PANSALB)"><font
size="2" face="Arial">Pan South African Language Board (PANSALB)</font></a><font
size="2" face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#3.9.9 National Youth Commission"><font size="2"
face="Arial">National Youth Commission</font></a><font size="2"
face="Arial"><br>
</font>&nbsp;&nbsp;&nbsp;&nbsp;<a
href="#Heath Special Investigating Unit"><font size="2"
face="Arial">Heath Special Investigating Unit</font></a><font
size="2" face="Arial"><br>
<b><br>
</b></font><a name="Introduction"><font color="#000080" size="4"
face="Arial"><strong>Introduction</strong></font></a></p>

<p><font face="Arial">The Constitution provides for a
constitutional democracy and lists the rights to which the people
of this country are entitled. To give substance to these
Constitutional rights, independent institutions have been
established to promote rights and to strengthen constitutional
democracy.</font></p>

<p><font face="Arial">Chapter 9 of the Constitution states that a
number of &quot;State Institutions Supporting Constitutional
Democracy&quot; be provided for. These are:</font></p>

<ul>
    <li><font face="Arial">The Public Protector </font></li>
    <li><font face="Arial">The South African Human Rights
        Commission </font></li>
    <li><font face="Arial">The Commission for the Promotion and
        Protection of the Rights of Cultural, Religious and
        Linguistic Communities </font></li>
    <li><font face="Arial">The Commission for Gender Equality </font></li>
    <li><font face="Arial">The Auditor-General </font></li>
    <li><font face="Arial">The Electoral Commission </font></li>
    <li><font face="Arial">The Independent Authority to regulate
        Broadcasting</font></li>
</ul>

<p><font face="Arial">The task of these institutions is to
promote and protect those rights within the Bill of Rights which
fall within their particular area. They are impartial,
independent and subject only to the Constitution and the relevant
laws made in terms of the Constitution. They must exercise their
powers and perform their functions &quot;without fear, favour or
prejudice&quot;. </font></p>

<p><font face="Arial">The National Assembly is responsible for
recommending commissioners to each commission, and the President
appoints them. The Constitution guarantees them independence from
organs of state. The process of appointment is transparent and
open to the public.</font></p>

<p><font face="Arial">The relevant Commissions can be consulted
when respective rights have been violated. They have extensive
powers which, in some cases, include searching premises and
attaching and removing appropriate articles/ documents as well as
to subpoena people to appear before them. They have to report
each year to the National Assembly on their activities and the
achievement of their goals. </font></p>

<p><a name="3.1 The Public Protector"><font color="#000080"
size="4" face="Arial"><b>The Public Protector </b></font></a></p>

<p><font face="Arial">The Public Protector protects citizens from
unfair treatment by the state and its officials as well as from
inefficient administration and dishonesty with respect to public
money. </font></p>

<p><font face="Arial">The Public Protector can investigate
central and provincial government and local authorities. This
includes all state department employees such as police officers,
pension payout clerks or electoral officers. It can also
investigate corporations or institutions performing a public
function, such as Eskom and Telkom as well as statutory councils
such as the Human Sciences Research Council and the Council for
Scientific and Industrial Research<strike>.</strike></font></p>

<p><a name="3.2 South African Human Rights Commission (SAHRC)"><font
color="#000080" size="4" face="Arial"><b>South African Human
Rights Commission (SAHRC) </b></font></a><font color="#000080"
size="4" face="Arial"><b><br>
</b></font><font face="Arial">The South African Human Rights
Commission (SAHRC) is responsible for promoting respect for human
rights by all South Africans as well as protecting and monitoring
human rights in South Africa. It does this through raising public
awareness, training programmes, special projects, and through
enquiries, hearings and legal interventions. The SAHRC receives
and investigates complaints of violations of human rights.
Investigation may entail mediation, litigation or publishing a
report.</font></p>

<p><font face="Arial">The Commission must also monitor and advise
government on the implementation of socio-economic rights. All
government departments have to report annually to the SAHRC about
the progress they have made in reaching the goals set out in the
Bill of Rights, especially with reference to socio-economic
rights. This is intended to ensure that the various government
departments put plans in place to improve the quality of life of
citizens.</font></p>

<p><a
name="3.3 Commission for the Promotion and Protection of the Rights of Cultural, Religious and Linguistic Communities"><font
color="#000080" size="4" face="Arial"><b>Commission for the
Promotion and Protection of the Rights of Cultural, Religious and
Linguistic Communities</b></font></a></p>

<p><font face="Arial">This Commission's job is to promote respect
for all communities in South Africa with regard to culture,
religion and language, as well as to build national unity among
these communities. Legislation has not yet been drafted by the
Department of Constitutional Affairs and Development to establish
this Commission.</font></p>

<p><font face="Arial"><i>The Volkstaat Council</i></font></p>

<p><font face="Arial">The<b><i> </i></b>Volkstaat Council was a
temporary institution established by the interim Constitution
after intense negotiations between the Freedom Front, the African
National Congress and the then government of the Republic of
South Africa. The purpose of the Volkstaat Council was to make
recommendations regarding cultural self-determination and to
explore the constitutional possibility of the establishment of an
Afrikaner Volkstaat.</font></p>

<p><font face="Arial">This Council was set up as a temporary
measure and was dissolved in March 1999. The issues pursued by
the Volkstaat Council will be taken forward by the Commission for
the Promotion and Protection of the Rights of Cultural, Religious
and Linguistic Communities.</font></p>

<p><a name="3.4 Commission for Gender Equality (CGE)"><font
color="#000080" size="4" face="Arial"><b>Commission for Gender
Equality (CGE) </b></font></a></p>

<p><font face="Arial">The Commission for Gender Equality (CGE)
monitors gender equality and is particularly concerned with the
rights of women. </font></p>

<p><font face="Arial">It investigates and challenges laws,
practices and customs that discriminate against people because of
their gender. It monitors government, the private sector and
other organisations to ensure that they promote and protect
gender equality. Focus areas include the representation of women
in public life, employment equity and the problems of violence
and abuse against women.</font></p>

<p><font face="Arial">The CGE aims to educate and inform the
public about gender equality. It monitors laws passed by local,
provincial and national government to ensure that gender equality
is promoted. It also recommends new laws. The CGE monitors
government's adherence to international agreements such as the
Convention for the Elimination of All Forms of Discrimination
Against Women (CEDAW). </font></p>

<p><a name="3.5 Auditor-General"><font color="#000080" size="4"
face="Arial"><b>Auditor-General</b></font></a></p>

<p><font face="Arial">The Auditor-General's office must check on
the accounts, financial statements and financial management of
all government departments at all levels of government. It is the
taxpayers' watchdog, ensuring that their taxes are well spent. It
promotes accountability, helps fight corruption and prevents
waste.</font></p>

<p><a name="3.6 Electoral Commission"><font color="#000080"
size="4" face="Arial"><b>Electoral Commission</b></font></a></p>

<p><font face="Arial">This Commission, known as the Independent
Electoral Commission (IEC), impartially manages elections at all
three levels of government to make sure that elections are free
and fair. Its goal is to <strong>strengthen constitutional
democracy through regular free and fair elections in which every
voter is able to vote. </strong></font></p>

<p><a
name="3.7 The Independent Authority to regulate Broadcasting"><font
color="#000080" size="4" face="Arial"><b>The Independent
Authority to regulate Broadcasting</b></font></a></p>

<p><font face="Arial">In terms of the Constitution, an
independent body must regulate broadcasting in the public
interest. The IBA makes sure that radio and television broadcasts
are fair and that they represent the views of South African
society. It requires broadcasters to provide balanced and
impartial news coverage. Broadcasters must air a variety of views
when broadcasting matters of controversial public importance.</font></p>

<p><a name="3.8 Temporary commissions"><font face="Arial"><strong>Temporary
commissions</strong></font></a></p>

<p><font face="Arial">In addition to the above, there are two
other commissions that have temporary<b> </b>lifespans. They were
provided for by the interim Constitution of 1993, their tasks
being to inquire into and address past injustices in two fields.
They are </font></p>

<ul>
    <li><font face="Arial">the <b><i>Truth and Reconciliation
        Commission</i></b> (TRC) and </font></li>
    <li><font face="Arial">the <b><i>Commission on the
        Restitution of Land Rights </i></b>(CRLR). </font></li>
</ul>

<p><font face="Arial">Despite their temporary status, these
Commissions share many of the features of the statutory
institutions, particularly their independence and extensive
powers.</font></p>

<ul>
    <li><font face="Arial">The <b><i>TRC's mandate</i></b> has
        primarily been to document gross human rights violations
        in the period from 1960 to 1994 and to provide
        reparations. </font></li>
    <li><font face="Arial">The <b><i>CRLR's mandate</i></b> is to
        restore land rights lost as a result of apartheid
        policies. This applies particularly to people or
        communities who lost land through forced removals or as a
        result of Black people being prevented from owning<b> </b>land.
        They can apply to this Commission for the land to be
        returned or, where this is not possible, making good the
        wrong in some other way, such as offering land elsewhere
        or money as compensation. </font></li>
</ul>

<p><a name="3.9 Other structures"><font face="Arial"><b>Other
structures</b></font></a><font face="Arial"><b>:</b></font></p>

<p><font face="Arial">In addition to the commissions described in
Chapter 9, the Constitution sets up other structures in South
Africa to make sure that human rights are protected and a
constitutional democracy is guaranteed. These are:</font></p>

<ul>
    <li><font face="Arial">The Constitutional Court </font></li>
    <li><font face="Arial">Independent Complaints Directorate
        (ICD) </font></li>
    <li><font face="Arial">Commission for Conciliation, Mediation
        and Arbitration (CCMA) </font></li>
    <li><font face="Arial">National Prosecuting Authority (NPA) </font></li>
    <li><font face="Arial">Judicial Service Commission </font></li>
    <li><font face="Arial">Financial and Fiscal Commission </font></li>
    <li><font face="Arial">Public Service Commission </font></li>
    <li><font face="Arial">Pan South African Language Board
        (PANSALB)</font></li>
</ul>

<p><font face="Arial">There is also a National Youth Commission
and the Heath Special Investigating Unit which are statutory
bodies but are not included in the Constitution and therefore do
not enjoy constitutional protection. </font></p>

<p><a name="3.9.1 The Constitutional Court"><font color="#000080"
face="Arial"><b><i>The Constitutional Court </i></b></font></a></p>

<p><font face="Arial">This court is the highest court in the
country when it comes to the Constitution and the Bill of Rights.
Everybody, including the government and the President, must
comply with the decisions of this court. All other courts in the
country also have to comply with its decisions.</font></p>

<p><a name="3.9.2 Independent Complaints Directorate (ICD)"><font
color="#000080" face="Arial"><b><i>Independent Complaints
Directorate (ICD)</i></b></font></a></p>

<p><font face="Arial">The Independent Complaints Directorate
(ICD) investigates all cases where the police have acted wrongly
or have violated rights. The need for the ICD was recognised at
the time of the negotiations which resulted in the 1993 interim
Constitution.</font></p>

<p><font face="Arial">In any democracy it is the police
department which is given the greatest powers to infringe the
rights of citizens. The ICD, as an independent body, is
responsible for ensuring that cases in which misconduct on the
part of police officers is alleged, are investigated impartially.
The ICD considers complaints relating to deaths of persons in
police custody or deaths which are as a result of police action;
the involvement of police officers in criminal activities such as
robbery, theft of motor vehicles and assault; and behaviour which
is prohibited such as neglect of duties or breaking the South
African Police Service (SAPS) code of conduct. It aims to help
build public confidence in the police service.</font></p>

<p><a
name="3.9.3 Commission for Conciliation, Mediation and Arbitration (CCMA)"><font
color="#000080" face="Arial"><b><i>Commission for Conciliation,
Mediation and Arbitration (CCMA) </i></b></font></a></p>

<p><font face="Arial">The CCMA is an independent statutory body
that helps anyone whose labour rights have been violated and/or
is a victim of an unfair labour practice involving such matters
as dismissal, wages and working conditions, workplace changes or
discrimination. It resolves disputes between employers and
employees through conciliation, mediation and arbitration.</font></p>

<p><a name="3.9.4 National Prosecuting Authority (NPA)"><font
color="#000080" face="Arial"><b><i>National Prosecuting Authority
(NPA)</i></b></font></a></p>

<p><font face="Arial">This body is given the power to bring
suspected criminals to trial. The Constitution says that the NPA
must be able to act &quot;without fear, favour or prejudice&quot;
to ensure fair trials and to prevent improper interference by
government. </font></p>

<p><a name="3.9.5 Judicial Service Commission"><font
color="#000080" face="Arial"><b><i>Judicial Service Commission</i></b></font></a></p>

<p><font face="Arial">In terms of the Constitution, the Judicial
Service Commission advises government on any matter relating to
the administration of justice and the judiciary, such as
complaints about judges and the appointment of judges. This
assists in the right to a fair trial.</font></p>

<p><a name="3.9.6 Financial and Fiscal Commission"><font
color="#000080" face="Arial"><b><i>Financial and Fiscal
Commission</i></b></font></a></p>

<p><font face="Arial">This advisory Commission was established by
the interim Constitution. One of its important responsibilities
is to make recommendations regarding the fair share of tax
revenue which each sphere of government and, in particular, the
individual allocation for each province. The Commission plays the
role of &quot;mediator&quot; between and amongst the three
spheres of government. It could also be regarded as a &quot;check
and balance&quot; on the collection, allocation and use of fiscal
(tax revenue) resources. </font></p>

<p><a name="3.9.7 Public Service Commission"><font
color="#000080" face="Arial"><b><i>Public Service Commission</i></b></font></a></p>

<p><font face="Arial">This is a watchdog body to monitor the
composition and efficiency of the state bureaucracy. Public
servants are formally appointed by the Public Service Commission
which sets their job descriptions, salary levels, service
conditions and the guidelines for carrying out their work. Public
servants are accountable to the legislature and can be called
upon to account to the parliamentary committees. </font></p>

<p><a name="3.9.8 Pan South African Language Board (PANSALB)"><font
color="#000080" face="Arial"><b><i>Pan South African Language
Board (PANSALB)</i></b></font></a></p>

<p><font face="Arial">This Board's task is to protect, promote
and develop the eleven official languages as well as to promote
and ensure respect for all languages spoken in this country.</font></p>

<p><a name="3.9.9 National Youth Commission"><font
color="#000080" face="Arial"><b><i>National Youth Commission</i></b></font></a></p>

<p><font face="Arial">The National Youth Commission is a
statutory body<b> </b>but it is not included in the Constitution<b>
</b>and does not enjoy constitutional protection. It was
established to assist the government in developing a
comprehensive youth development policy. One of its tasks is to
put in place measures to redress the imbalances caused by the
various forms of disadvantage suffered in the past by youth in
general. </font></p>

<p><a name="Heath Special Investigating Unit"><font
color="#000080" face="Arial"><em><b>Heath Special Investigating
Unit</b></em></font></a></p>

<p><font face="Arial">This is also a statutory body that is not
included in the Constitution and does not enjoy constitutional
protection. This is a special investigating unit and tribunal
that investigates maladministration, corruption and
misappropriation with relation to public funds and public assets.
If there is sufficient evidence to sustain a civil action, the
Unit will institute legal proceedings in a Special Tribunal it
convenes. The civil proceedings brought in the Special Tribunal
are similar to civil proceedings before the High Court. This
provides a complete process whereby an allegation is investigated
and where applicable presented to a judicial forum leading to a
judicial finding and the machinery to enforce such a finding.</font></p>

<p>_______________________________________________________________________________</p>

<p><font size="2">This information compiled with the support of
the <em>European Union Parliamentary Support Programme (EUPSP)</em></font></p>

{% endblock %}