{% extends "base.html" %}

{% block page %}

<h1>Structure of Government</h1>

<p><b>THE STRUCTURE OF GOVERNMENT</b></p>
<p><a href="#The_Executive"><strong>The Executive</strong></a><br />
	<a href="#The_Judiciary"><strong>The Judiciary</strong></a><br />
	<a href="#The_Legislature"><strong>The Legislature</strong></a><br />
	<br />
	<a name="The_Executive"><b>The Executive</b></a><br />
	The executive consists of the President, the Deputy President and the Cabinet ministers at national level, and the Premier and Members of the Executive Councils (MECs) at provincial level. It also includes government departments and civil servants.</p>
<p>The responsibility of the Executive is to run the country and to make policy in the best interests of its citizens and in terms of the Constitution. They are empowered to implement legislation, develop and implement policy, direct and co-ordinate the work of the government departments, prepare and initiate legislation and perform other functions as called for by the Constitution or legislation.</p>
<p>The Executives cannot pass laws, however, but may propose to the Legislature new laws and changes to existing laws.</p>
<p><b>The Structure of the National Executive: </b></p>
<p><b><i>The President</i></b></p>
<p>The President is Head of State and head of the national Executive<b> </b>or Cabinet. S/he is entrusted with maintaining the supremacy of the Constitution as the guiding law of the country, and is also required to promote the unity and interests of the nation. As head of the national Executive, the President is also the Commander-in-Chief of the defence force.</p>
<p><i>Election of the President</i></p>
<p>The National Assembly elects one of its Members to be President during the first sitting of the National Assembly. Once elected as President, the President ceases to be a Member of Parliament and must be sworn into office within five days</p>
<p>The President of the Constitutional Court presides over the President&rsquo;s election or designates another judge to do so. If the Presidency is empty, then the Constitutional Court President must set a date within 30 days in which the position will be filled.</p>
<p><i>Duration of the Presidency</i></p>
<p>A person may serve as President for no more than two terms. Appointments as acting President are not included in this period.</p>
<p><i>Removal of the President</i></p>
<p>If the President is found to have seriously violated the Constitution or the law, or has been engaged in serious misconduct or is unable to perform his/her duties, the National Assembly may remove him/her from the position of President. Such a resolution would have to be adopted with a two thirds majority - that is two thirds of all of the Members of Parliament would have to agree to this.</p>
<p>On the other hand, a motion of no confidence in the President (that is, a proposal that s/he is not governing the country satisfactorily) requires only a majority vote (over 50% of all Members) by the National Assembly. If this was successful, the President, Deputy President and the entire Cabinet, as well as the Deputy Ministers, would have to resign.</p>
<p>Once a President has been removed from office, the National Assembly must elect a new President within thirty days of the vacancy occurring. If this does not happen, the Acting President must dissolve the National Assembly and elections must take place.</p>
<p><i>Acting President</i></p>
<p>If the President is out of the country or unable to perform his/her duties, the following people, in order of priority, are required to serve as acting President:</p>
<ol>
	<li>the Deputy President</li>
	<li>a Minister designated by the President</li>
	<li>a Minister designated by the Cabinet</li>
	<li>the Speaker of the National Assembly until it elects one of its Members of Parliament.</li>
</ol>
<p><i>Powers and functions of the President</i></p>
<p>The President is responsible for<b> </b></p>
<ul>
	<li>appointing the Cabinet;</li>
	<li>appointing judges after consulting with the Judicial Services Commission;</li>
	<li>appointing the Public Protector, the Auditor-General and members of the various Commissions on the recommendation of Parliament;</li>
	<li>appointing the Military Command of the Defence Force;</li>
	<li>appointing commissions of inquiry;</li>
	<li>assenting to and signing Bills passed by Parliament so that they can become laws, or referring Bills back to the National Assembly or to the Constitutional Court if there are concerns over their constitutionality;</li>
	<li>calling special sittings of the Houses of Parliament;</li>
	<li>calling a national referendum;</li>
	<li>receiving foreign diplomats;</li>
	<li>designating South Africa&rsquo;s representatives abroad;</li>
	<li>conferring honours;</li>
	<li>pardoning or reprieving offenders; and</li>
	<li>declaring a &quot;state of national defence&quot; with the approval of Parliament.</li>
</ul>
<p><b><i>The Deputy President</i></b></p>
<p>The President appoints the Deputy President from amongst the Members of the National Assembly and may also dismiss her/him. The President assigns particular powers and functions to the Deputy President who must assist the President in the running of government (section 91 of the Constitution).</p>
<p><b><i>The Cabinet</i></b></p>
<p>The Cabinet comprises the President (as its Head), the Deputy President and Ministers who are appointed by the President from the National Assembly. (Two Ministers may be appointed from outside the National Assembly.)</p>
<p>The President assigns powers and functions to the Minister and may dismiss them.</p>
<p><i>Responsibilities of Ministers</i></p>
<p>The President allocates specific responsibilities<b> </b>known as a &quot;portfolios&quot; to each Minister to supervise. Currently there are 26 portfolios. These are:</p>
<ol>
	<li>Agriculture and Land Affairs</li>
	<li>Arts, Culture, Science and Technology</li>
	<li>Communications</li>
	<li>Correctional Services</li>
	<li>Defence</li>
	<li>Education</li>
	<li>Environmental Affairs and Tourism</li>
	<li>Finance</li>
	<li>Foreign Affairs</li>
	<li>Health</li>
	<li>Home Affairs</li>
	<li>Housing</li>
	<li>Intelligence</li>
	<li>Justice and Constitutional Development</li>
	<li>Labour</li>
	<li>Minerals and Energy Affairs</li>
	<li>Provincial and Local Government</li>
	<li>Public Enterprises</li>
	<li>Public Service and Administration</li>
	<li>Public Works</li>
	<li>Safety and Security</li>
	<li>Sport and Recreation</li>
	<li>Trade and Industry</li>
	<li>Transport</li>
	<li>Water Affairs and Forestry</li>
	<li>Welfare and Population Development.</li>
</ol>
<p>Each Minister has a Ministry which consists of a small team of advisors. The Ministry and a Department, headed by a Director-General, assist the Minister in developing and implementing policy and laws.</p>
<p><i>Accountability</i></p>
<p>Ministers are accountable to the National Assembly<b> </b>for their actions and for those of their departments and they must act according to government policy. They must also provide Parliament with regular and full reports about matters for which they are responsible.</p>
<p>Members of the Cabinet must act according to a code of ethics, created by the president pursuant to the principles and framework established by the Executive Members&#39; Ethics Act of 1998. This Act says that they<b> </b>may not do any other paid work, have conflicts of interests between their official and private capacities, must not act in any way that is inconsistent with their offices, or use their position or any information entrusted to them for the improper enrichment of anybody<b>. </b></p>
<p><i>Term</i></p>
<p>After the dissolution of Parliament, the Cabinet continues to function until the next National Assembly elects a new President and a new Cabinet is appointed.</p>
<p>If the majority of Members of the National Assembly passes a motion of no confidence in the Cabinet then the President must establish a new one. If the majority of the National Assembly Members passes a motion of no confidence in the President, not only the President but his Cabinet and the Deputy Ministers must also resign.</p>
<p><i>Deputy Ministers</i></p>
<p>While Deputy Ministers are not Members of the Cabinet, they are required to assist the relevant Ministers in the execution of their duties.</p>
<p>The President, in consultation with the Deputy President, is responsible for the appointment of Deputy Ministers from amongst the Members of the National Assembly.</p>
<p>Despite not being Members of the Cabinet, Deputy Ministers would have to resign along with the entire Cabinet if a motion of no confidence in the President was successful.</p>
<p><br />
	<b><i>The Structure of a Provincial Executive</i></b></p>
<p>The Executive in each province is called the Executive Council and is headed by the Premier. Members of Executive Councils (MECs) are accountable to their Legislatures in the same way as the Cabinet is accountable to Parliament.</p>
<p><b><i>The Premier</i></b></p>
<p>The Premier is elected by the Members of that Provincial Legislature (MPLs) from amongst themselves at the first sitting of that legislature after the election.</p>
<p><b><i>The Executive Council</i></b></p>
<p>The Premier appoints the Members of the Executive Council (MECs) from among the MPLs. There may be up to ten MECs in each province. (The exception is the Western Cape whose provincial Constitution allows for the additional appointment of up to two non-voting MECs from outside the Legislature.)</p>
<p><i>Responsibilities of MECs</i></p>
<p>MECs are accountable to their Premiers. Like Ministers, MECs are responsible for departments. These provincial departments deal only with those matters that provinces are allowed to control or those over which they share control with national government<i>. (These are described in Section 1.3 above.) </i></p>
<p>There is still no formal structure to facilitate intergovernmental relations between the national and provincial executive. Ministers and MECs do meet informally, however, in<b> </b>what is known<b> </b>as MINMEC. This is a meeting between the Minister and the nine provincial MECs who deal with the same portfolio. MINMEC plays a meaningful role in the process of co-operative government.</p>
<p><i>Non-compliance</i></p>
<p>It is the responsibility of national government to build the administrative capacity of the provinces. If a province is not performing properly, national government can take over a province&#39;s responsibilities to maintain established service standards, economic unity or national security or to prevent a province from acting in ways which harm the interests of another province or the country as a whole.</p>
<p>If Cabinet intervenes in a province, it must table notice of this in the National Council of Provinces (NCOP) within 14 days of having intervened. There are a number of provisions (outlined in section 100 of the Constitution) that ensure that national supervision of a provincial administration is strictly monitored by the NCOP.</p>
<p>In the same way, provincial governments are allowed to administer the affairs of local governments that are not performing properly. Here, too, the NCOP is responsible for monitoring such an intervention. <i>(See section 139 of the Constitution.)</i></p>
<p><br />
	<a name="The_Judiciary"><b>The Judiciary</b></a></p>
<p>Judicial authority is vested in the courts, which are independent and subject to the laws of the Constitution. The courts are:</p>
<ul>
	<li>the Constitutional Court</li>
	<li>the Supreme Court of Appeal</li>
	<li>the High Courts</li>
	<li>the Magistrates Courts and</li>
	<li>various other Courts.</li>
</ul>
<p><b><i>The Constitutional Court</i></b></p>
<p>The Constitutional Court is the highest court for constitutional matters. It is located in Johannesburg and presided over by a maximum of eleven judges.</p>
<p>The Court guarantees the basic rights and freedoms of all persons. Its judgements are binding on all organs of government, including Parliament, the Presidency, the police force, the army, the public service and all other courts.</p>
<p>It is also the only court that may decide upon disputes between organs of state in the national and provincial spheres. The disputes may concern</p>
<ul>
	<li>the constitutional status, power or functions of any of those organs of state;</li>
	<li>the constitutionality of any national or provincial Bill or Act;</li>
	<li>the constitutionality of any amendment to the Constitution;</li>
	<li>the possible failure of the Parliament or the President to fulfil a constitutional obligation; or</li>
	<li>certifying a provincial constitution.</li>
</ul>
<p><b><i>Supreme Court of Appeal</i></b></p>
<p>The Supreme Court of Appeal is the highest court of appeal except in constitutional matters, and may hear only</p>
<ul>
	<li>appeals;</li>
	<li>issues connected with appeals; and</li>
	<li>other matters that may be referred to it in circumstances defined by an Act of Parliament.</li>
</ul>
<p>When people are not satisfied with the decision of a High Court, they may take the matter further to the Supreme Court of Appeal.</p>
<p>The Supreme Court of Appeal is located in Bloemfontein. It is presided over by five judges.</p>
<p><br />
	<b><i>High Court</i></b></p>
<p>High Courts used to be called Supreme Courts and are primarily intended for more serious criminal and civil cases. They may hear some constitutional matters - with the exception of those matters that only the Constitutional Court may decide.</p>
<p>Each province has a High Court which is usually situated in the capital.</p>
<p>(The Eastern Cape&#39;s High Court will be situated in Grahamstown, however, and not in the capital, Bisho. Mpumalanga has still to decide if their High Court will be in Nelspruit (their capital) or Middelburg (where the legislature wishes it to be). Gauteng will have two High Courts, one in Pretoria and one in Johannesburg.)</p>
<p><br />
	<b><i>Magistrates&rsquo; Courts </i></b></p>
<p>Magistrates&rsquo; Courts are the usual entry point for the majority of people who go to court. There are two kinds of magistrate courts: regional courts and district courts. Regional courts are higher in rank which means that they hear more serious cases than the District Magistrate Courts and may impose heavier sentences.</p>
<p>Magistrates&rsquo; courts and other courts may decide on any matter determined by an Act of Parliament, but may not enquire into or decide about the constitutionality of any legislation or any conduct of the President.</p>
<p><br />
	<b><i>Other Courts </i></b></p>
<p>There are various other courts which are located at varying levels in the court hierarchy:</p>
<ul>
	<li>the <b><i>Small Claims Courts</i></b> which look at minor cases involving sums of R3000 or less;</li>
	<li>the <b><i>Electoral Court</i></b> which deals with electoral issues, for example when there is a dispute among political parties concerning the elections;</li>
	<li>the <b><i>Labour Court</i></b> which deals with issues pertaining to labour relations; and</li>
	<li>the <b><i>Land Claims Courts</i></b> which deal with matters of land redistribution.</li>
</ul>
<p><a name="The_Legislature"><b>The Legislature</b></a></p>
<p>The term &quot;legislature&quot; means a body of elected representatives that makes laws. The prime function of legislatures, therefore, is to formulate, debate and pass<b> </b>legislation which is needed for the government and the country to function. The legislature also provides a forum in which the public can participate in issues and watch over the executive arm of government.</p>
<p>In South Africa the national legislature is Parliament and each of the nine provinces also has a legislature. These ten legislatures function autonomously and co-operatively within the framework provided by the Constitution, particularly section 3 which outlines the obligations of co-operative governance.</p>
<p><b><i>Parliament</i></b></p>
<p>Parliament has two Houses: the National Assembly and the National Council of Provinces (NCOP).</p>
<p><b>The National Assembly</b></p>
<p>The National Assembly is elected to represent the people and to ensure government by the people under the Constitution. It does this by:</p>
<ul>
	<li>choosing the President,</li>
	<li>providing a national forum for public consideration of issues,</li>
	<li>passing legislation and</li>
	<li>scrutinizing and overseeing executive action<b>. </b></li>
</ul>
<p>Members of the National Assembly can change the government by passing a vote of no confidence in the President and/or the Cabinet.</p>
<p><i>Membership</i></p>
<p>The National Assembly must have a maximum of 400 Members and a minimum of 350 Members of Parliament (MPs).</p>
<p>Members are elected to the National Assembly through an electoral system based on proportional representation. The Constitution makes it clear that the current electoral system can be changed by a new law, provided that the new electoral system results, in general, in proportional representation. This means that candidates are appointed from party lists in proportion to the number of votes the party wins in the elections. So if a party wins half the votes it will hold half the seats in the National Assembly.</p>
<p><b>The National Council of Provinces (NCOP) </b></p>
<p>The National Council of Provinces (NCOP) ensures that the nine provinces and local government have a direct voice in Parliament when laws are made. The National Council of Provinces represents the provinces to ensure that provincial interests are taken into account in the national sphere of government. It does this mainly by:</p>
<ul>
	<li>participating in the national legislative process and</li>
	<li>providing a national forum for public consideration of issues affecting the provinces.</li>
</ul>
<p>The NCOP also has an important role to play in promoting national unity and good working relations between national, provincial and local government. While the delegates in the NCOP represent their political parties, they also have the important duty of representing their provinces as a whole.</p>
<p><i>Membership</i></p>
<p>Each province has ten delegates, no matter how big or small the province, thus guaranteeing a balance of interests among the provinces. There are six permanent and four &quot;special&quot; non-permanent delegates in each delegation. Each is headed by the Premier (as one of the special delegates) or a substitute for him/her when the Premier is not available. . The delegation must reflect the proportional strength of the various parties in the province.</p>
<p>In addition to the nine provincial delegations, the NCOP includes a delegation of the South African Local Government Association (SALGA) whose ten non-voting representatives are chosen from a group of representatives from the nine Provincial local government associations.</p>
<p><br />
	<b><i>Provincial Legislatures </i></b></p>
<p>Each province has a legislature, the size of which varies depending on the population levels in the province. According to the Constitution the minimum size of a Legislature is 30 members and the maximum size is 80 members. Members are elected from provincial lists on the basis of the number of votes received by a political party.</p>
<p>A provincial legislature is responsible for passing the laws for its province as defined in the Constitution. These laws are only effective for that particular province. Parliament may intervene and change these laws if they undermine national security, economic unity, national standards or the interests of another province.</p>
<p>Like Parliament, provincial legislatures have the responsibility of calling their Members of their Executive to account for their actions.</p>
<p><br />
	<b><i>Office bearers of legislative institutions</i></b></p>
<p><b>Parliament: National Assembly</b></p>
<ul>
	<li><b><i>The Speaker</i></b> and <b><i>Deputy Speaker</i></b> are the <b><i>Presiding Officers</i></b> and they manage the National Assembly&#39;s affairs.</li>
	<li>The <b><i>Leader of Government Business</i></b> is appointed by the President from the Cabinet, s/he is responsible for organising and synchronising the legislative work programme with government business.</li>
	<li><b><i>Chief Whips</i></b> (representing the majority party and largest minority party)</li>
</ul>
<p>The Presiding Officers together with the Chief Whips and Leader of Government Business decide on the programme for Parliament.</p>
<p>Other office bearers are:</p>
<ul>
	<li><b><i>the Whips</i></b>;</li>
	<li>the <b><i>Chairperson of Committees</i></b> who presides at the sittings of a House when the Speaker and Deputy Speaker are not available and approves the budget and expenditure of Committees, in consultation with the Chief Whip of the majority party; and</li>
	<li>the leader of the largest opposition party who is recognised as being the official <b><i>Leader of the Opposition</i></b>.</li>
</ul>
<p><br />
	<b>Parliament: NCOP</b></p>
<p>The NCOP elects a <b><i>Chairperson</i></b> and a <b><i>permanent Deputy Chairperson</i></b> to run its affairs (in similar roles to the Speaker and Deputy Speaker). In addition, a second rotating Deputy Chairperson is elected for a year, enabling each province to have one of its Members elected as the <b><i>second Deputy Chairperson</i></b>.<b> </b></p>
<p>Other office bearers in the NCOP comprise:</p>
<ul>
	<li>the Chairperson of Committees and his/ her Deputy.</li>
	<li>Two sets of Whips:</li>
	<li>province Whips to organise the work of its delegation and</li>
	<li>party Whips to organise its party business within the NCOP</li>
</ul>
<p><br />
	<b><i>Provincial Legislatures</i></b></p>
<p>Like Parliament, office bearers in the provincial legislatures comprise</p>
<ul>
	<li>the Speaker</li>
	<li>the Deputy Speaker,</li>
	<li>the Leader of the House,</li>
	<li>Chief Whips (representing the majority party and largest minority party)</li>
	<li>the Whips,</li>
	<li>the Chairperson and the Deputy Chairperson of Committees, and</li>
	<li>the Leader of the Official Opposition.</li>
</ul>
<p><b><i>Functions and responsibilities of office bearers</i></b></p>
<p>Presiding officers</p>
<p>The <b><i>Speaker</i></b> in the National Assembly and in the provincial legislatures is the person who presides over the proceedings of the House and is responsible for running the legislature subject to the policy laid down by the Joint Rules Committee of Parliament.</p>
<p>In the NCOP s/he is called the <b><i>Chairperson</i></b> and has the same powers as a Speaker. In the NCOP there are two deputies, one permanent and one rotating. The position of the second chairperson rotates amongst the provinces on an annual basis.</p>
<p>These presiding officers and their deputies are elected from amongst the Members of each legislature and are expected to be fair and impartial in the execution of their duties.</p>
<p>They are responsible for:</p>
<ul>
	<li>presiding over meetings in the House and taking charge of debates, making sure that Members can participate freely while keeping to the rules;</li>
	<li>interpreting the rules. S/he may also give a ruling or make a rule on a matter for which there is no provision in the current parliamentary rules;</li>
	<li>regulating public access to meetings and ordering members of the public to leave the House, where necessary;</li>
	<li>censuring Members, ordering them to leave the House and even ordering the offending Member to leave the precincts of Parliament until they have decided what action to take against the Member. In the event of serious disorder at a sitting, they may suspend the proceedings or adjourn the sitting.</li>
</ul>
<p>The National Assembly may remove the Speaker or Deputy Speaker from office by resolution. A majority of the Members of the Assembly must be present when the resolution is adopted.</p>
<p><i>Chairperson of Committees </i></p>
<p>The Chairperson of Committees is appointed by the Members of a legislature. His/her primary functions are</p>
<ul>
	<li>to preside at meetings of the Committee of Chairpersons;</li>
	<li>to approve the budget and expenditure of Committees, in consultation with the Chief Whip of the majority party; and</li>
	<li>to preside at the sittings of a House when the Speaker and Deputy Speaker are not available.</li>
</ul>
<p><i>Leader of Government Business (Leader of the House)</i></p>
<p>The Leader of Government Business is chosen by the President (with the consent of the Cabinet) from amongst the Members of the Cabinet and represents Cabinet in Parliament.</p>
<p>The Leader of Government Business, in consultation with the Chief Whip of the majority party, plays a crucial role in deciding on the programme of the legislature and ensuring that government business is dealt with and properly synchronised.</p>
<p>In provincial Legislatures, the Leader of Government Business is referred to as the Leader of the House and is appointed by the Premier. The Leader of the House serves as a link between the Executive Council and its Legislature and s/he performs the same functions as the Leader of Government Business.</p>
<p><i>Chief Whips and Party Whips</i></p>
<p>Whips contribute to the smooth running of a legislature. At the same time whips represent their party&#39;s interests and ensure the discipline of their members and the effective functioning of their party, both within the legislature as well as within the organisation.</p>
<p>There are two Chief Whips who are the official office bearers. One represents the majority party and the other is from the largest minority party. The other parties have Senior Whips assisted by a number of other whips. The Chief Whips are formally appointed by the Speaker, based on the recommendations of the respective political parties.</p>
<p>The Chief Whip of the majority party, in consultation with the Chief Whip of the largest minority party, is responsible for the detailed arrangement of the legislative business, that is, the programme of the Legislature. S/he is also responsible for approving the budget of Committees in consultation with the Chairperson of Committees.</p>
<p><br />
	<b><i>Committees</i></b></p>
<p>Much of the work of legislatures is delegated to Committees. This means that</p>
<ul>
	<li>issues can be debated in more detail than is possible in a full sittings of the House;</li>
	<li>public hearings can be held on specific matters;</li>
	<li>Members assigned to a Committee can develop expertise and in-depth knowledge of the field covered by that Committee; and</li>
	<li>internal arrangements, proceedings and procedures for the legislature can be devised and monitored.</li>
</ul>
<p>The responsibilities of Committees include:</p>
<ul>
	<li>initiating legislation (rules for which have recently been established);</li>
	<li>debating and amending legislation and policy documents;</li>
	<li>monitoring the departments they oversee;</li>
	<li>investigating and making recommendations on the budgets of these departments;</li>
	<li>holding public hearings or asking for submissions on important bills; and</li>
	<li>investigating any function of the executive and its department, which includes summoning ministers and any department official to appear before them to supply information;</li>
</ul>
<p>Committees do not take decisions but make recommendations to the legislature. Usually these recommendations are expressed in the form of reports to the House.</p>
<p>Each Committee elects its own chairperson. Each Committee is supported administratively by a Committee secretary/clerk.</p>
<p><i>Portfolio and Select Committees</i></p>
<p>In the National Assembly there are &quot;Portfolio&quot; Committees which shadow government departments - for each government department/portfolio there is a portfolio committee. For example there is a Portfolio Committee on Housing which addresses issues which relate to the Department of Housing. The National Council of Provinces (NCOP) has equivalent<b> </b>Committees, known as &quot;Select&quot; Committees. But unlike the National Assembly committees, there is not always one committee per government department/portfolio but a cluster. For example the Security and Justice Select Committee deals with the portfolios of Justice, Safety and Security as well as Defence.</p>
<p><i>Committees in the provincial legislatures</i></p>
<p>Provincial legislatures also have committees. Like the national portfolio committees, they shadow the area of responsibilities of Member of Executive Council (MECs) - but unlike the national committees, there is not always one committee per MEC or government department/ issue.</p>
<p><i>Ad hoc committees</i></p>
<p>Both Parliament and provincial legislatures have temporary Committees, known as &quot;Ad Hoc&quot; Committees, which are formed to consider specific issues. They cease to exist once they have completed their mandates.</p>
<p><i>Standing Committees</i></p>
<p>Some committees are permanent structures and are known as &quot;standing committees&quot; such as the Public Accounts Standing Committee. Some permanent committees have members from both the National Assembly and the NCOP, which are called &quot;joint&quot; standing Committees such as the Joint Standing Committee on Defence. However the term &quot;standing committee&quot; is slowly being phased out. For example the Joint Standing Committee on Defence will shortly be renamed the Joint Committee on Security Matters.</p>
<p><br />
	<b><i>Legislative Authority</i></b></p>
<p>Legislative authority is vested nationally in Parliament (section 44 of the Constitution). Provincial legislative authority is vested in the provincial legislatures (section 104 of the Constitution).</p>
<p><b>National</b></p>
<p>The national legislative authority, as vested in Parliament, gives the National Assembly the power</p>
<ul>
	<li>to amend the Constitution;</li>
	<li>to pass legislation with regard to any issue, subject to certain provisions; and</li>
	<li>to pass on any of its legislative powers to any legislature in the other spheres of government (except the power to amend the Constitution).</li>
</ul>
<p>It gives the NCOP the power</p>
<ul>
	<li>to participate in amending the Constitution (section 74);</li>
	<li>to pass legislation affecting provinces (section 76); and</li>
	<li>to consider any legislation passed by the National Assembly (section 75).</li>
</ul>
<p>Parliament may intervene in provincial legislation and make or change laws dealing with exclusive provincial matters (listed in Schedule 5 of the Constitution) only in the following cases (section 44 (2)):</p>
<ul>
	<li>to maintain national security,</li>
	<li>to maintain economic unity,</li>
	<li>to maintain essential national standards,</li>
	<li>to establish minimum standards for rendering of services; or</li>
	<li>to prevent unreasonable action by a province that might be detrimental to the other provinces.</li>
</ul>
<p><br />
	<b>Provincial</b></p>
<p>Provincial legislatures are bound only by the national Constitution and by their own Constitution, if they have one.</p>
<p>The legislative authority of provinces as vested in provincial Legislatures gives them the power</p>
<ul>
	<li>to pass a constitution for the province, or amend any constitution passed by it (sections 142 and 143 of the Constitution);</li>
	<li>to pass legislation for the province with regard to any matters</li>
	<li>within a functional area listed in Schedule 4 and Schedule 5 of the Constitution;</li>
	<li>outside those functional areas that are expressly assigned to the province by national legislation; and</li>
	<li>for which a provision of the Constitution envisages the enactment of provincial legislation; and</li>
	<li>to assign any of its legislative powers to a Municipal Council in that province.</li>
</ul>
<p>A provincial legislature can, with a two-thirds majority, request Parliament to change the name of that province.</p>
<p>A provincial legislature may recommend to the National Assembly legislation concerning</p>
<ul>
	<li>any matter outside the authority of that legislature; and</li>
	<li>where an Act of Parliament prevails over a provincial law.</li>
</ul>
<hr>
<p>This information compiled with the support of the <em>European Union Parliamentary Support Programme (EUPSP)</em></p>

{% endblock %}