{% extends "base.html" %}

{% block page %}
<h1>What is the PMG?</h1>
<p>The Parliamentary Monitoring Group, an information service, was established in 1995 as a partnership between Black Sash, Human Rights Committee and Idasa with the aim of providing a type of Hansard for the proceedings of the more than fifty South African Parliamentary Committees for these three advocacy organisations. This was because there is no official record publicly available of the committee proceedings - the engine room of Parliament - and this type of information is needed by social justice organisations to lobby the Parliament of South Africa on pieces of legislation, matters of democratic processes and parliamentary oversight of the executive.<br />
	<br />
	This website was set up at the beginning of 1998 to make the information generated available to a wider audience. Presently this is the only source for this type of information. We hope that the PMG committee reports and other documents will provide the public with an insight into the Parliament of South Africa and its daily activity. Importantly it provides a window into the performance of each government department and public entity over which each parliamentary committee has oversight.<br />
	<br />
	PMG became a fully fledged independent NGO in July 2009.<br />
	<br />
	<hr>
	<br />
	For a recent case study of PMG, go here:&nbsp;<a href="http://www.pmg.org.za/getting-information-people-role-parliamentary-monitoring-group">May 2013 case study of PMG&nbsp;</a>including a&nbsp;comparison&nbsp;of parliamentary monitoring organisations globally.&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}