{% extends "base.html" %}

{% block page %}
<h1>What is the PMG?</h1>
<p>The Parliamentary Monitoring Group, an information service, was established in 1995 as a partnership between Black Sash, Human Rights Committee and Idasa with the aim of providing a type of Hansard for the proceedings of the more than fifty South African Parliamentary Committees for these three advocacy organisations. This was because there is no official record publicly available of the committee proceedings - the engine room of Parliament - and this type of information is needed by social justice organisations to lobby the Parliament of South Africa on pieces of legislation, matters of democratic processes and parliamentary oversight of the executive.<br />
	<br />
	This website was set up at the beginning of 1998 to make the information generated available to a wider audience. Presently this is the only source for this type of information. We hope that the PMG committee reports and other documents will provide the public with an insight into the Parliament of South Africa and its daily activity. Importantly it provides a window into the performance of each government department and public entity over which each parliamentary committee has oversight.<br />
	<br />
	PMG became a fully fledged independent NGO in July 2009.<br />
	<br />
	<hr>
	<br />
	For a recent case study of PMG, go here:&nbsp;<a href="http://www.legacy.pmg.org.za/getting-information-people-role-parliamentary-monitoring-group">May 2013 case study of PMG&nbsp;</a>including a&nbsp;comparison&nbsp;of parliamentary monitoring organisations globally.&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>


<h1>What We Do</h1>

<p>PMG aims to provide accurate, objective, and current information on all parliamentary committee proceedings in the form of detailed, unofficial minutes and documents and since 2007, sound recordings of the meeting. </p>

<p> PMG’s key activity is the attending of all Parliamentary Committee meetings, where a monitor will tape and minute the proceedings and obtain all documents tabled in the committees. Immediately after the meeting, the audio recording is published on the PMG website Once a detailed written report has been compiled, it passes through an editorial and quality control process. It is then published on the PMG website within three working days of the committee proceedings along with all the relevant committee documents such as such as public submissions, working drafts of bills and briefings on policy &amp; legislation. </p>

<p>Beyond the reporting of Committee proceedings, PMG provides</p>

<ul>
	<li>Early notification of requests for submissions</li>
	<li>Details of public hearings</li>
  <li>Committee and parliamentary programmes</li>
  <li>Legislative programmes for each department</li>
  <li>A weekly progress report of the status of each bill in the legislative process</li>
  <li>A monthly newsletter about what was discussed in Parliament of relevance to communities (emailed and posted)</li>
  <li>A quarterly newsletter about successful partnership projects between communities and government</li>
</ul>

<p>Please make use of PMG’s <a href="{{ url_for('email_alerts') }}">FREE email alert service</a> and receive alerts for those government portfolios that you are interested in. We email you committee meeting reports and documents, new bills, request for submissions, ministry media briefings and speeches.
</p>

<p>
Currently PMG covers all parliamentary committees (except Intelligence which is closed to the public) and the PMG website has a record of all meeting proceedings and other documents between January 1998 and the present. However certain committees were not covered prior to 2000. If you cannot find what you are looking for, please contact <a href="mailto:info@pmg.org.za">info@pmg.org.za</a>.
</p>

<h1> Who are our board members?  </h1>

<p>
The five directors sitting on the board are: Mr Ghalib Galant (PMG Board Chair), Mr Mukelani Dimba, Ms Colleen Ryan, Ms Erika Wessels, Ms Marcella Naidoo who is currently represented by Black Sash CMAP and Advocacy Programme Manager, Elroy Paulus (PMG Board Treasurer).
</p>

<h1>Who are our staff members and interns?</h1>

<ol class="list-unstyled">
	<li>Ms Gaile Fullard - Executive Director</li>
	<li>Mr Rashaad Alli - Monitor and Projects Manager</li>
	<li>Ms Pumza Mokorotlo - Document Officer / Administrator / Subscription manager</li>
	<li>Ms Asanda Nika - Web Administrator</li>
	<li>Ms Zaheedah Adams - Good Governance Project Coordinator</li>
	<li>Mr Luvuyo Ngwayishe - Administrator</li>
	<li>Ms Amanda April – Intern</li>
	<li>Ms Monique Doyle - Intern</li>
	<li>Ms Megan Lessing - Intern</li>
	<li>Mr Phumlani Dimon - Intern</li>
</ol>

View the <a href="http://www.legacy.pa.org.za/media_root/file_archive/pmgstuff.jpg">Staff Photo here</a>.

<p>
Left to right (back row): Megan, Pumza, Zaid, Luvuyo, Amanda, Monique
<br>
Left to right (front row): Asanda, Gaile, Zaheedah, Rashaad         
</p>

<h1> Who are our funders? </h1>

<p>
The PMG's activities are currently funded by the:
</p>

<ul>
	<li>Open Society Foundation</li>
	<li>Raith Foundation</li>
	<li>Heinrich Böell Foundation</li>
	<li>Government of Flanders</li>
	<li>Indigo Trust.</li>
</ul>

<p>In addition, the free access enjoyed by civil society is cross-subsidised by subscriptions paid by commercial and government users.</p>

<h1>Credits</h1>

<p>
The National Assembly photo on our landing page is by <a href="https://www.flickr.com/photos/governmentza/">GovernmentZA</a> on flickr
and is licensed under a <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode">CC-BY-ND-2.0</a> license.
</p>


<p>
The National Council of Provinces photo on our landing page is by Victor Bergmann
and is licensed under a <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode">CC-BY-ND-2.0</a> license.
</p>
 

{% endblock %}
