{% extends 'admin/base.html' %}
{% block head_css %}
  {{ super() }}
  <link href="{{ url_for('static', filename='font-awesome-4.2.0/css/font-awesome.min.css') }}" rel="stylesheet">
  <style>

    .preview-area .well {
      max-height: 300px;
      overflow-y: auto;
    }

    fieldset {
      margin-bottom: 20px;
    }

    #new_alert_form .template-tips {
      padding-top: 7px;
    }

    .form-group .form-inline .checkbox {
      display: block;
    }

  </style>
{% endblock head_css%}

{% block brand %}
  <a class="navbar-brand" href="{{ FRONTEND_HOST }}">{{ admin_view.admin.name }}</a>
{% endblock %}

{% block access_control %}
  {% if not current_user.is_anonymous() %}
  <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="{{ url_for_security('logout') }}">Logout</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block tail_js -%}
  {{ super() }}
  <script src="//cdn.ckeditor.com/4.4.7/standard-all/ckeditor.js"></script>
	{% assets "admin-js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{%- endblock %}
