{% extends "base.html" %}

{% block title %} Provincial Legislatures | PMG{% endblock %}

{% block page %}
<div class="provincial-detail-page">
  <div class="row">
    <div class="col-lg-9">
        <h1 class="province-title"><i class="fa fa-fw fa-icon fa-university"></i> Provincial Legislatures</h1>
        <section class="provinces">
            <div class="row">
              {% for province in provinces %}
                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <a class="content-card flex" href="{{ url_for('provincial_legislatures_detail', slug=province.slug) }}">
                    <div >
                      <h4 class="card-title">{{ province.name }}</h4>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </section>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="provincial-box">
          <p>This is content of <b>provincial legislatures</b> we've recently added.</p>
          <p>Does this content interest you?<br>Please let us know!</p>
          <a class="btn btn-success" href="mailto:info@pmg.org.za">Tell us what you think</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}
