{% extends "base.html" %}

{% block title %}{{ province.name }} Parliament | PMG{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('provincial_legislatures_list') }}">Provincial Legislatures</a></li>
</ol>
{% endblock %}

{% block page %}
<div class="provincial-detail-page">
  <div class="row">
    <div class="col-lg-9">
      <h1 class="province-title"><i class="fa fa-fw fa-icon fa-university"></i> {{ province.name }} Parliament</h1>

      <section class="programmes">
        <h2><i class="fa fa-icon fa-fw fa-calendar"></i> Programme</h2>
        {% if latest_programme %}
        <div class="row">
          <div class="col-xs-6 col-lg-4">
            {{ latest_programme.body|safe }}
          </div>
        </div>
        {% else %}
        There are currently no programmes available for this legislature.
        {% endif %}
      </section>
      
      <section class="committees">
        <h2><i class="fa fa-icon fa-fw fa-group"></i> Committees</h2>
        <div class="row">
          {% for committee in provincial_committees %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a class="content-card flex" href="{{ url_for('committee_detail', committee_id=committee.id, from_page=slug) }}">
                <div >
                  <h4 class="card-title">{{ committee.name }}</h4>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="btn btn-success" href="{{ url_for('provincial_committees', slug=slug) }}">All {{ province }} Committees</a>
      </section>

      <section class="members">
        <h2><i class="fa fa-icon fa-fw fa-user"></i> Members</h2>
        <div class="row">
          {% for member in mpls %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <a class="content-card flex" href="{{ member | member_url }}">
                <img class="member-profile-pic" src="{{ STATIC_HOST }}{{ member.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ member.name }}">
                <div>
                  <h4 class="card-title">{{ member.name }}</h4>
                  <h5>{{ member.party.name }}</h5>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="btn btn-success" href="{{ url_for('provincial_members', slug=slug) }}">All {{ province.name }} Members</a>
      </section>

      <section class="offices">
        <h2><i class="fa fa-icon fa-fw fa-calendar"></i>Constituency Offices</h2>
        You can find constituency offices for this legislature on <a href="{{ pa_offices_url }}" target="_blank">People's Assembly</a>.
      </section>

      <section class="calls-for-comment">
        <h2><i class="fa fa-icon fa-fw fa-comments"></i> Open calls for comment <small class="open-calls-count hidden">Currently open: <span id="open-calls"></span></small></h2>
        {% if provincial_calls_for_comment %}
        <div class="row">
          {% for call_for_comment in provincial_calls_for_comment %}
            <div class="col-xs-12 col-sm-6 col-lg-4 open-call">
              <a href="{{ url_for('call_for_comment', call_for_comment_id=call_for_comment.id) }}" class="content-card flex card-link call-for-comment-stub open">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">{{ call_for_comment.title }}</h4>
                    <h5 class="date">{{ call_for_comment.start_date|pretty_date }} - {% if call_for_comment.end_date %}<strong class="enddate">{{ call_for_comment.end_date|pretty_date }}</strong>{% else %}Closing date unknown{% endif %}</h5>
                    <div class="footer-open">Open for comments</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        {% else %}
        There are currently no open calls for comment
        {% endif %}
      </section>

      <section class="party-representation">
        <h2><i class="fa fa-icon fa-fw fa-pie-chart"></i>Political Party Representation</h2>
        <div class="flourish-embed flourish-parliament" data-src="visualisation/18218327"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
      </section>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="provincial-box">
        <img src="/static/resources/images/provinces/{{ province.name_short }}.svg">
        <p>This is content of a <b>provincial legislature</b> we've recently added.</p>
        <p>Help keep this updated by sending changes to us!</p>
        <a class="btn btn-success" href="mailto:info@pmg.org.za">Submit a change</a>
      </div>

      {% if speaker %}
        <a class="content-card flex members" href="{{ speaker | member_url }}">
          <img class="member-profile-pic" src="{{ speaker.profile_pic_url or '/static/resources/images/no-profile-pic.svg' }}" alt="{{ speaker.name }}">
          <div>
            <h4 class="card-title">{{ speaker.name }}</h4>
            <h5>Speaker</h5>
          </div>
        </a>
      {% endif %}

      {% if province.contact_details %}
      <div class="panel panel-default contact">
        <div class="panel-heading">
          <h4 class="panel-title">Legislature contact details</h4>
        </div>
        <div class="panel-body">
          {{ province.contact_details|safe }}
        </div>
      </div>
      {% endif %}
    </div>
    
  </div>

</div>
{% endblock %}
