<nav class="navbar navbar-default navbar-pmg" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img id="logo" src="/static/resources/images/logo.png" alt="Parliamentary Monitoring Group"></a>
    </div>
    <form class="navbar-form navbar-left" role="search" action="/search">
      <div class="form-group">
        <input type="text" class="form-control " name="q" placeholder="Search for committee meetings, bills, ministers, schedules and documents" value="{{q}}">
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <a href="{{ url_for('register') }}" class="btn btn-primary navbar-btn">Create an account</a>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
