{% extends "base.html" %}

{% block page %}
<div class="container-fluid">

  <div class="col-sm-12">
    <ul class="list-inline top-links">
      <li><a href="/committees/">Committees</a></li>
      <li><a href="/bills/">Bills</a></li>
      <li><a href="#">Hansards</a></li>
      <li><a href="#">MPs</a></li>
      <li><a href="#">About Parliament</a></li>
      <li><a href="#">About PMG</a></li>
    </ul>
  </div>

  <div class="col-sm-12">
    <h1><i class="fa fa-icon fa-group"></i> Parliamentary Committees</h1>
  </div>

  <div class="col-md-8">
    {% for committee in committees %}
    <p><a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a></p>
    {% endfor %}

  </div>

  <div class="col-md-4">

  </div>

</div>


{% endblock page %}