{% extends "base.html" %}

{% block page %}
<div class="container-fluid">

  <div class="col-sm-12">
    <h1><i class="fa fa-icon fa-group"></i> Parliamentary Committees</h1>
  </div>

  <div class="col-md-8">
    <h2>National Assembly</h2>
    <ul>
      {% for committee in committees %}
      {% if committee.house_id == 3 %}
      <li>
        <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <h2>National Council of Provinces</h2>
    <ul>
      {% for committee in committees %}
      {% if committee.house_id == 2 %}
      <li>
        <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <h2>Joint Committees</h2>
    <ul>
      {% for committee in committees %}
      {% if committee.house_id == 1 %}
      <li>
        <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>

  <div class="col-md-4">

  </div>
{% endblock page %}