{% extends "base.html" %}

{% block style %}
<style>
  .member-profile-pic{
    max-width: 50px;
    max-height: 75px;
  }
</style>
{% endblock %}

{% block top_links %}
<ul class="list-inline top-links">
  <li><a href="#">...</a></li>
  <!--<li><a href="#">About this committee</a></li>-->
  <!--<li><a href="#">Help me make a submission</a></li>-->
  <!--<li><a href="#">Contact details</a></li>-->
</ul>
{% endblock %}

{% block page %}
<div class="col-sm-12">
  <h4 class="light-red">Parliamentary committee</h4>
  <h1>{{ committee.name }}</h1>
</div>

<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-flash"></span> Reports</h3>
  <!--<form class="form" role="form">-->
  <!--<div class="form-group">-->
  <!--<input type="text" class="form-control " placeholder="Search for reports">-->
  <!--</div>-->
  <!--</form>-->

  {%- set per_page = 20 -%}
  {%- set num_pages = ((committee.events | length) / per_page) | int -%}
  {%- if (committee.events | length) % per_page != 0 %}
  {% set num_pages = num_pages + 1 %}
  {% endif -%}

  <div class="tab-content">
    {% for i in range(num_pages) %}
    <div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="page-{{ loop.index }}">
      <table class="table table-striped table-bordered">
        {% if loop.last %}
        {% set event_list = committee.events[loop.index0 * 20::] %}
        {% else %}
        {% set event_list = committee.events[loop.index0 * 20:loop.index * 20] %}
        {% endif %}
        {% for event in event_list %}
        {% if event.type == "committee-meeting" %}
        <tr>
          <td><nobr>{{ event.date | pretty_date }}</nobr></td>
          <td><a href="{{ url_for('committee_meeting', event_id=event.id) }}">{{ event.title }}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>

  <ul class="pagination pagination-sm" role="tablist" style="margin-top: -14px">
    <li><a href="#page-1" role="tab" data-toggle="tab">&laquo;</a></li>
    {% for i in range(num_pages) %}
    <li{% if loop.first %} class="active"{% endif %}><a href="#page-{{ loop.index }}" role="tab" data-toggle="tab">{{ loop.index }}</a></li>
    {% endfor %}
    <li><a href="#page-{{ num_pages }}" role="tab" data-toggle="tab">&raquo;</a></li>
  </ul>
</div> <!-- /Reports -->

<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-user"></span> Members</h3>
  {% if committee.members %}
  <!--<form class="form" role="form">-->
  <!--<div class="form-group">-->
  <!--<input type="text" class="form-control " placeholder="Search for members">-->
  <!--</div>-->
  <!--</form>-->
  {% set break = 0.5 * committee.members | length %}
  {% set break = break | int %}
  <div class="col-sm-6">
    <ul class="list-unstyled list-spaced">

      {% for member in committee.members[0:break] %}
      <li class="clearfix">
        {%- if member.profile_pic_url %}
        <img class="member-profile-pic" src="{{ member.profile_pic_url }}" alt="Profile picture: {{ member.name }}" >
        {% else %}
        <p class="text-muted">No image available</p>
        {% endif %}
        <h4>{{ member.name }}</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>
      {% endfor %}

    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-unstyled list-spaced">
      {% for member in committee.members[break::] %}
      <li class="clearfix">
        <img class="member-profile-pic" src="{{ member.profile_pic_url }}" alt="Profile picture: {{ member.name }}" >
        <h4>{{ member.name }}</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <p class="lead">We don't have membership info for this committee.</p>
  {% endif %}
</div>  <!-- /Members -->


<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-bullhorn"></span> Calls for Comment</h3>
  <!--<form class="form" role="form">-->
  <!--<div class="form-group">-->
  <!--<input type="text" class="form-control " placeholder="Search for calls for comment">-->
  <!--</div>-->
  <!--</form>-->
  <!--<table class="table table-striped table-bordered">-->
  <!--<tr>-->
  <!--<td><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Open</span> </td>-->
  <!--<td>-->
  <!--Closes 30 July 2014 (Two weeks)-->
  <!--</td>-->
  <!--<td>-->
  <!--<span class="glyphicon glyphicon-headphones"></span> PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session-->
  <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Open</span> </td>-->
  <!--<td>Closes 30 July 2014 (Two weeks)</td>-->
  <!--<td>Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>-->
  <!--<td>Closed 30 July 2014</td>-->
  <!--<td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>-->
  <!--<td>Closed 30 July 2014</td>-->
  <!--<td>-->
  <!--Committee Report on Arts and Culture 2014 Budget-->
  <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>-->
  <!--<td>Closed 30 July 2014</td>-->
  <!--<td>-->
  <!--Committee Report on Arts and Culture 2014 Budget-->
  <!--</td>-->
  <!--</tr>-->
  <!--</table>-->
</div> <!-- /Calls for comments -->

{% endblock %}

