{% extends "base.html" %}

{% block style %}
<style>

</style>
{% endblock %}

{% block top_links %}
{{ super() }}
{% endblock %}

{% block page %}
<div class="col-sm-12">
  <h3 class="red"><span class="glyphicon glyphicon-flash"></span> Committee meeting</h3>
</div>

<div class="col-sm-8 justify-p">
  <h1>{{ event.title }}</h1>

  <h3>
    Committee:
    {% if event.organisation %}
    <a href="{{ url_for('committee_detail', committee_id=event.organisation.id) }}">{{ event.organisation.name }}</a></h3>
  {% else %}
  (unknown)
  {% endif %}
  </h3>

  <h3>
    Date of Meeting:
    {% if event.date %}
    {{ event.date | pretty_date }}
    {% else %}
    (unknown)
    {% endif %}
  </h3>

  <h2>Summary</h2>
  {% if event.committee_meeting_report and event.committee_meeting_report.summary %}
  {{ event.committee_meeting_report.summary | safe }}
  {% else %}
  <p><em>No summary available for this committee meeting.</em></p>
  {% endif %}
  <hr>

  <h2>Minutes</h2>
  {% if event.committee_meeting_report and event.committee_meeting_report.body %}
  {{ event.committee_meeting_report.body | safe }}
  {% else %}
  <p><em>No minutes available for this committee meeting.</em></p>
  {% endif %}
  <hr>

</div>
<div class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Audio</h4>
    </div>
    <div class="panel-body">
      {% if audio %}
      <ul class="list-unstyled">
        {% for item in audio %}
        <li><a href="{{ STATIC_HOST }}{{ item.file_path }}" target="_blank"><span class="glyphicon glyphicon-headphones"></span> {{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="lead text-muted">No audio content</p>
      {% endif %}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Documents</h4>
    </div>
    <div class="panel-body">
      {% if related_docs %}
      <ul class="list-unstyled">
        {% for item in related_docs %}
        <li><a href="{{ STATIC_HOST }}{{ item.file_path }}" target="_blank"><span class="glyphicon glyphicon-file"></span> {{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="lead text-muted">No related documents</p>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}

