{% extends "base.html" %}

{% block page %}

<div class="container-fluid">
<div class="col-sm-12">
  <ul class="list-inline top-links">
    <li><a href="#">About this committee</a></li>
    <li><a href="#">Help me make a submission</a></li>
  </ul>
</div>

<div class="col-sm-12">
  <h4 class="light-red">Parliamentary committee</h4>
  <h1>Agriculture, Forestry and Fisheries</h1>
</div>

<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-flash"></span> Reports</h3>
  <form class="form" role="form">
    <div class="form-group">
      <input type="text" class="form-control " placeholder="Search for reports">
    </div>
  </form>


  <table class="table table-striped table-bordered">
    <tr>
      <td>30 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session</td>
    </tr>
    <tr>
      <td>29 July 2014</td>
      <td>Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
    <tr>
      <td>11 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td>8 July 2014</td>
      <td>
        <span class="glyphicon glyphicon-headphones"></span> Committee Report on Arts and Culture 2014 Budget
      </td>
    </tr>
    <tr>
      <td>30 July 2014</td>
      <td>PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session</td>
    </tr>
    <tr>
      <td>29 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
    <tr>
      <td>11 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td>8 July 2014</td>
      <td>Committee Report on Arts and Culture 2014 Budget</td>
    </tr>
    <tr>
      <td>30 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session</td>
    </tr>
    <tr>
      <td>29 July 2014</td>
      <td>Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
    <tr>
      <td>11 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td>8 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> Committee Report on Arts and Culture 2014 Budget</td>
    </tr>
    <tr>
      <td>30 July 2014</td>
      <td>PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session</td>
    </tr>
    <tr>
      <td>29 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
    <tr>
      <td>11 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td>8 July 2014</td>
      <td>Committee Report on Arts and Culture 2014 Budget</td>
    </tr>
    <tr>
      <td>11 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td>8 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> Committee Report on Arts and Culture 2014 Budget</td>
    </tr>
    <tr>
      <td>30 July 2014</td>
      <td>PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session</td>
    </tr>
    <tr>
      <td>29 July 2014</td>
      <td><span class="glyphicon glyphicon-headphones"></span> Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
  </table>
  <ul class="pagination pagination-sm" style="margin-top: -14px">
    <li ><a href="#" >&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div> <!-- /Reports -->



<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-bullhorn"></span> Calls for Comment</h3>
  <form class="form" role="form">
    <div class="form-group">
      <input type="text" class="form-control " placeholder="Search for calls for comment">
    </div>
  </form>
  <table class="table table-striped table-bordered">
    <tr>
      <td><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Open</span> </td>
      <td>
        Closes 30 July 2014 (Two weeks)
      </td>
      <td>
        <span class="glyphicon glyphicon-headphones"></span> PC Mineral Resurces: Committee Programme &amp; Preparation for strategic session
      </td>
    </tr>
    <tr>
      <td><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Open</span> </td>
      <td>Closes 30 July 2014 (Two weeks)</td>
      <td>Minister of Agriculture, Forestry and Fisheries on 3rd &amp; 4th quarter 2014 performance</td>
    </tr>
    <tr>
      <td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>
      <td>Closed 30 July 2014</td>
      <td>Committee Report on Agriculture, Forestry and Fisheries 2014 Budget</td>
    </tr>
    <tr>
      <td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>
      <td>Closed 30 July 2014</td>
      <td>
        Committee Report on Arts and Culture 2014 Budget
      </td>
    </tr>
    <tr>
      <td><span class="label label-warning"><span class="glyphicon glyphicon-remove"></span> Closed</span> </td>
      <td>Closed 30 July 2014</td>
      <td>
        Committee Report on Arts and Culture 2014 Budget
      </td>
    </tr>
  </table>
</div> <!-- /Calls for comments -->

<div class="col-md-4">
  <h3><span class="glyphicon glyphicon-user"></span> Members</h3>
  <form class="form" role="form">
    <div class="form-group">
      <input type="text" class="form-control " placeholder="Search for members">
    </div>
  </form>
  <div class="col-sm-6">
    <ul class="list-unstyled list-spaced">
      <li class="clearfix">
        <img src="/static/resources/images/members/member1.jpg" alt="" >
        <h4>Semenya, Ms MR</h4>
        <span class="label label-warning">Chairperson</span>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member2.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member3.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member4.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member5.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member6.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-unstyled list-spaced">
      <li class="clearfix">
        <img src="/static/resources/images/members/member7.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member8.jpg" alt="" >
        <h4>Semenya, Ms MR</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member9.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member10.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member11.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member12.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member13.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>

      <li class="clearfix">
        <img src="/static/resources/images/members/member14.jpg" alt="" >
        <h4>Ntshayisa, Mr LM</h4>
        <a href="#" class="text-danger">National Assembly</a>
        <a href="#" class="text-primary">ANC</a>
      </li>
    </ul>
  </div>
</div>  <!-- /Members -->
</div>

{% endblock %}

