
{% if result._source %}
	{% if result.highlight.title %}
		{% set title = result.highlight.title[0]|search_snippet %}
	{% else %}	
		{% set title = result._source.title %}
	{% endif %}
	{% set date = result._source.date %}
	{% set id = result._id %}
	{% set house = result._source.house %}
{% else %}
	{% set title = result.title %}
	{% set date = result.date %}
	{% set id = result.id %}
	{% if result.organisation %}
		{% set committee = result.organisation %}
	{% endif %}
{% endif %}
<div class="committee-stub space-bottom-sm">
	<div class="row">
		<div class="col-md-10">
			<span class="label label-primary">Committee Meeting</span>
			<a href="/committee-meeting/{{ id }}">{{ title|safe }}</a>
			{{ date|human_date }} - {{ date|pretty_date }}
		</div>
		<div class="col-md-2">
			{% if result.organisation %}
			<span class="label label-info"><a href="/committee/{{committee.id}}">{{ committee.name }}</a></span>
			{% endif %}	
			{% if result.organisation %}
				<span class="label label-warning">{{ committee.house.name }}</span>
			{% endif %}
		</div>
	</div>
	{% if result.highlight %}
	{% if result.highlight.description %}
	<div class="row">
		<div class="col-md-12">
			{{ result.highlight.description[0]|search_snippet|ellipse|safe }}
		</div>
	</div>
	{% elif result.highlight.fulltext %}
	<div class="row">
		<div class="col-md-12">
			{{ result.highlight.fulltext[0]|search_snippet|ellipse|safe }}
		</div>
	</div>
	{% endif %}
	{% endif %}
</div>