{% if result._source %}
{% set title = result._source.title %}
{% set date = result._source.date %}
{% set id = result._id %}
{% set house = result._source.house %}
{% else %}
{% set title = result.name %}
{% set date = result.start_date %}
{% set id = result.id %}
{% set house = result.house.name %}
{% endif %}
<div class="calls-for-comment-stub space-bottom-sm">
	<div class="title">
		<span class="label label-success">Committee</span>
		<a href="/calls-for-comment/{{ id }}">{{ title }}</a>
		<span class="label label-info">{{ house }}</span>
	</div>
</div>