{% if result._source %}
	{% set title = result._source.title %}
	{% set date = result._source.date %}
	{% set id = result._id %}
{% else %}
	{% set title = result.title %}
	{% set date = result.start_date %}
	{% set id = result.id %}
{% endif %}
<div class="daily_schedule-stub space-bottom-sm">
	<div class="row">
		<div class="col-md-2">
			<span class="label label-primary">Daily Schedule</span>
		</div>
		<div class="col-md-8">
			<a href="/daily_schedule/{{ id }}">{{ date|pretty_date }} </a>
			{{ date|human_date }}
		</div>
	</div>
</div>