{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block top_links %}
{{ super() }}
{% endblock %}

{% block page %}
<div class="col-sm-12">
  <h4 class="light-red">Gazette</h4>
  <h1>{{ gazette.title }}</h1>
  {% if gazette.end_date %}
  <h4>Comment expires on {{ gazette.end_date }}</h4>
  {% endif %}
  {% if gazette.start_date %}
  <h4>{{ gazette.start_date }}</h4>
  {% endif %}
  {% if gazette.effective_date %}
  <h4>Effective Date: {{ gazette.effective_date }}</h4>
  {% endif %}
  
</div>

<div class="col-md-6">
  {% for file in gazette.files %}
  
  
  {% if file.description %}
  <a href="{{file.url|file}}"><i class="fa fa-pdf"></i> {{ file.description }}</a>
  {% else %}
  <a href="{{file.url|file}}"><i class="fa fa-pdf"></i> {{ file.origname }}</a>
  {% endif %}
  
  {% endfor %}
</div>


{% endblock %}