{% extends "base.html" %}

{% block page %}

<div class="col-md-9"> <!-- Main section -->
  <div class="row">
    <div id="news" class="jumbotron col-md-12">

      <div class="news-pic">
        <div class="text-background bottom">
          <h2 class=""><a href="#">Overview of Fourth Parliament</a></h2>

        </div>
        <div class="blurb">
          <p class="">2014 marks the twentieth year of democracy, and the end of the Fourth Parliament in South Africa. This overview highlights aspects of the work done by Parliament between 2009 and 2014. This is not intended to be a comprehensive analysis, but a broad sweep over some of the matters that occupied Parliament, consideration of whether it achieved selected objectives, and will offer some suggestions on the likely strategy of the incoming Fifth Parliament after the elections.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="schedule" class="col-md-4">
      <h3><span class="glyphicon glyphicon-calendar"></span> Schedule</h3>
      <p>...</p>
      <!--<h4>Monday 18 August 2014 </h4>-->
      <!--<table class="table table-striped table-bordered">-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>8:30 am - 10:30am</td>-->
          <!--<td>Some thing happening</td>-->
        <!--</tr>-->
      <!--</table>-->
    </div><!-- Schedule -->

    <div class="col-md-8" id="reports"> <!-- Reports -->
      <form class="form-inline pull-right" role="form">
        <div class="form-group">
          <select class="form-control">
            <option value="">Agriculture, Forestry and Fisheries</option>
            <option value="">Arts and Culture</option>
            <option value="">Basic Education</option>
            <option value="">Communications</option>
          </select>
        </div>
      </form>
      <h3><span class="glyphicon glyphicon-flash"></span> Reports</h3>
      
      <table class="table table-striped table-bordered">
         {% for committee_meeting in committee_meetings %}
          <tr>
            <td>{{ committee_meeting.date }}</td>
          <td><a href="/committee/{{ committee_meeting.organisation.id }}">{{ committee_meeting.organisation.name }}</a></td>
          <td>
            <span class="glyphicon glyphicon-headphones"></span> <a href="/committee-meeting/{{ committee_meeting.id }}">{{ committee_meeting.title }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div> <!-- Reports -->
  </div>


</div> <!-- /Main Section -->

<div id="sidebar" class="col-md-3">  <!-- Sidebar -->
  <div id="latest_bills">
    <h3><span class="glyphicon glyphicon-certificate"></span> Bills</h3>
    
    <ul class="list-unstyled list">
      {% for bill in bills %}
      <li>
        <h4><a href="http://bills.pmg.org.za/bill/{{ bill.bill_code }}/">{{ bill.title }}</a></h4>
        <p>
          Bill  <strong>{{ bill.number}}</strong> of <strong>{{ bill.year }}</strong>
        </p>
        
        <!-- <p>
          <strong>February 26, 2014</strong>
          Bill introduced in National Assembly
        </p>
        <p>
          <strong>July 22, 2014</strong>
          Bill lapsed in terms of Rule 298 but had been revived on this date
        </p> -->
      </li>
      {% endfor %}
      <!--<li>-->
        <!--<h4><a href="http://bills.pmg.org.za/bill/6/">Appropriation Bill (B4-2014)</a></h4>-->
        <!--<p><span class="label label-success">Introduced</span> <span class="glyphicon glyphicon-chevron-right"></span> <span class="label label-warning">National Assembly</span> <span class="glyphicon glyphicon-chevron-right"></span> <span class="label label-danger">National Council of Provinces</span></p>-->
        <!--<p>-->
          <!--<strong>July 31, 2014</strong>-->
          <!--Bill passed by the NCOP and sent to the president for assent-->
        <!--</p>-->
        <!--<p>-->
          <!--<strong>July 29, 2014</strong>-->
          <!--Appropriation Bill: National Treasury briefing &amp; finalisation-->
        <!--</p>-->
      <!--</li>-->

      <!--<li>-->
        <!--<h4><a href="http://bills.pmg.org.za/bill/4/">Medicines and Related Substances Amendment Bill (B6-2014)</a></h4>-->
        <!--<p><span class="label label-success">Introduced</span> <span class="glyphicon glyphicon-chevron-right"></span> <span class="label label-warning">National Assembly</span></p>-->
        <!--<p>-->
          <!--<strong>February 26, 2014</strong>-->
          <!--Bill introduced in National Assembly-->
        <!--</p>-->
        <!--<p>-->
          <!--<strong>July 22, 2014</strong>-->
          <!--Bill lapsed in terms of Rule 298 but had been revived on this date-->
        <!--</p>-->
      <!--</li>-->

      <!--<li>-->
        <!--<h4><a href="http://bills.pmg.org.za/bill/6/">Appropriation Bill (B4-2014)</a></h4>-->
        <!--<p><span class="label label-success">Introduced</span> <span class="glyphicon glyphicon-chevron-right"></span> <span class="label label-warning">National Assembly</span> <span class="glyphicon glyphicon-chevron-right"></span> <span class="label label-danger">National Council of Provinces</span></p>-->
        <!--<p>-->
          <!--<strong>July 31, 2014</strong>-->
          <!--Bill passed by the NCOP and sent to the president for assent-->
        <!--</p>-->
        <!--<p>-->
          <!--<strong>July 29, 2014</strong>-->
          <!--Appropriation Bill: National Treasury briefing &amp; finalisation-->
        <!--</p>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div> <!-- /Sidebar -->

{% endblock page %}
