{% if result._source %}
	{% set title = result._source.title %}
	{% set date = result._source.date %}
	{% set id = result._id %}
{% else %}
	{% set title = result.name %}
	{% set date = result.start_date %}
	{% set id = result.id %}
	{% set party = result.party %}
	{% set pic = result.profile_pic_url %}
{% endif %}
<div class="member-stub space-bottom-sm">
	<div class="row">
		<div class="col-md-1">
			<span class="label label-primary">Member</span>
		</div>
		<div class="col-md-1">
			{% if pic %}
				<img src="{{ pic }}" alt="{{title}}" style="max-height: 40px">
			{% endif %}
		</div>
		<div class="col-md-8">
			<a href="/member/{{ id }}">{{ title }}</a>
			{{ date|human_date }} - {{ date|pretty_date }}
		</div>
		<div class="col-md-2">
			{% if party %}
			<span class="label label-info">{{ party.name }}</span>
		
		{% endif %}	
		</div>
		
	</div>
</div>