{% if result._source %}
	{% if result.highlight.title %}
		{% set title = result.highlight.title[0]|search_snippet %}
	{% else %}	
		{% set title = result._source.title %}
	{% endif %}
	{% set date = result._source.date %}
	{% set id = result._id %}
{% else %}
	{% set title = result.title %}
	{% set date = result.start_date %}
	{% set id = result.id %}
{% endif %}
<div class="question_reply-stub space-bottom-sm">
	<div class="row">
		<div class="col-md-10">
			<span class="label label-primary">Questions and Replies</span>
			<a href="/question_reply/{{ id }}">{{ title|safe }}</a>
			{{ date|human_date }} - {{ date|pretty_date }}
		</div>
	</div>
	{% if result.highlight %}
	{% if result.highlight.description %}
	<div class="row">
		<div class="col-md-12">
			{{ result.highlight.description[0]|search_snippet|ellipse|safe }}
		</div>
	</div>
	{% elif result.highlight.fulltext %}
	<div class="row">
		<div class="col-md-12">
			{{ result.highlight.fulltext[0]|search_snippet|ellipse|safe }}
		</div>
	</div>
	{% endif %}
	{% endif %}
</div>