{% if result._source %}
	{% set title = result._source.title %}
	{% set date = result._source.date %}
	{% set id = result._id %}
{% else %}
	{% set title = result.title %}
	{% set date = result.start_date %}
	{% set id = result.id %}
	{% if result.committee %}
		{% set committees = result.committee %}
	{% endif %}
{% endif %}
<div class="tabled-committee-report-stub space-bottom-sm">
	<div class="row">
		<div class="col-md-2">
			<span class="label label-primary">Tabled Committee Report</span>	
		</div>
		<div class="col-md-8">
			<a href="/committee-meeting/{{ result._id }}">{{ title }}</a>
			{{ date|human_date }} - {{ date|pretty_date }}
		</div>
		<div class="col-md-2">
			{% if committees %}
			{% for committee in committees %}
			<span class="label label-info"><a href="/committee/{{committee.id}}">{{ committee.name }}</a></span>
			<span class="label label-warning">{{ committee.house.name }}</span>
			{% endfor %}
			{% endif %}
		</div>
		
	</div>
</div>