{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('briefings') }}">Media Briefings</a></li>
</ol>
{% endblock %}

{% block page %}
  <h1>{{ event.title }}</h1>
  <h4 class="light-red">Briefing</h4>

  <h5>{{ event.date }}</h5>

  <div class="row">
    <div class="col-sm-8">
      {% if (report.summary) %}
        <div class="summary">{{ report.summary|safe }}</div>
      {% endif %}

      {% if (report.body) %}
        <h3>Minutes</h3>
        <div>{{ report.body|safe }}</div>
      {% endif %}

    </div>

    <div class="col-sm-4">
      {{ audio_attachments(audio) }}
      {{ related_attachments(related_docs) }}
    </div>

  </div>
{% endblock %}


