{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if call_for_comment.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=call_for_comment.committee.id) }}">{{ call_for_comment.committee.name }}</a></li>
  <li>Calls for Comments</li>
  {% else %}
  <li><a href="{{ url_for('calls_for_comments') }}">Calls for Comments</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
	<h1><i class="fa fa-comments"></i> {{ call_for_comment.title }}</h1>

	{% if call_for_comment.end_date %}
		<h4>Comment expires on {{ call_for_comment.end_date }}</h4>
	{% endif %}
	{% if call_for_comment.start_date %}
		<h4>{{ call_for_comment.start_date }}</h4>
	{% endif %}
	{% if call_for_comment.committee %}
		<h2><a href="/committee/{{call_for_comment.committee.id}}">{{ call_for_comment.committee.name }}</a></h2>
	{% endif %}
	{{ call_for_comment.body|safe }}
{% endblock %}
