{% extends "base.html" %}

{% block page %}
<h1><i class="fa fa-icon fa-group"></i> Parliamentary Committees</h1>

<h2>National Assembly</h2>
<ul>
  {% for committee in committees %}
  {% if committee.house_id == 3 %}
  <li>
    <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>National Council of Provinces</h2>
<ul>
  {% for committee in committees %}
  {% if committee.house_id == 2 %}
  <li>
    <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Joint Committees</h2>
<ul>
  {% for committee in committees %}
  {% if committee.house_id == 1 %}
  <li>
    <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{% endblock page %}
