{% extends "base.html" %}

{% block page %}
  <h1><i class="fa fa-icon fa-group"></i> Parliamentary Committees</h1>

  <div class="row">
    <div class="col-md-4">
      <h3>National Assembly</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 3 and not committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3>National Council of Provinces</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 2 and not committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Joint Committees</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 1 and not committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr>
  <h2>Ad-Hoc committees</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>National Assembly</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 3 and committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3>National Council of Provinces</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 2 and committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Joint Committees</h3>
      <ul>
        {% for committee in committees %}
          {% if committee.house.id == 1 and committee.ad_hoc %}
            <li>
              <a href="{{ url_for('committee_detail', committee_id=committee.id) }}">{{ committee.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock page %}
