{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if event.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=event.committee.id) }}">{{ event.committee.name }}</a></li>
  <li>Committee Meetings</li>
  {% else %}
  <li><a href="{{ url_for('committee_meetings') }}">Committee Meetings</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
  <h1><i class="fa fa-comment"></i> {{ event.title }}</h1>

  <div class="row">
    <div class="col-sm-8 justify-p">

      <h3>
        Committee:
        {% if event.committee %}
          <a href="{{ url_for('committee_detail', committee_id=event.committee.id) }}">{{ event.committee.name }}</a></h3>
        {% else %}
          (unknown)
        {% endif %}
      </h3>

      {% if event.chairperson %}
        <h3>Chairperson: {{ event.chairperson }}</h3>
      {% endif %}

      <h3>
        Date of Meeting:
        {% if event.date %}
          {{ event.date | pretty_date }}
        {% else %}
          (unknown)
        {% endif %}
      </h3>

      <h2>Summary</h2>
      {% if report and report.summary %}
        {{ report.summary | safe }}
      {% else %}
        <p><em>No summary available for this committee meeting.</em></p>
      {% endif %}
      <hr>

      <h2>Minutes</h2>
      {% if report and report.body %}
        {{ report.body | safe }}
      {% else %}
        <p><em>No minutes available for this committee meeting.</em></p>
      {% endif %}
      <hr>
    </div>

    <div class="col-sm-4">
      {{ audio_attachments(audio) }}
      {{ related_attachments(related_docs) }}
    </div>

  </div>

{% endblock %}

