{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
</ol>
{% endblock %}

{% block page %}
  <h1>{{ committee.name }}</h1>

  <h4 class="light-red">{{ committee.house.name }} Committee</h4>

  {% if committee.about %}
    <h3 class="collapse-link"><span class="fa fa-caret-right"></span> About</h3>
    <div class="collapse">
      {{ committee.about|safe }}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-8">
      <h3><span class="fa fa-flash"></span> Committee Meetings</h3>
      {%- set per_page = 20 -%}
      {%- set num_pages = ((committee.events | length) / per_page) | int -%}
      {%- if (committee.events | length) % per_page != 0 %}
        {% set num_pages = num_pages + 1 %}
      {% endif -%}

      <div class="tab-content">
        {% for i in range(num_pages) %}
          <div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="page-{{ loop.index }}">
            <table class="table table-striped table-bordered">
              {% if loop.last %}
                {% set event_list = committee.events[loop.index0 * 20::] %}
              {% else %}
                {% set event_list = committee.events[loop.index0 * 20:loop.index * 20] %}
              {% endif %}
              {% for event in event_list %}
                {% if event.type == "committee-meeting" %}
                  <tr>
                    <td><nobr>{{ event.date | pretty_date }}</nobr></td>
                    {% if event.id %}
                      <td><a href="{{ url_for('committee_meeting', event_id=event.id) }}">{{ event.title }}</a></td>
                    {% else %}
                      <td>{{ event.title }}</td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>
      {% if num_pages > 1 %}
        <ul class="pagination pagination-sm" role="tablist" style="margin-top: -14px">
          <li><a href="#page-1" role="tab" data-toggle="tab">&laquo;</a></li>
          {% for i in range(num_pages) %}
            <li{% if loop.first %} class="active"{% endif %}><a href="#page-{{ loop.index }}" role="tab" data-toggle="tab">{{ loop.index }}</a></li>
          {% endfor %}
          <li><a href="#page-{{ num_pages }}" role="tab" data-toggle="tab">&raquo;</a></li>
        </ul>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% if committee.tabled_committee_reports %}
            <div class="col-md-6">
              <h3><span class="fa fa-briefcase"></span> Tabled Reports</h3>
              <ul class="list-unstyled">
                {% for result in committee.tabled_committee_reports[0:5] %}
                  <li>{% include 'tabled_committee_report_stub.html' %}</li>
                {% endfor %}
              </ul>
              {% if committee.tabled_committee_reports|length > 5 %}
                <a href="/tabled-committee-reports/?filter[committee]={{ committee.id }}" class="btn btn-primary">More</a>
              {% endif %}
            </div>
          {% endif %}
          {% if committee.calls_for_comments %}
            <div class="col-md-6">
              <h3><span class="fa fa-bullhorn"></span> Calls for Comment</h3>
              <ul class="list-unstyled">
                {% for result in committee.calls_for_comments[0:5] %}
                  <li>{% include 'call_for_comment_stub.html' %}</li>
                {% endfor %}
              </ul>
              {% if committee.calls_for_comments|length > 5 %}
                <a href="/calls-for-comments/?filter[committee]={{ committee.id }}" class="btn btn-primary">More</a>
              {% endif %}
            </div>
          {% endif %}
          {% if committee.questions_replies %}
            <div class="col-md-6">
              <h3><span class="fa fa-question-circle"></span> Questions and Replies</h3>
              <ul class="list-unstyled">
                {% for result in committee.questions_replies[0:5] %}
                  <li>{% include 'question_reply_stub.html' %}</li>
                {% endfor %}
              </ul>
              {% if committee.questions_replies|length > 5 %}
                <a href="/question_replies/?filter[committee]={{ committee.id }}" class="btn btn-primary">More</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- /Reports -->

    <div class="col-md-4">
      <h3><span class="fa fa-group"></span> Members</h3>
      {% if committee.memberships %}
        {% set break = 0.5 * committee.memberships | length %}
        {% set break = break | int %}
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-unstyled list-spaced">

              {% for membership in committee.memberships %}
                {% set member = membership.member %}
                {% if membership.type == 'chairperson'%}
                  <li class="clearfix">
                    {%- if member.profile_pic_url %}
                      <a href="{{ member|member_url }}"><img class="member-profile-pic chairperson" src="{{ member.profile_pic_url }}" alt="Profile picture: {{ member.name }}" ></a>
                    {% else %}
                      <p class="text-muted">No image available</p>
                    {% endif %}
                    <h4><a href="{{ member|member_url }}">{{ member.name }}</a></h4>
                    <div class="label label-success">Chairperson</div>
                    {% if member.party %}
                      <span class="label label-warning">{{ member.party.name }}</span>
                    {% endif %}
                  </li>
                  <hr>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled list-spaced">
              {% for membership in committee.memberships[0:break] %}
                {% set member = membership.member %}
                {% if not membership.type or membership.type != 'chairperson'%}
                  <li class="clearfix">
                    {%- if member.profile_pic_url %}
                      <a href="/member/{{ member.id }}"><img class="member-profile-pic" src="{{ member.profile_pic_url }}" alt="Profile picture: {{ member.name }}" ></a>
                    {% else %}
                      <p class="text-muted">No image available</p>
                    {% endif %}
                    <h4><a href="/member/{{ member.id }}">{{ member.name }}</a></h4>
                    {% if member.party %}
                      <span class="label label-warning">{{ member.party.name }}</span>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled list-spaced">
              {% for membership in committee.memberships[break::] %}
                {% set member = membership.member %}
                {% if not membership.type or membership.type != 'chairperson'%}
                  <li class="clearfix">
                    <a href="/member/{{ member.id }}"><img class="member-profile-pic" src="{{ member.profile_pic_url }}" alt="Profile picture: {{ member.name }}" ></a>
                    <h4><a href="/member/{{ member.id }}">{{ member.name }}</a></h4>
                    {% if member.party %}
                      <span class="label label-warning">{{ member.party.name }}</span>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <p class="lead">We don't have membership info for this committee.</p>
      {% endif %}

      {% if committee.contact_details %}
        <h3><span class="fa fa-envelope"></span> Contact</h3>
        {{ committee.contact_details|safe }}
      {% endif %}

    </div>  <!-- /Members -->



  </div>

{% endblock %}

