{% extends "base.html" %}
{% from 'macros/attachments.html' import audio_attachments, related_attachments %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if event.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=event.committee.id) }}">{{ event.committee.name }}</a></li>
  <li>Committee Meetings</li>
  {% else %}
  <li><a href="{{ url_for('committee_meetings') }}">Committee Meetings</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
  <h1><i class="fa fa-comment"></i> {{ event.title }}</h1>

  {% if event.premium_content_excluded %}
    <p class="lead">
    Access to this committee meeting report and those for the committees below is restricted. All other committees are freely accessible.
    </p>

    <p>The following users are exempt from a subscription fee. Please log in using an email address that identifies your affiliation to one of these:</p>

    <ul>
      <li>Non-government and community-based organisations</li>
      <li>Public education institutions</li>
    </ul>

    <p>Email <a href="mailto:info@pmg.org.za">info@pmg.org.za</a> if you cannot get in and you belong to one of the above.</p>

    <p>Business, government and other users need to subscribe to access meeting reports of these 15 National Assembly committees. <a href="{{ url_for('committee_subscriptions')}} ">Find out more about subscribing</a>.</p>

    {% include '_premium_committees.html' %}

  {% else %}

    <div class="row">
      <div class="col-sm-8 justify-p">

        <h3>
          Committee:
          {% if event.committee %}
            <a href="{{ url_for('committee_detail', committee_id=event.committee.id) }}">{{ event.committee.name }}</a></h3>
          {% else %}
            (unknown)
          {% endif %}
        </h3>

        {% if event.chairperson %}
          <h3>Chairperson: {{ event.chairperson }}</h3>
        {% endif %}

        <h3>
          Date of Meeting:
          {% if event.date %}
            {{ event.date | pretty_date }}
          {% else %}
            (unknown)
          {% endif %}
        </h3>

        <h2>Summary</h2>
        {% if report and report.summary %}
          {{ report.summary | safe }}
        {% else %}
          <p><em>No summary available for this committee meeting.</em></p>
        {% endif %}
        <hr>

        {% if report and report.body %}
          <h2>Minutes</h2>
          {{ report.body | safe }}
        {% endif %}
        <hr>
      </div>

      <div class="col-sm-4">
        {{ audio_attachments(audio) }}
        {{ related_attachments(related_docs) }}

        {% if event.bills %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Bills</h4>
            </div>
            <div class="panel-body">
              <ul class="fa-ul">
                {% for item in event.bills %}
                <li>
                  <i class="fa fa-li fa-file-text-o"></i>
                  <a href="{{ url_for('bill', bill_id=item.id) }}">{{ item.code }} - {{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>

    </div>

  {% endif %}

{% include "_correct_this_page.html" %}
{% endblock %}

