{% extends "base.html" %}

{% block page %}
<h3 class="red"><span class="fa fa-comment"></span> Committee meeting</h3>

<div class="row">
  <div class="col-sm-8 justify-p">
    <h1>{{ event.title }}</h1>

    <h3>
      Committee:
      {% if event.committee %}
      <a href="{{ url_for('committee_detail', committee_id=event.committee.id) }}">{{ event.committee.name }}</a></h3>
    {% else %}
    (unknown)
    {% endif %}
    </h3>

    <h3>
      Date of Meeting:
      {% if event.date %}
      {{ event.date | pretty_date }}
      {% else %}
      (unknown)
      {% endif %}
    </h3>

    <h2>Summary</h2>
    {% if report and report.summary %}
    {{ report.summary | safe }}
    {% else %}
    <p><em>No summary available for this committee meeting.</em></p>
    {% endif %}
    <hr>

    <h2>Minutes</h2>
    {% if report and report.body %}
    {{ report.body | safe }}
    {% else %}
    <p><em>No minutes available for this committee meeting.</em></p>
    {% endif %}
    <hr>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Audio</h4>
      </div>
      <div class="panel-body">
        {% if audio %}
        <ul class="list-unstyled">
          {% for item in audio %}
          <li><a href="{{ STATIC_HOST }}{{ item.file_path }}" target="_blank"><span class="fa fa-headphones"></span> {{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="lead text-muted">No audio content</p>
        {% endif %}
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Documents</h4>
      </div>
      <div class="panel-body">
        {% if related_docs %}
        <ul class="list-unstyled">
          {% for item in related_docs %}
          <li><a href="{{ STATIC_HOST }}{{ item.file_path }}" target="_blank"><span class="fa fa-file"></span> {{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="lead text-muted">No related documents</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}

