{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('daily_schedules') }}">Daily Schedules</a></li>
</ol>
{% endblock %}

{% block page %}
<h1>
  <i class="fa fa-calendar"></i> {{ daily_schedule.title }}
  {% if daily_schedule.start_date %}
  for {{ daily_schedule.start_date }}
  {% endif %}
</h1>

  
<div class="row">
  <div class="col-md-6">
    {% if daily_schedule.body %}
    {{ daily_schedule.body|safe }}
    {% endif %}
  </div>
  <div class="col-md-6">
    {% for file in daily_schedule.files %}
    
    
    {% if file.description %}
    <a href="{{file.url}}"><i class="fa fa-pdf"></i> {{ file.description }}</a>
    {% else %}
    <a href="{{file.url}}"><i class="fa fa-pdf"></i> {{ file.origname }}</a>
    {% endif %}
    
    {% endfor %}
  </div>
</div>


{% endblock %}
