{% extends "base.html" %}

{% block page %}
<h4 class="light-red">Gazette</h4>
<h1>{{ gazette.title }}</h1>
{% if gazette.end_date %}
<h4>Comment expires on {{ gazette.end_date }}</h4>
{% endif %}
{% if gazette.start_date %}
<h4>{{ gazette.start_date }}</h4>
{% endif %}
{% if gazette.effective_date %}
<h4>Effective Date: {{ gazette.effective_date }}</h4>
{% endif %}
  
{% if gazette.files %}
<ul class="fa-ul">
  {% for file in gazette.files %}
  <li>
    {% if file.url %}
    <a href="{{file.url|file}}"><i class="fa-li fa fa-file"></i> {{ file.description if file.description else file.origname }}</a>
    {% else %}
    <i class="fa-li fa fa-file"></i> {{ file.description if file.description else file.origname }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
