<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Parliamentary Monitoring Group | South Africa{% endblock %}</title>
	<link rel="icon" type="image/png" href="/static/resources/images/favicon.png" />
	{% block head %}{% endblock %}

	{% block stylesheets %}
	{% assets "css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	{% endblock %}
	{% block style %}{% endblock %}

	{% block head_meta %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		{% block content %}
		{% endblock content %}
	</div>

	{% block javascript %}
	{% assets "js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% endblock %}
	</div>
</body>
</html>
