{% extends "base.html" %}

{% block style %}
<style>
  .member-profile-pic{
    max-width: 50px;
    max-height: 75px;
  }

  .member-profile-pic.chairperson{
    max-width: 100px;
    max-height: 150px;
  }
</style>
{% endblock %}

{% block page %}
<h4 class="light-red">Parliamentary member</h4>
<h1>{{ member.name }}</h1>

<div class="row">
  <div class="col-md-1">
    <img src="{{ member.profile_pic_url }}" alt="{{ member.name }}">
  </div>
  <div class="col-md-4">
    {{ member.bio|safe }}  
  </div>
</div>

{% endblock %}

