{% extends "base.html" %}
{% from 'macros/attachments.html' import attachments_panel %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('policy_documents') }}">Policy Documents</a></li>
</ol>
{% endblock %}

{% block page %}
<h1><i class="fa fa-file-text-o"></i> {{ policy_document.title }}</h1>

{% if policy_document.end_date %}
<h4>Comment expires on {{ policy_document.end_date }}</h4>
{% endif %}

{% if policy_document.start_date %}
<h4>{{ policy_document.start_date }}</h4>
{% endif %}
{% if policy_document.effective_date %}
<h2>Effective Date: {{ policy_document.effective_date }}</h2>
{% endif %}
  
<div class="row">
  <div class="col-sm-6">
    {{ attachments_panel("Documents", policy_document.files, 'fa-file-pdf-o') }}
  </div>
</div>

{% endblock %}
