{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if question_reply.committee %}
  <li><a href="{{ url_for('committees') }}">Committees</a></li>
  <li><a href="{{ url_for('committee_detail', committee_id=question_reply.committee.id) }}">{{ question_reply.committee.name }}</a></li>
  <li>Questions and Replies</li>
  {% else %}
  <li><a href="{{ url_for('question_replies') }}">Questions and Replies</a></li>
  {% endif %}
</ol>
{% endblock %}

{% block page %}
	<h1><i class="fa fa-question-circle"></i> Question &amp; Reply: {{ question_reply.title }}</h1>

	{% if question_reply.committee %}
	<h4><a href="/committee/{{question_reply.committee.id}}">{{ question_reply.committee.name }}</a></h4>
	{% endif %}

	<h5>{{ question_reply.start_date }}</h5>
	{{ question_reply.body|safe }}
{% endblock %}
