{% extends 'admin/master.html' %}

{% block body %}
	{{ super() }}

	{% from "security/macros.html" import render_field_with_errors, render_field %}

	<h1>Send an email alert: {{ form.template.name }}</h1>

	<form class="form-horizontal" action="{{ url_for('alerts.new') }}" method="POST" id="new_alert_form" data-confirm="Lots of people will read this email. Have you checked the details?">
		{{ form.hidden_tag() }}

		<fieldset>
			<legend>Email content</legend>
			{{ render_field_with_errors(form.from_line) }}
			{{ render_field_with_errors(form.subject) }}
			{{ render_field_with_errors(form.body) }}

		<fieldset>
			<legend>Recipients</legend>
		</fieldset>

		<hr>

		<div class="text-center">
			<button type="button" class="btn btn-success preview">Preview &amp; Send email</button>
		</div>
	</form>


	<!-- Preview modal -->
	<div class="modal fade" id="previewModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Preview and send your email alert</h4>
				</div>
				<div class="modal-body">
					<div class="preview-area"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Make some changes</button>
					<button type="button" class="btn btn-success send">Send it!</button>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}

{% block tail %}
	{{ super() }}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
	<script src="/static/javascript/email_alerts.js"></script>
{% endblock %}
