<div class="sidebar">
    <div class="sidebar-items sidebar-articles">
        <h3>Articles</h3>
        <ul>
            <li><a href="/6th-parliament-review/articles/ben-cronin"><span>Ben Cronin</span><br/>The Sixth Parliament and the Budget Process: Lessons for the Seventh Parliament</a></li>
            <li><a href="/6th-parliament-review/articles/pam-saxby"><span>Pam Saxby</span><br/>Post-pandemic: live-streaming Committee meetings</a></li>
            <li><a href="/6th-parliament-review/articles/michael-atkins"><span>Michael Atkins</span><br/>Looking ahead at the Electoral Reform Consultation Panel process ahead of the Seventh Parliament</a></li>
            <li><a href="/6th-parliament-review/articles/martin-nicol"><span>Martin Nicol</span><br/>The committee system and the need for reform</a></li>
            <li><a href="/6th-parliament-review/articles/devi-pillay"><span>Devi Pillay</span><br/>Parliamentary oversight: Reflections on the Sixth Parliament & Lessons for the Seventh Parliament</a></li>
            <li><a href="/6th-parliament-review/articles/judith-february"><span>Judith February</span><br/>Reflections on the state of Democracy and Parliament</a></li>
            <li><a href="/6th-parliament-review/articles/kevin-deveaux"><span>Kevin Deaveaux</span><br/>Parliamentary Autonomy in South Africa – Lessons from Select Countries</a></li>
            <li><a href="/6th-parliament-review/articles/hugh-cordor"><span>Hugh Cordor</span><br/>PMG Review of the Term of the Sixth Democratic Parliament</a></li>
            <li><a href="/6th-parliament-review/articles/hugh-cordor"><span>Fazela Mohamed</span><br/>Legacy Report on the Code of Conduct for Members of Parliament</a></li>
            
            
            
            
        </ul>
    </div>
    <div class="sidebar-items sidebar-interviews">
        <h3>Interviews</h3>
        <ul>
            <li><a href="/6th-parliament-review/interviews/brett-herron"><span>GOOD:</span> Brett Herron</a></li>
            <li><a href="/6th-parliament-review/interviews/ganief-hendricks"><span>Al Jama-ah:</span> Ganief Hendricks</a></li>
            <li><a href="/6th-parliament-review/interviews/jane-mananiso"><span>ANC:</span> Jane Mananiso</a></li>
            <li><a href="/6th-parliament-review/interviews/marie-sukers"><span>ACDP:</span> Marie Sukers</a></li>
            <li><a href="/6th-parliament-review/interviews/seiso-mohai"><span>ANC:</span> Seiso Mohai</a></li>
            <li><a href="/6th-parliament-review/interviews/sheif-emam"><span>NFP:</span> Sheik Emam</a></li>
            <li><a href="/6th-parliament-review/interviews/vuyo-zungula"><span>ATM:</span> Vuyo Zungula</a></li>
            <li><a href="/6th-parliament-review/interviews/wynand-boshoff"><span>FF+:</span> Wynand Boshoff</a></li>
            <li><a href="/6th-parliament-review/interviews/tamarin-breedt"><span>FF+:</span> Tamarin Breedt</a></li>
            <li><a href="/6th-parliament-review/interviews/siviwe-gwarube"><span>DA:</span> Siviwe Gwarube</a></li>
            <li><a href="/6th-parliament-review/interviews/masibulele-xaso"><span>National Assembly:</span> Masibulele Xaso</a></li>

        </ul>
    </div>
    <div class="sidebar-items sidebar-statistics">
        <h3>Statistics</h3>
        <ul>
            <li><a href="/6th-parliament-review/statistics/written-questions"><span>Written Questions</span></a></li>
            <li><a href="/6th-parliament-review/statistics/plenary-sessions"><span>Plenary Sessions</a></li>
            <li><a href="/6th-parliament-review/statistics/turnover"><span>MP Turnover</span></a></li>
            <!-- <li><a href="/6th-parliament-review/statistics/committee-activities"><span>Committees:</span> Activities</a></li>
            <li><a href="/6th-parliament-review/statistics/bills"><span>Bills:</span> ---</a></li>
            <li><a href="/6th-parliament-review/statistics/attendance"><span>Attendance:</span> ---</a></li> -->
        </ul>
    </div>


</div>