{% extends "base.html" %}

{% block title %}6th Parliament Review | PMG{% endblock %}

{% block page %}
<link rel="stylesheet" href="/static/resources/css/pr6.css">


<div class="pr6-section">

    <div class="header">
        <div class="header-container">
            <div class="header-content">
                <img class="pr6-title" src="/static/resources/images/pr6/title.png" alt="6th Parliament Review Logo"/>
            </div>
        </div>    
    </div>

    <div class="container">
        <div class="pr6-page-container">
            
            <article class="full-article">

                <div class="pr6-design-element pr6-design-element2">
                    <img src="/static/resources/images/pr6/pr6-design2.png" />
                </div>

                <h1>{{ post.title | safe }}</h1>
                
                {{ post.body | safe }}


            </article>

            <!-- ARTICLE -->

            <h2 class="pr6-section-title">ARTICLES</h2>

            <section class="pr6-articles">
                <div class="pr6-row">
                    <div class="col-4">
                        <article>
                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
                            <span class="article-meta">By Author Name</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum magna a purus ultricies varius.</p>
                        </article>
                    </div>
                    <div class="col-4">
                        <article>
                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
                            <span class="article-meta">By Author Name</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum magna a purus ultricies varius.</p>
                        </article>
                    </div>
                    <div class="col-4">
                        <article>
                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
                            <span class="article-meta">By Author Name</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum magna a purus ultricies varius.</p>
                        </article>
                    </div>
                </div>
            </section>

            
        </div>


        

    </div>







</div>




{% endblock %}
