{% extends "base.html" %}

{% block title %}6th Parliament Review | PMG{% endblock %}

{% block page %}

<link rel="stylesheet" href="/static/resources/css/pr6.css">


<div class="pr6-section">

    <div class="header">
        <div class="header-container">
            <div class="header-content">
                <img class="pr6-title" src="/static/resources/images/pr6/title.png" alt="6th Parliament Review Logo" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pr6-page-container">
            <div class="pr6-row pr6-intro">
                <div class="col-8">
                    <h2>A comprehensive overview with commentary, data and interviews</h2>
                    <p>This review includes perspectives, analysis and data on the functioning of Parliament alongside interviews with lawmakers. The result is
                        a varied, instructive and forward-looking review of the 6<sup>th</sup> parliament with suggestions on how it can be strengthened.</p>

                    <p>Parliament is a vital institution. We hope this will contribute to the broader debate about its
                            role, stature and the impact it should have on all South Africans.</p>

                    <p class="smaller">PMG is non-partisan. The opinions expressed by our contributors are their own and do not
                        necessarily reflect the view of PMG. Every effort was made to get input from across the spectrum. While many responded to the
                        invitation, not everyone took up the opportunity.</p>

                        
                    <div class="hr"></div>
                </div>
                <div class="col-4 text-right hide-sm">
                    <img src="/static/resources/images/pr6/pr6-design1.png" />
                </div>
            </div>


            <!-- ARTICLE -->

            <h2 class="pr6-section-title">ARTICLES</h2>



            <section class="pr6-articles">
                <div class="pr6-row">

                    

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/overview">
                                <h3>A reflection on the sixth parliament</h3>
                                <div class="article-meta">By PMG</div>
                                <div class="article-intro">South African Parliament's sixth term saw historical milestones, controversies, and calls for reforms to restore public trust in the legislature.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/michael-atkins">
                                <h3>Looking Ahead at the Electoral Reform Consultation Panel Process</h3>
                                <div class="article-meta">By Michael Atkins</div>
                                <div class="article-intro">The Electoral Act of 1998 continued the pure proportional
                                    representation system of government at the national and provincial levels in South
                                    Africa, as was used in the inaugural democratic elections in 1994.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/judith-february">
                                <h3>Reflections on the state of Democracy and Parliament</h3>
                                <div class="article-meta">By Judith February</div>
                                <div class="article-intro">South Africa's Sixth Parliament had accountability highs and
                                    lows, failing at effective oversight.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/hugh-corder">
                                <h3>Revising present arrangements to strengthen oversight</h3>
                                <div class="article-meta">By Hugh Corder</div>
                                <div class="article-intro">The constitutional obligation of Parliament to hold the
                                    executive accountable through oversight mechanisms, as recommended by the Corder
                                    Report and Zondo Commission.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/ben-cronin">
                                <h3>The Sixth Parliament and the Budget Process: Lessons for the Seventh Parliament</h3>
                                <div class="article-meta">By Ben Cronin</div>
                                <div class="article-intro">Parliament's budget process faces challenges, including
                                    public participation, fiscal framework ambiguity, capacity constraints, and
                                    constitutional obligations.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/kevin-deveaux">
                                <h3>Parliamentary Autonomy in South Africa – Lessons from Select Countries</h3>
                                <div class="article-meta">By Kevin Deveaux</div>
                                <div class="article-intro">Parliamentary autonomy critical for effective oversight,
                                    facing challenges in South Africa.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/fazela-mohamed">
                                <h3>Legacy Report on the Code of Conduct for Members of Parliament.
                                </h3>
                                <div class="article-meta">By Fazela Mohamed</div>
                                <div class="article-intro">South Africa's Code of Conduct for MPs is reviewed with
                                    recommendations to strengthen ethical governance through a values-based approach.
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/martin-nicol">
                                <h3>The committee system and the need for reform</h3>
                                <div class="article-meta">By Martin Nicol</div>
                                <div class="article-intro">Parliamentary committee system reforms needed to improve
                                    oversight, accountability after state capture revelations.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/devi-pillay">
                                <h3>Parliamentary oversight: Reflections on the Sixth Parliament & Lessons for the
                                    Seventh Parliament</h3>
                                <div class="article-meta">By Devi Pillay</div>
                                <div class="article-intro">Enhancing parliamentary oversight: Lessons from the Sixth
                                    Parliament for strengthening accountability.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/pam-saxby">
                                <h3>Post-pandemic: live-streaming Committee meetings</h3>
                                <div class="article-meta">By Pam Saxby</div>
                                <div class="article-intro">Post-pandemic, Parliament should consistently livestream and
                                    upload committee meetings, ensuring public access to proceedings and documents.
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/legacy-reports">
                                <h3>Legacy Reports</h3>
                                <div class="article-meta">By PMG</div>
                                <div class="article-intro">South African Parliament revises rules, frameworks to enhance public engagement, ethical conduct, oversight mechanisms for the upcoming 7th Parliament term.
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/state-capture">
                                <h3>State Capture</h3>
                                <div class="article-meta">By PMG</div>
                                <div class="article-intro">Parliament's progress on implementing recommendations from the State Capture Commission on oversight reform.</div>
                            </a>
                        </article>
                    </div>

                    

                    

                   

                    

                    

                    

                </div>
            </section>



            <!-- INTERVIEWS -->

            <h2 class="pr6-section-title">INTERVIEWS</h2>

            <section class="pr6-interviews">
                <div class="pr6-row">

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/masibulele-xaso">
                                <img src="/static/resources/images/pr6/interviews/Xaso.jpg" />
                                <div>
                                    <h3>Masibulele Xaso</h3>
                                    <div class="article-intro"><strong>National Assembly</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/brett-herron">
                                <img src="/static/resources/images/pr6/interviews/brett-herron.jpg" />
                                <div>
                                    <h3>Brett Herron</h3>
                                    <div class="article-intro"><strong>GOOD</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/ganief-hendricks">
                                <img src="/static/resources/images/pr6/interviews/hendricks.jpg" />
                                <div>
                                    <h3>Ganief Hendricks</h3>
                                    <div class="article-intro"><strong>Al Jama-ah</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/jane-mananiso">
                                <img src="/static/resources/images/pr6/interviews/mananiso.jpg" />
                                <div>
                                    <h3>Jane Mananiso</h3>
                                    <div class="article-intro"><strong>ANC</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>
                    

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/seiso-mohai">
                                <img src="/static/resources/images/pr6/interviews/mohai.jpg" />
                                <div>
                                    <h3>Seiso Mohai</h3>
                                    <div class="article-intro"><strong>ANC</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/marie-sukers">
                                <img src="/static/resources/images/pr6/interviews/sukers.jpg" />
                                <div>
                                    <h3>Marie Sukers</h3>
                                    <div class="article-intro"><strong>ACDP</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/shaik-emam">
                                <img src="/static/resources/images/pr6/interviews/emam.jpg" />
                                <div>
                                    <h3>Shaik-Emam</h3>
                                    <div class="article-intro"><strong>NFP</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/vuyo-zungula">
                                <img src="/static/resources/images/pr6/interviews/zungula.jpg" />
                                <div>
                                    <h3>Vuyo Zungula</h3>
                                    <div class="article-intro"><strong>ATM</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/wynand-boshoff">
                                <img src="/static/resources/images/pr6/interviews/boshoff.jpg" />
                                <div>
                                    <h3>Wynand Boshoff</h3>
                                    <div class="article-intro"><strong>FF+</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/tamarin-breedt">
                                <img src="/static/resources/images/pr6/interviews/breedt.jpg" />
                                <div>
                                    <h3>Tamarin Breedt</h3>
                                    <div class="article-intro"><strong>FF+</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/siviwe-gwarube">
                                <img src="/static/resources/images/pr6/interviews/gwarube.jpg" />
                                <div>
                                    <h3>Siviwe Gwarube</h3>
                                    <div class="article-intro"><strong>DA</strong></div>
                                </div>
                            </a>
                        </article>
                    </div>

                   

                </div>
            </section>


            <!-- STATISTICS -->

            <h2 class="pr6-section-title">STATISTICS</h2>



            <section class="pr6-statistics">
                <div class="pr6-row">
                    


                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/written-questions">
                                <h3>Written Questions</h3>
                                <div class="article-intro"><strong>A breakdown of questions and responses</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/plenary-sessions">
                                <h3>Plenary Sessions</h3>
                                <div class="article-intro"><strong>Plenary session activities</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/turnover">
                                <h3>MP Turnover</h3>
                                <div class="article-intro"><strong>Turnover of members of parliament</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/committee-activities">
                                <h3>Committee Activities</h3>
                                <div class="article-intro"><strong>Key areas of committee activities</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/legislation">
                                <h3>Legislation</h3>
                                <div class="article-intro"><strong>Bills of the 6th parliament</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/attendance">
                                <h3>Attendance</h3>
                                <div class="article-intro"><strong>Committee attendance</strong></div>
                            </a>
                        </article>
                    </div>


                </div>
            </section>

            <!-- GALLERY -->

            <h2 class="pr6-section-title">GALLERY</h2>

            {%include 'pr6/_gallery.html'%}

            <section class="special-thanks">
                <h3>Special thanks to</h3>
                <p>PMG Staff and Board, PMG Monitors and Editors, Writers, Interviewees, OpenUp andFunders</p>
                <div class="logos">
                    <a href="https://www.leonfoundation.co.za/" target="_blank"><img src="/static/resources/images/pr6/logos/claude-leon.png"/></a>
                    <a href="https://european-union.europa.eu/index_en" target="_blank"><img src="/static/resources/images/pr6/logos/eu.png"/></a>
                    <a href="https://globalhumanrights.org/what-we-do/legal-empowerment/" target="_blank"><img src="/static/resources/images/pr6/logos/legal-empowerment-fund.png"/></a>
                    <a href="https://www.mtrust.co.za/" target="_blank"><img src="/static/resources/images/pr6/logos/millenium-trust.png"/></a>
                    <a href="https://www.openup.org.za" target="_blank"><img src="/static/resources/images/pr6/logos/openup.png"/></a>
                </div>
            </section>

        </div>




    </div>







</div>




{% endblock %}