{% extends "base.html" %}

{% block title %}6th Parliament Review | PMG{% endblock %}

{% block page %}

<link rel="stylesheet" href="/static/resources/css/pr6.css">


<div class="pr6-section">

    <div class="header">
        <div class="header-container">
            <div class="header-content">
                <img class="pr6-title" src="/static/resources/images/pr6/title.png" alt="6th Parliament Review Logo" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pr6-page-container">
            <div class="pr6-row pr6-intro">
                <div class="col-7">
                    <h2>A comprehensive overview with commentary, data and interviews</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum magna a purus ultricies
                        varius. Suspendisse iaculis, augue sit amet bibendum pretium, nibh arcu gravida ligula, eget
                        accumsan nisl est sit amet augue.</p>
                    <div class="hr"></div>
                </div>
                <div class="col-5 text-right hide-sm">
                    <img src="/static/resources/images/pr6/pr6-design1.png" />
                </div>
            </div>


            <!-- ARTICLE -->

            <h2 class="pr6-section-title">ARTICLES</h2>



            <section class="pr6-articles">
                <div class="pr6-row">

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/ben-cronin">
                                <h3>The Sixth Parliament and the Budget Process: Lessons for the Seventh Parliament</h3>
                                <div class="article-meta">By Ben Cronin</div>
                                <div class="article-intro">Parliament's budget process faces challenges, including public participation, fiscal framework ambiguity, capacity constraints, and constitutional obligations.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/pam-saxby">
                                <h3>Post-pandemic: live-streaming Committee meetings</h3>
                                <div class="article-meta">By Pam Saxby</div>
                                <div class="article-intro">Post-pandemic, Parliament should consistently livestream and upload committee meetings, ensuring public access to proceedings and documents.</div>
                            </a>    
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/michael-atkins">
                                <h3>Looking ahead at the Electoral Reform Consultation Panel process ahead of the Seventh Parliament</h3>
                                <div class="article-meta">By Michael Atkins</div>
                                <div class="article-intro">The Electoral Act of 1998 continued the pure proportional representation system of government at the national and provincial levels in South Africa, as was used in the inaugural democratic elections in 1994.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/martin-nicol">
                                <h3>The committee system and the need for reform</h3>
                                <div class="article-meta">By Martin Nicol</div>
                                <div class="article-intro">Parliamentary committee system reforms needed to improve oversight, accountability after state capture revelations.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/devi-pillay">
                                <h3>Parliamentary oversight: Reflections on the Sixth Parliament & Lessons for the Seventh Parliament</h3>
                                <div class="article-meta">By Devi Pillay</div>
                                <div class="article-intro">Enhancing parliamentary oversight: Lessons from the Sixth Parliament for strengthening accountability.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/kevin-deveaux">
                                <h3>Parliamentary Autonomy in South Africa – Lessons from Select Countries</h3>
                                <div class="article-meta">By Kevin deveaux</div>
                                <div class="article-intro">Parliamentary autonomy critical for effective oversight, facing challenges in South Africa.</div>
                            </a>        
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/kevin-deveaux">
                                <h3>Reflections on the state of Democracy and Parliament</h3>
                                <div class="article-meta">By Judith February</div>
                                <div class="article-intro">South Africa's Sixth Parliament had accountability highs and lows, failing at effective oversight.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/hugh-cordor">
                                <h3>PMG Review of the Term of the Sixth Democratic Parliament</h3>
                                <div class="article-meta">By Hugh Cordor</div>
                                <div class="article-intro">The constitutional obligation of Parliament to hold the executive accountable through oversight mechanisms, as recommended by the Corder Report and Zondo Commission.</div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/articles/fazela-mohamed">
                                <h3>Legacy Report on the Code of Conduct for Members of Parliament.
                                </h3>
                                <div class="article-meta">By Fazela Mohamed</div>
                                <div class="article-intro">South Africa's Code of Conduct for MPs is reviewed with recommendations to strengthen ethical governance through a values-based approach.</div>
                            </a>
                        </article>
                    </div>

                </div>
            </section>



            <!-- INTERVIEWS -->

            <h2 class="pr6-section-title">INTERVIEWS</h2>

            <section class="pr6-interviews">
                <div class="pr6-row">
                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/brett-herron">
                                <img src="/static/resources/images/pr6/interviews/brett-herron.jpg" />
                                <h3>Brett Herron</h3>
                                <div class="article-intro"><strong>GOOD</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/ganief-hendricks">
                                <img src="/static/resources/images/pr6/interviews/hendricks.jpg" />
                                <h3>Ganief Hendricks</h3>
                                <div class="article-intro"><strong>Al Jama-ah</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/jane-mananiso">
                                <img src="/static/resources/images/pr6/interviews/mananiso.jpg" />
                                <h3>Jane Mananiso</h3>
                                <div class="article-intro"><strong>ANC</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/marie-sukers">
                                <img src="/static/resources/images/pr6/interviews/sukers.jpg" />
                                <h3>Marie Sukers</h3>
                                <div class="article-intro"><strong>ACDP</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/seiso-mohai">
                                <img src="/static/resources/images/pr6/interviews/mohai.jpg" />
                                <h3>Seiso Mohai</h3>
                                <div class="article-intro"><strong>ANC</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/shaik-emam">
                                <img src="/static/resources/images/pr6/interviews/emam.jpg" />
                                <h3>Shaik-Emam</h3>
                                <div class="article-intro"><strong>NFP</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/vuyo-zungula">
                                <img src="/static/resources/images/pr6/interviews/zungula.jpg" />
                                <h3>Vuyo Zungula</h3>
                                <div class="article-intro"><strong>ATM</strong></div>
                            </a>
                        </article>
                    </div>
                    
                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/wynand-boshoff">
                                <img src="/static/resources/images/pr6/interviews/boshoff.jpg" />
                                <h3>Wynand Boshoff</h3>
                                <div class="article-intro"><strong>FF+</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/tamarin-breedt">
                                <img src="/static/resources/images/pr6/interviews/breedt.jpg" />
                                <h3>Tamarin Breedt</h3>
                                <div class="article-intro"><strong>FF+</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/siviwe-gwarube">
                                <img src="/static/resources/images/pr6/interviews/gwarube.jpg" />
                                <h3>Siviwe Gwarube</h3>
                                <div class="article-intro"><strong>FF+</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-3">
                        <article>
                            <a href="/6th-parliament-review/interviews/masibulele-xaso">
                                
                                <h3>Masibulele Xaso</h3>
                                <div class="article-intro"><strong>National Assembly</strong></div>
                            </a>
                        </article>
                    </div>

                </div>
            </section>


            <!-- STATISTICS -->

            <h2 class="pr6-section-title">STATISTICS</h2>



            <section class="pr6-statistics">
                <div class="pr6-row">
                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/written-questions">
                                <h3>Written Questions</h3>
                                <div class="article-intro"><strong>A breakdown of questions and responses</strong></div>
                            </a>
                        </article>
                    </div>

                    <div class="col-4">
                        <article>
                            <a href="/6th-parliament-review/statistics/plenary-sessions">
                                <h3>Plenary Sessions</h3>
                                <div class="article-intro"><strong>Plenary session activities</strong></div>
                            </a>
                        </article>
                    </div>
                    

                </div>
            </section>

            <section class="special-thanks">
                <div>Special thanks to: PMG Staff and Board, PMG Monitors and Editors, Writers, Interviewees, OpenUp and Funders</div>
            </section>

        </div>




    </div>







</div>




{% endblock %}